@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
$brand: #1798EE;
$border: #e5e5e5;
$text: #231F20;
$text-des: #6E7A8A;
$bg: #F3F4F2;


body {
	color: $text;
	font-size: 15px;
	background-color: #F8F8FB;
	font-family: 'Inter', sans-serif;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: $text;
	outline: none;

	&:hover {
		color: $brand;
		text-decoration: none;
	}
}

html {
	scroll-behavior: smooth;
}

img {
	max-width: 100%;
}

button {
	outline: none;
}

h1 {
	font-size: 52px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
	line-height: 24px;
}

b,
span,
label {
	font-size: 13px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-70 {
	margin-bottom: 70px;
}

.m10 {
	margin: 10px;
}

.m15 {
	margin: 15px;
}

.m20 {
	margin: 20px;
}

.m25 {
	margin: 25px;
}

.m30 {
	margin: 30px;
}

.m35 {
	margin: 35px;
}

.m40 {
	margin: 40px;
}

.m45 {
	margin: 45px;
}

.m50 {
	margin: 50px;
}

.m55 {
	margin: 55px;
}

.m60 {
	margin: 60px;
}

.m65 {
	margin: 65px;
}

.m70 {
	margin: 70px;
}

.ml-0 {
	margin-left: 0;
}

.mr-0 {
	margin-right: 0;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.p25 {
	padding: 25px;
}

.p30 {
	padding: 30px;
}

.p35 {
	padding: 35px;
}

.p40 {
	padding: 40px;
}

.p45 {
	padding: 45px;
}

.p50 {
	padding: 50px;
}

.p55 {
	padding: 55px;
}

.p60 {
	padding: 60px;
}

.p65 {
	padding: 65px;
}

.p70 {
	padding: 70px;
}

.pb-30 {
	padding-bottom: 30px;
}

.pb-60 {
	padding-bottom: 60px;
}

.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}

.pt-0 {
	padding-top: 0;
}

.pb-0 {
	padding-bottom: 0;
}

.custom-select {
	&.disabled {
		pointer-events: none;
		background: #FAFBFB;

		.select-selected {
			color: #9f9f9f;
		}
	}
}

input:disabled,
button:disabled {
	background-color: #FAFBFB;
	color: #9f9f9f;
}

section {
	padding: 50px 0;
	display: inline-block;
	width: 100%;
	overflow: hidden;

	&.bg-gray {
		background: $bg;
	}
}

.selected {

	color: #333 !important;
}

.container {
	max-width: 1400px;
}

.center {
	text-align: center;
}

.flexs-center{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
/*-------------------------- button ------------------------------*/


.btn-action {
	a {
		padding: 8px 12px 10px 12px;
		border-radius: 4px;
		color: white;
		display: inline-block;
		background: $brand;
		border: 1px solid $brand;
		font-size: 14px;
		font-weight: 500;
		height: 35px;
		text-align: center;
		transition: all .3s ease-in-out;
		font-weight: 500;

		i {
			&::before {
				font-size: 13px;
				margin-right: 5px;
				font-weight: 700;
			}
		}

		&:hover {

			display: inline-block;
			opacity: 0.9;
			transition: all .3s ease-in-out;

		}
	}
}

.btn-disable {
	a {
		background-color: #D9D9D9;
		border: 0;
	}
}

/*-------------------------- HEADER ------------------------------*/


.header-top {
	display: flex;
    align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	padding:10px;
	background-color: $brand;
	height: 50px;
	z-index: 3;
	.search-box{
		display: inline-block;
		width: 290px;
		position: relative;
		margin-left: 30px;
		i {
			position: absolute;
			top: 9px;
			left: 10px;
			font-size: 15px;
			color: $text-des;
		}
		input {
			width: 100%;
			border: 0;
			background: #FFFFFF;
			border-radius: 20px;			
			padding: 0 10px;
			font-size: 14px;
			height: 32px;
			outline: none;
			padding-left: 30px;
			color: $text-des;
		}
		.close-search{
			display: none;
		}
	}
	.logo {
		display: inline-block;
		img{
			max-width: 150px;
		}
	}

}

.logo {
	max-width: 100%;
}
/* ------------------------ Menu ------------------------------------- */
.menu{
	margin-top: 5px;
	ul{
		margin: 0;
		display: inline-block;
		padding-left: 0;
		li{
			list-style: none;
			float: left;
			margin: 0 15px;
			a{
				color: white;
				text-transform: uppercase;
				font-weight: 600;
				padding-bottom: 14px;

			}
			&.active{
				a{
					border-bottom: 3px solid #fff;
				}
			}
		}
	}
}
/*-------------------------- Main CONTENT  ------------------------------*/
.box-for-camera{
	display: inline-block;
    width: 100%;
	iframe{
		width: 100%;
		height: 250px;
	}
}
.logo-home{
	text-align: center;
}

.search-home{
	width: 380px;
    position: relative;
    margin-left: 20px;
	input{
		border: 0;
		background: #FFFFFF;
		border-radius: 2px;
		height: 35px;
		padding-left: 15px;
		color: #6E7A8A;
		&::placeholder{
			font-size: 15px;
			color: #B5B5B5;
		}
	}
	.btn-search-home{
		text-align: center;
		padding-top: 8px;
		color: white;
		font-weight: 700;
		position: absolute;
		right: 15px;
		i{
			color: #6E7A8A;
			font-size: 20px;
			font-weight: 700;
		}
		
	}
}
.main-content {
	height: 100%;
    position: fixed;
    width: 100%;
    padding-left: 635px;
    padding-top: 50px;
	.content-right {
		height: 100%;
		position: relative;
	}
	.content-left {
		position: fixed;
		z-index: 1;
		width: 635px;
		height: 100%;
		left: 0;
		background: #FFFFFF;
		box-shadow: 1px 20px 15px rgba(0, 0, 0, 0.06);
		padding-bottom: 70px !important;
	}
}

.box-filter {
    background: white;
    box-shadow: 8px 8px 16px 4px rgba(133, 139, 146, 0.06);
    position: fixed;
    z-index: 1;
    top: 50px;
    width: 100%;
	padding: 10px;
	.btn-filter{
		font-weight: 600;
		color: #313030;
		&:hover{
			color: inherit;
		}
		img{
			margin-right: 5px;
		}
	}
}

.custom-select{
	width: 125px !important;
	min-width: 125px;
	margin: 0 15px;
	.select-items{
		width: 200px;
		max-height: 285px;
    	overflow-y: scroll;
	}
}
/* ---------------------- Homepage -------------------- */
.grave{
	&:hover{
		.box-item{
			opacity: 1;
		}
	}
}
.bg-homepage{
	
	width: 1920px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	.bg{
		display: block;
		width: 100%;
		position: relative;
	}
}


.item-01{
	left: 50px;
    right: 0;
    margin: 0 auto;
    width: 100px;
	top: 380px;
	.point-grave{
		top: 350px !important;
	}
	.tooltip-grave{
		left: -82px !important;
		top: 265px !important
	}
}
.item-02{
	left: 30px;
    margin: 0 auto;
    top: 150px;
	right: 0;
	width: 100px;
	.tooltip-grave{
		top: -35px !important;
    	left: -82px !important;
	}
}
.item-03{
    left: 295px;
    bottom: 160px;
}
.item-05{
	left: 520px;
    top: 500px;
	.tooltip-grave{
		left: -52px !important;
	}
}
.item-06{
    right: 475px;
    top: 500px;
	.tooltip-grave{
		left: -52px !important; 
	}
}
.item-04{
	right: 238px;
    bottom: 160px;
}
.item-07{
	left: 430px;
    top: 300px;
}
.item-08{
	right: 378px;
    top: 295px;
}

.grave{
	position: absolute;
	.point-grave{
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;
		text-align: center;
		z-index: 9999;
		cursor: pointer;
		margin: 0 auto;
		z-index: 99;
	}
		cursor: pointer;
		.box-item{
			opacity: 1;
		}
		.tooltip-grave{
			display: block;
			background: #FFFFFF;
			border: 3px solid #1798EE;
			box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
			padding: 10px 15px;
			width: 255px;
			text-align: center;
			position: absolute;
			top: -35px;
			left: -10px;
			right: 0;
			margin: 0 auto;
			z-index: 999;
			p{
				margin-bottom: 0;
				a{
					font-size: 14px;
					text-transform: uppercase;
					color: $brand;
					font-weight: 700;
				}
			
			}
			&::after{
				content: '|';
				display: inline-block;
				color: #1798EE;
				position: absolute;
				bottom: -52px;
				font-size: 38px;
			}
		}
	
}
.homepage{
	.box-item{
		opacity: 0;
	}
}
/* ----------- Page-list-camera------------------- */
.page-list-camera{
	iframe{
		width: 100%;
		height: 80vh;
	}
	.ds-camera{
		padding: 15px 20px;
		.col-md-3 {
			-ms-flex: 0 0 20%;
			flex: 0 0 20%;
			max-width: 20%;
		}
	}
	.box-cam{
		background: #FFFFFF;
		box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.03);
		border-radius: 2px;
		margin: 10px 0 15px 0;
		p{
			font-weight: 600;
			text-align: center;
			margin-bottom: 0;
			padding: 10px;
		}
	}
	.main-content{
		padding-left: 0;
		.tab-content{
			padding-left: 250px;
			&.scrollbar{
				height: 94vh;
			}
			.tab-pane {
				overflow: hidden;
			}
		}
		.title-list-cam{
			font-weight: 600;
			text-transform: uppercase;
			margin: 8px 0;
		}
		.nav-tabs .nav-link {
			padding-left: 0;
		}
		.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
			border-color: transparent;
		}
		.flex-center-list{
			.nav{
				display: initial;
				background: #FFFFFF;
				box-shadow: 0px 7px 14px rgba(0, 0, 0, 0.03);
				border: 0;
				width: 100%;
				padding: 10px 30px 10px 20px;
				max-width: 250px;
				height: 100%;
				position: absolute;
				left: 0;
			}
			.nav-tabs .nav-item {
				margin: 10px 0;
			}
			.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
				color: #1898ee;
				background-color: #fff;
				border-color: none;
				border-bottom: 1px solid $brand !important;
				border: 0;
			}
		}
	}
}
/* ----------- Page-detail-grave------------------- */

.page-detail-grave{
	.grave{
		&.active{
			.tooltip-grave{
				display: block;
			}
			.box-item{
				opacity: 1;
			}
		}
		
		.box-item{
			opacity: 0;
		}
	}
	
	.box-grave{
		.info-grave {
			margin-bottom: 20px;
			
			.name-grave{
				
				h3{
					color: $brand;
					font-size: 32px;
					text-transform: uppercase;
					font-weight: 700;
					margin: 20px 0;
    				text-align: center;
				}
			}
			.description-grave{
				text-transform: initial;
				color: #474647;
				line-height: 18px;
				font-weight:normal;
			}

		}
	}
	.mo-ta{
		font-size: 15px;
		margin-bottom: 10px;
	}
		ul{
			padding-left: 10px;
			li{
				a{
					font-size: 15px;
					line-height: 24px;
				}
			}
		}
	
}

/*--------------------- Page list ----------------------*/
.page-list{
	.main-content{
		padding-left: 1300px;
		.content-left{
			width: 1300px;
		}
	}

	.table-system.scrollbar{
		overflow-y: scroll;
		height: 90vh;
	}
	.content-left{
		top: 105px;
		padding-left: 0;
	}
	.thumnaisl-avatar a {
		padding-top: 156%;
	}
}
/*--------------------- Page detail ----------------------*/
.box-view-more-img{
	background: #1798ee99;
	border-radius: 2px;
	color: white;
	position: absolute;
    width: 98%;
    top: 0;
    height: 100%;
	text-align: center;
	padding: 30px 40px;
	font-weight: 600;
	cursor: pointer;
}
.box-action{
    position: fixed;
    z-index: 999;
    left: 0;
}
.infor-grave-detail{
	padding: 15px 20px;
}
.btn-action-cam{
	display: inline-block;
	margin: 15px 0;
	width: 100%;
    text-align: center;
}
.btn-view-camera, .btn-view-camera-3d{
	margin: 10px;
	background: #FFFFFF;
	border: 1px solid #1798EE;
	border-radius: 2px;
	color: $brand;
	font-weight: 600;
	text-transform: uppercase;
	height: 45px;
    font-size: 14px;
    padding: 13px 20px;
	img{
		margin-right: 5px;
		height: 22px;
		width: 22px;
		border: 0;
	}
}
.btn-view-camera-3d{
	color: #00AF42;
	border: 1px solid #00AF42;
	&:hover{
		color: #00AF42;
	}
}
.title-detail-page{
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}
.page-detail-grave.page-detail {
	
	.grave{
		&.active{
			.point-grave{
				opacity: 1;
			}
		}
	}
	.main-content-detail {
		.bg-homepage{
			margin-right: -250px;
		}
		.content-left{
			width: 550px;
			position: fixed;
			z-index: 1;
			height: 100%;
			left: 0;
			background: #FFFFFF;
			padding: 15px;
			padding-bottom: 70px !important;
		    top: 50px;
		}
	}
}
.page-detail{
	&.detail-martyrs{
		.bg-homepage{
			a{
				pointer-events: none;
			}
		}
		
		.grave{
			&.active 
			{
				.tooltip-grave{
					opacity: 1;
				}
				.box-item{
					opacity: 0;
				}
			}
		}
		.tooltip-grave, .point-grave{
			opacity: 0;
		}
		.grave .point-grave{
			top: 57px;
		}
	}
	.main-content-detail{
		display: inline-block;
		width: 100%;
		overflow: hidden;
		
	}
	.name-ls{
		display: flex;
	}

	
	.list-img-ls .thumnaisl-avatar a {
		padding-top: 60%;
	}
	.main-content{
		padding-top: 50px;
	}
.box-action{
	padding: 20px 15px;
	.btn-action.btn-back{
		a{
			background: white;
			color: $brand;
			border: 0;
		}
		img{
			margin-top: -5px;
			margin-right: 5px;
		}
		}
		.btn-camera.btn-action a{
			height: inherit;
			padding: 10px;
			font-size: 13px;
			background: white;
			color: $brand;
			border: 0;
			img{
				margin-bottom: 5px;
			}
		}
	}
	.modal-body{
		.thumnaisl-avatar{
			max-width: 1500px;
			margin: 0 auto;
		}
	}
}
.info-ls{
	display: flex;
	margin-bottom: 20px;
	align-items: center;
	h3{
		margin-bottom: 0;
	}
	img{
		border-radius: 50%;
		border: 1px solid $border;
		height: 90px;
		width: 90px;
		margin-right: 10px;
	}
	.name-ls{
		h3{
			font-size: 20px;
			font-weight: 600;
			color: $brand;
		}
		
	}
}
.box-info{
	border-bottom: 1px dashed #E5E5E5;
}

.detail-info{
	display: inline-block;
    width: 100%;
	margin: 14px 0;
	border-bottom: 1px solid #e5e5e5;
	&.none-border{
		border-bottom: none;
	}
	p{
		position: relative;
		padding-left: 130px;
		margin-bottom: 8px;
		span{
			position: absolute;
			left: 0;
			font-size: 14px;
			font-weight: 600;
		}
	}
}

.list-img-ls{
	&.row{
		margin: 10px 0;
	}
	.col-md-4{
		padding: 0 5px;
		&:last-child{
			padding-right: 0;
		}
	}
	.thumnaisl-avatar {
		position: relative;
		a{
			padding-top: 74%;
			img{
				border-radius: 2px;
			}
		}
	}

}
/* ------------- Modal -------------------------- */
button:focus{
	outline: 0;

}
.owl-dots{
	display: none;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: transparent;
}
.owl-theme .owl-nav .disabled{
	opacity: 1;
}
.modal-show-images{
	.modal-header{
		padding: 0 !important;
	}
	.modal-content{
		background-color: #00000087;
	}
	.modal-body{
		display: flex;
    height: 100%;
    align-items: center;
	}
	.modal-header{
		.close{
			position: absolute;
			right: 200px;
			top: 65px;
			color: white;
			text-shadow: none;
			opacity: 1;
			background: #1798EE;
			border-radius: 100%;
			width: 60px;
			height: 60px;
			text-align: center;
			padding: 5px 10px 8px 10px;
			font-size: 34px;
			z-index: 999;
		}
	}
}
.show-image-ls{
	button{
		span {
			font-size: 80px;
			opacity: 0;
	
		}
	}
	button.owl-prev {
		width: 60px;
		margin: 0;
		position: absolute;
		left: 80px;
		top: 50%;
		background: url(../images/btn-pre.svg) no-repeat center !important;
		cursor: pointer;
		&:focus {
			outline: none;
		}
	}

	button.owl-next {
		width: 60px;
		margin: 0;
		position: absolute;
		right: 80px;
		top: 50%;
		background: url(../images/btn-next.svg) no-repeat center !important;
		cursor: pointer;
		span {
			font-size: 80px;
			opacity: 0;
	
		}
	
		&:focus {
			outline: none;
		}
	}
	.owl-theme .owl-nav {
		background: transparent;
	}

}
.btn-action.btn-back{
	display: inline-block;
	position: fixed;
	z-index: 999;
	left: 12px;
	top: 12px;
	a{
		background: #FFFFFF;
		box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
		border-radius: 4px;
		color: $brand;
		border: 1px solid white;
		padding-top: 5px;
		font-weight: 600;
		
	}
}
.modal-show-cam-3d{
	iframe{
		width: 100%;
		height: 100%;
	}
	.modal-body{
		padding: 0;
		margin: 0;
		overflow: hidden;
	}

}
.flex-center{
	height: 100%;
	display: flex;
	align-items: center;
}
.modal-dialog {
    max-width: 100%;
	margin: 0;
	height: 100%;
    display: flex;
	.modal-content{
		border: 0;
    	border-radius: 0;
	}
	.modal-title{
		font-size: 32px;
	}
}
.modal-header {
    
	.close {
		position: absolute;
		right: 35px;
		top: 30px;
		color: white;
		text-shadow: none;
		opacity: 1;
		background: $brand;
		border-radius: 100%;
		width: 35px;
		height: 35px;
		text-align: center;
		padding: 5px 10px 8px 10px;
	}
}
/*--------------------- Table ----------------------*/
.align-right{
	text-align: right;
}


.table-lead {
	width: 100%;
	border-spacing: initial;
	color: $text;
	white-space: nowrap;
	text-align: left;

	tr {
		&:hover {
			background-color: #5ebcfa24;
			cursor: pointer;
		}
	}

	thead {
		background: #eff2f7;
		color: #fff;
		font-size: 15px;
		font-weight: 600;
		color: $text;

		tr {
			th {
				padding: 10px 10px 10px 20px;
				font-weight: 500;
				text-transform: capitalize;
				position: relative;
			}

		}
	}

	tbody tr td {
		padding: 10px 10px 10px 20px;
		border-top: 1px solid $border;

	}

}
.select2-dropdown{
	width: 200px !important;
	border-radius: 2px;
	box-shadow: -1px 1px 14px rgba(138, 139, 159, 0.15);
	border: 0;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
	border: 1px solid #e5e5e5;
}
  .select-w-input{
	margin-left: 15px;
	display: inline-block;
	.select2-container{
		min-width:125px;
		
	}

	/*Theme Color override*/
	.select2-container--default .select2-results__option--highlighted[aria-selected]{
	  background: #fff !important;
	}
	.select2-container--default .select2-results__option[aria-selected=true]{
		background: #fff;
		color: #fff;
		opacity: 0.8;
	}
	.select2-container .select2-choice {
		border: 2px solid #dce4ec;
		height: 36px;
		border-radius: 0px ;
		font-family: "Lato", sans-serif;
		font-size: 14px;
		text-indent: 1px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		background-image: none;
	}
	.select2-container *:focus{
		outline:0px;
	}
	.select2-container--default .select2-selection--single{
	  border-radius:0px;
	}
	.select2-container.select2-drop-above .select2-choice {
		border-bottom-color: #dce4ec;
		border-radius:0px;
	}
	.select2-drop {
		margin-top: -2px;
		border: 2px solid #dce4ec;
		border-top: 0;
		border-radius: 0px !important;
		-webkit-border-radius:0 0 6px 6px;
		-moz-border-radius:0 0 6px 6px;
		border-radius:0 0 6px 6px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.select2-drop.select2-drop-above {
		margin-top: 2px;
		border-top: 2px solid #dce4ec;
		border-bottom: 0;
		-webkit-border-radius: 6px 6px 0 0;
		-moz-border-radius: 6px 6px 0 0;
		border-radius: 6px 6px 0 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.select2-container .select2-choice div {
		border-left: 2px solid #dce4ec;
		-webkit-border-radius: 0 4px 4px 0;
		-moz-border-radius: 0 4px 4px 0;
		border-radius: 0 4px 4px 0;
	
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
	}
	.select2-search{
		margin-top: 3px;
	}
	.select2-search input {
		height: 30px !important;
		border: 2px solid #dce4ec;
	}
	.select2-container-active .select2-choice,
	.select2-container-active .select2-choices {
		border: 2px solid #dce4ec;
		outline: none;
	
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.select2-dropdown-open .select2-choice {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	
		-webkit-border-bottom-left-radius: 0;
		-moz-border-radius-bottomleft: 0;
		border-bottom-left-radius: 0;
	
		-webkit-border-bottom-right-radius: 0;
		-moz-border-radius-bottomright: 0;
		border-bottom-right-radius: 0;
	}
	.select2-dropdown-open .select2-choice div {
		background: transparent;
		border-left: none;
		filter: none;
	}
	.select2-results .select2-highlighted {
		background: #fff;
		color: #fff;
		border-radius: 0px;
	}
	.select2-results{
		padding: 0 0 0 0px;
		margin: 4px 0px 0px 0;
	}
	.select2-container-multi .select2-choices {
		height: auto !important;
		height: 1%;
	
		border: 2px solid #dce4ec;
	}
	.select2-container-multi.select2-container-active .select2-choices {
		border: 2px solid #dce4ec;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	.select2-container .select2-choice .select2-arrow{
		border: 0px;
		border-radius: 0px;
		background: transparent;
		background-image: none;
	}
	
	/*New Changes*/
	.select2-container--default .select2-selection--single{
	  background: #fff;
	  border: 0px;
	}
	.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{
		  color: $text;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered{
	  color: $text;
	  line-height:34px;
	}
	.select2-container .select2-selection--single{
	  height:35px;
	  border: 1px solid #e5e5e5;
    	border-radius: 4px;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow b
	{
		border-color: $text-des transparent transparent transparent;
	  top: 60%;
	}
	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
	  border-color: transparent transparent #fff transparent;
	}
	.select2-container--open .select2-dropdown--below,
	.select2-container--open .select2-dropdown--above{
	  background: #fff;
	}
	/*Tags Style*/
	.select2-container--default .select2-selection--multiple .select2-selection__choice{
	  background-color: #fff;
		color: #fff;
		border: 1px solid #fff;
		border-radius: 0px;
		  padding: 3px 5px;
	}
	.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
		  color: $text;
	  margin-right: 6px;
	}
	.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
	  margin-left: 6px;
	  float: right;
	}
	/*tags Outer border*/
	.select2-container--default .select2-selection--multiple,.select2-container--default.select2-container--focus .select2-selection--multiple{
	  border: 1px solid #16a085;
	}
	/*Placeholder Text Color */
	.select2-container--default .select2-selection--single .select2-selection__placeholder {
		color: #fff;
	}
  }

/* -----------Title------------- */
.main-title {
	a {
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 700;
		color: $text;
	}
}

.thumnaisl-avatar {
	a {
		position: relative;
		padding-top: 56%;
		display: block;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}

}
/*--------------- Scroll--------------- */

.scrollbar {
	width: 100%;
	margin: auto;
	overflow-x: auto;
}

#wrapper {
	text-align: center;
	width: 100%;
	margin: auto;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track {
	border-radius: 4px;
	background-color: #F1F1F1;
}

#style-1::-webkit-scrollbar {
	width: 2px;
    height: 2px;
}

#style-1::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: #E5E5E5;
}

/* ------------Pagging------------------ */
.pagging-page {
	width: 100%;
	display: flex;
	margin-top: 25px;
	justify-content: right;

	ul {
		li {

			a,
			span {
				width: 25px;
				height: 25px;
				margin: 0 3px;
				text-align: center;
				font-size: 11px;
				display: inline-block;
				text-decoration: none;
				color: $text;
				padding: 5px;

				&.active {
					border: 1px solid $brand  !important;
					color: $brand;
					border-radius: 6px;
				}
			}

			&:hover {
				a {
					color: $brand;
				}
			}
		}
	}
}

/* -----------------Breadrum----------------------------- */
.breadcrumb-box {
	display: inline-block;
	width: 100%;
	padding-top: 15px;

	nav {
		li {
			&::before {
				opacity: .4;
			}

			&:hover {
				cursor: pointer;
			}
		}

		ol {
			background: none;
		}
	}

	a {
		font-size: 12px;
		color: #6A6A6A;
	}

	.breadcrumb-item.active {
		color: #6A6A6A;
		font-size: 12px;
	}
}

/* --------------Input-filed-text---------------------*/
textarea {
	height: 60px !important;
}

input,
textarea {
	border: 1px solid $border;
	border-radius: 2px;
	height: 35px;
	padding-left: 10px;
	margin-right: 0;
	width: 100%;

	&::placeholder {
		font-size: 12px;
		color: #6E7A8A;
	}

	&:focus {
		border: 1px solid $brand;
		outline: 0;
	}
}

.input-filed {
	width: 100%;
	margin: 7px 0;
	position: relative;

	label {
		color: #222222;
		font-weight: 600;
		text-align: right;
		float: left;
		margin: 0;
		margin-top: 8px;
		padding-right: 10px;

	}

}



/* --------------Attach file--------------------*/
.attach-file {
	color: $text;
	font-weight: 600;
	margin-right: 15px;

	.btn-file {
		border: 1px solid $border;
		border-radius: 2px;
		height: 50px;
		width: 105px;

		i {

			font-size: 18px;
			transform: rotate(45deg);
		}

	}

}

.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

	+.js-labelFile {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		padding: 13px 6px 10px 6px;
		cursor: pointer;
		margin-top: 15px;
	}
}

/* --------------Checkbox-------------------- */

.input-custom {
	display: none;
}

.label-custom {
	color: $text;
	line-height: 1.2;
	display: flex;
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	align-items: center;
	font-size: 14px;
	margin-bottom: 2px;

	&:checked {
		color: $brand  !important;
	}

	&:before {
		content: "\e64c";
		font-family: "themify";
		font-size: 16px;
		color: transparent;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 22px;
		height: 22px;
		opacity: 1;
		border: 1px solid $border;
		box-sizing: border-box;
		border-radius: 2px;
		left: 0;
		top: 55%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.label-custom {
	&:checked {
		color: $text  !important;
	}
}

.input-custom:checked+.label-custom::before {
	color: white;
	background-color: $brand;
	border: 1px solid $brand;
}

.input-custom:checked+.label-custom {
	color: $text  !important;
}
/* Custom select box */
.select-selected {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	padding-right: 15px;
	margin-top: -2px;
	padding-bottom: 0 !important;
}

.custom-select {
	border-radius: 4px;
	height: 35px;
	background-color: transparent;
	position: relative;
	padding: 8px 0;
	background: none;
	width: 100%;
	border: 1px solid $border;
}

.custom-select select {
	display: none;
	/*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 10px;
	vertical-align: 0.255em;
	color: $text-des;
	top: 15px;
    right: 5px;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    color: $text-des;
}

/* style the items (options), including the selected item: */
.select-items div{
	padding: 6px 10px !important;
}
.select-items div,
.select-selected {
	color: $text;
	padding: 8px;
	font-size: 14px;
	border-radius: 4px;
	cursor: pointer;
	padding-right: 16px;
	padding-top: 0px;
}

/* Style items (options): */
.select-items {
	padding: 15px;
	overflow: hidden;
	width: 100%;
	position: absolute;
	background-color: white;
	top: 35px;
	left: 0;
	right: 0;
	z-index: 99;
	border-radius: 2px;
	box-shadow: -1px 1px 14px rgba(138, 139, 159, 0.15);
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: transparent;
	color: $brand;
}

/* check-radio-custom */

.check-radio-custom {

	display: flex;
}

.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.check-radio-custom [type="radio"]:checked+label,
.check-radio-custom [type="radio"]:not(:checked)+label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	display: inline-block;
	color: $text;
	margin-bottom: 0;
	font-size: 14px;
}

.check-radio-custom [type="radio"]:checked+label:before,
.check-radio-custom [type="radio"]:not(:checked)+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border: 1px solid $brand;
	border-radius: 100%;
	background: #fff;
}

.check-radio-custom [type="radio"]:checked+label:after,
.check-radio-custom [type="radio"]:not(:checked)+label:after {
	content: '';
	width: 12px;
	height: 12px;
	background: $brand;
	position: absolute;
	top: 4px;
	left: 4px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.check-radio-custom [type="radio"]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.check-radio-custom [type="radio"]:checked+label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.check-radio-custom p {
	margin: 0 20px;
}

/*================= Responsive========== */
@media only screen and (max-width: 767px) {
.box-home{
	padding: 0 20px;
}
 .search-home{
	 width: 100%;
 }
}