
body {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
  font-family: 'Roboto';
  display: block;
  font-size: 16px;
  width: 100%;
  height: 100%;
  background: #fff;
  
  margin: 0 auto;
  max-width: 1024px;
  padding: 0;
}
$brand-1: #142286;
$brand-2: #DBAE27;
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-LightItalic.woff2') format('woff2'),
      url('../fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.woff2') format('woff2'),
      url('../fonts/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Black.woff2') format('woff2'),
      url('../fonts/Roboto-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'UTM Bebas';
  src: url('../fonts//UTM-Bebas.ttf') format('woff2'),
      url('../fonts/UTMBebas.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

p {
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a:visited {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  display: inline-block;
}

h1 {
  font-size: 70px;

}

h2 {

  font-size: 45px;
}

h3 {
  font-size: 24px;

}
h4 {
  font-size: 16px;

}

.mt-40 {
  margin-top: 40px;
}
.mb-0{
  margin-bottom: 0;
}

.center {
  text-align: center;
}
img{
  width: 100%;
  vertical-align: middle;
  border-style: none;
}
.container {
  max-width: 900px;
  margin: auto;
}
.box{
  position: relative;
  margin-top: 80px;
  .box-gif{
    position: absolute;
    bottom: 30px;
    max-width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
  }
  
}
.btn-action{
	display: inline-block;
	width: 100%;
	a{
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}
	button{
		outline: none;
	}
}
.btn-common-line{
  display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	padding: 0 24px;
	color: $brand-1;
	text-align: center;
	transition: all .3s ease-in-out;
  text-transform: uppercase;
  height: 45px;
	line-height: 24px;
	font-size: 18px;
	border-radius: 50px;
	border: 2px solid $brand-1;
  margin: 40px 0 50px 0;
	width: fit-content;
	&:hover {
		background: $brand-1;
		color: white;
    border: 2px solid $brand-1;
	}
}
.banner-pc{
  display: block;
}
.banner-mb{
  display: none;
}
#popup-dacquyen{
  .modal-header{
    border: 0;
  }
  .container{
    max-width: 100%;
  }
	.modal-header .close {
    position: absolute;
    right: 40px;
    font-size: 30px;
    padding: 1px 3px;
    color: #757575;
    opacity: 1;
    background: #d9d9d9;
    text-shadow: none;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    top: 55px !important;
    font-weight: 400;
	}
	.modal-dialog{
		max-width: 1000px;
	}
  
    .modal-body{
        padding: 0;
        margin: 60px 0 0 0;
        .poup-pc{
          display: block;
        }
        .poup-mb{
          display: none;
        }
    }
    .modal-content{
        margin: 0;
        background-color: transparent;
        width: 100%;
        border: 0;
        // height: 100%;
       
    }
	
}
.banner{
  width: 100%;
  height: 100%;
  position: relative;
}
.title-section{
  h2{
    br{
       display: none;
      }
  }
}
.item-detail{
  br{
    display: none;
  }
}
.list-point{
  
  .row{
    justify-content: center;
    .col-md-6{
      padding: 0 22px;
    }
  }
}
.box-point{
  .items{
    &:last-child{
      .point-wallet-item{
        .content{
          .content-top{
            b{
              display: none;
            }
            
          }
        }
      }
    }
  }
}
  .point-wallet-item{
    text-align: center;
    padding: 40px 35px 130px 30px;
    border-radius: 50px;
    background-image: linear-gradient(to bottom, #00177c, #001779, #001777, #001674, #001672, #00156e, #00156b, #001467, #001361, #00125c, #001156, #001051);
    .img-title-item{
      width: 70px !important;
      margin-bottom: 32px;
    }
    b{

      color: $brand-2;
      font-weight: 900;
      font-size: 26px;
      margin-bottom: 16px;
      text-align: center;
      display: inline-block;
    }
   p{
    font-size: 18px;
    color: white;
    text-align: justify;
    line-height: 30px;
    span{
      font-weight: bold;
    }
   }
    .line{
      height: 6px;
      background-image: linear-gradient(to right, #f6d68e, #f7db9c, #f8e0aa, #f9e5b8, #faeac6, #faeac6, #faeac6, #faeac6, #f9e5b8, #f8e0aa, #f7db9c, #f6d68e);
      margin-bottom: 35px;
    }
    .content{
      min-height: 340px;
    }
    .content-top{
        min-height: 190px;
        p{
          font-size: 18px;
          color: white;
          text-align: justify;
          line-height: 30px;
         b{
          font-size: 18px;
          color: white;
         
          line-height: 30px;
          margin-bottom: 0;
         }
        }
    }
  }
.box-point{
  display: flex;
    justify-content: space-between;
    align-items: flex-end;
.items{
  text-align: center;
  .point-wallet-item{
    width: 330px;


  }
  .img-phone{
    margin: -75px auto 0 auto;
    z-index: 1;
    position: relative;
    width: 300px;
  }
}
  
}
.box-blue{
  background-image: linear-gradient(to right, #00167d, #001679, #001676, #001572, #00156f, #00156a, #001464, #00145f, #001357, #00124f, #001048, #000e40);
  border-radius: 0 0 100px 100px;
  padding-bottom: 60px;
  // position: relative;
  .box-white{
    background: white;
    border-radius: 50px;
    padding: 60px 60px 0 60px;
    margin-top: -500px;
    z-index: 12;
    position: relative;
    max-width: 900px;
   
    
    .flex-title{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 26px;
        h1{
          color: $brand-1;
          text-align: center;
          font-family: 'UTM Bebas';
          margin: 0 10px 0 10px;
          text-transform: uppercase;
        }
        img{
          height: 45px;
          width: 45px;
        }
    }
    h2{
   
      color: $brand-1;
     margin-top: 40px;
    }
  }
}
.desrep{
  color: $brand-1;
  p{
      font-size: 18px;
      text-align: justify;
  }
  b{
    font-weight: bold;
  }
}
.accumulate{
  margin-top: 40px;
  .title-section{
    h2{
      br{
        display: block;
      }
      span{
        color: white;
      }
    }
  }
  .accumulate-item{
    text-align: center;
    
    img{
      width: 170px;
      height: 130px;
    }
    p{
      color: white;
      margin: 24px 0 0 0;
      padding: 0 20px;
      font-size: 18px;
      br{
        display: none;
      }
      
    }
  }
}
.title-section{

  h2{
    font-family: 'UTM Bebas';
    color: $brand-2;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    p{
      font-size: 45px;
      color: white;
      text-transform: uppercase;
    }
  }
}
.rank-rewards{
  h2{
    margin-top: 40px;
    color: $brand-1;
  
  }
  .list-rank{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    img{
      margin: 15px;
      width: 260px;
      height: 100%;
    }
    
  }
}
.box-blue{
  &.endow{
    padding-top: 40px;
    border-radius: 100px;
    .desrep{
      color: white;
      margin-bottom: 40px;
    }
    .list-endow{
      .col-md-8{
        // padding: 0;
      }
      .col-md-6{
        
        margin-bottom: 20px;
        
        &:last-child{
          .item-detail{
            background: transparent;
            padding: 0;
          }
        }
      }
      .item{
        height: 100%;
        text-align: center;
        padding: 34px 30px 30px 30px;
        border-radius: 50px;
        background-image: linear-gradient(to right, #f7d895, #f8dda2, #f9e1ae, #f9e6bb, #faeac8, #faeac8, #faeac8, #faeac8, #f9e6bb, #f9e1ae, #f8dda2, #f7d895);
      h3{
        font-family: 'UTM Bebas';
        text-align: center;
        font-size: 28px;
        text-transform: uppercase;
        margin-bottom: 30px;
        color: $brand-1;
      }
      .detail{
        position: relative;
        padding-left: 50px;
        margin-bottom: 35px;
        &:last-child{
          margin-bottom: 0;
        }
        img{
          position: absolute;
          left: 0;
         
          height: 50px;
          width: inherit;
          top: 50%;
          transform: translateY(-50%);
        }
        .content-detail{
          color: $brand-1;
          text-transform: uppercase;
          text-align: left;
          h4{
            margin-bottom: 0;
            font-weight: bold;
            font-size: 16px;
          }
          p{
            margin-bottom: 0;
            text-transform: initial;
            font-size: 16px;
          }

        }
      }
  }
  .item-detail{
    padding: 20px;
    border-radius: 30px;
   
    h3{
      font-family: 'Roboto';
      font-size: 18px;
      text-align: left;
      margin-bottom: 5px;
      font-weight: bold;
    }
    p{
      text-align: justify;
      color: $brand-1;
      font-size: 16px;
      margin-bottom: 0;
    }
    b{
          color: $brand-1;
          text-transform: uppercase;
          
          font-size: 16px;
          font-weight: bold;
    }
    img{
     width: 150px;

    }
  }

    }
  }
}
button:focus{
  outline: none;
}
.notes{
  margin: 40px 0;
 p{
   color: $brand-2;
   font-weight: 900;
 }
  span{
    color: white;
    font-size: 18px;
    margin-bottom: 5px;
  }
  ul{
    list-style: none;
    li{
      margin-bottom: 5px;
      color: white;
      font-size: 18px;
    }
  }
}
.boxwhite-gif{
      background: white;
      border-radius: 70px;
      padding: 60px 60px 20px 60px;
      position: relative;
      overflow: hidden;
  .bg-abstract{
    margin: 0 -60px;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .content-box{
   position: relative;
   z-index: 2;
  }
  .desrep{
    color: $brand-1 !important;
    margin-bottom: 5px !important;
  }
}
.access-to-ndrewards{
        max-width: 870px;
        margin: 60px auto 60px auto;
       
        padding: 60px ;
        border-radius: 50px;
        background-image: linear-gradient(to right, #f7d895, #f8dda2, #f9e1ae, #f9e6bb, #faeac8, #faeac8, #faeac8, #faeac8, #f9e6bb, #f9e1ae, #f8dda2, #f7d895);

  .title-section{
    h2{
      color: $brand-1;
      margin-bottom: 60px;
    }
  }
  .row{
    margin: 0 -3px;
    .col-md-6{
      padding: 0 30px;
    }
  }
  .step{
    text-align: center;
    margin-bottom: 60px;
    img{
      width: 250px;
    }
    p{
      margin-top: 30px;
      margin-bottom: 0;
      font-family: 'UTM Bebas';
      color: $brand-1;
      font-size: 28px;
      text-transform: uppercase;
    
      
    }
    span{
        
      line-height: 35px;
      font-family: 'UTM Bebas';
      color: $brand-1;
      font-size: 28px;
      text-transform: uppercase;
      padding: 0 20px;
    /* text-align: center; */
    display: inline-block;
      }
  }
  .content{
    ul{
      color: $brand-1;
      margin-left: 0;
      li{
        text-align: justify;
        margin-bottom: 5px;
        list-style: decimal!important;
        font-size: 18px;
        b{
          font-weight: bold;
        }
      }
    }
  }
}
.download-app{
  padding-bottom: 60px;
  h3{
    text-align: left;
    text-transform: uppercase;
    font-family: 'UTM Bebas';
    color: $brand-1;
    font-size: 50px;
    margin-bottom: 35px;

  }
  ul{
    color: $brand-1;
    padding: 0 25px;
    li{
      text-align: justify;
      margin-bottom: 5px;
      list-style: decimal;
      font-size: 16px;
      b{
        font-weight: bold;
        list-style: decimal!important;
      }
    }
  }
  .downloads{
    display: flex;
    align-items: center;
    margin-left: 119px;
    margin-top: 40px;
    justify-content: right;
    img{
      width: 130px;
    }
    .linksdown{
      img{
        margin: 10px 20px;
        width: 150px;
      }
    }
  }
}
.img-phone-pc{
  display: block;
}
.img-phone-mb{
  display: none;
}
.title-section{
  h2{
    br{
      
    }
    span{
      color: white;
    }
  }
}
.box-blue.endow .boxwhite-gif{
  .title-section{
    h2{
      br{
        display: none;
      }
      span{
        color: $brand-2;
        &::before{
          content: ' - ';
          font-size: 45px;
        }

      }
    }
  }
}
.box-blue.endow{
  .title-section{
    h2{
      br{
        display: block;
      }
      span{
        
      }
    }
  }
}
@media only screen and (max-width: 950px){
  .box-blue.endow .list-endow .item-detail h3{
    font-size: 18px !important;
  }
  .box-blue.endow .list-endow .item h3{
    font-size: 32px;
  }
  .point-wallet-item{
    padding-bottom: 125px;
   .content{
     min-height: 390px;
   }
    .content-top{
      min-height: 210px;
    }
    b{
      font-size: 24px;
    }
  }
  .box-point .items .point-wallet-item{
    width: 300px;
  }
  .box-point .items .img-phone{
    margin-top: -100px;
  }
.box-blue{
  margin-top: 20px;
}
}
@media only screen and (max-width: 767px) {
  .box-blue.endow .boxwhite-gif{
    .title-section{
      h2{
        br{
          display: block !important;
        }
       span{
        &::before{
          content: none;
          font-size: 45px;

        }
       }
      }
    }
  }
  .box-blue.endow{
    .title-section{
      h2{
        br{
          display: none !important;
        }
       
      }
    }
  }
  .accumulate{
    .title-section{
      h2{
        br{
          display: none  !important;
        }
      }
    }
  }
  .box-blue.endow .list-endow .item-detail h3 {
    font-size: 14px !important;
}
  .box-blue .box-white .flex-title img {
    height: 24px;
    width: 24px;
}
  .box-blue.endow .list-endow .item-detail{
    padding: 20px 15px;
  }
  .list-point{
    .box-point{
      .items{
        &:last-child{
          z-index: 2;
          margin-top: -15px;
          position: relative;
        }
      }
    }
  }

 
  .point-wallet-item .content {
    min-height: inherit;
}
  .item-detail{
    h3{
      font-size: 16px!important;
    }
    b{
      font-size: 14px !important;
    }
    br{
      display: block;
    }
  }
  .title-section{
    h2{
      max-width: 100% !important;
      br{
         display: block !important;
        }
    }
  }
  .download-app{
    h3{
      font-size: 32px;
      margin-bottom: 20px;
    }
    .downloads{
      margin-left: 0;
    }
  }
  .access-to-ndrewards .row {
    margin: 0 -15px;
}
  .access-to-ndrewards{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px 20px;
    .title-section{
      h2{
        max-width: 100%;
        margin: 0 auto 30px auto;
      }
    }
    .col-md-6{
      padding: 0 15px !important;
      width: 50%;
      .step{
        margin-bottom: 30px;
        display: inline-block;
        img{
          width: 130px;
        }
        p{
          margin-top: 20px;
          font-size: 18px;
        }
        span{
          line-height: 28px;
          font-size: 18px;
          padding: 0;
          width: 100%;
        }
      }
    }
  }
  .img-phone-pc{
    display: none;
  }
  .img-phone-mb{
    display: block;
  }
  .boxwhite-gif{
    border-radius: 50px;
    padding: 40px 20px 20px 20px;
  
  }
  .box-point .items .point-wallet-item{
    width: 100%;
    padding: 40px 25px 160px 25px;
    border-radius: 50px;
    p{
      margin-bottom: 0;
    }
    .content-top{
      min-height: inherit;
      b{
        // font-size: 20px;
        text-transform: uppercase;
        font-family: 'UTM Bebas';
        font-weight: normal;
        br{
          display: none;
        }
      }
      p{
        margin-bottom: 0;
        b{
          text-transform: inherit;
          font-family: 'Roboto';
          font-weight: bold;
        }
      }
    }
   .line{
     margin: 35px 0;
   }
  }
  .box-point {
    .items {
      .img-phone{
        width: 250px;
        margin: -100px auto 0 auto;
      }
    }
  }
  .rank-rewards{
    position: relative;
    margin-bottom: 40px;
    .list-rank{
      width: 100%;
      // margin-left: -5px;
      // margin-right: -5px;
      justify-content: left;
      img{
        margin: 0;
        width: 50%;
        float: left;
        padding: 8px;
        height: 100% !important;
      }
    }
    .btn-action  {
      position: absolute;
      bottom: 40px;
      right: 28px;
      width: 40%;
      a{
        margin: 0;
        font-size: 14px;
      }
    }
  }
  .box-blue{
    border-radius: 50px;
    padding-bottom: 0;
    margin-top: 20px;
  }
.accumulate{
  .title-section{
     h2{
      max-width: 100%;
     
     }
  }
  .accumulate-item{
    display: flex;
    align-items: center;
    margin: 0 10px 25px 10px;
    text-align: left;
    img{
      width: 100px;
      height: 100px;
    }
    p{
      padding-right: 0;
      margin-top: 0;
      text-align: justify;
      br{
        display: none;
      }
    }
  }
}
.box-blue.endow .list-endow .item h3{
  font-size: 32px;
}
  .title-section{
    h2{
    
      margin: 40px auto 30px auto;
      font-size: 32px;
    }
    span{
      font-size: 32px !important;
    }
  }
  .container{
    padding: 0 20px;
  }
  .box-blue {
    .box-white{
      margin-top: -250px;
      padding: 40px 20px 0 20px;
      border-radius: 50px;
      h1{
        font-size: 32px;
     
      }
    }
  }
  .box-point{
    display: inherit;
  }
  .banner-pc{
    display: none;
  }
  .banner-mb{
    display: block;
  }
  .modal-body{
    padding: 0;
    .poup-pc{
      display: none!important;
    }
    .poup-mb{
      display: block  !important;
    }
}
.box-blue.endow{
  border-radius: 50px;
  padding-bottom: 40px;
  .title-section{
    h2{
      max-width: 90%;
      margin-top: 0;
    }
  }
  .list-endow{
    .item-detail{
      img{
        margin-top: 40px;
        width: 100%;
      }
    }
    .col-4{
      flex: 0 0 100%;
      max-width: 100%;
      // padding-right: 8px;
      // padding-left: 8px;
      .item{
        padding: 30px 15px;
        .detail{
          width: 50%;
          float: left;
          padding-left: 45px;
          img{
            position: absolute;
            left: -18px;
            width: inherit;
            height: 40px;
          }
          .content-detail{
            h4{
              font-size: 14px;
            }
            p{
              font-size: 14px;
            }
          }
        }
      }
    }
    .col-md-8{
      padding-right: 15px;
      padding-left: 15px;
      margin-top: 15px;
      .col-md-6{
        margin-bottom: 15px !important;
        width: 50%;
        // padding: 0 8px;
       
      }
    }
  }
}
.notes{
  margin-top: 25px;
  text-align: justify;
}
#popup-dacquyen{
  .close{
    right: 40px !important;
  }
  .modal-dialog{
    
    margin: 60px 0 0 0;
  }

}

}
