body {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.06);
  font-family: 'Roboto';
  display: block;
  font-size: 16px;
  width: 100%;
  height: 100%;
  background: #fff;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-LightItalic.woff2") format("woff2"), url("../fonts/Roboto-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'UTM Bebas';
  src: url("../fonts//UTM-Bebas.ttf") format("woff2"), url("../fonts/UTMBebas.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
p {
  font-size: 20px; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none; }

ul,
li {
  list-style: none;
  padding: 0; }

a:visited {
  text-decoration: none; }

a:focus {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a {
  display: inline-block; }

h1 {
  font-size: 70px; }

h2 {
  font-size: 45px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 16px; }

.mt-40 {
  margin-top: 40px; }

.mb-0 {
  margin-bottom: 0; }

.center {
  text-align: center; }

img {
  width: 100%;
  vertical-align: middle;
  border-style: none; }

.container {
  max-width: 900px;
  margin: auto; }

.box {
  position: relative;
  margin-top: 80px; }
  .box .box-gif {
    position: absolute;
    bottom: 30px;
    max-width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0; }

.btn-action {
  display: inline-block;
  width: 100%; }
  .btn-action a {
    display: inline-flex;
    align-items: center;
    justify-content: center; }
  .btn-action button {
    outline: none; }

.btn-common-line {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 0 24px;
  color: #142286;
  text-align: center;
  transition: all .3s ease-in-out;
  text-transform: uppercase;
  height: 45px;
  line-height: 24px;
  font-size: 18px;
  border-radius: 50px;
  border: 2px solid #142286;
  margin: 40px 0 50px 0;
  width: fit-content; }
  .btn-common-line:hover {
    background: #142286;
    color: white;
    border: 2px solid #142286; }

.banner-pc {
  display: block; }

.banner-mb {
  display: none; }

#popup-dacquyen .modal-header {
  border: 0; }
#popup-dacquyen .container {
  max-width: 100%; }
#popup-dacquyen .modal-header .close {
  position: absolute;
  right: 40px;
  font-size: 30px;
  padding: 1px 3px;
  color: #757575;
  opacity: 1;
  background: #d9d9d9;
  text-shadow: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  top: 55px !important;
  font-weight: 400; }
#popup-dacquyen .modal-dialog {
  max-width: 1000px; }
#popup-dacquyen .modal-body {
  padding: 0;
  margin: 60px 0 0 0; }
  #popup-dacquyen .modal-body .poup-pc {
    display: block; }
  #popup-dacquyen .modal-body .poup-mb {
    display: none; }
#popup-dacquyen .modal-content {
  margin: 0;
  background-color: transparent;
  width: 100%;
  border: 0; }

.banner {
  width: 100%;
  height: 100%;
  position: relative; }

.title-section h2 br {
  display: none; }

.item-detail br {
  display: none; }

.list-point .row {
  justify-content: center; }
  .list-point .row .col-md-6 {
    padding: 0 22px; }

.box-point .items:last-child .point-wallet-item .content .content-top b {
  display: none; }

.point-wallet-item {
  text-align: center;
  padding: 40px 35px 130px 30px;
  border-radius: 50px;
  background-image: linear-gradient(to bottom, #00177c, #001779, #001777, #001674, #001672, #00156e, #00156b, #001467, #001361, #00125c, #001156, #001051); }
  .point-wallet-item .img-title-item {
    width: 70px !important;
    margin-bottom: 32px; }
  .point-wallet-item b {
    color: #DBAE27;
    font-weight: 900;
    font-size: 26px;
    margin-bottom: 16px;
    text-align: center;
    display: inline-block; }
  .point-wallet-item p {
    font-size: 18px;
    color: white;
    text-align: justify;
    line-height: 30px; }
    .point-wallet-item p span {
      font-weight: bold; }
  .point-wallet-item .line {
    height: 6px;
    background-image: linear-gradient(to right, #f6d68e, #f7db9c, #f8e0aa, #f9e5b8, #faeac6, #faeac6, #faeac6, #faeac6, #f9e5b8, #f8e0aa, #f7db9c, #f6d68e);
    margin-bottom: 35px; }
  .point-wallet-item .content {
    min-height: 340px; }
  .point-wallet-item .content-top {
    min-height: 190px; }
    .point-wallet-item .content-top p {
      font-size: 18px;
      color: white;
      text-align: justify;
      line-height: 30px; }
      .point-wallet-item .content-top p b {
        font-size: 18px;
        color: white;
        line-height: 30px;
        margin-bottom: 0; }

.box-point {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .box-point .items {
    text-align: center; }
    .box-point .items .point-wallet-item {
      width: 330px; }
    .box-point .items .img-phone {
      margin: -75px auto 0 auto;
      z-index: 1;
      position: relative;
      width: 300px; }

.box-blue {
  background-image: linear-gradient(to right, #00167d, #001679, #001676, #001572, #00156f, #00156a, #001464, #00145f, #001357, #00124f, #001048, #000e40);
  border-radius: 0 0 100px 100px;
  padding-bottom: 60px; }
  .box-blue .box-white {
    background: white;
    border-radius: 50px;
    padding: 60px 60px 0 60px;
    margin-top: -500px;
    z-index: 12;
    position: relative;
    max-width: 900px; }
    .box-blue .box-white .flex-title {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 26px; }
      .box-blue .box-white .flex-title h1 {
        color: #142286;
        text-align: center;
        font-family: 'UTM Bebas';
        margin: 0 10px 0 10px;
        text-transform: uppercase; }
      .box-blue .box-white .flex-title img {
        height: 45px;
        width: 45px; }
    .box-blue .box-white h2 {
      color: #142286;
      margin-top: 40px; }

.desrep {
  color: #142286; }
  .desrep p {
    font-size: 18px;
    text-align: justify; }
  .desrep b {
    font-weight: bold; }

.accumulate {
  margin-top: 40px; }
  .accumulate .title-section h2 br {
    display: block; }
  .accumulate .title-section h2 span {
    color: white; }
  .accumulate .accumulate-item {
    text-align: center; }
    .accumulate .accumulate-item img {
      width: 170px;
      height: 130px; }
    .accumulate .accumulate-item p {
      color: white;
      margin: 24px 0 0 0;
      padding: 0 20px;
      font-size: 18px; }
      .accumulate .accumulate-item p br {
        display: none; }

.title-section h2 {
  font-family: 'UTM Bebas';
  color: #DBAE27;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px; }
  .title-section h2 p {
    font-size: 45px;
    color: white;
    text-transform: uppercase; }

.rank-rewards h2 {
  margin-top: 40px;
  color: #142286; }
.rank-rewards .list-rank {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap; }
  .rank-rewards .list-rank img {
    margin: 15px;
    width: 260px;
    height: 100%; }

.box-blue.endow {
  padding-top: 40px;
  border-radius: 100px; }
  .box-blue.endow .desrep {
    color: white;
    margin-bottom: 40px; }
  .box-blue.endow .list-endow .col-md-6 {
    margin-bottom: 20px; }
    .box-blue.endow .list-endow .col-md-6:last-child .item-detail {
      background: transparent;
      padding: 0; }
  .box-blue.endow .list-endow .item {
    height: 100%;
    text-align: center;
    padding: 34px 30px 30px 30px;
    border-radius: 50px;
    background-image: linear-gradient(to right, #f7d895, #f8dda2, #f9e1ae, #f9e6bb, #faeac8, #faeac8, #faeac8, #faeac8, #f9e6bb, #f9e1ae, #f8dda2, #f7d895); }
    .box-blue.endow .list-endow .item h3 {
      font-family: 'UTM Bebas';
      text-align: center;
      font-size: 28px;
      text-transform: uppercase;
      margin-bottom: 30px;
      color: #142286; }
    .box-blue.endow .list-endow .item .detail {
      position: relative;
      padding-left: 50px;
      margin-bottom: 35px; }
      .box-blue.endow .list-endow .item .detail:last-child {
        margin-bottom: 0; }
      .box-blue.endow .list-endow .item .detail img {
        position: absolute;
        left: 0;
        height: 50px;
        width: inherit;
        top: 50%;
        transform: translateY(-50%); }
      .box-blue.endow .list-endow .item .detail .content-detail {
        color: #142286;
        text-transform: uppercase;
        text-align: left; }
        .box-blue.endow .list-endow .item .detail .content-detail h4 {
          margin-bottom: 0;
          font-weight: bold;
          font-size: 16px; }
        .box-blue.endow .list-endow .item .detail .content-detail p {
          margin-bottom: 0;
          text-transform: initial;
          font-size: 16px; }
  .box-blue.endow .list-endow .item-detail {
    padding: 20px;
    border-radius: 30px; }
    .box-blue.endow .list-endow .item-detail h3 {
      font-family: 'Roboto';
      font-size: 18px;
      text-align: left;
      margin-bottom: 5px;
      font-weight: bold; }
    .box-blue.endow .list-endow .item-detail p {
      text-align: justify;
      color: #142286;
      font-size: 16px;
      margin-bottom: 0; }
    .box-blue.endow .list-endow .item-detail b {
      color: #142286;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: bold; }
    .box-blue.endow .list-endow .item-detail img {
      width: 150px; }

button:focus {
  outline: none; }

.notes {
  margin: 40px 0; }
  .notes p {
    color: #DBAE27;
    font-weight: 900; }
  .notes span {
    color: white;
    font-size: 18px;
    margin-bottom: 5px; }
  .notes ul {
    list-style: none; }
    .notes ul li {
      margin-bottom: 5px;
      color: white;
      font-size: 18px; }

.boxwhite-gif {
  background: white;
  border-radius: 70px;
  padding: 60px 60px 20px 60px;
  position: relative;
  overflow: hidden; }
  .boxwhite-gif .bg-abstract {
    margin: 0 -60px;
    position: absolute;
    top: 0;
    z-index: 1; }
  .boxwhite-gif .content-box {
    position: relative;
    z-index: 2; }
  .boxwhite-gif .desrep {
    color: #142286 !important;
    margin-bottom: 5px !important; }

.access-to-ndrewards {
  max-width: 870px;
  margin: 60px auto 60px auto;
  padding: 60px;
  border-radius: 50px;
  background-image: linear-gradient(to right, #f7d895, #f8dda2, #f9e1ae, #f9e6bb, #faeac8, #faeac8, #faeac8, #faeac8, #f9e6bb, #f9e1ae, #f8dda2, #f7d895); }
  .access-to-ndrewards .title-section h2 {
    color: #142286;
    margin-bottom: 60px; }
  .access-to-ndrewards .row {
    margin: 0 -3px; }
    .access-to-ndrewards .row .col-md-6 {
      padding: 0 30px; }
  .access-to-ndrewards .step {
    text-align: center;
    margin-bottom: 60px; }
    .access-to-ndrewards .step img {
      width: 250px; }
    .access-to-ndrewards .step p {
      margin-top: 30px;
      margin-bottom: 0;
      font-family: 'UTM Bebas';
      color: #142286;
      font-size: 28px;
      text-transform: uppercase; }
    .access-to-ndrewards .step span {
      line-height: 35px;
      font-family: 'UTM Bebas';
      color: #142286;
      font-size: 28px;
      text-transform: uppercase;
      padding: 0 20px;
      /* text-align: center; */
      display: inline-block; }
  .access-to-ndrewards .content ul {
    color: #142286;
    margin-left: 0; }
    .access-to-ndrewards .content ul li {
      text-align: justify;
      margin-bottom: 5px;
      list-style: decimal !important;
      font-size: 18px; }
      .access-to-ndrewards .content ul li b {
        font-weight: bold; }

.download-app {
  padding-bottom: 60px; }
  .download-app h3 {
    text-align: left;
    text-transform: uppercase;
    font-family: 'UTM Bebas';
    color: #142286;
    font-size: 50px;
    margin-bottom: 35px; }
  .download-app ul {
    color: #142286;
    padding: 0 25px; }
    .download-app ul li {
      text-align: justify;
      margin-bottom: 5px;
      list-style: decimal;
      font-size: 16px; }
      .download-app ul li b {
        font-weight: bold;
        list-style: decimal !important; }
  .download-app .downloads {
    display: flex;
    align-items: center;
    margin-left: 119px;
    margin-top: 40px;
    justify-content: right; }
    .download-app .downloads img {
      width: 130px; }
    .download-app .downloads .linksdown img {
      margin: 10px 20px;
      width: 150px; }

.img-phone-pc {
  display: block; }

.img-phone-mb {
  display: none; }

.title-section h2 span {
  color: white; }

.box-blue.endow .boxwhite-gif .title-section h2 br {
  display: none; }
.box-blue.endow .boxwhite-gif .title-section h2 span {
  color: #DBAE27; }
  .box-blue.endow .boxwhite-gif .title-section h2 span::before {
    content: ' - ';
    font-size: 45px; }

.box-blue.endow .title-section h2 br {
  display: block; }

@media only screen and (max-width: 950px) {
  .box-blue.endow .list-endow .item-detail h3 {
    font-size: 18px !important; }

  .box-blue.endow .list-endow .item h3 {
    font-size: 32px; }

  .point-wallet-item {
    padding-bottom: 125px; }
    .point-wallet-item .content {
      min-height: 390px; }
    .point-wallet-item .content-top {
      min-height: 210px; }
    .point-wallet-item b {
      font-size: 24px; }

  .box-point .items .point-wallet-item {
    width: 300px; }

  .box-point .items .img-phone {
    margin-top: -100px; }

  .box-blue {
    margin-top: 20px; } }
@media only screen and (max-width: 767px) {
  .box-blue.endow .boxwhite-gif .title-section h2 br {
    display: block !important; }
  .box-blue.endow .boxwhite-gif .title-section h2 span::before {
    content: none;
    font-size: 45px; }

  .box-blue.endow .title-section h2 br {
    display: none !important; }

  .accumulate .title-section h2 br {
    display: none  !important; }

  .box-blue.endow .list-endow .item-detail h3 {
    font-size: 14px !important; }

  .box-blue .box-white .flex-title img {
    height: 24px;
    width: 24px; }

  .box-blue.endow .list-endow .item-detail {
    padding: 20px 15px; }

  .list-point .box-point .items:last-child {
    z-index: 2;
    margin-top: -15px;
    position: relative; }

  .point-wallet-item .content {
    min-height: inherit; }

  .item-detail h3 {
    font-size: 16px !important; }
  .item-detail b {
    font-size: 14px !important; }
  .item-detail br {
    display: block; }

  .title-section h2 {
    max-width: 100% !important; }
    .title-section h2 br {
      display: block !important; }

  .download-app h3 {
    font-size: 32px;
    margin-bottom: 20px; }
  .download-app .downloads {
    margin-left: 0; }

  .access-to-ndrewards .row {
    margin: 0 -15px; }

  .access-to-ndrewards {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px 20px; }
    .access-to-ndrewards .title-section h2 {
      max-width: 100%;
      margin: 0 auto 30px auto; }
    .access-to-ndrewards .col-md-6 {
      padding: 0 15px !important;
      width: 50%; }
      .access-to-ndrewards .col-md-6 .step {
        margin-bottom: 30px;
        display: inline-block; }
        .access-to-ndrewards .col-md-6 .step img {
          width: 130px; }
        .access-to-ndrewards .col-md-6 .step p {
          margin-top: 20px;
          font-size: 18px; }
        .access-to-ndrewards .col-md-6 .step span {
          line-height: 28px;
          font-size: 18px;
          padding: 0;
          width: 100%; }

  .img-phone-pc {
    display: none; }

  .img-phone-mb {
    display: block; }

  .boxwhite-gif {
    border-radius: 50px;
    padding: 40px 20px 20px 20px; }

  .box-point .items .point-wallet-item {
    width: 100%;
    padding: 40px 25px 160px 25px;
    border-radius: 50px; }
    .box-point .items .point-wallet-item p {
      margin-bottom: 0; }
    .box-point .items .point-wallet-item .content-top {
      min-height: inherit; }
      .box-point .items .point-wallet-item .content-top b {
        text-transform: uppercase;
        font-family: 'UTM Bebas';
        font-weight: normal; }
        .box-point .items .point-wallet-item .content-top b br {
          display: none; }
      .box-point .items .point-wallet-item .content-top p {
        margin-bottom: 0; }
        .box-point .items .point-wallet-item .content-top p b {
          text-transform: inherit;
          font-family: 'Roboto';
          font-weight: bold; }
    .box-point .items .point-wallet-item .line {
      margin: 35px 0; }

  .box-point .items .img-phone {
    width: 250px;
    margin: -100px auto 0 auto; }

  .rank-rewards {
    position: relative;
    margin-bottom: 40px; }
    .rank-rewards .list-rank {
      width: 100%;
      justify-content: left; }
      .rank-rewards .list-rank img {
        margin: 0;
        width: 50%;
        float: left;
        padding: 8px;
        height: 100% !important; }
    .rank-rewards .btn-action {
      position: absolute;
      bottom: 40px;
      right: 28px;
      width: 40%; }
      .rank-rewards .btn-action a {
        margin: 0;
        font-size: 14px; }

  .box-blue {
    border-radius: 50px;
    padding-bottom: 0;
    margin-top: 20px; }

  .accumulate .title-section h2 {
    max-width: 100%; }
  .accumulate .accumulate-item {
    display: flex;
    align-items: center;
    margin: 0 10px 25px 10px;
    text-align: left; }
    .accumulate .accumulate-item img {
      width: 100px;
      height: 100px; }
    .accumulate .accumulate-item p {
      padding-right: 0;
      margin-top: 0;
      text-align: justify; }
      .accumulate .accumulate-item p br {
        display: none; }

  .box-blue.endow .list-endow .item h3 {
    font-size: 32px; }

  .title-section h2 {
    margin: 40px auto 30px auto;
    font-size: 32px; }
  .title-section span {
    font-size: 32px !important; }

  .container {
    padding: 0 20px; }

  .box-blue .box-white {
    margin-top: -250px;
    padding: 40px 20px 0 20px;
    border-radius: 50px; }
    .box-blue .box-white h1 {
      font-size: 32px; }

  .box-point {
    display: inherit; }

  .banner-pc {
    display: none; }

  .banner-mb {
    display: block; }

  .modal-body {
    padding: 0; }
    .modal-body .poup-pc {
      display: none !important; }
    .modal-body .poup-mb {
      display: block  !important; }

  .box-blue.endow {
    border-radius: 50px;
    padding-bottom: 40px; }
    .box-blue.endow .title-section h2 {
      max-width: 90%;
      margin-top: 0; }
    .box-blue.endow .list-endow .item-detail img {
      margin-top: 40px;
      width: 100%; }
    .box-blue.endow .list-endow .col-4 {
      flex: 0 0 100%;
      max-width: 100%; }
      .box-blue.endow .list-endow .col-4 .item {
        padding: 30px 15px; }
        .box-blue.endow .list-endow .col-4 .item .detail {
          width: 50%;
          float: left;
          padding-left: 45px; }
          .box-blue.endow .list-endow .col-4 .item .detail img {
            position: absolute;
            left: -18px;
            width: inherit;
            height: 40px; }
          .box-blue.endow .list-endow .col-4 .item .detail .content-detail h4 {
            font-size: 14px; }
          .box-blue.endow .list-endow .col-4 .item .detail .content-detail p {
            font-size: 14px; }
    .box-blue.endow .list-endow .col-md-8 {
      padding-right: 15px;
      padding-left: 15px;
      margin-top: 15px; }
      .box-blue.endow .list-endow .col-md-8 .col-md-6 {
        margin-bottom: 15px !important;
        width: 50%; }

  .notes {
    margin-top: 25px;
    text-align: justify; }

  #popup-dacquyen .close {
    right: 40px !important; }
  #popup-dacquyen .modal-dialog {
    margin: 60px 0 0 0; } }

/*# sourceMappingURL=style.css.map */
