@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
body {
  font-family: 'Roboto';
  font-weight: normal;
  color: #474647;
  font-size: 14px; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  box-shadow: none;
  text-shadow: none; }

*, ::after, ::before {
  box-sizing: border-box; }

.mb-30 {
  margin-bottom: 30px; }

img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none; }

button {
  outline: none; }

.btn-common {
  float: left;
  justify-content: center;
  display: flex;
  align-items: center;
  background: #F4C522;
  color: white;
  transition: all .3s ease-in-out;
  height: 42px;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  width: 50%;
  border-radius: 0;
  z-index: 9; }
  .btn-common i {
    margin-left: 10px;
    font-size: 16px; }
  .btn-common:hover {
    opacity: 0.9;
    color: white; }

.thumnaisl-avatar a {
  position: relative;
  padding-top: 56%;
  display: block; }
  .thumnaisl-avatar a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }

/* Upload images */
.choose-img-upload {
  position: relative; }
  .choose-img-upload .default-img-upload {
    position: relative;
    max-width: 70px; }
  .choose-img-upload .selected-img-upload {
    position: absolute;
    top: 0;
    left: 0; }
    .choose-img-upload .selected-img-upload .img-selected {
      width: 70px;
      height: 70px;
      border-radius: 4px;
      border: 1px solid #ccc; }
  .choose-img-upload .close-img {
    position: absolute;
    left: -3px;
    top: -5px;
    height: 25px;
    cursor: pointer; }

/* End Upload images */
.custom-file-upload .image-container {
  margin: 0;
  max-width: 70px;
  position: absolute;
  z-index: 999; }
.custom-file-upload .image-container img {
  display: block;
  position: relative;
  max-width: 100%;
  margin: 0;
  height: 70px; }
.custom-file-upload figcaption {
  margin: 20px 0 30px 0;
  text-align: center;
  color: #2a292a; }
.custom-file-upload input[type="file"] {
  display: none; }
.custom-file-upload label {
  width: 100%;
  height: 70px;
  position: relative;
  text-align: center;
  margin: auto;
  cursor: pointer; }

.file-upload-w-file-name {
  text-align: center;
  padding-top: 30px; }
  .file-upload-w-file-name [type=file] {
    display: none;
    filter: alpha(opacity=0);
    opacity: 0; }
  .file-upload-w-file-name [type=file] + label {
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    margin: 0;
    position: relative;
    background: white;
    color: #474647;
    border: 1px dashed #D4D9E1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content; }
    .file-upload-w-file-name [type=file] + label svg {
      margin-right: 5px; }

textarea {
  padding: 10px; }

input {
  padding: 5px 10px !important; }

/* --------------Input-filed-text---------------------*/
textarea {
  height: 60px !important; }

input,
textarea {
  font-family: "Roboto";
  background: #FFFFFF;
  border: 1px solid #E4E6EA;
  border-radius: 4px;
  height: 35px;
  margin-right: 0;
  width: 100%; }
  input::placeholder,
  textarea::placeholder {
    font-size: 12px;
    color: #717375; }
  input:focus,
  textarea:focus {
    border: 1px solid #F4C522;
    outline: 0; }

b, span, label {
  font-size: 14px; }

label {
  display: inline-block; }

.box-cms-shadow {
  margin: 15px 0; }

.btn-upload-file svg path {
  fill: #474647; }

.cover-page {
  text-align: right;
  margin-right: 25px;
  padding-top: 10px;
  width: fit-content;
  position: absolute;
  right: 0;
  top: 0; }

.upload-logo {
  left: 0;
  width: fit-content;
  position: absolute;
  right: 0;
  margin: 0 auto;
  top: 0;
  padding-top: 0; }

.detail {
  width: 100%;
  display: inline-block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 24px; }
  .detail p {
    font-weight: 300;
    margin-left: 8px;
    font-size: 16px;
    line-height: 24px; }
  .detail svg {
    position: absolute;
    left: 0;
    top: 5px;
    border-radius: 50px;
    padding: 5px;
    width: 26px;
    height: 26px; }
  .detail input {
    margin-left: 15px; }

.detail-content {
  position: relative;
  padding: 0 150px 0 0;
  margin: 0 0 30px 0; }
  .detail-content .info-contact-right {
    position: absolute;
    right: 0;
    top: 0; }
    .detail-content .info-contact-right .file-upload-w-file-name {
      padding-top: 0; }
      .detail-content .info-contact-right .file-upload-w-file-name label {
        padding: 40px 10px;
        display: inline-block;
        width: 100%;
        background: #FFFDF5;
        border: 1px dashed #F4C522;
        border-radius: 4px;
        color: #ABABAB;
        width: 100px;
        padding: 20px; }
      .detail-content .info-contact-right .file-upload-w-file-name svg {
        width: 100%;
        margin: 0; }
        .detail-content .info-contact-right .file-upload-w-file-name svg path {
          fill: #ABABAB; }

.logo-head {
  text-align: center;
  margin: 0 auto; }

.btn-cancel {
  background: #727272; }

.color-code {
  position: relative;
  margin-bottom: 50px; }
  .color-code .box-cms-shadow::before {
    z-index: 10;
    content: '';
    position: absolute;
    background: url(../images/arrow.png) no-repeat;
    background-size: contain;
    display: inline-block;
    width: 100%;
    height: 65px;
    left: -20px;
    top: 55px; }

.content {
  position: relative;
  margin: 0 25px; }

.body-namecard {
  max-width: 550px;
  margin: 0 auto;
  width: 100%;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06); }

.body-content {
  display: inline-block;
  width: 100%;
  background: white; }

.bg-head {
  position: relative;
  margin: 0 -25px; }
  .bg-head .thumnaisl-avatar a {
    padding-top: 75%; }

.bg-head .file-upload-w-file-name svg path {
  fill: #474647; }

.bg-ava {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  z-index: 10; }
  .bg-ava .file-upload-w-file-name {
    padding-top: 0; }
    .bg-ava .file-upload-w-file-name input {
      border: 0; }
    .bg-ava .file-upload-w-file-name label {
      display: initial;
      padding: 0;
      border: 0;
      background: transparent; }
    .bg-ava .file-upload-w-file-name svg path {
      fill: white; }

.avatar {
  text-align: center;
  margin-top: -70px;
  z-index: 5;
  position: relative; }
  .avatar .thumnaisl-avatar {
    height: 130px;
    width: 130px;
    margin: 0 auto;
    overflow: hidden;
    background: #D7DCE3;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 0px 11px rgba(85, 96, 128, 0.19);
    border-radius: 50%; }
    .avatar .thumnaisl-avatar a img {
      border-radius: 100%; }
    .avatar .thumnaisl-avatar a::before {
      margin-top: 25px;
      z-index: 7;
      width: 100%;
      background: #000000;
      opacity: 0.2;
      padding: 16px 0;
      display: inline-block;
      content: '';
      position: relative; }

.box-cms-shadow {
  text-align: left; }

.title-box {
  font-size: 14px;
  display: inline-block;
  width: 100%;
  padding-bottom: 5px;
  line-height: 24px; }

.desrep-tittle {
  margin: 0 0 15px 0;
  position: absolute;
  top: 63px;
  left: 0;
  right: 0; }
  .desrep-tittle .logo-head img {
    width: 270px;
    margin-bottom: 10px; }

.info-user {
  z-index: 3;
  position: relative;
  font-family: 'Roboto';
  display: inline-block;
  text-align: center;
  width: 100%; }

.line-bg {
  background: #EBEEF3;
  height: 10px;
  margin: 15px -25px 30px -25px; }

.btn-common {
  color: #fff; }
  .btn-common svg {
    margin-left: 8px; }
    .btn-common svg path {
      stroke: white !important;
      font-size: 20px; }

@media only screen and (max-width: 767px) {
  .avatar .thumnaisl-avatar a::before {
    margin-top: 15px; }

  .btn-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    display: inline-block;
    width: 100%;
    z-index: 99; }

  .bg-head .thumnaisl-avatar a {
    padding-top: 100%; }

  .desrep-tittle .logo-head img {
    width: 190px; }

  .avatar {
    margin-top: -60px; }
    .avatar .thumnaisl-avatar {
      width: 110px;
      height: 110px; }

  .detail-content {
    z-index: 2;
    margin: 20px 0 50px 0;
    padding: 0 150px 0 0; }

  .logo-ft img, .qrcode img {
    width: 90px; } }
@media only screen and (max-width: 320px) {
  .detail {
    padding-left: 40px; }

  .color-code .box-cms-shadow::before {
    top: 83px;
    display: none; }

  .color-code {
    margin-bottom: 25px; }

  .detail input {
    margin-left: 0; }

  .avatar .thumnaisl-avatar a::before {
    margin-top: 6px; }

  .cover-page {
    padding-top: 5px; }
    .cover-page label {
      font-size: 0;
      background: transparent !important;
      padding: 0 !important;
      border: 0 !important; }

  .bg-head .thumnaisl-avatar a {
    padding-top: 115%; }

  .avatar {
    margin-top: -50px; }
    .avatar .thumnaisl-avatar {
      width: 90px;
      height: 90px; }

  .desrep-tittle {
    top: 40px; }
    .desrep-tittle .logo-head img {
      margin-bottom: 0; }
    .desrep-tittle .logo-head .upload-logo {
      top: 0; }

  .info-user p {
    padding: 0 20px; }

  .detail-content {
    padding-right: 0; }
    .detail-content .info-contact-right {
      position: initial; }
    .detail-content .info-contact-right {
      padding-bottom: 30px;
      margin-bottom: 20px; }
      .detail-content .info-contact-right .logo-ft img, .detail-content .info-contact-right .qrcode img {
        width: 130px; }

  .detail {
    width: initial;
    display: inherit; } }

/*# sourceMappingURL=style.css.map */
