$brand:#F4C522;
$text:#474647;
$bg: #EBEEF3;

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Roboto';
    font-weight: normal;
    color: $text;
    font-size: 14px;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    text-shadow: none;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.mb-30{
    margin-bottom: 30px;
}
img {
	max-width: 100%;
    vertical-align: middle;
    border-style: none;
}
button {
	outline: none;
}
.btn-common {
    float: left;
	justify-content: center;
    display: flex;	
	align-items: center;
	background: $brand;
	color: white;
	transition: all .3s ease-in-out;
	height: 42px;
	text-transform: uppercase;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	width: 50%;
    
    border-radius: 0;
    z-index: 9;
	i {
		margin-left: 10px;
		font-size: 16px;
	}
	

	&:hover {
		opacity: 0.9;
		color: white;
	}

}
.thumnaisl-avatar {
	a {
		position: relative;
		padding-top: 56%;
		display: block;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}

}
/* Upload images */
.choose-img-upload {
	position: relative;

	.default-img-upload {
		position: relative;
		max-width: 70px;
	}

	.selected-img-upload {
		position: absolute;
		top: 0;
		left: 0;

		.img-selected {
			width: 70px;
			height: 70px;
			border-radius: 4px;
			border: 1px solid #ccc
		}
	}

	.close-img {
		position: absolute;
		left: -3px;
		top: -5px;
		height: 25px;
		cursor: pointer;
	}
}
/* End Upload images */
.custom-file-upload {
	.image-container {
		margin: 0;
		max-width: 70px;
		position: absolute;
		z-index: 999;
	}

	.image-container img {
		display: block;
		position: relative;
		max-width: 100%;
		margin: 0;
		height: 70px;
	}

	figcaption {
		margin: 20px 0 30px 0;
		text-align: center;
		color: #2a292a;
	}

	input[type="file"] {
		display: none;
	}

	label {
		width: 100%;
		height: 70px;
		position: relative;
		text-align: center;
		margin: auto;
		cursor: pointer;
	}
}
.file-upload-w-file-name{
    text-align: center;
    padding-top: 30px;
	[type=file] {
        display: none;
		// position: absolute;
		filter: alpha(opacity=0);
		opacity: 0;
		// width: 150px;
	}
	[type=file] + label {
        
	  border-radius: 4px;
	  text-align: center;
	  padding: 10px;
	  margin: 0;
	  position: relative;
	  background: white;
	  color: $text;
	  border: 1px dashed #D4D9E1;
	  cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
	  svg{
		margin-right: 5px;
	  }
	}
	
}
textarea {
	padding: 10px;
}

input {
	padding: 5px 10px !important;
}
/* --------------Input-filed-text---------------------*/
textarea {
	height: 60px !important;
}

input,
textarea {
    font-family: 'Roboto' ;
	background: #FFFFFF;
    border: 1px solid #E4E6EA;
    border-radius: 4px;
	height: 35px;
	margin-right: 0;
	width: 100%;

	&::placeholder {
		font-size: 12px;
		color: #717375;
	}

	&:focus {
		border: 1px solid $brand;
		outline: 0;
	}
}
b, span, label {
    font-size: 14px;
}
label {
    display: inline-block;
    // margin-bottom: 0.5rem;
}
.box-cms-shadow{
    margin: 15px 0;
}
.btn-upload-file{
    svg{
        path{
            fill: $text;
        }
    }
}
.cover-page{
    text-align: right;
    margin-right: 25px;
    padding-top: 10px;
    width: fit-content;
    position: absolute;
    right: 0;
    top: 0;
    
}
.upload-logo{
    left: 0;
    width: fit-content;
    position: absolute;
    right: 0;
    margin: 0 auto;
    top: 0;
    padding-top: 0;
}

.detail{
    width: 100%;
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 24px;
    p{
        // color: $text;
        font-weight: 300;
        margin-left: 8px;
        font-size: 16px;
        line-height: 24px;
    }
    svg{
        position: absolute;
        left: 0;
        top: 5px;
        border-radius: 50px;
        padding: 5px;
        width: 26px;
        height: 26px;
        // path{
        //     fill: $text;
        // }
    }
    input{
        margin-left: 15px;
    }
}

.detail-content{
    position: relative;
    padding: 0 150px 0 0;
    margin: 0 0 30px 0;
    .info-contact-left{
        
    }
    .info-contact-right{
        position: absolute;
        right: 0;
        top: 0;
       
        .file-upload-w-file-name{
            padding-top: 0;
            
            label{
                padding: 40px 10px;
                display: inline-block;
                width: 100%;
                background: #FFFDF5;
                border: 1px dashed #F4C522;
                border-radius: 4px;
                color: #ABABAB;
                width: 100px;
                padding: 20px;
            }
            svg{
                width: 100%;
                margin: 0;
                path{
                    fill: #ABABAB;
                }
                
            }
        }
        
    }
    
}

.logo-head{
    text-align: center;
    margin: 0 auto;
}
.btn-cancel{
    background: #727272;
}

.color-code{
    position: relative;
    margin-bottom: 50px;
    .box-cms-shadow{
        
        &::before{
            z-index: 10;
            content: '';
            position: absolute;
            background: url(../images/arrow.png) no-repeat;
            background-size: contain;
            display: inline-block;
            width: 100%;
            height: 65px;
            left: -20px;
            top: 55px;
        }
    }
}
.content{
    position: relative;
    margin: 0 25px;
}
.body-namecard{
    max-width: 550px;
    margin: 0 auto;
    width: 100%;
    // height: 100%;
    // position: absolute;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06);
}
.body-content{
        
    display: inline-block;
    width: 100%;
    background: white;
    
}
.bg-head{
    position: relative;
    // background: $bg;
    // min-height: 415px;
    margin: 0 -25px;
    .thumnaisl-avatar{
        a{
            padding-top: 75%;
        }
    }
 }
 .bg-head{
    .file-upload-w-file-name{
       
        svg{
            path{
                fill: $text;
            }
        }
    }
 }
 .bg-ava{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    z-index: 10;
    .file-upload-w-file-name{
        padding-top: 0;
        input{
            border: 0;
        }
        label{
            display: initial;
            padding: 0;
            border: 0;
            background: transparent;
        }
        svg{
            path{
                fill: white;
            }
            
        }
    }
    
 }
.avatar{
    text-align: center;
    margin-top: -70px;
    z-index: 5;
    position: relative;
    .thumnaisl-avatar{
        height: 130px;
        width: 130px;
        margin: 0 auto ;
        overflow: hidden;
        background: #D7DCE3;
        border: 2px solid #FFFFFF;
        box-shadow: 0px 0px 11px rgba(85, 96, 128, 0.19);
        border-radius: 50%;
        
        a{
            // padding-top: 100%;
            img{
                border-radius: 100%;
                // border: 4px solid #fff;
                
            }
            &::before{
                margin-top: 25px;
                z-index: 7;
                width: 100%;
                background: #000000;
                opacity: 0.2;
                padding: 16px 0;
                display: inline-block;
                content: '';
                position: relative;
            }
        }
    }
   
}
.box-cms-shadow{
    text-align: left;
}
.title-box {
    font-size: 14px;
    display: inline-block;
    width: 100%;
    padding-bottom: 5px;
    line-height: 24px;
}
.desrep-tittle{
    margin: 0 0 15px 0;
    position: absolute;
    top: 63px;
    left: 0;
    right: 0;
    // left: 0;
    // position: absolute;
    // top: 10px;
    // right: 0;
   
    .logo-head{
        img{
            width: 270px;
            margin-bottom: 10px;
        }
    }
}
.info-user{
    z-index: 3;
    position: relative;
    font-family: 'Roboto';
    display: inline-block;
    text-align: center;
    width: 100%;

}
.line-bg{
    background: $bg;
    height: 10px;
    margin: 15px -25px 30px -25px;
}
.btn-common{
    color: #fff ;
    
    svg{
        margin-left: 8px;
        path{
            stroke: white !important;
            font-size: 20px;
        }
    }
}

@media only screen and (max-width: 767px){
    .avatar .thumnaisl-avatar a::before{
        margin-top: 15px;
    }
    .btn-bottom{
        position: fixed;
        bottom: 0;
        left: 0;
        margin: 0;
        display: inline-block;
        width: 100%;
        z-index: 99;
    }
    .bg-head .thumnaisl-avatar a {
        padding-top: 100%;
    }
    .desrep-tittle .logo-head img {
        width: 190px;
        
    }

    .avatar{
        margin-top: -60px;
        .thumnaisl-avatar{
            width: 110px;
            height: 110px;
        }
       
    }
    .info-contact-right{
        // right: 10px !important;
    }
    .detail-content{
        z-index: 2;
        margin: 20px 0 50px 0;
        padding: 0 150px 0 0;
    }
    .logo-ft, .qrcode{
        img{
            width: 90px;
        }
    }
 
}
@media only screen and (max-width: 320px){
    .detail{
        padding-left: 40px;
    }
    .color-code .box-cms-shadow::before{
        top: 83px;
        display: none;
    }
    .color-code{
        margin-bottom: 25px;
    }
    .detail input {
        margin-left: 0;
    }
    .avatar .thumnaisl-avatar a::before {
        margin-top: 6px;
    }
    .cover-page{
        padding-top: 5px;
        label{
            font-size: 0;
            background: transparent !important;
            padding: 0 !important;
            border: 0 !important;
        }
    }
    .bg-head .thumnaisl-avatar a {
        padding-top: 115%;
    }
    .avatar{
        
        margin-top: -50px;
        .thumnaisl-avatar{
            width: 90px;
            height: 90px;
            
        }
       
    }
    
    .desrep-tittle{
        top: 40px;
      .logo-head{
          img{
              margin-bottom: 0;
          }
          .upload-logo{
            top: 0;
          }
      }
    }
    .info-user p {
        padding: 0 20px;
    }
.detail-content{
        padding-right: 0;
        .info-contact-right{
               position: initial;
       }
       .info-contact-right{
           padding-bottom: 30px;
           margin-bottom: 20px;
          .logo-ft, .qrcode{
              img{
                width: 130px ;
              }
          }
       }
    }
    .detail{
        width: initial;
        display: inherit;
    }
    
    
}





    

