@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;800&display=swap');
$brand: #286DB3;
$border: #E5E5E5;
$text: #222;
$text-des: #66605c;
$bg: #F3F4F2;
$secon: #F38E5A;

.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

button:focus {
	outline: none;
}

.icon-chuc-nang {
	margin: 0 10px !important;
}

.flexs {
	display: flex;
	align-items: center;
	justify-content: center;
}

textarea {
	padding: 10px;
}

input {
	padding: 5px 10px !important;
}

.popup-log-in {
	p {
		color: #777;
	}
}

.login {
	.btn-action {
		a {
			background-color: $brand;
			color: white
		}
	}

	.plus-login {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}

	.popup-log-out {
		.modal-body {
			.qr-code {
				margin-bottom: 12px;
			}

			p {
				color: #777;
			}
		}
	}

	.login-wrapper {
		height: 75%;

		.tab-info {
			height: 380px;
		}
	}

	.tab-content {
		margin-top: 30px;
	}

	.nav-tabs .nav-link:focus,
	.nav-tabs .nav-link:hover {
		border-color: transparent;
	}

	.nav-tabs {
		.nav-link.active {
			color: #286CB3;
			border-color: transparent;
			background-color: #fff;
			border-bottom: 2px solid $brand;
		}

		.nav-item {
			width: 50%;
			text-align: center;
			border-bottom: 1px solid $border;
		}
	}
}

.modal-open {
	.modal {
		background: #000000ba;
	}
}

.modal-dialog {
	margin: 0 auto;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;

	.modal-content {
		position: relative;
		border: none;

		.modal-header {
			padding: 7px;
			justify-content: center;
			background: $brand;

			.modal-title {
				color: #fff;
				font-size: 18px;
			}

			.close {
				position: absolute;
				right: 15px;
				top: -30px;
				color: #fff;
				text-shadow: none;
				opacity: 1;
				background: $brand;
				border-radius: 100%;
				width: 35px;
				height: 35px;
				text-align: center;
				padding: 3px 10px 8px 10px;
			}
		}
	}

}

.modal-body {
	text-align: center;
	padding: 10px 20px;

	h4 {
		margin: 15px 0 15px 0;
	}

	.code-login {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 15px 0 15px 0;

		input {
			width: 35px;
			height: 35px;
			margin: 0 10px;
		}
	}

	.btn-action {
		margin-bottom: 7px;
	}
}

.list-news-dashboard {
	.date-time-post span {
		color: $text-des;
	}

	li a {
		cursor: pointer;
		color: $text  !important;
	}
}

.popup-preview-post {
	.modal-dialog {
		button {
			span {
				font-size: 20px;
			}
		}

	}

}

.btn-action.btn-khong-dat a {
	border: 1px solid $secon;
	color: $secon;
	background-color: white;
	width: 100px;
	margin: 0 10px;
	padding-top: 6px;
}

.btn-action.btn-xn a {
	width: 100px;
	padding-top: 6px;
}

.popup-xn-post {
	.modal-body {
		padding: 30px;

		.icon-xn-post {
			height: 214px;
			max-width: 100%;
		}

		.btn-action a {
			margin-bottom: 0;
		}
	}
}

.title-popup-xn {
	margin-top: 20px !important;
}

.ly-do-khong-dat {
	margin-bottom: 20px;
	max-width: 300px;
}

.date-time-post {
	color: $text;
	padding: 5px 0;

	span {
		font-size: 14px;
	}

	.date-dashboard::before {
		content: '(';
		display: inline-block;
		margin-right: 5px;
		color: #999;
	}

	span::after {
		content: '|';
		display: inline-block;
		margin-left: 5px;
		margin-right: 5px;
		color: #999;

	}

	.nickname-dashboard::after {
		content: ')';
		display: inline-block;
		color: #999;
	}

}

.search-filed {
	margin-right: 10px !important;
}

/*modal preview post*/
.modal {
	.scrollbar {
		height: 100%;
		position: absolute;
		padding-top: 50px;
		left: 0;
		right: 0;
	}
}

.popup-preview-post .modal-dialog {
	max-width: 100%;
	height: inherit;
	margin: 0;

	.modal-content {
		height: 100%;
		border-radius: 0;
		overflow: hidden;

		.modal-header {
			background: transparent;
			border-bottom: 0;

			.close {
				right: 30px;
				top: 20px;
				z-index: 9999;
			}
		}

		.modal-body {
			.content-preview {
				padding: 20px 30px;
				background: white;
				box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09);
				margin: 0 auto;
				text-align: left;
				max-width: 1000px;

				.noidung-baiviet {
					.infor-news {
						.content-title-news {
							h1 {
								font-size: 32px;
								font-weight: bold;
								text-align: left;
							}
						}
					}

					.time-date-comment {
						display: flex;
						align-items: center;
						margin-bottom: 0;
						margin-top: 0;

						.time-date {
							white-space: break-spaces;

							span {
								color: #323232;
								opacity: 0.6;
							}
						}

						.btn-baonoi {
							margin-left: 20px;

							audio {
								height: 45px;
							}
						}
					}

					.noidung-chitiet {
						.descrep {
							margin-top: 30px;
							font-weight: 700;
							font-size: 16px;
							text-align: left;

							a {
								line-height: 26px;

								&:hover {
									color: $text-des;
								}
							}
						}

						.avatar-news {
							a {
								position: relative;
								padding-top: 56%;
								display: block;

								img {
									position: absolute;
									width: 100%;
									height: 100%;
									border-radius: 2px;
									object-fit: cover;
									object-position: center;
									left: 0;
									top: 0;
									max-width: 100%;

								}
							}

						}

						p {
							line-height: 32px;
							margin-bottom: 0;
						}
					}

					.author {
						margin-top: 20px;
						text-align: right;

						span {
							color: #da2328;
							text-transform: uppercase;

						}
					}

					.separator--dotted {
						background: url(../images/line_title.svg) repeat-x top;
						display: inline-block;
						width: 100%;
						height: 7px;
					}
				}
			}

			.btn-action {
				width: 100%;
				background: #fff;
				box-shadow: 0px 0px 11px rgba(18, 38, 63, 0.05);
				position: fixed;
				bottom: 0;
				left: 0;
				text-align: center;
				margin: 0;

				.cancel {
					background-color: #FF000A;
				}

				.decry {
					background-color: $brand;
				}

				.accept {
					background-color: $secon;
				}

				a {
					border: transparent;
					margin: 10px 2px;

					&:hover {
						opacity: 0.9;
						color: white;
					}
				}
			}

			.but-danh {
				color: $text-des  !important;
				text-transform: inherit !important;
			}
		}
	}


}

.modal-header.no-modal-header {
	background: transparent !important;
	border-bottom: 0;
}

/*------------- Management-news ---------*/
.body-management-magazine .box-cms-shadow.scrollbar{
    height: 430px;
}
.title-box {
	font-size: 15px;
	font-weight: 700;
	display: inline-block;
	width: 100%;
	padding-bottom: 15px;
}

.media-upload {
	width: 50%;
	text-align: left;

	.default-img-upload {
		margin-left: 0;
	}

}

.body-management-news {
	.check-radio-custom p {
		margin-left: 0;
	}

	.box-cms-shadow.scrollbar {
		height: 430px;
	}

	.box-header-right {
		position: absolute;
		right: 0;
		display: flex;
		align-items: center;

	}

	.date-dashboard::before {
		content: '';
		display: inline-block;
	}

	.time-dashboard::after {
		content: '';
		display: inline-block;
	}

	.popup-xem-ls-cap-nha {
		.content-xem-ls {
			max-width: 100%;
			text-align: left;
		}
	}

}

.btn-filters {
	position: relative;
	display: inline-block;
	cursor: pointer;

	i {
		background-color: $brand;
		border-radius: 4px;
		padding: 10px;
		color: white;

		&:hover {
			opacity: 0.9;
		}
	}

	span {
		position: absolute;
		right: -3px;
		top: -20px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: $secon;
		color: white;
		font-size: 11px;
		padding-top: 2px;
		text-align: center;
	}
}

.popup-show-filter {
	.modal-dialog {
		max-width: 584px;
		margin-right: 20px;
		height: initial;
		margin-top: 145px;
	}

	.modal-body {
		.box-cms-shadow {
			border: 1px solid $border;
			text-align: left;
			position: relative;

		}

		.btn-action.btn-bo-loc a {
			border: 1px solid #FF000A;
			color: #FF000A;
			background-color: white !important;
			width: 100px;
			margin-right: 10px;
		}

		.btn-action.btn-loc a {
			border: 1px solid $brand;
			color: $brand;
			background-color: white;
			width: 100px;
		}

		.scrollbar {
			height: 340px;
		}
	}
}

ul li {
	list-style: none;
}

.search-filed input {
	padding-left: 30px !important;
}

.primary-cate {
	padding-left: 0;
	margin-bottom: 0;

	.custom-checkbox {
		margin: 10px 0;
		display: inline-block;
		width: 100%;
	}

	.sub-cate {
		padding-left: 25px;

		.custom-checkbox {
			margin: 5px 0;
		}
	}
}

.table-lead thead {
	background-color: #FBF7E9 !important;
}

.table-lead tr:hover {
	background-color: #EDF5FF !important;
}

/* Upload images */
.choose-img-upload {
	position: relative;

	.default-img-upload {
		position: relative;
		max-width: 70px;
	}

	.selected-img-upload {
		position: absolute;
		top: 0;
		left: 0;

		.img-selected {
			width: 70px;
			height: 70px;
			border-radius: 4px;
			border: 1px solid $border;
		}
	}

	.close-img {
		position: absolute;
		left: -3px;
		top: -5px;
		height: 25px;
		cursor: pointer;
	}
}
/* End Upload images */
.custom-file-upload {
	.image-container {
		margin: 0;
		max-width: 70px;
		position: absolute;
		z-index: 999;
	}

	.image-container img {
		display: block;
		position: relative;
		max-width: 100%;
		margin: 0;
		height: 70px;
	}

	figcaption {
		margin: 20px 0 30px 0;
		text-align: center;
		color: #2a292a;
	}

	input[type="file"] {
		display: none;
	}

	label {
		width: 100%;
		height: 70px;
		position: relative;
		text-align: center;
		margin: auto;
		cursor: pointer;
	}
}


/* ------------------ Detail news---------------- */
.popup-xem-ls-cap-nhat .xem-ls{
		width: initial;
		padding-bottom: 0;
}
.body-management-news .flexs{
	justify-content: left;
}
	.lable-bai-tu-choi{
		color: #C92027;
		background-color: #FCEBEC;
		border-radius: 3px;
		padding: 3px;
		margin-bottom: 0;
		cursor: pointer;
		img{
			margin-left: 5px;
		}
		
	}
	.label-bai-da-duyet{
		cursor: pointer;
		color: #03A614;
		background-color: #F1FEF6;
		border-radius: 3px;
		padding: 3px;
		margin-bottom: 0;
		img{
			display: none;
		}
	}
	.label-bai-cho-duyet{
		cursor: pointer;
		color: #03A614;
		background-color: #f9f5e9;
		border-radius: 3px;
		padding: 3px;
		margin-bottom: 0;
		img{
			display: none;
		}
	}
.noi-dung-tu-choi{
	text-align: left;
}

.btn-back-to {
	margin-right: 15px;
	margin-top: 5px;

	a {
		color: $brand  !important;

		i {
			color: $brand;
			font-weight: 700;
		}
	}

}
.box-upload-detail-news{
	display: flex;
	align-items: center;
	margin: 10px 0 15px 0;
}
.file-upload-w-file-name{
	margin-right: 15px;
	[type=file] {
		position: absolute;
		filter: alpha(opacity=0);
		opacity: 0;
		width: 150px;
	}
	[type=file] + label {
	  border-radius: 3px;
	  text-align: center;
	  padding: 10px;
	  width: 150px;
	  margin: 0;
	  position: relative;
	  background: white;
	  color: $brand;
	  border: 1px solid $brand;
	  cursor: pointer;
	  img{
		margin-right: 5px;
	  }
	}
	
}
.box-convert{
	position: relative;
	display: inline-block;
	width: 100%;
}
.btn-convert-default{
	
	cursor: pointer;
	text-align: center;
	background-color: white;
    border: 1px solid #286DB3;
    border-radius: 3px;
    padding: 8px 10px 5px 10px;
    color: #286DB3;
    width: 150px;
    height: 41px;
	a{
		color: $brand;
	}
	img{
		margin-right: 5px;
	}
	
}
.btn-convert-selected{
	position: absolute;
    top: -2px;
	cursor: pointer;
	background-color: #F3F6F9;
    padding: 10px;
	border-radius: 4px;
	a{
		float: left;
	}
	.flexs{
		float: left;
	}
	img{
		margin-right: 5px;
	}
}

.box-upload-detail-news{
	
	.btn-action.btn-save a{
		cursor: pointer;
		width: 80px;
		height: 25px;
		padding: 2px 5px 5px 5px;
		margin-right: 10px;
	}
	.btn-action.btn-cancel a{
		color: #F38E5A;
		background-color: white;
		border: 1px solid #F38E5A;
		border-radius: 4px;
		width: 80px;
		height: 25px;
		padding: 2px 5px 5px 5px
	}
}

.xem-ls {
	cursor: pointer;
	color: #C92027;
	text-decoration-line: underline;
	width: 100%;
    display: inline-block;
    padding-bottom: 15px;
}

.box-seo {
	input {
		margin: 10px 0;
	}
}

.seo-slug {
	text-decoration-line: underline;
	font-weight: 600;
	color: $text-des;
}

.tags-input-wrapper {
	background: transparent;
	padding: 10px;
	border-radius: 4px;
	max-width: 400px;
	border: 1px solid #ccc
}

.tags-input-wrapper input {
	border: none;
	background: transparent;
	outline: none;
	width: 140px;
	margin-left: 8px;

	&:focus {
		border: transparent;
	}
}

.tags-input-wrapper .tag {
	display: inline-block;
	background-color: #296db3;
	color: white;
	border-radius: 40px;
	padding: 3px 3px 0px 10px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.tags-input-wrapper .tag a {
	margin: 0 7px 3px;
	display: inline-block;
	cursor: pointer;
}

.lich-su {
	margin-bottom: 5px;

	.nguoi-duyet,
	.time-duyet,
	.nguoi-gui-duyet,
	.nguoi-tao {
		color: $text;
	}

	.time-duyet::before,
	.nguoi-gui-duyet::before,
	.nguoi-tao::before {
		content: '|';
		display: inline-block;
		margin-right: 5px;
	}

	span {
		color: $text-des;

	}
}

.content-xem-ls {
	text-align: left;
	padding: 0 20px;
	padding-bottom: 30px;
	.header-secon {
		margin-left: 0;
		margin-bottom: 20px;
	}

	.ban-cap-nhat {
		height: 100%;
		line-height: 22px;
		padding-top: 35px !important;
		position: relative;
		padding: 20px;
		background: #FFFFFF;
		border: 1px solid #E5E5E5;
		box-shadow: 0px 0px 11px rgba(18, 38, 63, 0.05);
		border-radius: 4px;
		.main-title{
			line-height: 22px;
			a{
				font-size: 16px;
			}
		}
		.date-time-post .date-dashboard::before{
			margin-right: 0;
		}
		.mo-ta-bv-chinh-sua{
			color: $text-des;
		}
		.postion-img {
			position: absolute;
			top: -15px;
			left: -19px;
			max-width: 55px;
		}

		.avatar-news {
			display: initial;

			a {
				position: relative;
				padding-top: 56%;
				display: block;

				img {
					position: absolute;
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
					left: 0;
					top: 0;
				}
			}

			&.img-update-news {
				img {
					border: 1px solid #286DB3;
				}
			}
		}

		.nguoi-chinh-sua.flexs {
			justify-content: left;
			margin: 10px 0;

			img {
				height: 25px;
				margin-right: 5px;
			}
		}

	}
}

.text-update {
	margin: 20px 0;
	color: #296EB3;
	background-color: #F0F5FA;
	padding: 10px;
}

.text-delete {
	margin: 20px 0;
	text-decoration-line: underline;
	color: #FF000A;
	background-color: #FBF7F7;
	padding: 10px;
}

.ban-cap-nhat.history-time-update {
	padding: 0;

}

.history-time-update {
	.date-dashboard {
		color: #6E7A8A;
	}

	ul {
		border-left: 1px dashed #D9D9D9;
		position: relative;
		margin-left: 15px;
		padding-left: 0;

		.flexs {
			justify-content: left;
		}

		li {
			padding: 10px 5px 10px 15px;
			cursor: pointer;

			.date-time-post {
				&::before {
					width: 10px;
					height: 10px;
					border-radius: 100%;
					background-color: #E5E5E5;
					content: '';
					display: inline-block;
					position: absolute;
					left: -5px;
					margin-top: 5px;

				}

			}

			&.active {
				background-color: #F0F5FA;

				.date-time-post {
					&::before {
						background-color: #296EB3;

					}

					.time-dashboard,
					.date-dashboard {
						color: $brand;
					}

				}
			}
		}

		.ly-do-khong-dat {
			font-weight: 500;
			margin-bottom: 0;
		}
	}
}

.custom-select {
	&.disabled {
		pointer-events: none;
		background: #FAFBFB;

		.select-selected {
			color: #9f9f9f;
		}
	}
}

input:disabled,
button:disabled {
	background-color: #FAFBFB;
	color: #9f9f9f;
}

.dropdown-noti.box-cms-shadow {
	padding-left: 30px;
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09);
	border-radius: 4px;
	padding: 10px 0;
}

.content-noti {
	display: none;
	width: 300px;
	position: absolute;
	top: 25px;
	right: -10px;
}

.dropdown-noti {
	height: 300px;
	overflow-y: scroll;

	li {
		border-bottom: 1px solid $border;
		padding: 15px 5px 15px 20px;
		position: relative;
		padding-left: 40px;

		a {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}

		.ti-bell {
			position: absolute;
			left: 15px;
			margin-top: 5px;
			font-size: 15px;
			color: #6E7A8A;
			font-weight: 600;
		}

		&.no-read-noti {
			background-color: #F0F5FA;

			a,
			.time-noti {
				color: $brand;
				font-weight: 700;
			}

			.time-noti {
				font-weight: inherit;
			}

			.ti-bell {
				color: $brand;
			}
		}
	}

	.time-noti {
		color: $text-des;
		font-size: 12px;
	}

}

.icon-thong-bao {
	cursor: pointer;
	position: relative;

	&:hover {
		.content-noti {
			display: block;
		}
	}
}

/* Quan ly tap chi--*/
.popup-show-filter{
	.flexs{
		justify-content: center;
	}
}
.box-seo-slug {
	position: relative;

	.link-to-seo {
		position: absolute;
		right: 5px;
		top: -15px;
		font-size: 14px;
		color: $brand;

		i {
			font-weight: 700;
			font-size: 14px;
			margin-right: 5px;
		}
	}
}


.list-check .add-items {
	padding-top: 0;
}

.body-detail-banner {
	.choose-img-upload .default-img-upload {
		margin: inherit;
	}

	.choose-img-upload .selected-img-upload {
		margin: inherit;
		right: inherit;
	}
}
.body-management-banner{
	.popup-show-filter .modal-body .scrollbar {
		height: 224px;
		padding-bottom: 30px;
	}
	tbody{
		.border-right-td{
			border-right: 1px solid $border;
		}
	}
}
.btn-action-send a,
.btn-action-save a {
	padding: 8px 10px !important;
	width: 115px;
}

#style-1::-webkit-scrollbar {
	width: 1.5px;
	height: 1.5px;
}
.body-detail-banner{
	
	.primary-cate{
		
		.primary-cate-item{
			background-color: #F0F5FA;
			border-radius: 4px;
			padding: 10px;
		}
	}
	.custom-select{
		position: absolute;
		width: 100px;
		right: 130px;
		top: 0;
		height: 25px;
		padding-top: 4px;
	}
	.select-items div, .select-selected {
		font-size: 13px;
	}
	.select-selected:after{
		top: 4px;
	}
	.check-cate-news{
		.card-body{
			padding: 0;
			padding-left: 30px;
			.sub-cate{
				display: inline-block;
				width: 100%;
				.custom-checkbox{
					background-color: #FDF5E8;
					border-radius: 4px;
					padding: 15px 10px 5px 10px;
					margin: 10px 0;
				}
				.custom-select{
					top:10px;
				}
				.label-custom{
					margin-bottom: 10px;
				}
			}
		}
		.card{
			border: none;
			overflow: inherit;
			margin: 15px 0;
		}
	
		.card-header{
			background-color: #F0F5FA;
			border-radius: 4px;
			border-bottom: 0;
			position: relative;
			padding: 2px 10px;

		}
		.label-custom:before{
			background-color: white;
		}
		.custom-select{
			background-color: white !important;
		}
		.custom-checkbox{
			position: relative;
			
		}
		.primary-cate{
			position: relative;
			display: inline-block;
			width: 100%;
			padding-bottom: 5px;
			.custom-select{
				right: 120px;
			}
		}
		.btn-link{
			width: 100px;
			display: inline-block;
			text-align: right;
			position: absolute;
			top: 10px;
			right: 0;
			text-decoration: none;
			color: $text-des;
			box-shadow: none;
			&::after{
				font-family: 'themify';
				content: "\e648";
			}
			
		}
	}
}
/*PC1336--*/
@media only screen and (max-width:1601px) {
	.login {
		.login-wrapper {
			height: 50%;
		}
	}

	.check-radio-custom p {
		margin: 0 5px !important;
	}

	.icon-chuc-nang {
		margin: 0 2px !important;
	}

	.label-green-bg {
		font-size: 12px;
	}

	.table-lead thead {
		font-size: 14px !important;
	}

	.body-detail-user {
		.modal-body {
			.btn-action a {
				width: 100px;
			}

		}

		.password-check {
			margin-right: 10px !important;
		}
	}

	.body-management-news {
		.content-right {
			.contents {
				.col-md-8 {
					-ms-flex: 0 0 50%;
					flex: 0 0 50%;
					max-width: 50%;
				}

				.col-md-2 {
					-ms-flex: 0 0 25%;
					flex: 0 0 25%;
					max-width: 25%;
				}
			}
		}

		.popup-xem-ls-cap-nhat {
			.content-xem-ls {
				.row {
					justify-content: center;
					height: 100%;
					.col-md-5 {
						-ms-flex: 0 35%;
						flex: 0 0 35%;
						max-width: 35%;
					}

					.col-md-2 {
						-ms-flex: 0 0 25%;
						flex: 0 0 25%;
						max-width: 25%;
					}
				}

			}
		}
	}
}

/*ipad ngang--*/
@media only screen and (max-width:1201px) {
	.login {
		.login-section-wrapper {
			padding: 40px;
		}
	}
}

/*ipad doc--*/
@media only screen and (max-width:960px) {
	.modal-dialog {
		padding: 0 10px;
	}
}

/*mobile--*/
@media only screen and (max-width:767px) {

	.login {
		.plus-login {
			align-items: flex-start;
		}

		.login-section-wrapper {
			padding: 20px 40px;
		}
	}
}

@media only screen and (max-width:360px) {
	.login {
		.login-section-wrapper {
			padding: 0px 20px;
		}
	}
}