@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;800&display=swap");
.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

button:focus {
  outline: none; }

.icon-chuc-nang {
  margin: 0 10px !important; }

.flexs {
  display: flex;
  align-items: center;
  justify-content: center; }

textarea {
  padding: 10px; }

input {
  padding: 5px 10px !important; }

.popup-log-in p {
  color: #777; }

.login .btn-action a {
  background-color: #286DB3;
  color: white; }
.login .plus-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; }
.login .popup-log-out .modal-body .qr-code {
  margin-bottom: 12px; }
.login .popup-log-out .modal-body p {
  color: #777; }
.login .login-wrapper {
  height: 75%; }
  .login .login-wrapper .tab-info {
    height: 380px; }
.login .tab-content {
  margin-top: 30px; }
.login .nav-tabs .nav-link:focus,
.login .nav-tabs .nav-link:hover {
  border-color: transparent; }
.login .nav-tabs .nav-link.active {
  color: #286CB3;
  border-color: transparent;
  background-color: #fff;
  border-bottom: 2px solid #286DB3; }
.login .nav-tabs .nav-item {
  width: 50%;
  text-align: center;
  border-bottom: 1px solid #E5E5E5; }

.modal-open .modal {
  background: #000000ba; }

.modal-dialog {
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }
  .modal-dialog .modal-content {
    position: relative;
    border: none; }
    .modal-dialog .modal-content .modal-header {
      padding: 7px;
      justify-content: center;
      background: #286DB3; }
      .modal-dialog .modal-content .modal-header .modal-title {
        color: #fff;
        font-size: 18px; }
      .modal-dialog .modal-content .modal-header .close {
        position: absolute;
        right: 15px;
        top: -30px;
        color: #fff;
        text-shadow: none;
        opacity: 1;
        background: #286DB3;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        text-align: center;
        padding: 3px 10px 8px 10px; }

.modal-body {
  text-align: center;
  padding: 10px 20px; }
  .modal-body h4 {
    margin: 15px 0 15px 0; }
  .modal-body .code-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 15px 0; }
    .modal-body .code-login input {
      width: 35px;
      height: 35px;
      margin: 0 10px; }
  .modal-body .btn-action {
    margin-bottom: 7px; }

.list-news-dashboard .date-time-post span {
  color: #66605c; }
.list-news-dashboard li a {
  cursor: pointer;
  color: #222 !important; }

.popup-preview-post .modal-dialog button span {
  font-size: 20px; }

.btn-action.btn-khong-dat a {
  border: 1px solid #F38E5A;
  color: #F38E5A;
  background-color: white;
  width: 100px;
  margin: 0 10px;
  padding-top: 6px; }

.btn-action.btn-xn a {
  width: 100px;
  padding-top: 6px; }

.popup-xn-post .modal-body {
  padding: 30px; }
  .popup-xn-post .modal-body .icon-xn-post {
    height: 214px;
    max-width: 100%; }
  .popup-xn-post .modal-body .btn-action a {
    margin-bottom: 0; }

.title-popup-xn {
  margin-top: 20px !important; }

.ly-do-khong-dat {
  margin-bottom: 20px;
  max-width: 300px; }

.date-time-post {
  color: #222;
  padding: 5px 0; }
  .date-time-post span {
    font-size: 14px; }
  .date-time-post .date-dashboard::before {
    content: '(';
    display: inline-block;
    margin-right: 5px;
    color: #999; }
  .date-time-post span::after {
    content: '|';
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    color: #999; }
  .date-time-post .nickname-dashboard::after {
    content: ')';
    display: inline-block;
    color: #999; }

.search-filed {
  margin-right: 10px !important; }

/*modal preview post*/
.modal .scrollbar {
  height: 100%;
  position: absolute;
  padding-top: 50px;
  left: 0;
  right: 0; }

.popup-preview-post .modal-dialog {
  max-width: 100%;
  height: inherit;
  margin: 0; }
  .popup-preview-post .modal-dialog .modal-content {
    height: 100%;
    border-radius: 0;
    overflow: hidden; }
    .popup-preview-post .modal-dialog .modal-content .modal-header {
      background: transparent;
      border-bottom: 0; }
      .popup-preview-post .modal-dialog .modal-content .modal-header .close {
        right: 30px;
        top: 20px;
        z-index: 9999; }
    .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview {
      padding: 20px 30px;
      background: white;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09);
      margin: 0 auto;
      text-align: left;
      max-width: 1000px; }
      .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .infor-news .content-title-news h1 {
        font-size: 32px;
        font-weight: bold;
        text-align: left; }
      .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .time-date-comment {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        margin-top: 0; }
        .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .time-date-comment .time-date {
          white-space: break-spaces; }
          .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .time-date-comment .time-date span {
            color: #323232;
            opacity: 0.6; }
        .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .time-date-comment .btn-baonoi {
          margin-left: 20px; }
          .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .time-date-comment .btn-baonoi audio {
            height: 45px; }
      .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .noidung-chitiet .descrep {
        margin-top: 30px;
        font-weight: 700;
        font-size: 16px;
        text-align: left; }
        .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .noidung-chitiet .descrep a {
          line-height: 26px; }
          .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .noidung-chitiet .descrep a:hover {
            color: #66605c; }
      .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .noidung-chitiet .avatar-news a {
        position: relative;
        padding-top: 56%;
        display: block; }
        .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .noidung-chitiet .avatar-news a img {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 2px;
          object-fit: cover;
          object-position: center;
          left: 0;
          top: 0;
          max-width: 100%; }
      .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .noidung-chitiet p {
        line-height: 32px;
        margin-bottom: 0; }
      .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .author {
        margin-top: 20px;
        text-align: right; }
        .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .author span {
          color: #da2328;
          text-transform: uppercase; }
      .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .separator--dotted {
        background: url(../images/line_title.svg) repeat-x top;
        display: inline-block;
        width: 100%;
        height: 7px; }
    .popup-preview-post .modal-dialog .modal-content .modal-body .btn-action {
      width: 100%;
      background: #fff;
      box-shadow: 0px 0px 11px rgba(18, 38, 63, 0.05);
      position: fixed;
      bottom: 0;
      left: 0;
      text-align: center;
      margin: 0; }
      .popup-preview-post .modal-dialog .modal-content .modal-body .btn-action .cancel {
        background-color: #FF000A; }
      .popup-preview-post .modal-dialog .modal-content .modal-body .btn-action .decry {
        background-color: #286DB3; }
      .popup-preview-post .modal-dialog .modal-content .modal-body .btn-action .accept {
        background-color: #F38E5A; }
      .popup-preview-post .modal-dialog .modal-content .modal-body .btn-action a {
        border: transparent;
        margin: 10px 2px; }
        .popup-preview-post .modal-dialog .modal-content .modal-body .btn-action a:hover {
          opacity: 0.9;
          color: white; }
    .popup-preview-post .modal-dialog .modal-content .modal-body .but-danh {
      color: #66605c !important;
      text-transform: inherit !important; }

.modal-header.no-modal-header {
  background: transparent !important;
  border-bottom: 0; }

/*------------- Management-news ---------*/
.body-management-magazine .box-cms-shadow.scrollbar {
  height: 430px; }

.title-box {
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  padding-bottom: 15px; }

.media-upload {
  width: 50%;
  text-align: left; }
  .media-upload .default-img-upload {
    margin-left: 0; }

.body-management-news .check-radio-custom p {
  margin-left: 0; }
.body-management-news .box-cms-shadow.scrollbar {
  height: 430px; }
.body-management-news .box-header-right {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center; }
.body-management-news .date-dashboard::before {
  content: '';
  display: inline-block; }
.body-management-news .time-dashboard::after {
  content: '';
  display: inline-block; }
.body-management-news .popup-xem-ls-cap-nha .content-xem-ls {
  max-width: 100%;
  text-align: left; }

.btn-filters {
  position: relative;
  display: inline-block;
  cursor: pointer; }
  .btn-filters i {
    background-color: #286DB3;
    border-radius: 4px;
    padding: 10px;
    color: white; }
    .btn-filters i:hover {
      opacity: 0.9; }
  .btn-filters span {
    position: absolute;
    right: -3px;
    top: -20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #F38E5A;
    color: white;
    font-size: 11px;
    padding-top: 2px;
    text-align: center; }

.popup-show-filter .modal-dialog {
  max-width: 584px;
  margin-right: 20px;
  height: initial;
  margin-top: 145px; }
.popup-show-filter .modal-body .box-cms-shadow {
  border: 1px solid #E5E5E5;
  text-align: left;
  position: relative; }
.popup-show-filter .modal-body .btn-action.btn-bo-loc a {
  border: 1px solid #FF000A;
  color: #FF000A;
  background-color: white !important;
  width: 100px;
  margin-right: 10px; }
.popup-show-filter .modal-body .btn-action.btn-loc a {
  border: 1px solid #286DB3;
  color: #286DB3;
  background-color: white;
  width: 100px; }
.popup-show-filter .modal-body .scrollbar {
  height: 340px; }

ul li {
  list-style: none; }

.search-filed input {
  padding-left: 30px !important; }

.primary-cate {
  padding-left: 0;
  margin-bottom: 0; }
  .primary-cate .custom-checkbox {
    margin: 10px 0;
    display: inline-block;
    width: 100%; }
  .primary-cate .sub-cate {
    padding-left: 25px; }
    .primary-cate .sub-cate .custom-checkbox {
      margin: 5px 0; }

.table-lead thead {
  background-color: #FBF7E9 !important; }

.table-lead tr:hover {
  background-color: #EDF5FF !important; }

/* Upload images */
.choose-img-upload {
  position: relative; }
  .choose-img-upload .default-img-upload {
    position: relative;
    max-width: 70px; }
  .choose-img-upload .selected-img-upload {
    position: absolute;
    top: 0;
    left: 0; }
    .choose-img-upload .selected-img-upload .img-selected {
      width: 70px;
      height: 70px;
      border-radius: 4px;
      border: 1px solid #E5E5E5; }
  .choose-img-upload .close-img {
    position: absolute;
    left: -3px;
    top: -5px;
    height: 25px;
    cursor: pointer; }

/* End Upload images */
.custom-file-upload .image-container {
  margin: 0;
  max-width: 70px;
  position: absolute;
  z-index: 999; }
.custom-file-upload .image-container img {
  display: block;
  position: relative;
  max-width: 100%;
  margin: 0;
  height: 70px; }
.custom-file-upload figcaption {
  margin: 20px 0 30px 0;
  text-align: center;
  color: #2a292a; }
.custom-file-upload input[type="file"] {
  display: none; }
.custom-file-upload label {
  width: 100%;
  height: 70px;
  position: relative;
  text-align: center;
  margin: auto;
  cursor: pointer; }

/* ------------------ Detail news---------------- */
.popup-xem-ls-cap-nhat .xem-ls {
  width: initial;
  padding-bottom: 0; }

.body-management-news .flexs {
  justify-content: left; }

.lable-bai-tu-choi {
  color: #C92027;
  background-color: #FCEBEC;
  border-radius: 3px;
  padding: 3px;
  margin-bottom: 0;
  cursor: pointer; }
  .lable-bai-tu-choi img {
    margin-left: 5px; }

.label-bai-da-duyet {
  cursor: pointer;
  color: #03A614;
  background-color: #F1FEF6;
  border-radius: 3px;
  padding: 3px;
  margin-bottom: 0; }
  .label-bai-da-duyet img {
    display: none; }

.label-bai-cho-duyet {
  cursor: pointer;
  color: #03A614;
  background-color: #f9f5e9;
  border-radius: 3px;
  padding: 3px;
  margin-bottom: 0; }
  .label-bai-cho-duyet img {
    display: none; }

.noi-dung-tu-choi {
  text-align: left; }

.btn-back-to {
  margin-right: 15px;
  margin-top: 5px; }
  .btn-back-to a {
    color: #286DB3 !important; }
    .btn-back-to a i {
      color: #286DB3;
      font-weight: 700; }

.box-upload-detail-news {
  display: flex;
  align-items: center;
  margin: 10px 0 15px 0; }

.file-upload-w-file-name {
  margin-right: 15px; }
  .file-upload-w-file-name [type=file] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 150px; }
  .file-upload-w-file-name [type=file] + label {
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    width: 150px;
    margin: 0;
    position: relative;
    background: white;
    color: #286DB3;
    border: 1px solid #286DB3;
    cursor: pointer; }
    .file-upload-w-file-name [type=file] + label img {
      margin-right: 5px; }

.box-convert {
  position: relative;
  display: inline-block;
  width: 100%; }

.btn-convert-default {
  cursor: pointer;
  text-align: center;
  background-color: white;
  border: 1px solid #286DB3;
  border-radius: 3px;
  padding: 8px 10px 5px 10px;
  color: #286DB3;
  width: 150px;
  height: 41px; }
  .btn-convert-default a {
    color: #286DB3; }
  .btn-convert-default img {
    margin-right: 5px; }

.btn-convert-selected {
  position: absolute;
  top: -2px;
  cursor: pointer;
  background-color: #F3F6F9;
  padding: 10px;
  border-radius: 4px; }
  .btn-convert-selected a {
    float: left; }
  .btn-convert-selected .flexs {
    float: left; }
  .btn-convert-selected img {
    margin-right: 5px; }

.box-upload-detail-news .btn-action.btn-save a {
  cursor: pointer;
  width: 80px;
  height: 25px;
  padding: 2px 5px 5px 5px;
  margin-right: 10px; }
.box-upload-detail-news .btn-action.btn-cancel a {
  color: #F38E5A;
  background-color: white;
  border: 1px solid #F38E5A;
  border-radius: 4px;
  width: 80px;
  height: 25px;
  padding: 2px 5px 5px 5px; }

.xem-ls {
  cursor: pointer;
  color: #C92027;
  text-decoration-line: underline;
  width: 100%;
  display: inline-block;
  padding-bottom: 15px; }

.box-seo input {
  margin: 10px 0; }

.seo-slug {
  text-decoration-line: underline;
  font-weight: 600;
  color: #66605c; }

.tags-input-wrapper {
  background: transparent;
  padding: 10px;
  border-radius: 4px;
  max-width: 400px;
  border: 1px solid #ccc; }

.tags-input-wrapper input {
  border: none;
  background: transparent;
  outline: none;
  width: 140px;
  margin-left: 8px; }
  .tags-input-wrapper input:focus {
    border: transparent; }

.tags-input-wrapper .tag {
  display: inline-block;
  background-color: #296db3;
  color: white;
  border-radius: 40px;
  padding: 3px 3px 0px 10px;
  margin-right: 5px;
  margin-bottom: 5px; }

.tags-input-wrapper .tag a {
  margin: 0 7px 3px;
  display: inline-block;
  cursor: pointer; }

.lich-su {
  margin-bottom: 5px; }
  .lich-su .nguoi-duyet,
  .lich-su .time-duyet,
  .lich-su .nguoi-gui-duyet,
  .lich-su .nguoi-tao {
    color: #222; }
  .lich-su .time-duyet::before,
  .lich-su .nguoi-gui-duyet::before,
  .lich-su .nguoi-tao::before {
    content: '|';
    display: inline-block;
    margin-right: 5px; }
  .lich-su span {
    color: #66605c; }

.content-xem-ls {
  text-align: left;
  padding: 0 20px;
  padding-bottom: 30px; }
  .content-xem-ls .header-secon {
    margin-left: 0;
    margin-bottom: 20px; }
  .content-xem-ls .ban-cap-nhat {
    height: 100%;
    line-height: 22px;
    padding-top: 35px !important;
    position: relative;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 0px 11px rgba(18, 38, 63, 0.05);
    border-radius: 4px; }
    .content-xem-ls .ban-cap-nhat .main-title {
      line-height: 22px; }
      .content-xem-ls .ban-cap-nhat .main-title a {
        font-size: 16px; }
    .content-xem-ls .ban-cap-nhat .date-time-post .date-dashboard::before {
      margin-right: 0; }
    .content-xem-ls .ban-cap-nhat .mo-ta-bv-chinh-sua {
      color: #66605c; }
    .content-xem-ls .ban-cap-nhat .postion-img {
      position: absolute;
      top: -15px;
      left: -19px;
      max-width: 55px; }
    .content-xem-ls .ban-cap-nhat .avatar-news {
      display: initial; }
      .content-xem-ls .ban-cap-nhat .avatar-news a {
        position: relative;
        padding-top: 56%;
        display: block; }
        .content-xem-ls .ban-cap-nhat .avatar-news a img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          left: 0;
          top: 0; }
      .content-xem-ls .ban-cap-nhat .avatar-news.img-update-news img {
        border: 1px solid #286DB3; }
    .content-xem-ls .ban-cap-nhat .nguoi-chinh-sua.flexs {
      justify-content: left;
      margin: 10px 0; }
      .content-xem-ls .ban-cap-nhat .nguoi-chinh-sua.flexs img {
        height: 25px;
        margin-right: 5px; }

.text-update {
  margin: 20px 0;
  color: #296EB3;
  background-color: #F0F5FA;
  padding: 10px; }

.text-delete {
  margin: 20px 0;
  text-decoration-line: underline;
  color: #FF000A;
  background-color: #FBF7F7;
  padding: 10px; }

.ban-cap-nhat.history-time-update {
  padding: 0; }

.history-time-update .date-dashboard {
  color: #6E7A8A; }
.history-time-update ul {
  border-left: 1px dashed #D9D9D9;
  position: relative;
  margin-left: 15px;
  padding-left: 0; }
  .history-time-update ul .flexs {
    justify-content: left; }
  .history-time-update ul li {
    padding: 10px 5px 10px 15px;
    cursor: pointer; }
    .history-time-update ul li .date-time-post::before {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: #E5E5E5;
      content: '';
      display: inline-block;
      position: absolute;
      left: -5px;
      margin-top: 5px; }
    .history-time-update ul li.active {
      background-color: #F0F5FA; }
      .history-time-update ul li.active .date-time-post::before {
        background-color: #296EB3; }
      .history-time-update ul li.active .date-time-post .time-dashboard,
      .history-time-update ul li.active .date-time-post .date-dashboard {
        color: #286DB3; }
  .history-time-update ul .ly-do-khong-dat {
    font-weight: 500;
    margin-bottom: 0; }

.custom-select.disabled {
  pointer-events: none;
  background: #FAFBFB; }
  .custom-select.disabled .select-selected {
    color: #9f9f9f; }

input:disabled,
button:disabled {
  background-color: #FAFBFB;
  color: #9f9f9f; }

.dropdown-noti.box-cms-shadow {
  padding-left: 30px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  padding: 10px 0; }

.content-noti {
  display: none;
  width: 300px;
  position: absolute;
  top: 25px;
  right: -10px; }

.dropdown-noti {
  height: 300px;
  overflow-y: scroll; }
  .dropdown-noti li {
    border-bottom: 1px solid #E5E5E5;
    padding: 15px 5px 15px 20px;
    position: relative;
    padding-left: 40px; }
    .dropdown-noti li a {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .dropdown-noti li .ti-bell {
      position: absolute;
      left: 15px;
      margin-top: 5px;
      font-size: 15px;
      color: #6E7A8A;
      font-weight: 600; }
    .dropdown-noti li.no-read-noti {
      background-color: #F0F5FA; }
      .dropdown-noti li.no-read-noti a,
      .dropdown-noti li.no-read-noti .time-noti {
        color: #286DB3;
        font-weight: 700; }
      .dropdown-noti li.no-read-noti .time-noti {
        font-weight: inherit; }
      .dropdown-noti li.no-read-noti .ti-bell {
        color: #286DB3; }
  .dropdown-noti .time-noti {
    color: #66605c;
    font-size: 12px; }

.icon-thong-bao {
  cursor: pointer;
  position: relative; }
  .icon-thong-bao:hover .content-noti {
    display: block; }

/* Quan ly tap chi--*/
.popup-show-filter .flexs {
  justify-content: center; }

.box-seo-slug {
  position: relative; }
  .box-seo-slug .link-to-seo {
    position: absolute;
    right: 5px;
    top: -15px;
    font-size: 14px;
    color: #286DB3; }
    .box-seo-slug .link-to-seo i {
      font-weight: 700;
      font-size: 14px;
      margin-right: 5px; }

.list-check .add-items {
  padding-top: 0; }

.body-detail-banner .choose-img-upload .default-img-upload {
  margin: inherit; }
.body-detail-banner .choose-img-upload .selected-img-upload {
  margin: inherit;
  right: inherit; }

.body-management-banner .popup-show-filter .modal-body .scrollbar {
  height: 224px;
  padding-bottom: 30px; }
.body-management-banner tbody .border-right-td {
  border-right: 1px solid #E5E5E5; }

.btn-action-send a,
.btn-action-save a {
  padding: 8px 10px !important;
  width: 115px; }

#style-1::-webkit-scrollbar {
  width: 1.5px;
  height: 1.5px; }

.body-detail-banner .primary-cate .primary-cate-item {
  background-color: #F0F5FA;
  border-radius: 4px;
  padding: 10px; }
.body-detail-banner .custom-select {
  position: absolute;
  width: 100px;
  right: 130px;
  top: 0;
  height: 25px;
  padding-top: 4px; }
.body-detail-banner .select-items div, .body-detail-banner .select-selected {
  font-size: 13px; }
.body-detail-banner .select-selected:after {
  top: 4px; }
.body-detail-banner .check-cate-news .card-body {
  padding: 0;
  padding-left: 30px; }
  .body-detail-banner .check-cate-news .card-body .sub-cate {
    display: inline-block;
    width: 100%; }
    .body-detail-banner .check-cate-news .card-body .sub-cate .custom-checkbox {
      background-color: #FDF5E8;
      border-radius: 4px;
      padding: 15px 10px 5px 10px;
      margin: 10px 0; }
    .body-detail-banner .check-cate-news .card-body .sub-cate .custom-select {
      top: 10px; }
    .body-detail-banner .check-cate-news .card-body .sub-cate .label-custom {
      margin-bottom: 10px; }
.body-detail-banner .check-cate-news .card {
  border: none;
  overflow: inherit;
  margin: 15px 0; }
.body-detail-banner .check-cate-news .card-header {
  background-color: #F0F5FA;
  border-radius: 4px;
  border-bottom: 0;
  position: relative;
  padding: 2px 10px; }
.body-detail-banner .check-cate-news .label-custom:before {
  background-color: white; }
.body-detail-banner .check-cate-news .custom-select {
  background-color: white !important; }
.body-detail-banner .check-cate-news .custom-checkbox {
  position: relative; }
.body-detail-banner .check-cate-news .primary-cate {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 5px; }
  .body-detail-banner .check-cate-news .primary-cate .custom-select {
    right: 120px; }
.body-detail-banner .check-cate-news .btn-link {
  width: 100px;
  display: inline-block;
  text-align: right;
  position: absolute;
  top: 10px;
  right: 0;
  text-decoration: none;
  color: #66605c;
  box-shadow: none; }
  .body-detail-banner .check-cate-news .btn-link::after {
    font-family: 'themify';
    content: "\e648"; }

/*PC1336--*/
@media only screen and (max-width: 1601px) {
  .login .login-wrapper {
    height: 50%; }

  .check-radio-custom p {
    margin: 0 5px !important; }

  .icon-chuc-nang {
    margin: 0 2px !important; }

  .label-green-bg {
    font-size: 12px; }

  .table-lead thead {
    font-size: 14px !important; }

  .body-detail-user .modal-body .btn-action a {
    width: 100px; }
  .body-detail-user .password-check {
    margin-right: 10px !important; }

  .body-management-news .content-right .contents .col-md-8 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .body-management-news .content-right .contents .col-md-2 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .body-management-news .popup-xem-ls-cap-nhat .content-xem-ls .row {
    justify-content: center;
    height: 100%; }
    .body-management-news .popup-xem-ls-cap-nhat .content-xem-ls .row .col-md-5 {
      -ms-flex: 0 35%;
      flex: 0 0 35%;
      max-width: 35%; }
    .body-management-news .popup-xem-ls-cap-nhat .content-xem-ls .row .col-md-2 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%; } }
/*ipad ngang--*/
@media only screen and (max-width: 1201px) {
  .login .login-section-wrapper {
    padding: 40px; } }
/*ipad doc--*/
@media only screen and (max-width: 960px) {
  .modal-dialog {
    padding: 0 10px; } }
/*mobile--*/
@media only screen and (max-width: 767px) {
  .login .plus-login {
    align-items: flex-start; }
  .login .login-section-wrapper {
    padding: 20px 40px; } }
@media only screen and (max-width: 360px) {
  .login .login-section-wrapper {
    padding: 0px 20px; } }

/*# sourceMappingURL=hai.css.map */
