@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;800&display=swap");
.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

button:focus {
  outline: none; }

.icon-chuc-nang {
  margin: 0 10px !important; }

.flexs {
  display: flex;
  align-items: center;
  justify-content: center; }

textarea {
  padding: 10px; }

input {
  padding: 5px 10px !important; }

.popup-log-in p {
  color: #777; }

.login .btn-action a {
  background-color: #286DB3;
  color: white; }
.login .plus-login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; }
.login .popup-log-out .modal-body .qr-code {
  margin-bottom: 12px; }
.login .popup-log-out .modal-body p {
  color: #777; }
.login .login-wrapper {
  height: 75%; }
  .login .login-wrapper .tab-info {
    height: 380px; }
.login .tab-content {
  margin-top: 30px; }
.login .nav-tabs .nav-link:focus,
.login .nav-tabs .nav-link:hover {
  border-color: transparent; }
.login .nav-tabs .nav-link.active {
  color: #286CB3;
  border-color: transparent;
  background-color: #fff;
  border-bottom: 2px solid #286DB3; }
.login .nav-tabs .nav-item {
  width: 50%;
  text-align: center;
  border-bottom: 1px solid #E5E5E5; }

.modal-open .modal {
  background: #000000ba; }

.modal-dialog {
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }
  .modal-dialog .modal-content {
    position: relative;
    border: none; }
    .modal-dialog .modal-content .modal-header {
      padding: 7px;
      justify-content: center;
      background: #286DB3; }
      .modal-dialog .modal-content .modal-header .modal-title {
        color: #fff;
        font-size: 18px; }
      .modal-dialog .modal-content .modal-header .close {
        position: absolute;
        right: 15px;
        top: -30px;
        color: #fff;
        text-shadow: none;
        opacity: 1;
        background: #286DB3;
        border-radius: 100%;
        width: 35px;
        height: 35px;
        text-align: center;
        padding: 3px 10px 8px 10px; }

.modal-body {
  text-align: center;
  padding: 10px 20px; }
  .modal-body h4 {
    margin: 15px 0 15px 0; }
  .modal-body .code-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0 15px 0; }
    .modal-body .code-login input {
      width: 35px;
      height: 35px;
      margin: 0 10px; }
  .modal-body .btn-action {
    margin-bottom: 7px; }

.list-news-dashboard .date-time-post span {
  color: #66605c; }
.list-news-dashboard li a {
  cursor: pointer;
  color: #222 !important; }

.popup-preview-post .modal-dialog button span {
  font-size: 20px; }

.btn-action.btn-khong-dat a {
  border: 1px solid #F38E5A;
  color: #F38E5A;
  background-color: white;
  width: 100px;
  margin: 0 10px;
  padding-top: 6px; }

.btn-action.btn-xn a {
  width: 100px;
  padding-top: 6px; }

.popup-xn-post .modal-body {
  padding: 30px; }
  .popup-xn-post .modal-body .icon-xn-post {
    height: 214px;
    max-width: 100%; }
  .popup-xn-post .modal-body .btn-action a {
    margin-bottom: 0; }

.title-popup-xn {
  margin-top: 20px !important; }

.ly-do-khong-dat {
  margin-bottom: 20px;
  max-width: 300px; }

.date-time-post {
  color: #222;
  padding: 5px 0; }
  .date-time-post span {
    font-size: 14px; }
  .date-time-post .date-dashboard::before {
    content: '(';
    display: inline-block;
    margin-right: 5px;
    color: #999; }
  .date-time-post span::after {
    content: '|';
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    color: #999; }
  .date-time-post .nickname-dashboard::after {
    content: ')';
    display: inline-block;
    color: #999; }

.search-filed {
  margin-right: 10px !important; }

/*modal preview post*/
.modal .scrollbar {
  height: 100%;
  position: absolute;
  padding-top: 50px;
  left: 0;
  right: 0; }

.popup-preview-post .modal-dialog {
  max-width: 100%;
  height: inherit;
  margin: 0; }
  .popup-preview-post .modal-dialog .modal-content {
    height: 100%;
    border-radius: 0;
    overflow: hidden; }
    .popup-preview-post .modal-dialog .modal-content .modal-header {
      background: transparent;
      border-bottom: 0; }
      .popup-preview-post .modal-dialog .modal-content .modal-header .close {
        right: 30px;
        top: 20px;
        z-index: 9999; }
    .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview {
      padding: 20px 30px;
      background: white;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09);
      margin: 0 auto;
      text-align: left;
      max-width: 1000px; }
      .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .infor-news .content-title-news h1 {
        font-size: 32px;
        font-weight: bold;
        text-align: left; }
      .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .time-date-comment {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        margin-top: 0; }
        .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .time-date-comment .time-date {
          white-space: break-spaces; }
          .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .time-date-comment .time-date span {
            color: #323232;
            opacity: 0.6; }
        .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .time-date-comment .btn-baonoi {
          margin-left: 20px; }
          .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .time-date-comment .btn-baonoi audio {
            height: 45px; }
      .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .noidung-chitiet .descrep {
        margin-top: 30px;
        font-weight: 700;
        font-size: 16px;
        text-align: left; }
        .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .noidung-chitiet .descrep a {
          line-height: 26px; }
          .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .noidung-chitiet .descrep a:hover {
            color: #66605c; }
      .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .noidung-chitiet .avatar-news a {
        position: relative;
        padding-top: 56%;
        display: block; }
        .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .noidung-chitiet .avatar-news a img {
          position: absolute;
          width: 100%;
          height: 100%;
          border-radius: 2px;
          object-fit: cover;
          object-position: center;
          left: 0;
          top: 0;
          max-width: 100%; }
      .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .noidung-chitiet p {
        line-height: 32px;
        margin-bottom: 0; }
      .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .author {
        margin-top: 20px;
        text-align: right; }
        .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .author span {
          color: #da2328;
          text-transform: uppercase; }
      .popup-preview-post .modal-dialog .modal-content .modal-body .content-preview .noidung-baiviet .separator--dotted {
        background: url(../images/line_title.svg) repeat-x top;
        display: inline-block;
        width: 100%;
        height: 7px; }
    .popup-preview-post .modal-dialog .modal-content .modal-body .btn-action {
      width: 100%;
      background: #fff;
      box-shadow: 0px 0px 11px rgba(18, 38, 63, 0.05);
      position: fixed;
      bottom: 0;
      left: 0;
      text-align: center;
      margin: 0; }
      .popup-preview-post .modal-dialog .modal-content .modal-body .btn-action .cancel {
        background-color: #FF000A; }
      .popup-preview-post .modal-dialog .modal-content .modal-body .btn-action .decry {
        background-color: #286DB3; }
      .popup-preview-post .modal-dialog .modal-content .modal-body .btn-action .accept {
        background-color: #F38E5A; }
      .popup-preview-post .modal-dialog .modal-content .modal-body .btn-action a {
        border: transparent;
        margin: 10px 2px; }
        .popup-preview-post .modal-dialog .modal-content .modal-body .btn-action a:hover {
          opacity: 0.9;
          color: white; }
    .popup-preview-post .modal-dialog .modal-content .modal-body .but-danh {
      color: #66605c !important;
      text-transform: inherit !important; }

.modal-header.no-modal-header {
  background: transparent !important;
  border-bottom: 0; }

/*------------- Management-news ---------*/
.body-management-magazine .box-cms-shadow.scrollbar {
  height: 430px; }

.title-box {
  font-size: 15px;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  padding-bottom: 15px; }

.media-upload {
  width: 50%;
  text-align: left; }
  .media-upload .default-img-upload {
    margin-left: 0; }

.body-management-news .check-radio-custom p {
  margin-left: 0; }
.body-management-news .box-cms-shadow.scrollbar {
  height: 430px; }
.body-management-news .box-header-right {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center; }
.body-management-news .date-dashboard::before {
  content: '';
  display: inline-block; }
.body-management-news .time-dashboard::after {
  content: '';
  display: inline-block; }
.body-management-news .popup-xem-ls-cap-nha .content-xem-ls {
  max-width: 100%;
  text-align: left; }

.btn-filters {
  position: relative;
  display: inline-block;
  cursor: pointer; }
  .btn-filters i {
    background-color: #286DB3;
    border-radius: 4px;
    padding: 10px;
    color: white; }
    .btn-filters i:hover {
      opacity: 0.9; }
  .btn-filters span {
    position: absolute;
    right: -3px;
    top: -20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #F38E5A;
    color: white;
    font-size: 11px;
    padding-top: 2px;
    text-align: center; }

.popup-show-filter .modal-dialog {
  max-width: 584px;
  margin-right: 20px;
  height: initial;
  margin-top: 145px; }
.popup-show-filter .modal-body .box-cms-shadow {
  border: 1px solid #E5E5E5;
  text-align: left;
  position: relative; }
.popup-show-filter .modal-body .btn-action.btn-bo-loc a {
  border: 1px solid #FF000A;
  color: #FF000A;
  background-color: white !important;
  width: 100px;
  margin-right: 10px; }
.popup-show-filter .modal-body .btn-action.btn-loc a {
  border: 1px solid #286DB3;
  color: #286DB3;
  background-color: white;
  width: 100px; }
.popup-show-filter .modal-body .scrollbar {
  height: 340px; }

ul li {
  list-style: none; }

.search-filed input {
  padding-left: 30px !important; }

.primary-cate {
  padding-left: 0;
  margin-bottom: 0; }
  .primary-cate .custom-checkbox {
    margin: 10px 0;
    display: inline-block;
    width: 100%; }
  .primary-cate .sub-cate {
    padding-left: 25px; }
    .primary-cate .sub-cate .custom-checkbox {
      margin: 5px 0; }

.table-lead thead {
  background-color: #FBF7E9 !important; }

.table-lead tr:hover {
  background-color: #EDF5FF !important; }

/* Upload images */
.choose-img-upload {
  position: relative; }
  .choose-img-upload .default-img-upload {
    position: relative;
    max-width: 70px; }
  .choose-img-upload .selected-img-upload {
    position: absolute;
    top: 0;
    left: 0; }
    .choose-img-upload .selected-img-upload .img-selected {
      width: 70px;
      height: 70px;
      border-radius: 4px;
      border: 1px solid #E5E5E5; }
  .choose-img-upload .close-img {
    position: absolute;
    left: -3px;
    top: -5px;
    height: 25px;
    cursor: pointer; }

/* End Upload images */
.custom-file-upload .image-container {
  margin: 0;
  max-width: 70px;
  position: absolute;
  z-index: 999; }
.custom-file-upload .image-container img {
  display: block;
  position: relative;
  max-width: 100%;
  margin: 0;
  height: 70px; }
.custom-file-upload figcaption {
  margin: 20px 0 30px 0;
  text-align: center;
  color: #2a292a; }
.custom-file-upload input[type="file"] {
  display: none; }
.custom-file-upload label {
  width: 100%;
  height: 70px;
  position: relative;
  text-align: center;
  margin: auto;
  cursor: pointer; }

/* ------------------ Detail news---------------- */
.popup-xem-ls-cap-nhat .xem-ls {
  width: initial;
  padding-bottom: 0; }

.body-management-news .flexs {
  justify-content: left; }

.lable-bai-tu-choi {
  color: #C92027;
  background-color: #FCEBEC;
  border-radius: 3px;
  padding: 3px;
  margin-bottom: 0;
  cursor: pointer; }
  .lable-bai-tu-choi img {
    margin-left: 5px; }

.label-bai-da-duyet {
  cursor: pointer;
  color: #03A614;
  background-color: #F1FEF6;
  border-radius: 3px;
  padding: 3px;
  margin-bottom: 0; }
  .label-bai-da-duyet img {
    display: none; }

.label-bai-cho-duyet {
  cursor: pointer;
  color: #03A614;
  background-color: #f9f5e9;
  border-radius: 3px;
  padding: 3px;
  margin-bottom: 0; }
  .label-bai-cho-duyet img {
    display: none; }

.noi-dung-tu-choi {
  text-align: left; }

.btn-back-to {
  margin-right: 15px;
  margin-top: 5px; }
  .btn-back-to a {
    color: #286DB3 !important; }
    .btn-back-to a i {
      color: #286DB3;
      font-weight: 700; }

.box-upload-detail-news {
  display: flex;
  align-items: center;
  margin: 10px 0 15px 0; }

.file-upload-w-file-name {
  margin-right: 15px; }
  .file-upload-w-file-name [type=file] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 150px; }
  .file-upload-w-file-name [type=file] + label {
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    width: 150px;
    margin: 0;
    position: relative;
    background: white;
    color: #286DB3;
    border: 1px solid #286DB3;
    cursor: pointer; }
    .file-upload-w-file-name [type=file] + label img {
      margin-right: 5px; }

.box-convert {
  position: relative;
  display: inline-block;
  width: 100%; }

.btn-convert-default {
  cursor: pointer;
  text-align: center;
  background-color: white;
  border: 1px solid #286DB3;
  border-radius: 3px;
  padding: 8px 10px 5px 10px;
  color: #286DB3;
  width: 150px;
  height: 41px; }
  .btn-convert-default a {
    color: #286DB3; }
  .btn-convert-default img {
    margin-right: 5px; }

.btn-convert-selected {
  position: absolute;
  top: -2px;
  cursor: pointer;
  background-color: #F3F6F9;
  padding: 10px;
  border-radius: 4px; }
  .btn-convert-selected a {
    float: left; }
  .btn-convert-selected .flexs {
    float: left; }
  .btn-convert-selected img {
    margin-right: 5px; }

.box-upload-detail-news .btn-action.btn-save a {
  cursor: pointer;
  width: 80px;
  height: 25px;
  padding: 2px 5px 5px 5px;
  margin-right: 10px; }
.box-upload-detail-news .btn-action.btn-cancel a {
  color: #F38E5A;
  background-color: white;
  border: 1px solid #F38E5A;
  border-radius: 4px;
  width: 80px;
  height: 25px;
  padding: 2px 5px 5px 5px; }

.xem-ls {
  cursor: pointer;
  color: #C92027;
  text-decoration-line: underline;
  width: 100%;
  display: inline-block;
  padding-bottom: 15px; }

.box-seo input {
  margin: 10px 0; }

.seo-slug {
  text-decoration-line: underline;
  font-weight: 600;
  color: #66605c; }

.tags-input-wrapper {
  background: transparent;
  padding: 10px;
  border-radius: 4px;
  max-width: 400px;
  border: 1px solid #ccc; }

.tags-input-wrapper input {
  border: none;
  background: transparent;
  outline: none;
  width: 140px;
  margin-left: 8px; }
  .tags-input-wrapper input:focus {
    border: transparent; }

.tags-input-wrapper .tag {
  display: inline-block;
  background-color: #296db3;
  color: white;
  border-radius: 40px;
  padding: 3px 3px 0px 10px;
  margin-right: 5px;
  margin-bottom: 5px; }

.tags-input-wrapper .tag a {
  margin: 0 7px 3px;
  display: inline-block;
  cursor: pointer; }

.lich-su {
  margin-bottom: 5px; }
  .lich-su .nguoi-duyet,
  .lich-su .time-duyet,
  .lich-su .nguoi-gui-duyet,
  .lich-su .nguoi-tao {
    color: #222; }
  .lich-su .time-duyet::before,
  .lich-su .nguoi-gui-duyet::before,
  .lich-su .nguoi-tao::before {
    content: '|';
    display: inline-block;
    margin-right: 5px; }
  .lich-su span {
    color: #66605c; }

.content-xem-ls {
  text-align: left;
  padding: 0 20px;
  padding-bottom: 30px; }
  .content-xem-ls .header-secon {
    margin-left: 0;
    margin-bottom: 20px; }
  .content-xem-ls .ban-cap-nhat {
    height: 100%;
    line-height: 22px;
    padding-top: 35px !important;
    position: relative;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 0px 11px rgba(18, 38, 63, 0.05);
    border-radius: 4px; }
    .content-xem-ls .ban-cap-nhat .main-title {
      line-height: 22px; }
      .content-xem-ls .ban-cap-nhat .main-title a {
        font-size: 16px; }
    .content-xem-ls .ban-cap-nhat .date-time-post .date-dashboard::before {
      margin-right: 0; }
    .content-xem-ls .ban-cap-nhat .mo-ta-bv-chinh-sua {
      color: #66605c; }
    .content-xem-ls .ban-cap-nhat .postion-img {
      position: absolute;
      top: -15px;
      left: -19px;
      max-width: 55px; }
    .content-xem-ls .ban-cap-nhat .avatar-news {
      display: initial; }
      .content-xem-ls .ban-cap-nhat .avatar-news a {
        position: relative;
        padding-top: 56%;
        display: block; }
        .content-xem-ls .ban-cap-nhat .avatar-news a img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          left: 0;
          top: 0; }
      .content-xem-ls .ban-cap-nhat .avatar-news.img-update-news img {
        border: 1px solid #286DB3; }
    .content-xem-ls .ban-cap-nhat .nguoi-chinh-sua.flexs {
      justify-content: left;
      margin: 10px 0; }
      .content-xem-ls .ban-cap-nhat .nguoi-chinh-sua.flexs img {
        height: 25px;
        margin-right: 5px; }

.text-update {
  margin: 20px 0;
  color: #296EB3;
  background-color: #F0F5FA;
  padding: 10px; }

.text-delete {
  margin: 20px 0;
  text-decoration-line: underline;
  color: #FF000A;
  background-color: #FBF7F7;
  padding: 10px; }

.ban-cap-nhat.history-time-update {
  padding: 0; }

.history-time-update .date-dashboard {
  color: #6E7A8A; }
.history-time-update ul {
  border-left: 1px dashed #D9D9D9;
  position: relative;
  margin-left: 15px;
  padding-left: 0; }
  .history-time-update ul .flexs {
    justify-content: left; }
  .history-time-update ul li {
    padding: 10px 5px 10px 15px;
    cursor: pointer; }
    .history-time-update ul li .date-time-post::before {
      width: 10px;
      height: 10px;
      border-radius: 100%;
      background-color: #E5E5E5;
      content: '';
      display: inline-block;
      position: absolute;
      left: -5px;
      margin-top: 5px; }
    .history-time-update ul li.active {
      background-color: #F0F5FA; }
      .history-time-update ul li.active .date-time-post::before {
        background-color: #296EB3; }
      .history-time-update ul li.active .date-time-post .time-dashboard,
      .history-time-update ul li.active .date-time-post .date-dashboard {
        color: #286DB3; }
  .history-time-update ul .ly-do-khong-dat {
    font-weight: 500;
    margin-bottom: 0; }

.custom-select.disabled {
  pointer-events: none;
  background: #FAFBFB; }
  .custom-select.disabled .select-selected {
    color: #9f9f9f; }

input:disabled,
button:disabled {
  background-color: #FAFBFB;
  color: #9f9f9f; }

.dropdown-noti.box-cms-shadow {
  padding-left: 30px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09);
  border-radius: 4px;
  padding: 10px 0; }

.content-noti {
  display: none;
  width: 300px;
  position: absolute;
  top: 25px;
  right: -10px; }

.dropdown-noti {
  height: 300px;
  overflow-y: scroll; }
  .dropdown-noti li {
    border-bottom: 1px solid #E5E5E5;
    padding: 15px 5px 15px 20px;
    position: relative;
    padding-left: 40px; }
    .dropdown-noti li a {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .dropdown-noti li .ti-bell {
      position: absolute;
      left: 15px;
      margin-top: 5px;
      font-size: 15px;
      color: #6E7A8A;
      font-weight: 600; }
    .dropdown-noti li.no-read-noti {
      background-color: #F0F5FA; }
      .dropdown-noti li.no-read-noti a,
      .dropdown-noti li.no-read-noti .time-noti {
        color: #286DB3;
        font-weight: 700; }
      .dropdown-noti li.no-read-noti .time-noti {
        font-weight: inherit; }
      .dropdown-noti li.no-read-noti .ti-bell {
        color: #286DB3; }
  .dropdown-noti .time-noti {
    color: #66605c;
    font-size: 12px; }

.icon-thong-bao {
  cursor: pointer;
  position: relative; }
  .icon-thong-bao:hover .content-noti {
    display: block; }

/* Quan ly tap chi--*/
.popup-show-filter .flexs {
  justify-content: center; }

.box-seo-slug {
  position: relative; }
  .box-seo-slug .link-to-seo {
    position: absolute;
    right: 5px;
    top: -15px;
    font-size: 14px;
    color: #286DB3; }
    .box-seo-slug .link-to-seo i {
      font-weight: 700;
      font-size: 14px;
      margin-right: 5px; }

.list-check .add-items {
  padding-top: 0; }

.body-detail-banner .choose-img-upload .default-img-upload {
  margin: inherit; }
.body-detail-banner .choose-img-upload .selected-img-upload {
  margin: inherit;
  right: inherit; }

.body-management-banner .popup-show-filter .modal-body .scrollbar {
  height: 224px;
  padding-bottom: 30px; }
.body-management-banner tbody .border-right-td {
  border-right: 1px solid #E5E5E5; }

.btn-action-send a,
.btn-action-save a {
  padding: 8px 10px !important;
  width: 115px; }

#style-1::-webkit-scrollbar {
  width: 1.5px;
  height: 1.5px; }

.body-detail-banner .primary-cate .primary-cate-item {
  background-color: #F0F5FA;
  border-radius: 4px;
  padding: 10px; }
.body-detail-banner .custom-select {
  position: absolute;
  width: 100px;
  right: 130px;
  top: 0;
  height: 25px;
  padding-top: 4px; }
.body-detail-banner .select-items div, .body-detail-banner .select-selected {
  font-size: 13px; }
.body-detail-banner .select-selected:after {
  top: 4px; }
.body-detail-banner .check-cate-news .card-body {
  padding: 0;
  padding-left: 30px; }
  .body-detail-banner .check-cate-news .card-body .sub-cate {
    display: inline-block;
    width: 100%; }
    .body-detail-banner .check-cate-news .card-body .sub-cate .custom-checkbox {
      background-color: #FDF5E8;
      border-radius: 4px;
      padding: 15px 10px 5px 10px;
      margin: 10px 0; }
    .body-detail-banner .check-cate-news .card-body .sub-cate .custom-select {
      top: 10px; }
    .body-detail-banner .check-cate-news .card-body .sub-cate .label-custom {
      margin-bottom: 10px; }
.body-detail-banner .check-cate-news .card {
  border: none;
  overflow: inherit;
  margin: 15px 0; }
.body-detail-banner .check-cate-news .card-header {
  background-color: #F0F5FA;
  border-radius: 4px;
  border-bottom: 0;
  position: relative;
  padding: 2px 10px; }
.body-detail-banner .check-cate-news .label-custom:before {
  background-color: white; }
.body-detail-banner .check-cate-news .custom-select {
  background-color: white !important; }
.body-detail-banner .check-cate-news .custom-checkbox {
  position: relative; }
.body-detail-banner .check-cate-news .primary-cate {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-bottom: 5px; }
  .body-detail-banner .check-cate-news .primary-cate .custom-select {
    right: 120px; }
.body-detail-banner .check-cate-news .btn-link {
  width: 100px;
  display: inline-block;
  text-align: right;
  position: absolute;
  top: 10px;
  right: 0;
  text-decoration: none;
  color: #66605c;
  box-shadow: none; }
  .body-detail-banner .check-cate-news .btn-link::after {
    font-family: 'themify';
    content: "\e648"; }

/*PC1336--*/
@media only screen and (max-width: 1601px) {
  .login .login-wrapper {
    height: 50%; }

  .check-radio-custom p {
    margin: 0 5px !important; }

  .icon-chuc-nang {
    margin: 0 2px !important; }

  .label-green-bg {
    font-size: 12px; }

  .table-lead thead {
    font-size: 14px !important; }

  .body-detail-user .modal-body .btn-action a {
    width: 100px; }
  .body-detail-user .password-check {
    margin-right: 10px !important; }

  .body-management-news .content-right .contents .col-md-8 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .body-management-news .content-right .contents .col-md-2 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
  .body-management-news .popup-xem-ls-cap-nhat .content-xem-ls .row {
    justify-content: center;
    height: 100%; }
    .body-management-news .popup-xem-ls-cap-nhat .content-xem-ls .row .col-md-5 {
      -ms-flex: 0 35%;
      flex: 0 0 35%;
      max-width: 35%; }
    .body-management-news .popup-xem-ls-cap-nhat .content-xem-ls .row .col-md-2 {
      -ms-flex: 0 0 25%;
      flex: 0 0 25%;
      max-width: 25%; } }
/*ipad ngang--*/
@media only screen and (max-width: 1201px) {
  .login .login-section-wrapper {
    padding: 40px; } }
/*ipad doc--*/
@media only screen and (max-width: 960px) {
  .modal-dialog {
    padding: 0 10px; } }
/*mobile--*/
@media only screen and (max-width: 767px) {
  .login .plus-login {
    align-items: flex-start; }
  .login .login-section-wrapper {
    padding: 20px 40px; } }
@media only screen and (max-width: 360px) {
  .login .login-section-wrapper {
    padding: 0px 20px; } }
body {
  color: #222;
  font-size: 14px;
  background-color: #F8F8FB;
  font-family: 'Mulish', sans-serif; }

a {
  text-decoration: none;
  color: #222;
  outline: none; }
  a:hover {
    color: #286DB3;
    text-decoration: none; }

html {
  scroll-behavior: smooth; }

img {
  max-width: 100%; }

button {
  outline: none; }

h1 {
  font-size: 52px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

p {
  font-size: 14px; }

b,
span,
label {
  font-size: 13px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.m10 {
  margin: 10px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.m25 {
  margin: 25px; }

.m30 {
  margin: 30px; }

.m35 {
  margin: 35px; }

.m40 {
  margin: 40px; }

.m45 {
  margin: 45px; }

.m50 {
  margin: 50px; }

.m55 {
  margin: 55px; }

.m60 {
  margin: 60px; }

.m65 {
  margin: 65px; }

.m70 {
  margin: 70px; }

.ml-0 {
  margin-left: 0; }

.mr-0 {
  margin-right: 0; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.p25 {
  padding: 25px; }

.p30 {
  padding: 30px; }

.p35 {
  padding: 35px; }

.p40 {
  padding: 40px; }

.p45 {
  padding: 45px; }

.p50 {
  padding: 50px; }

.p55 {
  padding: 55px; }

.p60 {
  padding: 60px; }

.p65 {
  padding: 65px; }

.p70 {
  padding: 70px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-60 {
  padding-bottom: 60px; }

.pl-0 {
  padding-left: 0; }

.pr-0 {
  padding-right: 0; }

.pt-0 {
  padding-top: 0; }

.pb-0 {
  padding-bottom: 0; }

.custom-select.disabled {
  pointer-events: none;
  background: #FAFBFB; }
  .custom-select.disabled .select-selected {
    color: #9f9f9f; }

input:disabled,
button:disabled {
  background-color: #FAFBFB;
  color: #9f9f9f; }

section {
  padding: 50px 0;
  display: inline-block;
  width: 100%;
  overflow: hidden; }
  section.bg-gray {
    background: #F3F4F2; }

.selected {
  color: #333 !important; }

.container {
  max-width: 1400px; }

.center {
  text-align: center; }

/*-------------------------- button ------------------------------*/
.btn-action.btn-create a {
  background-color: white;
  color: #286DB3;
  border: 1px solid #286DB3; }
  .btn-action.btn-create a i {
    margin-right: 0; }
  .btn-action.btn-create a:hover {
    color: white;
    background-color: #286DB3;
    transition: all .3s ease-in-out; }
    .btn-action.btn-create a:hover i {
      color: white; }

.btn-action a {
  padding: 8px 12px 10px 12px;
  border-radius: 4px;
  color: white;
  display: inline-block;
  background: #286DB3;
  border: 1px solid #286DB3;
  font-size: 13px;
  font-weight: 500;
  height: 35px;
  text-align: center;
  transition: all .3s ease-in-out;
  font-weight: 500; }
  .btn-action a i::before {
    font-size: 13px;
    margin-right: 5px;
    font-weight: 700; }
  .btn-action a:hover {
    display: inline-block;
    opacity: 0.9;
    transition: all .3s ease-in-out; }

.btn-disable a {
  background-color: #D9D9D9;
  border: 0; }

/*-------------------------- HEADER ------------------------------*/
.header-secon {
  margin: 10px 15px 5px 15px;
  padding-left: 5px;
  position: relative;
  display: flex;
  align-items: center; }
  .header-secon h2 {
    margin-right: 20px; }

.header-top {
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
  padding: 15px 10px;
  background-color: #fff;
  height: 55px;
  z-index: 3;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05); }

.account .dropdown-item.active,
.account .dropdown-item:active {
  background-color: #f8f9fa; }
.account:hover .dropdown-menu {
  display: block !important;
  top: 27px;
  left: -85px; }
.account .dropdown {
  margin-top: 10px; }
  .account .dropdown .dropdown-menu {
    border: 1px solid #93939326; }
    .account .dropdown .dropdown-menu .dropdown-item {
      color: #333;
      font-size: 14px; }
.account button {
  background: none;
  border: 0;
  color: #c4c4c4;
  font-size: 18px; }
  .account button:focus {
    outline: 0; }

.account {
  position: relative;
  margin-left: 10px;
  display: inline-flex;
  align-items: center; }
  .account img {
    width: 35px;
    height: 35px;
    border-radius: 100%; }
  .account p {
    font-size: 16px;
    color: #222;
    margin: 10px 5px;
    white-space: nowrap; }
  .account .arrow-down {
    text-decoration: none;
    color: #777777;
    margin-top: 12px;
    margin-left: 5px; }

/* Search-filed */
.search-filed {
  width: 300px;
  position: relative;
  margin-right: 20px; }
  .search-filed input {
    width: 100%;
    border: 1px solid white;
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(18, 38, 63, 0.05);
    border-radius: 4px;
    padding: 0 10px;
    height: 35px;
    border: 0;
    outline: none;
    padding-left: 30px;
    color: #777777; }
    .search-filed input::placeholder {
      font-size: 12px;
      color: #696A6B; }
  .search-filed i {
    position: absolute;
    top: 12px;
    left: 10px;
    font-size: 15px;
    color: #696A6B; }

.logo {
  max-width: 100%; }

/*-------------------------- Main CONTENT  ------------------------------*/
.main-content {
  height: 100%;
  width: 100%; }
  .main-content.hide-content-left .content-left {
    width: 60px; }
    .main-content.hide-content-left .content-left .danh-muc-ques .menu-admin li a span,
    .main-content.hide-content-left .content-left .submenu {
      display: none !important; }
  .main-content.hide-content-left .content-right {
    padding-left: 60px; }
  .main-content.hide-content-left .open-sidebar {
    display: block !important; }
  .main-content.hide-content-left .close-sidebar {
    display: none !important; }
  .main-content .menu-icon {
    position: absolute;
    top: 0;
    right: -35px;
    cursor: pointer; }
    .main-content .menu-icon img {
      width: 35px; }
    .main-content .menu-icon .open-sidebar {
      display: none; }
  .main-content .icon-thong-bao img {
    width: 30px; }
  .main-content .content-left {
    position: fixed;
    z-index: 1;
    width: 220px;
    height: 100%;
    left: 0;
    top: 55px;
    background: #286DB3;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
    padding: 10px;
    border-right: 1px solid #E5E5E5; }
    .main-content .content-left .danh-muc-ques .title-danhmuc {
      display: flex; }
      .main-content .content-left .danh-muc-ques .title-danhmuc img {
        margin-right: 5px; }
      .main-content .content-left .danh-muc-ques .title-danhmuc .title-left-ques {
        font-size: 18px;
        line-height: 18px;
        color: #222;
        margin: 0;
        font-weight: 600; }
    .main-content .content-left .danh-muc-ques .menu-admin {
      padding-left: 0; }
      .main-content .content-left .danh-muc-ques .menu-admin svg {
        margin-right: 5px; }
        .main-content .content-left .danh-muc-ques .menu-admin svg path {
          stroke: white; }
      .main-content .content-left .danh-muc-ques .menu-admin li {
        list-style: none;
        margin: 18px 0; }
        .main-content .content-left .danh-muc-ques .menu-admin li.active a {
          background: #F38E5A;
          padding: 5px 8px;
          border-radius: 2px; }
        .main-content .content-left .danh-muc-ques .menu-admin li.active .submenu li {
          margin: 12px 0; }
          .main-content .content-left .danh-muc-ques .menu-admin li.active .submenu li a {
            background-color: transparent; }
          .main-content .content-left .danh-muc-ques .menu-admin li.active .submenu li.active a {
            color: #F38E5A;
            background: transparent; }
        .main-content .content-left .danh-muc-ques .menu-admin li a {
          display: flex;
          margin-top: 10px;
          font-size: 14px;
          color: white;
          text-decoration: none;
          padding: 5px 8px;
          align-items: center; }
          .main-content .content-left .danh-muc-ques .menu-admin li a img {
            margin-right: 10px;
            height: 20px; }
          .main-content .content-left .danh-muc-ques .menu-admin li a:hover {
            color: white;
            background: #F38E5A;
            padding: 5px 8px;
            border-radius: 2px; }
          .main-content .content-left .danh-muc-ques .menu-admin li a span {
            font-size: 14px; }
  .main-content .content-right {
    position: relative;
    padding-left: 220px;
    padding-top: 85px; }

/* -----------Title------------- */
.main-title a {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #222; }

/*--------------------- Table ----------------------*/
.table-system {
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
  border: 1px solid #E5E5E5; }

.table-lead {
  width: 100%;
  border-spacing: initial;
  color: #222;
  border-radius: 2px;
  white-space: nowrap;
  text-align: left; }
  .table-lead tr:hover {
    background-color: #dd777514;
    cursor: pointer; }
  .table-lead thead {
    background: #eff2f7;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    color: #222; }
    .table-lead thead tr th {
      padding: 10px; }
  .table-lead tbody tr td {
    padding: 10px;
    border-top: 1px solid #E5E5E5; }
  .table-lead .tieu-de {
    text-overflow: ellipsis;
    overflow: hidden; }

.avatar-news {
  display: inline-block;
  margin-right: 5px; }
  .avatar-news img {
    border-radius: 2px;
    max-width: 100%;
    height: 40px; }

.pagging-page {
  justify-content: center !important;
  margin-bottom: 20px; }
  .pagging-page .custom-select {
    width: 120px;
    justify-content: center !important;
    background-color: white; }

/*--------------- Scroll--------------- */
.scrollbar {
  width: 100%;
  margin: auto;
  overflow-x: auto; }

#wrapper {
  text-align: center;
  width: 100%;
  margin: auto; }

/*
 *  STYLE 1
 */
#style-1::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #F1F1F1; }

#style-1::-webkit-scrollbar {
  width: 2px; }

#style-1::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #E5E5E5; }

/* ------------Pagging------------------ */
.pagging-page {
  width: 100%;
  display: flex;
  margin-top: 25px;
  justify-content: right; }
  .pagging-page ul li a,
  .pagging-page ul li span {
    width: 25px;
    height: 25px;
    margin: 0 3px;
    text-align: center;
    font-size: 11px;
    display: inline-block;
    text-decoration: none;
    color: #222;
    padding: 5px; }
    .pagging-page ul li a.active,
    .pagging-page ul li span.active {
      border: 1px solid #286DB3 !important;
      color: #286DB3;
      border-radius: 6px; }
  .pagging-page ul li:hover a {
    color: #286DB3; }

/* -----------------Breadrum----------------------------- */
.breadcrumb-box {
  display: inline-block;
  width: 100%;
  padding-top: 15px; }
  .breadcrumb-box nav li::before {
    opacity: .4; }
  .breadcrumb-box nav li:hover {
    cursor: pointer; }
  .breadcrumb-box nav ol {
    background: none; }
  .breadcrumb-box a {
    font-size: 12px;
    color: #6A6A6A; }
  .breadcrumb-box .breadcrumb-item.active {
    color: #6A6A6A;
    font-size: 12px; }

/* --------------Input-filed-text---------------------*/
textarea {
  height: 60px !important; }

input,
textarea {
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  height: 35px;
  padding-left: 10px;
  margin-right: 0;
  width: 100%; }
  input::placeholder,
  textarea::placeholder {
    font-size: 12px;
    color: #6E7A8A; }
  input:focus,
  textarea:focus {
    border: 1px solid #286DB3;
    outline: 0; }

.input-filed {
  width: 100%;
  margin: 7px 0;
  position: relative; }
  .input-filed label {
    color: #222222;
    font-weight: 600;
    text-align: right;
    float: left;
    margin: 0;
    margin-top: 8px;
    padding-right: 10px; }

.popup .input-filed {
  padding-left: 114px;
  position: relative; }
.popup label {
  width: 114px;
  position: absolute;
  left: 0; }

/* --------------Attach file--------------------*/
.attach-file {
  color: #222;
  font-weight: 600;
  margin-right: 15px; }
  .attach-file .btn-file {
    border: 1px solid #F38E5A;
    border-radius: 2px;
    height: 50px;
    width: 105px; }
    .attach-file .btn-file i {
      font-size: 18px;
      transform: rotate(45deg); }

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }
  .input-file + .js-labelFile {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 13px 6px 10px 6px;
    cursor: pointer;
    margin-top: 15px; }

/* ---------------Table lead 02------------------- */
.table-lead-02 {
  margin-top: 15px;
  padding: 0; }
  .table-lead-02 .ma-nv {
    margin: 0 20px;
    font-size: 14px; }
  .table-lead-02 .hoten-nv {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal; }
  .table-lead-02 li {
    display: inline-grid;
    border-right: 1px solid #E5E5E5;
    padding: 0; }
    .table-lead-02 li a {
      padding: 10px 0;
      border-bottom: 1px solid #E5E5E5;
      display: flex; }
      .table-lead-02 li a:last-child {
        border-bottom: 0; }

/* --------------Checkbox-------------------- */
.input-custom {
  display: none; }

.label-custom {
  color: #222;
  line-height: 1.2;
  display: flex;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  align-items: center;
  font-size: 14px;
  margin-bottom: 15px; }
  .label-custom:checked {
    color: #F38E5A !important; }
  .label-custom:before {
    content: "\e64c";
    font-family: "themify";
    font-size: 16px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 22px;
    height: 22px;
    opacity: 1;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 2px;
    left: 0;
    top: 55%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.label-custom:checked {
  color: #222 !important; }

.input-custom:checked + .label-custom::before {
  color: white;
  background-color: #286DB3;
  border: 1px solid #286DB3; }

.input-custom:checked + .label-custom {
  color: #222 !important; }

/* ------------------- Selecbox -------------------*/
/* Custom select box */
.select-selected {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-right: 15px;
  margin-top: -2px;
  padding-bottom: 0 !important; }

.custom-select {
  border-radius: 4px;
  height: 35px;
  background-color: transparent;
  position: relative;
  padding: 8px 0;
  background: none;
  width: 100%;
  border: 1px solid #E5E5E5; }

.custom-select select {
  display: none;
  /*hide original SELECT element: */ }

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: 0.255em;
  content: "\e64b";
  font-family: 'themify';
  color: #66605c;
  top: 7px;
  right: 20px; }

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #222;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  padding-right: 16px;
  padding-top: 0px; }

/* Style items (options): */
.select-items {
  padding: 15px;
  overflow: hidden;
  width: 100%;
  position: absolute;
  background-color: white;
  top: 35px;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 2px;
  box-shadow: -1px 1px 14px rgba(138, 139, 159, 0.15); }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  background-color: transparent;
  color: #286DB3; }

/*  ----------------------- Popup-------------------- */
.nav-link.DSVisiter.active {
  color: #110dc3;
  padding: 5px 8px;
  border-radius: 2px; }

.popup-medium .popup {
  width: 1100px; }

.overlay {
  z-index: 3;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0; }

.overlay:target {
  visibility: visible;
  opacity: 1; }

.popup {
  margin: 30px auto;
  padding: 0;
  background: #fff;
  border-radius: 6px;
  width: 100%;
  position: relative; }
  .popup .btn-action a {
    max-width: 150px;
    width: 100%; }

.popup h3 {
  margin-top: 0;
  font-size: 16px;
  text-align: left;
  background-color: #F38E5A;
  color: #222222;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 0;
  border-radius: 2px 2px 0 0;
  color: white;
  text-transform: uppercase; }

.popup .close {
  position: absolute;
  top: -30px;
  right: 0px;
  font-size: 30px;
  font-weight: bold;
  color: white;
  opacity: 1;
  text-shadow: none; }

.popup .content {
  padding: 35px; }

.edit-popup {
  position: absolute;
  right: 30px;
  top: 0;
  cursor: pointer; }

/*--------------------- LOGIN ----------------------*/
#login {
  padding: 15px 20px;
  background-color: #286DB3;
  border-radius: 2px;
  font-size: 16px;
  color: #fff;
  border: 1px #286DB3 solid; }
  #login:hover {
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 2px;
    font-size: 16px;
    color: #286DB3;
    border: 1px #286DB3 solid; }

.login-section-wrapper {
  padding: 0 30px;
  margin-top: 0;
  height: 100% !important;
  display: flex;
  align-items: center !important; }

.brand-wrapper {
  padding-top: 7px;
  padding-bottom: 8px;
  margin-bottom: 20px; }
  .brand-wrapper .logo {
    height: 100px; }

.login {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: #fff; }
  .login .col-sm-6 {
    padding: 0; }
  .login-section-wrapper {
    display: flex;
    justify-content: center;
    padding: 68px 100px; }
  .login-wrapper {
    width: 350px;
    max-width: 100%;
    padding-top: 24px;
    padding-bottom: 24px; }
    .login-wrapper label {
      font-size: 14px;
      color: #222; }
    .login-wrapper .form-control {
      border: 1px solid #E5E5E5;
      border-radius: 4px;
      padding: 9px 10px;
      min-height: 45px;
      font-size: 14px;
      font-weight: normal; }
      .login-wrapper .form-control::placeholder {
        color: #b0adad; }
      .login-wrapper .form-control:focus {
        box-shadow: none;
        background-color: #F0F5FA; }
    .login-wrapper .login-btn {
      margin-bottom: 14px;
      margin-top: 25px;
      text-transform: uppercase;
      background-color: #286DB3;
      color: white !important;
      height: 45px !important;
      border: 1px solid transparent; }
      .login-wrapper .login-btn .btn-comon {
        -webkit-appearance: button-bevel;
        padding: 15px 20px;
        background-color: white;
        border-radius: 4px;
        font-size: 16px;
        color: #fff;
        border: 1px solid #286DB3; }
      .login-wrapper .login-btn:hover {
        color: #286DB3 !important;
        background-color: white;
        border: 1px solid #286DB3; }
    .login-wrapper a.forgot-password-link {
      color: #66605c;
      font-size: 14px;
      display: block;
      margin-bottom: 54px;
      text-align: center; }
      .login-wrapper a.forgot-password-link:hover {
        text-decoration: none; }
    .login-wrapper-footer-text {
      font-size: 16px;
      color: #222;
      margin-bottom: 0; }
  .login-title {
    font-size: 30px;
    color: #222;
    font-weight: bold;
    margin-bottom: 25px; }
  .login-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: left; }
  .login .custom-control-label {
    color: #66605c !important; }

/* --------------- UPDATE LABEL --------------*/
.label-red-bg {
  color: #fff;
  background-color: #FF000A;
  width: auto;
  height: 25px;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer; }

.label-green-bg {
  color: #fff;
  background-color: #03A614;
  width: auto;
  height: 25px;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer; }

.label-organe-bg {
  color: #fff;
  background-color: #C79B00;
  width: auto;
  height: 25px;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer; }

.label-green {
  color: #03A614;
  font-weight: 600; }

.label-organe {
  color: #DBAE27;
  font-weight: 600; }

.label-red {
  color: #FF000A;
  font-weight: 600; }

/* --------------- END UPDATE LABEL --------------*/
/* ---------------  UPDATE NÚT SEARCH --------------*/
.btn-action.btn-search a {
  padding: 8px 4px 7px 10px;
  border-radius: 2px;
  background: #F38E5A; }
  .btn-action.btn-search a:hover {
    background: #fff;
    color: #222; }

/* ---------------  UPDATE NÚT THÊM --------------*/
.btn-action.btn-add a {
  padding: 8px 15px 10px 20px;
  border-radius: 100% !important;
  background: #F38E5A;
  border: 1px solid #F38E5A;
  border-radius: 20px; }
  .btn-action.btn-add a:hover {
    background: #fff;
    border: 1px solid #F38E5A;
    color: #222; }

/* ---------------  UPDATE POPUP ĐIỀU KIỆN SEARCH --------------*/
.btn-filter {
  position: relative; }

.btn-back {
  cursor: pointer; }

.popup-bo-loc {
  display: none; }
  .popup-bo-loc.show-filter {
    display: block;
    position: absolute;
    top: 100px;
    right: 15px;
    margin: 10px 0;
    padding: 30px;
    width: 600px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); }
  .popup-bo-loc .box-btn {
    display: flex; }
    .popup-bo-loc .box-btn .btn-action.btn-back a {
      margin: 0 10px;
      padding: 8px 15px 10px 20px;
      background: #fff;
      border: 1px solid #C20C38;
      border-radius: 2px;
      color: #C20C38;
      font-size: 14px; }
      .popup-bo-loc .box-btn .btn-action.btn-back a:hover {
        background: #C20C38;
        border: 1px solid #C20C38;
        color: #fff; }
    .popup-bo-loc .box-btn .btn-action.btn-filters a {
      margin: 0 10px;
      padding: 8px 15px 10px 20px;
      background: #fff;
      border: 1px solid #0C4EF5;
      border-radius: 2px;
      color: #0C4EF5;
      font-size: 14px; }
      .popup-bo-loc .box-btn .btn-action.btn-filters a:hover {
        background: #0C4EF5;
        border: 1px solid #0C4EF5;
        color: #fff; }

.header-right {
  display: flex;
  align-items: center; }

.header-secon .box-header-right .time-post {
  margin-right: 0;
  width: 135px; }
.header-secon .btn-action {
  display: inline-block; }

.btn-khac {
  display: inline-block; }
  .btn-khac a {
    background-color: #DFDFDF;
    border: 1px solid #DFDFDF; }

.contents {
  padding: 0 20px;
  padding-bottom: 50px; }
  .contents .table-system .label-custom {
    padding-left: 0;
    margin-bottom: 0; }

.icon-chuc-nang {
  margin-right: 15px;
  cursor: pointer; }
  .icon-chuc-nang i {
    color: #B6BCC4;
    font-size: 18px; }

.icon-thong-bao {
  position: relative;
  margin-right: 15px; }
  .icon-thong-bao .ti-bell {
    font-size: 30px;
    color: #66605c; }
  .icon-thong-bao .number-noti {
    position: absolute;
    right: -5px;
    top: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #F38E5A;
    color: white;
    font-size: 11px;
    padding-top: 2px;
    text-align: center; }

.pagging-page {
  align-items: center; }
  .pagging-page .custom-select {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 15px; }
    .pagging-page .custom-select label {
      margin-bottom: 0; }
  .pagging-page .pagination {
    margin-bottom: 0; }

.btn-filter {
  margin-left: 10px;
  cursor: pointer; }

/* ============= Dashboard ============== */
.list-news-dashboard.scrollbar {
  height: 500px; }

.box-dashboard .title-box {
  color: white;
  display: inline-block;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  background-color: #DBAE27;
  padding: 10px;
  border-radius: 4px 4px 0 0; }
  .box-dashboard .title-box.box02 {
    background-color: #F38E5A; }
  .box-dashboard .title-box.box03 {
    background-color: #286DB3; }
.box-dashboard ul {
  padding: 15px 25px;
  list-style: none;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09);
  border-radius: 0 0 4px 4px; }
  .box-dashboard ul li {
    margin: 15px 0;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 8px;
    position: relative;
    padding-left: 30px; }
    .box-dashboard ul li a {
      color: #485056;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden; }
      .box-dashboard ul li a:hover {
        color: #286DB3; }
    .box-dashboard ul li img {
      position: absolute;
      left: 0;
      width: 20px; }

/* ============= danh mục tin - list-news ============== */
.remove-item,
.add-items {
  cursor: pointer; }

.add-items {
  margin-right: 5px !important; }

.cms-shadow {
  background: #FFFFFF;
  box-shadow: 0px 0px 11px rgba(18, 38, 63, 0.05);
  border-radius: 4px; }

.box-cms-shadow {
  background: #FFFFFF;
  box-shadow: 0px 0px 11px rgba(18, 38, 63, 0.05);
  border-radius: 4px;
  margin-bottom: 15px;
  padding: 15px; }
  .box-cms-shadow .item-list-news {
    display: flex;
    align-items: center; }
    .box-cms-shadow .item-list-news .media-upload.custom-file-upload {
      background-color: #F0F5FA;
      padding: 5px;
      display: inline-block;
      width: 100%;
      border-radius: 4px; }
    .box-cms-shadow .item-list-news img {
      margin-right: 10px; }
    .box-cms-shadow .item-list-news input {
      background: #F0F5FA;
      border-radius: 4px;
      border: 1px solid #F0F5FA;
      height: 41px; }
      .box-cms-shadow .item-list-news input:focus {
        background: #fff;
        border-radius: 4px;
        border: 1px solid #E5E5E5; }
      .box-cms-shadow .item-list-news input::placeholder {
        font-size: 13px;
        line-height: 24px;
        color: #292D32;
        opacity: 0.7; }
  .box-cms-shadow .sub-item-list-news {
    margin-left: 25px;
    display: flex;
    align-items: center;
    margin-top: 15px; }
    .box-cms-shadow .sub-item-list-news img {
      margin-right: 10px; }
    .box-cms-shadow .sub-item-list-news input {
      background: rgba(241, 180, 76, 0.13);
      border: 1px solid #E5E5E5;
      border-radius: 4px;
      height: 41px;
      color: #66605c; }
      .box-cms-shadow .sub-item-list-news input:focus {
        background: #fff;
        border-radius: 4px;
        border: 1px solid #E5E5E5; }
      .box-cms-shadow .sub-item-list-news input::placeholder {
        font-size: 13px;
        line-height: 24px;
        color: #292D32;
        opacity: 0.7; }

.sticky-button {
  position: fixed;
  padding: 8px 0;
  border-radius: 0;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  padding-left: 220px; }
  .sticky-button .btn-action-save {
    text-align: center; }
    .sticky-button .btn-action-save a {
      padding: 8px 25px;
      border-radius: 4px;
      color: #fff;
      display: inline-block;
      background: #286DB3;
      border: 1px solid #286DB3;
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;
      height: 35px;
      text-align: center; }
      .sticky-button .btn-action-save a i {
        color: #fff; }
        .sticky-button .btn-action-save a i::before {
          font-size: 14px;
          margin-right: 5px; }
      .sticky-button .btn-action-save a:hover {
        opacity: 0.9;
        display: inline-block;
        -webkit-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s; }

/* =============  quản lý banner - management-banner ============== */
.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.add-items {
  padding-top: 15px;
  display: flex;
  margin-left: 25px;
  align-items: center; }
  .add-items img {
    margin-right: 8px; }
  .add-items span {
    font-size: 13px;
    line-height: 24px;
    color: #286DB3; }

.body-management-banner .box-header-right {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center; }
.body-management-banner .table-lead .tieu-de .readmore {
  font-size: 14px;
  line-height: 20px;
  color: #286DB3; }
.body-management-banner .table-lead .tieude-page {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #286DB3; }
.body-management-banner .popup-mockup-banner .modal-dialog {
  max-width: 100%;
  height: inherit;
  margin: 0; }
  .body-management-banner .popup-mockup-banner .modal-dialog .modal-content {
    height: 100%;
    border-radius: 0; }
    .body-management-banner .popup-mockup-banner .modal-dialog .modal-content .modal-header {
      background: transparent;
      border-bottom: 0; }
      .body-management-banner .popup-mockup-banner .modal-dialog .modal-content .modal-header .close {
        right: 30px;
        top: 20px;
        z-index: 9999; }
        .body-management-banner .popup-mockup-banner .modal-dialog .modal-content .modal-header .close span {
          font-size: 20px; }
    .body-management-banner .popup-mockup-banner .modal-dialog .modal-content .modal-body .content-preview {
      padding: 20px 30px;
      background: white;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09);
      margin: 0 auto;
      text-align: left;
      max-width: 1000px; }
      .body-management-banner .popup-mockup-banner .modal-dialog .modal-content .modal-body .content-preview.scrollbar {
        height: 920px; }
    .body-management-banner .popup-mockup-banner .modal-dialog .modal-content .modal-body img {
      width: 100%; }

/* =============  chi tiết banner - detail-banner ============== */
.btn-action-send {
  text-align: center; }
  .btn-action-send a {
    padding: 8px 25px;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    background: #F38E5A;
    border: 1px solid #F38E5A;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    height: 35px;
    text-align: center; }
    .btn-action-send a i {
      color: #fff; }
      .btn-action-send a i::before {
        font-size: 14px;
        margin-right: 5px; }
    .btn-action-send a:hover {
      opacity: 0.9;
      display: inline-block;
      -webkit-transition: all 0.3s ease-in-out 0s;
      -o-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }

.sticky-button {
  display: flex;
  align-items: center;
  justify-content: center; }
  .sticky-button .btn-action-send {
    margin: 0 5px; }
  .sticky-button .btn-action-save {
    margin: 0 5px; }

.body-detail-banner .add-items {
  padding-top: 0; }
.body-detail-banner .box-cms-shadow {
  padding: 15px 15px 40px 15px; }
  .body-detail-banner .box-cms-shadow .tittle-img {
    font-size: 12px;
    line-height: 15px;
    color: #565454;
    opacity: 0.5; }
.body-detail-banner .list-check {
  display: flex;
  align-items: center;
  margin: 30px 0; }
  .body-detail-banner .list-check .add-items {
    margin: 0; }
.body-detail-banner .box-cms-shadow {
  padding: 15px; }
  .body-detail-banner .box-cms-shadow.pb-30 {
    padding-bottom: 55px !important; }
  .body-detail-banner .box-cms-shadow .sub-item-list-news {
    width: 100%; }
  .body-detail-banner .box-cms-shadow .box-listnews {
    display: flex; }

/* check-radio-custom */
.check-radio-custom {
  display: flex; }

.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

.check-radio-custom [type="radio"]:checked + label,
.check-radio-custom [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  display: inline-block;
  color: #222;
  margin-bottom: 0;
  font-size: 14px; }

.check-radio-custom [type="radio"]:checked + label:before,
.check-radio-custom [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #F38E5A;
  border-radius: 100%;
  background: #fff; }

.check-radio-custom [type="radio"]:checked + label:after,
.check-radio-custom [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #F38E5A;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.check-radio-custom [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

.check-radio-custom [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.check-radio-custom p {
  margin: 0 20px; }

/* =============  tài khoản - detail-banner ============== */
.body-management-account .box-header-right {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center; }
.body-management-account .date-time-post .date-dashboard::before {
  content: none; }
.body-management-account span::after {
  content: none; }
.body-management-account .label-green-bg {
  color: #fff;
  background-color: #03A614;
  width: auto;
  height: 25px;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer; }

/* =============  chi tiết tài khoản - detail-user ============== */
.body-detail-user .flexs {
  justify-content: left; }
.body-detail-user p {
  margin-top: 15px; }
  .body-detail-user p .check-resetpass {
    font-size: 12px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #286DB3; }
.body-detail-user .password-check {
  width: 50%;
  margin-right: 25px; }
.body-detail-user .box-cms-shadow.pb-30 {
  padding-bottom: 70px !important; }
.body-detail-user .popup-reset-password .modal-body {
  padding: 30px; }
.body-detail-user .popup-reset-password .btn-action {
  margin-top: 30px; }
.body-detail-user .popup-reset-password .title-box {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: left; }
.body-detail-user .popup-reset-password .password-check {
  width: 100%; }

/* =============  phân quyền user - user-permissions ============== */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E5E5E5;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #F38E5A; }

input:focus + .slider {
  box-shadow: 0 0 1px #F38E5A; }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: -8px;
  bottom: 2px; }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.body-user-permissions .table-system.mb-60 {
  margin-bottom: 60px !important;
  margin-top: 15px !important; }

/* =============  cài đặt - management-setting ============== */
.body-management-setting .box-setting {
  border: 1px solid #E5E5E5;
  box-shadow: 0px 0px 11px rgba(18, 38, 63, 0.05);
  border-radius: 4px;
  padding: 15px; }
  .body-management-setting .box-setting .media-upload {
    width: 100%; }
.body-management-setting .nav-tabs {
  border-bottom: 2px solid #dee2e6;
  width: 184px;
  margin: 0 auto;
  align-items: center; }
.body-management-setting .nav-tabs .nav-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #222;
  border-bottom: 2px solid transparent !important;
  background-color: transparent;
  border-color: unset;
  border: 0; }
.body-management-setting .nav-tabs .nav-link:focus, .body-management-setting .nav-tabs .nav-link:hover {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #222;
  border-bottom: 2px solid transparent !important;
  background-color: transparent;
  border-color: unset;
  border: 0; }
.body-management-setting .nav-tabs .nav-item.show .nav-link, .body-management-setting .nav-tabs .nav-link.active {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #F38E5A;
  border-bottom: 2px solid #F38E5A !important;
  background-color: transparent;
  border-color: unset;
  border: 0; }

/*# sourceMappingURL=style.css.map */
