@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;700;800&display=swap');
$brand: #286DB3;
$border: #e5e5e5;
$text: #222222;
$text-des: #66605c;
$bg: #F3F4F2;
$secon: #F38E5A;

@import "hai";

body {
	color: $text;
	font-size: 14px;
	background-color: #F8F8FB;
	font-family: 'Mulish', sans-serif;
}

a {
	text-decoration: none;
	color: $text;
	outline: none;

	&:hover {
		color: $brand;
		text-decoration: none;
	}
}

html {
	scroll-behavior: smooth;
}

img {
	max-width: 100%;
}

button {
	outline: none;
}

h1 {
	font-size: 52px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
}

b,
span,
label {
	font-size: 13px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-70 {
	margin-bottom: 70px;
}

.m10 {
	margin: 10px;
}

.m15 {
	margin: 15px;
}

.m20 {
	margin: 20px;
}

.m25 {
	margin: 25px;
}

.m30 {
	margin: 30px;
}

.m35 {
	margin: 35px;
}

.m40 {
	margin: 40px;
}

.m45 {
	margin: 45px;
}

.m50 {
	margin: 50px;
}

.m55 {
	margin: 55px;
}

.m60 {
	margin: 60px;
}

.m65 {
	margin: 65px;
}

.m70 {
	margin: 70px;
}

.ml-0 {
	margin-left: 0;
}

.mr-0 {
	margin-right: 0;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.p25 {
	padding: 25px;
}

.p30 {
	padding: 30px;
}

.p35 {
	padding: 35px;
}

.p40 {
	padding: 40px;
}

.p45 {
	padding: 45px;
}

.p50 {
	padding: 50px;
}

.p55 {
	padding: 55px;
}

.p60 {
	padding: 60px;
}

.p65 {
	padding: 65px;
}

.p70 {
	padding: 70px;
}

.pb-30 {
	padding-bottom: 30px;
}

.pb-60 {
	padding-bottom: 60px;
}

.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}

.pt-0 {
	padding-top: 0;
}

.pb-0 {
	padding-bottom: 0;
}

.custom-select {
	&.disabled {
		pointer-events: none;
		background: #FAFBFB;

		.select-selected {
			color: #9f9f9f;
		}
	}
}

input:disabled,
button:disabled {
	background-color: #FAFBFB;
	color: #9f9f9f;
}

section {
	padding: 50px 0;
	display: inline-block;
	width: 100%;
	overflow: hidden;

	&.bg-gray {
		background: $bg;
	}
}

.selected {

	color: #333 !important;
}

.container {
	max-width: 1400px;
}

.center {
	text-align: center;
}


/*-------------------------- button ------------------------------*/
.btn-action.btn-create {
	a {
		background-color: white;
		color: $brand;
		border: 1px solid $brand;

		i {
			margin-right: 0;
		}

		&:hover {
			color: white;
			background-color: $brand ;
			transition: all .3s ease-in-out;

			i {
				color: white;

			}
		}
	}
}

.btn-action {
	a {
		padding: 8px 12px 10px 12px;
		border-radius: 4px;
		color: white;
		display: inline-block;
		background: $brand;
		border: 1px solid $brand;
		font-size: 13px;
		font-weight: 500;
		height: 35px;
		text-align: center;
		transition: all .3s ease-in-out;
		font-weight: 500;

		i {
			&::before {
				font-size: 13px;
				margin-right: 5px;
				font-weight: 700;
			}
		}

		&:hover {

			display: inline-block;
			opacity: 0.9;
			transition: all .3s ease-in-out;

		}
	}
}

.btn-disable {
	a {
		background-color: #D9D9D9;
		border: 0;
	}
}

/*-------------------------- HEADER ------------------------------*/
.header-secon {
	margin: 10px 15px 5px 15px;
	padding-left: 5px;
	position: relative;
	display: flex;
	align-items: center;

	h2 {
		margin-right: 20px;
	}

}

.header-top {
	position: fixed;
	top: 0;
	justify-content: space-between;
	align-items: center;
	display: flex;
	width: 100%;
	padding: 15px 10px;
	background-color: #fff;
	height: 55px;
	z-index: 3;
	box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05);


}

.account {

	.dropdown-item.active,
	.dropdown-item:active {

		background-color: #f8f9fa;
	}

	&:hover {
		.dropdown-menu {
			display: block !important;
			top: 27px;
			left: -85px;
		}
	}

	.dropdown {
		margin-top: 10px;

		.dropdown-menu {
			border: 1px solid #93939326;

			.dropdown-item {
				color: #333;
				font-size: 14px;
			}
		}
	}

	button {
		background: none;
		border: 0;
		color: #c4c4c4;
		font-size: 18px;

		&:focus {
			outline: 0;
		}
	}
}

.account {
	position: relative;
	margin-left: 10px;
	display: inline-flex;
	align-items: center;

	img {
		width: 35px;
		height: 35px;
		border-radius: 100%;
	}

	p {
		font-size: 16px;
		color: $text;
		margin: 10px 5px;
		white-space: nowrap;
	}

	.arrow-down {
		text-decoration: none;
		color: #777777;
		margin-top: 12px;
		margin-left: 5px;

	}
}


/* Search-filed */
.search-filed {
	width: 300px;
	position: relative;
	margin-right: 20px;

	input {
		width: 100%;
		border: 1px solid white;
		background: #FFFFFF;
		box-shadow: 0px 0px 11px rgba(18, 38, 63, 0.05);
		border-radius: 4px;
		padding: 0 10px;
		height: 35px;
		border: 0;
		outline: none;
		padding-left: 30px;
		color: #777777;

		&::placeholder {
			font-size: 12px;
			color: #696A6B;
		}
	}

	i {
		//z-index: 9999;
		position: absolute;
		top: 12px;
		left: 10px;
		font-size: 15px;
		color: #696A6B;
	}
}

.logo {
	max-width: 100%;
}

/*-------------------------- Main CONTENT  ------------------------------*/

.main-content {
	height: 100%;
	width: 100%;

	&.hide-content-left {
		.content-left {
			width: 60px;

			.danh-muc-ques .menu-admin li a span,
			.submenu {
				display: none !important;
			}
		}

		.content-right {
			padding-left: 60px;
		}

		.open-sidebar {
			display: block !important;
		}

		.close-sidebar {
			display: none !important;
		}
	}

	.menu-icon {
		position: absolute;
		top: 0;
		right: -35px;
		cursor: pointer;

		img {
			width: 35px;
		}

		.open-sidebar {
			display: none;
		}

	}

	.icon-thong-bao {
		img {
			width: 30px;
		}
	}

	.content-left {
		position: fixed;
		z-index: 1;
		width: 220px;
		height: 100%;
		left: 0;
		top: 55px;
		background: $brand;
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.04);
		padding: 10px;
		border-right: 1px solid $border;

		.danh-muc-ques {
			.title-danhmuc {
				display: flex;

				img {
					margin-right: 5px;
				}

				.title-left-ques {
					font-size: 18px;
					line-height: 18px;
					color: $text;
					margin: 0;
					font-weight: 600;

				}
			}

			.menu-admin {
				padding-left: 0;

				svg {
					margin-right: 5px;

					path {
						stroke: white;
					}
				}

				li {
					list-style: none;
					margin: 18px 0;

					&.active {
						a {
							background: $secon;
							padding: 5px 8px;
							border-radius: 2px;
						}

						.submenu li {
							margin: 12px 0;

							a {
								background-color: transparent;
							}

							&.active {
								a {
									color: $secon;
									background: transparent;
								}
							}

						}
					}

					a {
						display: flex;
						margin-top: 10px;
						font-size: 14px;
						color: white;
						text-decoration: none;
						padding: 5px 8px;
						align-items: center;

						img {
							margin-right: 10px;
							height: 20px;

						}

						&:hover {
							color: white;
							background: $secon;
							padding: 5px 8px;
							border-radius: 2px;

						}

						span {
							font-size: 14px;
						}

					}

				}
			}
		}
	}

	.content-right {
		position: relative;
		padding-left: 220px;
		padding-top: 85px;
		// transition: all 0.5s;
		// -webkit-transition: all 0.25s;
	}
}

/* -----------Title------------- */
.main-title {
	a {
		text-transform: uppercase;
		font-size: 18px;
		font-weight: 700;
		color: $text;
	}
}

/*--------------------- Table ----------------------*/
.table-system {
	border-radius: 2px;
	overflow: hidden;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
	border: 1px solid $border;
}

.table-lead {
	width: 100%;
	border-spacing: initial;
	color: $text;
	border-radius: 2px;
	white-space: nowrap;
	text-align: left;

	tr {
		&:hover {
			background-color: #dd777514;
			cursor: pointer;
		}
	}

	thead {
		background: #eff2f7;
		color: #fff;
		font-size: 15px;
		font-weight: 600;
		color: $text;

		tr {
			th {
				padding: 10px;
			}

		}
	}

	tbody tr td {
		padding: 10px;
		border-top: 1px solid $border;

	}

	.tieu-de {
		text-overflow: ellipsis;

		overflow: hidden;

	}
}

.avatar-news {
	display: inline-block;
	margin-right: 5px;

	img {
		border-radius: 2px;
		max-width: 100%;
		height: 40px;

	}
}

.pagging-page {
	justify-content: center !important;
	margin-bottom: 20px;

	.custom-select {
		width: 120px;
		justify-content: center !important;
		background-color: white;
	}
}

/*--------------- Scroll--------------- */

.scrollbar {
	width: 100%;
	margin: auto;
	overflow-x: auto;
}

#wrapper {
	text-align: center;
	width: 100%;
	margin: auto;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track {
	border-radius: 4px;
	background-color: #F1F1F1;
}

#style-1::-webkit-scrollbar {
	width: 2px;
}

#style-1::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: #E5E5E5;
}

/* ------------Pagging------------------ */
.pagging-page {
	width: 100%;
	display: flex;
	margin-top: 25px;
	justify-content: right;

	ul {
		li {

			a,
			span {
				width: 25px;
				height: 25px;
				margin: 0 3px;
				text-align: center;
				font-size: 11px;
				display: inline-block;
				text-decoration: none;
				color: $text;
				padding: 5px;

				&.active {
					border: 1px solid $brand  !important;
					color: $brand;
					border-radius: 6px;
				}
			}

			&:hover {
				a {
					color: $brand;
				}
			}
		}
	}
}

/* -----------------Breadrum----------------------------- */
.breadcrumb-box {
	display: inline-block;
	width: 100%;
	padding-top: 15px;

	nav {
		li {
			&::before {
				opacity: .4;
			}

			&:hover {
				cursor: pointer;
			}
		}

		ol {
			background: none;
		}
	}

	a {
		font-size: 12px;
		color: #6A6A6A;
	}

	.breadcrumb-item.active {
		color: #6A6A6A;
		font-size: 12px;
	}
}

/* --------------Input-filed-text---------------------*/
textarea {
	height: 60px !important;
}

input,
textarea {
	border: 1px solid $border;
	border-radius: 2px;
	height: 35px;
	padding-left: 10px;
	margin-right: 0;
	width: 100%;

	&::placeholder {
		font-size: 12px;
		color: #6E7A8A;
	}

	&:focus {
		border: 1px solid $brand;
		outline: 0;
	}
}


/* ---------------Table lead 02------------------- */
.table-lead-02 {
	margin-top: 15px;
	padding: 0;

	.ma-nv {
		margin: 0 20px;
		font-size: 14px;
	}

	.hoten-nv {
		font-size: 14px;
		display: -webkit-box;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		overflow: hidden;
		white-space: normal;
	}

	li {
		display: inline-grid;
		border-right: 1px solid $border;
		padding: 0;

		a {
			padding: 10px 0;
			border-bottom: 1px solid $border;
			display: flex;

			&:last-child {
				border-bottom: 0;
			}
		}
	}
}

/* --------------Checkbox-------------------- */

.input-custom {
	display: none;
}

.label-custom {
	color: $text;
	line-height: 1.2;
	display: flex;
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	align-items: center;
	font-size: 14px;
	margin-bottom: 15px;

	&:checked {
		color: $secon  !important;
	}

	&:before {
		content: "\e64c";
		font-family: "themify";
		font-size: 16px;
		color: transparent;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 22px;
		height: 22px;
		opacity: 1;
		border: 1px solid $border;
		box-sizing: border-box;
		border-radius: 2px;
		left: 0;
		top: 55%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.label-custom {
	&:checked {
		color: $text  !important;
	}
}

.input-custom:checked+.label-custom::before {
	color: white;
	background-color: $brand;
	border: 1px solid $brand;
}

.input-custom:checked+.label-custom {
	color: $text  !important;
}

/* ------------------- Selecbox -------------------*/
/* Custom select box */
.select-selected {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	padding-right: 15px;
	margin-top: -2px;
	padding-bottom: 0 !important;
}

.custom-select {
	border-radius: 4px;
	height: 35px;
	background-color: transparent;
	position: relative;
	padding: 8px 0;
	background: none;
	width: 100%;
	border: 1px solid $border;
}

.custom-select select {
	display: none;
	/*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 10px;
	vertical-align: 0.255em;
	content: "\e64b";
	font-family: 'themify';
	color: $text-des;
	top: 7px;
	right: 20px;
}

/* style the items (options), including the selected item: */

.select-items div,
.select-selected {
	color: $text;
	padding: 8px;
	font-size: 14px;
	border-radius: 4px;
	cursor: pointer;
	padding-right: 16px;
	padding-top: 0px;
}

/* Style items (options): */
.select-items {
	padding: 15px;
	overflow: hidden;
	width: 100%;
	position: absolute;
	background-color: white;
	top: 35px;
	left: 0;
	right: 0;
	z-index: 99;

	border-radius: 2px;
	box-shadow: -1px 1px 14px rgba(138, 139, 159, 0.15);
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: transparent;
	color: $brand;
}

/*  ----------------------- Popup-------------------- */

.nav-link.DSVisiter.active {
	color: #110dc3;
	padding: 5px 8px;
	border-radius: 2px;
}

.popup-medium {

	.popup {
		width: 1100px;
	}
}

.overlay {
	z-index: 3;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

.popup {
	margin: 30px auto;
	padding: 0;
	background: #fff;
	border-radius: 6px;
	width: 100%;
	position: relative;

	.btn-action a {
		max-width: 150px;
		width: 100%;
	}
}

.popup h3 {
	margin-top: 0;
	font-size: 16px;
	text-align: left;
	background-color: $secon;
	color: #222222;
	padding: 15px;
	font-weight: 600;
	margin-bottom: 0;
	border-radius: 2px 2px 0 0;
	color: white;
	text-transform: uppercase;
}

.popup .close {
	position: absolute;
	top: -30px;
	right: 0px;
	font-size: 30px;
	font-weight: bold;
	color: white;
	opacity: 1;
	text-shadow: none;
}

.popup .content {
	padding: 35px;
}

.edit-popup {
	position: absolute;
	right: 30px;
	top: 0;
	cursor: pointer;
}

/*--------------------- LOGIN ----------------------*/

#login {
	padding: 15px 20px;
	background-color: $brand;
	border-radius: 2px;
	font-size: 16px;
	color: #fff;
	border: 1px $brand solid;

	&:hover {
		padding: 15px 20px;
		background-color: #fff;
		border-radius: 2px;
		font-size: 16px;
		color: $brand;
		border: 1px $brand solid;
	}
}

.login-section-wrapper {
	padding: 0 30px;
	margin-top: 0;
	height: 100% !important;
	display: flex;
	align-items: center !important;
}

.brand-wrapper {
	padding-top: 7px;
	padding-bottom: 8px;
	margin-bottom: 20px;

	.logo {
		height: 100px;
	}
}

.login {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	background-color: #fff;

	.col-sm-6 {
		padding: 0;
	}

	&-section-wrapper {
		display: flex;
		justify-content: center;
		padding: 68px 100px;


	}

	&-wrapper {
		width: 350px;
		max-width: 100%;
		padding-top: 24px;
		padding-bottom: 24px;

		label {
			font-size: 14px;
			color: $text;
		}

		.form-control {
			border: 1px solid $border;
			border-radius: 4px;
			padding: 9px 10px;
			min-height: 45px;
			font-size: 14px;
			font-weight: normal;

			&::placeholder {
				color: #b0adad;
			}

			&:focus {
				box-shadow: none;
				background-color: #F0F5FA;
			}

		}

		.login-btn {
			.btn-comon {
				-webkit-appearance: button-bevel;
				padding: 15px 20px;
				background-color: white;
				border-radius: 4px;
				font-size: 16px;
				color: #fff;
				border: 1px solid $brand;
			}

			margin-bottom: 14px;
			margin-top: 25px;
			text-transform: uppercase;
			background-color: $brand ;
			color: white !important;
			height: 45px !important;
			border: 1px solid transparent;

			&:hover {
				color: $brand  !important;
				background-color: white;
				border: 1px solid $brand;
			}
		}

		a.forgot-password-link {
			color: $text-des;
			font-size: 14px;
			display: block;
			margin-bottom: 54px;
			text-align: center;

			&:hover {
				text-decoration: none;
			}

		}

		&-footer-text {
			font-size: 16px;
			color: $text;
			margin-bottom: 0;
		}
	}

	&-title {
		font-size: 30px;
		color: $text;
		font-weight: bold;
		margin-bottom: 25px;
	}

	&-img {
		width: 100%;
		height: 100vh;
		object-fit: cover;
		object-position: left;
	}

	.custom-control-label {
		color: $text-des !important;
	}
}

/* --------------- UPDATE LABEL --------------*/

.label-red-bg {
	color: #fff;
	background-color: #FF000A;
	width: auto;
	height: 25px;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: pointer;
}

.label-green-bg {
	color: #fff;
	background-color: #03A614;
	width: auto;
	height: 25px;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: pointer;
}

.label-organe-bg {
	color: #fff;
	background-color: #C79B00;
	width: auto;
	height: 25px;
	border-radius: 4px;
	padding: 5px 10px;
	cursor: pointer;
}

.label-green {
	color: #03A614;
	font-weight: 600;
}

.label-organe {
	color: #DBAE27;
	font-weight: 600;
}

.label-red {
	color: #FF000A;
	font-weight: 600;
}

/* --------------- END UPDATE LABEL --------------*/

/* ---------------  UPDATE NÚT SEARCH --------------*/
.btn-action.btn-search a {
	padding: 8px 4px 7px 10px;
	border-radius: 2px;
	background: $secon;

	&:hover {
		background: #fff;
		color: $text;
	}
}

/* ---------------  UPDATE NÚT THÊM --------------*/
.btn-action.btn-add a {
	padding: 8px 15px 10px 20px;
	border-radius: 100% !important;
	background: $secon;
	border: 1px solid $secon;
	border-radius: 20px;

	&:hover {
		background: #fff;
		border: 1px solid $secon;
		color: $text;
	}
}

/* ---------------  UPDATE POPUP ĐIỀU KIỆN SEARCH --------------*/
.btn-filter {
	position: relative;
}

.btn-back {
	cursor: pointer;
}

.popup-bo-loc {

	display: none;

	&.show-filter {
		display: block;
		position: absolute;
		top: 100px;
		right: 15px;
		margin: 10px 0;
		padding: 30px;
		width: 600px;
		background: #FFFFFF;
		border: 1px solid #DFDFDF;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	}

	.box-btn {
		display: flex;

		.btn-action.btn-back a {
			margin: 0 10px;
			padding: 8px 15px 10px 20px;
			background: #fff;
			border: 1px solid #C20C38;
			border-radius: 2px;
			color: #C20C38;
			font-size: 14px;

			&:hover {
				background: #C20C38;
				border: 1px solid #C20C38;
				color: #fff;
			}
		}

		.btn-action.btn-filters a {
			margin: 0 10px;
			padding: 8px 15px 10px 20px;
			background: #fff;
			border: 1px solid #0C4EF5;
			border-radius: 2px;
			color: #0C4EF5;
			font-size: 14px;

			&:hover {
				background: #0C4EF5;
				border: 1px solid #0C4EF5;
				color: #fff;
			}
		}
	}
}

.header-right {
	display: flex;
	align-items: center;
}

.header-secon {

	.box-header-right {
		.time-post {
			margin-right: 0;
			width: 135px;
		}
	}

	.btn-action {
		display: inline-block;
	}
}

.btn-khac {
	display: inline-block;

	a {
		background-color: #DFDFDF;
		border: 1px solid #DFDFDF;
		;
	}
}

.contents {
	padding: 0 20px;
	padding-bottom: 50px;

	.table-system {
		.label-custom {
			padding-left: 0;
			margin-bottom: 0;
		}
	}
}

.icon-chuc-nang {
	margin-right: 15px;
	cursor: pointer;

	i {
		color: #B6BCC4;
		font-size: 18px;
	}
}

.icon-thong-bao {
	position: relative;
	margin-right: 15px;

	.ti-bell {
		font-size: 30px;
		color: $text-des;
	}

	.number-noti {
		position: absolute;
		right: -5px;
		top: -5px;
		width: 20px;
		height: 20px;
		border-radius: 50%;
		background: $secon;
		color: white;
		font-size: 11px;
		padding-top: 2px;
		text-align: center;
	}
}

.pagging-page {
	align-items: center;

	.custom-select {
		display: flex;
		justify-content: right;
		align-items: center;
		margin-right: 15px;

		label {
			margin-bottom: 0;
		}
	}

	.pagination {
		margin-bottom: 0;
	}
}

.btn-filter {
	margin-left: 10px;
	cursor: pointer;
}

/* ============= Dashboard ============== */
.list-news-dashboard.scrollbar {
	height: 500px;
}

.box-dashboard {
	.title-box {
		color: white;
		display: inline-block;
		width: 100%;
		font-size: 14px;
		font-weight: 600;
		text-align: center;
		background-color: #DBAE27;
		padding: 10px;
		border-radius: 4px 4px 0 0;

		&.box02 {
			background-color: $secon;
		}

		&.box03 {
			background-color: $brand;
		}
	}

	ul {
		padding: 15px 25px;
		list-style: none;
		background: #FFFFFF;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09);
		border-radius: 0 0 4px 4px;

		li {
			margin: 15px 0;
			border-bottom: 1px solid $border;
			padding-bottom: 8px;
			position: relative;
			padding-left: 30px;

			a {
				color: #485056;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;

				&:hover {
					color: $brand;
				}
			}

			img {
				position: absolute;
				left: 0;
				width: 20px;
			}
		}
	}
}

/* ============= danh mục tin - list-news ============== */
.remove-item,
.add-items {
	cursor: pointer;
}

.add-items {
	margin-right: 5px !important;
}

.cms-shadow {
	background: #FFFFFF;
	box-shadow: 0px 0px 11px rgba(18, 38, 63, 0.05);
	border-radius: 4px;
}

.box-cms-shadow {
	background: #FFFFFF;
	box-shadow: 0px 0px 11px rgba(18, 38, 63, 0.05);
	border-radius: 4px;
	margin-bottom: 15px;
	padding: 15px;

	.item-list-news {
		display: flex;
		align-items: center;

		.media-upload.custom-file-upload {
			background-color: #F0F5FA;
			padding: 5px;
			display: inline-block;
			width: 100%;
			border-radius: 4px;
		}

		img {
			margin-right: 10px;
		}

		input {
			background: #F0F5FA;
			border-radius: 4px;
			border: 1px solid #F0F5FA;
			height: 41px;

			&:focus {
				background: #fff;
				border-radius: 4px;
				border: 1px solid #E5E5E5;
			}

			&::placeholder {

				font-size: 13px;
				line-height: 24px;
				color: #292D32;
				opacity: 0.7;
			}
		}


	}

	.sub-item-list-news {
		margin-left: 25px;
		display: flex;
		align-items: center;
		margin-top: 15px;

		img {
			margin-right: 10px;
		}

		input {
			background: rgba(241, 180, 76, 0.13);
			border: 1px solid #E5E5E5;
			border-radius: 4px;
			height: 41px;
			color: $text-des;

			&:focus {
				background: #fff;
				border-radius: 4px;
				border: 1px solid #E5E5E5;
			}

			&::placeholder {

				font-size: 13px;
				line-height: 24px;
				color: #292D32;
				opacity: 0.7;
			}
		}
	}
}

.sticky-button {
	position: fixed;
	padding: 8px 0;
	border-radius: 0;
	bottom: 0;
	width: 100%;
	left: 0;
	right: 0;
	padding-left: 220px;

	.btn-action-save {
		text-align: center;

		a {
			padding: 8px 25px;
			border-radius: 4px;
			color: #fff;
			display: inline-block;
			background: $brand;
			border: 1px solid $brand;
			font-weight: 700;
			font-size: 13px;
			line-height: 16px;
			height: 35px;
			text-align: center;

			i {
				color: #fff;

				&::before {
					font-size: 14px;
					margin-right: 5px;
				}
			}

			&:hover {
				opacity: 0.9;
				display: inline-block;
				-webkit-transition: all 0.3s ease-in-out 0s;
				-o-transition: all 0.3s ease-in-out 0s;
				transition: all 0.3s ease-in-out 0s;


			}

		}
	}
}

/* =============  quản lý banner - management-banner ============== */
.align-center {
	text-align: center;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.add-items {
	padding-top: 15px;
	display: flex;
	margin-left: 25px;
	align-items: center;

	img {
		margin-right: 8px;
	}

	span {
		font-size: 13px;
		line-height: 24px;
		color: $brand;
	}
}

.body-management-banner {
	.box-header-right {
		position: absolute;
		right: 0;
		display: flex;
		align-items: center;
	}

	.table-lead {
		.tieu-de {
			.readmore {
				font-size: 14px;
				line-height: 20px;
				color: $brand;
			}
		}

		.tieude-page {
			font-weight: 700;
			font-size: 14px;
			line-height: 20px;
			color: $brand;
		}
	}

	.popup-mockup-banner .modal-dialog {
		max-width: 100%;
		height: inherit;
		margin: 0;

		.modal-content {
			height: 100%;
			border-radius: 0;

			.modal-header {
				background: transparent;
				border-bottom: 0;

				.close {
					right: 30px;
					top: 20px;
					z-index: 9999;

					span {
						font-size: 20px;
					}
				}
			}

			.modal-body {
				.content-preview {
					padding: 20px 30px;
					background: white;
					box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.09);
					margin: 0 auto;
					text-align: left;
					max-width: 1000px;

					&.scrollbar {
						height: 920px;
					}

				}

				img {
					width: 100%;
				}
			}
		}


	}
}

/* =============  chi tiết banner - detail-banner ============== */
.btn-action-send {
	text-align: center;

	a {
		padding: 8px 25px;
		border-radius: 4px;
		color: #fff;
		display: inline-block;
		background: $secon;
		border: 1px solid $secon;
		font-weight: 700;
		font-size: 13px;
		line-height: 16px;
		height: 35px;
		text-align: center;

		i {
			color: #fff;

			&::before {
				font-size: 14px;
				margin-right: 5px;
			}
		}

		&:hover {
			opacity: 0.9;
			display: inline-block;
			-webkit-transition: all 0.3s ease-in-out 0s;
			-o-transition: all 0.3s ease-in-out 0s;
			transition: all 0.3s ease-in-out 0s;


		}

	}
}

.sticky-button {
	display: flex;
	align-items: center;
	justify-content: center;

	.btn-action-send {
		margin: 0 5px;
	}

	.btn-action-save {
		margin: 0 5px;
	}
}

.body-detail-banner {
	.add-items {
		padding-top: 0;
	}

	.box-cms-shadow {
		padding: 15px 15px 40px 15px;
		// .input-banner{
		// 		.title-box{
		// 			font-size: 15px;
		// 			font-weight: 700;
		// 			display: inline-block;
		// 			width: 100%;
		// 			padding-bottom: 15px;
		// 		}

		// 	}
		.tittle-img {
			font-size: 12px;
			line-height: 15px;
			color: #565454;
			opacity: 0.5;
		}
	}

	.list-check {
		display: flex;
		align-items: center;
		margin: 30px 0;

		.add-items {
			margin: 0;
		}
	}

	.box-cms-shadow {
		padding: 15px;

		&.pb-30 {
			padding-bottom: 55px !important;
		}

		.sub-item-list-news {
			width: 100%;
		}

		.box-listnews {
			display: flex;
		}
	}

}

/* check-radio-custom */

.check-radio-custom {

	display: flex;
}

.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.check-radio-custom [type="radio"]:checked+label,
.check-radio-custom [type="radio"]:not(:checked)+label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	display: inline-block;
	color: $text;
	margin-bottom: 0;
	font-size: 14px;
}

.check-radio-custom [type="radio"]:checked+label:before,
.check-radio-custom [type="radio"]:not(:checked)+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border: 1px solid $secon;
	border-radius: 100%;
	background: #fff;
}

.check-radio-custom [type="radio"]:checked+label:after,
.check-radio-custom [type="radio"]:not(:checked)+label:after {
	content: '';
	width: 12px;
	height: 12px;
	background: $secon;
	position: absolute;
	top: 4px;
	left: 4px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.check-radio-custom [type="radio"]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.check-radio-custom [type="radio"]:checked+label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.check-radio-custom p {
	margin: 0 20px;
}

/* =============  tài khoản - detail-banner ============== */
.body-management-account {
	.box-header-right {
		position: absolute;
		right: 0;
		display: flex;
		align-items: center;
	}

	.date-time-post {
		.date-dashboard::before {
			content: none;

		}
	}

	span::after {
		content: none;

	}

	.label-green-bg {
		color: #fff;
		background-color: #03A614;
		width: auto;
		height: 25px;
		border-radius: 4px;
		padding: 5px 10px;
		cursor: pointer;
	}

}

/* =============  chi tiết tài khoản - detail-user ============== */
.body-detail-user {
	.flexs {
		justify-content: left;

	}

	p {
		margin-top: 15px;

		.check-resetpass {
			font-size: 12px;
			line-height: 24px;
			text-decoration-line: underline;
			color: $brand;

		}
	}

	.password-check {
		width: 50%;
		margin-right: 25px;
	}

	.box-cms-shadow.pb-30 {
		padding-bottom: 70px !important;
	}

	.popup-reset-password {
		.modal-body {
			padding: 30px;
		}

		.btn-action {
			margin-top: 30px;
		}

		.title-box {
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
			text-align: left;
		}

		.password-check {
			width: 100%;
		}
	}
}

/* =============  phân quyền user - user-permissions ============== */
.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 22px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: $border;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 4px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: $secon;
}

input:focus+.slider {
	box-shadow: 0 0 1px $secon;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: -8px;
	bottom: 2px;
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.body-user-permissions {
	.table-system.mb-60 {
		margin-bottom: 60px !important;
		margin-top: 15px !important;
	}

}
/* =============  cài đặt - management-setting ============== */
.body-management-setting{
	.box-setting{
		border: 1px solid $border;
		box-shadow: 0px 0px 11px rgba(18, 38, 63, 0.05);
		border-radius: 4px;
		padding: 15px;
		.media-upload{
			width: 100%;
		}
	}
	.nav-tabs {
		border-bottom: 2px solid #dee2e6;
		width: 184px;
		margin: 0 auto;
		align-items: center;
	}
.nav-tabs .nav-link{
	font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: $text;
    border-bottom: 2px solid transparent !important;
    background-color: transparent;
    border-color: unset;
    border: 0;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
	font-weight: 700;
	font-size: 18px;
	line-height: 23px;
	color: $text;
	border-bottom: 2px solid transparent !important;
	background-color: transparent;
    border-color: unset;
	border: 0;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
	font-weight: 700;
	font-size: 18px;
	line-height: 23px;
	color: $secon;
	border-bottom: 2px solid $secon !important;
	background-color: transparent;
    border-color: unset;
	border: 0;
}

}