@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
$border: #E6E6E6;
$bg-gray: #F5F7FB;
$brand: #2A6BBC;
$brand-2: #5AAE37;
$text:#333;
$text-alpha:#858585;
$text-erro: #F71729;

@media only screen and (max-width: 1601px) {
 
   
}
@media only screen and (max-width: 1400px) {

}
@media only screen and (max-width: 1201px) {

}
@media only screen and (max-width: 1025px) {
  
}

@media only screen and (max-width: 950px) {
 
}

@media only screen and (max-width: 767px) {
    h1{
        font-size: 45px !important;
    }
    h2{
        font-size: 35px !important;
    }
    h3{
        font-size: 24px !important;
    }
    h4{
        font-size: 18px !important;
    }
    h5{
        font-size: 16px !important;
    }
    h6{
        font-size: 15px !important;
    }
    br{
        display: none;
    }
    .pagging-page ul li a, .pagging-page ul li span {
        width: 25px !important;
        height: 25px !important;
    }
    .tab-system .nav-tabs {
        justify-content: left !important;
        .nav-link{
            width: 100% !important;
        }
    }
}
    
@media only screen and (max-width: 500px) {
 
}
@media only screen and (max-width: 320px) {
  
}