@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
$border: #E6E6E6;
$bg-gray: #F5F7FB;
$brand: #2A6BBC;
$brand-2: #E8A43F;
$text:#333;
$text-alpha:#858585;
$text-erro: #F71729;
body {
	font-family: 'Roboto', sans-serif;
	color: $text;
	font-weight: 400;
	padding: 0;
	margin: 0;
	width: 100%;
	line-height: 1.5;
}
.container{
	max-width: 1200px;
	margin: auto;
}
a{
	&:hover{
		text-decoration: none;
	}
}
  *{
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	text-decoration: none;
}
h1{
	font-size: 60px;
	font-weight: 700;
}
h2{
	font-size: 44px;
	font-weight: 700;
}
h3{
	font-size: 32px;
	font-weight: 700;
}
h4{
	font-size: 24px;
	font-weight: 700;
}
h5{
	font-size: 22px;
	font-weight: 700;
}
h6{
	font-size: 20px;
	font-weight: 700;
}
p, strong, b, i{
	font-size: 16px;
}
span{
	font-size: 13px;
}

label{
	font-size: 14px;
}
.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-70 {
	margin-bottom: 70px;
}

.m10 {
	margin: 10px;
}

.m15 {
	margin: 15px;
}

.m20 {
	margin: 20px;
}

.m25 {
	margin: 25px;
}

.m30 {
	margin: 30px;
}

.m35 {
	margin: 35px;
}

.m40 {
	margin: 40px;
}

.m45 {
	margin: 45px;
}

.m50 {
	margin: 50px;
}

.m55 {
	margin: 55px;
}

.m60 {
	margin: 60px;
}

.m65 {
	margin: 65px;
}

.m70 {
	margin: 70px;
}

.ml-0 {
	margin-left: 0;
}

.mr-0 {
	margin-right: 0;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.p25 {
	padding: 25px;
}

.p30 {
	padding: 30px;
}

.p35 {
	padding: 35px;
}

.p40 {
	padding: 40px;
}

.p45 {
	padding: 45px;
}

.p50 {
	padding: 50px;
}

.p55 {
	padding: 55px;
}

.p60 {
	padding: 60px;
}

.p65 {
	padding: 65px;
}

.p70 {
	padding: 70px;
}

.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}

.pt-0 {
	padding-top: 0;
}

.pb-0 {
	padding-bottom: 0;
}
.pd-left{
    padding-left: 30px;
}
.pd-right{
    padding-right: 30px;
}
// img{
// 	width: 100%;
// }

section{
	padding: 40px 0;
	display: inline-block;
	width: 100%;
	overflow: hidden;
}
.box-shadow{
	background: #FFFFFF;
	box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.08);
	border-radius: 2px;
}
@mixin webkit-line-clamp{
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.title-section {
	h2 {
		display: inline-block;
		width: 100%;
		
	}
	.desc-title{
		margin: 5px 0;
		
	}

}
.title-page{
	display: inline-block;
	width: 100%;
}
.btn-action{
	display: inline-block;
	width: 100%;
	a{
		display: inline-flex;
		align-items: center;
		justify-content: center;
	}
	button{
		outline: none;
	}
}

button{
	border: 0;
	&:focus{
		outline: none;
	}
}
.btn-common-fill,
.btn-common-line,
button,
input[type=button],
input[type=submit], .btn-common-fill2 {
	display: flex;
	align-items: center;
	justify-content: center;
	background: $brand;
	padding: 0 24px;
	color: white;
	text-align: center;
	transition: all .3s ease-in-out;
	color: white;
	height: 50px;
	line-height: 24px;
	font-weight: 600;
	font-size: 14px;
	border-radius: 2px;
	text-transform: uppercase;
	width: fit-content;
	&:hover {
		opacity: 0.9;
		color: white;
	}

	i,
	span,
	img, svg {
		font-weight: 600;
		margin-left: 5px;
		width: 16px;
	}

}
.btn-common-line{
	background-color: white !important;
	color: $brand !important;
	border: 1px solid $brand !important;
	&:hover{
		background-color: $brand !important;
		color: white !important;
		border: 1px solid $brand !important;
	}
}
.dissalbe{
	background-color: #E9E9E9;
	color: #A9A9A9;
	pointer-events: none;	
}
.center{
	text-align: center;
}
.align-left{
	text-align: left;
}
.align-right{
	text-align: right;
}
.text-main{
	color: $text;
}
.text-brand{
	color: $brand;
}
.text-uppercase{
	text-transform: uppercase;
}
.text-alpha{
	color: $text-alpha;
}
.btn.focus, .btn:focus{
	box-shadow: none;
}
a{
	text-decoration: none;
}
.fw-normal{
	font-weight: normal;
}

.flex-center{
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
/* -------------- Scrollbar-------------------- */
.scrollbar {
	width: 100%;
	margin: auto;
	overflow-x: auto;
}
::-webkit-scrollbar-track
{
	border-radius: 0px;
	background-color: #fff;
}

::-webkit-scrollbar
{
	width: 1px;
	height: 0;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	background-color: #ffffff;
}
/* -------------- Input / textarea -------------------- */
textarea{
	height: 150px !important;
}
input, select, textarea{
	border: 1px solid $border;
	border-radius: 2px;
	width: 100%;
	padding: 5px 15px;
	height: 50px;
	font-size: 14px;
	color: $text;
	&::placeholder{
		color: $text-alpha;
	}
	&:focus{
		border: 1px solid $brand;
	}
	&:invalid{
		border: 1px solid $text-erro !important;
	}
}
::-webkit-calendar-picker-indicator {
	filter: invert(0.6);
}

.error-message {
	color: $text-erro;
	display: inline-block;
	font-size: 12px;
	line-height: 15px;
	margin: 5px 0 0;
  }

.error label {
	color: $text-erro;
  }
  
  .error input[type=text] {
	background-color: #fff;
	border: 1px solid $text-erro;
	outline: none;
  }
 
/* --------------Checkbox-------------------- */

.input-custom {
	display: none;
}

.label-custom {
	color: $text;
	line-height: 1.2;
	display: flex;
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	align-items: center;
	margin-bottom: 15px;
	font-weight: normal !important;

	&:checked {
		color: $brand  !important;
	}

	&:before {
		content: "\e64c";
		font-family: "themify";
		font-size: 14px;
		color: transparent;
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		width: 20px;
		height: 20px;
		opacity: 1;
		border: 1px solid $border;
		box-sizing: border-box;
		border-radius: 4px;
		left: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.label-custom {
	&:checked {
		color: $text  !important;
	}
}

.input-custom:checked+.label-custom::before {
	color: white;
	background-color: $brand;
	border: 1px solid $brand;
}

.input-custom:checked+.label-custom {
	color: $text  !important;
	
}
/* check-radio-custom */

.check-radio-custom {
	margin: 5px 0 15px 0;
	display: flex;
}
.check-radio-custom [type="radio"]:checked+label{
	color: $brand !important;
}
.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.check-radio-custom [type="radio"]:checked+label,
.check-radio-custom [type="radio"]:not(:checked)+label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	display: inline-block;
	color: $text;
	margin-bottom: 0;
	font-weight: normal;
}

.check-radio-custom [type="radio"]:checked+label:before,
.check-radio-custom [type="radio"]:not(:checked)+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 1px;
	width: 20px;
	height: 20px;
	border: 1px solid $border;
	border-radius: 100%;
	background: #fff;
}
.check-radio-custom [type="radio"]:checked + label::before{ 
	border: 1px solid $brand !important;
}
.check-radio-custom [type="radio"]:checked+label:after,
.check-radio-custom [type="radio"]:not(:checked)+label:after {
	content: '';
	width: 12px;
	height: 12px;
	background: $brand;
	position: absolute;
	top: 5px;
	left: 4px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.check-radio-custom [type="radio"]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.check-radio-custom [type="radio"]:checked+label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.check-radio-custom p {
	margin: 0 20px;
}
.avatar-thumb{
	display: inline-block;
    width: 100%;
	a{
		position: relative;
		padding-top: 56%;
		display: block;
		img{
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}
	
}
.form-control:focus {
    border-color: $brand;
    outline: 0;
    box-shadow: none;
}
/*------------ Custom select box -------------*/
.custom-select {
	height: 50px;
	background-color: white;
	border-radius: 2px;
	border: 1px solid $border;
	position: relative;
	padding: 0;
	background: white;
	display: flex;
	align-items: center;
}
.select-items {
    overflow-y: auto !important;
    max-height: 250px;
}

.custom-select select {
	display: none;
	/*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 10px;
	vertical-align: 0.255em;
	content: "\e64b";
	font-family: 'themify';
	color: $text-alpha;
	top: 15px;
	right: 25px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
	color: $text;
	padding: 8px 16px;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	font-size: 14px;
}
.select-selected{
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 20px;
}
/* Style items (options): */
.select-items {
	padding: 15px 0;
	overflow: hidden;
	width: 100%;
	position: absolute;
	background-color: #fff;
	top: 45px;
	left: 0;
	right: 0;
	z-index: 99;
	box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
	border-radius: 2px;
	max-height: 140px;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: #EBF2FD;
}

/* ----------------------- Modal----------------------- */
.border-line-gg {
    margin-top: 40px;
    border-top: 1px solid #D1D1D1;
    width: 100%;
    position: relative;
	padding: 10px 0px 10px 0;
	span {
		color: #858585;
		position: absolute;
		top: -12px;
		z-index: 2;
		left: 0;
		right: 0;
		background-color: white;
		text-align: center;
		width: fit-content;
		margin: 0 auto;
		padding: 0 10px;
	}
}
.google-button {
	border: 1px solid #E6E6E6;
    border-radius: 2px;
    background-color: white;
    text-align: center;
    padding: 10px 15px;
    margin: 15px 5px;
    font-size: 13px;
	a{
		color: $text-alpha;
	}
	img {
		margin-right: 5px;
		height: 22px;
	}
}
.modal-login-1 {
	.google-button {
		margin-bottom: 5px !important;
	}
}
.modal-dialog.modal-dialog-medium {
    max-width: 1000px;
}
.modal-dialog.modal-dialog-large {
    max-width: 100%;
}
.modal{
	padding: 80px 0;
	.submit-login-out{
		width: 100%;
	}
}
.modal-body{
	padding: 20px 0 20px 0;
	p{
		font-weight: normal;
	}
}
.modal-content{
    margin: auto;
	border: 0;
	border-radius: 2px;
	padding: 15px 20px;
}
.modal-dialog {
	max-width: 560px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.modal-header {
	padding: 0 10px;
	border-bottom: 0;
	position: relative;
	justify-content: center;
	.close{
		position: absolute;
		right: 10px;
		font-size: 30px;
		padding: 5px;
		top: 0;
		color: $text-alpha;
		opacity: 1;
		i{

		font-size: 20px;
		font-weight: 600;
		}
		&:hover{
			outline: none;
		}
	}
}
.modal-title{
	font-weight: 600;
}

.no-sub a {

	&::after,
	&::before {
		display: none !important;
	}
}
.box-search{
	width: 100%;
	position: relative;
	input{
		width: 100%;
		height: 50px;
		border-radius: 2px 0 0 2px;
		outline: none;
		border: 1px solid $border;
		font-size: 14px;
		padding-left: 40px;
		&::placeholder{
			font-weight: 400;
			
		}
		&:focus{
			border: 1px solid $brand !important;
		}
	}
	
	i{
		position: absolute;
		left: 14px;
		font-weight: 600;
		font-size: 18px;
		color: $text-alpha;
		top: 16px;
	}
	&.search-right{
		input{
			padding-left: 20px;
		}
		i {
			left: inherit;
			right: 14px;
		}
	}
}


/* --------------------------- Pagging ------------------------------- */
.pagging-page {
	width: 100%;

	.pagination {
		margin-top: 15px;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
	}

	ul {
		li {

			a,
			span {
				display: flex;
				width: 32px;
				height: 32px;
				margin: 0 10px;
				text-align: center;
				font-size: 14px;
				text-decoration: none;
				color: $text;
				padding: 4px;
				font-weight: 500;
				align-items: center;
				justify-content: center;
				
				&.active {
					color: white;
					background-color: $brand;
					padding-top: 5px;
					border-radius:4px;
				}
			}

			&:hover {
				a {
					opacity: 0.9;
				}
			}
		}
	}
}

/*------------- Custom slider slider --------------*/
	.owl-dots{
		display: none;
	}
	.owl-nav{
		display: inline-block;
		width: 100%;
		position: absolute;
		top: 40%;
		span{
			opacity: 0;
		}
	}
	.owl-carousel{
		.item{
			padding: 20px;
			.item-news{
				margin-bottom: 0;
			}
			img{
				margin-bottom: 20px;
			}
		}
	}

	.owl-prev{
		position: absolute;
		left: -5%;
		top: 50%;
		width: 50px;
		height: 50px;
		background: url(../images/arrow-left.png) no-repeat center !important;
		background-size: contain !important;
	  }
	  .owl-next{
		position: absolute;
		right: -5%;
		top: 50%;
		width: 50px;
		height: 50px;
		background: url(../images/arrow-right.png) no-repeat center !important;
		background-size: contain !important;
	  }
	
/*------------- Custom tab content --------------*/
.tab-system{
	.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
		border-color: transparent;
	}

	.nav-tabs{
		border-bottom: 1.5px solid $border;
		justify-content: center;
		overflow-x: scroll;
		height: auto;
		white-space: nowrap;
		width: 100%;
		flex-wrap: unset;
		.nav-link{
			font-weight: 600;
			width: 25%;
			text-align: center;
			span{
				font-size: 14px;
			}
		}
	}
	.nav-item.show .nav-link, .nav-tabs .nav-link.active{
		background-color: transparent;
		border-bottom: 1.5px solid $brand;
		color: $brand;
	}
	
	.tab-content{
		margin: 20px 0;
	}
	.nav-tabs .nav-item {
		margin-bottom: 0;
		padding: 15px ;
		color: $text;
		font-weight: normal;
	}
}
/*------------- Custom swicth --------------*/
.switch-container{
	#switch{
		display: none;
	}
	.switch-label{
		position: relative;
		cursor: pointer;
		margin: 0;
		.switch-rail{
		transition: all 0.2s ease-in-out;
		position: absolute;
		width: 60px;
		height: 30px;
		background: $border;
		border-radius: 50px;
		overflow: hidden;
		.switch-slider{
			transition: all 0.2s ease-in-out;
			position: absolute;
			top: 4px;
			left: 4px;
			width: 22px;
			height: 22px;
			border-radius: 50%;
			background: #FFFFFF;
			box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
		}
		}
	}
	#switch:checked + .switch-label {
		.switch-rail{
		transition: all 0.2s ease-in-out;
		background: $brand;
		.switch-slider{
			transition: all 0.2s ease-in-out;
			transform: translateX(30px);
		} 
		}        
	}
}

/*------------- Custom editor  --------------*/
.editor-body{

	ul, ol{
		padding-left: 15px;
	}
	span, p, b, strong, label, i{
		font-size: initial !important;
		width: initial!important;
		height: initial!important;
		font-weight: initial!important;
	}
	h1, h2, h3, h4, h5, h6{
		font-size: initial!important;
		width: initial!important;
		font-weight: initial!important;
		height: initial!important;
		span, p, b, strong, label, i, a{
		font-size: initial!important;
		width: initial!important;
		font-weight: initial!important;
		height: initial!important;
		}
	}
	img{
		max-width:100% !important;
		margin:auto !important;
			margin-bottom: 15px;
		}
	}
/*------------- News --------------*/ 

.item-news {
	margin-bottom: 30px;
	position: relative;
	display: inline-block;
	width: 100%;
	.info-news {
		padding: 12px 14px 20px 20px;
		background: #FFFFFF;
		box-shadow: -2px 9px 14px rgba(0, 0, 0, 0.09);
		border-radius: 0 0 2px 2px;
		a span, span{
			color: $text-alpha;
		}
	}
	&.lagre-news{
		.desc-news{
			font-size: 16px;
		}
		.title-news a {
			font-size: 24px;
			line-height: 28px;
		}
	} 
	.avatar-thumb {
		display: block;
		a {
			padding-top: 58%;
			img {
				border-radius: 2px 2px 0 0;
			}
		}
	}
	.title-news {
		margin-bottom: 5px;
		line-height: 22px;
		a {
			font-size: 16px;
			color: $text;
			font-weight: 700;
			@include webkit-line-clamp();
			&:hover{
				color: $brand;
			}
		}
	}
	.desc-news {
		@include webkit-line-clamp();
		min-height: 46px;
		font-size: 14px;
		margin-bottom: 0;
	}

	&.item-news-right {
		padding-left: 230px;
		min-height: 130px;

		.info-news {
			box-shadow: none;
			padding-top: 0;
		}

		.avatar-thumb {
			position: absolute;
			left: 0;
			width: 230px;
		}
	}
	
	.flex-center{
		justify-content: left;
		margin-bottom: 3px;
		.date-news {
			margin-right: 5px;
			
		}
	}
}
.date-time-news {
	margin-bottom: 10px;
	span{
		margin-right: 10px;
	}
	img{
		width: 20px;
		margin-right: 7px;
	}
	p{
		.date-news::after {
			content: ',';
			display: inline-block;
			margin-left: 5px;
		}
		
	}
}
/*------------- Sticky box khhi scroll  --------------*/
.show-sticky {
    position: -webkit-sticky !important;
    position: sticky !important;
    z-index: 1;
    top: 100px;
}
/*------------- Media  --------------*/

@media only screen and (max-width: 950px) {
	.list-news-system{
		.col-md-6 {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			max-width: 100%;
		}
	}
}
@media only screen and (max-width: 767px) {
	h1{
        font-size: 32px !important;
    }
    h2{
        font-size: 26px !important;
    }
    h3{
        font-size: 22px !important;
    }
    h4{
        font-size: 18px !important;
    }
    h5{
        font-size: 16px !important;
    }
    h6{
        font-size: 15px !important;
    }
    p{
        font-size: 14px !important;
    }
 
 .item-news.lagre-news .avatar-thumb {
    width: 100% !important;
    position: inherit;
}
.item-news {
	padding-left: 140px !important;
	min-height: auto !important;
	margin-bottom: 20px;
	.info-news {
		padding-top: 0;
		padding-right: 0;
		background-color: transparent;
		box-shadow: none;
		padding: 0;
		.desc-news{
			display: none;
		}
	}
	.title-news {
		margin-bottom: 0;
		a {
			-webkit-line-clamp: inherit;
			font-size: 14px;
			line-height: 20px;
		}
	}
	.date-time-news {
		margin-bottom: 0;
	}
	.avatar-thumb {
		width: 130px !important;
		position: absolute;
		left: 0;
		top: 0;
	}
	&.lagre-news{
		padding-left: 0 !important;
		.avatar-thumb{
			width: 100% !important;
			position: inherit;
		}
		.info-news{
			padding-top: 15px;
			.desc-news{
				display: block;
				}
			}
		}
	}
	.owl-prev {
		left: 0;
	}
	.owl-next {
		right: 0;
	}

}

	
























