@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-weight: 400;
  padding: 0;
  margin: 0;
  width: 100%;
  line-height: 1.5; }

.container {
  max-width: 1200px;
  margin: auto; }

a:hover {
  text-decoration: none; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  text-decoration: none; }

h1 {
  font-size: 60px;
  font-weight: 700; }

h2 {
  font-size: 44px;
  font-weight: 700; }

h3 {
  font-size: 32px;
  font-weight: 700; }

h4 {
  font-size: 24px;
  font-weight: 700; }

h5 {
  font-size: 22px;
  font-weight: 700; }

h6 {
  font-size: 20px;
  font-weight: 700; }

p, strong, b, i {
  font-size: 16px; }

span {
  font-size: 13px; }

label {
  font-size: 14px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.m10 {
  margin: 10px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.m25 {
  margin: 25px; }

.m30 {
  margin: 30px; }

.m35 {
  margin: 35px; }

.m40 {
  margin: 40px; }

.m45 {
  margin: 45px; }

.m50 {
  margin: 50px; }

.m55 {
  margin: 55px; }

.m60 {
  margin: 60px; }

.m65 {
  margin: 65px; }

.m70 {
  margin: 70px; }

.ml-0 {
  margin-left: 0; }

.mr-0 {
  margin-right: 0; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.p25 {
  padding: 25px; }

.p30 {
  padding: 30px; }

.p35 {
  padding: 35px; }

.p40 {
  padding: 40px; }

.p45 {
  padding: 45px; }

.p50 {
  padding: 50px; }

.p55 {
  padding: 55px; }

.p60 {
  padding: 60px; }

.p65 {
  padding: 65px; }

.p70 {
  padding: 70px; }

.pl-0 {
  padding-left: 0; }

.pr-0 {
  padding-right: 0; }

.pt-0 {
  padding-top: 0; }

.pb-0 {
  padding-bottom: 0; }

.pd-left {
  padding-left: 30px; }

.pd-right {
  padding-right: 30px; }

section {
  padding: 40px 0;
  display: inline-block;
  width: 100%;
  overflow: hidden; }

.box-shadow {
  background: #FFFFFF;
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.08);
  border-radius: 2px; }

.title-section h2 {
  display: inline-block;
  width: 100%; }
.title-section .desc-title {
  margin: 5px 0; }

.title-page {
  display: inline-block;
  width: 100%; }

.btn-action {
  display: inline-block;
  width: 100%; }
  .btn-action a {
    display: inline-flex;
    align-items: center;
    justify-content: center; }
  .btn-action button {
    outline: none; }

button {
  border: 0; }
  button:focus {
    outline: none; }

.btn-common-fill,
.btn-common-line,
button,
input[type=button],
input[type=submit], .btn-common-fill2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2A6BBC;
  padding: 0 24px;
  color: white;
  text-align: center;
  transition: all .3s ease-in-out;
  color: white;
  height: 50px;
  line-height: 24px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 2px;
  text-transform: uppercase;
  width: fit-content; }
  .btn-common-fill:hover,
  .btn-common-line:hover,
  button:hover,
  input[type=button]:hover,
  input[type=submit]:hover, .btn-common-fill2:hover {
    opacity: 0.9;
    color: white; }
  .btn-common-fill i,
  .btn-common-fill span,
  .btn-common-fill img, .btn-common-fill svg,
  .btn-common-line i,
  .btn-common-line span,
  .btn-common-line img,
  .btn-common-line svg,
  button i,
  button span,
  button img,
  button svg,
  input[type=button] i,
  input[type=button] span,
  input[type=button] img,
  input[type=button] svg,
  input[type=submit] i,
  input[type=submit] span,
  input[type=submit] img,
  input[type=submit] svg, .btn-common-fill2 i,
  .btn-common-fill2 span,
  .btn-common-fill2 img, .btn-common-fill2 svg {
    font-weight: 600;
    margin-left: 5px;
    width: 16px; }

.btn-common-line {
  background-color: white !important;
  color: #2A6BBC !important;
  border: 1px solid #2A6BBC !important; }
  .btn-common-line:hover {
    background-color: #2A6BBC !important;
    color: white !important;
    border: 1px solid #2A6BBC !important; }

.dissalbe {
  background-color: #E9E9E9;
  color: #A9A9A9;
  pointer-events: none; }

.center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.text-main {
  color: #333; }

.text-brand {
  color: #2A6BBC; }

.text-uppercase {
  text-transform: uppercase; }

.text-alpha {
  color: #858585; }

.btn.focus, .btn:focus {
  box-shadow: none; }

a {
  text-decoration: none; }

.fw-normal {
  font-weight: normal; }

.flex-center {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }

/* -------------- Scrollbar-------------------- */
.scrollbar {
  width: 100%;
  margin: auto;
  overflow-x: auto; }

::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #fff; }

::-webkit-scrollbar {
  width: 1px;
  height: 0;
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #ffffff; }

/* -------------- Input / textarea -------------------- */
textarea {
  height: 150px !important; }

input, select, textarea {
  border: 1px solid #E6E6E6;
  border-radius: 2px;
  width: 100%;
  padding: 5px 15px;
  height: 50px;
  font-size: 14px;
  color: #333; }
  input::placeholder, select::placeholder, textarea::placeholder {
    color: #858585; }
  input:focus, select:focus, textarea:focus {
    border: 1px solid #2A6BBC; }
  input:invalid, select:invalid, textarea:invalid {
    border: 1px solid #F71729 !important; }

::-webkit-calendar-picker-indicator {
  filter: invert(0.6); }

.error-message {
  color: #F71729;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0; }

.error label {
  color: #F71729; }

.error input[type=text] {
  background-color: #fff;
  border: 1px solid #F71729;
  outline: none; }

/* --------------Checkbox-------------------- */
.input-custom {
  display: none; }

.label-custom {
  color: #333;
  line-height: 1.2;
  display: flex;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  align-items: center;
  margin-bottom: 15px;
  font-weight: normal !important; }
  .label-custom:checked {
    color: #2A6BBC !important; }
  .label-custom:before {
    content: "\e64c";
    font-family: "themify";
    font-size: 14px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 1;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.label-custom:checked {
  color: #333 !important; }

.input-custom:checked + .label-custom::before {
  color: white;
  background-color: #2A6BBC;
  border: 1px solid #2A6BBC; }

.input-custom:checked + .label-custom {
  color: #333 !important; }

/* check-radio-custom */
.check-radio-custom {
  margin: 5px 0 15px 0;
  display: flex; }

.check-radio-custom [type="radio"]:checked + label {
  color: #2A6BBC !important; }

.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

.check-radio-custom [type="radio"]:checked + label,
.check-radio-custom [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  display: inline-block;
  color: #333;
  margin-bottom: 0;
  font-weight: normal; }

.check-radio-custom [type="radio"]:checked + label:before,
.check-radio-custom [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 20px;
  height: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 100%;
  background: #fff; }

.check-radio-custom [type="radio"]:checked + label::before {
  border: 1px solid #2A6BBC !important; }

.check-radio-custom [type="radio"]:checked + label:after,
.check-radio-custom [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #2A6BBC;
  position: absolute;
  top: 5px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.check-radio-custom [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

.check-radio-custom [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.check-radio-custom p {
  margin: 0 20px; }

.avatar-thumb {
  display: inline-block;
  width: 100%; }
  .avatar-thumb a {
    position: relative;
    padding-top: 56%;
    display: block; }
    .avatar-thumb a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.form-control:focus {
  border-color: #2A6BBC;
  outline: 0;
  box-shadow: none; }

/*------------ Custom select box -------------*/
.custom-select {
  height: 50px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid #E6E6E6;
  position: relative;
  padding: 0;
  background: white;
  display: flex;
  align-items: center; }

.select-items {
  overflow-y: auto !important;
  max-height: 250px; }

.custom-select select {
  display: none;
  /*hide original SELECT element: */ }

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: 0.255em;
  content: "\e64b";
  font-family: 'themify';
  color: #858585;
  top: 15px;
  right: 25px; }

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #333;
  padding: 8px 16px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 14px; }

.select-selected {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px; }

/* Style items (options): */
.select-items {
  padding: 15px 0;
  overflow: hidden;
  width: 100%;
  position: absolute;
  background-color: #fff;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  max-height: 140px; }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  background-color: #EBF2FD; }

/* ----------------------- Modal----------------------- */
.border-line-gg {
  margin-top: 40px;
  border-top: 1px solid #D1D1D1;
  width: 100%;
  position: relative;
  padding: 10px 0px 10px 0; }
  .border-line-gg span {
    color: #858585;
    position: absolute;
    top: -12px;
    z-index: 2;
    left: 0;
    right: 0;
    background-color: white;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 0 10px; }

.google-button {
  border: 1px solid #E6E6E6;
  border-radius: 2px;
  background-color: white;
  text-align: center;
  padding: 10px 15px;
  margin: 15px 5px;
  font-size: 13px; }
  .google-button a {
    color: #858585; }
  .google-button img {
    margin-right: 5px;
    height: 22px; }

.modal-login-1 .google-button {
  margin-bottom: 5px !important; }

.modal-dialog.modal-dialog-medium {
  max-width: 1000px; }

.modal-dialog.modal-dialog-large {
  max-width: 100%; }

.modal {
  padding: 80px 0; }
  .modal .submit-login-out {
    width: 100%; }

.modal-body {
  padding: 20px 0 20px 0; }
  .modal-body p {
    font-weight: normal; }

.modal-content {
  margin: auto;
  border: 0;
  border-radius: 2px;
  padding: 15px 20px; }

.modal-dialog {
  max-width: 560px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }

.modal-header {
  padding: 0 10px;
  border-bottom: 0;
  position: relative;
  justify-content: center; }
  .modal-header .close {
    position: absolute;
    right: 10px;
    font-size: 30px;
    padding: 5px;
    top: 0;
    color: #858585;
    opacity: 1; }
    .modal-header .close i {
      font-size: 20px;
      font-weight: 600; }
    .modal-header .close:hover {
      outline: none; }

.modal-title {
  font-weight: 600; }

.no-sub a::after, .no-sub a::before {
  display: none !important; }

.box-search {
  width: 100%;
  position: relative; }
  .box-search input {
    width: 100%;
    height: 50px;
    border-radius: 2px 0 0 2px;
    outline: none;
    border: 1px solid #E6E6E6;
    font-size: 14px;
    padding-left: 40px; }
    .box-search input::placeholder {
      font-weight: 400; }
    .box-search input:focus {
      border: 1px solid #2A6BBC !important; }
  .box-search i {
    position: absolute;
    left: 14px;
    font-weight: 600;
    font-size: 18px;
    color: #858585;
    top: 16px; }
  .box-search.search-right input {
    padding-left: 20px; }
  .box-search.search-right i {
    left: inherit;
    right: 14px; }

/* --------------------------- Pagging ------------------------------- */
.pagging-page {
  width: 100%; }
  .pagging-page .pagination {
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; }
  .pagging-page ul li a,
  .pagging-page ul li span {
    display: flex;
    width: 32px;
    height: 32px;
    margin: 0 10px;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    color: #333;
    padding: 4px;
    font-weight: 500;
    align-items: center;
    justify-content: center; }
    .pagging-page ul li a.active,
    .pagging-page ul li span.active {
      color: white;
      background-color: #2A6BBC;
      padding-top: 5px;
      border-radius: 4px; }
  .pagging-page ul li:hover a {
    opacity: 0.9; }

/*------------- Custom slider slider --------------*/
.owl-dots {
  display: none; }

.owl-nav {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 40%; }
  .owl-nav span {
    opacity: 0; }

.owl-carousel .item {
  padding: 20px; }
  .owl-carousel .item .item-news {
    margin-bottom: 0; }
  .owl-carousel .item img {
    margin-bottom: 20px; }

.owl-prev {
  position: absolute;
  left: -5%;
  top: 50%;
  width: 50px;
  height: 50px;
  background: url(../images/arrow-left.png) no-repeat center !important;
  background-size: contain !important; }

.owl-next {
  position: absolute;
  right: -5%;
  top: 50%;
  width: 50px;
  height: 50px;
  background: url(../images/arrow-right.png) no-repeat center !important;
  background-size: contain !important; }

/*------------- Custom tab content --------------*/
.tab-system .nav-tabs .nav-link:focus, .tab-system .nav-tabs .nav-link:hover, .tab-system .nav-tabs .nav-item.show .nav-link, .tab-system .nav-tabs .nav-link.active {
  border-color: transparent; }
.tab-system .nav-tabs {
  border-bottom: 1.5px solid #E6E6E6;
  justify-content: center;
  overflow-x: scroll;
  height: auto;
  white-space: nowrap;
  width: 100%;
  flex-wrap: unset; }
  .tab-system .nav-tabs .nav-link {
    font-weight: 600;
    width: 25%;
    text-align: center; }
    .tab-system .nav-tabs .nav-link span {
      font-size: 14px; }
.tab-system .nav-item.show .nav-link, .tab-system .nav-tabs .nav-link.active {
  background-color: transparent;
  border-bottom: 1.5px solid #2A6BBC;
  color: #2A6BBC; }
.tab-system .tab-content {
  margin: 20px 0; }
.tab-system .nav-tabs .nav-item {
  margin-bottom: 0;
  padding: 15px;
  color: #333;
  font-weight: normal; }

/*------------- Custom swicth --------------*/
.switch-container #switch {
  display: none; }
.switch-container .switch-label {
  position: relative;
  cursor: pointer;
  margin: 0; }
  .switch-container .switch-label .switch-rail {
    transition: all 0.2s ease-in-out;
    position: absolute;
    width: 60px;
    height: 30px;
    background: #E6E6E6;
    border-radius: 50px;
    overflow: hidden; }
    .switch-container .switch-label .switch-rail .switch-slider {
      transition: all 0.2s ease-in-out;
      position: absolute;
      top: 4px;
      left: 4px;
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background: #FFFFFF;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); }
.switch-container #switch:checked + .switch-label .switch-rail {
  transition: all 0.2s ease-in-out;
  background: #2A6BBC; }
  .switch-container #switch:checked + .switch-label .switch-rail .switch-slider {
    transition: all 0.2s ease-in-out;
    transform: translateX(30px); }

/*------------- Custom editor  --------------*/
.editor-body ul, .editor-body ol {
  padding-left: 15px; }
.editor-body span, .editor-body p, .editor-body b, .editor-body strong, .editor-body label, .editor-body i {
  font-size: initial !important;
  width: initial !important;
  height: initial !important;
  font-weight: initial !important; }
.editor-body h1, .editor-body h2, .editor-body h3, .editor-body h4, .editor-body h5, .editor-body h6 {
  font-size: initial !important;
  width: initial !important;
  font-weight: initial !important;
  height: initial !important; }
  .editor-body h1 span, .editor-body h1 p, .editor-body h1 b, .editor-body h1 strong, .editor-body h1 label, .editor-body h1 i, .editor-body h1 a, .editor-body h2 span, .editor-body h2 p, .editor-body h2 b, .editor-body h2 strong, .editor-body h2 label, .editor-body h2 i, .editor-body h2 a, .editor-body h3 span, .editor-body h3 p, .editor-body h3 b, .editor-body h3 strong, .editor-body h3 label, .editor-body h3 i, .editor-body h3 a, .editor-body h4 span, .editor-body h4 p, .editor-body h4 b, .editor-body h4 strong, .editor-body h4 label, .editor-body h4 i, .editor-body h4 a, .editor-body h5 span, .editor-body h5 p, .editor-body h5 b, .editor-body h5 strong, .editor-body h5 label, .editor-body h5 i, .editor-body h5 a, .editor-body h6 span, .editor-body h6 p, .editor-body h6 b, .editor-body h6 strong, .editor-body h6 label, .editor-body h6 i, .editor-body h6 a {
    font-size: initial !important;
    width: initial !important;
    font-weight: initial !important;
    height: initial !important; }
.editor-body img {
  max-width: 100% !important;
  margin: auto !important;
  margin-bottom: 15px; }

/*------------- News --------------*/
.item-news {
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  width: 100%; }
  .item-news .info-news {
    padding: 12px 14px 20px 20px;
    background: #FFFFFF;
    box-shadow: -2px 9px 14px rgba(0, 0, 0, 0.09);
    border-radius: 0 0 2px 2px; }
    .item-news .info-news a span, .item-news .info-news span {
      color: #858585; }
  .item-news.lagre-news .desc-news {
    font-size: 16px; }
  .item-news.lagre-news .title-news a {
    font-size: 24px;
    line-height: 28px; }
  .item-news .avatar-thumb {
    display: block; }
    .item-news .avatar-thumb a {
      padding-top: 58%; }
      .item-news .avatar-thumb a img {
        border-radius: 2px 2px 0 0; }
  .item-news .title-news {
    margin-bottom: 5px;
    line-height: 22px; }
    .item-news .title-news a {
      font-size: 16px;
      color: #333;
      font-weight: 700;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }
      .item-news .title-news a:hover {
        color: #2A6BBC; }
  .item-news .desc-news {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 46px;
    font-size: 14px;
    margin-bottom: 0; }
  .item-news.item-news-right {
    padding-left: 230px;
    min-height: 130px; }
    .item-news.item-news-right .info-news {
      box-shadow: none;
      padding-top: 0; }
    .item-news.item-news-right .avatar-thumb {
      position: absolute;
      left: 0;
      width: 230px; }
  .item-news .flex-center {
    justify-content: left;
    margin-bottom: 3px; }
    .item-news .flex-center .date-news {
      margin-right: 5px; }

.date-time-news {
  margin-bottom: 10px; }
  .date-time-news span {
    margin-right: 10px; }
  .date-time-news img {
    width: 20px;
    margin-right: 7px; }
  .date-time-news p .date-news::after {
    content: ',';
    display: inline-block;
    margin-left: 5px; }

/*------------- Sticky box khhi scroll  --------------*/
.show-sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  z-index: 1;
  top: 100px; }

/*------------- Media  --------------*/
@media only screen and (max-width: 950px) {
  .list-news-system .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; } }
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 32px !important; }

  h2 {
    font-size: 26px !important; }

  h3 {
    font-size: 22px !important; }

  h4 {
    font-size: 18px !important; }

  h5 {
    font-size: 16px !important; }

  h6 {
    font-size: 15px !important; }

  p {
    font-size: 14px !important; }

  .item-news.lagre-news .avatar-thumb {
    width: 100% !important;
    position: inherit; }

  .item-news {
    padding-left: 140px !important;
    min-height: auto !important;
    margin-bottom: 20px; }
    .item-news .info-news {
      padding-top: 0;
      padding-right: 0;
      background-color: transparent;
      box-shadow: none;
      padding: 0; }
      .item-news .info-news .desc-news {
        display: none; }
    .item-news .title-news {
      margin-bottom: 0; }
      .item-news .title-news a {
        -webkit-line-clamp: inherit;
        font-size: 14px;
        line-height: 20px; }
    .item-news .date-time-news {
      margin-bottom: 0; }
    .item-news .avatar-thumb {
      width: 130px !important;
      position: absolute;
      left: 0;
      top: 0; }
    .item-news.lagre-news {
      padding-left: 0 !important; }
      .item-news.lagre-news .avatar-thumb {
        width: 100% !important;
        position: inherit; }
      .item-news.lagre-news .info-news {
        padding-top: 15px; }
        .item-news.lagre-news .info-news .desc-news {
          display: block; }

  .owl-prev {
    left: 0; }

  .owl-next {
    right: 0; } }
/* ========================  Hompage - Giới thiệu tổng quan 1 ========================= */
.gioithieu-tongquan1 {
  background: #FFF1D8;
  padding: 50px 0; }

.h-gioithieu-tongquan1.row {
  align-items: center; }
.h-gioithieu-tongquan1 img {
  width: 100%;
  margin: 20px 0; }
.h-gioithieu-tongquan1 h6 {
  margin: 20px 0 15px 0;
  text-transform: uppercase; }
.h-gioithieu-tongquan1 p {
  line-height: 28px; }
.h-gioithieu-tongquan1 span {
  font-size: 14px;
  text-transform: uppercase;
  color: #858585; }

@media only screen and (max-width: 767px) {
  .h-gioithieu-tongquan1 {
    margin-top: 0; }
    .h-gioithieu-tongquan1 h6 {
      font-size: 18px !important;
      line-height: 30px;
      margin: 15px 0; } }
/* ========================  End Hompage - Giới thiệu tổng quan 1 ========================= */
/* ========================  Hompage - Giới thiệu tổng quan 2 ========================= */
.gioithieu-tongquan2 {
  background: white;
  padding: 50px 0; }

.h-gioithieu-tongquan2 {
  margin-top: 0; }
  .h-gioithieu-tongquan2 img {
    width: 100%;
    margin: 20px 0; }
  .h-gioithieu-tongquan2 h6 {
    margin: 20px 0 15px 0; }
  .h-gioithieu-tongquan2 span {
    font-size: 14px;
    color: #858585; }

@media only screen and (max-width: 767px) {
  .h-gioithieu-tongquan2 h6 {
    font-size: 18px !important;
    line-height: 30px;
    margin: 15px 0; } }
/* ========================  End Hompage - Giới thiệu tổng quan 2 ========================= */
/* ========================  Hompage - Giới thiệu tổng quan 3 ========================= */
.gioithieu-tongquan3 .text-brand {
  font-size: 16px;
  margin-bottom: 15px; }
.gioithieu-tongquan3 .row {
  align-items: center; }
.gioithieu-tongquan3 p {
  font-size: 32px;
  text-align: left;
  margin-bottom: 20px;
  font-weight: 800; }
.gioithieu-tongquan3 span {
  font-size: 20px; }
.gioithieu-tongquan3 .item-box-h {
  margin-top: 50px; }

.item-box-h {
  text-align: center; }
  .item-box-h img {
    width: 52px; }
  .item-box-h h4 {
    margin-bottom: 15px;
    margin-top: 30px; }
  .item-box-h p {
    font-size: 16px;
    color: #858585;
    font-weight: normal;
    line-height: 24px;
    text-align: center; }

.list-number-td {
  display: inline-block;
  width: 100%;
  position: relative;
  background: url(../images/h-bgcircle.png) no-repeat center top;
  background-size: contain !important;
  height: 100%; }
  .list-number-td p {
    font-weight: 700;
    text-align: center;
    line-height: normal;
    margin-bottom: 0; }
  .list-number-td span {
    font-size: 20px; }

.number-td01 {
  color: white;
  text-align: center;
  width: 230px;
  height: 230px;
  border-radius: 100%;
  background-color: #F71729;
  opacity: .6;
  position: absolute;
  z-index: 1; }
  .number-td01 p {
    font-size: 60px; }

.number-td02 {
  color: white;
  text-align: center;
  width: 320px;
  height: 320px;
  border-radius: 100%;
  background-color: #2A6BBC;
  opacity: .6;
  position: relative;
  margin-top: 150px;
  margin-left: 50px; }
  .number-td02 p {
    font-size: 136px; }

.number-td03 {
  opacity: .6;
  color: white;
  text-align: center;
  width: 180px;
  height: 180px;
  border-radius: 100%;
  background-color: #85B867;
  position: absolute;
  right: 100px;
  top: 100px; }
  .number-td03 p {
    font-size: 66px; }

@media only screen and (max-width: 1201px) {
  .gioithieu-tongquan3 .number-td03 {
    right: 0; }
  .gioithieu-tongquan3 .number-td02 p {
    font-size: 100px; }
  .gioithieu-tongquan3 .mo-ta-con-so {
    font-size: 22px; } }
@media only screen and (max-width: 950px) {
  .number-td03 p, .number-td01 p {
    font-size: 66px !important; }

  .number-td01 {
    width: 200px;
    height: 200px; }

  .number-td02 {
    width: 250px;
    height: 250px;
    margin-left: 40px; }
    .number-td02 p {
      font-size: 90px !important; }

  .number-td03 {
    right: 0;
    width: 160px;
    height: 160px;
    top: 60px; } }
@media only screen and (max-width: 767px) {
  .gioithieu-tongquan3 h5 {
    margin-bottom: 3px;
    text-align: center; }
  .gioithieu-tongquan3 span {
    font-size: 20px;
    text-align: center;
    width: 100%;
    display: inline-block; }
  .gioithieu-tongquan3 .mo-ta-con-so {
    text-align: center;
    font-size: 20px !important;
    line-height: 30px;
    margin: 20px 0; }
  .gioithieu-tongquan3 .number-td01 {
    width: 180px;
    height: 180px; }
  .gioithieu-tongquan3 .item-box-h {
    margin-top: 30px; }
    .gioithieu-tongquan3 .item-box-h p {
      margin-bottom: 0; } }
@media only screen and (max-width: 320px) {
  .number-td01, .number-td03 {
    width: 150px;
    height: 150px;
    top: 20px; }

  .number-td03 p {
    font-size: 35px !important; }

  .number-td02 {
    margin-left: 20px; }
    .number-td02 p {
      font-size: 75px !important; } }
/* ========================  End Hompage - Giới thiệu tổng quan 3 ========================= */
/* ========================  Giới thiệu tổng quan 4 ========================= */
.h-gioithieu-tongquan4 .h-slider-items .item {
  border: 1px solid #eee;
  margin: 20px 20px 0 20px;
  text-align: center;
  background: #FFFFFF;
  border-radius: 2px;
  padding: 30px 25px; }
  .h-gioithieu-tongquan4 .h-slider-items .item span {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0 30px 0;
    color: #2A6BBC; }
  .h-gioithieu-tongquan4 .h-slider-items .item h5 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 15px; }
    .h-gioithieu-tongquan4 .h-slider-items .item h5 a {
      color: #2A6BBC; }
  .h-gioithieu-tongquan4 .h-slider-items .item img {
    width: 36px;
    margin: 0 auto; }
  .h-gioithieu-tongquan4 .h-slider-items .item p {
    display: -webkit-box;
    min-height: 103px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4; }

@media only screen and (max-width: 1201px) {
  .h-gioithieu-tongquan4 .owl-nav {
    display: none; }
  .h-gioithieu-tongquan4 .owl-dots {
    display: block; } }
@media only screen and (max-width: 767px) {
  .h-gioithieu-tongquan4 .h-slider-items {
    margin: inherit; } }
/* ========================  END Giới thiệu tổng quan 4 ========================= */
/* ========================  Hompage - Giới thiệu tổng quan 5 ========================= */
.gioithieu-tongquan5 {
  background: url(../images/h-bgtongquan5-section.png) no-repeat center;
  display: inline-block;
  background-size: contain;
  padding: 50px 0; }

.h-gioithieu-tongquan5 img {
  width: 100%; }
.h-gioithieu-tongquan5 h6 {
  margin: 20px 0 15px 0;
  font-size: 44px; }
.h-gioithieu-tongquan5 p {
  line-height: 28px; }
.h-gioithieu-tongquan5 span {
  font-size: 22px;
  font-weight: 800;
  color: #2A6BBC; }

@media only screen and (max-width: 767px) {
  .h-gioithieu-tongquan1 {
    margin-top: 0; }
    .h-gioithieu-tongquan1 h6 {
      font-size: 18px !important;
      line-height: 30px;
      margin: 15px 0; } }
/* ========================  End Hompage - Giới thiệu tổng quan 5 ========================= */
/* ========================  Hompage - Giới thiệu tổng quan 6 ========================= */
.gioithieu-tongquan6 {
  position: relative;
  width: 100%; }
  .gioithieu-tongquan6 h6 {
    margin: 20px 0 15px 0;
    font-size: 44px;
    text-transform: uppercase;
    color: white; }
  .gioithieu-tongquan6 p {
    line-height: 28px;
    color: white;
    padding-right: 90px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .gioithieu-tongquan6 span {
    font-size: 22px;
    font-weight: 800;
    color: #E8A43F; }
  .gioithieu-tongquan6 .btn-common-fill {
    background: #E8A43F; }
  .gioithieu-tongquan6 .bg-content-left-tongquan6 {
    display: inline-block;
    background-color: #2A6BBC;
    width: 50%;
    padding: 50px 50px 50px 200px; }
  .gioithieu-tongquan6 .content-right-tongquan6 {
    display: inline-block;
    width: 600px;
    position: absolute;
    right: 150px;
    top: 80px; }
    .gioithieu-tongquan6 .content-right-tongquan6 img {
      width: 100%; }

@media only screen and (max-width: 1201px) {
  .gioithieu-tongquan6 .bg-content-left-tongquan6 {
    padding: 50px 50px 50px 50px; }
  .gioithieu-tongquan6 .content-right-tongquan6 {
    right: 45px; } }
@media only screen and (max-width: 1025px) {
  .gioithieu-tongquan6 .content-right-tongquan6 {
    width: 500px;
    top: 100px; } }
@media only screen and (max-width: 950px) {
  .gioithieu-tongquan6 {
    display: initial; }
    .gioithieu-tongquan6 .bg-content-left-tongquan6 {
      width: 100%;
      padding: 50px 20px; }
    .gioithieu-tongquan6 .content-right-tongquan6 {
      width: 100%;
      margin-left: 0;
      position: initial; } }
@media only screen and (max-width: 767px) {
  .gioithieu-tongquan6 p {
    -webkit-line-clamp: inherit;
    padding-right: 0; } }
/* ========================  END Hompage - Giới thiệu tổng quan 6 ========================= */
/* ========================  Hompage - Giới thiệu tổng quan 7 ========================= */
.h-gioithieu-tongquan7 .box-title-btn {
  display: flex;
  align-items: center; }
  .h-gioithieu-tongquan7 .box-title-btn .btn-common-fill {
    margin-top: 0;
    margin-left: 30px; }
.h-gioithieu-tongquan7 img {
  width: 100%; }
.h-gioithieu-tongquan7 h3 {
  margin: 15px 0 15px 0; }
.h-gioithieu-tongquan7 p {
  line-height: 28px; }
.h-gioithieu-tongquan7 span {
  font-size: 20px;
  font-weight: 800;
  color: #E8A43F; }

#faq .card {
  border: 0;
  margin-bottom: 20px; }

#faq .card .card-header {
  padding: 0; }

#faq .card .card-body {
  font-size: 15px;
  padding-left: 25px;
  padding-top: 25px;
  text-align: justify; }

#faq .card .card-header .btn-header-link {
  color: #333;
  display: block;
  text-align: left;
  background: #e9a43f;
  padding: 20px 28px;
  border-radius: 0;
  font-weight: 500;
  color: white;
  font-weight: normal; }

#faq .card .card-header .btn-header-link:after {
  content: "\e64b";
  font-family: 'themify';
  font-weight: 700;
  position: absolute;
  right: 20px;
  top: 20px; }

#faq .card .card-header .btn-header-link.collapsed {
  color: #333;
  background: white;
  font-weight: normal; }

#faq .card .card-header .btn-header-link.collapsed:after {
  content: "\e648"; }

#faq .card .collapsing {
  background: #fff;
  line-height: 30px; }

#faq .card .collapse {
  border: 0; }

#faq .card .collapse.show {
  background: #fff;
  line-height: 30px;
  color: #333; }

.videos {
  margin: 100px auto 0 auto;
  width: 500px;
  height: 300px; }
  .videos .video-cans {
    display: inline-block;
    width: 100%;
    position: relative;
    background-size: cover !important;
    height: 300px;
    cursor: pointer;
    z-index: 12; }
    .videos .video-cans img {
      width: 100%; }
  .videos .close-bg-video {
    position: absolute;
    right: -50px;
    top: -10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    font-weight: normal;
    border: 0;
    font-size: 20px;
    outline: none;
    z-index: 9999999;
    background-color: white; }
  .videos .current_page_item a {
    color: #2A6BBC; }
  .videos .overlay {
    width: 100%;
    margin: 0 auto;
    height: 300px;
    display: none; }
    .videos .overlay._active {
      display: block; }
      .videos .overlay._active iframe {
        width: 100%;
        height: 300px; }

.list-video {
  position: relative;
  width: 100%;
  display: inline-block; }

.video-detail {
  position: absolute;
  width: 250px;
  top: 15px; }

.video-detail2 {
  position: absolute;
  width: 140px;
  top: 0;
  right: 160px; }

.video-detail3 {
  position: absolute;
  width: 140px;
  bottom: -100px;
  left: 15px; }

.video-detail4 {
  position: absolute;
  width: 180px;
  bottom: -140px;
  right: 15px; }

@media only screen and (max-width: 950px) {
  .gioithieu-tongquan7 {
    overflow: inherit; }

  .h-gioithieu-tongquan7 .col-md-5, .h-gioithieu-tongquan7 .col-md-7 {
    flex: 0 0 100%;
    max-width: 100%; }
  .h-gioithieu-tongquan7 .list-video {
    margin: 40px 0; } }
@media only screen and (max-width: 767px) {
  .gioithieu-tongquan7 {
    margin-bottom: 30px; }
    .gioithieu-tongquan7 span {
      font-size: 14px; }

  .videos {
    width: 100%; }

  .video-detail {
    width: 150px;
    top: 0; }

  .video-detail2 {
    right: 0;
    width: 150px; }

  .video-detail3 {
    width: 150px;
    left: 0; }

  .video-detail4 {
    width: 150px;
    right: 0;
    bottom: -175px; } }
/* ========================  Hompage - Giới thiệu tổng quan 8 ========================= */
.h-gioithieu-tongquan8 .box-title-btn {
  display: flex;
  align-items: center; }
  .h-gioithieu-tongquan8 .box-title-btn .btn-common-fill {
    margin-top: 0; }
.h-gioithieu-tongquan8 img {
  width: 100%; }
.h-gioithieu-tongquan8 h3 {
  margin: 15px 0 15px 0; }
.h-gioithieu-tongquan8 p {
  line-height: 28px; }
.h-gioithieu-tongquan8 span {
  font-size: 22px;
  font-weight: 800;
  color: #E8A43F; }
.h-gioithieu-tongquan8 .box-imgs {
  float: left; }
  .h-gioithieu-tongquan8 .box-imgs .img-right {
    margin-left: 20px; }
.h-gioithieu-tongquan8 .box-number {
  margin-left: 20px;
  color: white;
  background: #F71729;
  text-align: center;
  padding: 24px 5px;
  border-radius: 2px; }
  .h-gioithieu-tongquan8 .box-number p {
    font-size: 44px;
    font-weight: bold; }
  .h-gioithieu-tongquan8 .box-number span {
    font-size: 16px;
    color: white;
    font-weight: normal; }

.h-list-items .box-items {
  padding: 30px;
  background: white; }
  .h-list-items .box-items h4 {
    color: #2A6BBC;
    margin-bottom: 15px; }
  .h-list-items .box-items p {
    color: #858585; }

@media only screen and (max-width: 950px) {
  .h-gioithieu-tongquan8 .img-right {
    margin-left: 0  !important;
    margin-top: 20px; }
  .h-gioithieu-tongquan8 .col-md-5, .h-gioithieu-tongquan8 .col-md-7 {
    flex: 0 0 100%;
    max-width: 100%; }
  .h-gioithieu-tongquan8 .box-title-btn {
    margin-bottom: 30px; }
  .h-gioithieu-tongquan8 .box-imgs {
    float: inherit; }
  .h-gioithieu-tongquan8 .box-number {
    margin-left: 0 !important; } }
@media only screen and (max-width: 767px) {
  .gioithieu-tongquan8 .h-gioithieu-tongquan8 .img-left {
    margin-top: 15px; }
  .gioithieu-tongquan8 .h-gioithieu-tongquan8 .img-right {
    margin-left: 0 !important;
    margin-top: 15px; }
  .gioithieu-tongquan8 .h-gioithieu-tongquan8 .box-number {
    margin-left: 0 !important;
    margin-top: 15px; }
    .gioithieu-tongquan8 .h-gioithieu-tongquan8 .box-number p {
      font-size: 28px  !important; }
  .gioithieu-tongquan8 .h-gioithieu-tongquan8 .box-imgs {
    float: inherit; }
  .gioithieu-tongquan8 .box-items {
    margin-bottom: 15px; } }
/* ========================  Hompage - Giới thiệu tổng quan 9 ========================= */
.h-gioithieu-tongquan9 .box-title-btn {
  display: flex;
  align-items: center; }
  .h-gioithieu-tongquan9 .box-title-btn .btn-common-fill {
    margin-top: 0; }
.h-gioithieu-tongquan9 img {
  width: 100%; }
.h-gioithieu-tongquan9 h3 {
  margin: 15px 0 15px 0; }
.h-gioithieu-tongquan9 p {
  line-height: 28px; }
.h-gioithieu-tongquan9 span {
  font-size: 20px;
  font-weight: 800;
  color: #E8A43F; }
.h-gioithieu-tongquan9 .bg-yellow {
  background: #FFF1D8 !important; }
.h-gioithieu-tongquan9 .bg-pink {
  background: rgba(247, 23, 41, 0.1) !important; }
.h-gioithieu-tongquan9 .bg-green {
  background: #E9F6ED !important; }
.h-gioithieu-tongquan9 .box-imgs {
  float: left; }
  .h-gioithieu-tongquan9 .box-imgs .img-right {
    margin-left: 20px; }
.h-gioithieu-tongquan9 .box-number {
  margin-left: 20px;
  color: #333;
  background: #F71729;
  text-align: center;
  padding: 24px 5px;
  border-radius: 2px; }
  .h-gioithieu-tongquan9 .box-number p {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold; }
  .h-gioithieu-tongquan9 .box-number span {
    font-size: 16px;
    color: #333;
    font-weight: normal; }
  .h-gioithieu-tongquan9 .box-number .numbers {
    font-size: 32px; }

@media only screen and (max-width: 950px) {
  .h-gioithieu-tongquan9 .bg-green {
    margin-left: 0 !important; }
  .h-gioithieu-tongquan9 .img-right {
    margin-left: 0 !important; }
  .h-gioithieu-tongquan9 .col-md-5, .h-gioithieu-tongquan9 .col-md-7 {
    flex: 0 0 100%;
    max-width: 100%; }
  .h-gioithieu-tongquan9 .box-title-btn {
    margin-bottom: 30px; }
  .h-gioithieu-tongquan9 .box-imgs {
    float: inherit; } }
@media only screen and (max-width: 767px) {
  .gioithieu-tongquan9 .h-gioithieu-tongquan9 .img-left {
    margin-top: 15px; }
  .gioithieu-tongquan9 .h-gioithieu-tongquan9 .img-right {
    margin-left: 0 !important;
    margin-top: 15px; }
  .gioithieu-tongquan9 .h-gioithieu-tongquan9 .box-number {
    margin-left: 0 !important;
    margin-top: 15px; }
    .gioithieu-tongquan9 .h-gioithieu-tongquan9 .box-number p {
      font-size: 28px  !important; }
  .gioithieu-tongquan9 .h-gioithieu-tongquan9 .box-imgs {
    float: inherit; }
  .gioithieu-tongquan9 .box-items {
    margin-bottom: 15px; } }
/* ========================  Thành tựu 1 ========================= */
.h-info-text-col span {
  font-size: 20px; }
.h-info-text-col h3 {
  margin: 15px 0 15px 0; }

.thanh-tuu1 {
  background-color: white;
  color: #333; }
  .thanh-tuu1 p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4; }
  .thanh-tuu1 .col-right-number {
    display: inline-block;
    width: 100%; }
    .thanh-tuu1 .col-right-number h2 {
      font-size: 60px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .thanh-tuu1 .col-right-number h2 span {
        font-size: 40px;
        margin-left: 10px;
        font-weight: normal; }
    .thanh-tuu1 .col-right-number .list-number {
      height: 230px;
      width: 50%;
      float: left;
      border: 1px solid #D9D9D9;
      padding: 70px 38px 30px 38px;
      border-bottom: 0;
      text-align: center; }
      .thanh-tuu1 .col-right-number .list-number:nth-child(1), .thanh-tuu1 .col-right-number .list-number:nth-child(2), .thanh-tuu1 .col-right-number .list-number:nth-child(3), .thanh-tuu1 .col-right-number .list-number:nth-child(4) {
        border-right: 0; }
      .thanh-tuu1 .col-right-number .list-number:nth-child(1), .thanh-tuu1 .col-right-number .list-number:nth-child(2) {
        border-top: 0; }
      .thanh-tuu1 .col-right-number .list-number p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3;
        font-size: 20px; }

@media only screen and (max-width: 950px) {
  .thanh-tuu1 .col-right-number h2 {
    font-size: 40px !important; } }
@media only screen and (max-width: 767px) {
  .thanh-tuu1 .col-right-number {
    padding-left: 0 !important;
    margin-top: 30px; }
  .thanh-tuu1 .thanh-tuu1 p {
    -webkit-line-clamp: inherit; }
  .thanh-tuu1 .h-info-text-col span {
    font-size: 14px; }
  .thanh-tuu1 .list-number h2 span {
    font-size: 28px !important; } }
/* ========================  Thành tựu 2 ========================= */
.h-info-text-col span {
  font-size: 20px; }
.h-info-text-col h3 {
  margin: 15px 0 15px 0; }

.thanh-tuu2 {
  background-color: white;
  color: #333; }
  .thanh-tuu2 p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 4; }
  .thanh-tuu2 .col-right-number {
    display: inline-block;
    width: 100%; }
    .thanh-tuu2 .col-right-number h2 {
      font-size: 60px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .thanh-tuu2 .col-right-number h2 span {
        font-size: 40px;
        margin-left: 10px;
        font-weight: normal; }
    .thanh-tuu2 .col-right-number .list-number {
      margin-bottom: 20px;
      height: 230px;
      width: 40%;
      float: left;
      border: 1px solid #D9D9D9;
      padding: 70px 20px 30px 20px;
      border-bottom: 0;
      text-align: center; }
      .thanh-tuu2 .col-right-number .list-number:nth-child(1), .thanh-tuu2 .col-right-number .list-number:nth-child(2), .thanh-tuu2 .col-right-number .list-number:nth-child(3), .thanh-tuu2 .col-right-number .list-number:nth-child(4), .thanh-tuu2 .col-right-number .list-number:nth-child(5), .thanh-tuu2 .col-right-number .list-number:nth-child(6) {
        border-right: 0;
        border-top: 0; }
      .thanh-tuu2 .col-right-number .list-number:nth-child(1), .thanh-tuu2 .col-right-number .list-number:nth-child(3), .thanh-tuu2 .col-right-number .list-number:nth-child(5) {
        border-left: 0; }
      .thanh-tuu2 .col-right-number .list-number:nth-child(2), .thanh-tuu2 .col-right-number .list-number:nth-child(4), .thanh-tuu2 .col-right-number .list-number:nth-child(6) {
        width: 60%; }
      .thanh-tuu2 .col-right-number .list-number p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3;
        font-size: 20px; }
      .thanh-tuu2 .col-right-number .list-number .text-normal {
        text-align: left;
        font-size: 16px;
        -webkit-line-clamp: 4; }

@media only screen and (max-width: 950px) {
  .thanh-tuu2 .col-right-number h2 {
    font-size: 40px !important; } }
@media only screen and (max-width: 767px) {
  .thanh-tuu2 .col-right-number {
    padding-left: 0 !important;
    margin-top: 30px; }
  .thanh-tuu2 .thanh-tuu2 p {
    -webkit-line-clamp: inherit; }
  .thanh-tuu2 .h-info-text-col span {
    font-size: 14px; }
  .thanh-tuu2 .list-number h2 span {
    font-size: 28px !important; } }
/* ========================  Thành tựu 3 ========================= */
.h-info-text-col span {
  font-size: 20px; }
.h-info-text-col h3 {
  margin: 15px 0 15px 0; }

.thanh-tuu3 {
  text-align: center;
  background-color: white;
  color: #333; }
  .thanh-tuu3 .col-right-number {
    display: inline-block;
    width: 100%; }
    .thanh-tuu3 .col-right-number h2 {
      font-size: 60px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .thanh-tuu3 .col-right-number h2 span {
        font-size: 40px;
        margin-left: 10px;
        font-weight: normal; }
    .thanh-tuu3 .col-right-number .list-number {
      margin-bottom: 20px;
      height: 230px;
      width: 50%;
      float: left;
      padding: 70px 20px 30px 20px;
      border-bottom: 0;
      text-align: center; }
      .thanh-tuu3 .col-right-number .list-number p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3;
        font-size: 20px; }
  .thanh-tuu3 .logo-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap; }
    .thanh-tuu3 .logo-content img {
      height: 80px;
      margin: 10px 20px; }

@media only screen and (max-width: 950px) {
  .thanh-tuu3 .col-right-number h2 {
    font-size: 40px !important; } }
@media only screen and (max-width: 767px) {
  .thanh-tuu3 .logo-content {
    display: inherit; }
  .thanh-tuu3 .col-right-number {
    padding-left: 0 !important;
    margin-top: 0; }
  .thanh-tuu3 .thanh-tuu3 p {
    -webkit-line-clamp: inherit !important; }
  .thanh-tuu3 .h-info-text-col span {
    font-size: 14px; }
  .thanh-tuu3 .list-number {
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 0 !important;
    padding: 20px !important; }
    .thanh-tuu3 .list-number h2 span {
      font-size: 28px !important; } }
/* ========================  Thành tựu 4 ========================= */
.h-info-text-col span {
  font-size: 20px; }
.h-info-text-col h3 {
  margin: 15px 0 15px 0; }

.thanh-tuu4 {
  color: #333;
  background-size: cover !important; }
  .thanh-tuu4 .col-right-number {
    display: inline-block;
    width: 100%;
    margin-top: 30px; }
    .thanh-tuu4 .col-right-number h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px; }
      .thanh-tuu4 .col-right-number h2 span {
        font-size: 24px;
        margin-left: 8px;
        font-weight: normal; }
    .thanh-tuu4 .col-right-number .list-number {
      margin-right: 20px;
      margin-bottom: 20px;
      height: 230px;
      width: 45%;
      float: left;
      padding: 30px 20px 30px 20px;
      border-bottom: 0;
      text-align: center; }
      .thanh-tuu4 .col-right-number .list-number p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 2;
        font-size: 20px; }
      .thanh-tuu4 .col-right-number .list-number img {
        height: 50px;
        margin: 0 auto; }
      .thanh-tuu4 .col-right-number .list-number:hover {
        background: #2A6BBC;
        color: white;
        transition: all .3s ease-in-out; }
        .thanh-tuu4 .col-right-number .list-number:hover .h-icon {
          display: none !important; }
        .thanh-tuu4 .col-right-number .list-number:hover .h-icon-hover {
          display: block !important; }

@media only screen and (max-width: 950px) {
  .thanh-tuu4 .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%; }
  .thanh-tuu4 .list-number {
    width: 48% !important; }
    .thanh-tuu4 .list-number:nth-child(2), .thanh-tuu4 .list-number:nth-child(4) {
      margin-right: 0; }
  .thanh-tuu4 .col-right-number h2 {
    font-size: 40px !important; } }
@media only screen and (max-width: 767px) {
  .thanh-tuu4 .col-right-number {
    padding-left: 0 !important;
    margin-top: 0; }
  .thanh-tuu4 .thanh-tuu3 p {
    -webkit-line-clamp: inherit !important; }
  .thanh-tuu4 .h-info-text-col span {
    font-size: 14px; }
  .thanh-tuu4 .list-number {
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 20px !important;
    padding: 20px !important; }
    .thanh-tuu4 .list-number h2 span {
      font-size: 28px !important; }
    .thanh-tuu4 .list-number p {
      -webkit-line-clamp: inherit !important; } }
/* ========================  Thành tựu 5 ========================= */
.h-info-text-col span {
  font-size: 20px; }
.h-info-text-col h3 {
  margin: 15px 0 15px 0; }

.thanh-tuu5 {
  text-align: center;
  background-size: cover !important; }
  .thanh-tuu5 .col-right-number {
    display: inline-block;
    width: 100%; }
    .thanh-tuu5 .col-right-number h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #F71729; }
      .thanh-tuu5 .col-right-number h2 span {
        font-size: 40px;
        margin-left: 10px;
        font-weight: normal; }
    .thanh-tuu5 .col-right-number .list-number {
      margin-bottom: 20px;
      height: 230px;
      width: 33%;
      float: left;
      padding: 30px 20px 30px 20px;
      border-bottom: 0;
      text-align: center; }
      .thanh-tuu5 .col-right-number .list-number p {
        color: #F71729;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3;
        font-size: 20px; }
  .thanh-tuu5 .tittle-thanhtuu5 {
    margin-bottom: 20px; }
    .thanh-tuu5 .tittle-thanhtuu5 p {
      font-size: 16px !important;
      color: #333 !important; }
    .thanh-tuu5 .tittle-thanhtuu5 h4 {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 1; }

@media only screen and (max-width: 950px) {
  .thanh-tuu5 .col-right-number h2 {
    font-size: 40px !important; } }
@media only screen and (max-width: 767px) {
  .thanh-tuu5 .col-right-number {
    padding-left: 0 !important;
    margin-top: 0; }
    .thanh-tuu5 .col-right-number h2 {
      font-size: 40px !important; }
  .thanh-tuu5 .thanh-tuu5 p {
    -webkit-line-clamp: inherit !important; }
  .thanh-tuu5 .h-info-text-col span {
    font-size: 14px; }
  .thanh-tuu5 .list-number {
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 0 !important;
    padding: 20px !important; }
    .thanh-tuu5 .list-number h2 span {
      font-size: 28px !important; }
    .thanh-tuu5 .list-number p {
      margin-bottom: 0 !important; } }
/* ========================  Thành tựu 6 ========================= */
.h-info-text-col span {
  font-size: 20px; }
.h-info-text-col h3 {
  margin: 15px 0 15px 0; }

.thanh-tuu6 {
  text-align: center;
  background: white; }
  .thanh-tuu6 .col-right-number {
    display: inline-block;
    width: 100%; }
    .thanh-tuu6 .col-right-number .list-number {
      position: relative;
      margin-bottom: 20px;
      height: 230px;
      width: 25%;
      float: left;
      padding: 30px 20px 30px 20px;
      border-bottom: 0;
      text-align: left; }
      .thanh-tuu6 .col-right-number .list-number h2 {
        position: absolute;
        left: 96px;
        top: 56px;
        display: flex;
        align-items: center;
        color: #333; }
        .thanh-tuu6 .col-right-number .list-number h2 span {
          font-size: 40px;
          margin-left: 10px;
          font-weight: normal; }
      .thanh-tuu6 .col-right-number .list-number p {
        margin-top: 30px;
        color: #333;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3;
        font-size: 16px; }

@media only screen and (max-width: 950px) {
  .thanh-tuu6 .col-right-number h2 {
    font-size: 40px !important; } }
@media only screen and (max-width: 767px) {
  .thanh-tuu6 .col-right-number {
    padding-left: 0 !important;
    margin-top: 0; }
    .thanh-tuu6 .col-right-number h2 {
      right: -40px;
      left: 130px !important;
      top: 18px !important;
      font-size: 24px !important; }
  .thanh-tuu6 .thanh-tuu6 p {
    -webkit-line-clamp: inherit !important; }
  .thanh-tuu6 .h-info-text-col span {
    font-size: 14px; }
  .thanh-tuu6 .list-number {
    width: 100% !important;
    height: 100% !important;
    margin-bottom: 0 !important;
    padding: 20px !important;
    display: flex;
    text-align: left !important; }
    .thanh-tuu6 .list-number h2 span {
      font-size: 28px !important; }
    .thanh-tuu6 .list-number p {
      margin-bottom: 0 !important;
      margin-left: 10px; } }
/* ========================  Thành tựu 7 ========================= */
.thanh-tuu7 h3 {
  text-align: center;
  color: #333;
  font-weight: 700; }
  .thanh-tuu7 h3 span {
    margin: 0 10px;
    font-weight: 700;
    font-size: 50px;
    line-height: 63px;
    color: #2A6BBC; }
.thanh-tuu7 .box-circle:last-child .item-circle::before {
  background: none; }
.thanh-tuu7 .box-circle {
  display: inline-block;
  width: 100%; }
  .thanh-tuu7 .box-circle img {
    width: 100%; }
.thanh-tuu7 .list-circle {
  display: inline-block;
  width: 100%;
  position: relative;
  background-size: contain !important;
  height: 407px;
  z-index: 9; }
  .thanh-tuu7 .list-circle .item-circle {
    position: relative;
    width: 230px;
    height: 230px;
    color: white;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    .thanh-tuu7 .list-circle .item-circle .content-item {
      padding: 0 20px; }
      .thanh-tuu7 .list-circle .item-circle .content-item h2 {
        font-weight: 700;
        font-size: 50px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px; }
      .thanh-tuu7 .list-circle .item-circle .content-item p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center; }
      .thanh-tuu7 .list-circle .item-circle .content-item span {
        font-size: 30px;
        color: white !important; }
  .thanh-tuu7 .list-circle .circle01 {
    background: #2A6BBC;
    position: absolute;
    top: 130px; }
    .thanh-tuu7 .list-circle .circle01::before {
      width: 200px;
      height: 117px;
      background-size: contain !important;
      background: url(../images/h-line1.svg) no-repeat center top;
      content: '';
      display: inline-block;
      left: 90px;
      top: 240px;
      position: absolute;
      z-index: -9; }
  .thanh-tuu7 .list-circle .circle02 {
    background: #E8A43F;
    position: absolute;
    top: 170px; }
    .thanh-tuu7 .list-circle .circle02::before {
      width: 200px;
      height: 117px;
      background-size: contain !important;
      background: url(../images/h-line2.svg) no-repeat center top;
      content: '';
      display: inline-block;
      left: 90px;
      bottom: 220px;
      position: absolute;
      z-index: -9; }
.thanh-tuu7 .notes {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #2A6BBC;
  margin-top: 70px; }
.thanh-tuu7 .box-list-circle {
  display: flex;
  justify-content: space-between; }

@media only screen and (max-width: 950px) {
  .thanh-tuu7 .box-list-circle {
    display: inherit; }
  .thanh-tuu7 .item-circle {
    top: 0 !important;
    position: relative !important;
    margin: auto !important;
    margin-bottom: 20px !important;
    width: 300px !important;
    height: 300px !important; }
    .thanh-tuu7 .item-circle::before {
      display: none !important; }
    .thanh-tuu7 .item-circle h2 {
      margin-bottom: 25px; }
  .thanh-tuu7 .list-circle {
    height: initial !important; }
  .thanh-tuu7 .notes {
    margin-top: 30px;
    margin-bottom: 50px; }
  .thanh-tuu7 .box-circle {
    display: inline-block;
    width: 50% !important;
    float: left;
    padding: 0 15px; }
  .thanh-tuu7 .box-plane {
    width: 100% !important;
    text-align: center !important; }
    .thanh-tuu7 .box-plane img {
      width: 250px !important; } }
@media only screen and (max-width: 950px) {
  .thanh-tuu7 h3 span {
    font-size: 30px; }
  .thanh-tuu7 .box-circle {
    width: 100% !important; }
  .thanh-tuu7 .item-circle {
    width: 230px !important;
    height: 230px  !important; }
  .thanh-tuu7 .box-plane {
    width: 100%;
    text-align: center; }
    .thanh-tuu7 .box-plane img {
      width: 180px !important; } }
@media only screen and (max-width: 767px) {
  .content-item h2 {
    font-size: 44px !important; } }
/* ========================  END Thành tựu 7 ========================= */
/* ========================  giaithuong-1 ========================= */
.giaithuong-1 .h-info-text-col {
  text-align: center;
  margin-bottom: 30px; }
.giaithuong-1 .logo-content {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap; }
  .giaithuong-1 .logo-content img {
    height: 85px;
    margin: 10px 20px; }
  .giaithuong-1 .logo-content .logo-giaithuong {
    position: relative;
    padding-right: 217px;
    margin: 0 15px 30px 0; }
  .giaithuong-1 .logo-content .item-logo .text-content {
    left: 120px;
    position: absolute;
    top: 10px; }
    .giaithuong-1 .logo-content .item-logo .text-content p {
      margin-bottom: 0;
      color: #858585; }

@media only screen and (max-width: 767px) {
  .giaithuong-1 .logo-giaithuong {
    text-align: center;
    position: inherit !important;
    margin: 0 0 15px 0 !important;
    padding-right: inherit !important;
    width: 40%;
    float: left;
    margin: 0 15px !important; }
  .giaithuong-1 .logo-content img {
    height: 50px;
    margin: 10px 0; }
  .giaithuong-1 .logo-content .text-content {
    position: inherit !important; } }
/* ========================  END giaithuong-1 ========================= */
/* ========================  giaithuong-2 ========================= */
.giaithuong-2 {
  text-align: center; }
  .giaithuong-2 .h-info-text-col {
    text-align: center; }
  .giaithuong-2 .logo-giaithuong {
    width: 33.3%; }
  .giaithuong-2 .logo-content {
    margin-top: 30px !important;
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap; }
    .giaithuong-2 .logo-content img {
      height: 170px; }
    .giaithuong-2 .logo-content .item-logo {
      text-align: center; }
      .giaithuong-2 .logo-content .item-logo .text-content h4 {
        padding: 0 20px;
        margin: 10px 0; }

@media only screen and (max-width: 950px) {
  .giaithuong-2 .logo-content .text-content h4 {
    padding: 0 !important; } }
@media only screen and (max-width: 767px) {
  .giaithuong-2 .logo-giaithuong {
    width: 50% !important; }
  .giaithuong-2 .logo-content img {
    height: 130px  !important; } }
/* ========================  END giaithuong-2 ========================= */
/* ========================  giaithuong-3 ========================= */
.giaithuong-3 {
  text-align: center; }
  .giaithuong-3 .h-info-text-col {
    text-align: center; }
  .giaithuong-3 .logo-giaithuong:hover {
    transform: scale(1.2);
    transition: all 0.4s ease; }
  .giaithuong-3 .logo-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap; }
    .giaithuong-3 .logo-content img {
      height: 170px;
      margin: 10px 20px; }
    .giaithuong-3 .logo-content .item-logo {
      text-align: center; }
  .giaithuong-3 p {
    color: #858585; }

@media only screen and (max-width: 767px) {
  .giaithuong-3 .logo-content img {
    height: 95px  !important; } }
/* ========================  END giaithuong-3 ========================= */
/* ========================  giaithuong-4 ========================= */
.giaithuong-4 {
  text-align: center; }
  .giaithuong-4 .h-info-text-col {
    text-align: center; }
  .giaithuong-4 .logo-giaithuong:hover {
    transform: scale(1.2);
    transition: all 0.4s ease; }
  .giaithuong-4 .logo-content {
    display: inline-block;
    width: 100%;
    margin: auto; }
    .giaithuong-4 .logo-content img {
      height: 170px;
      margin: 10px 20px; }
    .giaithuong-4 .logo-content .item-logo {
      text-align: center; }
    .giaithuong-4 .logo-content .logo-xsmall img {
      height: 100px; }
    .giaithuong-4 .logo-content .logo-big img {
      height: 230px; }
  .giaithuong-4 p {
    color: #858585; }
  .giaithuong-4 .box-logo-giaithuong4 {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto; }
  .giaithuong-4 .box-logo-ipad {
    display: none; }

@media only screen and (max-width: 950px) {
  .giaithuong-4 .box-logo-giaithuong4 {
    display: none; }
  .giaithuong-4 .box-logo-ipad {
    display: block; }
    .giaithuong-4 .box-logo-ipad .logo-content {
      display: flex;
      width: 100%;
      justify-content: center;
      margin: auto;
      flex-wrap: wrap; } }
@media only screen and (max-width: 767px) {
  .giaithuong-4 .logo-content img {
    height: 95px  !important; } }
/* ========================  END giaithuong-4 ========================= */
/* ========================  giaithuong-5 ========================= */
.giaithuong-5 {
  text-align: center; }
  .giaithuong-5 .h-info-text-col {
    text-align: left; }
  .giaithuong-5 p {
    text-align: left; }
  .giaithuong-5 .logo-giaithuong:hover {
    transform: scale(1.2);
    transition: all 0.4s ease; }
  .giaithuong-5 .logo-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap; }
    .giaithuong-5 .logo-content img {
      height: 90px;
      margin: 10px 20px; }
    .giaithuong-5 .logo-content .item-logo {
      text-align: center; }

@media only screen and (max-width: 767px) {
  .giaithuong-5 .logo-content img {
    height: 95px  !important; } }
/* ========================  END giaithuong-5 ========================= */
/* ========================   duan-thuchien-1 ========================= */
.duan-thuchien-1 {
  background: #F6DFE1; }
  .duan-thuchien-1 .title-item {
    text-align: center; }
    .duan-thuchien-1 .title-item a {
      color: #333; }
    .duan-thuchien-1 .title-item span {
      font-size: 14px; }
    .duan-thuchien-1 .title-item h4 {
      margin-top: 15px; }
  .duan-thuchien-1 .slider-csvc-about {
    position: relative; }
    .duan-thuchien-1 .slider-csvc-about .item__third {
      padding: 0 20px; }
    .duan-thuchien-1 .slider-csvc-about .carousel-indicators {
      display: none; }
    .duan-thuchien-1 .slider-csvc-about .carousel-control-prev {
      left: 300px;
      background: transparent; }
    .duan-thuchien-1 .slider-csvc-about .carousel-control-prev-icon {
      background-image: url(../images/arrow-left-pro.svg);
      width: 50px;
      height: 50px; }
    .duan-thuchien-1 .slider-csvc-about .carousel-control-next {
      right: 300px;
      background: transparent; }
    .duan-thuchien-1 .slider-csvc-about .carousel-control-next-icon {
      background-image: url(../images/arrow-right-pro.svg);
      width: 50px;
      height: 50px; }
  .duan-thuchien-1 .show-neighbors {
    overflow: hidden; }
    .duan-thuchien-1 .show-neighbors .item__third:first-child,
    .duan-thuchien-1 .show-neighbors .item__third:last-child {
      display: none; }
    @media (min-width: 500px) {
      .duan-thuchien-1 .show-neighbors .carousel-indicators {
        margin-right: 25%;
        margin-left: 25%; }
      .duan-thuchien-1 .show-neighbors .carousel-control-prev,
      .duan-thuchien-1 .show-neighbors .carousel-control-next {
        width: 25%;
        z-index: 11;
        /* .carousel-caption has z-index 10 */ }
      .duan-thuchien-1 .show-neighbors .carousel-inner {
        width: 150%;
        left: -25%; }
      .duan-thuchien-1 .show-neighbors .carousel-item-next:not(.carousel-item-left),
      .duan-thuchien-1 .show-neighbors .carousel-item-right.active {
        -webkit-transform: translate3d(33%, 0, 0);
        transform: translate3d(33%, 0, 0); }
      .duan-thuchien-1 .show-neighbors .carousel-item-prev:not(.carousel-item-right),
      .duan-thuchien-1 .show-neighbors .carousel-item-left.active {
        -webkit-transform: translate3d(-33%, 0, 0);
        transform: translate3d(-33%, 0, 0); }
      .duan-thuchien-1 .show-neighbors .item__third {
        display: block !important;
        float: left;
        position: relative;
        /* captions can now be added */
        width: 33.33333333%; } }

/* ========================   END duan-thuchien-1 ========================= */
/* ========================   duan-thuchien-2 ========================= */
.duan-thuchien-2 .h-info-text-col {
  padding: 0 15px; }
.duan-thuchien-2 .no-sacle-avatar .avatar-thumb a {
  padding-top: 56% !important; }
.duan-thuchien-2 .items {
  position: relative;
  margin-bottom: 25px; }
  .duan-thuchien-2 .items .avatar-thumb a {
    padding-top: 119%; }
  .duan-thuchien-2 .items .info {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    color: white;
    padding: 20px; }
    .duan-thuchien-2 .items .info h4 a {
      color: white; }
    .duan-thuchien-2 .items .info p {
      display: none; }
    .duan-thuchien-2 .items .info .icon-redmore {
      display: none;
      margin: 0 auto;
      width: 50px;
      height: 50px;
      background: #e9a43f;
      color: white;
      border-radius: 50px;
      padding: 15px;
      text-align: center; }
      .duan-thuchien-2 .items .info .icon-redmore i {
        color: white; }
  .duan-thuchien-2 .items:hover .info {
    height: 100%;
    transition: all .3s ease-in-out; }
    .duan-thuchien-2 .items:hover .info p, .duan-thuchien-2 .items:hover .info .icon-redmore {
      display: block; }
  .duan-thuchien-2 .items .linear-bg {
    background: #0000003d; }

/* ========================   END duan-thuchien-2 ========================= */
/* ========================   END duan-thuchien-3 ========================= */
.duan-thuchien-3 .owl-carousel .item {
  padding: 0; }
.duan-thuchien-3 .tab-system .nav-tabs .nav-item {
  font-weight: 600; }
.duan-thuchien-3 .slider-du-an {
  position: relative; }
  .duan-thuchien-3 .slider-du-an .avatar-thumb a {
    padding-top: 80%; }
  .duan-thuchien-3 .slider-du-an .title-du-an {
    color: white;
    font-size: 16px;
    font-weight: 600;
    position: absolute;
    z-index: 2;
    padding: 15px;
    height: 100%;
    width: 100%; }
  .duan-thuchien-3 .slider-du-an .box-linear {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0.5;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    height: 100%;
    display: inline-block;
    width: 100%; }
  .duan-thuchien-3 .slider-du-an .du-an {
    position: relative;
    display: inline-block;
    width: 100%; }
  .duan-thuchien-3 .slider-du-an .col-right-du-an {
    display: inline-block;
    width: 100%; }
    .duan-thuchien-3 .slider-du-an .col-right-du-an .du-an {
      width: 47%;
      float: left;
      margin: 0 15px 10px 0; }
      .duan-thuchien-3 .slider-du-an .col-right-du-an .du-an:nth-child(3), .duan-thuchien-3 .slider-du-an .col-right-du-an .du-an:nth-child(4) {
        margin-bottom: 0; }
      .duan-thuchien-3 .slider-du-an .col-right-du-an .du-an .avatar-thumb a {
        padding-top: 84%; }
  .duan-thuchien-3 .slider-du-an .owl-dots {
    display: none; }
.duan-thuchien-3 .tab-system {
  overflow: hidden; }
  .duan-thuchien-3 .tab-system .nav-tabs {
    margin-left: -10px;
    border-bottom: none;
    justify-content: left; }
  .duan-thuchien-3 .tab-system .content-page-list .nav-tabs {
    margin-left: 0; }
  .duan-thuchien-3 .tab-system .tab-content {
    margin: 20px 0; }
  .duan-thuchien-3 .tab-system .nav-link {
    width: 10%; }
  .duan-thuchien-3 .tab-system .nav-item {
    color: #858585; }

@media only screen and (max-width: 1280px) {
  .duan-thuchien-3 .slider-du-an .col-right-du-an .du-an {
    margin: 0 10px 10px 0; }
  .duan-thuchien-3 .tab-system .nav-tabs {
    margin-left: -10px; }
  .duan-thuchien-3 .tab-system .content-page-list .nav-tabs {
    margin-left: 0; }
  .duan-thuchien-3 .tab-system .tab-content {
    margin: 20px 10px; } }
@media only screen and (max-width: 767px) {
  .duan-thuchien-3 .slider-du-an .row .col-md-6:last-child {
    padding-right: 0; }
  .duan-thuchien-3 .slider-du-an .col-right-du-an .du-an {
    width: 47%; }
  .duan-thuchien-3 .tab-system .tab-content {
    margin: 10px; } }
/* ========================   END duan-thuchien-3 ========================= */
/* ========================    duan-thuchien-4 ========================= */
.duan-thuchien-4 .item .tittlle-item a {
  font-size: 24px; }
.duan-thuchien-4 .owl-carousel .item {
  padding: 0 20px; }
.duan-thuchien-4 .title-du-an {
  color: white;
  font-size: 16px;
  font-weight: 600;
  z-index: 2;
  width: 100%; }
.duan-thuchien-4 .box-linear {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  opacity: 0.5;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  height: 100%;
  display: inline-block;
  width: 100%; }
.duan-thuchien-4 .du-an {
  position: relative;
  display: inline-block;
  width: 100%; }
.duan-thuchien-4 .slider-du-an {
  position: relative; }
  .duan-thuchien-4 .slider-du-an .avatar-thumb a {
    padding-top: 38%; }
  .duan-thuchien-4 .slider-du-an .owl-dots {
    display: none; }
.duan-thuchien-4 .thumb-small a {
  padding-top: 42% !important; }
.duan-thuchien-4 .col-right-du-an .avatar-thumb a {
  padding-top: 70%; }
.duan-thuchien-4 .iconplay-duan4 {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 35%; }
  .duan-thuchien-4 .iconplay-duan4 img {
    width: 48px; }
.duan-thuchien-4 .btn-common-line {
  border: 1px solid #ffffff !important;
  color: white !important;
  background-color: transparent !important;
  font-size: inherit !important; }
.duan-thuchien-4 .tittlle-item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 15px 15px 49px 15px;
  background: #00000052;
  position: absolute;
  z-index: 12; }
.duan-thuchien-4 .title-du-an {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden; }
.duan-thuchien-4 p {
  opacity: 0.8;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: white; }

/* ========================   END duan-thuchien-4 ========================= */

/*# sourceMappingURL=style-hanh.css.map */
