@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
body {
  font-family: 'Inter', sans-serif;
  color: #333;
  font-weight: 400;
  padding: 0;
  margin: 0;
  width: 100%;
  line-height: 1.6; }

.container {
  max-width: 1200px;
  margin: auto; }

a:hover {
  text-decoration: none; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  text-decoration: none; }

h1 {
  font-size: 60px;
  font-weight: 700; }

h2 {
  font-size: 44px;
  font-weight: 700; }

h3 {
  font-size: 32px;
  font-weight: 700; }

h4 {
  font-size: 24px;
  font-weight: 700; }

h5 {
  font-size: 22px;
  font-weight: 700; }

h6 {
  font-size: 20px;
  font-weight: 700; }

p {
  font-size: 16px; }

strong, b, span, i, label {
  font-size: 13px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.m10 {
  margin: 10px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.m25 {
  margin: 25px; }

.m30 {
  margin: 30px; }

.m35 {
  margin: 35px; }

.m40 {
  margin: 40px; }

.m45 {
  margin: 45px; }

.m50 {
  margin: 50px; }

.m55 {
  margin: 55px; }

.m60 {
  margin: 60px; }

.m65 {
  margin: 65px; }

.m70 {
  margin: 70px; }

.ml-0 {
  margin-left: 0; }

.mr-0 {
  margin-right: 0; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.p25 {
  padding: 25px; }

.p30 {
  padding: 30px; }

.p35 {
  padding: 35px; }

.p40 {
  padding: 40px; }

.p45 {
  padding: 45px; }

.p50 {
  padding: 50px; }

.p55 {
  padding: 55px; }

.p60 {
  padding: 60px; }

.p65 {
  padding: 65px; }

.p70 {
  padding: 70px; }

.pl-0 {
  padding-left: 0; }

.pr-0 {
  padding-right: 0; }

.pt-0 {
  padding-top: 0; }

.pb-0 {
  padding-bottom: 0; }

.pd-left {
  padding-left: 30px; }

.pd-right {
  padding-right: 30px; }

section {
  padding: 40px 0;
  display: inline-block;
  width: 100%;
  overflow: hidden; }

.title-section h2 {
  display: inline-block;
  width: 100%;
  position: relative; }
.title-section .desc-title {
  margin: 5px 0; }

.title-page {
  display: inline-block;
  width: 100%;
  font-weight: 900;
  text-align: left; }
  .title-page h6 {
    font-weight: normal; }

.btn-action {
  display: inline-block;
  width: 100%; }
  .btn-action a {
    display: inline-flex;
    align-items: center;
    justify-content: center; }
  .btn-action button {
    outline: none; }
  .btn-action span {
    font-weight: 900; }

input[type=button],
input[type=submit],
input[type=reset] {
  color: white !important; }

button {
  border: 0; }

.btn-common-fill,
.btn-common-line,
button,
input[type=button],
input[type=submit], .btn-common-fill2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2A6BBC;
  padding: 0 24px;
  color: white;
  text-align: center;
  transition: all .3s ease-in-out;
  color: white;
  height: 50px;
  line-height: 24px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 2px;
  text-transform: uppercase;
  width: fit-content;
  font-family: 'UTMAvoBold'; }
  .btn-common-fill:hover,
  .btn-common-line:hover,
  button:hover,
  input[type=button]:hover,
  input[type=submit]:hover, .btn-common-fill2:hover {
    opacity: 0.9;
    color: white; }
  .btn-common-fill i,
  .btn-common-fill span,
  .btn-common-fill img, .btn-common-fill svg,
  .btn-common-line i,
  .btn-common-line span,
  .btn-common-line img,
  .btn-common-line svg,
  button i,
  button span,
  button img,
  button svg,
  input[type=button] i,
  input[type=button] span,
  input[type=button] img,
  input[type=button] svg,
  input[type=submit] i,
  input[type=submit] span,
  input[type=submit] img,
  input[type=submit] svg, .btn-common-fill2 i,
  .btn-common-fill2 span,
  .btn-common-fill2 img, .btn-common-fill2 svg {
    font-weight: 600;
    margin-left: 5px;
    width: 16px; }

.btn-common-line {
  background-color: white !important;
  color: #2A6BBC !important;
  border: 1px solid #2A6BBC !important; }
  .btn-common-line:hover {
    background-color: #2A6BBC !important;
    color: white !important;
    border: 1px solid #2A6BBC !important; }

.dissalbe {
  background-color: #E9E9E9;
  color: #A9A9A9;
  pointer-events: none; }

.center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.text-main {
  color: #333; }

.text-brand {
  color: #2A6BBC; }

.text-uppercase {
  text-transform: uppercase; }

.text-alpha {
  color: #858585; }

.btn.focus, .btn:focus {
  box-shadow: none; }

a {
  text-decoration: none; }

.fw-normal {
  font-weight: normal; }

.flex-center {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }

/* -------------- Scrollbar-------------------- */
.scrollbar {
  width: 100%;
  margin: auto;
  overflow-x: auto; }

::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #fff; }

::-webkit-scrollbar {
  width: 1px;
  height: 0;
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #ffffff; }

/* -------------- Input / textarea -------------------- */
textarea {
  height: 150px !important; }

input, select, textarea {
  border: 1px solid #E6E6E6;
  border-radius: 2px;
  color: #858585;
  width: 100%;
  padding: 5px 15px;
  height: 50px;
  font-size: 14px;
  color: #333; }
  input::placeholder, select::placeholder, textarea::placeholder {
    color: #858585; }
  input:focus, select:focus, textarea:focus {
    border: 1px solid #2A6BBC; }

::-webkit-calendar-picker-indicator {
  filter: invert(0.6); }

/* --------------Checkbox-------------------- */
.input-custom {
  display: none; }

.label-custom {
  color: #333;
  line-height: 1.2;
  display: flex;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  align-items: center;
  margin-bottom: 15px;
  font-weight: normal !important; }
  .label-custom:checked {
    color: #2A6BBC !important; }
  .label-custom:before {
    content: "\e64c";
    font-family: "themify";
    font-size: 14px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 1;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 4px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.label-custom:checked {
  color: #333 !important; }

.input-custom:checked + .label-custom::before {
  color: white;
  background-color: #2A6BBC;
  border: 1px solid #2A6BBC; }

.input-custom:checked + .label-custom {
  color: #333 !important; }

/* check-radio-custom */
.check-radio-custom {
  margin: 5px 0 15px 0;
  display: flex; }

.check-radio-custom [type="radio"]:checked + label {
  color: #2A6BBC !important; }

.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

.check-radio-custom [type="radio"]:checked + label,
.check-radio-custom [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  display: inline-block;
  color: #333;
  margin-bottom: 0;
  font-weight: normal; }

.check-radio-custom [type="radio"]:checked + label:before,
.check-radio-custom [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 20px;
  height: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 100%;
  background: #fff; }

.check-radio-custom [type="radio"]:checked + label::before {
  border: 1px solid #2A6BBC !important; }

.check-radio-custom [type="radio"]:checked + label:after,
.check-radio-custom [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #2A6BBC;
  position: absolute;
  top: 5px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.check-radio-custom [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

.check-radio-custom [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.check-radio-custom p {
  margin: 0 20px; }

.avatar-thumb {
  display: inline-block;
  width: 100%; }
  .avatar-thumb a {
    position: relative;
    padding-top: 56%;
    display: block; }
    .avatar-thumb a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
      left: 0;
      top: 0; }

.form-control:focus {
  border-color: #2A6BBC;
  outline: 0;
  box-shadow: none; }

/*------------ Custom select box -------------*/
.custom-select {
  height: 50px;
  background-color: white;
  border-radius: 2px;
  border: 1px solid #E6E6E6;
  position: relative;
  padding: 0;
  background: white;
  display: flex;
  align-items: center; }

.select-items {
  overflow-y: auto !important;
  max-height: 250px; }

.custom-select select {
  display: none;
  /*hide original SELECT element: */ }

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: 0.255em;
  content: "\e64b";
  font-family: 'themify';
  color: #858585;
  top: 15px;
  right: 25px; }

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #333;
  padding: 8px 16px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 14px; }

.select-selected {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px; }

/* Style items (options): */
.select-items {
  padding: 15px 0;
  overflow: hidden;
  width: 100%;
  position: absolute;
  background-color: #fff;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  max-height: 140px; }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  background-color: #EBF2FD; }

/* ----------------------- Modal----------------------- */
.modal {
  padding: 80px 0; }

.modal-body {
  padding-bottom: 30px; }
  .modal-body p {
    font-weight: normal; }

.modal-content {
  margin: auto;
  border: 0;
  border-radius: 2px;
  padding: 15px 20px; }

.modal-dialog {
  max-width: 560px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }

.modal-header {
  padding: 0 10px;
  border-bottom: 0; }
  .modal-header .close {
    position: absolute;
    right: 20px;
    font-weight: normal;
    font-size: 30px;
    padding: 5px;
    top: 20px;
    color: #858585;
    opacity: 1; }

.modal-title {
  font-weight: 600; }

.no-sub a::after, .no-sub a::before {
  display: none !important; }

.box-search {
  width: 600px;
  margin: auto;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .box-search input {
    width: 540px;
    height: 50px;
    border-radius: 2px 0 0 2px;
    outline: none;
    border: 1px solid #E6E6E6;
    font-size: 14px; }
    .box-search input::placeholder {
      font-weight: 400; }
    .box-search input:focus {
      border: 1px solid #2A6BBC !important; }
  .box-search button {
    height: 45px;
    outline: none;
    display: flex;
    align-items: center;
    border-radius: 0 2px 2px 0; }
    .box-search button i {
      font-size: 20px; }

/* --------------------------- Pagging ------------------------------- */
.pagging-page {
  width: 100%; }
  .pagging-page .pagination {
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; }
  .pagging-page ul li a,
  .pagging-page ul li span {
    width: 32px;
    height: 32px;
    margin: 0 10px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: #858585;
    padding: 4px;
    font-weight: 500; }
    .pagging-page ul li a.active,
    .pagging-page ul li span.active {
      color: white;
      background-color: #2A6BBC;
      padding-top: 5px; }
  .pagging-page ul li:hover a {
    color: #2A6BBC; }

/* Custom slider slider */
.owl-dots {
  display: none; }

.owl-nav {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 40%; }
  .owl-nav span {
    opacity: 0; }

.item {
  padding: 20px; }
  .item .item-news {
    margin-bottom: 0; }

.owl-prev {
  position: absolute;
  left: -5%;
  top: 50%;
  width: 50px;
  height: 50px;
  background: url(../images/arrow-left.png) no-repeat center !important;
  background-size: contain !important; }

.owl-next {
  position: absolute;
  right: -5%;
  top: 50%;
  width: 50px;
  height: 50px;
  background: url(../images/arrow-right.png) no-repeat center !important;
  background-size: contain !important; }

/*# sourceMappingURL=style.css.map */
