@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');
$brand: #F4C522;
$text: #474647;
$text-alpha: #969797;
$border: #F1F1F1;
$bg-gray: #F5F7FB;



.title-section{
  .before-title{
    font-size: 32px;
  }
  p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.box-shadow{
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
  border: 1px $text solid !important;
}

.title-gold{
  font-size: 45px;
  color: #F4C522;
  font-weight: 600;
  
  &::after{
    content: "+";
    font-weight: 500;
    
  }
}
.price-list{
  font-size: 18px;
  font-weight: 800;
  
}
.header-price{
  h2{
    margin: 20px 0;
    
    font-weight: 600;
  }
}
/* ============ banner-pagedetail =========== */
.banner-fullcontent{
  display: inline-block  !important;
}
.about-us{
 .content-bannerhead{
   display: inline-block !important;
  .infor-banner{
    padding-right: 0 !important;
    h1{
      margin: 0 120px;
    }
    p{
      max-width: 70%;
      margin: 0 auto 20px auto !important;

    }
  }
 }
}
.detail-blog{
  .infor-banner{
    text-align: left !important;
    
    h1{
      margin: 0 !important ;
    }
    p{
      margin-right: 0!important;
      margin-left: 0!important;
    }
  }
}
.infor-banner{
  
  h1{
    // margin: 0 120px;
    font-weight: 600;
    line-height: 1.2;
    color: $text;
  }
  p{
    max-width: 500px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 30px;
    color: #474647;
    padding-right: 0;
    font-size: 18px;
    margin-top: 15px;
  }
  
}
.infor-banner > img{
  height: 35px;
  margin-bottom: 10px;
}
.banner-pagedetail{
      min-height: 600px;
      overflow: hidden;
      background-size: cover !important;
      width: 100%;
      display: flex !important;
      align-items: center;
      justify-content: center;
      padding-bottom: 40px;
    .content-bannerhead{
      display: flex;
      align-items: center;
      .infor-banner{
        width: 50%;
        padding-right: 20px;
       
      }
      .imgs-banner{
        width: 50%;
        text-align: center;
        img{
          height: 400px;
        }
      }
    }
}


.btn-ss{
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow-price{
  color: $brand;
}
/*======================page-product crm===================== */
.product-crm{
  .content-bannerhead{
 
  }
  .infor-banner{
    
    .bg-crm{

    }
   .content-info-banner{
      position: absolute;
      top: 80px;
   }
  }
  .loi-ich{
    padding-bottom: 70px;
    
    .info-loi-ich{
      &:hover{
        transform: scale(1.020);
        transition: .3s ease-in-out;
      }
    }
    .btn-common{
        margin: 30px auto 0 auto;
        width: fit-content;
        display: flex;
    }
  }
}

    .gioi-thieu{
        .video-cans {
          
          display: inline-block;
          width: 100%;
          position: relative;
          background-size: contain !important;
          height: 658px;
          cursor: pointer;
            img {
              width: 100%;
            }
          }
        
        .close-bg-video {
            position: absolute;
            right: -50px;
            top: -10px;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            text-align: center;
            font-weight: normal;
            border: 0;
            font-size: 20px;
            outline: none;
            z-index: 9999999;
            background-color: white;
          }
          .current_page_item {
            a {
              color: $brand;
            }
          }
          
          .overlay {
            width: 100%;
            margin: 0 auto;
            height: 658px;
            display: none;
          
            &._active {
              display: block;
              iframe {
                width: 100%;
                height: 658px;
              }
            }
          }
    }

    .loi-ich{
        .colum-loi-ich{
            text-align: center;
            flex: 0 0 20%;
            max-width: 20%;
            padding: 25px;
            .img-loi-ich{
                height: 75px;
                margin-bottom: 25px;
            }
        }
        .info-loi-ich{
          height: 215px;
            background: #fff;
            padding: 25px;
            border-radius: 2px;
            box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
            border: 1px #fff solid;
            // &:hover{
            //     border: 1px #4746475c solid;
            // }
            p{
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-align: center;
            }
        }
    }
    .notes{
      font-weight: 400;
      font-size: 14px !important;
      line-height: 33px  !important;
      margin-top: 15px;
      margin-bottom: 0;
    }
    .loi-ich-hrm{
      padding-bottom: 70px;
      .header-title{
        h3{
          // font-size: 32px;
          margin-bottom: 30px;
        }
      }
      .title-section{
        p{
          margin-bottom: 0;
        }
      }
      .btn-common{
        margin: 0 auto;
        width: fit-content;
        display: flex;
      }
    }
  .product-hrm{
    .title-section{
      h2{
        img{
          // padding-bottom: 5px;
        }
      }
    }
    .content-bannerhead{
      // justify-content: center;
      // display: flex;
      // align-items: center;
      // padding: 70px 120px;
      // position: relative;
    }
    .infor-banner{
      position: relative;
      .bg-crm{
  
      }
     .content-info-banner{
        position: absolute;
        top: 80px;
     }
    }
   
  }
  .bg-system{
    background: $bg-gray;
    padding-bottom: 70px;
  }
    .doanh-nghiep{
      padding-bottom: 70px;
      background: #F5F7FB ;
      .box-doi-tac{
        min-height: 550px;
        .dt-doanh-nghiep{
          position: relative;
          display: flex;
          align-items: center;
          height: 496px;
          padding-right: 665px;   
          .title-section{
            // min-height: 550px;
            h3{
              max-width: 100%;
              text-align: left;
              // line-height: 65px;
              a{
                display: initial;
                
                font-size: 50px;
               &:hover{
                 color: inherit;
               }
              }
            }
          }
          .logo-doi-tac{
            width: 580px;
            height: 496px;
            position: absolute;
            top: 0;
            right: 0;
              .box-logo-dtac{
                width: 100%;
                position: relative;
                top: 0;
                left: 0;
                .logo-dtac{
                  position: absolute;
                  border-radius: 2px;
                  background: #fff;
                  display: flex;
                  padding: 15px;
                  align-items: center;
                  justify-content: center;
                  float: left;
                  margin:10px;
                  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
                  
                  &:nth-child(1){
                    width: 198px;
                    height: 85px;
                    left: 137px;
                    top: 0;
                    img{
                      height: 75px;
                      max-width: 100%;
                    }
                  }
                  &:nth-child(2){
                    width: 117px;
                    height: 85px;
                    left: 355px;
                    top: 0px;
                    img{
                      height: 75px;
                      max-width: 100%;
                    }
                  }
                  &:nth-child(3){
                    width: 117px;
                    height: 85px;
                    left: 0px;
                    top: 105px;
                    img{
                      height: 75px;
                      max-width: 100%;
                    }
                  }
                  &:nth-child(4){
                    width: 198px;
                    height: 85px;
                    left: 137px;
                    top: 105px;
                    img{
                      height: 75px;
                      max-width: 100%;
                    }
                  }
                  &:nth-child(5){
                    width: 117px;
                    height: 85px;
                    left: 355px;
                    top: 105px;
                    img{
                      height: 75px;
                      max-width: 100%;
                    }
                  }
                  &:nth-child(6){
                    width: 115px;
                    height: 50px;
                    left: 80px;
                    top: 210px;
                    img{
                      height: 40px;
                      max-width: 100%;
                    }
                  }
                  &:nth-child(7){
                    width: 120px;
                    height: 120px;
                    left: 215px;
                    top: 210px;
                    img{
                      height: 110px;
                      max-width: 100%;
                    }
                  }
                  &:nth-child(8){
                    width: 197px;
                    height: 197px;
                    left: 355px;
                      top: 210px;
                    img{
                      height: 187px;
                      max-width: 100%;
                    }
                  }
                  &:nth-child(9){
                    width: 115px;
                    height: 50px;
                    left: 80px;
                    top: 280px;
                    img{
                      height: 40px;
                      max-width: 100%;
                    }
                  }
                  &:nth-child(10){
                    width: 120px;
                    height: 120px;
                    left: 215px;
                      top: 350px;
                    img{
                      height: 110px;
                      max-width: 100%;
                    }
                  }
                  // <!-- ======================Box khong img logo===================== -->
                  &:nth-child(11){
                    width: 70px;
                    height: 70px;
                    left: 47px;
                    top: 15px;
                    img{
                      height: 60px;
                      max-width: 100%;
                    }
                  }
                  &:nth-child(12){
                    width: 60px;
                    height: 60px;
                    left: 492px;
                    top: 130px;
                    img{
                      height: 50px;
                      max-width: 100%;
                    }
                  }
                  &:nth-child(13){
                    width: 60px;
                    height: 60px;
                    left: 0px;
                    top: 210px;
                    img{
                      height: 50px;
                      max-width: 100%;
                    }
                  }
                  &:nth-child(14){
                    width: 60px;
                    height: 60px;
                    left: 136px;
                    top: 350px;
                    img{
                      height: 50px;
                      max-width: 100%;
                    }
                  }
                  &:nth-child(15){
                    width: 40px;
                    height: 40px;
                    left: 355px;
                    top: 427px;
                    img{
                      height: 30px;
                      max-width: 100%;
                    }
                  }
              }
            }
          }
        }
      }
      .img-slider{
        h4{
          text-align: center;
          left: 0;
          right: 0;
          margin: 0 auto;
          max-width: 950px;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          line-height: 34px;
          font-weight: 400;
        }
        .box-information{
          align-items: center;
          display: flex;
          align-content: center;
          justify-content: center;
          margin-top: 30px;
          .slider-img{
            border-radius: 100%;
            height: 75px;
            width: 75px ;
            margin-right: 15px;
            object-fit: cover;
          }
          .slider-infor{
            h5{
              font-weight: 600;
              margin-bottom: 5px;
              line-height: 39px;
              margin-bottom: 0;
            }
            p{
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              overflow: hidden;
              font-size: 14px;
              opacity: .7;
              margin-bottom: 0;
          
            }
          }
        }
      }
      .owl-dots{
        display: none;
      }
      .ss-result{
        border-top: 1px #D9D9D9 solid;
        padding-top: 40px;
        .owl-nav{
          button{
            &:focus{
              outline: transparent;
            }
            span{
              display: none;
            }
          }
        }
        position: relative;
        .owl-prev{
          position: absolute;
          left: 0px;
          top: 25%;
          width: 50px;
          height: 50px;
          background: url(../images/arrow-left.png) no-repeat center !important;
          background-size: contain !important;
        }
        .owl-next{
          position: absolute;
          right: 0px;
          top: 25%;
          width: 50px;
          height: 50px;
          background: url(../images/arrow-right.png) no-repeat center !important;
          background-size: contain !important;
        }
      }
    }
    .bang-gia{
      padding-bottom: 70px;
      .col-md-6{
        max-width: 40%;
        padding: 0 10px;
      }
      .row{
        justify-content: center
      }
      .box-grow{
        border-radius: 2px;
        border: 1px #dbdbdb solid;
        .btn-common:hover{
          opacity: 0.9;
        }
        .tick{
          font-size: 16px;
          display: flex;
          align-items: center;
          &:last-child{
            margin-bottom: 0;
          }
          img{
            margin-right: 15px;
          }
        }
        padding: 55px 40px 50px;
        .btn-common{
          width: 100%;
        }
      }
    }


    .question{
      padding-bottom: 70px;
      border-top: 1px $border solid;
      .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
      }
    
      .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
      }
      .panel-default{
        border-bottom: 1px $border solid;
      }
    
      .panel-title {
        margin-bottom: 0;
        // font-size: 24px;
        font-weight: 600;
      }
    
      .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
        line-height: 40px;
        
        display: flex;
        align-items: center;
      }
    
      .more-less {
        float: left;
        margin-right: 20px;
        font-weight: 900;
      }
    
      .panel-default > .panel-heading + .panel-collapse > .panel-body {
        font-size: 16px;
        padding-left: 60px;
        margin: 0 0 25px;
        text-align: justify;
      }
    }


    .loi-ich-hrm{
      .thumnaisl-avatar  {
          a{
            padding-top: 0;
            img{
              
              position: initial; 
              width: 100%; 
              height: 280px; 
               object-fit: unset; 
               object-position: unset; 

            }
          }
      }
      .carousel-inner{
        padding: 40px 0 50px;
        .row{
          padding: 75px 40px;
          align-items: center;
        }
      }
      .item__third{
        display: flex !important;
        align-items: center;
        height: 466px;
        // padding: 70px 40px;
        background: #fff;
        box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
        margin: 0 42px;
        width: 29% !important;
        border-radius: 2px;
        .slider-tick{
          
          position: relative;
          padding-left: 50px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          margin-bottom: 24px;
          &:last-child {
            padding-bottom: 5px;
          }
          img{
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
      $fragment_width: 25%;

      .show-neighbors {
        overflow: hidden;
      
        .item__third:first-child, 
        .item__third:last-child {
          display: none;
        }
      
        @media (min-width: 500px) {
          .carousel-indicators {
            margin-right: $fragment_width;
            margin-left: $fragment_width;
          }
      
          .carousel-control-prev, 
          .carousel-control-next {
            background: rgba(255, 255, 255, 1);
            width: $fragment_width;
            height: 466px;
            z-index: 11;  /* .carousel-caption has z-index 10 */
          }
          .carousel-control-prev{
            width: 22%;
            left: -38px;
            justify-content: end;
            margin: 40px 0px;
          }
          .carousel-control-next {
            width: 29%;
            right: -87px;
            justify-content: start;
            margin: 40px 0px;
          }
      
          .carousel-inner {
            width: (100% - 2 * $fragment_width) * 3;
            left: 3 * $fragment_width - 100%;
          }
      
          .carousel-item-next:not(.carousel-item-left),
          .carousel-item-right.active {
            -webkit-transform: translate3d(33%, 0, 0);
            transform: translate3d(33%, 0, 0);
          }
      
          .carousel-item-prev:not(.carousel-item-right),
          .carousel-item-left.active {
            -webkit-transform: translate3d(-33%, 0, 0);
            transform: translate3d(-33%, 0, 0);
          }
      
          .item__third {
            // display: block !important;
            float: left;
            position: relative;  /* captions can now be added */
            width: 33.33333333%;
          }
        }
      }
      position: relative;
      .item__third{
        // padding: 0 15px;
      }
      .carousel-indicators{
        display: none;
      }
      .carousel-control-prev {
        left: 224px;
        background: transparent;
      }
      .carousel-control-prev-icon {
        background-image: url(../images/arrow-left.png);
        width: 50px;
        height: 50px;
      }
      .carousel-control-next {
        right: 224px;
        background: transparent;
      }
      .carousel-control-next-icon {
        background-image: url(../images/arrow-right.png);
        width: 50px;
        height: 50px;
      }
      .carousel-control-prev {
        left: 100px;
        background: transparent;
      }
      .carousel-control-next {
        right: 100px;
        background: transparent;
      }
      .avatar-thumb a {
        position: relative;
        padding-top: 33%;
        display: block;
      }
    }
/*======================page-about Us===================== */
.about-us, .ser-system {
  .doanh-nghiep.bg-trans{
    background: transparent;
  }
}
.about-us{
 
    .content-bannerhead {
        
        .infor-banner{
         
            width: 100%;
            text-align: center;
        }
        .soul-tu-van{
            padding: 30px 0 0 0;
            text-align: center;
            .box-text{
                margin-top: 30px;
                h2{
                  font-weight: 600;
                  font-size: 50px;
                  position: relative;
                  width: fit-content;
                  margin: auto;
                
                }
                h5{
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 33px;
                }
            }
        }
        .icon-tu-van{
            height: 72px;
        }
    }

}

.tu-van{
  background: $bg-gray;
  position: relative;
  .pattern{
    position: absolute;
    left: 0;
    top: 15%;
  }
  .icon-tu-van{
    margin-bottom: 30px;
    width: 72px;
    max-height: 72px;
  }
  .box-item{
    text-align: center;
    .box-text{
      h2{
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 30px;
      }
    }
  }
}

.gia-tri{
  padding-bottom: 70px;
  position: relative;
  
  background-size: cover !important;
  height: 100%;
  display: flex;
  align-items: center;
  .img-item{
    height: 150px;
    max-width: 100%;
  }
 
  .box-shadow{
    background: transparent;
    border: inherit !important;
    box-shadow: none;
  }
  .soul-cong-nghe{
    .box-text{
      margin-top: 30px;
      h4{
        font-weight: 600;
       
        line-height: 26px;
        margin-bottom: 18px;
      }
      p{
        font-size: 16px;
        line-height: 26px;
        max-width: 93%;
        margin-bottom: 0;
      }
    }
  }
}

.ss-dinh-huong{
  .dinh-huong{
    .row{
      align-items: center;
    }
  }
  .dinh-huong:nth-child(even){
    .row{
      flex-direction: row-reverse;
    }
  }
  .img-item{
    width: 100%;
    height: 500px;
    
  }
  .box-text{
    h2{
      text-align: left;
      a{
        display: initial;
      }
    }
    p{
      font-size: 16px;
    }
  }
}
.video-aboutus{
  padding-bottom: 70px;
  position: relative;
  
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  .video-cans{
    
    display: inline-block;
    width: 100%;
    position: relative;
    background-size: cover !important;
    height: 658px;
    cursor: pointer;
  }
}

/*======================page-Service Service web===================== */

.sang-tao{
  padding-bottom: 70px;
  h6{
    font-weight: 400;
  }
  .soul-sang-tao{
    padding-top: 20px;
  }
  .big-box-percent{
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    .text-percent{
      padding-left: 200px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      p{
        margin-bottom: 0;
      }
    }
    .box-percent{
      position: absolute;
      top: 0;
      left: 0;
      .box-thumnaisl{
        padding-top: 36px;
        position: relative;
        width: 160px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before{
          content: '';
          height: 2px;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          background: $border;
          display: inline-block;
        }
        &::after{
          content: '';
          height: 2px;
          position: absolute;
          left: 0;
          top: 0;
          width: 88%;
          background: $brand;
          display: inline-block;
        }
      }
      .percent-40::after{
        width: 40%;
      }
      p{
        font-size: 100px;
        // font-weight: 600;
        margin-bottom: 0;
      }
      span{
        font-size: 49px;
        font-weight: 300;
      }
    }
  }
}


.chung-toi{
  padding-bottom: 70px;
  .btn-common{
    margin: 60px auto 0 auto;
  }
  background: $bg-gray;
  .soul-chung-toi{
    // padding-top: 20px;
    // margin: 0 -30px;
    // .col-md-3{
    //   padding: 0 45px;
    // }
    .box-product{
      h4{
        line-height: inherit;
      }
    }
  }
  .title-section{
    h2{
      text-align: center;
      font-size: 32px;
      line-height: 47px;
      font-weight: 400;
      img{    margin-bottom: 13px;}
    }
  }
  .box-product{
    text-align: center;
    .thumnaisl-avatar{
      margin-bottom: 20px;
      a{
        padding-top: 100%;
      }
    }
  }
}


.cong-nghe{
  padding-bottom: 20px;
  .title-section{
    h2{
      padding: 0 110px;
      margin-bottom: 0;
    }
  }
  
  .soul-cong-nghe{
    .ss-thlogo{
      img{
        height: 70px;
      }
    }
  }
}

.big-box-du-an{
 
  .box-shadow{
    margin-bottom: 50px;
    padding: 35px 40px 70px;
    background: #FFFFFF;
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    border: none  !important;
      img{
        height: 84px;
      }
    .box-text{
      margin-top: 30px;
      p{
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        
      }
      h4{
        margin-bottom: 15px;
        font-weight: 600;
        line-height: 36px;
        
      }
    }
  }
}

// .no-js .owl-carousel, .owl-carousel.owl-loaded {
//   display: block !important;
// }
.services-app{
  .quy-trinh{
    padding-top: 0;
  }
}

.quy-trinh{
  padding-bottom: 70px;
  // padding-top: 0;
  .soul-quy-trinh{
    position: relative;
    .line-step{
      width: 100%;
      height: 262px;
      border: 3px solid #F4C522;
      background: transparent;
      position: absolute;
      top: 20px;
      z-index: -1;
    }
 
    .box-text{
      padding: 0 20px;
      .numberstep{
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          background-color: white;
          width: fit-content;
        h2{
          color: $brand;
          margin: 0 5px;
          font-weight: 400;
        }
        img{
          height: 10px;
        }
      }
      p{
        font-size: 16px;
        
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        
      }
      h4{
        margin-bottom: 15px;
        font-weight: 600;
        
      }
     
    }
    
  }
}
.services-app{
  .loi-ich-hrm{
    padding-top: 0;
  .title-section{
      border-top: 1px #D9D9D9 solid;
      padding-top: 70px;
  }
  }
}


.du-an-ht{
  padding-top: 0;
  .title-section{
      border-top: 1px #D9D9D9 solid;
      padding-top: 70px;
  }
  .thumnaisl-avatar{
    a{
      padding-top: 70%;
    }
  }
  .btn-common-border{
    margin: 0 auto;
  }
  p{
    font-size: 16px;
  }
  h4{
    
    font-weight: 600;
  }
  .item-news{
    position: relative;
  }
  .col-md-6{
    margin: 0 0 160px;
  }
  .info-news{
    position: absolute;
    text-align: center;
    background: #fff;
    padding: 25px 30px;
    bottom: -135px;
    left: 90px;
    width: 70%;
    p{
      text-align: center;
      margin-bottom: 30px;
    }
  }
}



/*======================page-Service Service app===================== */
.title-app{
  text-align: center;
  font-size: 20px;
  line-height: 34px;
  img{
    margin-bottom: 18px;
  }
}
.box-text-slider{
  .header-title{
    // margin: 20px 0 20px 45px;
    margin-bottom: 20px;
  }
}
.big-box-du-an{
  .box-shadow{
    &:hover{
      transform: scale(1.02);
      transition: .3s ease-in-out;
    }
  }
}
.gioi-thieu-app{
  padding-bottom: 70px;
  .box-shadow{
    height: 448px;
    margin-bottom: 0;
  
  }

  .text-app{
   display: flex;
    margin-bottom: 50px;
    ul{
     
      margin-right: 120px;
      li{
        width: 100%;
        padding-left: 15px;
        padding: 10px 0;
        padding-left: 24px;
        display: inline-block;
        position: relative;
        display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          font-weight: 400;
          font-size: 16px;
          line-height: 35px;
          &::before{
            width: 8px;
            height: 8px;
            background: $text;
            border-radius: 50%;
            content: '';
            display: inline-block;
            position: absolute;
            left: 0;
            top: 25px;
          }
      }
    }
  }
  .big-box-du-an{
    .listcheck{
      li{
        align-items: flex-start;
        display: flex;
        img{
          height: inherit;
          margin-top: 8px;
        }
        p{
          

          margin-left: 10px;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
        }
      }
    }
  }
}

.Service-app{
  .box-shadow{
    border: none !important;
  }
}

.Service-web{
  .box-shadow{
    border: none !important;
  }
}

.du-an-ht-app{
  padding-top: 0;
  padding-bottom: 70px;
  .title-section{
    border-top: 1px #D9D9D9 solid;
    padding-top: 70px;  
  }
  h5{
    text-align: center;
    margin-bottom: 0;
   
  }
  .box-shadow{
    border: none  !important;
    padding: 0 0 20px;
    .thumnaisl-avatar{
      margin-bottom: 20px;
      a{
        padding-top: 70%;
      }
    }
    &:hover{
      cursor: pointer;
      color: $brand;
    }
  }
  
}



/*======================page-Service Service dich vu ha tang===================== */
.service-system{
  .gioi-thieu-app{
    
    .img-gioi-thieu-ht{
      width: 1200px;
      max-height: 550px;
    }
  }
}

.breadcrumbs{
  a{
    // display: -webkit-box;
    // -webkit-line-clamp: 1;
    // -webkit-box-orient: vertical;
    // overflow: hidden;
  }
}
/*======================page Detail Blog===================== */
.detail-blog{
 
  .time-date-comment{
    margin-top: 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;
    color: #8C8C8C;
    .time-date{
      span{

      }
    }
  }
  .infor-banner{
    transform: translate(0%, 15%);
    h1{
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  .banner-pagedetail{
    padding-bottom: 70px;
  }
}
.detail-blog{
  .head-pagedetail{
    .content-bannerhead{
      padding: 0  !important;
      .infor-banner{
        text-align: left !important;
      }
    }
  }
}
.header-img{
  // padding: 20px;
  max-width: 100%;
  // height: 550px;
  border-radius: 2px;
}

.soul-detail-blog{
  .box-shadow{
    .box-text{
      h5{    margin-top: 5px;}
      p{
        color: $text-alpha;
      }
      span{
        color: $text-alpha;
      }
    }
  }
.mini-posts{
  h5{
    margin-bottom: 5px;
  }
  .box-text{
    p{
      color: $text-alpha;
    }
    span{
      color: $text-alpha;
    }
  }
}
.box-shadow{
  border: inherit !important;
  padding: 30px 20px;
  text-align: center;
  .slider-img{
    margin-right: inherit;
    height: 86px;
    width: 86px;
  }
}
.soul-posts{
  padding-left: 15px;
  li{
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 15px;
    list-style-type: inherit;
    color: #58595B;
  }
}
.posts{
  margin-bottom: 0;
  h4{
    // margin-bottom: 30px;
    font-weight: 600;
    
  }
}
.posts:hover{
  cursor: pointer;
}
.posts-new{
  border-top: 5px $border solid;
  // padding-top: 20px;
  .categories::before{
    content: "-";
    margin-right: 5px;
  }
  .mini-posts{
    border-bottom: 1px $border solid;
    padding-bottom: 20px;
    margin-top: 20px;
  }
}
.detail-right{
  padding-left: 55px;
  p{
    margin-bottom: 30px;
    font-size: 16px;
  }
  h4{
    
    margin: 40px 0 25px;
    font-weight: 600;
  }
  .header-img{
    padding-bottom: 30px;
  }
}

}




/*======================page Contact===================== */
.img-head{
max-width: 100%;
height: 550px;
border-radius: 2px;
padding: 40px;
}
.head-contact{
h1{
  font-size: 72px;
  font-weight: 800;
}
h3{
  font-size: 24px;
  font-weight: 400;
  margin-top: 20px;
}
position: relative;
background: $bg-gray;
.pattern{
  position: absolute;
  left: 0;
  bottom: 10%;
}
.row{
  align-items: center;
}
}
.contacts footer{
  border-top: 1px #D9D9D9 solid;
}
.lien-he-takas{
  padding-bottom: 70px;
.box-shadow{
  height: 100%;
  text-align: center;
  padding: 25px ;
  border: inherit !important;
  .btn-common{
    float: right;
    margin-bottom: 25px;
    img{
      margin-left: 10px;
    }
  }
 
  .thumnaisl-avatar{
    img{
      border-radius: 2px;
    }
  }
  .box-text{
    text-align: center;
    margin-top: 40px;
    padding: 0 10px;
    h4{
      margin-bottom: 30px;
      
      font-weight: 600;
    }
    .address{
      margin-bottom: 10px;
      text-align: center;
      font-weight: 400;
      line-height: 1.6;
    }
    .numbers{
      margin-bottom: 10px;
      font-size: 20px;
      font-weight: 600;
      line-height: initial;
      text-align: center;
    }
    p{
      text-align: center;
      margin-bottom: 10px;
    }
    .gmail{
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 20px;
        height: 20px;
      }
      p{
        font-size: 16px;
        margin-bottom: 0;
        margin-left: 10px;
        
      }
    }
  }
  .show-add-address{
    .form-group{
      margin-bottom: 28px;
    }
    input{
      background-color:  #F7F9FC;;
      height: 48px;
      border-radius: 2px;
      border: 1px solid #D3D3D3;
    }
  }
}
.form-takas{
  padding: 55px 45px 30px;
}
.form-takas{
  h3{
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
  }
  p{
    margin-bottom: 55px;
    line-height: 1.4;
    text-align: center;
  }
  input,
textarea {
      border-radius: 2px;
      border: 1px solid #D3D3D3;
      height: 100px;
      padding: 10px;
      background-color:  #F7F9FC;;
      width: 100%;
      &::placeholder {
        color: #58595B;
        font-size: 14px;
      }
  }
}
}



/*======================page 404===================== */
.page-404{
  padding-bottom: 70px;
  text-align: center;
.soul-404{
  img{
    max-width: 100%;
    height: 300px;
  }
  .box-text{
    margin: 60px 0 30px 0;
  }
}

.text-404{
  line-height: 1;
  margin-top: 20px;
  font-size: 130px;
  font-weight: 400;
  text-align: center;
}
h5{
  margin-top: 10px;
  font-weight: 400;
}
.btn-common{
  margin: 0 auto;
}
}



// <!-- ============Section head page search===================== -->
.head-page-search{
h1{
  font-size: 72px;
  font-weight: 800;
}
h3{
  font-size: 24px;
  font-weight: 400;
  margin-top: 20px;
}
position: relative;
.row{
  align-items: center;
}
.pattern{
  position: absolute;
  left: 0;
  bottom: 10%;
}
}


// <!-- ============Section head page search===================== -->
.head-page-search{
background-color: $bg-gray;
}

.ket-qua-search{
  padding-bottom: 70px;
p{
  color: $brand;
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 15px;
}
.box-text{
  text-align: justify;
  margin-top: 25px;
  border-bottom: 1px $border solid;
  padding-bottom: 20px;
 
  h5{
    display: -webkit-box;
     -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 600;
    margin-bottom: 5px;
  }
  span{
    display: -webkit-box;
     -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }
 
}

}




// <!-- ============Section thanks for you===================== -->
.thank-you-page{
  
  footer{
    border-top: 1px #D9D9D9 solid;
  }
}
.ss-thanks-you{
  padding-bottom: 70px;
  .btn-common{
    margin: 0 auto;
  }
.thanks-you{
  text-align: center;
  .box-text{
    margin: 60px 0 30px 0;
    .title-thanks{
      text-align: center;
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
    }
    p{    
      margin: 0 120px;
      text-align: center;
    }
  }
  img{
    max-width: 100%;
    height: 300px;
  }
}
}



// <!-- ============Section Chính sách bảo mật===================== -->
.chinh-sach-bao-mat{
background: $bg-gray;
h1{
  font-size: 72px;
  font-weight: 800;
}
.row{
  align-items: center;
}
.box-text{
  h3{
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;
  }
}
}

.soul-privacy-policy{
  padding-bottom: 70px;
  .soul-policy{
    p{
      margin-bottom: 20px;
      line-height: 2;
    }
    h3{
      
      font-weight: 600;
      line-height: 1.4;
    }
    .header-img{
      margin: 5px 0 35px;
    }
    }
}



