@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap");
.title-section .before-title {
  font-size: 32px; }
.title-section p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.box-shadow {
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
  border: 1px #474647 solid !important; }

.title-gold {
  font-size: 45px;
  color: #F4C522;
  font-weight: 600; }
  .title-gold::after {
    content: "+";
    font-weight: 500; }

.price-list {
  font-size: 18px;
  font-weight: 800; }

.header-price h2 {
  margin: 20px 0;
  font-weight: 600; }

/* ============ banner-pagedetail =========== */
.banner-fullcontent {
  display: inline-block  !important; }

.about-us .content-bannerhead {
  display: inline-block !important; }
  .about-us .content-bannerhead .infor-banner {
    padding-right: 0 !important; }
    .about-us .content-bannerhead .infor-banner h1 {
      margin: 0 120px; }
    .about-us .content-bannerhead .infor-banner p {
      max-width: 70%;
      margin: 0 auto 20px auto !important; }

.detail-blog .infor-banner {
  text-align: left !important; }
  .detail-blog .infor-banner h1 {
    margin: 0 !important; }
  .detail-blog .infor-banner p {
    margin-right: 0 !important;
    margin-left: 0 !important; }

.infor-banner h1 {
  font-weight: 600;
  line-height: 1.2;
  color: #474647; }
.infor-banner p {
  max-width: 500px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 30px;
  color: #474647;
  padding-right: 0;
  font-size: 18px;
  margin-top: 15px; }

.infor-banner > img {
  height: 35px;
  margin-bottom: 10px; }

.banner-pagedetail {
  min-height: 600px;
  overflow: hidden;
  background-size: cover !important;
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px; }
  .banner-pagedetail .content-bannerhead {
    display: flex;
    align-items: center; }
    .banner-pagedetail .content-bannerhead .infor-banner {
      width: 50%;
      padding-right: 20px; }
    .banner-pagedetail .content-bannerhead .imgs-banner {
      width: 50%;
      text-align: center; }
      .banner-pagedetail .content-bannerhead .imgs-banner img {
        height: 400px; }

.btn-ss {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.yellow-price {
  color: #F4C522; }

/*======================page-product crm===================== */
.product-crm .infor-banner .content-info-banner {
  position: absolute;
  top: 80px; }
.product-crm .loi-ich {
  padding-bottom: 70px; }
  .product-crm .loi-ich .info-loi-ich:hover {
    transform: scale(1.02);
    transition: .3s ease-in-out; }
  .product-crm .loi-ich .btn-common {
    margin: 30px auto 0 auto;
    width: fit-content;
    display: flex; }

.gioi-thieu .video-cans {
  display: inline-block;
  width: 100%;
  position: relative;
  background-size: contain !important;
  height: 658px;
  cursor: pointer; }
  .gioi-thieu .video-cans img {
    width: 100%; }
.gioi-thieu .close-bg-video {
  position: absolute;
  right: -50px;
  top: -10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: normal;
  border: 0;
  font-size: 20px;
  outline: none;
  z-index: 9999999;
  background-color: white; }
.gioi-thieu .current_page_item a {
  color: #F4C522; }
.gioi-thieu .overlay {
  width: 100%;
  margin: 0 auto;
  height: 658px;
  display: none; }
  .gioi-thieu .overlay._active {
    display: block; }
    .gioi-thieu .overlay._active iframe {
      width: 100%;
      height: 658px; }

.loi-ich .colum-loi-ich {
  text-align: center;
  flex: 0 0 20%;
  max-width: 20%;
  padding: 25px; }
  .loi-ich .colum-loi-ich .img-loi-ich {
    height: 75px;
    margin-bottom: 25px; }
.loi-ich .info-loi-ich {
  height: 215px;
  background: #fff;
  padding: 25px;
  border-radius: 2px;
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
  border: 1px #fff solid; }
  .loi-ich .info-loi-ich p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center; }

.notes {
  font-weight: 400;
  font-size: 14px !important;
  line-height: 33px  !important;
  margin-top: 15px;
  margin-bottom: 0; }

.loi-ich-hrm {
  padding-bottom: 70px; }
  .loi-ich-hrm .header-title h3 {
    margin-bottom: 30px; }
  .loi-ich-hrm .title-section p {
    margin-bottom: 0; }
  .loi-ich-hrm .btn-common {
    margin: 0 auto;
    width: fit-content;
    display: flex; }

.product-hrm .infor-banner {
  position: relative; }
  .product-hrm .infor-banner .content-info-banner {
    position: absolute;
    top: 80px; }

.bg-system {
  background: #F5F7FB;
  padding-bottom: 70px; }

.doanh-nghiep {
  padding-bottom: 70px;
  background: #F5F7FB; }
  .doanh-nghiep .box-doi-tac {
    min-height: 550px; }
    .doanh-nghiep .box-doi-tac .dt-doanh-nghiep {
      position: relative;
      display: flex;
      align-items: center;
      height: 496px;
      padding-right: 665px; }
      .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .title-section h3 {
        max-width: 100%;
        text-align: left; }
        .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .title-section h3 a {
          display: initial;
          font-size: 50px; }
          .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .title-section h3 a:hover {
            color: inherit; }
      .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac {
        width: 580px;
        height: 496px;
        position: absolute;
        top: 0;
        right: 0; }
        .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac {
          width: 100%;
          position: relative;
          top: 0;
          left: 0; }
          .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac {
            position: absolute;
            border-radius: 2px;
            background: #fff;
            display: flex;
            padding: 15px;
            align-items: center;
            justify-content: center;
            float: left;
            margin: 10px;
            box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09); }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(1) {
              width: 198px;
              height: 85px;
              left: 137px;
              top: 0; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(1) img {
                height: 75px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(2) {
              width: 117px;
              height: 85px;
              left: 355px;
              top: 0px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(2) img {
                height: 75px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(3) {
              width: 117px;
              height: 85px;
              left: 0px;
              top: 105px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(3) img {
                height: 75px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(4) {
              width: 198px;
              height: 85px;
              left: 137px;
              top: 105px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(4) img {
                height: 75px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(5) {
              width: 117px;
              height: 85px;
              left: 355px;
              top: 105px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(5) img {
                height: 75px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(6) {
              width: 115px;
              height: 50px;
              left: 80px;
              top: 210px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(6) img {
                height: 40px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(7) {
              width: 120px;
              height: 120px;
              left: 215px;
              top: 210px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(7) img {
                height: 110px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(8) {
              width: 197px;
              height: 197px;
              left: 355px;
              top: 210px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(8) img {
                height: 187px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(9) {
              width: 115px;
              height: 50px;
              left: 80px;
              top: 280px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(9) img {
                height: 40px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(10) {
              width: 120px;
              height: 120px;
              left: 215px;
              top: 350px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(10) img {
                height: 110px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(11) {
              width: 70px;
              height: 70px;
              left: 47px;
              top: 15px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(11) img {
                height: 60px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(12) {
              width: 60px;
              height: 60px;
              left: 492px;
              top: 130px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(12) img {
                height: 50px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(13) {
              width: 60px;
              height: 60px;
              left: 0px;
              top: 210px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(13) img {
                height: 50px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(14) {
              width: 60px;
              height: 60px;
              left: 136px;
              top: 350px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(14) img {
                height: 50px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(15) {
              width: 40px;
              height: 40px;
              left: 355px;
              top: 427px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(15) img {
                height: 30px;
                max-width: 100%; }
  .doanh-nghiep .img-slider h4 {
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 950px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 34px;
    font-weight: 400; }
  .doanh-nghiep .img-slider .box-information {
    align-items: center;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 30px; }
    .doanh-nghiep .img-slider .box-information .slider-img {
      border-radius: 100%;
      height: 75px;
      width: 75px;
      margin-right: 15px;
      object-fit: cover; }
    .doanh-nghiep .img-slider .box-information .slider-infor h5 {
      font-weight: 600;
      margin-bottom: 5px;
      line-height: 39px;
      margin-bottom: 0; }
    .doanh-nghiep .img-slider .box-information .slider-infor p {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 14px;
      opacity: .7;
      margin-bottom: 0; }
  .doanh-nghiep .owl-dots {
    display: none; }
  .doanh-nghiep .ss-result {
    border-top: 1px #D9D9D9 solid;
    padding-top: 40px;
    position: relative; }
    .doanh-nghiep .ss-result .owl-nav button:focus {
      outline: transparent; }
    .doanh-nghiep .ss-result .owl-nav button span {
      display: none; }
    .doanh-nghiep .ss-result .owl-prev {
      position: absolute;
      left: 0px;
      top: 25%;
      width: 50px;
      height: 50px;
      background: url(../images/arrow-left.png) no-repeat center !important;
      background-size: contain !important; }
    .doanh-nghiep .ss-result .owl-next {
      position: absolute;
      right: 0px;
      top: 25%;
      width: 50px;
      height: 50px;
      background: url(../images/arrow-right.png) no-repeat center !important;
      background-size: contain !important; }

.bang-gia {
  padding-bottom: 70px; }
  .bang-gia .col-md-6 {
    max-width: 40%;
    padding: 0 10px; }
  .bang-gia .row {
    justify-content: center; }
  .bang-gia .box-grow {
    border-radius: 2px;
    border: 1px #dbdbdb solid;
    padding: 55px 40px 50px; }
    .bang-gia .box-grow .btn-common:hover {
      opacity: 0.9; }
    .bang-gia .box-grow .tick {
      font-size: 16px;
      display: flex;
      align-items: center; }
      .bang-gia .box-grow .tick:last-child {
        margin-bottom: 0; }
      .bang-gia .box-grow .tick img {
        margin-right: 15px; }
    .bang-gia .box-grow .btn-common {
      width: 100%; }

.question {
  padding-bottom: 70px;
  border-top: 1px #F1F1F1 solid; }
  .question .panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE; }
  .question .panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121; }
  .question .panel-default {
    border-bottom: 1px #F1F1F1 solid; }
  .question .panel-title {
    margin-bottom: 0;
    font-weight: 600; }
  .question .panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
    line-height: 40px;
    display: flex;
    align-items: center; }
  .question .more-less {
    float: left;
    margin-right: 20px;
    font-weight: 900; }
  .question .panel-default > .panel-heading + .panel-collapse > .panel-body {
    font-size: 16px;
    padding-left: 60px;
    margin: 0 0 25px;
    text-align: justify; }

.loi-ich-hrm {
  position: relative; }
  .loi-ich-hrm .thumnaisl-avatar a {
    padding-top: 0; }
    .loi-ich-hrm .thumnaisl-avatar a img {
      position: initial;
      width: 100%;
      height: 280px;
      object-fit: unset;
      object-position: unset; }
  .loi-ich-hrm .carousel-inner {
    padding: 40px 0 50px; }
    .loi-ich-hrm .carousel-inner .row {
      padding: 75px 40px;
      align-items: center; }
  .loi-ich-hrm .item__third {
    display: flex !important;
    align-items: center;
    height: 466px;
    background: #fff;
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
    margin: 0 42px;
    width: 29% !important;
    border-radius: 2px; }
    .loi-ich-hrm .item__third .slider-tick {
      position: relative;
      padding-left: 50px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 24px; }
      .loi-ich-hrm .item__third .slider-tick:last-child {
        padding-bottom: 5px; }
      .loi-ich-hrm .item__third .slider-tick img {
        position: absolute;
        left: 0;
        top: 0; }
  .loi-ich-hrm .show-neighbors {
    overflow: hidden; }
    .loi-ich-hrm .show-neighbors .item__third:first-child,
    .loi-ich-hrm .show-neighbors .item__third:last-child {
      display: none; }
    @media (min-width: 500px) {
      .loi-ich-hrm .show-neighbors .carousel-indicators {
        margin-right: 25%;
        margin-left: 25%; }
      .loi-ich-hrm .show-neighbors .carousel-control-prev,
      .loi-ich-hrm .show-neighbors .carousel-control-next {
        background: white;
        width: 25%;
        height: 466px;
        z-index: 11;
        /* .carousel-caption has z-index 10 */ }
      .loi-ich-hrm .show-neighbors .carousel-control-prev {
        width: 22%;
        left: -38px;
        justify-content: end;
        margin: 40px 0px; }
      .loi-ich-hrm .show-neighbors .carousel-control-next {
        width: 29%;
        right: -87px;
        justify-content: start;
        margin: 40px 0px; }
      .loi-ich-hrm .show-neighbors .carousel-inner {
        width: 150%;
        left: -25%; }
      .loi-ich-hrm .show-neighbors .carousel-item-next:not(.carousel-item-left),
      .loi-ich-hrm .show-neighbors .carousel-item-right.active {
        -webkit-transform: translate3d(33%, 0, 0);
        transform: translate3d(33%, 0, 0); }
      .loi-ich-hrm .show-neighbors .carousel-item-prev:not(.carousel-item-right),
      .loi-ich-hrm .show-neighbors .carousel-item-left.active {
        -webkit-transform: translate3d(-33%, 0, 0);
        transform: translate3d(-33%, 0, 0); }
      .loi-ich-hrm .show-neighbors .item__third {
        float: left;
        position: relative;
        /* captions can now be added */
        width: 33.33333333%; } }
  .loi-ich-hrm .carousel-indicators {
    display: none; }
  .loi-ich-hrm .carousel-control-prev {
    left: 224px;
    background: transparent; }
  .loi-ich-hrm .carousel-control-prev-icon {
    background-image: url(../images/arrow-left.png);
    width: 50px;
    height: 50px; }
  .loi-ich-hrm .carousel-control-next {
    right: 224px;
    background: transparent; }
  .loi-ich-hrm .carousel-control-next-icon {
    background-image: url(../images/arrow-right.png);
    width: 50px;
    height: 50px; }
  .loi-ich-hrm .carousel-control-prev {
    left: 100px;
    background: transparent; }
  .loi-ich-hrm .carousel-control-next {
    right: 100px;
    background: transparent; }
  .loi-ich-hrm .avatar-thumb a {
    position: relative;
    padding-top: 33%;
    display: block; }

/*======================page-about Us===================== */
.about-us .doanh-nghiep.bg-trans, .ser-system .doanh-nghiep.bg-trans {
  background: transparent; }

.about-us .content-bannerhead .infor-banner {
  width: 100%;
  text-align: center; }
.about-us .content-bannerhead .soul-tu-van {
  padding: 30px 0 0 0;
  text-align: center; }
  .about-us .content-bannerhead .soul-tu-van .box-text {
    margin-top: 30px; }
    .about-us .content-bannerhead .soul-tu-van .box-text h2 {
      font-weight: 600;
      font-size: 50px;
      position: relative;
      width: fit-content;
      margin: auto; }
    .about-us .content-bannerhead .soul-tu-van .box-text h5 {
      font-weight: 600;
      font-size: 18px;
      line-height: 33px; }
.about-us .content-bannerhead .icon-tu-van {
  height: 72px; }

.tu-van {
  background: #F5F7FB;
  position: relative; }
  .tu-van .pattern {
    position: absolute;
    left: 0;
    top: 15%; }
  .tu-van .icon-tu-van {
    margin-bottom: 30px;
    width: 72px;
    max-height: 72px; }
  .tu-van .box-item {
    text-align: center; }
    .tu-van .box-item .box-text h2 {
      font-size: 50px;
      font-weight: 600;
      margin-bottom: 30px; }

.gia-tri {
  padding-bottom: 70px;
  position: relative;
  background-size: cover !important;
  height: 100%;
  display: flex;
  align-items: center; }
  .gia-tri .img-item {
    height: 150px;
    max-width: 100%; }
  .gia-tri .box-shadow {
    background: transparent;
    border: inherit !important;
    box-shadow: none; }
  .gia-tri .soul-cong-nghe .box-text {
    margin-top: 30px; }
    .gia-tri .soul-cong-nghe .box-text h4 {
      font-weight: 600;
      line-height: 26px;
      margin-bottom: 18px; }
    .gia-tri .soul-cong-nghe .box-text p {
      font-size: 16px;
      line-height: 26px;
      max-width: 93%;
      margin-bottom: 0; }

.ss-dinh-huong .dinh-huong .row {
  align-items: center; }
.ss-dinh-huong .dinh-huong:nth-child(even) .row {
  flex-direction: row-reverse; }
.ss-dinh-huong .img-item {
  width: 100%;
  height: 500px; }
.ss-dinh-huong .box-text h2 {
  text-align: left; }
  .ss-dinh-huong .box-text h2 a {
    display: initial; }
.ss-dinh-huong .box-text p {
  font-size: 16px; }

.video-aboutus {
  padding-bottom: 70px;
  position: relative;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center; }
  .video-aboutus .video-cans {
    display: inline-block;
    width: 100%;
    position: relative;
    background-size: cover !important;
    height: 658px;
    cursor: pointer; }

/*======================page-Service Service web===================== */
.sang-tao {
  padding-bottom: 70px; }
  .sang-tao h6 {
    font-weight: 400; }
  .sang-tao .soul-sang-tao {
    padding-top: 20px; }
  .sang-tao .big-box-percent {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%; }
    .sang-tao .big-box-percent .text-percent {
      padding-left: 200px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px; }
      .sang-tao .big-box-percent .text-percent p {
        margin-bottom: 0; }
    .sang-tao .big-box-percent .box-percent {
      position: absolute;
      top: 0;
      left: 0; }
      .sang-tao .big-box-percent .box-percent .box-thumnaisl {
        padding-top: 36px;
        position: relative;
        width: 160px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .sang-tao .big-box-percent .box-percent .box-thumnaisl::before {
          content: '';
          height: 2px;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          background: #F1F1F1;
          display: inline-block; }
        .sang-tao .big-box-percent .box-percent .box-thumnaisl::after {
          content: '';
          height: 2px;
          position: absolute;
          left: 0;
          top: 0;
          width: 88%;
          background: #F4C522;
          display: inline-block; }
      .sang-tao .big-box-percent .box-percent .percent-40::after {
        width: 40%; }
      .sang-tao .big-box-percent .box-percent p {
        font-size: 100px;
        margin-bottom: 0; }
      .sang-tao .big-box-percent .box-percent span {
        font-size: 49px;
        font-weight: 300; }

.chung-toi {
  padding-bottom: 70px;
  background: #F5F7FB; }
  .chung-toi .btn-common {
    margin: 60px auto 0 auto; }
  .chung-toi .soul-chung-toi .box-product h4 {
    line-height: inherit; }
  .chung-toi .title-section h2 {
    text-align: center;
    font-size: 32px;
    line-height: 47px;
    font-weight: 400; }
    .chung-toi .title-section h2 img {
      margin-bottom: 13px; }
  .chung-toi .box-product {
    text-align: center; }
    .chung-toi .box-product .thumnaisl-avatar {
      margin-bottom: 20px; }
      .chung-toi .box-product .thumnaisl-avatar a {
        padding-top: 100%; }

.cong-nghe {
  padding-bottom: 20px; }
  .cong-nghe .title-section h2 {
    padding: 0 110px;
    margin-bottom: 0; }
  .cong-nghe .soul-cong-nghe .ss-thlogo img {
    height: 70px; }

.big-box-du-an .box-shadow {
  margin-bottom: 50px;
  padding: 35px 40px 70px;
  background: #FFFFFF;
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  border: none  !important; }
  .big-box-du-an .box-shadow img {
    height: 84px; }
  .big-box-du-an .box-shadow .box-text {
    margin-top: 30px; }
    .big-box-du-an .box-shadow .box-text p {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .big-box-du-an .box-shadow .box-text h4 {
      margin-bottom: 15px;
      font-weight: 600;
      line-height: 36px; }

.services-app .quy-trinh {
  padding-top: 0; }

.quy-trinh {
  padding-bottom: 70px; }
  .quy-trinh .soul-quy-trinh {
    position: relative; }
    .quy-trinh .soul-quy-trinh .line-step {
      width: 100%;
      height: 262px;
      border: 3px solid #F4C522;
      background: transparent;
      position: absolute;
      top: 20px;
      z-index: -1; }
    .quy-trinh .soul-quy-trinh .box-text {
      padding: 0 20px; }
      .quy-trinh .soul-quy-trinh .box-text .numberstep {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        background-color: white;
        width: fit-content; }
        .quy-trinh .soul-quy-trinh .box-text .numberstep h2 {
          color: #F4C522;
          margin: 0 5px;
          font-weight: 400; }
        .quy-trinh .soul-quy-trinh .box-text .numberstep img {
          height: 10px; }
      .quy-trinh .soul-quy-trinh .box-text p {
        font-size: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden; }
      .quy-trinh .soul-quy-trinh .box-text h4 {
        margin-bottom: 15px;
        font-weight: 600; }

.services-app .loi-ich-hrm {
  padding-top: 0; }
  .services-app .loi-ich-hrm .title-section {
    border-top: 1px #D9D9D9 solid;
    padding-top: 70px; }

.du-an-ht {
  padding-top: 0; }
  .du-an-ht .title-section {
    border-top: 1px #D9D9D9 solid;
    padding-top: 70px; }
  .du-an-ht .thumnaisl-avatar a {
    padding-top: 70%; }
  .du-an-ht .btn-common-border {
    margin: 0 auto; }
  .du-an-ht p {
    font-size: 16px; }
  .du-an-ht h4 {
    font-weight: 600; }
  .du-an-ht .item-news {
    position: relative; }
  .du-an-ht .col-md-6 {
    margin: 0 0 160px; }
  .du-an-ht .info-news {
    position: absolute;
    text-align: center;
    background: #fff;
    padding: 25px 30px;
    bottom: -135px;
    left: 90px;
    width: 70%; }
    .du-an-ht .info-news p {
      text-align: center;
      margin-bottom: 30px; }

/*======================page-Service Service app===================== */
.title-app {
  text-align: center;
  font-size: 20px;
  line-height: 34px; }
  .title-app img {
    margin-bottom: 18px; }

.box-text-slider .header-title {
  margin-bottom: 20px; }

.big-box-du-an .box-shadow:hover {
  transform: scale(1.02);
  transition: .3s ease-in-out; }

.gioi-thieu-app {
  padding-bottom: 70px; }
  .gioi-thieu-app .box-shadow {
    height: 448px;
    margin-bottom: 0; }
  .gioi-thieu-app .text-app {
    display: flex;
    margin-bottom: 50px; }
    .gioi-thieu-app .text-app ul {
      margin-right: 120px; }
      .gioi-thieu-app .text-app ul li {
        width: 100%;
        padding-left: 15px;
        padding: 10px 0;
        padding-left: 24px;
        display: inline-block;
        position: relative;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-weight: 400;
        font-size: 16px;
        line-height: 35px; }
        .gioi-thieu-app .text-app ul li::before {
          width: 8px;
          height: 8px;
          background: #474647;
          border-radius: 50%;
          content: '';
          display: inline-block;
          position: absolute;
          left: 0;
          top: 25px; }
  .gioi-thieu-app .big-box-du-an .listcheck li {
    align-items: flex-start;
    display: flex; }
    .gioi-thieu-app .big-box-du-an .listcheck li img {
      height: inherit;
      margin-top: 8px; }
    .gioi-thieu-app .big-box-du-an .listcheck li p {
      margin-left: 10px;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px; }

.Service-app .box-shadow {
  border: none !important; }

.Service-web .box-shadow {
  border: none !important; }

.du-an-ht-app {
  padding-top: 0;
  padding-bottom: 70px; }
  .du-an-ht-app .title-section {
    border-top: 1px #D9D9D9 solid;
    padding-top: 70px; }
  .du-an-ht-app h5 {
    text-align: center;
    margin-bottom: 0; }
  .du-an-ht-app .box-shadow {
    border: none  !important;
    padding: 0 0 20px; }
    .du-an-ht-app .box-shadow .thumnaisl-avatar {
      margin-bottom: 20px; }
      .du-an-ht-app .box-shadow .thumnaisl-avatar a {
        padding-top: 70%; }
    .du-an-ht-app .box-shadow:hover {
      cursor: pointer;
      color: #F4C522; }

/*======================page-Service Service dich vu ha tang===================== */
.service-system .gioi-thieu-app .img-gioi-thieu-ht {
  width: 1200px;
  max-height: 550px; }

/*======================page Detail Blog===================== */
.detail-blog .time-date-comment {
  margin-top: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  color: #8C8C8C; }
.detail-blog .infor-banner {
  transform: translate(0%, 15%); }
  .detail-blog .infor-banner h1 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; }
.detail-blog .banner-pagedetail {
  padding-bottom: 70px; }

.detail-blog .head-pagedetail .content-bannerhead {
  padding: 0  !important; }
  .detail-blog .head-pagedetail .content-bannerhead .infor-banner {
    text-align: left !important; }

.header-img {
  max-width: 100%;
  border-radius: 2px; }

.soul-detail-blog .box-shadow .box-text h5 {
  margin-top: 5px; }
.soul-detail-blog .box-shadow .box-text p {
  color: #969797; }
.soul-detail-blog .box-shadow .box-text span {
  color: #969797; }
.soul-detail-blog .mini-posts h5 {
  margin-bottom: 5px; }
.soul-detail-blog .mini-posts .box-text p {
  color: #969797; }
.soul-detail-blog .mini-posts .box-text span {
  color: #969797; }
.soul-detail-blog .box-shadow {
  border: inherit !important;
  padding: 30px 20px;
  text-align: center; }
  .soul-detail-blog .box-shadow .slider-img {
    margin-right: inherit;
    height: 86px;
    width: 86px; }
.soul-detail-blog .soul-posts {
  padding-left: 15px; }
  .soul-detail-blog .soul-posts li {
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 15px;
    list-style-type: inherit;
    color: #58595B; }
.soul-detail-blog .posts {
  margin-bottom: 0; }
  .soul-detail-blog .posts h4 {
    font-weight: 600; }
.soul-detail-blog .posts:hover {
  cursor: pointer; }
.soul-detail-blog .posts-new {
  border-top: 5px #F1F1F1 solid; }
  .soul-detail-blog .posts-new .categories::before {
    content: "-";
    margin-right: 5px; }
  .soul-detail-blog .posts-new .mini-posts {
    border-bottom: 1px #F1F1F1 solid;
    padding-bottom: 20px;
    margin-top: 20px; }
.soul-detail-blog .detail-right {
  padding-left: 55px; }
  .soul-detail-blog .detail-right p {
    margin-bottom: 30px;
    font-size: 16px; }
  .soul-detail-blog .detail-right h4 {
    margin: 40px 0 25px;
    font-weight: 600; }
  .soul-detail-blog .detail-right .header-img {
    padding-bottom: 30px; }

/*======================page Contact===================== */
.img-head {
  max-width: 100%;
  height: 550px;
  border-radius: 2px;
  padding: 40px; }

.head-contact {
  position: relative;
  background: #F5F7FB; }
  .head-contact h1 {
    font-size: 72px;
    font-weight: 800; }
  .head-contact h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px; }
  .head-contact .pattern {
    position: absolute;
    left: 0;
    bottom: 10%; }
  .head-contact .row {
    align-items: center; }

.contacts footer {
  border-top: 1px #D9D9D9 solid; }

.lien-he-takas {
  padding-bottom: 70px; }
  .lien-he-takas .box-shadow {
    height: 100%;
    text-align: center;
    padding: 25px;
    border: inherit !important; }
    .lien-he-takas .box-shadow .btn-common {
      float: right;
      margin-bottom: 25px; }
      .lien-he-takas .box-shadow .btn-common img {
        margin-left: 10px; }
    .lien-he-takas .box-shadow .thumnaisl-avatar img {
      border-radius: 2px; }
    .lien-he-takas .box-shadow .box-text {
      text-align: center;
      margin-top: 40px;
      padding: 0 10px; }
      .lien-he-takas .box-shadow .box-text h4 {
        margin-bottom: 30px;
        font-weight: 600; }
      .lien-he-takas .box-shadow .box-text .address {
        margin-bottom: 10px;
        text-align: center;
        font-weight: 400;
        line-height: 1.6; }
      .lien-he-takas .box-shadow .box-text .numbers {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 600;
        line-height: initial;
        text-align: center; }
      .lien-he-takas .box-shadow .box-text p {
        text-align: center;
        margin-bottom: 10px; }
      .lien-he-takas .box-shadow .box-text .gmail {
        display: flex;
        justify-content: center;
        align-items: center; }
        .lien-he-takas .box-shadow .box-text .gmail img {
          width: 20px;
          height: 20px; }
        .lien-he-takas .box-shadow .box-text .gmail p {
          font-size: 16px;
          margin-bottom: 0;
          margin-left: 10px; }
    .lien-he-takas .box-shadow .show-add-address .form-group {
      margin-bottom: 28px; }
    .lien-he-takas .box-shadow .show-add-address input {
      background-color: #F7F9FC;
      height: 48px;
      border-radius: 2px;
      border: 1px solid #D3D3D3; }
  .lien-he-takas .form-takas {
    padding: 55px 45px 30px; }
  .lien-he-takas .form-takas h3 {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600; }
  .lien-he-takas .form-takas p {
    margin-bottom: 55px;
    line-height: 1.4;
    text-align: center; }
  .lien-he-takas .form-takas input,
  .lien-he-takas .form-takas textarea {
    border-radius: 2px;
    border: 1px solid #D3D3D3;
    height: 100px;
    padding: 10px;
    background-color: #F7F9FC;
    width: 100%; }
    .lien-he-takas .form-takas input::placeholder,
    .lien-he-takas .form-takas textarea::placeholder {
      color: #58595B;
      font-size: 14px; }

/*======================page 404===================== */
.page-404 {
  padding-bottom: 70px;
  text-align: center; }
  .page-404 .soul-404 img {
    max-width: 100%;
    height: 300px; }
  .page-404 .soul-404 .box-text {
    margin: 60px 0 30px 0; }
  .page-404 .text-404 {
    line-height: 1;
    margin-top: 20px;
    font-size: 130px;
    font-weight: 400;
    text-align: center; }
  .page-404 h5 {
    margin-top: 10px;
    font-weight: 400; }
  .page-404 .btn-common {
    margin: 0 auto; }

.head-page-search {
  position: relative; }
  .head-page-search h1 {
    font-size: 72px;
    font-weight: 800; }
  .head-page-search h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px; }
  .head-page-search .row {
    align-items: center; }
  .head-page-search .pattern {
    position: absolute;
    left: 0;
    bottom: 10%; }

.head-page-search {
  background-color: #F5F7FB; }

.ket-qua-search {
  padding-bottom: 70px; }
  .ket-qua-search p {
    color: #F4C522;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 15px; }
  .ket-qua-search .box-text {
    text-align: justify;
    margin-top: 25px;
    border-bottom: 1px #F1F1F1 solid;
    padding-bottom: 20px; }
    .ket-qua-search .box-text h5 {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-weight: 600;
      margin-bottom: 5px; }
    .ket-qua-search .box-text span {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px; }

.thank-you-page footer {
  border-top: 1px #D9D9D9 solid; }

.ss-thanks-you {
  padding-bottom: 70px; }
  .ss-thanks-you .btn-common {
    margin: 0 auto; }
  .ss-thanks-you .thanks-you {
    text-align: center; }
    .ss-thanks-you .thanks-you .box-text {
      margin: 60px 0 30px 0; }
      .ss-thanks-you .thanks-you .box-text .title-thanks {
        text-align: center;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px; }
      .ss-thanks-you .thanks-you .box-text p {
        margin: 0 120px;
        text-align: center; }
    .ss-thanks-you .thanks-you img {
      max-width: 100%;
      height: 300px; }

.chinh-sach-bao-mat {
  background: #F5F7FB; }
  .chinh-sach-bao-mat h1 {
    font-size: 72px;
    font-weight: 800; }
  .chinh-sach-bao-mat .row {
    align-items: center; }
  .chinh-sach-bao-mat .box-text h3 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400; }

.soul-privacy-policy {
  padding-bottom: 70px; }
  .soul-privacy-policy .soul-policy p {
    margin-bottom: 20px;
    line-height: 2; }
  .soul-privacy-policy .soul-policy h3 {
    font-weight: 600;
    line-height: 1.4; }
  .soul-privacy-policy .soul-policy .header-img {
    margin: 5px 0 35px; }

/*# sourceMappingURL=hai.css.map */
