@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap");
.container {
  max-width: 1200px; }

body {
  font-family: 'Roboto', sans-serif;
  color: #474647;
  font-size: 14px;
  line-height: 24px;
  margin: auto; }

a {
  text-decoration: none;
  color: #474647;
  outline: none;
  -webkit-transition: color .3s ease;
  transition: color 0.3s ease; }
  a:hover {
    text-decoration: none;
    color: #F4C522; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  text-decoration: none; }

img {
  max-width: 100%; }

button {
  outline: none; }

.text-tranform {
  text-transform: uppercase; }

h1 {
  font-size: 55px; }

h2 {
  font-size: 36px;
  font-weight: 600; }

h3 {
  font-size: 28px !important;
  font-weight: 600;
  margin-bottom: 15px; }

h4 {
  font-size: 20px;
  font-weight: 600; }

h5 {
  font-size: 18px;
  font-weight: 600; }

h6 {
  font-size: 16px; }

p {
  font-size: 16px;
  text-align: justify; }

b,
span,
label {
  font-size: 13px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mb-0 {
  margin-bottom: 0; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.m10 {
  margin: 10px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.m25 {
  margin: 25px; }

.m30 {
  margin: 30px; }

.m35 {
  margin: 35px; }

.m40 {
  margin: 40px; }

.m45 {
  margin: 45px; }

.m50 {
  margin: 50px; }

.m55 {
  margin: 55px; }

.m60 {
  margin: 60px; }

.m65 {
  margin: 65px; }

.m70 {
  margin: 70px; }

.ml-0 {
  margin-left: 0; }

.mr-0 {
  margin-right: 0; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.p25 {
  padding: 25px; }

.p30 {
  padding: 30px; }

.p35 {
  padding: 35px; }

.p40 {
  padding: 40px; }

.p45 {
  padding: 45px; }

.p50 {
  padding: 50px; }

.pl-pr-50 {
  padding: 0 50px; }

.p55 {
  padding: 55px; }

.p60 {
  padding: 60px; }

.p65 {
  padding: 65px; }

.p70 {
  padding: 70px; }

.pl-0 {
  padding-left: 0; }

.pr-0 {
  padding-right: 0; }

.pl-0 {
  padding-left: 10px; }

.pr-0 {
  padding-right: 10px; }

.pt-0 {
  padding-top: 0; }

.pb-70 {
  padding-bottom: 70px; }

.pb-0 {
  padding-bottom: 0; }

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none; }

section {
  float: left;
  overflow: hidden;
  width: 100%;
  padding-bottom: 40px;
  padding-top: 40px; }

input:focus,
textarea:focus {
  border-color: #F4C522 !important;
  outline: none;
  box-shadow: none !important; }

.breadcrumbs {
  margin-top: 30px;
  color: #8692A6;
  display: flex;
  align-items: center; }
  .breadcrumbs a {
    font-weight: normal;
    color: #8692A6;
    font-size: 12px; }
    .breadcrumbs a i {
      margin: 0 !important; }
      .breadcrumbs a i::before {
        font-size: 15px; }
  .breadcrumbs i {
    margin: 0 8px;
    margin-top: -6px; }
    .breadcrumbs i::before {
      font-size: 10px; }

.title-section h2 {
  display: inline-block;
  width: 100%;
  font-weight: 600;
  line-height: 1.38;
  text-align: center;
  margin-bottom: 8px; }
  .title-section h2 a {
    cursor: pointer;
    color: #474647;
    align-items: baseline;
    justify-content: center; }
  .title-section h2:hover {
    text-decoration: none; }
.title-section p {
  max-width: 90%;
  margin: auto;
  text-align: center;
  font-weight: 400;
  line-height: 1.75; }

.btn-link-center {
  width: 100%;
  display: inline-block;
  text-align: center; }

header .close-search,
header .ti-close,
header .ti-menu {
  display: none; }

.center {
  text-align: center;
  display: inline-block;
  width: 100%; }

.btn-common-border {
  background: white;
  border: 1px solid #474647;
  color: #474647;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 122px;
  padding: 20px 30px;
  transition: all .3s ease-in-out;
  height: 45px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: fit-content; }
  .btn-common-border i {
    margin-left: 10px;
    font-size: 16px; }
  .btn-common-border img {
    margin-left: 10px;
    font-size: 16px; }
  .btn-common-border:hover {
    opacity: 0.7;
    color: #474647; }

.header-slide-home {
  padding: 100px 0 !important; }
  .header-slide-home .imgs-banner img {
    height: 500px !important; }

.btn-common, .btn-common-secon {
  justify-content: center;
  display: flex;
  align-items: center;
  background: #F4C522;
  border-radius: 122px;
  padding: 20px 30px;
  color: #474647;
  transition: all .3s ease-in-out;
  height: 45px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: fit-content; }
  .btn-common i, .btn-common-secon i {
    margin-left: 8px;
    font-size: 12px; }
  .btn-common img, .btn-common-secon img {
    margin-left: 10px;
    font-size: 16px; }
  .btn-common:hover, .btn-common-secon:hover {
    opacity: 0.7;
    color: #474647; }

.btn-common-secon {
  background: #474647 !important;
  color: white; }
  .btn-common-secon:hover {
    opacity: 0.7;
    color: white; }

.thumnaisl-avatar a {
  position: relative;
  padding-top: 56%;
  display: block;
  overflow: hidden;
  border-radius: 2px; }
  .thumnaisl-avatar a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }

ul li {
  list-style: none; }

/* check-radio-custom */
.check-radio-custom {
  margin: 15px 0; }

.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

.check-radio-custom [type="radio"]:checked + label,
.check-radio-custom [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  display: inline-block;
  color: #222; }

.check-radio-custom [type="radio"]:checked + label:before,
.check-radio-custom [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #BFA145;
  border-radius: 100%;
  background: #fff; }

.check-radio-custom [type="radio"]:checked + label:after,
.check-radio-custom [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #BFA145;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.check-radio-custom [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

.check-radio-custom [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.check-radio-custom p {
  margin: 10px 0; }

/* -----------------Custom thanh srcoll-----------------*/
.scrollbar {
  height: 53vh;
  width: 100%;
  margin: auto;
  overflow-y: auto;
  padding: 0 10px; }

#style-1::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #cbcbcb; }

#style-1::-webkit-scrollbar {
  width: 1.5px;
  background-color: #ededed; }

#style-1::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: transparent; }

::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: transparent; }

::-webkit-scrollbar {
  width: 1px;
  height: 0;
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: transparent; }

/* -----------------Custom select box / input -----------------*/
input,
textarea {
  border: 1px solid #F1F1F1;
  height: 45px;
  padding: 10px 15px;
  background-color: white;
  width: 100%;
  font-size: 14px; }

textarea {
  width: 100%; }

.custom-select {
  position: relative;
  padding-left: 10px;
  background: #fff;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #E5E5E5; }

.custom-select select {
  display: none;
  /*hide original SELECT element: */ }

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: 0.255em;
  content: "\e64b";
  font-family: 'themify';
  color: #ABABAB;
  top: 10px;
  right: 25px; }

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #474647;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 14px;
  padding-top: 3px;
  padding-left: 5px; }

/* Style items (options): */
.select-items {
  padding: 15px;
  overflow: hidden;
  width: 100%;
  position: absolute;
  background-color: white;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  box-shadow: -1px 1px 14px rgba(138, 139, 159, 0.15); }

.select-items div {
  padding: 10px 0; }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  color: #F4C522; }

.title-section .before-title {
  font-size: 32px; }
.title-section p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.box-shadow {
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
  border: 1px #474647 solid !important; }

.title-gold {
  font-size: 45px;
  color: #F4C522;
  font-weight: 600; }
  .title-gold::after {
    content: "+";
    font-weight: 500; }

.price-list {
  font-size: 18px;
  font-weight: 800; }

.header-price h2 {
  margin: 20px 0;
  font-weight: 600; }

/* ============ banner-pagedetail =========== */
.banner-fullcontent {
  display: inline-block  !important; }

.about-us .content-bannerhead {
  display: inline-block !important; }
  .about-us .content-bannerhead .infor-banner {
    padding-right: 0 !important; }
    .about-us .content-bannerhead .infor-banner h1 {
      margin: 0 120px; }
    .about-us .content-bannerhead .infor-banner p {
      max-width: 70%;
      margin: 0 auto 20px auto !important; }

.detail-blog .infor-banner {
  text-align: left !important; }
  .detail-blog .infor-banner h1 {
    margin: 0 !important; }
  .detail-blog .infor-banner p {
    margin-right: 0 !important;
    margin-left: 0 !important; }

.infor-banner h1 {
  font-weight: 600;
  line-height: 1.2;
  color: #474647; }
.infor-banner p {
  max-width: 500px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 30px;
  color: #474647;
  padding-right: 0;
  font-size: 18px;
  margin-top: 15px; }

.infor-banner > img {
  height: 35px;
  margin-bottom: 10px; }

.banner-pagedetail {
  min-height: 600px;
  overflow: hidden;
  background-size: cover !important;
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px; }
  .banner-pagedetail .content-bannerhead {
    display: flex;
    align-items: center; }
    .banner-pagedetail .content-bannerhead .infor-banner {
      width: 50%;
      padding-right: 20px; }
    .banner-pagedetail .content-bannerhead .imgs-banner {
      width: 50%;
      text-align: center; }
      .banner-pagedetail .content-bannerhead .imgs-banner img {
        height: 400px; }

.btn-ss {
  margin-top: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.yellow-price {
  color: #F4C522; }

/*======================page-product crm===================== */
.product-crm .infor-banner .content-info-banner {
  position: absolute;
  top: 80px; }
.product-crm .loi-ich {
  padding-bottom: 70px; }
  .product-crm .loi-ich .info-loi-ich:hover {
    transform: scale(1.02);
    transition: .3s ease-in-out; }
  .product-crm .loi-ich .btn-common, .product-crm .loi-ich .btn-common-secon {
    margin: 30px auto 0 auto;
    width: fit-content;
    display: flex; }

.gioi-thieu .video-cans {
  display: inline-block;
  width: 100%;
  position: relative;
  background-size: contain !important;
  height: 658px;
  cursor: pointer; }
  .gioi-thieu .video-cans img {
    width: 100%; }
.gioi-thieu .close-bg-video {
  position: absolute;
  right: -50px;
  top: -10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: normal;
  border: 0;
  font-size: 20px;
  outline: none;
  z-index: 9999999;
  background-color: white; }
.gioi-thieu .current_page_item a {
  color: #F4C522; }
.gioi-thieu .overlay {
  width: 100%;
  margin: 0 auto;
  height: 658px;
  display: none; }
  .gioi-thieu .overlay._active {
    display: block; }
    .gioi-thieu .overlay._active iframe {
      width: 100%;
      height: 658px; }

.loi-ich .colum-loi-ich {
  text-align: center;
  flex: 0 0 20%;
  max-width: 20%;
  padding: 25px; }
  .loi-ich .colum-loi-ich .img-loi-ich {
    height: 75px;
    margin-bottom: 25px; }
.loi-ich .info-loi-ich {
  height: 215px;
  background: #fff;
  padding: 25px;
  border-radius: 2px;
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
  border: 1px #fff solid; }
  .loi-ich .info-loi-ich p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: center; }

.notes {
  font-weight: 400;
  font-size: 14px !important;
  line-height: 33px  !important;
  margin-top: 15px;
  margin-bottom: 0; }

.loi-ich-hrm {
  padding-bottom: 70px; }
  .loi-ich-hrm .header-title h3 {
    margin-bottom: 30px; }
  .loi-ich-hrm .title-section p {
    margin-bottom: 0; }
  .loi-ich-hrm .btn-common, .loi-ich-hrm .btn-common-secon {
    margin: 0 auto;
    width: fit-content;
    display: flex; }

.product-hrm .infor-banner {
  position: relative; }
  .product-hrm .infor-banner .content-info-banner {
    position: absolute;
    top: 80px; }

.bg-system {
  background: #F5F7FB;
  padding-bottom: 70px; }

.doanh-nghiep {
  padding-bottom: 70px;
  background: #F5F7FB; }
  .doanh-nghiep .box-doi-tac {
    min-height: 550px; }
    .doanh-nghiep .box-doi-tac .dt-doanh-nghiep {
      position: relative;
      display: flex;
      align-items: center;
      height: 496px;
      padding-right: 665px; }
      .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .title-section h3 {
        max-width: 100%;
        text-align: left; }
        .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .title-section h3 a {
          display: initial;
          font-size: 50px; }
          .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .title-section h3 a:hover {
            color: inherit; }
      .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac {
        width: 580px;
        height: 496px;
        position: absolute;
        top: 0;
        right: 0; }
        .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac {
          width: 100%;
          position: relative;
          top: 0;
          left: 0; }
          .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac {
            position: absolute;
            border-radius: 2px;
            background: #fff;
            display: flex;
            padding: 15px;
            align-items: center;
            justify-content: center;
            float: left;
            margin: 10px;
            box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09); }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(1) {
              width: 198px;
              height: 85px;
              left: 137px;
              top: 0; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(1) img {
                height: 75px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(2) {
              width: 117px;
              height: 85px;
              left: 355px;
              top: 0px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(2) img {
                height: 75px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(3) {
              width: 117px;
              height: 85px;
              left: 0px;
              top: 105px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(3) img {
                height: 75px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(4) {
              width: 198px;
              height: 85px;
              left: 137px;
              top: 105px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(4) img {
                height: 75px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(5) {
              width: 117px;
              height: 85px;
              left: 355px;
              top: 105px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(5) img {
                height: 75px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(6) {
              width: 115px;
              height: 50px;
              left: 80px;
              top: 210px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(6) img {
                height: 40px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(7) {
              width: 120px;
              height: 120px;
              left: 215px;
              top: 210px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(7) img {
                height: 110px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(8) {
              width: 197px;
              height: 197px;
              left: 355px;
              top: 210px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(8) img {
                height: 187px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(9) {
              width: 115px;
              height: 50px;
              left: 80px;
              top: 280px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(9) img {
                height: 40px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(10) {
              width: 120px;
              height: 120px;
              left: 215px;
              top: 350px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(10) img {
                height: 110px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(11) {
              width: 70px;
              height: 70px;
              left: 47px;
              top: 15px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(11) img {
                height: 60px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(12) {
              width: 60px;
              height: 60px;
              left: 492px;
              top: 130px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(12) img {
                height: 50px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(13) {
              width: 60px;
              height: 60px;
              left: 0px;
              top: 210px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(13) img {
                height: 50px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(14) {
              width: 60px;
              height: 60px;
              left: 136px;
              top: 350px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(14) img {
                height: 50px;
                max-width: 100%; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(15) {
              width: 40px;
              height: 40px;
              left: 355px;
              top: 427px; }
              .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(15) img {
                height: 30px;
                max-width: 100%; }
  .doanh-nghiep .img-slider h4 {
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 950px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 34px;
    font-weight: 400; }
  .doanh-nghiep .img-slider .box-information {
    align-items: center;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 30px; }
    .doanh-nghiep .img-slider .box-information .slider-img {
      border-radius: 100%;
      height: 75px;
      width: 75px;
      margin-right: 15px;
      object-fit: cover; }
    .doanh-nghiep .img-slider .box-information .slider-infor h5 {
      font-weight: 600;
      margin-bottom: 5px;
      line-height: 39px;
      margin-bottom: 0; }
    .doanh-nghiep .img-slider .box-information .slider-infor p {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 14px;
      opacity: .7;
      margin-bottom: 0; }
  .doanh-nghiep .owl-dots {
    display: none; }
  .doanh-nghiep .ss-result {
    border-top: 1px #D9D9D9 solid;
    padding-top: 40px;
    position: relative; }
    .doanh-nghiep .ss-result .owl-nav button:focus {
      outline: transparent; }
    .doanh-nghiep .ss-result .owl-nav button span {
      display: none; }
    .doanh-nghiep .ss-result .owl-prev {
      position: absolute;
      left: 0px;
      top: 25%;
      width: 50px;
      height: 50px;
      background: url(../images/arrow-left.png) no-repeat center !important;
      background-size: contain !important; }
    .doanh-nghiep .ss-result .owl-next {
      position: absolute;
      right: 0px;
      top: 25%;
      width: 50px;
      height: 50px;
      background: url(../images/arrow-right.png) no-repeat center !important;
      background-size: contain !important; }

.bang-gia {
  padding-bottom: 70px; }
  .bang-gia .col-md-6 {
    max-width: 40%;
    padding: 0 10px; }
  .bang-gia .row {
    justify-content: center; }
  .bang-gia .box-grow {
    border-radius: 2px;
    border: 1px #dbdbdb solid;
    padding: 55px 40px 50px; }
    .bang-gia .box-grow .btn-common:hover, .bang-gia .box-grow .btn-common-secon:hover {
      opacity: 0.9; }
    .bang-gia .box-grow .tick {
      font-size: 16px;
      display: flex;
      align-items: center; }
      .bang-gia .box-grow .tick:last-child {
        margin-bottom: 0; }
      .bang-gia .box-grow .tick img {
        margin-right: 15px; }
    .bang-gia .box-grow .btn-common, .bang-gia .box-grow .btn-common-secon {
      width: 100%; }

.question {
  padding-bottom: 70px;
  border-top: 1px #F1F1F1 solid; }
  .question .panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE; }
  .question .panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121; }
  .question .panel-default {
    border-bottom: 1px #F1F1F1 solid; }
  .question .panel-title {
    margin-bottom: 0;
    font-weight: 600; }
  .question .panel-title > a {
    display: block;
    padding: 15px;
    text-decoration: none;
    line-height: 40px;
    display: flex;
    align-items: center; }
  .question .more-less {
    float: left;
    margin-right: 20px;
    font-weight: 900; }
  .question .panel-default > .panel-heading + .panel-collapse > .panel-body {
    font-size: 16px;
    padding-left: 60px;
    margin: 0 0 25px;
    text-align: justify; }

.loi-ich-hrm {
  position: relative; }
  .loi-ich-hrm .thumnaisl-avatar a {
    padding-top: 0; }
    .loi-ich-hrm .thumnaisl-avatar a img {
      position: initial;
      width: 100%;
      height: 280px;
      object-fit: unset;
      object-position: unset; }
  .loi-ich-hrm .carousel-inner {
    padding: 40px 0 50px; }
    .loi-ich-hrm .carousel-inner .row {
      padding: 75px 40px;
      align-items: center; }
  .loi-ich-hrm .item__third {
    display: flex !important;
    align-items: center;
    height: 466px;
    background: #fff;
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
    margin: 0 42px;
    width: 29% !important;
    border-radius: 2px; }
    .loi-ich-hrm .item__third .slider-tick {
      position: relative;
      padding-left: 50px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 24px; }
      .loi-ich-hrm .item__third .slider-tick:last-child {
        padding-bottom: 5px; }
      .loi-ich-hrm .item__third .slider-tick img {
        position: absolute;
        left: 0;
        top: 0; }
  .loi-ich-hrm .show-neighbors {
    overflow: hidden; }
    .loi-ich-hrm .show-neighbors .item__third:first-child,
    .loi-ich-hrm .show-neighbors .item__third:last-child {
      display: none; }
    @media (min-width: 500px) {
      .loi-ich-hrm .show-neighbors .carousel-indicators {
        margin-right: 25%;
        margin-left: 25%; }
      .loi-ich-hrm .show-neighbors .carousel-control-prev,
      .loi-ich-hrm .show-neighbors .carousel-control-next {
        background: white;
        width: 25%;
        height: 466px;
        z-index: 11;
        /* .carousel-caption has z-index 10 */ }
      .loi-ich-hrm .show-neighbors .carousel-control-prev {
        width: 22%;
        left: -38px;
        justify-content: end;
        margin: 40px 0px; }
      .loi-ich-hrm .show-neighbors .carousel-control-next {
        width: 29%;
        right: -87px;
        justify-content: start;
        margin: 40px 0px; }
      .loi-ich-hrm .show-neighbors .carousel-inner {
        width: 150%;
        left: -25%; }
      .loi-ich-hrm .show-neighbors .carousel-item-next:not(.carousel-item-left),
      .loi-ich-hrm .show-neighbors .carousel-item-right.active {
        -webkit-transform: translate3d(33%, 0, 0);
        transform: translate3d(33%, 0, 0); }
      .loi-ich-hrm .show-neighbors .carousel-item-prev:not(.carousel-item-right),
      .loi-ich-hrm .show-neighbors .carousel-item-left.active {
        -webkit-transform: translate3d(-33%, 0, 0);
        transform: translate3d(-33%, 0, 0); }
      .loi-ich-hrm .show-neighbors .item__third {
        float: left;
        position: relative;
        /* captions can now be added */
        width: 33.33333333%; } }
  .loi-ich-hrm .carousel-indicators {
    display: none; }
  .loi-ich-hrm .carousel-control-prev {
    left: 224px;
    background: transparent; }
  .loi-ich-hrm .carousel-control-prev-icon {
    background-image: url(../images/arrow-left.png);
    width: 50px;
    height: 50px; }
  .loi-ich-hrm .carousel-control-next {
    right: 224px;
    background: transparent; }
  .loi-ich-hrm .carousel-control-next-icon {
    background-image: url(../images/arrow-right.png);
    width: 50px;
    height: 50px; }
  .loi-ich-hrm .carousel-control-prev {
    left: 100px;
    background: transparent; }
  .loi-ich-hrm .carousel-control-next {
    right: 100px;
    background: transparent; }
  .loi-ich-hrm .avatar-thumb a {
    position: relative;
    padding-top: 33%;
    display: block; }

/*======================page-about Us===================== */
.about-us .doanh-nghiep.bg-trans, .ser-system .doanh-nghiep.bg-trans {
  background: transparent; }

.about-us .content-bannerhead .infor-banner {
  width: 100%;
  text-align: center; }
.about-us .content-bannerhead .soul-tu-van {
  padding: 30px 0 0 0;
  text-align: center; }
  .about-us .content-bannerhead .soul-tu-van .box-text {
    margin-top: 30px; }
    .about-us .content-bannerhead .soul-tu-van .box-text h2 {
      font-weight: 600;
      font-size: 50px;
      position: relative;
      width: fit-content;
      margin: auto; }
    .about-us .content-bannerhead .soul-tu-van .box-text h5 {
      font-weight: 600;
      font-size: 18px;
      line-height: 33px; }
.about-us .content-bannerhead .icon-tu-van {
  height: 72px; }

.tu-van {
  background: #F5F7FB;
  position: relative; }
  .tu-van .pattern {
    position: absolute;
    left: 0;
    top: 15%; }
  .tu-van .icon-tu-van {
    margin-bottom: 30px;
    width: 72px;
    max-height: 72px; }
  .tu-van .box-item {
    text-align: center; }
    .tu-van .box-item .box-text h2 {
      font-size: 50px;
      font-weight: 600;
      margin-bottom: 30px; }

.gia-tri {
  padding-bottom: 70px;
  position: relative;
  background-size: cover !important;
  height: 100%;
  display: flex;
  align-items: center; }
  .gia-tri .img-item {
    height: 150px;
    max-width: 100%; }
  .gia-tri .box-shadow {
    background: transparent;
    border: inherit !important;
    box-shadow: none; }
  .gia-tri .soul-cong-nghe .box-text {
    margin-top: 30px; }
    .gia-tri .soul-cong-nghe .box-text h4 {
      font-weight: 600;
      line-height: 26px;
      margin-bottom: 18px; }
    .gia-tri .soul-cong-nghe .box-text p {
      font-size: 16px;
      line-height: 26px;
      max-width: 93%;
      margin-bottom: 0; }

.ss-dinh-huong .dinh-huong .row {
  align-items: center; }
.ss-dinh-huong .dinh-huong:nth-child(even) .row {
  flex-direction: row-reverse; }
.ss-dinh-huong .img-item {
  width: 100%;
  height: 500px; }
.ss-dinh-huong .box-text h2 {
  text-align: left; }
  .ss-dinh-huong .box-text h2 a {
    display: initial; }
.ss-dinh-huong .box-text p {
  font-size: 16px; }

.video-aboutus {
  padding-bottom: 70px;
  position: relative;
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center; }
  .video-aboutus .video-cans {
    display: inline-block;
    width: 100%;
    position: relative;
    background-size: cover !important;
    height: 658px;
    cursor: pointer; }

/*======================page-Service Service web===================== */
.sang-tao {
  padding-bottom: 70px; }
  .sang-tao h6 {
    font-weight: 400; }
  .sang-tao .soul-sang-tao {
    padding-top: 20px; }
  .sang-tao .big-box-percent {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%; }
    .sang-tao .big-box-percent .text-percent {
      padding-left: 200px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px; }
      .sang-tao .big-box-percent .text-percent p {
        margin-bottom: 0; }
    .sang-tao .big-box-percent .box-percent {
      position: absolute;
      top: 0;
      left: 0; }
      .sang-tao .big-box-percent .box-percent .box-thumnaisl {
        padding-top: 36px;
        position: relative;
        width: 160px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center; }
        .sang-tao .big-box-percent .box-percent .box-thumnaisl::before {
          content: '';
          height: 2px;
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          background: #F1F1F1;
          display: inline-block; }
        .sang-tao .big-box-percent .box-percent .box-thumnaisl::after {
          content: '';
          height: 2px;
          position: absolute;
          left: 0;
          top: 0;
          width: 88%;
          background: #F4C522;
          display: inline-block; }
      .sang-tao .big-box-percent .box-percent .percent-40::after {
        width: 40%; }
      .sang-tao .big-box-percent .box-percent p {
        font-size: 100px;
        margin-bottom: 0; }
      .sang-tao .big-box-percent .box-percent span {
        font-size: 49px;
        font-weight: 300; }

.chung-toi {
  padding-bottom: 70px;
  background: #F5F7FB; }
  .chung-toi .btn-common, .chung-toi .btn-common-secon {
    margin: 60px auto 0 auto; }
  .chung-toi .soul-chung-toi .box-product h4 {
    line-height: inherit; }
  .chung-toi .title-section h2 {
    text-align: center;
    font-size: 32px;
    line-height: 47px;
    font-weight: 400; }
    .chung-toi .title-section h2 img {
      margin-bottom: 13px; }
  .chung-toi .box-product {
    text-align: center; }
    .chung-toi .box-product .thumnaisl-avatar {
      margin-bottom: 20px; }
      .chung-toi .box-product .thumnaisl-avatar a {
        padding-top: 100%; }

.cong-nghe {
  padding-bottom: 20px; }
  .cong-nghe .title-section h2 {
    padding: 0 110px;
    margin-bottom: 0; }
  .cong-nghe .soul-cong-nghe .ss-thlogo img {
    height: 70px; }

.big-box-du-an .box-shadow {
  margin-bottom: 50px;
  padding: 35px 40px 70px;
  background: #FFFFFF;
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  border: none  !important; }
  .big-box-du-an .box-shadow img {
    height: 84px; }
  .big-box-du-an .box-shadow .box-text {
    margin-top: 30px; }
    .big-box-du-an .box-shadow .box-text p {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .big-box-du-an .box-shadow .box-text h4 {
      margin-bottom: 15px;
      font-weight: 600;
      line-height: 36px; }

.services-app .quy-trinh {
  padding-top: 0; }

.quy-trinh {
  padding-bottom: 70px; }
  .quy-trinh .soul-quy-trinh {
    position: relative; }
    .quy-trinh .soul-quy-trinh .line-step {
      width: 100%;
      height: 262px;
      border: 3px solid #F4C522;
      background: transparent;
      position: absolute;
      top: 20px;
      z-index: -1; }
    .quy-trinh .soul-quy-trinh .box-text {
      padding: 0 20px; }
      .quy-trinh .soul-quy-trinh .box-text .numberstep {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        background-color: white;
        width: fit-content; }
        .quy-trinh .soul-quy-trinh .box-text .numberstep h2 {
          color: #F4C522;
          margin: 0 5px;
          font-weight: 400; }
        .quy-trinh .soul-quy-trinh .box-text .numberstep img {
          height: 10px; }
      .quy-trinh .soul-quy-trinh .box-text p {
        font-size: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden; }
      .quy-trinh .soul-quy-trinh .box-text h4 {
        margin-bottom: 15px;
        font-weight: 600; }

.services-app .loi-ich-hrm {
  padding-top: 0; }
  .services-app .loi-ich-hrm .title-section {
    border-top: 1px #D9D9D9 solid;
    padding-top: 70px; }

.du-an-ht {
  padding-top: 0; }
  .du-an-ht .title-section {
    border-top: 1px #D9D9D9 solid;
    padding-top: 70px; }
  .du-an-ht .thumnaisl-avatar a {
    padding-top: 70%; }
  .du-an-ht .btn-common-border {
    margin: 0 auto; }
  .du-an-ht p {
    font-size: 16px; }
  .du-an-ht h4 {
    font-weight: 600; }
  .du-an-ht .item-news {
    position: relative; }
  .du-an-ht .col-md-6 {
    margin: 0 0 160px; }
  .du-an-ht .info-news {
    position: absolute;
    text-align: center;
    background: #fff;
    padding: 25px 30px;
    bottom: -135px;
    left: 90px;
    width: 70%; }
    .du-an-ht .info-news p {
      text-align: center;
      margin-bottom: 30px; }

/*======================page-Service Service app===================== */
.title-app {
  text-align: center;
  font-size: 20px;
  line-height: 34px; }
  .title-app img {
    margin-bottom: 18px; }

.box-text-slider .header-title {
  margin-bottom: 20px; }

.big-box-du-an .box-shadow:hover {
  transform: scale(1.02);
  transition: .3s ease-in-out; }

.gioi-thieu-app {
  padding-bottom: 70px; }
  .gioi-thieu-app .box-shadow {
    height: 448px;
    margin-bottom: 0; }
  .gioi-thieu-app .text-app {
    display: flex;
    margin-bottom: 50px; }
    .gioi-thieu-app .text-app ul {
      margin-right: 120px; }
      .gioi-thieu-app .text-app ul li {
        width: 100%;
        padding-left: 15px;
        padding: 10px 0;
        padding-left: 24px;
        display: inline-block;
        position: relative;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-weight: 400;
        font-size: 16px;
        line-height: 35px; }
        .gioi-thieu-app .text-app ul li::before {
          width: 8px;
          height: 8px;
          background: #474647;
          border-radius: 50%;
          content: '';
          display: inline-block;
          position: absolute;
          left: 0;
          top: 25px; }
  .gioi-thieu-app .big-box-du-an .listcheck li {
    align-items: flex-start;
    display: flex; }
    .gioi-thieu-app .big-box-du-an .listcheck li img {
      height: inherit;
      margin-top: 8px; }
    .gioi-thieu-app .big-box-du-an .listcheck li p {
      margin-left: 10px;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px; }

.Service-app .box-shadow {
  border: none !important; }

.Service-web .box-shadow {
  border: none !important; }

.du-an-ht-app {
  padding-top: 0;
  padding-bottom: 70px; }
  .du-an-ht-app .title-section {
    border-top: 1px #D9D9D9 solid;
    padding-top: 70px; }
  .du-an-ht-app h5 {
    text-align: center;
    margin-bottom: 0; }
  .du-an-ht-app .box-shadow {
    border: none  !important;
    padding: 0 0 20px; }
    .du-an-ht-app .box-shadow .thumnaisl-avatar {
      margin-bottom: 20px; }
      .du-an-ht-app .box-shadow .thumnaisl-avatar a {
        padding-top: 70%; }
    .du-an-ht-app .box-shadow:hover {
      cursor: pointer;
      color: #F4C522; }

/*======================page-Service Service dich vu ha tang===================== */
.service-system .gioi-thieu-app .img-gioi-thieu-ht {
  width: 1200px;
  max-height: 550px; }

/*======================page Detail Blog===================== */
.detail-blog .time-date-comment {
  margin-top: 20px;
  font-weight: 400;
  font-size: 13px;
  line-height: 28px;
  color: #8C8C8C; }
.detail-blog .infor-banner {
  transform: translate(0%, 15%); }
  .detail-blog .infor-banner h1 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; }
.detail-blog .banner-pagedetail {
  padding-bottom: 70px; }

.detail-blog .head-pagedetail .content-bannerhead {
  padding: 0  !important; }
  .detail-blog .head-pagedetail .content-bannerhead .infor-banner {
    text-align: left !important; }

.header-img {
  max-width: 100%;
  border-radius: 2px; }

.soul-detail-blog .box-shadow .box-text h5 {
  margin-top: 5px; }
.soul-detail-blog .box-shadow .box-text p {
  color: #969797; }
.soul-detail-blog .box-shadow .box-text span {
  color: #969797; }
.soul-detail-blog .mini-posts h5 {
  margin-bottom: 5px; }
.soul-detail-blog .mini-posts .box-text p {
  color: #969797; }
.soul-detail-blog .mini-posts .box-text span {
  color: #969797; }
.soul-detail-blog .box-shadow {
  border: inherit !important;
  padding: 30px 20px;
  text-align: center; }
  .soul-detail-blog .box-shadow .slider-img {
    margin-right: inherit;
    height: 86px;
    width: 86px; }
.soul-detail-blog .soul-posts {
  padding-left: 15px; }
  .soul-detail-blog .soul-posts li {
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 15px;
    list-style-type: inherit;
    color: #58595B; }
.soul-detail-blog .posts {
  margin-bottom: 0; }
  .soul-detail-blog .posts h4 {
    font-weight: 600; }
.soul-detail-blog .posts:hover {
  cursor: pointer; }
.soul-detail-blog .posts-new {
  border-top: 5px #F1F1F1 solid; }
  .soul-detail-blog .posts-new .categories::before {
    content: "-";
    margin-right: 5px; }
  .soul-detail-blog .posts-new .mini-posts {
    border-bottom: 1px #F1F1F1 solid;
    padding-bottom: 20px;
    margin-top: 20px; }
.soul-detail-blog .detail-right {
  padding-left: 55px; }
  .soul-detail-blog .detail-right p {
    margin-bottom: 30px;
    font-size: 16px; }
  .soul-detail-blog .detail-right h4 {
    margin: 40px 0 25px;
    font-weight: 600; }
  .soul-detail-blog .detail-right .header-img {
    padding-bottom: 30px; }

/*======================page Contact===================== */
.img-head {
  max-width: 100%;
  height: 550px;
  border-radius: 2px;
  padding: 40px; }

.head-contact {
  position: relative;
  background: #F5F7FB; }
  .head-contact h1 {
    font-size: 72px;
    font-weight: 800; }
  .head-contact h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px; }
  .head-contact .pattern {
    position: absolute;
    left: 0;
    bottom: 10%; }
  .head-contact .row {
    align-items: center; }

.contacts footer {
  border-top: 1px #D9D9D9 solid; }

.lien-he-takas {
  padding-bottom: 70px; }
  .lien-he-takas .box-shadow {
    height: 100%;
    text-align: center;
    padding: 25px;
    border: inherit !important; }
    .lien-he-takas .box-shadow .btn-common, .lien-he-takas .box-shadow .btn-common-secon {
      float: right;
      margin-bottom: 25px; }
      .lien-he-takas .box-shadow .btn-common img, .lien-he-takas .box-shadow .btn-common-secon img {
        margin-left: 10px; }
    .lien-he-takas .box-shadow .thumnaisl-avatar img {
      border-radius: 2px; }
    .lien-he-takas .box-shadow .box-text {
      text-align: center;
      margin-top: 40px;
      padding: 0 10px; }
      .lien-he-takas .box-shadow .box-text h4 {
        margin-bottom: 30px;
        font-weight: 600; }
      .lien-he-takas .box-shadow .box-text .address {
        margin-bottom: 10px;
        text-align: center;
        font-weight: 400;
        line-height: 1.6; }
      .lien-he-takas .box-shadow .box-text .numbers {
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 600;
        line-height: initial;
        text-align: center; }
      .lien-he-takas .box-shadow .box-text p {
        text-align: center;
        margin-bottom: 10px; }
      .lien-he-takas .box-shadow .box-text .gmail {
        display: flex;
        justify-content: center;
        align-items: center; }
        .lien-he-takas .box-shadow .box-text .gmail img {
          width: 20px;
          height: 20px; }
        .lien-he-takas .box-shadow .box-text .gmail p {
          font-size: 16px;
          margin-bottom: 0;
          margin-left: 10px; }
    .lien-he-takas .box-shadow .show-add-address .form-group {
      margin-bottom: 28px; }
    .lien-he-takas .box-shadow .show-add-address input {
      background-color: #F7F9FC;
      height: 48px;
      border-radius: 2px;
      border: 1px solid #D3D3D3; }
  .lien-he-takas .form-takas {
    padding: 55px 45px 30px; }
  .lien-he-takas .form-takas h3 {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600; }
  .lien-he-takas .form-takas p {
    margin-bottom: 55px;
    line-height: 1.4;
    text-align: center; }
  .lien-he-takas .form-takas input,
  .lien-he-takas .form-takas textarea {
    border-radius: 2px;
    border: 1px solid #D3D3D3;
    height: 100px;
    padding: 10px;
    background-color: #F7F9FC;
    width: 100%; }
    .lien-he-takas .form-takas input::placeholder,
    .lien-he-takas .form-takas textarea::placeholder {
      color: #58595B;
      font-size: 14px; }

/*======================page 404===================== */
.page-404 {
  padding-bottom: 70px;
  text-align: center; }
  .page-404 .soul-404 img {
    max-width: 100%;
    height: 300px; }
  .page-404 .soul-404 .box-text {
    margin: 60px 0 30px 0; }
  .page-404 .text-404 {
    line-height: 1;
    margin-top: 20px;
    font-size: 130px;
    font-weight: 400;
    text-align: center; }
  .page-404 h5 {
    margin-top: 10px;
    font-weight: 400; }
  .page-404 .btn-common, .page-404 .btn-common-secon {
    margin: 0 auto; }

.head-page-search {
  position: relative; }
  .head-page-search h1 {
    font-size: 72px;
    font-weight: 800; }
  .head-page-search h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 20px; }
  .head-page-search .row {
    align-items: center; }
  .head-page-search .pattern {
    position: absolute;
    left: 0;
    bottom: 10%; }

.head-page-search {
  background-color: #F5F7FB; }

.ket-qua-search {
  padding-bottom: 70px; }
  .ket-qua-search p {
    color: #F4C522;
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 15px; }
  .ket-qua-search .box-text {
    text-align: justify;
    margin-top: 25px;
    border-bottom: 1px #F1F1F1 solid;
    padding-bottom: 20px; }
    .ket-qua-search .box-text h5 {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-weight: 600;
      margin-bottom: 5px; }
    .ket-qua-search .box-text span {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-weight: 400;
      font-size: 16px;
      line-height: 32px; }

.thank-you-page footer {
  border-top: 1px #D9D9D9 solid; }

.ss-thanks-you {
  padding-bottom: 70px; }
  .ss-thanks-you .btn-common, .ss-thanks-you .btn-common-secon {
    margin: 0 auto; }
  .ss-thanks-you .thanks-you {
    text-align: center; }
    .ss-thanks-you .thanks-you .box-text {
      margin: 60px 0 30px 0; }
      .ss-thanks-you .thanks-you .box-text .title-thanks {
        text-align: center;
        margin-bottom: 15px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px; }
      .ss-thanks-you .thanks-you .box-text p {
        margin: 0 120px;
        text-align: center; }
    .ss-thanks-you .thanks-you img {
      max-width: 100%;
      height: 300px; }

.chinh-sach-bao-mat {
  background: #F5F7FB; }
  .chinh-sach-bao-mat h1 {
    font-size: 72px;
    font-weight: 800; }
  .chinh-sach-bao-mat .row {
    align-items: center; }
  .chinh-sach-bao-mat .box-text h3 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400; }

.soul-privacy-policy {
  padding-bottom: 70px; }
  .soul-privacy-policy .soul-policy p {
    margin-bottom: 20px;
    line-height: 2; }
  .soul-privacy-policy .soul-policy h3 {
    font-weight: 600;
    line-height: 1.4; }
  .soul-privacy-policy .soul-policy .header-img {
    margin: 5px 0 35px; }

/*-------------------------------------------------------- Search-------------------------------------------------*/
.search-head i {
  color: #474647;
  font-weight: 600; }
  .search-head i::before {
    font-size: 15px;
    content: "\e610"; }
.search-head button {
  border: 0;
  background: none; }

button:focus {
  outline: 0; }

.menu-mobile {
  display: none; }

/*-------------------------------------------------------- head menu -------------------------------------------------*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 30px;
  background: #F5F7FB;
  z-index: 9;
  position: fixed; }

.content-head {
  justify-content: center;
  align-items: center;
  display: flex; }
  .content-head .ngonngu {
    position: relative;
    margin: 0 30px 0 30px;
    display: inline-flex;
    align-items: center; }
    .content-head .ngonngu a {
      font-size: 13px;
      display: flex;
      align-items: center;
      padding-left: 0;
      white-space: normal;
      padding-right: 0; }
      .content-head .ngonngu a:hover {
        color: initial; }
      .content-head .ngonngu a span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 5px;
        cursor: pointer;
        font-size: 14px;
        line-height: 17px; }
    .content-head .ngonngu img {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      margin-right: 5px; }
    .content-head .ngonngu:hover .dropdown-menu {
      display: block !important;
      top: 20px;
      right: 0; }
    .content-head .ngonngu .dropdown {
      margin-top: 5px; }
      .content-head .ngonngu .dropdown .dropdown-menu {
        border: 0;
        right: 0;
        left: -100px;
        width: 100%;
        top: -1px;
        min-width: 134px !important;
        background: none; }
        .content-head .ngonngu .dropdown .dropdown-menu a {
          background: white !important;
          padding: 15px;
          margin: 25px 0 0 0;
          border-radius: 2px;
          border: 1px solid #F1F1F1; }
        .content-head .ngonngu .dropdown .dropdown-menu .dropdown-item {
          color: #474647;
          font-size: 14px;
          text-transform: none;
          font-weight: normal;
          padding-bottom: 15px;
          margin-bottom: 15px; }
          .content-head .ngonngu .dropdown .dropdown-menu .dropdown-item img {
            height: 20px;
            margin-right: 5px; }
          .content-head .ngonngu .dropdown .dropdown-menu .dropdown-item:hover {
            background-color: transparent; }
    .content-head .ngonngu button {
      background: none;
      border: 0;
      color: #c4c4c4;
      font-size: 15px;
      margin-left: 5px; }

.content-head .ngonngu .dropdown .dropdown-menu .dropdown-item {
  color: #474647;
  text-transform: none;
  font-weight: normal;
  padding-bottom: 15px;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 0; }

.bg-gray {
  background: #F5F7FB; }

.top-head {
  align-items: center;
  margin-left: 30px;
  display: flex; }
  .top-head .btn-common-boder, .top-head .btn-common, .top-head .btn-common-secon {
    margin: 0 0 0 15px; }

.banner-pagedetail {
  z-index: 1; }
  .banner-pagedetail .btn-common i, .banner-pagedetail .btn-common-secon i {
    margin-left: 8px;
    font-size: 12px; }

.logo {
  margin-right: 60px; }
  .logo img {
    height: 30px; }

.header-slide-home {
  height: 100%;
  min-height: 800px;
  display: flex !important;
  align-items: center;
  overflow: hidden; }
  .header-slide-home .container {
    position: relative;
    z-index: 9; }
  .header-slide-home canvas {
    position: absolute;
    bottom: -150px;
    left: 0; }

canvas {
  display: block; }

#particles-js {
  width: 100%;
  height: 100%;
  background: #F5F7FB;
  position: relative; }

.menu nav > ul {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  align-items: center; }

.menu nav ul > li > a::before {
  content: "\e64b";
  display: inline-block;
  font-family: 'themify';
  font-size: 10px;
  font-weight: 100;
  position: absolute;
  right: 0;
  top: 6px;
  color: #454545;
  opacity: 0.5; }

.menu {
  position: relative;
  z-index: 1; }
  .menu nav ul {
    padding: 0; }
    .menu nav ul li {
      position: relative;
      list-style: none;
      padding: 5px; }
      .menu nav ul li i {
        display: none; }
      .menu nav ul li a {
        padding: 0 20px;
        font-weight: 500;
        font-size: 15px;
        line-height: 24px; }
        .menu nav ul li a:active {
          color: #F4C522; }
      .menu nav ul li ul {
        position: absolute;
        top: 23px;
        width: 300px;
        left: 0;
        opacity: 0;
        visibility: hidden;
        border-radius: 2px;
        padding: 0 8px;
        padding-top: 25px;
        background: none;
        box-shadow: none;
        border: 0; }
        .menu nav ul li ul li {
          background: white;
          padding: 0px 20px;
          transition: all 0.3s linear;
          border-right: 1px solid #F1F1F1;
          border-left: 1px solid #F1F1F1; }
          .menu nav ul li ul li:nth-child(1) {
            padding-top: 20px;
            border-top: 1px solid #F1F1F1; }
          .menu nav ul li ul li:nth-last-child(1) {
            padding-bottom: 20px;
            border-bottom: 1px solid #F1F1F1; }
          .menu nav ul li ul li a {
            display: inline-block;
            width: 100%;
            font-weight: 500;
            padding: 8px 10px;
            font-size: 14px; }
            .menu nav ul li ul li a::before {
              display: none; }
            .menu nav ul li ul li a:hover {
              color: #F4C522; }
      .menu nav ul li:hover ul {
        opacity: 1;
        visibility: initial; }
      .menu nav ul li.active a {
        color: #F4C522; }
      .menu nav ul li.active ul li a {
        color: #474647; }
        .menu nav ul li.active ul li a:hover, .menu nav ul li.active ul li a.active {
          color: #F4C522 !important; }

/* -------Sticky menu srcoll----- */
.menu-scroll {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
  position: fixed;
  left: 0;
  top: 0;
  background: white !important;
  z-index: 1024; }
  .menu-scroll nav {
    padding: 0 !important; }

.no-sub a::after, .no-sub a::before {
  display: none !important; }

.search-head {
  background: white;
  display: none;
  width: 100%;
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
  transition: 0.5s;
  box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.03);
  border: 1px solid #F1F1F1; }
  .search-head:hover {
    border: 1px solid #F4C522; }
  .search-head .container {
    max-width: 600px;
    position: relative; }
  .search-head .ti-close:before {
    content: "\e646" !important; }
  .search-head i {
    position: absolute;
    right: 0;
    top: 5px;
    cursor: pointer;
    color: #969797;
    padding: 10px;
    border-radius: 0 2px 2px 0;
    font-weight: 400; }

.btn-search-mb {
  display: block;
  cursor: pointer; }
  .btn-search-mb .ti-search {
    color: #959FAB; }
    .btn-search-mb .ti-search::before {
      font-weight: 600;
      content: "\e610";
      font-size: 15px; }

.top-head.show-search-mb .search-head {
  display: block;
  z-index: 2; }
  .top-head.show-search-mb .search-head i {
    border-radius: 0; }
.top-head.show-search-mb .close-search {
  display: block; }
.top-head.show-search-mb input {
  border: 0;
  border-radius: 2px; }
  .top-head.show-search-mb input::placeholder {
    color: #969797;
    font-size: 14px; }
.top-head.show-search-mb .top-head {
  position: absolute;
  top: 15px;
  width: 100%;
  left: 0; }

/* banner head - banner-head */
.banner-head {
  display: flex;
  align-items: center;
  width: 100%;
  background-size: cover !important;
  overflow: hidden;
  height: 880px;
  padding-top: 0;
  /*--scrolll--*/ }
  .banner-head .content-bannerhead .infor-banner {
    width: 50%; }
    .banner-head .content-bannerhead .infor-banner h1 {
      font-weight: 600;
      line-height: 1.13;
      color: #474647; }
    .banner-head .content-bannerhead .infor-banner p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 1.75;
      color: #474647;
      padding-right: 0; }
  .banner-head .content-bannerhead .imgs-banner {
    width: 50%; }
    .banner-head .content-bannerhead .imgs-banner img {
      height: 600px; }
@-webkit-keyframes mouse-scroll {
  0% {
    top: 10%;
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    top: 70%;
    opacity: 0; } }
@-moz-keyframes mouse-scroll {
  0% {
    top: 10%;
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    top: 70%;
    opacity: 0; } }
@-o-keyframes mouse-scroll {
  0% {
    top: 10%;
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    top: 70%;
    opacity: 0; } }
@keyframes mouse-scroll {
  0% {
    top: 10%;
    opacity: 1; }
  80% {
    opacity: 1; }
  100% {
    top: 70%;
    opacity: 0; } }
  .banner-head .scroll-msg-container {
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 30px; }
  .banner-head .scroll-msg-inner {
    width: 30px;
    height: 50px;
    border-radius: 34px;
    border: 2px solid #C2C2C2; }
  .banner-head .scroll-msg-wheel {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 3px;
    height: 13px;
    margin-left: -1px;
    border-radius: 2px;
    background-color: #C2C2C2;
    -webkit-animation: mouse-scroll 0.9s infinite;
    -moz-animation: mouse-scroll 0.9s infinite;
    -o-animation: mouse-scroll 0.9s infinite;
    animation: mouse-scroll 0.9s infinite; }
  .banner-head .circle-animation {
    position: absolute;
    right: 0;
    top: -50px; }
    .banner-head .circle-animation .data-green {
      position: relative;
      z-index: 9;
      margin: auto;
      margin-left: 12px; }

.logo-content-home {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap; }
  .logo-content-home img {
    height: 80px;
    margin: 10px 20px;
    opacity: .7;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
    .logo-content-home img:hover {
      opacity: 1;
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%); }

/* video-takas */
.video-takas .content-video {
  background-size: cover !important;
  height: 100%;
  display: flex;
  align-items: center; }
  .video-takas .content-video .info-video {
    width: 30%;
    padding: 0 40px; }
    .video-takas .content-video .info-video p {
      font-size: 16px;
      line-height: 33px;
      margin-bottom: 30px;
      display: -webkit-box;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;
      overflow: hidden; }
  .video-takas .content-video .videos {
    width: 70%;
    height: 461px; }
    .video-takas .content-video .videos .video-cans {
      display: inline-block;
      width: 100%;
      position: relative;
      background-size: cover !important;
      height: 461px;
      cursor: pointer; }
      .video-takas .content-video .videos .video-cans img {
        width: 100%; }
    .video-takas .content-video .videos .close-bg-video {
      position: absolute;
      right: -50px;
      top: -10px;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      text-align: center;
      font-weight: normal;
      border: 0;
      font-size: 20px;
      outline: none;
      z-index: 9999999;
      background-color: white; }
    .video-takas .content-video .videos .current_page_item a {
      color: #F4C522; }
    .video-takas .content-video .videos .overlay {
      width: 100%;
      margin: 0 auto;
      height: 461px;
      display: none; }
      .video-takas .content-video .videos .overlay._active {
        display: block; }
        .video-takas .content-video .videos .overlay._active iframe {
          width: 100%;
          height: 461px; }

.col-infor-tab h3 {
  padding-right: 0; }

.tabs-nav-item {
  display: flex;
  justify-content: center;
  overflow-x: auto; }

.soul-detail-blog {
  padding-top: 0; }

/* product-takas */
.tabs-info .nav {
  padding-bottom: 0;
  margin-bottom: 0;
  overflow-x: auto;
  height: auto;
  white-space: nowrap;
  width: max-content;
  /* border-bottom: 1px solid #E5E5E5; */
  flex-wrap: nowrap; }
.tabs-info .nav-tabs .nav-link {
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600; }
.tabs-info .nav-tabs .nav-item.show .nav-link,
.tabs-info .nav-tabs .nav-link.active {
  font-weight: 600;
  color: #F4C522;
  background-color: transparent;
  border-bottom: 2px solid #F4C522;
  text-transform: uppercase;
  text-align: center; }
.tabs-info .tab-content .btn-common, .tabs-info .tab-content .btn-common-secon {
  padding: 15px 25px; }
.tabs-info .tab-content .col-infor-tab {
  transform: translateY(20%); }
  .tabs-info .tab-content .col-infor-tab h3 {
    max-width: 80%;
    font-weight: 600;
    line-height: 1.38;
    margin-bottom: 16px; }
  .tabs-info .tab-content .col-infor-tab p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 30px;
    text-align: justify; }
.tabs-info .tab-pane .col-md-7 img {
  width: 100%; }

.ss-thanks-you .thanks-you {
  margin-top: 30px; }

.soul-404 {
  margin-top: 50px; }

/* services-takas */
.services-takas .item-services {
  display: inline-block;
  width: 100%;
  padding: 30px;
  text-align: left;
  transition: all .2s ease-in-out;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
  border-radius: 2px; }
  .services-takas .item-services h4 {
    display: inline-block;
    width: 100%;
    margin: 30px 0 10px 0; }
    .services-takas .item-services h4 a {
      font-weight: 600;
      line-height: 26px;
      text-align: left;
      text-decoration: none;
      color: #474647; }
  .services-takas .item-services p {
    font-size: 14px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 130px; }
  .services-takas .item-services:hover {
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.07); }
    .services-takas .item-services:hover h3 a {
      color: #F4C522; }
  .services-takas .item-services img {
    height: 159px; }

/* uudiem-takas */
.uudiem-takas {
  background-color: #F5F7FB; }
  .uudiem-takas .item-solution {
    text-align: center;
    background: transparent;
    padding: 30px;
    transition: all .2s ease-in-out;
    margin-bottom: 30px;
    border: 1px solid transparent;
    border-radius: 2px; }
    .uudiem-takas .item-solution:hover {
      background: white !important; }
    .uudiem-takas .item-solution a {
      text-decoration: none;
      display: inline-block;
      width: 100%;
      height: 100%; }
      .uudiem-takas .item-solution a img {
        height: 60px; }
    .uudiem-takas .item-solution p {
      font-size: 14px;
      line-height: 26px;
      text-align: center;
      margin-top: 20px;
      margin-bottom: 0;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .uudiem-takas .item-solution:hover {
      border: 1px solid #474647;
      border-radius: 2px;
      background: transparent; }
      .uudiem-takas .item-solution:hover p {
        color: #474647 !important; }

/* customer-takas */
.customer-takas {
  padding-bottom: 0; }
  .customer-takas .container {
    border-bottom: 1px solid #F1F1F1;
    padding-bottom: 40px; }

/* tintuc-sukien */
.tintuc .items-news {
  display: flex;
  align-items: center;
  margin-bottom: 50px; }
  .tintuc .items-news .info-news h4 {
    margin-bottom: 10px; }
    .tintuc .items-news .info-news h4 a {
      font-weight: 600;
      color: #474647;
      line-height: 28px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 18px; }
  .tintuc .items-news .info-news a {
    font-weight: 600;
    font-size: 13px;
    line-height: 28px;
    color: #7A8287; }
    .tintuc .items-news .info-news a span {
      font-weight: 400;
      font-size: 13px;
      line-height: 28px;
      color: #7A8287; }
  .tintuc .items-news .info-news p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 400;
    color: #7A8287; }
  .tintuc .items-news .thumnaisl-avatar a {
    padding-top: 66%; }
.tintuc .info-newsright {
  align-items: flex-start;
  display: flex;
  margin-bottom: 15px; }
  .tintuc .info-newsright .stt-news {
    font-weight: 500;
    font-size: 38px;
    color: #F4C522;
    margin-top: 15px; }
  .tintuc .info-newsright .title-news-right {
    margin-left: 25px; }
    .tintuc .info-newsright .title-news-right h5 {
      font-weight: 600;
      color: #474647;
      line-height: 28px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 0; }
      .tintuc .info-newsright .title-news-right h5 a {
        font-weight: 600;
        color: #474647;
        line-height: 28px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 18px; }
    .tintuc .info-newsright .title-news-right a {
      font-weight: 600;
      font-size: 13px;
      line-height: 28px;
      color: #7A8287; }
      .tintuc .info-newsright .title-news-right a span {
        font-weight: 400;
        font-size: 13px;
        line-height: 28px;
        color: #7A8287; }
.tintuc .btn-common, .tintuc .btn-common-secon {
  margin: 0 auto;
  width: fit-content;
  display: flex; }

.about-us .content-bannerhead .infor-banner p {
  text-align: center; }

.about-us .content-bannerhead .btn-common, .about-us .content-bannerhead .btn-common-secon {
  margin: 0 auto; }

/* contact-takas  */
.contact-takas {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  display: inline-block;
  overflow: hidden;
  padding-bottom: 70px; }
  .contact-takas .item-contact {
    background: white;
    text-align: center;
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    padding: 15px 30px;
    transition: .3s ease-in-out; }
    .contact-takas .item-contact:hover {
      transform: scale(1.014);
      transition: .3s ease-in-out; }
    .contact-takas .item-contact p {
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 0;
      margin-top: 5px; }
    .contact-takas .item-contact .btn-contact {
      background: transparent;
      margin: 0 auto;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px; }
      .contact-takas .item-contact .btn-contact i {
        color: #474647;
        font-weight: 400;
        font-size: 12px; }
    .contact-takas .item-contact img {
      height: 50px; }
  .contact-takas .bg-customer {
    background: #F4C522; }
  .contact-takas p {
    text-align: center; }

/* footer */
footer {
  overflow: hidden;
  padding-bottom: 0;
  background-color: white;
  color: #969797;
  float: left;
  width: 100%;
  padding-bottom: 0;
  color: #485056; }
  footer .logo-footer {
    max-width: 162px;
    margin-bottom: 20px; }
  footer .main-footer {
    padding: 35px 0 10px 0; }
    footer .main-footer .social {
      display: flex;
      align-items: center; }
      footer .main-footer .social a {
        margin-right: 15px; }
    footer .main-footer .info-footer p {
      color: #474647;
      font-weight: 600;
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 10px;
      margin-top: 0px; }
    footer .main-footer .info-footer .title-ft {
      font-weight: 600;
      font-size: 16px;
      line-height: 31px;
      color: #485056; }
    footer .main-footer .info-footer ul li {
      margin: 10px 0; }
      footer .main-footer .info-footer ul li a {
        font-weight: 400;
        font-size: 13px;
        line-height: 29px;
        color: #485056; }
        footer .main-footer .info-footer ul li a:hover {
          color: #F4C522; }
    footer .main-footer .info-footer .number-info {
      font-size: 13px;
      line-height: 29px;
      color: #485056;
      font-weight: normal;
      text-transform: initial;
      margin-bottom: 10px; }
      footer .main-footer .info-footer .number-info span {
        font-weight: 600;
        font-size: 13px;
        line-height: 29px;
        color: #485056; }
    footer .main-footer .info-footer .detail-info {
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
      footer .main-footer .info-footer .detail-info a {
        display: flex;
        align-items: center;
        color: #F4C522;
        font-weight: 600;
        font-size: 16px;
        margin-right: 20px; }
        footer .main-footer .info-footer .detail-info a img {
          margin-right: 5px;
          height: 20px; }
    footer .main-footer .info-footer .locations {
      display: flex;
      align-items: center;
      margin-bottom: 10px; }
      footer .main-footer .info-footer .locations p {
        text-transform: initial;
        font-weight: 400;
        font-size: 13px;
        line-height: 21px;
        color: #485056;
        margin-bottom: 0;
        margin-top: 0;
        padding-left: 12px; }
      footer .main-footer .info-footer .locations img {
        margin-right: 5px;
        height: 20px; }

/* modal */
.modal .modal-title {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 100%;
  position: relative; }
.modal .modal-dialog {
  max-width: 700px;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }
.modal .modal-header {
  border-bottom: 0;
  padding: 0; }
.modal .modal-content {
  border: 0;
  border-radius: 6px;
  padding: 25px; }
.modal .title-order-details {
  text-align: center; }
.modal textarea {
  height: 80px; }
.modal .head-order-detail {
  margin: 0; }
.modal .close {
  z-index: 999;
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1;
  color: #fff;
  text-shadow: none;
  opacity: 1;
  background: #F4C522;
  padding: 7px 10px !important;
  border-radius: 50%;
  width: 30px;
  height: 30px; }
.modal .close:not(:disabled):not(.disabled):focus,
.modal .close:not(:disabled):not(.disabled):hover {
  opacity: 1; }

#popup-contacts .modal-body {
  padding: 0; }
#popup-contacts .modal-content {
  margin: auto;
  background-color: transparent;
  width: 100%;
  background: url(../images/contact-bg.png) no-repeat center;
  display: inline-block;
  background-size: cover; }

.contact-section {
  text-align: center;
  padding: 30px 0; }
  .contact-section input {
    height: 48px;
    border: 1px solid #474647;
    padding: 5px 15px;
    font-size: 14px; }
    .contact-section input::placeholder {
      color: #6E7A8A;
      font-size: 13px; }
  .contact-section textarea {
    height: 48px;
    border: 1px solid #474647;
    padding: 15px 15px 5px 15px;
    font-size: 14px;
    height: 80px;
    color: #474647; }
    .contact-section textarea::placeholder {
      color: #6E7A8A;
      font-size: 13px; }
  .contact-section .form-contact {
    max-width: 600px;
    margin: auto; }
    .contact-section .form-contact .button-submitform {
      float: right; }
  .contact-section .title-section h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 39px; }
  .contact-section .title-section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding: 0;
    margin-bottom: 30px; }
  .contact-section .form-control {
    color: #474647; }
  .contact-section .form-group {
    margin-bottom: 30px; }

/* head-pagedetail */
.head-pagedetail {
  display: block;
  padding: 30px 0;
  height: 700px; }
  .head-pagedetail .content-bannerhead .content-info-banner {
    position: initial;
    top: 0; }

.bg-headdetail {
  padding: 30px 0;
  height: 700px; }
  .bg-headdetail .content-bannerhead {
    margin: 50px 0; }
    .bg-headdetail .content-bannerhead .content-info-banner {
      position: initial;
      top: 0; }

/* blogs */
.bg-tabnews .list-news {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
  justify-content: center;
  display: flex;
  padding: 20px 0 0 0; }
.bg-tabnews .nav-tabs-box {
  display: flex;
  justify-content: center;
  overflow-x: auto; }
.bg-tabnews .nav {
  padding-bottom: 0;
  margin-bottom: 0;
  overflow-x: auto;
  height: auto;
  white-space: nowrap;
  width: max-content;
  border-bottom: 1px solid #E5E5E5;
  flex-wrap: nowrap; }
.bg-tabnews .nav-tabs {
  border-bottom: 0; }
.bg-tabnews .nav-tabs .nav-link {
  padding: 0 10px 20px 10px;
  color: #474647;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  background-color: transparent;
  border-color: unset;
  border: 0; }
.bg-tabnews .nav-tabs .nav-item.show .nav-link,
.bg-tabnews .nav-tabs .nav-link.active {
  color: #F4C522;
  border-bottom: 2px solid #F4C522;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px; }
.bg-tabnews .nav-tabs .nav-item {
  margin: 0 20px; }

.news {
  padding-top: 0; }
  .news .box-news {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px; }
    .news .box-news .infor-news {
      display: inline-block;
      width: 100%; }
      .news .box-news .infor-news .content-title-news {
        margin-top: 25px; }
        .news .box-news .infor-news .content-title-news .title-news {
          font-weight: 600;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          line-height: 40px; }
  .news .item-news-right {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px; }
    .news .item-news-right .content-title-news a {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-height: 30px;
      font-weight: 600; }
    .news .item-news-right .thumnaisl-avatar a {
      padding-top: 56%; }
    .news .item-news-right .row {
      align-items: center; }
      .news .item-news-right .row .col-md-7 {
        padding-left: 30px; }
      .news .item-news-right .row .col-md-5 {
        padding-left: 0; }

.listnews .box-news {
  display: inline-block;
  width: 100%; }
  .listnews .box-news .content-title-news {
    margin-top: 15px; }
    .listnews .box-news .content-title-news a {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-weight: 500;
      font-size: 16px;
      line-height: 30px; }

.listnews-full .item-news-right {
  display: inline-block;
  width: 100%;
  margin-bottom: 30px; }
  .listnews-full .item-news-right .row {
    align-items: center; }
    .listnews-full .item-news-right .row .content-title-news a {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-weight: 600;
      line-height: 28px; }
    .listnews-full .item-news-right .row .time-date-comment {
      font-weight: 400;
      font-size: 13px;
      line-height: 28px;
      color: #8C8C8C; }

/* phan trang */
.pagging-page {
  width: 100%; }
  .pagging-page .pagination {
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; }
  .pagging-page ul li a,
  .pagging-page ul li span {
    width: 32px;
    height: 32px;
    margin: 0 10px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: #474647;
    padding: 5px; }
    .pagging-page ul li a.active,
    .pagging-page ul li span.active {
      border: 1px solid #F4C522 !important;
      color: #F4C522;
      background-color: white;
      padding-top: 5px; }
  .pagging-page ul li:hover a {
    color: #F4C522; }

.main-footer .col-md-3:last-child(1) img {
  max-height: 100px; }

/* ========update css ======== */
.search-head input {
  height: 55px; }
.search-head i {
  top: 10px; }

.news .item-news-right .content-title-news a {
  -webkit-line-clamp: 3; }

.listnews .box-news .content-title-news a {
  -webkit-line-clamp: 3; }

.menu nav ul li ul li:nth-child(1) {
  padding-top: 10px;
  border: 0; }

.menu nav ul li ul li {
  border: 0; }

.menu nav ul li ul li:nth-last-child(1) {
  padding-bottom: 10px;
  border: 0; }

.big-box-du-an .box-shadow .box-text h4 {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box; }

.chung-toi .soul-chung-toi .box-product h4 {
  max-width: 80%;
  line-height: inherit;
  margin: 0 auto; }

.quy-trinh .soul-quy-trinh .box-text h4 {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box; }

.title-section p {
  -webkit-line-clamp: inherit; }

.title-gold {
  font-size: 70px; }

.du-an-ht h4 {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box; }

.du-an-ht .info-news p {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box; }

.du-an-ht .info-news {
  min-height: 205px; }

.title-section h2 a {
  cursor: unset; }

.doanh-nghiep .box-doi-tac .dt-doanh-nghiep .title-section h3 a {
  cursor: unset; }

.action-btn {
  display: block;
  bottom: 100px;
  position: fixed;
  right: 30px;
  z-index: 999; }

.tuvan-btn-sticky {
  display: none !important; }

.coccoc-alo-ph-circle {
  width: 70px;
  height: 70px;
  top: 55px;
  left: 55px;
  position: absolute;
  background-color: transparent;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid #F4C522;
  opacity: .1;
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.coccoc-alo-phone {
  background-color: transparent;
  width: 90px;
  height: 90px;
  margin-right: 30px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility .5s;
  -moz-transition: visibility .5s;
  -o-transition: visibility .5s;
  transition: visibility .5s;
  right: 150px;
  top: 30px; }

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
  background-color: #F4C522;
  opacity: .75 !important; }

.coccoc-alo-ph-circle-fill {
  width: 60px;
  height: 60px;
  top: 60px;
  left: 60px;
  position: absolute;
  background-color: #000;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .1;
  -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

.img-zalo .coccoc-alo-ph-img-circle {
  background: #F4C522 url(../images/iconzalo.svg) no-repeat center center; }

.img-mess .coccoc-alo-ph-img-circle {
  background: #F4C522 url(../images/iconmess.svg) no-repeat center center; }

.coccoc-alo-ph-img-circle {
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
  top: 70px;
  left: 70px;
  position: absolute;
  background: #F4C522 url(../images/tuvan-mb.svg) no-repeat center center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out; }

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
  background-color: #F4C522; }

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
  border-color: #F4C522;
  opacity: .5; }

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
  border-color: #F4C522;
  opacity: .5; }

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
  background-color: #F4C522;
  opacity: .75 !important; }

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
  background-color: #F4C522; }

@-moz-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }
@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }
@-o-keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }
@keyframes coccoc-alo-circle-anim {
  0% {
    transform: rotate(0) scale(0.5) skew(1deg);
    opacity: 0.1; }
  30% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.5; }
  100% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.1; } }
@-moz-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@-o-keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@keyframes coccoc-alo-circle-fill-anim {
  0% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2; }
  100% {
    transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2; } }
@-moz-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }
@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }
@-o-keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }
@keyframes coccoc-alo-circle-img-anim {
  0% {
    transform: rotate(0) scale(1) skew(1deg); }
  10% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  20% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  30% {
    transform: rotate(-25deg) scale(1) skew(1deg); }
  40% {
    transform: rotate(25deg) scale(1) skew(1deg); }
  50% {
    transform: rotate(0) scale(1) skew(1deg); }
  100% {
    transform: rotate(0) scale(1) skew(1deg); } }
#particles-js {
  z-index: -1; }

.action-btn {
  z-index: 12 !important; }

.uudiem-takas .item-solution a {
  cursor: unset; }

.services-takas .item-services h4 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box; }

.menu nav ul li:hover ul {
  border: 1px solid #F1F1F1;
  margin: 0 8px;
  padding: 0;
  top: 30px; }

.bang-gia .box-grow .btn-common:hover, .bang-gia .box-grow .btn-common-secon:hover, .bang-gia .box-grow .btn-common-secon:hover {
  opacity: 0.7; }

.soul-detail-blog .soul-posts li a:hover {
  cursor: unset;
  color: inherit; }

.about-us .content-bannerhead .infor-banner p {
  margin: 20px auto 20px auto !important; }

.top-head {
  z-index: 12; }

/* ================= update css ======================= */
.doanh-nghiep .img-slider p {
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 950px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 34px;
  font-weight: 400;
  font-size: 20px; }

.doanh-nghiep .img-slider .box-information .slider-infor .name-info {
  display: -webkit-box;
  -webkit-line-clamp: inherit;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  opacity: .7;
  margin-bottom: 0;
  line-height: 24px; }

.doanh-nghiep .img-slider .box-information .slider-infor h5 {
  line-height: 24px; }

.quy-trinh .soul-quy-trinh .box-text h4 {
  -webkit-line-clamp: 2; }

.quy-trinh .soul-quy-trinh .box-text {
  min-height: 250px; }

.quy-trinh .soul-quy-trinh .line-step {
  height: 313px; }

.quy-trinh .soul-quy-trinh .box-text p {
  -webkit-line-clamp: 5; }

.doanh-nghiep .img-slider .box-information .slider-infor h5 {
  line-height: 20px; }

.menu ul#main-primary li ul.sub-menu {
  border: 1px solid #F1F1F1 !important;
  margin: 0 8px !important;
  padding: 0 !important;
  top: 30px !important; }

.sang-tao .big-box-percent .box-percent p {
  font-weight: 300; }

.chung-toi .soul-chung-toi .box-product h4 {
  max-width: 100%;
  line-height: inherit;
  margin: 0 auto;
  font-weight: 400;
  font-size: 16px; }

.quy-trinh .soul-quy-trinh .box-text h4 {
  -webkit-line-clamp: 2; }

.lien-he-takas .box-shadow .box-text .numbers a {
  color: #f5c621; }

.menu ul#main-primary li ul.sub-menu li a {
  font-size: 15px; }

@media only screen and (max-width: 1366px) {
  header nav {
    top: 63px !important; }

  .menu ul#main-primary li ul.sub-menu {
    transition: unset;
    top: 0 !important;
    background: #F5F7FB;
    margin: 15px 0 0 0 !important;
    border-radius: 0; }

  .menu ul#main-primary li ul.sub-menu li a {
    padding: 8px 15px; }

  header nav ul li:hover ul li {
    padding: 0 !important;
    background: none; } }
@media only screen and (max-width: 1110px) {
  .show-menu nav {
    top: 45px !important; }

  .chung-toi .soul-chung-toi .box-product h4 {
    max-width: 70%; }

  .doanh-nghiep .img-slider p {
    max-width: 800px; }

  .quy-trinh .soul-quy-trinh .box-text {
    min-height: 270px; }

  .quy-trinh .soul-quy-trinh .line-step {
    height: 333px; } }
@media only screen and (max-width: 950px) {
  .doanh-nghiep .img-slider p {
    max-width: 550px; }

  .chung-toi .soul-chung-toi .box-product h4 {
    max-width: 100% !important; }

  .quy-trinh .soul-quy-trinh .box-text h4 {
    -webkit-line-clamp: 3 !important; }

  .quy-trinh .soul-quy-trinh .box-text p {
    -webkit-line-clamp: 8; }

  .quy-trinh .soul-quy-trinh .box-text {
    min-height: 333px; }

  .quy-trinh .soul-quy-trinh .line-step {
    height: 396px !important; }

  .header-slide-home .infor-banner h1 {
    padding-top: 30px; }

  .tabs-info .tab-content .col-infor-tab h3 {
    margin: 0 auto 16px auto; }

  .uudiem-takas .row .col-md-3 .item-solution {
    padding: inherit !important; } }
@media only screen and (max-width: 767px) {
  header {
    padding: 10px 20px; }

  header nav {
    top: 45px !important; }

  .tabs-info .tab-content .col-infor-tab h3 {
    max-width: 100%  !important; }

  .doanh-nghiep .img-slider p {
    max-width: 320px;
    -webkit-line-clamp: inherit; }

  .doanh-nghiep .img-slider .box-information .slider-img {
    border-radius: 100%;
    height: 60px;
    width: 60px; }

  .infor-banner h1 {
    max-width: 100% !important;
    margin-top: 20px; }

  .quy-trinh .soul-quy-trinh .box-text {
    padding: 20px !important;
    background: #FFFFFF;
    box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
    border-radius: 2px;
    border: none !important;
    min-height: auto; }

  section.news .bg-tabnews .nav-tabs-box ul#main-news li.current-menu-item {
    font-size: 16px; }

  section.news .bg-tabnews .nav-tabs-box ul#main-news li {
    font-size: 16px;
    padding: 0 15px 20px 15px; }

  section.news .bg-tabnews .nav-tabs-box ul#main-news li {
    margin: 0; } }
header {
  background: transparent; }

.menu nav ul li a {
  text-transform: uppercase;
  padding: 0 15px; }

.menu nav ul li:hover ul {
  top: 50px; }

.menu ul#main-primary li ul.sub-menu {
  top: 50px; }

.uudiem-takas .item-solution:hover a {
  color: inherit; }

.uudiem-takas .item-solution:hover {
  background: transparent !important;
  border: 0; }

.uudiem-takas .item-solution {
  transition: unset;
  border: 0; }

.uudiem-takas .item-solution {
  padding: 15px; }

h1 {
  font-size: 45px;
  text-transform: uppercase;
  line-height: 1.4 !important; }

h2 {
  font-size: 30px;
  text-transform: uppercase; }

.content-head .ngonngu a {
  margin-left: 13px; }
  .content-head .ngonngu a img {
    width: 20px;
    height: 15px;
    border-radius: inherit; }
  .content-head .ngonngu a span {
    display: block; }

.bang-gia .box-grow {
  overflow-y: auto;
  height: 700px; }

.lien-he-takas .box-shadow .box-text .numbers {
  color: #F4C522; }

/*# sourceMappingURL=main-style.css.map */
