@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap');
$brand: #F4C522;
$text: #474647;
$text-alpha: #969797;
$border: #F1F1F1;
$bg-gray: #F5F7FB;
@import 'system';
@import 'hai';

/*-------------------------------------------------------- Search-------------------------------------------------*/
.search-head {
	// position: relative;
	// width: 100%;
	// display: inline-block;
	i {
		color: #474647;
        font-weight: 600;
        // line-height: 50px;
        &::before{
            font-size: 15px;
            content: "\e610";
        }
	}
    button{
        border: 0;
        background: none;
    }
}

button:focus {
	outline: 0;
}
.menu-mobile{
    display: none;
}
/*-------------------------------------------------------- head menu -------------------------------------------------*/
header {
	display: flex;
    align-items: center;
    justify-content: space-between;
	width: 100%;
    padding: 10px 30px;
	background: $bg-gray;
	z-index: 9;
	position: fixed;
	// box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
}
.content-head {
    justify-content: center;
    align-items: center;
    display: flex;
	.ngonngu {
		position: relative;
		margin: 0 30px 0 30px;
		display: inline-flex;
		align-items: center;
		a{
			font-size: 13px;
			display: flex;
			align-items: center;
			padding-left: 0;
			white-space: normal;
			padding-right: 0;
            &:hover{
                color: initial;
            }
			span{
				
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				// width: 115px;
				margin-left: 5px;
				cursor: pointer;
                font-size: 14px;
                line-height: 17px;
			}
		}
      
		img {
			width: 20px;
			height: 20px;
			border-radius: 100%;
			margin-right: 5px;
		}

		&:hover {
			.dropdown-menu {
				display: block !important;
				top: 20px;
				right: 0;
			}
		}

		.dropdown {
			margin-top: 5px;
			.dropdown-menu {
				border: 0;
                right: 0;
                left: -100px;
                width: 100%;
                top: -1px;  
                min-width: 134px !important;
                background: none;
                a{
                    background: white !important;
                    padding: 15px;
                    margin: 25px 0 0 0;
                    border-radius: 2px;
                    border: 1px solid $border;
                }
				.dropdown-item {
					color: $text;
					font-size: 14px;
					text-transform: none;
					font-weight: normal;
					padding-bottom: 15px;
					margin-bottom: 15px;

					img {
						
						height: 20px;
						margin-right: 5px;
					}

					&:hover {
						background-color: transparent;
					}

				}
			}
		}

		button {
			background: none;
			border: 0;
			color: #c4c4c4;
			font-size: 15px;
			margin-left: 5px;
		}
	}
}
.content-head .ngonngu .dropdown .dropdown-menu .dropdown-item {
    color: #474647;
    text-transform: none;
    font-weight: normal;
    padding-bottom: 15px;
    font-size: 14px;
    line-height: 17px;
    // border-bottom: 0;
    margin-bottom: 0;
}
.bg-gray{
    background: $bg-gray;
}
.top-head {
    align-items: center;
    margin-left: 30px;
    display: flex;
    .btn-common-boder, .btn-common{
        margin: 0 0 0 15px;
    }
   
  
}
// .col-infor-tab {
//     padding-right: 0 !important;
// }
.banner-pagedetail{
    z-index: 1;
    .btn-common{
        i{
            margin-left: 8px;
            font-size: 12px;
        }
    }
}
.logo {
    margin-right: 60px;
	img {
		height: 30px;
	}
}
.header-slide-home{
    height: 100%;
    min-height: 800px;
    display: flex !important;
    align-items: center;
    overflow: hidden;
    .container{
        position: relative;
        z-index: 9;
   
    }
    canvas{
        position: absolute;
        bottom: -150px;
        left: 0;
    }
}

canvas {
	display: block;
}
#particles-js{
    width: 100%;
	height: 100%;
    background: $bg-gray;
    position: relative;
}
.menu nav>ul {
	display: flex;
	justify-content: center;
	margin-bottom: 0;
    align-items: center;
}

.menu nav ul>li>a {
	&::before {
		content: "\e64b";
        display: inline-block;
        font-family: 'themify';
        font-size: 10px;
        font-weight: 100;
        position: absolute;
        right: 0;
        top: 6px;
        color: #454545;
        opacity: 0.5;
	}
}

.menu {
	position: relative;
	z-index: 1;
	nav {
		ul {
			padding: 0;

			li {
				position: relative;
				list-style: none;
				 padding: 5px ;				
				i {
					display: none;
				}

				a {
					padding: 0 20px;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 24px;
                    &:active{
                        color: $brand;
                    }
				}

				ul {
					position: absolute;
                    top: 23px;
                    width: 300px;
                    left: 0;
                    opacity: 0;
                    visibility: hidden;
                    border-radius: 2px;
                    padding: 0 8px;
                    padding-top: 25px;
                    background: none;
                    box-shadow: none;
                    border: 0;

					li {
                        background: white;
                        padding: 0px 20px;
                        transition: all 0.3s linear;
                        border-right: 1px solid $border;
                        border-left: 1px solid $border;
                        &:nth-child(1){
                            padding-top: 20px;
                            border-top: 1px solid $border;
                        }
                        &:nth-last-child(1){
                            padding-bottom: 20px;
                            border-bottom: 1px solid $border;
                        }
						a {
							display: inline-block;
							width: 100%;
							font-weight: 500;
							padding: 8px 10px;
							font-size: 14px;

							&::before {
								display: none;
							}

							&:hover {
								color: $brand;

							}
						}

					}
				}

				&:hover {
					ul {
						opacity: 1;
						visibility: initial;
					}
				}

				&.active {
					a {
						color: $brand;
					}

					ul {
						li {
							a {
								color: $text;

								&:hover,
								&.active {
									color: $brand  !important;
								}
							}
						}
					}
				}
			}
		}
	}
}



/* -------Sticky menu srcoll----- */
.menu-scroll {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
	position: fixed;
	left: 0;
	top: 0;
    background: white !important;
	z-index: 1024;

	nav {
		padding: 0 !important;
	}

}

.no-sub a {

	&::after,
	&::before {
		display: none !important;
	}
}
.search-head{
    background: white;
    display: none;
    width: 100%;
    display: none;
    position: fixed;
    top: 60px;
    left: 0;
    transition: 0.5s;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.03);
    border: 1px solid $border;
    &:hover{
        border: 1px solid $brand;
    }
    .container{
        max-width: 600px;
        position: relative;
    }
    .ti-close:before {
        content: "\e646" !important;
    }
    i{
        position: absolute;
        right: 0;
        top: 5px;
        cursor: pointer;
        color: $text-alpha;
        padding: 10px;
        border-radius: 0 2px 2px 0;
        font-weight: 400;
    }
}
.btn-search-mb{
    display: block;
    // background: #F0F5FA;
    // width: 35px;
    // height: 35px;
    // border-radius: 50%;
    // padding-top: 8px;
    // padding-left: 11px;
    cursor: pointer;
    .ti-search{
        color: #959FAB;
        &::before{
            font-weight: 600;
            content: "\e610";
            font-size: 15px;
        }
    }
}
.top-head{
    // position: relative;
    &.show-search-mb {
        .search-head{
            display: block;
            z-index: 2;
           
            i{
                border-radius: 0;
            }
        }
        .close-search{
            display: block;
        }
        input{
            border:0;
            border-radius: 2px;
            &::placeholder{
                color: $text-alpha;
                font-size: 14px;
            }
        }
       
        .top-head{
            position: absolute;
            top: 15px;
            width: 100%;
            left: 0;
        }
      }
}
/* banner head - banner-head */
.banner-head{
    display: flex;
    align-items: center;
    width: 100%;
    background-size: cover !important;
    // background: url(../images/bannerhomepage.svg) no-repeat center top;
    // display: flex;
    // align-items: center;
    // display: block;
    overflow: hidden;
    height: 880px;
    padding-top: 0;
    .content-bannerhead{
       
        .infor-banner{
            width: 50%;
            h1{
                font-weight: 600;          
                line-height: 1.13;
                color: $text;
            }
            p{
                
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                line-height: 1.75;
                color: $text;
                padding-right: 0;
            }
            
        }
        .imgs-banner{
            width: 50%;
            img{
                height: 600px;
            }
        }
      }
    
    
    /*--scrolll--*/
// Customizable variables
$mouse_color: #C2C2C2;
$mouse_width: 30px;
$mouse_height: 100px;
$border_width: 4px;

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation($animations) {
  -webkit-animation: $animations;
  -moz-animation:    $animations;
  -o-animation:      $animations;
  animation:         $animations;
}

$wheel_size: $border_width * 3;


@include keyframes(mouse-scroll) {
  0%   { top: 10%; opacity: 1; }
  80% { opacity: 1; }
  100% { top: 70%; opacity: 0; }
}

.scroll-msg-container {
	position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
  .scroll-msg-inner {
	width: 30px;
    height: 50px;
    
    border-radius: 34px;
    border: 2px solid #C2C2C2;
  }
      .scroll-msg-wheel {
        position: absolute;
        top: 10%;
        left: 50%;
        width: 3px;
		height: 13px;
		margin-left: -1px;
        border-radius: 2px;
        background-color: $mouse_color;
        
        @include animation(mouse-scroll .9s infinite);
      }

.circle-animation{
	position: absolute;
    right: 0;
    top: -50px;
	.data-green{
		position: relative;
		z-index: 9;
		margin: auto;
		margin-left: 12px;
	}
}

}
.logo-content-home{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    img{
        height: 80px;
        margin: 10px 20px;
        opacity: .7;
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        &:hover{
            opacity: 1;
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
        }
    }
}
/* video-takas */
.video-takas{
    // padding: 70px 0;
    .content-video{
            
            background-size: cover !important;
            height: 100%;
            display: flex;
            align-items: center;
        .info-video{
            width: 30%;
            padding: 0 40px;
            p{
                font-size: 16px;
                line-height: 33px;
                margin-bottom: 30px;
                display: -webkit-box;
                -webkit-line-clamp: 8;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
        .videos{
            width: 70%;
            height: 461px;
            .video-cans {
                
                display: inline-block;
                width: 100%;
                position: relative;
                background-size: cover !important;
                height: 461px;
                cursor: pointer;
                img {
                  width: 100%;
                }
              }
            
            .close-bg-video {
                position: absolute;
                right: -50px;
                top: -10px;
                border-radius: 50%;
                width: 40px;
                height: 40px;
                text-align: center;
                font-weight: normal;
                border: 0;
                font-size: 20px;
                outline: none;
                z-index: 9999999;
                background-color: white;
              }
              .current_page_item {
                a {
                  color: $brand;
                }
              }
              
              .overlay {
                width: 100%;
                margin: 0 auto;
                height: 461px;
                display: none;
              
                &._active {
                  display: block;
                  iframe {
                    width: 100%;
                    height: 461px;
                  }
                }
              }
        }
    }
}
.col-infor-tab h3{
    padding-right: 0;
}

    .tabs-nav-item{
        display: flex;
        justify-content: center;
        // border-bottom: 1px solid #E5E5E5;
        overflow-x: auto;
    }

.soul-detail-blog{
    padding-top: 0;
}
/* product-takas */
.tabs-info {
    .nav {
        padding-bottom: 0;
        margin-bottom: 0;
        overflow-x: auto;
        height: auto;
        white-space: nowrap;
        width: max-content;
        /* border-bottom: 1px solid #E5E5E5; */
        flex-wrap: nowrap;
    }

    .nav-tabs .nav-link {
        border: none;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;   
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        font-weight: 600;            
        color: $brand;
        background-color: transparent;
        border-bottom: 2px solid $brand;
        text-transform: uppercase;
        text-align: center;
    }

    .tab-content {
      
        .btn-common {
            padding: 15px 25px;
        }
        .col-infor-tab{
            transform: translateY(20%);
            h3{
                max-width: 80%;
                font-weight: 600;                   
                line-height: 1.38;
                margin-bottom: 16px;
            }
            p{
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 30px;
                text-align: justify;
            }
        }
    }
    .tab-pane{
        .col-md-7{
            img{
                width:100%;
            }
        }
    }
}
.ss-thanks-you .thanks-you{
    margin-top: 30px;
}
.soul-404{
    margin-top: 50px;
}
/* services-takas */
.services-takas{
    .item-services{
        display: inline-block;
        width: 100%;
        padding:30px;
        text-align: left;
        transition: all .2s ease-in-out;
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.04);
        border-radius: 2px;
        h4{
            display: inline-block;
            width: 100%;
            margin:30px 0 10px 0;
            a{
                font-weight: 600;
                line-height: 26px;
                text-align: left;
                text-decoration: none;
                color: $text;
                // pointer-events: none;
            }
        }
        p{
            font-size: 14px;
            line-height: 24px;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
            min-height: 130px;
        }
        &:hover{
            box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.07);
            h3{
                a{
                    color: $brand;
                }
            }
        }
        img{
            height: 159px;
        }
    }
}
/* uudiem-takas */
.uudiem-takas{
    background-color: $bg-gray;
    // margin-top: 70px;
    .item-solution{
		// position: relative;
		// height: 100%;
		text-align: center;
		background: transparent;
		padding:30px;
		transition: all .2s ease-in-out;
		margin-bottom: 30px;
        border: 1px solid transparent;
        border-radius: 2px;
		&:hover{
            background: white !important;
        }
		a{
			text-decoration: none;
			display: inline-block;
			width: 100%;
			height: 100%;
            img{
                height: 60px;
            }
		}
		p{
            font-size: 14px;
            line-height: 26px;
            text-align: center;
            margin-top: 20px;
            margin-bottom: 0;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
		}
	
		&:hover{
			border: 1px solid $text;
            // box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
            border-radius: 2px;
            background: transparent;
			p{
				color: $text !important;
			}
			
			
		}
	}
}
/* customer-takas */
.customer-takas{
    .container{
        border-bottom: 1px solid $border;
        padding-bottom: 40px;
    }
    padding-bottom: 0;
}
/* tintuc-sukien */

.tintuc{
    
    .items-news{
       
        display: flex;
        align-items: center;
        margin-bottom: 50px;
        .info-news{
            // margin-right: -15px;
            h4{
                margin-bottom: 10px;
                a{
                    font-weight: 600;
                    color: $text;
                    line-height: 28px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-size: 18px;
                }
            }
            a{
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 28px;
                    color: #7A8287;
                span{
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 28px;
                    color: #7A8287;
                }

            }
            p{
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                font-weight: 400;
                color: #7A8287;
            }
        }
        .thumnaisl-avatar {
            a{
                padding-top: 66%;
            }
        }
    }
    .info-newsright{
        align-items: flex-start;
        display: flex;
        margin-bottom: 15px;
        .stt-news{
            font-weight: 500;
            font-size: 38px;
            color: #F4C522;
            margin-top: 15px;
        }
        .title-news-right{
            margin-left: 25px;
            h5{
                font-weight: 600;
                color: $text;
                line-height: 28px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                margin-bottom: 0;
                a{
                    font-weight: 600;
                    color: $text;
                    line-height: 28px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-size: 18px;
                }
            }
            a{
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 28px;
                    color: #7A8287;
                span{
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 28px;
                    color: #7A8287;
                }

            }
        }
    }
    .btn-common{
        margin: 0 auto;
        width: fit-content;
        display: flex;
    }
}
.about-us .content-bannerhead .infor-banner p{
    text-align: center;
}
.about-us .content-bannerhead .btn-common{
 margin: 0 auto;
}
/* contact-takas  */
.contact-takas{
    width: 100%;
    height: 100%;
    background-size: cover !important;
    display: inline-block;
    overflow: hidden;
    padding-bottom: 70px;
    .item-contact{
        background: white;
        text-align: center;
        box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
        border-radius: 2px;
        padding: 15px 30px ;
        transition: .3s ease-in-out;
            &:hover{
                transform: scale(1.014);
                transition: .3s ease-in-out;
                // svg{
                //     path{
                //         fill: $text !important;
                //     }
                // }
            }
        
            p{
                font-size: 14px;
                line-height: 19px;
                margin-bottom: 0;
                margin-top: 5px;
            }
       
        .btn-contact{
            
            background: transparent;
            margin: 0 auto;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            i{
                color: $text;
                font-weight: 400;
                font-size: 12px;
            }
        }
        img{
            height: 50px;
        }
    }
    .bg-customer{
        background: $brand;
    }
    p{
        text-align: center;
    }
}
/* footer */
footer {
    overflow: hidden;
    padding-bottom: 0;
    background-color: white;
    color: #969797;
    float: left;
    width: 100%;
	padding-bottom: 0;
	
	color: #485056;
    
	.logo-footer {
		max-width: 162px;
        margin-bottom: 20px;
	}

	.main-footer {
		padding: 35px 0 10px 0;
		.social {
			display: flex;
			align-items: center;

			a {
				margin-right: 15px;

			}
		}

		.info-footer {
			p {
				color: $text;
                font-weight: 600;
                font-size: 16px;
                line-height: 21px;
               
                margin-bottom: 10px;
                margin-top: 0px ;
			}

			.title-ft {
				font-weight: 600;
                font-size: 16px;
                line-height: 31px;               
               
                color: #485056;
			}
			ul {
				li {
					margin: 10px 0;
					a{
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 29px;                     
                        color: #485056;
                        &:hover{
                            color: $brand;
                        }
                        img {
                            // margin-right: 10px;
                            // width: 165px;
                        }
                    }
				}
			}
            .number-info{
                font-size: 13px;
                line-height: 29px;
                color: #485056;
                font-weight: normal;
                text-transform: initial;
                margin-bottom: 10px;
                span{
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 29px;
                    color: #485056;
                }
            }
            .detail-info{
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                a{
                    display: flex;
                    align-items: center;
                    color: $brand;
                    font-weight: 600;
                    font-size: 16px;   
                    margin-right: 20px;               
                    img{
                        margin-right: 5px;
                        height: 20px;
                    }
                }
            }
            .locations{
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                p{
                    text-transform: initial;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 21px;                  
                    color: #485056;
                    margin-bottom: 0;
                    margin-top: 0;
                    padding-left: 12px;
                }
                img{
                    margin-right: 5px;
                    height: 20px;
                }
            }
		}
	}
}
/* modal */
.modal {
	
       
   

	.modal-title {
		font-size: 20px;
		font-weight: 600;
		text-align: center;
		display: inline-block;
		width: 100%;
		position: relative;
	}

	.modal-dialog {
		max-width: 700px;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
	}

	.modal-header {
		border-bottom: 0;
		padding: 0;
	}

	.modal-content {
		border: 0;
		border-radius: 6px;
		padding: 25px;
	}

	.title-order-details {
		text-align: center;
	}

	textarea {
		height: 80px;
	}

	.head-order-detail {
		margin: 0;
	}

	.close {
        z-index: 999;
        position: absolute;
        right: 25px;
        top: 25px;
        font-size: 18px;
        font-weight: normal;
        line-height: 1;
        color: #fff;
        text-shadow: none;
        opacity: 1;
        background: #F4C522;
        padding: 7px 10px !important;
        border-radius: 50%;
        width: 30px;
        height: 30px;

	}

	.close:not(:disabled):not(.disabled):focus,
	.close:not(:disabled):not(.disabled):hover {
		opacity: 1;
	}
}
#popup-contacts{
    .modal-body{
        padding: 0;
    }
    .modal-content{
        margin: auto;
        background-color: transparent;
        width: 100%;
        // height: 100%;
        background: url(../images/contact-bg.png) no-repeat center  ;
        display: inline-block;
        background-size: cover;
    }
}
.contact-section{
	text-align: center;
	padding: 30px 0;
	input{
		height: 48px;
		border: 1px solid $text;
		padding: 5px 15px;
		font-size: 14px;
		&::placeholder{
			color: #6E7A8A;
            font-size: 13px;
		}
	}
    textarea{
        height: 48px;
        border: 1px solid #474647;
        padding: 15px 15px 5px 15px;
        font-size: 14px;
        height: 80px;
        color: $text;
        &::placeholder{
            
			color: #6E7A8A;
            font-size: 13px;
		}
       
    }
	.form-contact{
		max-width: 600px;
		margin: auto;
		.button-submitform{
            float: right;
        }
	}
    .title-section{
        h2{
            font-weight: 600;
            font-size: 32px;
            line-height: 39px;
        }
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            padding: 0;
            margin-bottom: 30px;
        }       
    }
    .form-control{
        color: $text;
    }
    .form-group{
        margin-bottom: 30px;
    }
}
/* head-pagedetail */
.head-pagedetail{
    display: block;
    padding: 30px 0;
    height: 700px;
    
    .content-bannerhead{
        
        .content-info-banner{
            position: initial;
            top: 0;
        }
        
    }
}
.bg-headdetail{
    padding: 30px 0;
    height: 700px;
    // background: url(../images/bg-headdetail.svg) no-repeat ;
    .content-bannerhead{
        margin: 50px 0;
        .content-info-banner{
            position: initial;
            top: 0;
        }
        
    }
}
/* blogs */
.bg-tabnews{
   
    .list-news {
        background: #FFFFFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.04);
        justify-content: center;
        display: flex;
        padding: 20px 0 0 0;
    }
    .nav-tabs-box{
        display: flex;
        justify-content: center;
        overflow-x: auto;
    }
    .nav {
        padding-bottom: 0;
        margin-bottom: 0;
        overflow-x: auto;
        height: auto;
        white-space: nowrap;
        width: max-content;
        border-bottom: 1px solid #E5E5E5; 
    flex-wrap: nowrap;
    }
    .nav-tabs{
        border-bottom: 0;
    }

    .nav-tabs .nav-link {
        padding: 0 10px 20px 10px;
        color: $text;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px; 
        background-color: transparent; 
        border-color: unset;
        border: 0;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
                  
        color: $brand;
        border-bottom: 2px solid $brand;      
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        line-height: 23px;
    }
    .nav-tabs .nav-item{
        margin: 0 20px;
    }
}
.news{
    padding-top: 0;
    .box-news {
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
        .infor-news {
            display: inline-block;
            width: 100%;
        
           .content-title-news{
               margin-top: 25px;
               .title-news{
                font-weight: 600;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                line-height: 40px;
               }
           }
        
        }
    }
   
    .item-news-right {
            display: inline-block;
            width: 100%;
            margin-bottom: 30px;
        .content-title-news{
            a{
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                line-height: 30px;
                font-weight: 600;
            }
        }
        .thumnaisl-avatar{
            a{
                padding-top: 56%;
            }
        }
        .row{
            align-items: center;
            .col-md-7{
                padding-left: 30px;
            }
            .col-md-5{
                padding-left: 0;
            }
        }
    }
}
.listnews{
    .box-news{
        display: inline-block;
        width: 100%;
            .content-title-news{
                margin-top: 15px;
               a{
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                font-weight: 500;
                font-size: 16px;
                line-height: 30px;
               }
            }
        
    }
}
.listnews-full{
    .item-news-right{
        display: inline-block;
        width: 100%;
        margin-bottom: 30px;
        
       .row{
           align-items: center;
        .content-title-news{
                
            a{
             display: -webkit-box;
             -webkit-line-clamp: 2;
             -webkit-box-orient: vertical;
             overflow: hidden;
             font-weight: 600;
             
             line-height: 28px;
            }
         }
     .time-date-comment{
         font-weight: 400;
         font-size: 13px;
         line-height: 28px;
         color: #8C8C8C;
     }
       }
        
    }
}
/* phan trang */
.pagging-page {
	width: 100%;

	.pagination {
		margin-top: 15px;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
	}

	ul {
		li {

			a,
			span {
				width: 32px;
				height: 32px;
				margin: 0 10px;
				text-align: center;
				font-size: 14px;
				display: inline-block;
				text-decoration: none;
				color: $text;
				padding: 5px;

				&.active {
					border: 1px solid $brand  !important;
					color: $brand;
					background-color: white;
					padding-top: 5px;
				}
			}

			&:hover {
				a {
					color: $brand;
				}
			}
		}
	}
}

.main-footer{
    .col-md-3{
        &:last-child(1){
            img{
                max-height: 100px;
            }
        }
    }
}
/* ========update css ======== */
.search-head{
    
    input{
        height: 55px;
        
    }
    i{
        top: 10px;
    }
}
.news .item-news-right .content-title-news a {
    -webkit-line-clamp: 3;
}
.listnews .box-news .content-title-news a {   
    -webkit-line-clamp: 3;
}
.menu nav ul li ul li:nth-child(1) {
    padding-top: 10px;
    border: 0;
   
}
.menu nav ul li ul li{
    border: 0;
}
.menu nav ul li ul li:nth-last-child(1){
    padding-bottom: 10px;
    border: 0;
}
.big-box-du-an .box-shadow .box-text h4 {
    
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.chung-toi .soul-chung-toi .box-product h4 {
    max-width: 80%;
    line-height: inherit;
    margin: 0 auto;
}
.quy-trinh .soul-quy-trinh .box-text h4{
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
}
.title-section p {
    -webkit-line-clamp: inherit;
}
.title-gold {
    font-size: 70px;
}
.du-an-ht h4{
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        display: -webkit-box;
}
.du-an-ht .info-news p{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.du-an-ht .info-news{
    min-height: 205px;
}
.title-section h2 a {
    cursor: unset;
}
.doanh-nghiep .box-doi-tac .dt-doanh-nghiep .title-section h3 a{
    cursor: unset;
}
.action-btn{
        display: block;
        bottom: 100px;
        position: fixed;
        right: 30px;
        z-index: 999;
       
}
.tuvan-btn-sticky{
    display: none !important;
}
.coccoc-alo-ph-circle {
    width: 70px;
    height: 70px;
    top: 55px;
    left: 55px;
    position: absolute;
    background-color: transparent;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid $brand;
    opacity: .1;
    -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.coccoc-alo-phone {
    background-color: transparent;
    width: 90px;
    height: 90px;
    margin-right: 30px;
    cursor: pointer;
    z-index: 200000 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -webkit-transition: visibility .5s;
    -moz-transition: visibility .5s;
    -o-transition: visibility .5s;
    transition: visibility .5s;
    right: 150px;
    top: 30px;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle-fill {
    background-color: $brand;
    opacity: .75 !important;
}

.coccoc-alo-ph-circle-fill {
    width: 60px;
    height: 60px;
    top: 60px;
    left: 60px;
    position: absolute;
    background-color: #000;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: .1;
    -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.img-zalo{
    .coccoc-alo-ph-img-circle{
        background: $brand url(../images/iconzalo.svg) no-repeat center center;
    }
}
.img-mess{
    .coccoc-alo-ph-img-circle{
        background: $brand url(../images/iconmess.svg) no-repeat center center;
    }
}
.coccoc-alo-ph-img-circle {
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    top: 70px;
    left: 70px;
    position: absolute;
    background: $brand url(../images/tuvan-mb.svg) no-repeat center center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
   
    -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -moz-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -ms-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    -o-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
    animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-img-circle {
    background-color: $brand;
}

.coccoc-alo-phone.coccoc-alo-green .coccoc-alo-ph-circle {
    border-color: $brand;
    opacity: .5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle {
    border-color: $brand;
    opacity: .5;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-circle-fill,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-circle-fill {
    background-color: $brand;
    opacity: .75 !important;
}

.coccoc-alo-phone.coccoc-alo-green.coccoc-alo-hover .coccoc-alo-ph-img-circle,
.coccoc-alo-phone.coccoc-alo-green:hover .coccoc-alo-ph-img-circle {
    background-color: $brand;
}

@-moz-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-webkit-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-o-keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@keyframes coccoc-alo-circle-anim {
    0% {
        transform: rotate(0) scale(.5) skew(1deg);
        opacity: .1
    }
    30% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .5
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .1
    }
}

@-moz-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-o-keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@keyframes coccoc-alo-circle-fill-anim {
    0% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
        opacity: .2
    }
    100% {
        transform: rotate(0) scale(.7) skew(1deg);
        opacity: .2
    }
}

@-moz-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@-o-keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}

@keyframes coccoc-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg)
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg)
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg)
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg)
    }
}
#particles-js{
    z-index: -1;
}
.action-btn{
    z-index: 12 !important;
}
.uudiem-takas .item-solution a{
    cursor: unset;
}
.services-takas .item-services h4{
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
}
.menu nav ul li:hover ul{
    border: 1px solid #F1F1F1;
    margin: 0 8px;
    padding: 0;
    top: 30px;
}
.bang-gia .box-grow .btn-common:hover, .bang-gia .box-grow .btn-common-secon:hover {
    opacity: 0.7;
}
.soul-detail-blog .soul-posts li a:hover{
    cursor: unset;
    color: inherit;
}
.about-us .content-bannerhead .infor-banner p{
    margin: 20px auto 20px auto !important;
}
.top-head{
    z-index: 12;
}
/* ================= update css ======================= */
.doanh-nghiep .img-slider p {
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 950px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 34px;
    font-weight: 400;
    font-size: 20px;
}
.doanh-nghiep .img-slider .box-information .slider-infor .name-info {
    display: -webkit-box;
    -webkit-line-clamp: inherit;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
    opacity: .7;
    margin-bottom: 0;
    line-height: 24px;
}
.doanh-nghiep .img-slider .box-information .slider-infor h5{
    line-height: 24px;
}
.quy-trinh .soul-quy-trinh .box-text h4 {
    -webkit-line-clamp: 2;
}
.quy-trinh .soul-quy-trinh .box-text {
    min-height: 250px;
  
}
.quy-trinh .soul-quy-trinh .line-step {
    
    height: 313px;
}
.quy-trinh .soul-quy-trinh .box-text p{
    -webkit-line-clamp: 5;
}

.doanh-nghiep .img-slider .box-information .slider-infor h5 {
    line-height: 20px;
}
.menu ul#main-primary li ul.sub-menu{
		border: 1px solid #F1F1F1 !important;
    margin: 0 8px !important;
    padding: 0 !important;
    top: 30px !important;
}
.sang-tao .big-box-percent .box-percent p {   
    font-weight: 300;   
}
.chung-toi .soul-chung-toi .box-product h4 {
    max-width: 100%;
    line-height: inherit;
    margin: 0 auto;
    font-weight: 400;
    font-size: 16px;
}
.quy-trinh .soul-quy-trinh .box-text h4 {
	-webkit-line-clamp: 2;
}
.lien-he-takas .box-shadow .box-text .numbers a{
	    color: #f5c621;
}
.menu ul#main-primary li ul.sub-menu li a{
	font-size:15px;
}

@media only screen and (max-width: 1366px){
    header nav{
        top: 63px !important;
    }
	.menu ul#main-primary li ul.sub-menu{
	transition: unset;
	top:0 !important;
	background: #F5F7FB;
	margin:15px 0 0 0!important;
	border-radius:0;
}
	.menu ul#main-primary li ul.sub-menu li a{
		    padding: 8px 15px;
	}
	header nav ul li:hover ul li {
		padding: 0 !important;
		background: none;
	}
}
@media only screen and (max-width: 1110px){
    .show-menu nav {
        top: 45px !important;
    }
	.chung-toi .soul-chung-toi .box-product h4 {
    max-width: 70%;
}
.doanh-nghiep .img-slider p{
    max-width: 800px;
}
.quy-trinh .soul-quy-trinh .box-text {
min-height: 270px;
}
.quy-trinh .soul-quy-trinh .line-step{
height:333px;
}
}
@media only screen and (max-width: 950px){
    .doanh-nghiep .img-slider p {
        max-width: 550px;
    }
	.chung-toi .soul-chung-toi .box-product h4 {
    max-width: 100% !important;
}
.quy-trinh .soul-quy-trinh .box-text h4 {
    -webkit-line-clamp: 3 !important;
}
	.quy-trinh .soul-quy-trinh .box-text p{
		 -webkit-line-clamp: 8;
	}
	.quy-trinh .soul-quy-trinh .box-text {
    min-height: 333px;
}
	.quy-trinh .soul-quy-trinh .line-step{
		height:396px !important;
	}
    .header-slide-home .infor-banner h1{
    padding-top: 30px;
    }
    .tabs-info .tab-content .col-infor-tab h3{
        margin: 0 auto 16px auto;
    }
    .uudiem-takas .row .col-md-3 .item-solution{
        padding: inherit !important;
    }
}
@media only screen and (max-width: 767px){
    header{
        padding: 10px 20px;
    }
    header nav{
        top: 45px !important;
    }
    .tabs-info .tab-content .col-infor-tab h3 {
        max-width: 100%  !important;
    }
    .doanh-nghiep .img-slider p {
        max-width: 320px;
        -webkit-line-clamp: inherit;
    }
    .doanh-nghiep .img-slider .box-information .slider-img {
        border-radius: 100%;
        height: 60px;
        width: 60px;
    }
	.infor-banner h1 {
        max-width: 100% !important;
        margin-top: 20px;
}
	.quy-trinh .soul-quy-trinh .box-text {
        padding: 20px !important;
        background: #FFFFFF;
        box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
        border-radius: 2px;
        border: none !important;
        min-height: auto;
}
	section.news .bg-tabnews .nav-tabs-box ul#main-news li.current-menu-item{
		font-size: 16px;
	}
	section.news .bg-tabnews .nav-tabs-box ul#main-news li{
		font-size: 16px;
		padding: 0 15px 20px 15px;
	}
	section.news .bg-tabnews .nav-tabs-box ul#main-news li{
		margin:0;
	}
}
header{
    background: transparent;
}
.menu nav ul li a{
    text-transform: uppercase;
    padding: 0 15px;
}
.menu nav ul li:hover ul{
    top: 50px;
}
.menu ul#main-primary li ul.sub-menu{
    top: 50px;
}
.uudiem-takas .item-solution:hover a{
    color: inherit;
}
.uudiem-takas .item-solution:hover{
    background: transparent !important;
    border: 0;
}
.uudiem-takas .item-solution{
    transition: unset;
    border: 0;
}
.uudiem-takas .item-solution{
    padding: 15px;
}
h1 {
    font-size: 45px;
    text-transform: uppercase;
    line-height: 1.4 !important;
}
h2{
    font-size: 30px;
    text-transform: uppercase;
}

.content-head{
    .ngonngu{
        a{
            margin-left: 13px;
            img{
                width: 20px;
                height: 15px;
                border-radius: inherit;
            }
            span{
                display: block;
            }
        }
    }
}
.bang-gia{
    .box-grow{
        overflow-y: auto;
        height: 700px;
    }
}
.lien-he-takas .box-shadow .box-text .numbers{
    color: $brand;
}


