@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap");
@media only screen and (max-width: 1366px) {
  .menu nav ul li ul li a {
    padding: 8px 20px; }

  header {
    z-index: 123; }

  .action-btn {
    bottom: 170px; }

  .menu nav ul li:hover ul {
    border: 0;
    margin: 10px 0; }

  .menu nav > ul {
    margin-top: 20px; }

  .menu-mobile {
    position: fixed;
    top: 23px;
    left: 15px;
    display: block;
    z-index: 123; }
    .menu-mobile .ti-close {
      display: none; }

  .logo {
    margin-left: 30px; }

  header nav {
    display: none;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    height: 100%;
    background: white;
    border-top: 0;
    padding: 0 !important;
    scroll-behavior: smooth;
    transition: all 0.2s ease-in-out; }
    header nav ul {
      display: inline-block !important;
      width: 100%; }
      header nav ul li {
        width: 100%;
        padding: 10px 0 !important; }
        header nav ul li a::before {
          right: 20px !important; }
        header nav ul li:hover ul {
          margin: 6px 0;
          padding-top: 0;
          position: relative;
          top: 0 !important;
          width: 100% !important;
          box-shadow: none;
          border-radius: 0;
          background: #046e4508; }
          header nav ul li:hover ul li {
            padding: 3px 0 !important;
            border: 0;
            background: transparent; }
            header nav ul li:hover ul li:nth-child(1) {
              border-top: 0; }

  header .close-search, header .ti-close, header .ti-menu {
    font-size: 20px;
    display: block; }

  .show-menu .menu-mobile .ti-close {
    display: block !important;
    top: 0;
    position: absolute; }
  .show-menu .menu-mobile .ti-menu {
    display: none; }
  .show-menu nav {
    z-index: 99999;
    display: block !important; }

  .search-head {
    top: 60px;
    left: 0;
    width: 100%; }

  .search-head i {
    top: 5px; }

  header .btn-common, header .btn-common-border {
    z-index: -1; } }
@media only screen and (max-width: 1110px) {
  .doanh-nghiep .img-slider p {
    max-width: 800px; }

  .show-menu nav {
    top: 45px; }

  .news .item-news-right {
    margin-bottom: 20px; }

  .thumnaisl-avatar a {
    padding-top: 66%; }

  .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .title-section h3 a {
    font-size: 30px; }

  .title-gold {
    font-size: 50px; }

  .menu-mobile {
    top: 15px; }

  .container {
    max-width: 960px; }

  h1 {
    font-size: 45px; }

  h3 {
    font-size: 24px !important; }

  h5 {
    font-size: 16px; }

  .sang-tao .title-section {
    max-width: 100%; }

  .title-section p {
    max-width: 70%; }

  .infor-banner > img {
    height: 27px; }

  .banner-pagedetail .content-bannerhead .infor-banner {
    padding-right: 20px; }

  .tintuc .info-newsright .title-news-right h5 a {
    font-size: inherit; }

  .tintuc .items-news .info-news h4 a {
    font-size: 16px; }

  .tintuc-sukien {
    padding-bottom: 40px; }

  .tintuc .info-newsright .stt-news {
    font-size: 32px; }

  footer .main-footer .info-footer p {
    text-align: inherit; }

  footer .main-footer .info-footer .detail-info {
    display: inherit; }

  footer .main-footer .info-footer .detail-info a {
    margin-bottom: 10px; }

  footer .main-footer .info-footer .locations p {
    padding-right: 20px; }

  footer .main-footer {
    padding: 30px 0; }

  footer .main-footer .info-footer ul li {
    margin-right: 35px; }

  .header-slide-home {
    padding: 50px 0 !important; }

  .logo {
    margin-right: 0px; }

  .infor-banner p {
    font-size: 16px;
    line-height: 28px;
    -webkit-line-clamp: inherit; }

  .product-crm .loi-ich {
    padding-bottom: 40px; }

  .tabs-info {
    margin-top: 0; }

  .loi-ich-hrm .show-neighbors .carousel-inner {
    width: 350%;
    left: -93%; }

  .loi-ich-hrm .show-neighbors .carousel-control-prev {
    width: 6%;
    left: 0; }

  .loi-ich-hrm .show-neighbors .carousel-control-next {
    width: 6%;
    right: 0; }

  .loi-ich-hrm .show-neighbors .carousel-control-prev, .loi-ich-hrm .show-neighbors .carousel-control-next {
    background: transparent; }

  .loi-ich-hrm .item__third .slider-tick {
    margin-bottom: 0;
    padding-bottom: 25px; }

  .loi-ich-hrm .item__third .slider-tick img {
    height: 20px;
    top: 5px; }

  .loi-ich-hrm .item__third {
    margin: 0 40px; }

  .title-section p {
    -webkit-line-clamp: inherit; }

  .uudiem-takas .item-solution p {
    -webkit-line-clamp: 30000; }

  header .btn-common-border, header .btn-common {
    display: none; }

  .tuvan-btn-sticky {
    display: block !important; }

  .action-btn {
    display: block; }

  .action-btn {
    bottom: 100px;
    position: fixed;
    right: 20px;
    z-index: 999; }

  .question .panel-default > .panel-heading + .panel-collapse > .panel-body {
    line-height: 30px; }

  .doanh-nghiep {
    padding-bottom: 40px; }

  .doanh-nghiep .box-doi-tac .dt-doanh-nghiep {
    padding-right: 600px; }

  .doanh-nghiep .img-slider h4 {
    max-width: 800px; }

  .loi-ich .row {
    justify-content: center; }

  .loi-ich .info-loi-ich {
    height: 100%; }

  .loi-ich .info-loi-ich p {
    -webkit-line-clamp: 30000; }

  .loi-ich .colum-loi-ich {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 20px 40px 20px; }

  .gioi-thieu .overlay._active iframe {
    width: 100%;
    height: 523px; }

  .gioi-thieu .overlay {
    height: 523px; }

  .gioi-thieu .video-cans {
    height: 523px; }

  .product-hrm .product-takas {
    padding-top: 0; }

  .col-infor-tab h3 {
    padding-right: 0 !important; }

  .loi-ich-hrm {
    padding-top: 0; }

  .loi-ich-hrm .item__third {
    width: 25% !important; }

  .title-section {
    max-width: 95%;
    margin: 0 auto 20px auto; }

  .du-an-ht-app .title-section {
    padding-top: 40px; }

  .sang-tao .big-box-percent .box-percent p {
    font-size: 80px; }

  .sang-tao .big-box-percent .text-percent {
    padding-left: 190px;
    -webkit-line-clamp: 3; }

  .sang-tao .big-box-percent {
    position: relative;
    display: flex;
    align-items: flex-start;
    height: 100%;
    /* margin-bottom: 40px; */ }

  .sang-tao {
    padding-bottom: 40px; }

  .title-app {
    text-align: center;
    font-size: 20px;
    line-height: 38px;
    max-width: 95%;
    margin-bottom: 20px; }
    .title-app br {
      display: none; }

  .chung-toi {
    padding-bottom: 40px; }
    .chung-toi .btn-common {
      margin: 0 auto; }
    .chung-toi .btn-common-secon {
      margin: 30px auto 0 auto; }
    .chung-toi .soul-chung-toi {
      padding-top: 0;
      margin-bottom: 30px; }
      .chung-toi .soul-chung-toi .box-product h4 {
        font-size: 16px;
        max-width: 80%;
        margin: 0 auto; }

  .loi-ich-hrm .title-section {
    margin-bottom: 0; }

  .gioi-thieu-app {
    padding-bottom: 40px; }
    .gioi-thieu-app .text-app {
      margin-bottom: 40px; }
      .gioi-thieu-app .text-app ul li {
        padding: 5px 20px; }
        .gioi-thieu-app .text-app ul li::before {
          top: 18px; }

  .gioi-thieu-app .big-box-du-an .listcheck li img {
    margin-top: 5px; }

  .big-box-du-an .row .col-md-4 {
    margin-bottom: 30px; }
  .big-box-du-an .box-shadow {
    height: 100%;
    padding: 35px 40px 10px;
    margin-bottom: 0; }

  .gia-tri {
    padding-bottom: 40px; }

  .bg-tabnews .nav-tabs .nav-link {
    line-height: 15px; }

  .cong-nghe .title-section br {
    display: none; }

  .quy-trinh {
    padding-bottom: 30px; }

  .services-takas {
    padding-bottom: 40px; }

  .product-crm .gioi-thieu {
    padding-bottom: 30px; }

  .contact-takas {
    padding-bottom: 40px; }

  .question .panel-default:last-child {
    border-bottom: 0; }

  .header-price h2 {
    font-size: 30px; }

  .bang-gia {
    padding-bottom: 40px; }

  .question {
    padding-bottom: 40px; }

  .uudiem-takas {
    padding-bottom: 0; }

  .du-an-ht {
    padding-bottom: 0; }

  .du-an-ht .title-section {
    padding-top: 30px; }

  .du-an-ht .info-news p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }

  .bg-system {
    padding-top: 40px !important;
    padding-bottom: 40px !important; }

  .ser-system .loi-ich-hrm {
    padding-top: 40px;
    padding-bottom: 0; }

  .about-us .content-bannerhead .soul-tu-van .box-text h2 {
    font-size: 36px; }

  .about-us .content-bannerhead .soul-tu-van .box-text h2::before {
    right: -30px;
    font-size: 30px; }

  .about-us .content-bannerhead .soul-tu-van .box-text h5 {
    font-size: 16px; }

  .about-us .video-aboutus {
    padding-bottom: 30px; }

  .gia-tri .img-item {
    height: 130px; }

  .gia-tri .soul-cong-nghe .box-text {
    margin-top: 20px; }

  .ss-dinh-huong {
    padding-bottom: 0; }

  .ss-dinh-huong .title-section {
    max-width: 100%;
    margin: 0 auto 10px auto; }

  .news .box-news .infor-news .content-title-news .title-news {
    line-height: 34px; }

  .news .box-news .infor-news .content-title-news {
    margin-top: 15px; }

  .news {
    padding-bottom: 0; }

  .listnews-full {
    padding-top: 0;
    padding-bottom: 0; }

  .lien-he-takas .form-takas br {
    display: none; }

  .lien-he-takas .form-takas p {
    margin-bottom: 30px; }

  .page-404 .text-404 {
    font-size: 80px; }

  .ket-qua-search {
    padding-bottom: 40px; }

  .title-section h2 {
    width: 100%;
    display: inline-block;
    line-height: 40px; }

  .search-head {
    top: 50px;
    left: 0;
    width: 100%; }

  .search-head i {
    right: 0; }

  .top-head {
    position: inherit; }

  .services-takas .col-md-4 .item-services p {
    -webkit-line-clamp: 3;
    min-height: inherit; } }
@media only screen and (max-width: 950px) {
  .doanh-nghiep .img-slider p {
    max-width: 500px;
    -webkit-line-clamp: 5; }

  h1 {
    font-size: 36px; }

  h2 {
    font-size: 28px; }

  .cong-nghe .title-section, .sang-tao .title-section {
    max-width: 80%; }

  .services-takas {
    padding-bottom: 20px; }

  .title-app {
    max-width: 87%;
    margin: 0 auto 20px auto; }

  .tintuc .items-news {
    align-items: flex-start;
    margin-bottom: 30px; }

  .title-section p {
    max-width: 90%; }

  .gia-tri .img-item {
    height: 100px; }

  .sang-tao .big-box-percent {
    margin-bottom: 50px; }

  .quy-trinh .soul-quy-trinh .box-text h4 {
    max-width: 100%;
    -webkit-line-clamp: 2; }

  .tintuc .info-newsright .stt-news {
    font-size: 24px;
    margin-top: 5px; }

  .ss-dinh-huong .img-item {
    height: inherit; }

  .lien-he-takas {
    padding-bottom: 30px; }
    .lien-he-takas .col-md-6 {
      margin-bottom: 30px;
      flex: 0 0 100%;
      max-width: 100%; }
    .lien-he-takas .show-add-address .col-md-6 {
      margin-bottom: 0; }
    .lien-he-takas .form-takas {
      padding: 30px 20px; }

  .contact-takas .item-contact {
    position: relative;
    min-height: 160px; }
    .contact-takas .item-contact img {
      height: 40px; }
    .contact-takas .item-contact .btn-common {
      position: absolute;
      bottom: 5px;
      left: 35px;
      font-size: 14px; }

  .infor-banner > img {
    height: 27px;
    margin-bottom: 0; }

  .infor-banner {
    padding-right: 0 !important; }

  .infor-banner p {
    max-width: 100%; }

  footer .main-footer {
    padding: 30px 0 60px 0; }

  .main-footer .col-md-4, .main-footer .col-md-3, .main-footer .col-md-2 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px; }

  .uudiem-takas .row {
    justify-content: center; }
    .uudiem-takas .row .col-md-3 {
      flex: 0 0 33.3%;
      max-width: 33.3%; }
      .uudiem-takas .row .col-md-3 .item-solution {
        min-height: 250px;
        padding: 30px 20px 0 20px; }
        .uudiem-takas .row .col-md-3 .item-solution p {
          -webkit-line-clamp: 4; }

  .video-takas .content-video {
    display: inherit; }
    .video-takas .content-video .info-video {
      width: 100%;
      padding: 30px 20px; }
      .video-takas .content-video .info-video .btn-common-secon {
        margin: 0 auto; }
    .video-takas .content-video .videos {
      width: 100%; }

  .services-takas .col-md-4 {
    margin-bottom: 30px;
    flex: 0 0 100%;
    max-width: 100%; }
    .services-takas .col-md-4 .item-services {
      position: relative;
      text-align: center; }
      .services-takas .col-md-4 .item-services p {
        min-height: inherit;
        margin-bottom: 20px;
        text-align: center; }
      .services-takas .col-md-4 .item-services .btn-common {
        margin: 0 auto; }

  .product-takas.bg-gray {
    padding-bottom: 0; }

  .loi-ich .colum-loi-ich {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px 40px 20px; }

  .loi-ich .btn-common {
    margin: 0 auto !important; }

  .doanh-nghiep .img-slider h4 {
    -webkit-line-clamp: 3000;
    max-width: 550px; }
  .doanh-nghiep .img-slider .box-information .slider-infor p {
    -webkit-line-clamp: 3000;
    text-align: left; }
  .doanh-nghiep .owl-nav {
    display: block !important; }

  .doanh-nghiep .feedback {
    padding-bottom: 50px; }
  .doanh-nghiep .box-doi-tac {
    min-height: 100%;
    padding: 50px 0 20px 0; }
    .doanh-nghiep .box-doi-tac .dt-doanh-nghiep {
      padding: 50px 0;
      position: initial;
      margin: 0 auto;
      display: initial;
      height: 100%; }
      .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac {
        position: initial;
        width: 100%;
        height: 100%;
        margin-top: 10px; }
        .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac {
          height: 100%;
          text-align: center; }
          .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac {
            width: 20% !important;
            display: inline-block;
            text-align: center;
            float: none;
            position: initial;
            height: 90px !important; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac img {
              height: 60px !important; }
            .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(12), .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(11), .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(13), .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(14), .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac:nth-child(15) {
              display: none; }
      .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .title-section h2 {
        text-align: center; }

  .loi-ich-hrm .item__third {
    margin: 0 30px; }

  .loi-ich-hrm {
    padding-bottom: 40px; }

  .doanh-nghiep {
    padding-bottom: 20px; }
    .doanh-nghiep .title-section {
      max-width: 70%; }

  .chung-toi .soul-chung-toi .col-md-3 {
    padding: 0 15px; }

  .cong-nghe .title-section h2 {
    padding: 0; }

  .sang-tao .big-box-percent .box-percent p {
    font-size: 50px; }

  .sang-tao {
    padding-bottom: 20px; }
    .sang-tao .soul-sang-tao .row .col-md-6 {
      flex: 0 0 100%;
      max-width: 100%; }
      .sang-tao .soul-sang-tao .row .col-md-6 .box-percent {
        position: inherit; }
      .sang-tao .soul-sang-tao .row .col-md-6 .text-percent {
        padding-left: 50px;
        -webkit-line-clamp: inherit; }

  .chung-toi .soul-chung-toi .box-product h4 {
    max-width: 100%; }

  .services-app .gioi-thieu-app {
    padding-bottom: 20px; }
    .services-app .gioi-thieu-app .big-box-du-an .row {
      justify-content: center; }
      .services-app .gioi-thieu-app .big-box-du-an .row .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%; }

  .du-an-ht-app {
    padding-bottom: 40px; }
    .du-an-ht-app .col-md-4 {
      flex: 0 0 50%;
      max-width: 50%; }

  .about-us .content-bannerhead .infor-banner h1 {
    margin: 0 20px; }
  .about-us .content-bannerhead .infor-banner p {
    max-width: 80%; }
  .about-us .content-bannerhead .soul-tu-van {
    padding-top: 20px; }

  .quy-trinh .soul-quy-trinh .line-step {
    height: 372px;
    top: 15px; }

  .quy-trinh .soul-quy-trinh .box-text p {
    -webkit-line-clamp: 8; }

  .du-an-ht .info-news {
    left: 34px;
    width: 80%; }

  .big-box-du-an .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%; }

  .bang-gia {
    padding-bottom: 0; }
    .bang-gia .title-section {
      margin: 0 auto; }
    .bang-gia .row {
      display: initial; }
      .bang-gia .row .col-md-6 {
        max-width: 100%; }
        .bang-gia .row .col-md-6 .box-grow {
          margin-bottom: 25px;
          padding: 30px; }

  .tab-content .row {
    display: inherit; }
    .tab-content .row .col-md-5 {
      flex: 0 0 100%;
      max-width: 100%; }
      .tab-content .row .col-md-5 .col-infor-tab {
        transform: inherit;
        margin-top: 0;
        text-align: center; }
        .tab-content .row .col-md-5 .col-infor-tab p {
          text-align: center; }
        .tab-content .row .col-md-5 .col-infor-tab .btn-common {
          margin: 0 auto; }
    .tab-content .row .col-md-7 {
      flex: 0 0 100%;
      max-width: 100%; }
      .tab-content .row .col-md-7 img {
        margin-top: 20px; }

  .content-bannerhead {
    display: inline-block !important; }
    .content-bannerhead .infor-banner {
      width: 100% !important; }
    .content-bannerhead .imgs-banner {
      width: 100% !important; }

  .container {
    max-width: 700px; }

  .gioi-thieu .overlay._active iframe {
    width: 100%;
    height: 400px; }

  .gioi-thieu .overlay {
    height: 400px; }

  .gioi-thieu .video-cans {
    height: 400px; }

  .bg-tabnews .nav-tabs .nav-link {
    padding: 0 10px 15px 10px; }

  .bg-tabnews .list-news {
    padding: 20px 0 0 0; }

  .news .row .col-md-7 {
    flex: 0 0 100%;
    max-width: 100%; }
  .news .row .col-md-5 {
    flex: 0 0 100%;
    max-width: 100%; }
    .news .row .col-md-5 .item-news-right .row .col-md-7 {
      flex: 0 0 70%;
      max-width: 70%; }
    .news .row .col-md-5 .item-news-right .row .col-md-5 {
      flex: 0 0 30%;
      max-width: 30%; }

  .listnews .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%; }

  .soul-detail .row .col-md-9, .soul-detail .row .col-md-3 {
    flex: 0 0 100%;
    max-width: 100%; }
  .soul-detail .row .detail-right {
    padding-left: 0;
    margin-top: 40px; }

  .ss-thanks-you .thanks-you .box-text .title-thanks {
    margin: 0 0 20px 0; }

  .ss-thanks-you .thanks-you .box-text p {
    margin: 0; } }
@media only screen and (max-width: 767px) {
  .quy-trinh .soul-quy-trinh .box-text .numberstep h2 {
    margin: 0; }

  .quy-trinh .soul-quy-trinh .box-text {
    min-height: auto; }

  .quy-trinh .soul-quy-trinh .box-text h4 {
    -webkit-line-clamp: inherit; }

  .quy-trinh .soul-quy-trinh .box-text p {
    -webkit-line-clamp: inherit; }

  .doanh-nghiep .img-slider p {
    max-width: 320px;
    -webkit-line-clamp: inherit;
    text-align: justify;
    font-size: 16px;
    line-height: 28px; }

  .doanh-nghiep .img-slider .box-information .slider-img {
    height: 60px;
    width: 60px; }

  .action-btn {
    border-top: 60px;
    bottom: 60px; }

  .big-box-du-an .box-shadow .box-text p {
    -webkit-line-clamp: inherit; }

  .listnews-full .item-news-right .row {
    align-items: flex-start; }

  .listnews-full .item-news-right .row .content-title-news a {
    -webkit-line-clamp: inherit; }

  section {
    padding-top: 30px !important; }

  h1 {
    font-size: 28px !important;
    line-height: 1.4 !important; }

  h2 {
    font-size: 24px !important; }

  h3 {
    font-size: 18px !important; }

  h4 {
    font-size: 16px !important; }

  .logo-content-home {
    text-align: center;
    display: inherit; }

  .logo-content-home img {
    margin: 10px; }

  .customer-takas .container {
    padding-bottom: 20px; }

  .services-takas .col-md-4 .item-services p {
    -webkit-line-clamp: inherit; }

  .soul-detail-blog .detail-right h4 {
    margin: 0 0 10px 0;
    font-size: 20px !important; }

  .soul-detail-blog .posts h4 {
    font-size: 20px !important; }

  .soul-detail-blog .detail-right p {
    margin-bottom: 20px; }

  .page-404, .ss-thanks-you {
    padding-bottom: 30px; }

  .detail-blog .banner-pagedetail {
    min-height: inherit; }

  .doanh-nghiep .img-slider h4 {
    text-align: justify;
    max-width: 320px; }

  .news .box-news .infor-news .content-title-news .title-news {
    -webkit-line-clamp: inherit;
    line-height: 28px; }

  .tabs-info .tab-content .col-infor-tab p {
    max-width: 90%;
    margin: 0 auto 30px auto; }

  .listnews-full .content-title-news h5 {
    margin-bottom: 0; }

  .title-section h2 {
    width: 100%;
    display: inline-block;
    line-height: 34px; }

  .carousel-control-next-icon {
    width: 40px !important;
    height: 40px !important; }

  .carousel-control-prev-icon {
    width: 40px !important;
    height: 40px !important; }

  .doanh-nghiep .ss-result .owl-prev {
    left: -30px;
    width: 40px;
    height: 40px; }

  .doanh-nghiep .ss-result .owl-next {
    right: -30px;
    width: 40px;
    height: 40px; }

  .ngonngu {
    margin: 0 0 0 20px !important; }
    .ngonngu img {
      width: 25px;
      height: 25px; }
    .ngonngu span {
      display: none; }

  .news {
    padding-top: 0 !important; }

  .about-us .infor-banner h1 {
    max-width: 100%; }

  .infor-banner h1 {
    max-width: 80%; }

  .logo img {
    height: 25px; }

  .menu-mobile {
    top: 15px; }

  .btn-search-mb {
    margin-top: 3px; }

  .header-slide-home {
    padding: 30px 0 !important; }

  .banner-pagedetail .content-bannerhead .imgs-banner img {
    margin-top: 40px;
    height: 300px !important; }

  .video-takas .content-video .info-video p {
    -webkit-line-clamp: inherit; }

  .video-takas .overlay._active iframe {
    height: 290px !important; }

  .video-takas .overlay {
    height: 290px !important; }

  .video-takas .video-cans {
    height: 290px !important; }

  .video-takas .content-video .videos {
    height: 290px !important; }

  .tab-content .row .col-md-5 .col-infor-tab {
    margin-top: 0; }

  .tabs-info .tab-content .col-infor-tab h3 {
    max-width: 80%;
    margin: 0 auto 10px auto; }

  .product-takas.bg-gray {
    padding-bottom: 40px; }

  .services-takas .item-services h4 {
    margin: 20px 0 10px 0;
    -webkit-line-clamp: inherit; }

  .uudiem-takas .row .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%; }
    .uudiem-takas .row .col-md-3 .item-solution {
      min-height: auto; }

  header .btn-common, header .btn-common-border {
    right: 15px;
    bottom: 50px;
    margin: 70px 0; }

  .title-section h2 {
    max-width: 100%;
    padding: 0 !important; }

  .tintuc-sukien .items-news {
    flex-flow: column-reverse; }
    .tintuc-sukien .items-news .col-md-7, .tintuc-sukien .items-news .col-md-5 {
      padding: 0; }
  .tintuc-sukien .info-news {
    margin-top: 15px; }

  .tintuc .items-news .info-news p {
    -webkit-line-clamp: inherit; }

  .tintuc .info-newsright .title-news-right h5 a {
    -webkit-line-clamp: inherit; }

  .tintuc .info-newsright .title-news-right h5 {
    -webkit-line-clamp: inherit; }

  .contact-takas {
    padding-bottom: 20px; }
    .contact-takas .item-contact {
      min-height: initial !important;
      margin-bottom: 20px; }
      .contact-takas .item-contact img {
        height: 50px; }
      .contact-takas .item-contact .btn-common {
        position: initial !important; }

  .search-head {
    top: 45px;
    left: 0;
    width: 100%; }

  .main-footer .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px; }

  .main-footer .col-md-3, .main-footer .col-md-2 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 20px; }

  footer .logo-footer {
    max-width: 100px; }

  footer .main-footer {
    padding: 30px 0 0 0; }

  footer .main-footer .info-footer p {
    font-size: 14px; }

  footer .main-footer .info-footer ul {
    margin-bottom: 0; }

  footer .main-footer .info-footer ul li {
    margin: 10px 0 0 0; }

  .infor-banner > img {
    height: 20px; }

  .gioi-thieu .overlay._active iframe {
    width: 100%;
    height: 190px; }

  .gioi-thieu .overlay {
    height: 190px; }

  .gioi-thieu .video-cans {
    height: 190px; }

  .tabs-info .nav-tabs .nav-link {
    font-size: 13px; }

  .loi-ich .colum-loi-ich {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 20px 20px 20px; }

  .product-crm .loi-ich {
    padding-bottom: 30px; }

  .loi-ich .btn-common {
    margin: 20px auto 0 auto !important; }

  .title-gold {
    font-size: 30px; }

  .doanh-nghiep .box-doi-tac {
    padding: 0 0 30px 0; }

  .doanh-nghiep {
    padding-top: 0; }
    .doanh-nghiep .section-doi-tac .title-gold {
      font-size: 45px; }
    .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .logo-doi-tac .box-logo-dtac .logo-dtac {
      padding: 2px;
      margin: 3px;
      align-items: center;
      display: inline-flex;
      width: 30% !important; }
    .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .title-section {
      max-width: 90%; }
    .doanh-nghiep .ss-result {
      padding-top: 30px; }

  .bang-gia .row .col-md-6 .box-grow {
    padding: 20px; }

  .bang-gia .box-grow .yellow-price {
    margin: 0 0 20px 0; }

  .question {
    padding-bottom: 30px; }

  .question .panel-title > a {
    padding: 0 0 15px 0;
    line-height: 34px; }

  .question .panel-default > .panel-heading + .panel-collapse > .panel-body {
    padding-left: 36px; }

  .loi-ich-hrm .show-neighbors .carousel-control-next {
    width: inherit; }

  .loi-ich-hrm .show-neighbors .carousel-control-prev {
    width: inherit; }

  .product-hrm .loi-ich-hrm {
    padding-top: 0 !important; }
  .product-hrm .gioi-thieu {
    padding-bottom: 30px; }
  .product-hrm .product-takas {
    padding-top: 0 !important; }

  .doanh-nghiep .box-doi-tac .dt-doanh-nghiep .title-section h3 a {
    font-size: 20px; }

  .loi-ich-hrm .show-neighbors .carousel-inner {
    width: 100%;
    left: inherit; }

  .loi-ich-hrm .item__third {
    width: 100% !important;
    margin: 0 auto;
    height: 100%; }

  .loi-ich-hrm .item__third .slider-tick {
    padding-left: 40px;
    -webkit-line-clamp: inherit; }

  .loi-ich-hrm .carousel-inner .row {
    padding: 25px 40px; }

  .loi-ich-hrm .show-neighbors .item__third:first-child, .loi-ich-hrm .show-neighbors .item__third:last-child {
    display: none !important; }

  .loi-ich-hrm .thumnaisl-avatar a img {
    height: 180px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center; }

  .sang-tao .soul-sang-tao {
    padding-top: 0; }

  .sang-tao .title-section, .cong-nghe .title-section {
    max-width: 100%; }

  .sang-tao .big-box-percent {
    margin-bottom: 25px;
    display: inline-block; }
    .sang-tao .big-box-percent .box-thumnaisl {
      height: 100%;
      justify-content: unset !important; }
      .sang-tao .big-box-percent .box-thumnaisl p {
        font-size: 60px; }
      .sang-tao .big-box-percent .box-thumnaisl span {
        font-size: 49px; }
    .sang-tao .big-box-percent .text-percent {
      padding-left: 0 !important;
      margin-top: 30px; }

  .title-app {
    font-size: 18px;
    line-height: 34px;
    max-width: 100%; }

  .chung-toi .soul-chung-toi .col-md-3 {
    flex: 0 0 50%;
    max-width: 50%; }

  .chung-toi .box-product {
    margin-bottom: 25px; }

  .chung-toi .box-product .thumnaisl-avatar {
    margin-bottom: 15px; }

  .ss-thlogo .col-md-2 {
    width: 50%;
    text-align: center; }

  .big-box-du-an .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%; }

  .line-step {
    display: none; }

  .quy-trinh {
    padding-bottom: 0; }

  .soul-quy-trinh .box-text {
    margin-bottom: 20px;
    padding: 0 !important; }
    .soul-quy-trinh .box-text .numberstep {
      margin-bottom: 10px !important; }

  .du-an-ht .info-news {
    left: 15px;
    width: 90%; }

  .du-an-ht .col-md-6 {
    margin: 0 0 150px; }

  .ser-system .bg-system {
    padding-top: 30px !important; }
  .ser-system .loi-ich-hrm {
    padding-top: 30px !important; }

  .services-app .quy-trinh {
    padding-top: 0 !important; }
    .services-app .quy-trinh .title-section {
      max-width: 100%; }
  .services-app .du-an-ht-app {
    padding-top: 10px !important; }
    .services-app .du-an-ht-app .col-md-4 {
      flex: 0 0 100%;
      max-width: 100%; }

  .big-box-du-an .box-shadow {
    padding: 30px 20px 20px 20px; }

  .big-box-du-an .box-shadow .box-text h4 {
    margin-bottom: 3px;
    -webkit-line-clamp: inherit; }

  .big-box-du-an .box-shadow .box-text {
    margin-top: 20px; }

  .chung-toi .soul-chung-toi .box-product h4 {
    max-width: 100%; }

  .gioi-thieu-app .text-app {
    display: inline-block; }

  .gioi-thieu-app .text-app {
    margin-bottom: 20px; }
    .gioi-thieu-app .text-app ul {
      margin-right: 0;
      margin-bottom: 0; }
      .gioi-thieu-app .text-app ul li {
        -webkit-line-clamp: inherit; }

  .about-us .video-aboutus {
    padding-bottom: 25px; }

  .ss-dinh-huong .dinh-huong {
    margin-bottom: 20px; }
  .ss-dinh-huong .title-section {
    margin: 0 auto; }

  .gia-tri {
    padding-bottom: 30px; }
    .gia-tri .box-shadow {
      margin-top: 20px;
      text-align: center; }
      .gia-tri .box-shadow .box-text {
        margin-top: 10px; }
        .gia-tri .box-shadow .box-text p {
          text-align: justify;
          max-width: 100%; }
        .gia-tri .box-shadow .box-text h4 {
          margin-bottom: 5px; }

  .bg-tabnews .nav {
    max-width: 500px; }
    .bg-tabnews .nav .nav-link {
      font-size: 16px; }

  .news .row .col-md-7 {
    flex: 0 0 100%;
    max-width: 100%; }
  .news .row .col-md-5 {
    flex: 0 0 100%;
    max-width: 100%; }
    .news .row .col-md-5 .item-news-right {
      margin-bottom: 20px; }
      .news .row .col-md-5 .item-news-right a {
        line-height: 24px;
        font-weight: 400;
        font-size: 14px; }
      .news .row .col-md-5 .item-news-right .row {
        flex-direction: row-reverse;
        align-items: flex-start; }
        .news .row .col-md-5 .item-news-right .row .col-md-7 {
          flex: 0 0 60%;
          max-width: 60%;
          padding-left: 15px; }
          .news .row .col-md-5 .item-news-right .row .col-md-7 .content-title-news a {
            -webkit-line-clamp: 3; }
        .news .row .col-md-5 .item-news-right .row .col-md-5 {
          flex: 0 0 40%;
          max-width: 40%;
          padding: 0 0 0 15px; }

  .listnews {
    padding-bottom: 0;
    padding-top: 0 !important; }
    .listnews .col-md-3 {
      flex: 0 0 100%;
      max-width: 100%; }
      .listnews .col-md-3 a {
        line-height: 24px !important; }
      .listnews .col-md-3 .box-news {
        margin-bottom: 20px;
        display: flex;
        align-items: flex-start; }
        .listnews .col-md-3 .box-news .thumnaisl-avatar {
          width: 40%; }
        .listnews .col-md-3 .box-news .content-title-news {
          padding-left: 15px;
          width: 60%;
          margin-top: 0; }
          .listnews .col-md-3 .box-news .content-title-news a {
            -webkit-line-clamp: 3;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px  !important; }

  .listnews-full {
    padding-top: 0 !important; }
    .listnews-full .content-infor {
      margin-top: 15px; }
    .listnews-full .item-news-right {
      margin-bottom: 20px; }
      .listnews-full .item-news-right .row .col-md-4 {
        width: 45%; }
      .listnews-full .item-news-right .row .col-md-8 {
        width: 55%;
        padding-left: 0; }
        .listnews-full .item-news-right .row .col-md-8 .content-infor {
          margin-top: 0; }
          .listnews-full .item-news-right .row .col-md-8 .content-infor .content-title-news a {
            line-height: 24px;
            font-weight: 400;
            font-size: 14px; }

  .detail-blog .infor-banner h1 {
    -webkit-line-clamp: inherit; }

  .pagging-page ul li a, .pagging-page ul li span {
    margin: 3px; }

  .pagging-page {
    margin-top: 20px; }

  .ss-thanks-you .thanks-you .box-text {
    margin: 30px 0 30px 0; }

  .ss-thanks-you .thanks-you .box-text .title-thanks {
    font-size: 20px; }

  .ss-thanks-you .thanks-you img {
    height: 200px; }

  .page-404 .soul-404 img {
    height: 200px; }
  .page-404 .soul-404 .box-text {
    margin: 10px 40px 30px 40px; }
    .page-404 .soul-404 .box-text .text-404 {
      font-size: 50px;
      margin-bottom: 0; }
    .page-404 .soul-404 .box-text h5 {
      line-height: 28px; }

  .soul-detail-blog {
    padding-top: 0  !important; }
    .soul-detail-blog .soul-posts {
      margin-bottom: 10px; }
    .soul-detail-blog .mini-posts {
      padding-bottom: 15px;
      margin-top: 15px; }
      .soul-detail-blog .mini-posts h5 {
        margin-bottom: 0;
        font-weight: 400; }
      .soul-detail-blog .mini-posts .box-text {
        display: none; }

  .numberstep img {
    display: none; }

  .about-us .content-bannerhead .soul-tu-van .box-text {
    margin-top: 20px; }

  .about-us .content-bannerhead .soul-tu-van .box-text h2 {
    font-size: 40px  !important; }

  .about-us .box-item img {
    height: 60px  !important; }

  .du-an-ht-app .title-section {
    padding-top: 30px; }

  .breadcrumbs {
    margin-top: 45px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 15px; }

  .detail-blog .infor-banner {
    transform: translate(0); }

  .detail-blog .banner-pagedetail {
    padding-bottom: 30px; }

  .ket-qua-search p {
    color: #F4C522;
    font-size: 22px;
    text-align: left;
    padding-bottom: 0; }

  .ket-qua-search .box-text span {
    line-height: 28px; }
  .ket-qua-search .box-text h5 {
    line-height: 28px; }

  .loi-ich-hrm .item__third {
    box-shadow: none; }

  .contact-section .title-section p {
    max-width: 100%; }

  .contact-section {
    padding: 0; }

  .contact-section .form-group {
    margin-bottom: 20px; }

  .contact-section .col-md-6 {
    width: 50%; }

  .modal-content {
    padding: 20px 0  !important; }

  .bg-tabnews .nav-tabs .nav-item {
    margin: 0 5px; } }

/*# sourceMappingURL=responsive.css.map */
