@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;500;600;700;800&family=Roboto:wght@400;500;700;900&display=swap");
.container {
  max-width: 1200px; }

body {
  font-family: 'Roboto', sans-serif;
  color: #474647;
  font-size: 14px;
  line-height: 24px;
  margin: auto; }

a {
  text-decoration: none;
  color: #474647;
  outline: none;
  -webkit-transition: color .3s ease;
  transition: color 0.3s ease; }
  a:hover {
    text-decoration: none;
    color: #F4C522; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  text-decoration: none; }

img {
  max-width: 100%; }

button {
  outline: none; }

.text-tranform {
  text-transform: uppercase; }

h1 {
  font-size: 55px; }

h2 {
  font-size: 36px;
  font-weight: 600; }

h3 {
  font-size: 28px !important;
  font-weight: 600;
  margin-bottom: 15px; }

h4 {
  font-size: 20px;
  font-weight: 600; }

h5 {
  font-size: 18px;
  font-weight: 600; }

h6 {
  font-size: 16px; }

p {
  font-size: 16px;
  text-align: justify; }

b,
span,
label {
  font-size: 13px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mb-0 {
  margin-bottom: 0; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.m10 {
  margin: 10px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.m25 {
  margin: 25px; }

.m30 {
  margin: 30px; }

.m35 {
  margin: 35px; }

.m40 {
  margin: 40px; }

.m45 {
  margin: 45px; }

.m50 {
  margin: 50px; }

.m55 {
  margin: 55px; }

.m60 {
  margin: 60px; }

.m65 {
  margin: 65px; }

.m70 {
  margin: 70px; }

.ml-0 {
  margin-left: 0; }

.mr-0 {
  margin-right: 0; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.p25 {
  padding: 25px; }

.p30 {
  padding: 30px; }

.p35 {
  padding: 35px; }

.p40 {
  padding: 40px; }

.p45 {
  padding: 45px; }

.p50 {
  padding: 50px; }

.pl-pr-50 {
  padding: 0 50px; }

.p55 {
  padding: 55px; }

.p60 {
  padding: 60px; }

.p65 {
  padding: 65px; }

.p70 {
  padding: 70px; }

.pl-0 {
  padding-left: 0; }

.pr-0 {
  padding-right: 0; }

.pl-0 {
  padding-left: 10px; }

.pr-0 {
  padding-right: 10px; }

.pt-0 {
  padding-top: 0; }

.pb-70 {
  padding-bottom: 70px; }

.pb-0 {
  padding-bottom: 0; }

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none; }

section {
  float: left;
  overflow: hidden;
  width: 100%;
  padding-bottom: 40px;
  padding-top: 40px; }

input:focus,
textarea:focus {
  border-color: #F4C522 !important;
  outline: none;
  box-shadow: none !important; }

.breadcrumbs {
  margin-top: 30px;
  color: #8692A6;
  display: flex;
  align-items: center; }
  .breadcrumbs a {
    font-weight: normal;
    color: #8692A6;
    font-size: 12px; }
    .breadcrumbs a i {
      margin: 0 !important; }
      .breadcrumbs a i::before {
        font-size: 15px; }
  .breadcrumbs i {
    margin: 0 8px;
    margin-top: -6px; }
    .breadcrumbs i::before {
      font-size: 10px; }

.title-section h2 {
  display: inline-block;
  width: 100%;
  font-weight: 600;
  line-height: 1.38;
  text-align: center;
  margin-bottom: 8px; }
  .title-section h2 a {
    cursor: pointer;
    color: #474647;
    align-items: baseline;
    justify-content: center; }
  .title-section h2:hover {
    text-decoration: none; }
.title-section p {
  max-width: 90%;
  margin: auto;
  text-align: center;
  font-weight: 400;
  line-height: 1.75; }

.btn-link-center {
  width: 100%;
  display: inline-block;
  text-align: center; }

header .close-search,
header .ti-close,
header .ti-menu {
  display: none; }

.center {
  text-align: center;
  display: inline-block;
  width: 100%; }

.btn-common-border {
  background: white;
  border: 1px solid #474647;
  color: #474647;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 122px;
  padding: 20px 30px;
  transition: all .3s ease-in-out;
  height: 45px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: fit-content; }
  .btn-common-border i {
    margin-left: 10px;
    font-size: 16px; }
  .btn-common-border img {
    margin-left: 10px;
    font-size: 16px; }
  .btn-common-border:hover {
    opacity: 0.7;
    color: #474647; }

.header-slide-home {
  padding: 100px 0 !important; }
  .header-slide-home .imgs-banner img {
    height: 500px !important; }

.btn-common, .btn-common-secon {
  justify-content: center;
  display: flex;
  align-items: center;
  background: #F4C522;
  border-radius: 122px;
  padding: 20px 30px;
  color: #474647;
  transition: all .3s ease-in-out;
  height: 45px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: fit-content; }
  .btn-common i, .btn-common-secon i {
    margin-left: 8px;
    font-size: 12px; }
  .btn-common img, .btn-common-secon img {
    margin-left: 10px;
    font-size: 16px; }
  .btn-common:hover, .btn-common-secon:hover {
    opacity: 0.7;
    color: #474647; }

.btn-common-secon {
  background: #474647 !important;
  color: white; }
  .btn-common-secon:hover {
    opacity: 0.7;
    color: white; }

.thumnaisl-avatar a {
  position: relative;
  padding-top: 56%;
  display: block;
  overflow: hidden;
  border-radius: 2px; }
  .thumnaisl-avatar a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }

ul li {
  list-style: none; }

/* check-radio-custom */
.check-radio-custom {
  margin: 15px 0; }

.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

.check-radio-custom [type="radio"]:checked + label,
.check-radio-custom [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  display: inline-block;
  color: #222; }

.check-radio-custom [type="radio"]:checked + label:before,
.check-radio-custom [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #BFA145;
  border-radius: 100%;
  background: #fff; }

.check-radio-custom [type="radio"]:checked + label:after,
.check-radio-custom [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #BFA145;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.check-radio-custom [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

.check-radio-custom [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.check-radio-custom p {
  margin: 10px 0; }

/* -----------------Custom thanh srcoll-----------------*/
.scrollbar {
  height: 53vh;
  width: 100%;
  margin: auto;
  overflow-y: auto;
  padding: 0 10px; }

#style-1::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #cbcbcb; }

#style-1::-webkit-scrollbar {
  width: 1.5px;
  background-color: #ededed; }

#style-1::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: transparent; }

::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: transparent; }

::-webkit-scrollbar {
  width: 1px;
  height: 0;
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: transparent; }

/* -----------------Custom select box / input -----------------*/
input,
textarea {
  border: 1px solid #F1F1F1;
  height: 45px;
  padding: 10px 15px;
  background-color: white;
  width: 100%;
  font-size: 14px; }

textarea {
  width: 100%; }

.custom-select {
  position: relative;
  padding-left: 10px;
  background: #fff;
  height: 40px;
  border-radius: 2px;
  border: 1px solid #E5E5E5; }

.custom-select select {
  display: none;
  /*hide original SELECT element: */ }

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: 0.255em;
  content: "\e64b";
  font-family: 'themify';
  color: #ABABAB;
  top: 10px;
  right: 25px; }

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #474647;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 14px;
  padding-top: 3px;
  padding-left: 5px; }

/* Style items (options): */
.select-items {
  padding: 15px;
  overflow: hidden;
  width: 100%;
  position: absolute;
  background-color: white;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  box-shadow: -1px 1px 14px rgba(138, 139, 159, 0.15); }

.select-items div {
  padding: 10px 0; }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  color: #F4C522; }

/*# sourceMappingURL=system.css.map */
