@media only screen and (max-width: 400px) {
  .list-contact .btn-main-contact-2 {
    margin: 5px !important; }
  .list-contact .btn-main-contact {
    margin: 5px !important; }

  .template-cn-04 .list-contact .btn-main-contact-2,
  .template-cn-09 .list-contact .btn-main-contact-2 {
    padding: 15px 15px;
    margin: 10px 15px; }

  .social-share {
    margin: 14px 10px !important;
    width: 52px !important; } }
@media only screen and (max-width: 320px) {
  .template-cn-12 .thong-tin-ca-nhan .ho-ten,
  .template-cn-14 .thong-tin-ca-nhan .ho-ten {
    font-size: 20px !important; }
  .template-cn-12 .box-thong-tin,
  .template-cn-14 .box-thong-tin {
    padding: 40px 20px 20px 115px !important; }
  .template-cn-12 .avatar,
  .template-cn-14 .avatar {
    position: absolute;
    left: 20px;
    top: 40px;
    width: inherit; }
  .template-cn-12 .avatar .avatar-thumb,
  .template-cn-14 .avatar .avatar-thumb {
    width: 100px;
    height: 100px; } }

/*# sourceMappingURL=responsive.css.map */
