@media only screen and (max-width: 400px) {
  .list-contact {
    .btn-main-contact-2 {
      margin: 5px !important;
    }

    .btn-main-contact {
      margin: 5px !important;
    }
  }

  .template-cn-04,
  .template-cn-09 {
    .list-contact .btn-main-contact-2 {
      padding: 15px 15px;
      margin: 10px 15px;
    }
  }

  .social-share {
    margin: 14px 10px !important;
    width: 52px !important;
  }


}

@media only screen and (max-width: 320px) {

  .template-cn-12,
  .template-cn-14 {
    .thong-tin-ca-nhan {
      .ho-ten {
        font-size: 20px !important;
      }
    }

    .box-thong-tin {
      padding: 40px 20px 20px 115px !important;
    }

    .avatar {
      position: absolute;
      left: 20px;
      top: 40px;
      width: inherit;
    }

    .avatar .avatar-thumb {
      width: 100px;
      height: 100px;
    }
  }
}