@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;1,700&display=swap');
$border: #E6E6E6;
$text: #353535;
$text-alpha: #5C738D;

body {
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-size: 14px;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: #fff;
  color: $text;
}

.body-template {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  height: 100%;
  position: relative;
}

button:focus {
  outline: 0;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a:visited {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.thong-tin-ca-nhan {
  text-align: center;
  padding: 10px 20px;
}

.ho-ten {
  font-size: 24px;
  font-weight: 600;
  color: $text;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.nghe-nghiep {
  font-size: 16px;
  font-weight: 500;
  color: $text-alpha;
  margin-bottom: 5px;
}

.mo-ta {
  color: $text;
  margin-bottom: 8px;
}

.btn-common {
  font-size: 14px;
  color: $text;
  font-weight: 600;
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.08);
  border-radius: 28px;
  height: 45px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;

  &:hover {
    transition: all .3s ease-in-out;
    opacity: .8;
  }
}

.btn-scan-qr {
  position: absolute;
  right: 30px;
  top: 40px;
  width: 44px;
  max-height: 100%;

  svg {
    width: 100%;
    max-height: 100%;
  }
}

.btn-main-contact {
  background: $text;
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  padding: 20px;

  img,
  svg {
    height: 24px !important;
    width: 24px !important;
  }
}

.btn-main-contact-2 {
  background: $text;
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.08);
  padding: 20px 28px;
  border-radius: 8px;

  img,
  svg {
    height: 24px !important;
    width: 24px !important;
  }
}

.avatar-thumb {
  display: inline-block;
  width: 100%;

  a {
    position: relative;
    padding-top: 56%;
    display: block;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0;
    }
  }

}

.avatar {
  width: 80%;
  margin: 0 auto;
  text-align: center;

  .avatar-thumb {
    height: 120px;
    width: 120px;
    background: #D7DCE3;
    border: 4px solid #fff;
    border-radius: 50%;

    a {
      padding-top: 100%;

      img {
        border-radius: 50%;
      }
    }
  }
}

.modal-dialog {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.modal-content {
  margin: auto 10px;
  border: 0;
  border-radius: 10px;
  padding: 15px;
  max-width: 600px;
}

.modal-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: $text;
}

.modal-body {
  padding: 0;
  text-align: center;
}

.modal-header {
  border-bottom: 0;
  justify-content: center;
  padding-top: 0;

  .close {
    position: absolute;
    right: 0;
    bottom: -40px;
    opacity: 1;
    left: 0;

    i {
      font-size: 20px;
      color: #fff;
      opacity: 1;
      font-weight: normal;
      text-shadow: none;
      background-color: #ffffff5e;
      padding: 10px;
      border-radius: 50%;
    }
  }
}

.btn-share-top {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 15px;

  img {
    height: 28px;
  }
}

.btn-save-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  padding: 0 24px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #CA9A55;
  color: white;
  transition: all .3s ease-in-out;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  right: 0;
  max-width: 600px;
  margin: 0 auto;
  img {
    margin-right: 5px;
  }

  &:nth-child(2) {
    img {
      margin-right: 0;
    }
  }

  &:hover {
    color: white;
  }
}

.action-save-contact-2 {
  padding: 10px 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  max-width: 600px;
  margin: 0 auto;

  .btn-save-contact {
    position: initial;
    border-radius: 12px;
    width: 80%;

    &:last-child {
      width: 20%;
      margin-left: 5px;
    }
  }
}

.img-scan-qr {
  height: 110px;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.list-contact {
  display: inline-block;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 12px 0 20px;

  a {
    margin: 10px;
    display: inline-block;
    transition: all .3s ease-in-out;
  }
}

.list-social {
  padding: 0 20px;
  display: inline-block;
  width: 100%;

  .btn-common {
    margin: 15px 0;
  }
}

.social-share {
  display: inline-block;
  text-align: center;
  color: $text-alpha;
  font-size: 13px;
  margin: 14px 9px;
  width: 70px;

  img {
    margin-bottom: 5px;
    height: 34px;
  }
}

.title-copy-link {
  text-align: left;
  color: $text-alpha;
  font-weight: 600;
  margin: 15px 0;
}

.copy-link {
  position: relative;
  margin-bottom: 15px;

  input {
    height: 45px;
    padding: 0 10px;
    border: 1px solid $border;
    color: $text;
    font-size: 15px;
    border-radius: 20px;
    width: 100%;

    &::placeholder {
      color: #E6E6E6;
    }
  }

  img {
    position: absolute;
    right: 10px;
    top: 12px;
    height: 24px;
  }
}

.content-qr {
  position: relative;

  img {
    width: 100%;
  }

  .avatar {
    position: absolute;
    top: 160px;
    right: 0;
    left: 0;
    width: 50px;

    .avatar-thumb {
      height: 50px;
      width: 50px;
    }
  }
}

.content-tem {
  position: relative;
  z-index: 1;
}

.logo-bottom {
  height: 40px;
  text-align: center;
  display: block;
  margin: 60px auto 0;
}

.line-border {
  width: 100%;
  height: 1px;
  background: $border;
  margin: 5px auto;
}

.box-thong-tin-dn {
  display: block;
  padding: 40px 0 0;

  .title-ten-cty {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
    color: $text;
  }

  p {
    color: $text;
    border-bottom: 1px solid #fff;
    padding: 16px 0;
    margin-bottom: 0;
    position: relative;
    padding-left: 22px;

    &:last-child {
      border-bottom: none !important;
    }
  }

  svg {
    position: absolute;
    top: 18px;
    left: 0;
  }

}


/* -------------------Template 01 -------------------*/
.template-cn-01 {
  padding: 40px 15px 70px;
  position: relative;

  &::before {
    background: #015343;
    position: fixed;
    content: '';
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    max-width: 600px;
    margin: 0 auto;
    right: 0;
  }

  .thong-tin-ca-nhan {
    padding: 18px 20px 10px;
  }

  .content-tem {
    background: white;
    padding: 65px 0px 30px;
    margin: 50px 0px 0;
    border-radius: 30px;
  }

  .avatar {
    position: absolute;
    top: 0px;
    z-index: 2;
    margin: -50px auto;
    width: 100%;
  }

  .list-contact {

    .btn-main-contact-2 {
      padding: 20px 24px;
      margin: 10px 13px;
      background: white;

      svg {
        path {
          fill: #015343;
        }
      }
    }
  }

  .btn-common {
    border: 1px $text solid;
    background: transparent;
    box-shadow: inherit;

    &:hover {
      color: #015343;
    }
  }

  .btn-save-contact {
    background: #F1C484;
  }

  .bg-tem-01 {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .box-thong-tin-dn {
    .title-ten-cty {
      color: #F1C484;
    }

    p {
      color: white;
      border-bottom: 1px #67988E solid;
    }
  }
}

/* -------------------End Template 01 -------------------*/

/* -------------------Template 02 -------------------*/
.template-cn-02 {
  background-color: #172933;
overflow: hidden;
position: relative;
padding-bottom: 60px;


  &::before {
    background: #172933;
    position: fixed;
    content: '';
    display: inline-block;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    right: 0;
    z-index: -1;
  }

  &::after {
    background: #F28A27;
    position: absolute;
    content: '';
    display: inline-block;
    top: 0px;
    left: 50%;
    height: 100%;
    width: 900px;
    transform: translateX(-50%);
    z-index: 1;
  }

  .circle {
    display: block;
    width: 100%;
    height: 100%;

    &::before {
      background: #F28F30;
      position: absolute;
      content: '';
      display: inline-block;
      top: 0px;
      left: 50%;
      height: 100%;
      width: 1400px;
      border-radius: 50%;
      transform: translateX(-50%);
      z-index: 2;
    }

    &::after {
      background: #EE8B2A;
      position: absolute;
      content: '';
      display: inline-block;
      top: 30px;
      height: 100%;
      width: 1400px;
      border-radius: 50%;
      transform: translateX(-50%);
      left: 50%;
      z-index: 2;
    }

    .circle-2 {
      &::before {
        background: #DE7C1C;
        position: absolute;
        content: '';
        display: inline-block;
        top: 80px;
        left: 50%;
        height: 100%;
        width: 1400px;
        border-radius: 50%;
        transform: translateX(-50%);
        z-index: 3;
      }

      &::after {
        background: #172933;
        position: absolute;
        content: '';
        display: inline-block;
        top: 90px;
        left: 50%;
        height: 100%;
        width: 1400px;
        border-radius: 50%;
        transform: translateX(-50%);
        z-index: 3;
      }
    }

    .content-tem {
      z-index: 5;
    }
  }

  .btn-common {
    &:hover {
      color: #F28B26;
      opacity: inherit;
    }
  }

  .thong-tin-ca-nhan {
    .ho-ten {
      color: white;
    }

    .nghe-nghiep {
      color: white;
    }

    .mo-ta {
      color: white;
    }
  }

  .btn-save-contact {
    background: #F28B26;
  }

  .list-contact {
    .btn-main-contact {
      background: #F28B26;
    }
  }

  .content-tem {
    padding-top: 40px;
  }

  .box-thong-tin-dn {
    padding: 40px 20px 0;

    .title-ten-cty {
      color: #F28A27;
    }

    p {
      color: white;
      border-bottom: 1px #747F85 solid;
    }
  }
}

/* -------------------End Template 02 -------------------*/

/* -------------------Template 03 -------------------*/
.template-cn-03 {

  padding-top: 20px;
  position: relative;

  .contact-social {
    margin-top: 20px;
    position: relative;
    padding-bottom: 70px;
    background: #EFDFC8;
    border-radius: 40px 40px 0 0;

    &::before {
      border-radius: 40px 40px 0 0;
      background: #EFDFC8;
      position: fixed;
      content: '';
      display: inline-block;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      max-width: 600px;
      margin: 0 auto;
      right: 0;
    }
  }

  .list-contact {
    .btn-main-contact {
      margin: 10px 13px;
      background: #7A5D31;
    }
  }

  .btn-common {
    border: 1px #7A5D31 solid;
    background: white;
    box-shadow: inherit;
    color: #7A5D31;

    &:hover {
      color: #7A5D31;
    }
  }

  .btn-save-contact {
    background-color: #7A5D31;
  }

  .box-thong-tin-dn {
    padding: 40px 20px 0;

    .title-ten-cty {
      color: #7A5D31;
    }

    p {
      border-bottom: 1px #C9BCAA solid;
    }
  }
}

/* -------------------End Template 03 -------------------*/


/* -------------------Template 04 -------------------*/
.template-cn-04 {
  padding-bottom: 60px;
  position: relative;

  &::before {
    background: #099775;
    position: fixed;
    content: '';
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    right: 0;
  }

  .avatar {
    display: inline-block;
    width: 100%;
    position: relative;

    .avatar-thumb {
      height: 100%;
      width: 100%;
      background: transparent;
      border: none;
      border-radius: 0;

      a {
        padding-top: 136%;
      }

      img {
        border-radius: 0 0 24px 24px;
      }
    }

    &::after {
      position: absolute;
      bottom: 0;
      background: linear-gradient(179.33deg, rgba(9, 151, 117, 0) 0.58%, #099775 99.42%);
      opacity: 0.5;
      display: inline-block;
      content: '';
      width: 100%;
      height: 50%;
      left: 0;
    }
  }

  .thong-tin-ca-nhan {
    position: absolute;
    bottom: 0;
    z-index: 1;
    text-align: left;
    padding: 0 20px 20px 20px;

    .ho-ten {
      color: white;
    }

    .nghe-nghiep {
      color: white;
    }

    .mo-ta {
      color: white;
    }

  }

  .list-contact {
    .btn-main-contact-2 {
      padding: 20px 24px;
      margin: 10px 13px;
      background: rgba(255, 255, 255, 0.2);
    }
  }

  .btn-common {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    color: white;

    &:hover {
      color: white;
    }
  }

  .bg-tem04 {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;

  }

  .btn-save-contact {
    background-color: #CA9A55;
  }

  .box-thong-tin-dn {
    padding: 40px 20px 0;

    .title-ten-cty {
      color: white;
    }

    p {
      color: white;
      border-bottom: 1px #3AAC91 solid;
    }
  }
}

/* ------------------- End Template 04 -------------------*/


/* -------------------Template 05 -------------------*/
.template-cn-05 {
  padding-bottom: 70px;
  position: relative;

  &::before {
    background: #060303;
    position: fixed;
    content: '';
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    max-width: 600px;
    margin: 0 auto;
    right: 0;
  }

  .avatar {
    background: linear-gradient(180.05deg, rgba(202, 154, 85, 0.7) 0.08%, rgba(212, 196, 172, 0.245) 54.21%, rgba(217, 217, 217, 0) 100%);
    border-radius: 0px 0px 80px 0px;
    width: 100%;
    text-align: inherit;
    padding: 20px 20px 0;

    .avatar-thumb {
      border: 4px solid #CA9A55;
    }
  }

  .thong-tin-ca-nhan {
    text-align: left;
    padding: 12px 20px 10px;

    .ho-ten {
      color: #CA9A55;
    }

    .nghe-nghiep {
      color: #CA9A55;
    }

    .mo-ta {
      color: white;
      opacity: .6;
    }
  }

  .list-contact {
    padding: 0 15px;
    display: block;
    width: 100%;

    .box-contact {
      background: linear-gradient(82.78deg, rgba(255, 255, 255, 0) 0%, rgba(225, 197, 158, 0.2) 23.3%, rgba(202, 154, 85, 0.2) 93.03%);
      border-radius: 40px 40px 40px 0px;
    }
  }

  .btn-main-contact {
    background: transparent;
    border: 1px #CA9A55 solid;
  }

  .btn-save-contact {
    background: linear-gradient(90.92deg, #A3723D 10.24%, #F3C872 62.98%, #A1772F 100%);
  }

  .btn-common {
    border-radius: 8px;
    background: transparent;
    border: 1px #CA9A55 solid;
    color: #CA9A55;
  }

  .bg-tem05 {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }

  .box-thong-tin-dn {
    padding: 40px 20px 0;

    .title-ten-cty {
      color: #CA9A55;
    }

    p {
      color: #CA9A55;
      border-bottom: 1px #2C2112 solid;
    }
  }
}

/* -------------------End Template 05 -------------------*/


/* -------------------Template 06 -------------------*/
.template-cn-06 {
  padding-bottom: 70px;

  &::before {
    background: #FAFAFA;
    position: fixed;
    content: '';
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    max-width: 600px;
    margin: 0 auto;
    right: 0;
  }

  .box-head {
    background: #021638;
    border-radius: 0px 0px 50px 50px;
    width: 100%;
    padding: 20px 0 80px;
    position: relative;
  }

  .pattern-left {
    position: absolute;
    width: 66px;
    height: 94px;
    top: 0;
    left: 30px;
    display: flex;
    justify-content: space-around;

    .pattern {
      width: 14px;
      max-height: 100%;
      border-radius: 0 0 20px 20px;
    }

    .yellow {
      background: #FDAC16;
      height: 100%;
    }

    .violet {
      background: #877BFC;
      height: 74px;
    }

    .white {
      background: #FFFFFF;
      height: 54px;
    }
  }

  .list-social {
    margin-top: 60px;
  }

  .thong-tin-ca-nhan {

    .ho-ten {
      color: #FDAC16;
    }

    .nghe-nghiep {
      color: white;
    }

    .mo-ta {
      color: white;
      opacity: .6;
      width: 80%;
      margin: 0 auto;
    }
  }

  .box-contact {
    padding: 0 20px;
    display: block;
    width: 100%;
    position: absolute;
  }

  .list-contact {
    background: #FDAC16;
    border-radius: 30px;
    padding: 15px 20px;


    .btn-main-contact {
      background: white;
      box-shadow: inherit;

      svg {
        path {
          stroke: #877BFC;
        }
      }
    }
  }

  .btn-save-contact {
    background: #877BFC;
  }

  .btn-common {
    border-radius: 8px;

    &:hover {
      color: #FDAC16;
      opacity: inherit;
    }
  }

  .box-thong-tin-dn {
    padding: 20px 20px 0px;

    .title-ten-cty {
      color: #FDAC16;
    }

    p {
      border-bottom: 1px #D6D6D6 solid;
    }
  }

  .thong-tin-dn {
    background: white;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.08);
  }
}

/* -------------------End Template 06 -------------------*/


/* -------------------Template 07 -------------------*/
.template-cn-07 {
  position: relative;
  padding: 0 0 70px;

  .content-tem {
    padding-top: 20px;
  }

  .pattern-01 {
    position: absolute;
    width: 40px;
    max-height: 100%;
    top: 0;
    left: 0;
  }

  .pattern-02 {
    position: absolute;
    width: 70px;
    max-height: 100%;
    top: 0;
    right: 0;
  }

  .thong-tin-ca-nhan {
    margin-bottom: 8px;

    .ho-ten {
      color: #424F99;
    }

    .nghe-nghiep {
      color: #E5871C;
    }

    .mo-ta {
      color: $text-alpha;
      opacity: .6;
      width: 80%;
      margin: 0 auto;
    }
  }

  .btn-main-contact-2 {
    background: white;

    svg {
      path {
        fill: #E5871C;
      }
    }
  }

  .btn-common {
    color: #424F99;
    background: white;
    border-radius: 8px;
    border: 1px #424F99 solid;
  }

  .btn-save-contact {
    background-color: #424F99;
  }

  .box-thong-tin-dn {
    padding: 40px 20px 0;

    .title-ten-cty {
      color: #424F99;
    }

    p {
      border-bottom: 1px #D6D6D6 solid;
    }
  }
}

/* -------------------End Template 07 -------------------*/



/* -------------------Template 08 -------------------*/
.template-cn-08 {
  padding: 20px 0 70px;

  .thong-tin-ca-nhan {
    margin-bottom: 8px;

    .ho-ten {
      color: $text;
    }

    .nghe-nghiep {
      color: $text-alpha;
    }

    .mo-ta {
      color: $text-alpha;
      opacity: .6;
      width: 80%;
      margin: 0 auto;
    }
  }

  .btn-main-contact {
    background: transparent;
    border: 1px #BC254A solid;
    box-shadow: inherit;

    svg {
      path {
        fill: #BC254A;
      }
    }
  }

  .btn-common {
    color: white;
    background: #BC254A;
    border-radius: 28px;
  }

  .action-save-contact-2 {
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.18);
    background: white;
  }

  .btn-save-contact {
    background-color: #BC254A;
  }

  .box-thong-tin-dn {
    padding: 40px 20px 0;

    .title-ten-cty {
      color: #BC254A;
    }

    p {
      border-bottom: 1px #D6D6D6 solid;
    }
  }
}

/* -------------------End Template 08 -------------------*/



/* -------------------Template 09 -------------------*/
.template-cn-09 {
  position: relative;
  padding: 0 0 60px;

  .pattern-09 {
    position: absolute;
    top: 8px;
    right: 0;
    width: 40px;
    max-height: 100%;
  }

  .list-contact {
    padding-bottom: 25px;
    display: inline-block;
    width: 100%;
    border-bottom: 8px #F8FBFE solid;
  }

  .avatar {
    margin-top: 20px;
    width: 100%;
    bottom: -30px;
  }

  .box-thong-tin {
    background: #265BD0;
    padding: 20px 0 95px;
    position: relative;
  }

  .contact-social {
    position: relative;
    padding-top: 30px;
  }

  .pattern-09-2 {
    width: 100%;
    position: absolute;
    top: -40px;
    max-height: 80px;
  }

  .avatar {
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .thong-tin-ca-nhan {
    margin-bottom: 15px;

    .ho-ten {
      color: white;
    }

    .nghe-nghiep {
      color: white;
    }

    .mo-ta {
      color: white;
      opacity: .6;
      width: 80%;
      margin: 0 auto;
    }
  }

  .btn-main-contact-2 {
    background: #F1B636;
  }

  .btn-common {
    background: #F5F8FF;
    border: 1px #DEE8FF solid;
    color: #072876;
  }

  .btn-save-contact {
    background: #265BCF;
  }

  .box-thong-tin-dn {
    padding: 40px 20px 0;

    .title-ten-cty {
      color: #265BCF;
    }

    p {
      border-bottom: 1px #D6D6D6 solid;
    }
  }

  @media only screen and (max-width: 320px) {
    .pattern-09-2 {
      min-height: 90px;
    }
  }
}

/* -------------------End Template 09 -------------------*/



/* -------------------Template 10 -------------------*/
.template-cn-10 {
  position: relative;

  .avatar {
    width: 100%;

    .avatar-thumb {
      border-radius: 10px;

      a {
        img {
          border-radius: 10px;
        }
      }
    }
  }

  .box-thong-tin {
    background: #4F52EF;
    padding: 20px 0 40px;
  }

  .contact-social {
    padding: 0 15px 70px;
    display: block;
    width: 100%;
    margin-top: -40px;

    &::before {
      background: #FAFAFA;
      position: fixed;
      content: '';
      display: inline-block;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      max-width: 600px;
      margin: 0 auto;
      right: 0;
    }
  }

  .box-contact-social {
    background: white;
    border-radius: 30px;
    box-shadow: 0px 0px 11px rgba(18, 38, 63, 0.05);
    width: 100%;
    padding: 0 20px 20px;
    margin-bottom: 15px;
  }

  .thong-tin-ca-nhan {
    margin-bottom: 15px;

    .ho-ten {
      color: white;
    }

    .nghe-nghiep {
      color: white;
    }

    .mo-ta {
      color: white;
      opacity: .6;
      width: 80%;
      margin: 0 auto;
    }
  }

  .list-social {
    padding: 0;
  }

  .btn-common {
    background: #F4F6FA;
    box-shadow: inherit;

    &:hover {
      color: #E06C6B;
      opacity: inherit;
    }
  }

  .btn-main-contact {
    background: #FFFFFF;
    border: 1px solid #E06C6B;
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.08);

    svg {
      path {
        fill: #E06C6B;
      }
    }
  }

  .btn-save-contact {
    background: #E06C6B;
  }

  .pattern {
    position: absolute;
  }

  .pattern-10 {
    width: 45px;
    max-height: 100%;
    left: 0;
    top: 60px;
  }

  .pattern-10-2 {
    width: 45px;
    max-height: 100%;
    right: 0;
    top: 0px;
  }

  .box-thong-tin-dn {
    padding: 40px 20px 0;

    .title-ten-cty {
      color: #E06C6B;
    }

    p {
      border-bottom: 1px #D6D6D6 solid;
    }
  }
}

/* -------------------End Template 10 -------------------*/



/* -------------------Template 11 -------------------*/
.template-cn-11 {
  display: block;
  width: 100%;

  &::before {
    background: #E9EBEF;
    position: fixed;
    content: '';
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    max-width: 600px;
    margin: 0 auto;
    right: 0;
  }

  .box-info {
    margin: -40px 15px 0;
    background: white;
    padding: 0 20px 20px;
    border-radius: 30px;
  }

  .avatar {
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: -1;

    .avatar-thumb {
      height: 100%;
      width: 100%;
      background: transparent;
      border: none;
      border-radius: 0;

      a {
        padding-top: 136%;
      }

      img {
        border-radius: 0;
      }
    }
  }

  .btn-common {
    &:hover {
      color: #F28B26;
      opacity: inherit;
    }
  }

  .btn-scan-qr {
    z-index: 1;
  }

  .btn-main-contact {
    background: #F28B26;
  }

  .btn-save-contact {
    background: #021638;
  }

  .content-tem {
    padding: 0 0 80px;
  }

  .list-social {
    padding: 0;
  }

  .list-contact {
    margin: 20px 0 0;
  }

  .thong-tin-ca-nhan {
    text-align: left;
    margin-bottom: 0;
    padding: 30px 0 3px;

    .ho-ten {
      color: #021638;
    }

    .nghe-nghiep {
      color: #021638;
    }

    .mo-ta {
      color: #021638;
      opacity: .6;
    }
  }

  .box-thong-tin-dn {
    padding: 40px 0 0;

    .title-ten-cty {
      color: #F28B26;
    }

    p {
      border-bottom: 1px #D6D6D6 solid;
    }
  }
}

/* -------------------End Template 11 -------------------*/



/* -------------------Template 12 -------------------*/
.template-cn-12 {
  padding-bottom: 70px;

  .box-thong-tin {
    display: flex;
    padding: 40px 20px 20px 140px;
    position: relative;
  }

  .thong-tin-ca-nhan {
    text-align: left;
    padding: 0 0 0 20px;

    .ho-ten {
      color: #5C61A5;
    }

    .nghe-nghiep {
      color: #5C61A5;
    }

    .mo-ta {
      color: #5C61A5;
      opacity: .6;
    }
  }

  .avatar {
    position: absolute;
    left: 20px;
    top: 40px;

    .avatar-thumb {
      border-radius: 10px;

      a {
        img {
          border-radius: 10px;
        }
      }
    }
  }

  .contact-social {
    padding: 0 15px;
    display: block;
    width: 100%;
  }

  .box-contact-social {
    border-radius: 30px;
    padding: 30px 20px 20px;
    background: #F7F8FD;
    border: 1px #E3E7EE solid;
    margin-bottom: 15px;
  }

  .content-tem {
    position: relative;
  }

  .list-social {
    padding: 0;
  }

  .pattern {
    position: absolute;
  }

  .pattern-12 {
    top: 0;
    left: 0;
    width: 40px;
    max-height: 100%;
  }

  .pattern-12-2 {
    top: 0;
    right: 0;
    width: 62px;
    max-height: 100%;
  }

  .avatar {
    width: inherit;
  }

  .btn-main-contact {
    background: #5C61A5;
  }

  .btn-common {
    border: 1px solid #5C61A5;
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    color: #5C61A5;
  }

  .btn-save-contact {
    background: #5C61A5;
  }

  .box-thong-tin-dn {
    padding: 40px 0 0;

    .title-ten-cty {
      color: #5C61A5;
    }

    p {
      border-bottom: 1px #D6D6D6 solid;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

/* -------------------End Template 12 -------------------*/


/* -------------------Template 13 -------------------*/
.template-cn-13 {
  padding-bottom: 70px;

  &::before {
    background: #1B2E35;
    position: fixed;
    content: '';
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    max-width: 600px;
    margin: 0 auto;
    right: 0;
  }

  .box-head {
    background: #0198A9;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding-top: 20px;
  }

  .thong-tin-ca-nhan {
    padding: 8px 20px 0;

    .ho-ten {
      color: white;
    }

    .nghe-nghiep {
      color: white;
    }

    .mo-ta {
      color: white;
      width: 80%;
      margin: 0 auto;
    }
  }

  .list-social {
    margin-top: 30px;
  }

  .btn-main-contact-2 {
    background: white;

    svg {
      path {
        fill: #0198A9;
      }
    }
  }

  .btn-common {
    border-radius: 8px;
    color: #1B2E35;

    &:hover {
      color: #0198A9;
      opacity: inherit;
    }
  }

  .btn-save-contact {
    background: #0198A9;
  }

  .pattern {
    position: absolute;

    &:first-child {
      background: #00AFC4;
      width: 150%;
      height: 200px;
      border-radius: 19px;
      transform: rotate(-28.29deg);
      bottom: -50px;
      z-index: -1;
    }

    &:nth-child(2) {
      background: #0198A9;
      width: 80%;
      height: 200px;
      border-radius: 19px;
      transform: rotate(18.69deg);
      bottom: -100px;
      z-index: -2;
      left: -20px;
    }

    &:nth-child(3) {
      background: #0198A9;
      width: 80%;
      height: 200px;
      border-radius: 19px;
      transform: rotate(36.22deg);
      bottom: -100px;
      z-index: -3;
    }

    &:nth-child(4) {
      background: #1B2E35;
      width: 80%;
      height: 200px;
      border-radius: 19px;
      transform: rotate(52.34deg);
      bottom: -20px;
      left: -81px;
      z-index: -4;
    }
  }

  .box-thong-tin-dn {
    padding: 40px 20px 0;

    .title-ten-cty {
      color: white;
    }

    p {
      color: white;
      border-bottom: 1px #768286 solid;
    }
  }
}

/* -------------------End Template 13 -------------------*/


/* -------------------Template 14 -------------------*/
.template-cn-14 {
  display: block;
  padding-bottom: 60px;

  .box-head {
    position: relative;
    background: #C28E60;
    border-radius: 0px 0px 50px 50px;
    padding-bottom: 50px;
    z-index: -1;
  }

  .box-body {
    display: block;
    margin-top: -60px;
  }

  .box-thong-tin {
    padding: 30px 20px 0 140px;
  }

  .thong-tin-ca-nhan {
    padding: 0 20px 0 20px;
    text-align: left;

    .ho-ten {
      color: white;
    }

    .nghe-nghiep {
      color: white;
    }

    .mo-ta {
      color: white;
      opacity: .6;
    }
  }

  .avatar {
    width: inherit;
    position: absolute;
    left: 20px;
    top: 30px;
  }

  .pattern {
    position: absolute;
    z-index: -1;
  }

  .pattern-10 {
    top: 0;
    left: 0;
    width: 94px;
  }

  .pattern-10-2 {
    bottom: 100px;
    right: 0;
    width: 50px;
  }

  .list-contact {
    padding: 0 20px;
  }

  .box-contact {
    border-radius: 30px;
    background: #DFC5AE;
  }

  .btn-main-contact {
    background: #23695D;
  }

  .btn-save-contact {
    background: #C28E60;
  }

  .btn-common {
    background: #F5F8FF;
    border: 1px solid #DEE8FF;
    color: #072876;
  }

  .box-body {
    padding: 15px;
  }

  .box-qr-social {
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(18, 38, 63, 0.05);
    border-radius: 30px;
    padding: 20px;
  }

  .list-social {
    padding: 0;
  }

  .box-thong-tin-dn {
    padding: 40px 0px 0;

    .title-ten-cty {
      color: #C28E60;
    }

    p {
      border-bottom: 1px #EFE8E8 solid;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

/* -------------------End Template 14 -------------------*/