@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;1,700&display=swap");
body {
  font-family: 'Open Sans', sans-serif;
  display: block;
  font-size: 14px;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #353535; }

.body-template {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  height: 100%;
  position: relative; }

button:focus {
  outline: 0; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none; }

ul,
li {
  list-style: none;
  padding: 0; }

a:visited {
  text-decoration: none; }

a:focus {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

.thong-tin-ca-nhan {
  text-align: center;
  padding: 10px 20px; }

.ho-ten {
  font-size: 24px;
  font-weight: 600;
  color: #353535;
  text-transform: uppercase;
  margin-bottom: 5px; }

.nghe-nghiep {
  font-size: 16px;
  font-weight: 500;
  color: #5C738D;
  margin-bottom: 5px; }

.mo-ta {
  color: #353535;
  margin-bottom: 8px; }

.btn-common {
  font-size: 14px;
  color: #353535;
  font-weight: 600;
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.08);
  border-radius: 28px;
  height: 45px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff; }
  .btn-common:hover {
    transition: all .3s ease-in-out;
    opacity: .8; }

.btn-scan-qr {
  position: absolute;
  right: 30px;
  top: 40px;
  width: 44px;
  max-height: 100%; }
  .btn-scan-qr svg {
    width: 100%;
    max-height: 100%; }

.btn-main-contact {
  background: #353535;
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.08);
  border-radius: 50%;
  padding: 20px; }
  .btn-main-contact img,
  .btn-main-contact svg {
    height: 24px !important;
    width: 24px !important; }

.btn-main-contact-2 {
  background: #353535;
  box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.08);
  padding: 20px 28px;
  border-radius: 8px; }
  .btn-main-contact-2 img,
  .btn-main-contact-2 svg {
    height: 24px !important;
    width: 24px !important; }

.avatar-thumb {
  display: inline-block;
  width: 100%; }
  .avatar-thumb a {
    position: relative;
    padding-top: 56%;
    display: block; }
    .avatar-thumb a img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      left: 0;
      top: 0; }

.avatar {
  width: 80%;
  margin: 0 auto;
  text-align: center; }
  .avatar .avatar-thumb {
    height: 120px;
    width: 120px;
    background: #D7DCE3;
    border: 4px solid #fff;
    border-radius: 50%; }
    .avatar .avatar-thumb a {
      padding-top: 100%; }
      .avatar .avatar-thumb a img {
        border-radius: 50%; }

.modal-dialog {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }

.modal-content {
  margin: auto 10px;
  border: 0;
  border-radius: 10px;
  padding: 15px;
  max-width: 600px; }

.modal-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #353535; }

.modal-body {
  padding: 0;
  text-align: center; }

.modal-header {
  border-bottom: 0;
  justify-content: center;
  padding-top: 0; }
  .modal-header .close {
    position: absolute;
    right: 0;
    bottom: -40px;
    opacity: 1;
    left: 0; }
    .modal-header .close i {
      font-size: 20px;
      color: #fff;
      opacity: 1;
      font-weight: normal;
      text-shadow: none;
      background-color: #ffffff5e;
      padding: 10px;
      border-radius: 50%; }

.btn-share-top {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 15px; }
  .btn-share-top img {
    height: 28px; }

.btn-save-contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  padding: 0 24px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: #CA9A55;
  color: white;
  transition: all .3s ease-in-out;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  right: 0;
  max-width: 600px;
  margin: 0 auto; }
  .btn-save-contact img {
    margin-right: 5px; }
  .btn-save-contact:nth-child(2) img {
    margin-right: 0; }
  .btn-save-contact:hover {
    color: white; }

.action-save-contact-2 {
  padding: 10px 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  max-width: 600px;
  margin: 0 auto; }
  .action-save-contact-2 .btn-save-contact {
    position: initial;
    border-radius: 12px;
    width: 80%; }
    .action-save-contact-2 .btn-save-contact:last-child {
      width: 20%;
      margin-left: 5px; }

.img-scan-qr {
  height: 110px;
  margin: 0 auto;
  text-align: center;
  display: block; }

.list-contact {
  display: inline-block;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 12px 0 20px; }
  .list-contact a {
    margin: 10px;
    display: inline-block;
    transition: all .3s ease-in-out; }

.list-social {
  padding: 0 20px;
  display: inline-block;
  width: 100%; }
  .list-social .btn-common {
    margin: 15px 0; }

.social-share {
  display: inline-block;
  text-align: center;
  color: #5C738D;
  font-size: 13px;
  margin: 14px 9px;
  width: 70px; }
  .social-share img {
    margin-bottom: 5px;
    height: 34px; }

.title-copy-link {
  text-align: left;
  color: #5C738D;
  font-weight: 600;
  margin: 15px 0; }

.copy-link {
  position: relative;
  margin-bottom: 15px; }
  .copy-link input {
    height: 45px;
    padding: 0 10px;
    border: 1px solid #E6E6E6;
    color: #353535;
    font-size: 15px;
    border-radius: 20px;
    width: 100%; }
    .copy-link input::placeholder {
      color: #E6E6E6; }
  .copy-link img {
    position: absolute;
    right: 10px;
    top: 12px;
    height: 24px; }

.content-qr {
  position: relative; }
  .content-qr img {
    width: 100%; }
  .content-qr .avatar {
    position: absolute;
    top: 160px;
    right: 0;
    left: 0;
    width: 50px; }
    .content-qr .avatar .avatar-thumb {
      height: 50px;
      width: 50px; }

.content-tem {
  position: relative;
  z-index: 1; }

.logo-bottom {
  height: 40px;
  text-align: center;
  display: block;
  margin: 60px auto 0; }

.line-border {
  width: 100%;
  height: 1px;
  background: #E6E6E6;
  margin: 5px auto; }

.box-thong-tin-dn {
  display: block;
  padding: 40px 0 0; }
  .box-thong-tin-dn .title-ten-cty {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;
    color: #353535; }
  .box-thong-tin-dn p {
    color: #353535;
    border-bottom: 1px solid #fff;
    padding: 16px 0;
    margin-bottom: 0;
    position: relative;
    padding-left: 22px; }
    .box-thong-tin-dn p:last-child {
      border-bottom: none !important; }
  .box-thong-tin-dn svg {
    position: absolute;
    top: 18px;
    left: 0; }

/* -------------------Template 01 -------------------*/
.template-cn-01 {
  padding: 40px 15px 70px;
  position: relative; }
  .template-cn-01::before {
    background: #015343;
    position: fixed;
    content: '';
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    max-width: 600px;
    margin: 0 auto;
    right: 0; }
  .template-cn-01 .thong-tin-ca-nhan {
    padding: 18px 20px 10px; }
  .template-cn-01 .content-tem {
    background: white;
    padding: 65px 0px 30px;
    margin: 50px 0px 0;
    border-radius: 30px; }
  .template-cn-01 .avatar {
    position: absolute;
    top: 0px;
    z-index: 2;
    margin: -50px auto;
    width: 100%; }
  .template-cn-01 .list-contact .btn-main-contact-2 {
    padding: 20px 24px;
    margin: 10px 13px;
    background: white; }
    .template-cn-01 .list-contact .btn-main-contact-2 svg path {
      fill: #015343; }
  .template-cn-01 .btn-common {
    border: 1px #353535 solid;
    background: transparent;
    box-shadow: inherit; }
    .template-cn-01 .btn-common:hover {
      color: #015343; }
  .template-cn-01 .btn-save-contact {
    background: #F1C484; }
  .template-cn-01 .bg-tem-01 {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1; }
  .template-cn-01 .box-thong-tin-dn .title-ten-cty {
    color: #F1C484; }
  .template-cn-01 .box-thong-tin-dn p {
    color: white;
    border-bottom: 1px #67988E solid; }

/* -------------------End Template 01 -------------------*/
/* -------------------Template 02 -------------------*/
.template-cn-02 {
  background-color: #172933;
  overflow: hidden;
  position: relative;
  padding-bottom: 60px; }
  .template-cn-02::before {
    background: #172933;
    position: fixed;
    content: '';
    display: inline-block;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    right: 0;
    z-index: -1; }
  .template-cn-02::after {
    background: #F28A27;
    position: absolute;
    content: '';
    display: inline-block;
    top: 0px;
    left: 50%;
    height: 100%;
    width: 900px;
    transform: translateX(-50%);
    z-index: 1; }
  .template-cn-02 .circle {
    display: block;
    width: 100%;
    height: 100%; }
    .template-cn-02 .circle::before {
      background: #F28F30;
      position: absolute;
      content: '';
      display: inline-block;
      top: 0px;
      left: 50%;
      height: 100%;
      width: 1400px;
      border-radius: 50%;
      transform: translateX(-50%);
      z-index: 2; }
    .template-cn-02 .circle::after {
      background: #EE8B2A;
      position: absolute;
      content: '';
      display: inline-block;
      top: 30px;
      height: 100%;
      width: 1400px;
      border-radius: 50%;
      transform: translateX(-50%);
      left: 50%;
      z-index: 2; }
    .template-cn-02 .circle .circle-2::before {
      background: #DE7C1C;
      position: absolute;
      content: '';
      display: inline-block;
      top: 80px;
      left: 50%;
      height: 100%;
      width: 1400px;
      border-radius: 50%;
      transform: translateX(-50%);
      z-index: 3; }
    .template-cn-02 .circle .circle-2::after {
      background: #172933;
      position: absolute;
      content: '';
      display: inline-block;
      top: 90px;
      left: 50%;
      height: 100%;
      width: 1400px;
      border-radius: 50%;
      transform: translateX(-50%);
      z-index: 3; }
    .template-cn-02 .circle .content-tem {
      z-index: 5; }
  .template-cn-02 .btn-common:hover {
    color: #F28B26;
    opacity: inherit; }
  .template-cn-02 .thong-tin-ca-nhan .ho-ten {
    color: white; }
  .template-cn-02 .thong-tin-ca-nhan .nghe-nghiep {
    color: white; }
  .template-cn-02 .thong-tin-ca-nhan .mo-ta {
    color: white; }
  .template-cn-02 .btn-save-contact {
    background: #F28B26; }
  .template-cn-02 .list-contact .btn-main-contact {
    background: #F28B26; }
  .template-cn-02 .content-tem {
    padding-top: 40px; }
  .template-cn-02 .box-thong-tin-dn {
    padding: 40px 20px 0; }
    .template-cn-02 .box-thong-tin-dn .title-ten-cty {
      color: #F28A27; }
    .template-cn-02 .box-thong-tin-dn p {
      color: white;
      border-bottom: 1px #747F85 solid; }

/* -------------------End Template 02 -------------------*/
/* -------------------Template 03 -------------------*/
.template-cn-03 {
  padding-top: 20px;
  position: relative; }
  .template-cn-03 .contact-social {
    margin-top: 20px;
    position: relative;
    padding-bottom: 70px;
    background: #EFDFC8;
    border-radius: 40px 40px 0 0; }
    .template-cn-03 .contact-social::before {
      border-radius: 40px 40px 0 0;
      background: #EFDFC8;
      position: fixed;
      content: '';
      display: inline-block;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      max-width: 600px;
      margin: 0 auto;
      right: 0; }
  .template-cn-03 .list-contact .btn-main-contact {
    margin: 10px 13px;
    background: #7A5D31; }
  .template-cn-03 .btn-common {
    border: 1px #7A5D31 solid;
    background: white;
    box-shadow: inherit;
    color: #7A5D31; }
    .template-cn-03 .btn-common:hover {
      color: #7A5D31; }
  .template-cn-03 .btn-save-contact {
    background-color: #7A5D31; }
  .template-cn-03 .box-thong-tin-dn {
    padding: 40px 20px 0; }
    .template-cn-03 .box-thong-tin-dn .title-ten-cty {
      color: #7A5D31; }
    .template-cn-03 .box-thong-tin-dn p {
      border-bottom: 1px #C9BCAA solid; }

/* -------------------End Template 03 -------------------*/
/* -------------------Template 04 -------------------*/
.template-cn-04 {
  padding-bottom: 60px;
  position: relative; }
  .template-cn-04::before {
    background: #099775;
    position: fixed;
    content: '';
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    right: 0; }
  .template-cn-04 .avatar {
    display: inline-block;
    width: 100%;
    position: relative; }
    .template-cn-04 .avatar .avatar-thumb {
      height: 100%;
      width: 100%;
      background: transparent;
      border: none;
      border-radius: 0; }
      .template-cn-04 .avatar .avatar-thumb a {
        padding-top: 136%; }
      .template-cn-04 .avatar .avatar-thumb img {
        border-radius: 0 0 24px 24px; }
    .template-cn-04 .avatar::after {
      position: absolute;
      bottom: 0;
      background: linear-gradient(179.33deg, rgba(9, 151, 117, 0) 0.58%, #099775 99.42%);
      opacity: 0.5;
      display: inline-block;
      content: '';
      width: 100%;
      height: 50%;
      left: 0; }
  .template-cn-04 .thong-tin-ca-nhan {
    position: absolute;
    bottom: 0;
    z-index: 1;
    text-align: left;
    padding: 0 20px 20px 20px; }
    .template-cn-04 .thong-tin-ca-nhan .ho-ten {
      color: white; }
    .template-cn-04 .thong-tin-ca-nhan .nghe-nghiep {
      color: white; }
    .template-cn-04 .thong-tin-ca-nhan .mo-ta {
      color: white; }
  .template-cn-04 .list-contact .btn-main-contact-2 {
    padding: 20px 24px;
    margin: 10px 13px;
    background: rgba(255, 255, 255, 0.2); }
  .template-cn-04 .btn-common {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    color: white; }
    .template-cn-04 .btn-common:hover {
      color: white; }
  .template-cn-04 .bg-tem04 {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0; }
  .template-cn-04 .btn-save-contact {
    background-color: #CA9A55; }
  .template-cn-04 .box-thong-tin-dn {
    padding: 40px 20px 0; }
    .template-cn-04 .box-thong-tin-dn .title-ten-cty {
      color: white; }
    .template-cn-04 .box-thong-tin-dn p {
      color: white;
      border-bottom: 1px #3AAC91 solid; }

/* ------------------- End Template 04 -------------------*/
/* -------------------Template 05 -------------------*/
.template-cn-05 {
  padding-bottom: 70px;
  position: relative; }
  .template-cn-05::before {
    background: #060303;
    position: fixed;
    content: '';
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    max-width: 600px;
    margin: 0 auto;
    right: 0; }
  .template-cn-05 .avatar {
    background: linear-gradient(180.05deg, rgba(202, 154, 85, 0.7) 0.08%, rgba(212, 196, 172, 0.245) 54.21%, rgba(217, 217, 217, 0) 100%);
    border-radius: 0px 0px 80px 0px;
    width: 100%;
    text-align: inherit;
    padding: 20px 20px 0; }
    .template-cn-05 .avatar .avatar-thumb {
      border: 4px solid #CA9A55; }
  .template-cn-05 .thong-tin-ca-nhan {
    text-align: left;
    padding: 12px 20px 10px; }
    .template-cn-05 .thong-tin-ca-nhan .ho-ten {
      color: #CA9A55; }
    .template-cn-05 .thong-tin-ca-nhan .nghe-nghiep {
      color: #CA9A55; }
    .template-cn-05 .thong-tin-ca-nhan .mo-ta {
      color: white;
      opacity: .6; }
  .template-cn-05 .list-contact {
    padding: 0 15px;
    display: block;
    width: 100%; }
    .template-cn-05 .list-contact .box-contact {
      background: linear-gradient(82.78deg, rgba(255, 255, 255, 0) 0%, rgba(225, 197, 158, 0.2) 23.3%, rgba(202, 154, 85, 0.2) 93.03%);
      border-radius: 40px 40px 40px 0px; }
  .template-cn-05 .btn-main-contact {
    background: transparent;
    border: 1px #CA9A55 solid; }
  .template-cn-05 .btn-save-contact {
    background: linear-gradient(90.92deg, #A3723D 10.24%, #F3C872 62.98%, #A1772F 100%); }
  .template-cn-05 .btn-common {
    border-radius: 8px;
    background: transparent;
    border: 1px #CA9A55 solid;
    color: #CA9A55; }
  .template-cn-05 .bg-tem05 {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1; }
  .template-cn-05 .box-thong-tin-dn {
    padding: 40px 20px 0; }
    .template-cn-05 .box-thong-tin-dn .title-ten-cty {
      color: #CA9A55; }
    .template-cn-05 .box-thong-tin-dn p {
      color: #CA9A55;
      border-bottom: 1px #2C2112 solid; }

/* -------------------End Template 05 -------------------*/
/* -------------------Template 06 -------------------*/
.template-cn-06 {
  padding-bottom: 70px; }
  .template-cn-06::before {
    background: #FAFAFA;
    position: fixed;
    content: '';
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    max-width: 600px;
    margin: 0 auto;
    right: 0; }
  .template-cn-06 .box-head {
    background: #021638;
    border-radius: 0px 0px 50px 50px;
    width: 100%;
    padding: 20px 0 80px;
    position: relative; }
  .template-cn-06 .pattern-left {
    position: absolute;
    width: 66px;
    height: 94px;
    top: 0;
    left: 30px;
    display: flex;
    justify-content: space-around; }
    .template-cn-06 .pattern-left .pattern {
      width: 14px;
      max-height: 100%;
      border-radius: 0 0 20px 20px; }
    .template-cn-06 .pattern-left .yellow {
      background: #FDAC16;
      height: 100%; }
    .template-cn-06 .pattern-left .violet {
      background: #877BFC;
      height: 74px; }
    .template-cn-06 .pattern-left .white {
      background: #FFFFFF;
      height: 54px; }
  .template-cn-06 .list-social {
    margin-top: 60px; }
  .template-cn-06 .thong-tin-ca-nhan .ho-ten {
    color: #FDAC16; }
  .template-cn-06 .thong-tin-ca-nhan .nghe-nghiep {
    color: white; }
  .template-cn-06 .thong-tin-ca-nhan .mo-ta {
    color: white;
    opacity: .6;
    width: 80%;
    margin: 0 auto; }
  .template-cn-06 .box-contact {
    padding: 0 20px;
    display: block;
    width: 100%;
    position: absolute; }
  .template-cn-06 .list-contact {
    background: #FDAC16;
    border-radius: 30px;
    padding: 15px 20px; }
    .template-cn-06 .list-contact .btn-main-contact {
      background: white;
      box-shadow: inherit; }
      .template-cn-06 .list-contact .btn-main-contact svg path {
        stroke: #877BFC; }
  .template-cn-06 .btn-save-contact {
    background: #877BFC; }
  .template-cn-06 .btn-common {
    border-radius: 8px; }
    .template-cn-06 .btn-common:hover {
      color: #FDAC16;
      opacity: inherit; }
  .template-cn-06 .box-thong-tin-dn {
    padding: 20px 20px 0px; }
    .template-cn-06 .box-thong-tin-dn .title-ten-cty {
      color: #FDAC16; }
    .template-cn-06 .box-thong-tin-dn p {
      border-bottom: 1px #D6D6D6 solid; }
  .template-cn-06 .thong-tin-dn {
    background: white;
    padding: 30px 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.08); }

/* -------------------End Template 06 -------------------*/
/* -------------------Template 07 -------------------*/
.template-cn-07 {
  position: relative;
  padding: 0 0 70px; }
  .template-cn-07 .content-tem {
    padding-top: 20px; }
  .template-cn-07 .pattern-01 {
    position: absolute;
    width: 40px;
    max-height: 100%;
    top: 0;
    left: 0; }
  .template-cn-07 .pattern-02 {
    position: absolute;
    width: 70px;
    max-height: 100%;
    top: 0;
    right: 0; }
  .template-cn-07 .thong-tin-ca-nhan {
    margin-bottom: 8px; }
    .template-cn-07 .thong-tin-ca-nhan .ho-ten {
      color: #424F99; }
    .template-cn-07 .thong-tin-ca-nhan .nghe-nghiep {
      color: #E5871C; }
    .template-cn-07 .thong-tin-ca-nhan .mo-ta {
      color: #5C738D;
      opacity: .6;
      width: 80%;
      margin: 0 auto; }
  .template-cn-07 .btn-main-contact-2 {
    background: white; }
    .template-cn-07 .btn-main-contact-2 svg path {
      fill: #E5871C; }
  .template-cn-07 .btn-common {
    color: #424F99;
    background: white;
    border-radius: 8px;
    border: 1px #424F99 solid; }
  .template-cn-07 .btn-save-contact {
    background-color: #424F99; }
  .template-cn-07 .box-thong-tin-dn {
    padding: 40px 20px 0; }
    .template-cn-07 .box-thong-tin-dn .title-ten-cty {
      color: #424F99; }
    .template-cn-07 .box-thong-tin-dn p {
      border-bottom: 1px #D6D6D6 solid; }

/* -------------------End Template 07 -------------------*/
/* -------------------Template 08 -------------------*/
.template-cn-08 {
  padding: 20px 0 70px; }
  .template-cn-08 .thong-tin-ca-nhan {
    margin-bottom: 8px; }
    .template-cn-08 .thong-tin-ca-nhan .ho-ten {
      color: #353535; }
    .template-cn-08 .thong-tin-ca-nhan .nghe-nghiep {
      color: #5C738D; }
    .template-cn-08 .thong-tin-ca-nhan .mo-ta {
      color: #5C738D;
      opacity: .6;
      width: 80%;
      margin: 0 auto; }
  .template-cn-08 .btn-main-contact {
    background: transparent;
    border: 1px #BC254A solid;
    box-shadow: inherit; }
    .template-cn-08 .btn-main-contact svg path {
      fill: #BC254A; }
  .template-cn-08 .btn-common {
    color: white;
    background: #BC254A;
    border-radius: 28px; }
  .template-cn-08 .action-save-contact-2 {
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.18);
    background: white; }
  .template-cn-08 .btn-save-contact {
    background-color: #BC254A; }
  .template-cn-08 .box-thong-tin-dn {
    padding: 40px 20px 0; }
    .template-cn-08 .box-thong-tin-dn .title-ten-cty {
      color: #BC254A; }
    .template-cn-08 .box-thong-tin-dn p {
      border-bottom: 1px #D6D6D6 solid; }

/* -------------------End Template 08 -------------------*/
/* -------------------Template 09 -------------------*/
.template-cn-09 {
  position: relative;
  padding: 0 0 60px; }
  .template-cn-09 .pattern-09 {
    position: absolute;
    top: 8px;
    right: 0;
    width: 40px;
    max-height: 100%; }
  .template-cn-09 .list-contact {
    padding-bottom: 25px;
    display: inline-block;
    width: 100%;
    border-bottom: 8px #F8FBFE solid; }
  .template-cn-09 .avatar {
    margin-top: 20px;
    width: 100%;
    bottom: -30px; }
  .template-cn-09 .box-thong-tin {
    background: #265BD0;
    padding: 20px 0 95px;
    position: relative; }
  .template-cn-09 .contact-social {
    position: relative;
    padding-top: 30px; }
  .template-cn-09 .pattern-09-2 {
    width: 100%;
    position: absolute;
    top: -40px;
    max-height: 80px; }
  .template-cn-09 .avatar {
    position: absolute;
    width: 100%;
    z-index: 1; }
  .template-cn-09 .thong-tin-ca-nhan {
    margin-bottom: 15px; }
    .template-cn-09 .thong-tin-ca-nhan .ho-ten {
      color: white; }
    .template-cn-09 .thong-tin-ca-nhan .nghe-nghiep {
      color: white; }
    .template-cn-09 .thong-tin-ca-nhan .mo-ta {
      color: white;
      opacity: .6;
      width: 80%;
      margin: 0 auto; }
  .template-cn-09 .btn-main-contact-2 {
    background: #F1B636; }
  .template-cn-09 .btn-common {
    background: #F5F8FF;
    border: 1px #DEE8FF solid;
    color: #072876; }
  .template-cn-09 .btn-save-contact {
    background: #265BCF; }
  .template-cn-09 .box-thong-tin-dn {
    padding: 40px 20px 0; }
    .template-cn-09 .box-thong-tin-dn .title-ten-cty {
      color: #265BCF; }
    .template-cn-09 .box-thong-tin-dn p {
      border-bottom: 1px #D6D6D6 solid; }
  @media only screen and (max-width: 320px) {
    .template-cn-09 .pattern-09-2 {
      min-height: 90px; } }

/* -------------------End Template 09 -------------------*/
/* -------------------Template 10 -------------------*/
.template-cn-10 {
  position: relative; }
  .template-cn-10 .avatar {
    width: 100%; }
    .template-cn-10 .avatar .avatar-thumb {
      border-radius: 10px; }
      .template-cn-10 .avatar .avatar-thumb a img {
        border-radius: 10px; }
  .template-cn-10 .box-thong-tin {
    background: #4F52EF;
    padding: 20px 0 40px; }
  .template-cn-10 .contact-social {
    padding: 0 15px 70px;
    display: block;
    width: 100%;
    margin-top: -40px; }
    .template-cn-10 .contact-social::before {
      background: #FAFAFA;
      position: fixed;
      content: '';
      display: inline-block;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      max-width: 600px;
      margin: 0 auto;
      right: 0; }
  .template-cn-10 .box-contact-social {
    background: white;
    border-radius: 30px;
    box-shadow: 0px 0px 11px rgba(18, 38, 63, 0.05);
    width: 100%;
    padding: 0 20px 20px;
    margin-bottom: 15px; }
  .template-cn-10 .thong-tin-ca-nhan {
    margin-bottom: 15px; }
    .template-cn-10 .thong-tin-ca-nhan .ho-ten {
      color: white; }
    .template-cn-10 .thong-tin-ca-nhan .nghe-nghiep {
      color: white; }
    .template-cn-10 .thong-tin-ca-nhan .mo-ta {
      color: white;
      opacity: .6;
      width: 80%;
      margin: 0 auto; }
  .template-cn-10 .list-social {
    padding: 0; }
  .template-cn-10 .btn-common {
    background: #F4F6FA;
    box-shadow: inherit; }
    .template-cn-10 .btn-common:hover {
      color: #E06C6B;
      opacity: inherit; }
  .template-cn-10 .btn-main-contact {
    background: #FFFFFF;
    border: 1px solid #E06C6B;
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.08); }
    .template-cn-10 .btn-main-contact svg path {
      fill: #E06C6B; }
  .template-cn-10 .btn-save-contact {
    background: #E06C6B; }
  .template-cn-10 .pattern {
    position: absolute; }
  .template-cn-10 .pattern-10 {
    width: 45px;
    max-height: 100%;
    left: 0;
    top: 60px; }
  .template-cn-10 .pattern-10-2 {
    width: 45px;
    max-height: 100%;
    right: 0;
    top: 0px; }
  .template-cn-10 .box-thong-tin-dn {
    padding: 40px 20px 0; }
    .template-cn-10 .box-thong-tin-dn .title-ten-cty {
      color: #E06C6B; }
    .template-cn-10 .box-thong-tin-dn p {
      border-bottom: 1px #D6D6D6 solid; }

/* -------------------End Template 10 -------------------*/
/* -------------------Template 11 -------------------*/
.template-cn-11 {
  display: block;
  width: 100%; }
  .template-cn-11::before {
    background: #E9EBEF;
    position: fixed;
    content: '';
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    max-width: 600px;
    margin: 0 auto;
    right: 0; }
  .template-cn-11 .box-info {
    margin: -40px 15px 0;
    background: white;
    padding: 0 20px 20px;
    border-radius: 30px; }
  .template-cn-11 .avatar {
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: -1; }
    .template-cn-11 .avatar .avatar-thumb {
      height: 100%;
      width: 100%;
      background: transparent;
      border: none;
      border-radius: 0; }
      .template-cn-11 .avatar .avatar-thumb a {
        padding-top: 136%; }
      .template-cn-11 .avatar .avatar-thumb img {
        border-radius: 0; }
  .template-cn-11 .btn-common:hover {
    color: #F28B26;
    opacity: inherit; }
  .template-cn-11 .btn-scan-qr {
    z-index: 1; }
  .template-cn-11 .btn-main-contact {
    background: #F28B26; }
  .template-cn-11 .btn-save-contact {
    background: #021638; }
  .template-cn-11 .content-tem {
    padding: 0 0 80px; }
  .template-cn-11 .list-social {
    padding: 0; }
  .template-cn-11 .list-contact {
    margin: 20px 0 0; }
  .template-cn-11 .thong-tin-ca-nhan {
    text-align: left;
    margin-bottom: 0;
    padding: 30px 0 3px; }
    .template-cn-11 .thong-tin-ca-nhan .ho-ten {
      color: #021638; }
    .template-cn-11 .thong-tin-ca-nhan .nghe-nghiep {
      color: #021638; }
    .template-cn-11 .thong-tin-ca-nhan .mo-ta {
      color: #021638;
      opacity: .6; }
  .template-cn-11 .box-thong-tin-dn {
    padding: 40px 0 0; }
    .template-cn-11 .box-thong-tin-dn .title-ten-cty {
      color: #F28B26; }
    .template-cn-11 .box-thong-tin-dn p {
      border-bottom: 1px #D6D6D6 solid; }

/* -------------------End Template 11 -------------------*/
/* -------------------Template 12 -------------------*/
.template-cn-12 {
  padding-bottom: 70px; }
  .template-cn-12 .box-thong-tin {
    display: flex;
    padding: 40px 20px 20px 140px;
    position: relative; }
  .template-cn-12 .thong-tin-ca-nhan {
    text-align: left;
    padding: 0 0 0 20px; }
    .template-cn-12 .thong-tin-ca-nhan .ho-ten {
      color: #5C61A5; }
    .template-cn-12 .thong-tin-ca-nhan .nghe-nghiep {
      color: #5C61A5; }
    .template-cn-12 .thong-tin-ca-nhan .mo-ta {
      color: #5C61A5;
      opacity: .6; }
  .template-cn-12 .avatar {
    position: absolute;
    left: 20px;
    top: 40px; }
    .template-cn-12 .avatar .avatar-thumb {
      border-radius: 10px; }
      .template-cn-12 .avatar .avatar-thumb a img {
        border-radius: 10px; }
  .template-cn-12 .contact-social {
    padding: 0 15px;
    display: block;
    width: 100%; }
  .template-cn-12 .box-contact-social {
    border-radius: 30px;
    padding: 30px 20px 20px;
    background: #F7F8FD;
    border: 1px #E3E7EE solid;
    margin-bottom: 15px; }
  .template-cn-12 .content-tem {
    position: relative; }
  .template-cn-12 .list-social {
    padding: 0; }
  .template-cn-12 .pattern {
    position: absolute; }
  .template-cn-12 .pattern-12 {
    top: 0;
    left: 0;
    width: 40px;
    max-height: 100%; }
  .template-cn-12 .pattern-12-2 {
    top: 0;
    right: 0;
    width: 62px;
    max-height: 100%; }
  .template-cn-12 .avatar {
    width: inherit; }
  .template-cn-12 .btn-main-contact {
    background: #5C61A5; }
  .template-cn-12 .btn-common {
    border: 1px solid #5C61A5;
    box-shadow: 0px 0px 28px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    color: #5C61A5; }
  .template-cn-12 .btn-save-contact {
    background: #5C61A5; }
  .template-cn-12 .box-thong-tin-dn {
    padding: 40px 0 0; }
    .template-cn-12 .box-thong-tin-dn .title-ten-cty {
      color: #5C61A5; }
    .template-cn-12 .box-thong-tin-dn p {
      border-bottom: 1px #D6D6D6 solid; }
      .template-cn-12 .box-thong-tin-dn p:last-child {
        border-bottom: none; }

/* -------------------End Template 12 -------------------*/
/* -------------------Template 13 -------------------*/
.template-cn-13 {
  padding-bottom: 70px; }
  .template-cn-13::before {
    background: #1B2E35;
    position: fixed;
    content: '';
    display: inline-block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    max-width: 600px;
    margin: 0 auto;
    right: 0; }
  .template-cn-13 .box-head {
    background: #0198A9;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding-top: 20px; }
  .template-cn-13 .thong-tin-ca-nhan {
    padding: 8px 20px 0; }
    .template-cn-13 .thong-tin-ca-nhan .ho-ten {
      color: white; }
    .template-cn-13 .thong-tin-ca-nhan .nghe-nghiep {
      color: white; }
    .template-cn-13 .thong-tin-ca-nhan .mo-ta {
      color: white;
      width: 80%;
      margin: 0 auto; }
  .template-cn-13 .list-social {
    margin-top: 30px; }
  .template-cn-13 .btn-main-contact-2 {
    background: white; }
    .template-cn-13 .btn-main-contact-2 svg path {
      fill: #0198A9; }
  .template-cn-13 .btn-common {
    border-radius: 8px;
    color: #1B2E35; }
    .template-cn-13 .btn-common:hover {
      color: #0198A9;
      opacity: inherit; }
  .template-cn-13 .btn-save-contact {
    background: #0198A9; }
  .template-cn-13 .pattern {
    position: absolute; }
    .template-cn-13 .pattern:first-child {
      background: #00AFC4;
      width: 150%;
      height: 200px;
      border-radius: 19px;
      transform: rotate(-28.29deg);
      bottom: -50px;
      z-index: -1; }
    .template-cn-13 .pattern:nth-child(2) {
      background: #0198A9;
      width: 80%;
      height: 200px;
      border-radius: 19px;
      transform: rotate(18.69deg);
      bottom: -100px;
      z-index: -2;
      left: -20px; }
    .template-cn-13 .pattern:nth-child(3) {
      background: #0198A9;
      width: 80%;
      height: 200px;
      border-radius: 19px;
      transform: rotate(36.22deg);
      bottom: -100px;
      z-index: -3; }
    .template-cn-13 .pattern:nth-child(4) {
      background: #1B2E35;
      width: 80%;
      height: 200px;
      border-radius: 19px;
      transform: rotate(52.34deg);
      bottom: -20px;
      left: -81px;
      z-index: -4; }
  .template-cn-13 .box-thong-tin-dn {
    padding: 40px 20px 0; }
    .template-cn-13 .box-thong-tin-dn .title-ten-cty {
      color: white; }
    .template-cn-13 .box-thong-tin-dn p {
      color: white;
      border-bottom: 1px #768286 solid; }

/* -------------------End Template 13 -------------------*/
/* -------------------Template 14 -------------------*/
.template-cn-14 {
  display: block;
  padding-bottom: 60px; }
  .template-cn-14 .box-head {
    position: relative;
    background: #C28E60;
    border-radius: 0px 0px 50px 50px;
    padding-bottom: 50px;
    z-index: -1; }
  .template-cn-14 .box-body {
    display: block;
    margin-top: -60px; }
  .template-cn-14 .box-thong-tin {
    padding: 30px 20px 0 140px; }
  .template-cn-14 .thong-tin-ca-nhan {
    padding: 0 20px 0 20px;
    text-align: left; }
    .template-cn-14 .thong-tin-ca-nhan .ho-ten {
      color: white; }
    .template-cn-14 .thong-tin-ca-nhan .nghe-nghiep {
      color: white; }
    .template-cn-14 .thong-tin-ca-nhan .mo-ta {
      color: white;
      opacity: .6; }
  .template-cn-14 .avatar {
    width: inherit;
    position: absolute;
    left: 20px;
    top: 30px; }
  .template-cn-14 .pattern {
    position: absolute;
    z-index: -1; }
  .template-cn-14 .pattern-10 {
    top: 0;
    left: 0;
    width: 94px; }
  .template-cn-14 .pattern-10-2 {
    bottom: 100px;
    right: 0;
    width: 50px; }
  .template-cn-14 .list-contact {
    padding: 0 20px; }
  .template-cn-14 .box-contact {
    border-radius: 30px;
    background: #DFC5AE; }
  .template-cn-14 .btn-main-contact {
    background: #23695D; }
  .template-cn-14 .btn-save-contact {
    background: #C28E60; }
  .template-cn-14 .btn-common {
    background: #F5F8FF;
    border: 1px solid #DEE8FF;
    color: #072876; }
  .template-cn-14 .box-body {
    padding: 15px; }
  .template-cn-14 .box-qr-social {
    background: #FFFFFF;
    box-shadow: 0px 0px 11px rgba(18, 38, 63, 0.05);
    border-radius: 30px;
    padding: 20px; }
  .template-cn-14 .list-social {
    padding: 0; }
  .template-cn-14 .box-thong-tin-dn {
    padding: 40px 0px 0; }
    .template-cn-14 .box-thong-tin-dn .title-ten-cty {
      color: #C28E60; }
    .template-cn-14 .box-thong-tin-dn p {
      border-bottom: 1px #EFE8E8 solid; }
      .template-cn-14 .box-thong-tin-dn p:last-child {
        border-bottom: none; }

/* -------------------End Template 14 -------------------*/

/*# sourceMappingURL=style.css.map */
