@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  display: block;
  font-size: 14px;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: #fff;
  color: #142286;
  margin: 0 auto;
  max-width: 960px;
  padding: 0; }

p {
  font-size: 20px; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none; }

ul,
li {
  list-style: none;
  padding: 0; }

a:visited {
  text-decoration: none; }

a:focus {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a {
  display: inline-block; }

h1 {
  font-size: 28px;
  font-weight: 700;
  color: #142286; }

h3 {
  font-weight: 600;
  font-size: 26px; }

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #142286;
  text-align: center;
  margin-bottom: 20px; }

.mt-40 {
  margin-top: 40px; }

.center {
  text-align: center; }

img {
  width: 100%;
  vertical-align: middle;
  border-style: none; }

.mb {
  display: none; }

.pc {
  display: block; }

.thanghanngsang {
  margin: 60px 0;
  border-radius: 150px;
  padding: 60px 200px;
  background-image: linear-gradient(to right, #011779, #00156c, #00135f, #001152, #010e46); }

.box {
  position: relative;
  margin-top: 80px; }
  .box .box-gif {
    position: absolute;
    bottom: 30px;
    max-width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0; }

.btn-xemchitiet {
  text-align: center;
  margin-top: 30px; }
  .btn-xemchitiet img {
    width: 230px; }

#popup-dacquyen .modal-header {
  border: 0; }
#popup-dacquyen .modal-header .close {
  position: absolute;
  right: 30px;
  font-size: 30px;
  padding: 1px 3px;
  color: #757575;
  opacity: 1;
  background: #d9d9d9;
  text-shadow: none;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  top: 55px !important;
  font-weight: 400; }
#popup-dacquyen .modal-dialog {
  max-width: 1200px; }
#popup-dacquyen .modal-body {
  padding: 0;
  margin: 60px 0 0 0; }
  #popup-dacquyen .modal-body .poup-pc {
    display: block; }
  #popup-dacquyen .modal-body .poup-mb {
    display: none; }
#popup-dacquyen .modal-content {
  margin: 0;
  background-color: transparent;
  width: 100%;
  border: 0; }

.banner {
  float: left;
  width: 100%; }
  .banner img {
    float: left;
    width: 100%; }

.contact-section .container {
  max-width: 100%; }

@media only screen and (max-width: 767px) {
  .modal-body {
    padding: 0; }
    .modal-body .poup-pc {
      display: none !important; }
    .modal-body .poup-mb {
      display: block  !important; }

  #popup-dacquyen .modal-dialog {
    margin: 60px 0 0 0; }

  .mb {
    display: block; }
    .mb .thanghanngsang {
      margin: 20px 0;
      border-radius: 40px;
      padding: 30px 20px; }
      .mb .thanghanngsang .box {
        margin-top: 30px; }
      .mb .thanghanngsang .box .box-gif {
        bottom: 20px;
        max-width: 90%; }
    .mb .reward {
      position: relative; }
      .mb .reward .btn-xemchitiet {
        position: absolute;
        bottom: 35px;
        right: 20px;
        margin-top: 0;
        padding: 0 15px; }
        .mb .reward .btn-xemchitiet img {
          width: 150px; }

  .pc {
    display: none; } }

/*# sourceMappingURL=style.css.map */
