@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
.pagging-page {
  display: flex;
  justify-content: center; }
  .pagging-page .pagination .page-item a {
    color: #232a7b;
    background: #f1f7fc;
    padding: 9px 16px;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 400; }
    .pagging-page .pagination .page-item a.active {
      color: #fff;
      background: #232a7b; }

.section-banner .banner-head .banner-pc-about {
  display: inline-block; }
.section-banner .banner-head .banner-mb-about {
  display: none; }

.icon-facebook.btn-facebook {
  background: #1877F2;
  margin-left: 8px;
  padding: 4px 8px;
  border-radius: 3px;
  color: #fff; }

.page-khuyenmai .khuyen-mai .menu-about li:last-child::after {
  display: none; }

.page-khuyenmai h3 a {
  font-size: 20px;
  font-weight: 600; }
.page-khuyenmai span {
  font-size: 16px; }
.page-khuyenmai h2 {
  color: #232a7b; }
.page-khuyenmai .khuyen-mai {
  padding-top: 35px; }
  .page-khuyenmai .khuyen-mai .menu-about a {
    font-weight: 600;
    color: #999; }
  .page-khuyenmai .khuyen-mai .menu-about .no-sub.active {
    border-bottom: none; }
    .page-khuyenmai .khuyen-mai .menu-about .no-sub.active a {
      color: #232a7b; }
  .page-khuyenmai .khuyen-mai .menu-about li:after {
    content: "/";
    margin-left: 15px;
    color: #999; }
  .page-khuyenmai .khuyen-mai .box-text-img .col-md-6 {
    margin: 20px 0 160px; }
    .page-khuyenmai .khuyen-mai .box-text-img .col-md-6 .item-news {
      position: relative; }
      .page-khuyenmai .khuyen-mai .box-text-img .col-md-6 .item-news .thumnaisl-avatar a {
        position: relative;
        padding-top: 46%;
        display: block; }
        .page-khuyenmai .khuyen-mai .box-text-img .col-md-6 .item-news .thumnaisl-avatar a img {
          border-radius: 0; }
      .page-khuyenmai .khuyen-mai .box-text-img .col-md-6 .item-news .info-news {
        background: #fff;
        position: absolute;
        padding: 25px 30px;
        bottom: -135px;
        left: 50px;
        width: 85%; }

.page-blog h3 a {
  font-size: 20px;
  font-weight: 600; }
.page-blog span {
  font-size: 16px; }
.page-blog .center .btn-common.btn-view-all {
  background: #fff;
  color: #232a7b;
  border: #232a7b 1px solid; }
.page-blog h2 {
  color: #232a7b; }
.page-blog .blog-boxss {
  padding: 50px 0; }
  .page-blog .blog-boxss .menu-about-section h2 {
    margin: 50px 0 10px; }
  .page-blog .blog-boxss .menu-about-section .menu-about {
    border-bottom: #cbcbcb 1px solid; }
    .page-blog .blog-boxss .menu-about-section .menu-about ul {
      padding: 0; }
      .page-blog .blog-boxss .menu-about-section .menu-about ul li {
        padding: 15px 10px; }
.page-blog .bi-quyet-lam-dep .title-section {
  margin-bottom: 25px; }
.page-blog .video-blogs {
  background: #f1f7fc; }
  .page-blog .video-blogs .title-section {
    margin-bottom: 25px; }
  .page-blog .video-blogs .box-blog-video .item-news {
    display: flex; }
    .page-blog .video-blogs .box-blog-video .item-news .thumnaisl-avatar {
      width: 47%;
      margin-right: 25px;
      position: relative;
      display: inline-block; }
      .page-blog .video-blogs .box-blog-video .item-news .thumnaisl-avatar .btn-play-vid {
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        margin: 0 auto;
        cursor: pointer;
        width: 40px;
        height: 40px; }
  .page-blog .video-blogs .box-blog-video .info-news {
    width: 47%;
    padding: 0; }
    .page-blog .video-blogs .box-blog-video .info-news a {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }

.page-blog-option .center .btn-common.btn-view-all {
  background: #fff;
  color: #232a7b;
  border: #232a7b 1px solid; }
.page-blog-option h2 {
  color: #232a7b; }
.page-blog-option .pagging-page {
  width: 100%; }
.page-blog-option .bi-quyet-lam-dep {
  padding-top: 15px; }
  .page-blog-option .bi-quyet-lam-dep h3 {
    font-size: 18px;
    font-weight: 600; }
  .page-blog-option .bi-quyet-lam-dep span {
    font-size: 16px; }
  .page-blog-option .bi-quyet-lam-dep .menu-about-section .menu-about ul {
    padding: 0; }
    .page-blog-option .bi-quyet-lam-dep .menu-about-section .menu-about ul li {
      padding: 15px 10px; }
  .page-blog-option .bi-quyet-lam-dep .menu-about-section .title-section {
    margin: 50px 0 10px; }
.page-blog-option .cau-chuyen-thanh-cong {
  padding-top: 15px; }
  .page-blog-option .cau-chuyen-thanh-cong h3 {
    font-size: 18px;
    font-weight: 600; }
  .page-blog-option .cau-chuyen-thanh-cong span {
    font-size: 16px; }
  .page-blog-option .cau-chuyen-thanh-cong .menu-about-section .menu-about ul {
    padding: 0; }
    .page-blog-option .cau-chuyen-thanh-cong .menu-about-section .menu-about ul li {
      padding: 15px 10px; }
  .page-blog-option .cau-chuyen-thanh-cong .menu-about-section .title-section {
    margin: 50px 0 10px; }

.page-blog-ct .blog-ct {
  padding: 20px 0 50px; }
  .page-blog-ct .blog-ct .name {
    text-transform: inherit; }
  .page-blog-ct .blog-ct .head-blog-ssct .title-section {
    -webkit-line-clamp: inherit !important;
    font-size: 30px; }
  .page-blog-ct .blog-ct .head-blog-ssct .date-share {
    height: 50px; }
  .page-blog-ct .blog-ct .head-blog-ssct .title-section {
    color: #232a7b; }
  .page-blog-ct .blog-ct .title-section {
    text-align: left; }
  .page-blog-ct .blog-ct .date-share {
    padding: 10px 0 15px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-bottom: #cbcbcb 1px solid; }
  .page-blog-ct .blog-ct .body-text {
    margin: 40px 0 50px; }
    .page-blog-ct .blog-ct .body-text a {
      font-size: 20px;
      font-weight: 600; }
    .page-blog-ct .blog-ct .body-text p {
      margin: 30px 0;
      font-size: 16px; }
    .page-blog-ct .blog-ct .body-text .blog-box-s2 {
      margin-top: 25px; }
    .page-blog-ct .blog-ct .body-text .blog-box-s3 {
      margin-top: 25px; }
    .page-blog-ct .blog-ct .body-text .blog-box-s4 {
      margin-top: 25px; }
  .page-blog-ct .blog-ct .body-text-right .item-news {
    display: flex; }
    .page-blog-ct .blog-ct .body-text-right .item-news .info-news span {
      font-size: 14px; }
    .page-blog-ct .blog-ct .body-text-right .item-news .info-news h3 a {
      margin: 0;
      font-weight: 600;
      font-size: 16px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }

.page-blog .slider-csvc-about.slider-tin-tuc-sk .carousel-control-prev {
  left: 170px; }
.page-blog .slider-csvc-about.slider-tin-tuc-sk .carousel-control-next {
  right: 170px; }
.page-blog .slider-tin-tuc-sk .item__third.thumnaisl-avatar a img {
  border-radius: 10px; }
.page-blog .slider-tin-tuc-sk .carousel-caption {
  text-align: left;
  bottom: 0;
  left: 30px;
  right: 30px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  opacity: 0.8;
  border-radius: 10px;
  padding: 0 20px; }
  .page-blog .slider-tin-tuc-sk .carousel-caption p {
    font-size: 20px !important; }

/*# sourceMappingURL=hai.css.map */
