@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
$brand: #232a7b;
$brand02: #dcaf27;
$text: #333;
$text-alpha: #999;
$border: #cbcbcb;

.pagging-page {
  display: flex;
  justify-content: center;
  .pagination {
    .page-item {
      a {
        color: #232a7b;
        background: #f1f7fc;
        padding: 9px 16px;
        border-radius: 20px;
        font-size: 17px;
        font-weight: 400;
        &.active {
          color: #fff;
          background: #232a7b;
        }
      }
    }
  }
}

.section-banner {
  .banner-head {
    .banner-pc-about {
      display: inline-block;
    }
    .banner-mb-about {
      display: none;
    }
  }
}
.icon-facebook.btn-facebook{
  background: #1877F2;
    margin-left: 8px;
    padding: 4px 8px;
    border-radius: 3px;
    color: #fff;
}

// --------------------------------------page-khuyen-mai------------------------------->>
.page-khuyenmai .khuyen-mai .menu-about li:last-child{
&::after{
  display: none;
}
}
.page-khuyenmai {
  h3{
    a{
      font-size: 20px;
      font-weight: 600;
    }
  }
  span{
    font-size: 16px;
  }
  h2 {
    color: $brand;
  }
  .khuyen-mai {
    padding-top: 35px;
    .menu-about {
      a {
        font-weight: 600;
        color: $text-alpha;
      }
      .no-sub.active {
        border-bottom: none;
        a {
          color: $brand;
        }
      }
      li:after { 
        content: "/";
        margin-left: 15px;
        color: $text-alpha;
       
      }
    }
    .box-text-img {
      .col-md-6 {
        margin: 20px 0 160px;
        .item-news {
          position: relative;
          .thumnaisl-avatar {
            a {
              position: relative;
              padding-top: 46%;
              display: block;
              img {
                border-radius: 0;
              }
            }
          }
          .info-news {
            background: #fff;
            position: absolute;
            padding: 25px 30px;
            bottom: -135px;
            left: 50px;
            // box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);
            width: 85%;
          }
        }
      }
    }
  }
}

// --------------------------------------page-blog------------------------------->>
.page-blog {
  h3 {
    a {
      font-size: 20px;
      font-weight: 600;
    }
  }
  span{
    font-size: 16px;
  }
  .center {
    .btn-common.btn-view-all {
      background: #fff;
      color: #232a7b;
      border: $brand 1px solid;
    }
  }
  h2 {
    color: $brand;
  }

  .blog-boxss {
    padding: 50px 0;
    .menu-about-section {
      h2 {
        margin: 50px 0 10px;
      }
      .menu-about {
        border-bottom: $border 1px solid;
        ul {
          padding: 0;
          li {
            padding: 15px 10px;
          }
        }
      }
    }
  }
  .bi-quyet-lam-dep {
    .title-section {
      margin-bottom: 25px;
    }
  }
  .video-blogs {
    background: #f1f7fc;
    .title-section {
      margin-bottom: 25px;
    }
    .box-blog-video {
      .item-news {
        display: flex;
        .thumnaisl-avatar {
          width: 47%;
          margin-right: 25px;
          position: relative;
          display: inline-block;
          .btn-play-vid {
            position: absolute;
            bottom: 40px;
            left: 0;
            right: 0;
            margin: 0 auto;
            cursor: pointer;
            width: 40px;
            height: 40px;
          }
        }
      }

      .info-news {
        width: 47%;
        padding: 0;
        a {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }
}

// --------------------------------------page-blog-option-3------------------------------->>
.page-blog-option {
  .center {
    .btn-common.btn-view-all {
      background: #fff;
      color: #232a7b;
      border: $brand 1px solid;
    }
  }
  h2 {
    color: $brand;
  }
  .pagging-page {
    width: 100%;
  }
  .bi-quyet-lam-dep {
    h3 {
      font-size: 18px;
      font-weight: 600;
    }
    span {
      font-size: 16px;
    }
    padding-top: 15px;
    .menu-about-section {
      .menu-about {
        ul {
          padding: 0;
          li {
            padding: 15px 10px;
          }
        }
      }
      .title-section {
        margin: 50px 0 10px;
      }
    }
  }
  .cau-chuyen-thanh-cong {
    h3 {
      font-size: 18px;
      font-weight: 600;
    }
    span {
      font-size: 16px;
    }
    padding-top: 15px;
    .menu-about-section {
      .menu-about {
        ul {
          padding: 0;
          li {
            padding: 15px 10px;
          }
        }
      }
      .title-section {
        margin: 50px 0 10px;
      }
    }
  }
}

// --------------------------------------page-blog-ct------------------------------->>
.page-blog-ct {
  .blog-ct {
    padding: 20px 0 50px;
   .name{
     text-transform: inherit;
   }
    .head-blog-ssct {
      .title-section{
        -webkit-line-clamp: inherit !important;
        font-size: 30px;
      }
      .date-share{
        height: 50px;
      }
      .title-section {
        color: $brand;
      }
    }
    .title-section {
      text-align: left;
    }
    .date-share {
      padding: 10px 0 15px;
      display: flex;
      align-content: center;
      justify-content: space-between;
      border-bottom: $border 1px solid;
    }
    .body-text {
      margin: 40px 0 50px;
      a {
        font-size: 20px;
        font-weight: 600;
      }
      p {
        margin: 30px 0;
        font-size: 16px;
      }
      .blog-box-s2 {
        margin-top: 25px;
      }
      .blog-box-s3 {
        margin-top: 25px;
      }
      .blog-box-s4 {
        margin-top: 25px;
      }
    }
    .body-text-right {
      .item-news {
        display: flex;
        .info-news {
          span {
            font-size: 14px;
          }
          h3 {
            a {
              margin: 0;
              font-weight: 600;
              font-size: 16px;
              display: -webkit-box;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
        }
      }
    }
  }
}

// --------------------------------------page-blog-option-1------------------------------->>
.page-blog{
  .slider-csvc-about.slider-tin-tuc-sk .carousel-control-prev {
    left: 170px;
}
.slider-csvc-about.slider-tin-tuc-sk .carousel-control-next {
  right: 170px;
}
  .slider-tin-tuc-sk{
    .item__third.thumnaisl-avatar a img{
      border-radius: 10px;
    }
    .carousel-caption{
      text-align: left;
      bottom: 0;
      left: 30px;
      right: 30px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
      opacity: 0.8;
      border-radius: 10px;

    padding: 0 20px;

      p{
        font-size: 20px !important;
      }
      
    }
  }

}
