@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
/* ------- datlichhen_kiemtra ----- */
.title-step {
  font-weight: 400;
  font-size: 36px  !important;
  line-height: 49px;
  text-align: center;
  color: #232A7B !important; }

.box-form-datlich {
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  padding: 30px;
  max-width: 950px;
  margin: 0 auto; }
  .box-form-datlich h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 49px;
    text-align: center;
    color: #232A7B; }
  .box-form-datlich p {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #333; }
  .box-form-datlich input {
    border: 1px solid #CBCBCB !important;
    padding: 10px;
    background-color: white;
    width: 50%;
    border-radius: 5px; }
    .box-form-datlich input::placeholder {
      font-size: 14px; }
  .box-form-datlich .btn-submit-form {
    width: 195px; }

/* ------- datlichhen_thongtin ----- */
.custom-time label {
  z-index: 9;
  text-align: left;
  width: 150px;
  border: 1px solid #eeeeee !important;
  margin-bottom: 0;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 13px;
  padding: 10px 15px;
  color: #666666;
  background: #EEEEEE;
  transition: all .3s ease-in-out;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }
.custom-time .custom-select.time-booking {
  border-radius: 5px;
  height: 44px;
  border: 1px solid #CBCBCB !important;
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  color: #333;
  background: transparent;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0 !important;
  outline: 0;
  /* padding-left: 180px; */
  transition: all .3s ease-in-out;
  font-size: 16px; }
  .custom-time .custom-select.time-booking .select-selected {
    text-align: left;
    padding-left: 168px; }
    .custom-time .custom-select.time-booking .select-selected::after {
      right: 15px; }
  .custom-time .custom-select.time-booking .select-items {
    text-align: left;
    padding-left: 180px; }

.bgsection-blue {
  background-color: #F1F7FC; }

.datlichhen_thongtin .box-btnsubmit p {
  margin: 0 0 15px 0; }
.datlichhen_thongtin .box-btnsubmit .btn-common {
  width: initial;
  margin: 0 10px; }
.datlichhen_thongtin .span-input {
  position: relative;
  display: inline-block;
  width: 100%; }
.datlichhen_thongtin .basic-slide {
  height: 44px;
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  color: #333;
  background: transparent;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0 !important;
  outline: 0;
  padding-left: 180px;
  transition: all .3s ease-in-out;
  font-size: 16px; }
.datlichhen_thongtin .basic-slide + label {
  text-align: left;
  width: 150px;
  border: 1px solid #eeeeee !important;
  margin-bottom: 0;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: -5px;
  padding: 10px 15px;
  color: #666666;
  background: #EEEEEE;
  transition: all .3s ease-in-out;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }
.datlichhen_thongtin .box-btnsubmit {
  margin: 0 auto; }
.datlichhen_thongtin .book-date {
  background: #DCAF27; }
  .datlichhen_thongtin .book-date:hover {
    background: #232A7B; }

/* ------- lien-he ----- */
.content-contacts h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #232A7B; }
.content-contacts .detail-contact {
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
  line-height: 30px;
  display: flex;
  align-items: center; }
  .content-contacts .detail-contact i {
    color: #232A7B; }
  .content-contacts .detail-contact span {
    margin: 0 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px; }
.content-contacts .gg-map a {
  position: relative;
  padding-top: 64%;
  display: block; }
  .content-contacts .gg-map a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }
.content-contacts .text-contact {
  font-size: 14px;
  line-height: 19px; }
.content-contacts .form-advise input, .content-contacts .form-advise textarea {
  border: 1px solid #CBCBCB !important;
  padding: 10px;
  background-color: white;
  border-radius: 5px; }
  .content-contacts .form-advise input:focus, .content-contacts .form-advise textarea:focus {
    border-color: #232A7B !important; }
  .content-contacts .form-advise input::placeholder, .content-contacts .form-advise textarea::placeholder {
    color: #333;
    font-size: 14px; }
.content-contacts .form-advise textarea {
  height: 190px; }

/* ------- datlichhen_step ----- */
.datlichhen_step h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 49px;
  color: #333;
  text-align: center; }
.datlichhen_step .steps {
  padding: 20px 0;
  width: 100%;
  display: inline-block; }
  .datlichhen_step .steps .progress-steps {
    counter-reset: step;
    width: 100%;
    display: flex;
    justify-content: center; }
  .datlichhen_step .steps .progress-steps li {
    margin: 0 10px;
    list-style-type: none;
    width: 15%;
    float: left;
    font-size: 14px;
    position: relative;
    text-align: center;
    color: #232A7B; }
  .datlichhen_step .steps .progress-steps li:before {
    color: #232A7B;
    width: 50px;
    height: 50px;
    content: counter(step);
    counter-increment: step;
    line-height: 50px;
    border: none;
    display: block;
    text-align: center;
    margin: 0 auto .7em auto;
    border-radius: 50%;
    background-color: white; }
  .datlichhen_step .steps .progress-steps li:after {
    width: 80%;
    height: 1px;
    content: '';
    position: absolute;
    background-color: #EBEBEB;
    top: 25px;
    left: -45%; }
  .datlichhen_step .steps .progress-steps li:first-child:after {
    content: none; }
  .datlichhen_step .steps .progress-steps li.active {
    color: #DCAF27; }
  .datlichhen_step .steps .progress-steps li.active:before {
    background: #232A7B;
    border: 0;
    color: white; }
  .datlichhen_step .steps .progress-steps li.active + li:after {
    background-color: #DCAF27; }
.datlichhen_step .box-btnsubmit {
  margin-top: 20px;
  display: flex;
  justify-content: center; }
  .datlichhen_step .box-btnsubmit .btn-submit-back {
    margin: 0 20px;
    background-color: #666666; }
    .datlichhen_step .box-btnsubmit .btn-submit-back:hover {
      opacity: .5; }

.branch-system .nav-tabs .tabs-info .nav-tabs .nav-item.show .nav-link, .branch-system .tabs-info .nav-tabs .nav-link.active {
  color: #232A7B !important;
  border: 0;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  text-transform: capitalize  !important; }
.branch-system .tabs-info .nav-tabs .nav-link {
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  text-transform: capitalize  !important; }
.branch-system .nav-tabs .nav-item.show .nav-link, .branch-system .nav-tabs .nav-link.active {
  background-color: transparent; }
.branch-system .title-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .branch-system .title-tabs p {
    margin-bottom: 5px; }
.branch-system p {
  font-size: 30px; }
.branch-system .box-cms-shadow {
  background: #FFFFFF;
  margin-bottom: 15px;
  padding: 20px 30px 30px 30px; }
  .branch-system .box-cms-shadow .label-custom span {
    font-size: 20px;
    line-height: 17px; }
  .branch-system .box-cms-shadow .title-radiocheck {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .branch-system .box-cms-shadow .title-radiocheck .check-radio-custom {
      margin: 0; }
      .branch-system .box-cms-shadow .title-radiocheck .check-radio-custom p {
        margin: 0; }
  .branch-system .box-cms-shadow .check-radio-custom [type="radio"]:checked + label:after, .branch-system .box-cms-shadow .check-radio-custom [type="radio"]:not(:checked) + label:after {
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px; }
  .branch-system .box-cms-shadow .check-radio-custom [type="radio"]:checked + label:before, .branch-system .box-cms-shadow .check-radio-custom [type="radio"]:not(:checked) + label:before {
    width: 16px;
    height: 16px; }
  .branch-system .box-cms-shadow .input-custom:checked + .label-custom {
    color: #dbae27 !important; }
  .branch-system .box-cms-shadow .check-radio-custom [type="radio"]:checked + label, .branch-system .box-cms-shadow .check-radio-custom [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
    color: #222; }
.branch-system .detail-location {
  display: flex;
  margin-top: 10px;
  align-items: center; }
  .branch-system .detail-location span {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .branch-system .detail-location img {
    margin-right: 10px; }
  .branch-system .detail-location .ggmap {
    color: #03A4FF;
    line-height: 20px; }

/* ------- datlichhen_step 2 ----- */
.box-infor {
  margin-top: 35px;
  margin-bottom: 20px;
  background-color: #232A7B;
  color: #DCAF27;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 5px;
  max-width: 250px; }

.infor-datlich .custom-time .select-selected::after {
  right: 15px  !important; }
.infor-datlich input {
  width: 100%; }
.infor-datlich .select-items div, .infor-datlich .select-selected {
  text-align: left; }
.infor-datlich .custom-select {
  border: 1px solid #CBCBCB !important;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  height: 42px; }
.infor-datlich .input-custom:checked + .label-custom {
  color: #dbae27 !important;
  margin-bottom: 0; }
.infor-datlich .check-radio-custom {
  margin: 0; }
  .infor-datlich .check-radio-custom p {
    text-align: left;
    line-height: 24px;
    margin: 0; }
  .infor-datlich .check-radio-custom span {
    font-size: 12px; }
.infor-datlich .box-infor-family {
  margin-bottom: 20px;
  background-color: #232A7B;
  color: #DCAF27;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 5px;
  max-width: 250px; }

/* ------- datlichhen_step 3 ----- */
.success-form .box-btnsubmit .btn-submit-form {
  width: initial; }
.success-form p {
  font-size: 18px;
  line-height: 30px; }
  .success-form p span {
    font-size: 18px;
    line-height: 30px;
    color: #FF0000; }

/* ------- thammymat  thẩm mỹ mắt ----- */
.thammymat .banner-mb-thammymat img {
  display: none; }
.thammymat .two-col-service .service {
  margin-bottom: 30px; }

/* --------------Checkbox-------------------- */
.input-custom {
  display: none; }

.label-custom {
  color: #333;
  line-height: 1.2;
  display: flex;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  align-items: center;
  margin-bottom: 15px;
  font-weight: normal !important; }
  .label-custom:checked {
    color: #232A7B !important; }
  .label-custom:before {
    content: "\e64c";
    font-family: "themify";
    font-size: 14px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 1;
    border: 1px solid #CBCBCB;
    box-sizing: border-box;
    border-radius: 4px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.label-custom:checked {
  color: #333 !important; }

.input-custom:checked + .label-custom::before {
  color: white;
  background-color: #dbae27;
  border: 1px solid #dbae27; }

.input-custom:checked + .label-custom {
  color: #333 !important; }

/*# sourceMappingURL=hanh.css.map */
