@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');
$brand:#232A7B;
$brand02:#DCAF27;
$text:#333;
$text-alpha:#999;
$border: #CBCBCB;


/* ------- datlichhen_kiemtra ----- */
.title-step{
        font-weight: 400;
        font-size: 36px  !important;
        line-height: 49px;
        text-align: center;
        color: $brand !important;
}
.box-form-datlich{
    text-align: center;
    background: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
	padding: 30px;
	// border-radius: 4px;
    max-width: 950px;
    margin: 0 auto;
    h2{
        font-weight: 400;
        font-size: 30px;
        line-height: 49px;
        text-align: center;
        color: $brand;
    }
    p{
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: $text;
    }
    input{
        
        border: 1px solid #CBCBCB !important;
        padding: 10px;
        background-color: white;
        width: 50%;
        border-radius: 5px;
        &::placeholder{
            font-size: 14px;
        }
        
    }
    .btn-submit-form{
        width: 195px;
    }
}
/* ------- datlichhen_thongtin ----- */
.custom-time{
    label{
        z-index: 9;
    text-align: left;
    width: 150px;
    border: 1px solid #eeeeee !important;
    margin-bottom: 0;
    font-size: 16px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 13px;
    padding: 10px 15px;
    color: #666666;
    background: #EEEEEE;
    transition: all .3s ease-in-out;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    }
    .custom-select.time-booking{
        border-radius: 5px;
        height: 44px;
        border: 1px solid #CBCBCB !important;
        display: inline-block;
        width: 100%;
        padding: 10px 15px;
        color: #333;
        background: transparent;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0 !important;
        outline: 0;
        /* padding-left: 180px; */
        transition: all .3s ease-in-out;
        font-size: 16px;
        .select-selected{
            text-align: left;
            padding-left: 168px;
            &::after{
                right: 15px;
            }
        }
        .select-items{
            text-align: left;
            padding-left: 180px;
        }
       
    }
}
.bgsection-blue{
    background-color: #F1F7FC;
}
.datlichhen_thongtin{
    .box-btnsubmit{
        p{
            margin: 0 0 15px 0;
        }
        .btn-common{
            width: initial;
            margin: 0 10px;
        }
    }
    .span-input{
        position: relative;
        display: inline-block;
        // margin: 30px 10px;
        width: 100%;
    }
    .basic-slide {
        height: 44px;
        display: inline-block;
        width: 100%;
        padding: 10px 15px;
        color: $text;
        background: transparent;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0 !important;
        outline: 0;
        padding-left: 180px;
        // text-indent: 70px;
        transition: all .3s ease-in-out;
        font-size: 16px;
    }
    .basic-slide + label {
        text-align: left;
        width: 150px;
        border: 1px solid #eeeeee !important;
        margin-bottom: 0;
        font-size: 16px;
        display: inline-block;
        position: absolute;
        top: 0;
        left: -5px;
        padding: 10px 15px;
        color: #666666;
        background: #EEEEEE;
        transition: all .3s ease-in-out;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .box-btnsubmit{
        margin: 0 auto;
    }
    .book-date{
        background: $brand02;
        &:hover{
            background: $brand;
        }
    }
}
/* ------- lien-he ----- */
.content-contacts{
h2{
        font-weight: 400;
        font-size: 36px;
        line-height: 49px;
        color: $brand;
}
.detail-contact{
    margin-bottom: 5px;
    font-size: 16px;
    color: $text;
    line-height: 30px;
    display: flex;
    align-items: center;
    i{
        color: $brand;
    }
    span{
        margin:0 8px;
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
    }
}
.gg-map{
    a{
            position: relative;
            padding-top: 64%;
            display: block;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            left: 0;
            top: 0;
        }
    }
}
.text-contact{
    font-size: 14px;
    line-height: 19px;      
}

.form-advise{
    input, textarea{
        border: 1px solid #CBCBCB !important;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        &:focus{
            border-color: #232A7B !important;
        }
        &::placeholder{
            color: $text;
            font-size: 14px;
        }
    }
    textarea{
        height: 190px;
    }
}
}
/* ------- datlichhen_step ----- */
.datlichhen_step{
    
h2{
    font-weight: 400;
    font-size: 30px;
    line-height: 49px;
    color: $text;
    text-align: center;
}
.steps {
    padding: 20px 0;
    width: 100%;
    display: inline-block;
    .progress-steps {
      counter-reset: step;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .progress-steps li {
      margin: 0 10px;
      list-style-type: none;
      width: 15%;
      float: left;
      font-size: 14px;
      position: relative;
      text-align: center;
      color: $brand;
    }
    .progress-steps li:before {
      color: $brand;
      width: 50px;
      height: 50px;
      content: counter(step);
      counter-increment: step;
      line-height: 50px;
      border: none;
      display: block;
      text-align: center;
      margin: 0 auto .7em auto;
      border-radius: 50%;
      background-color: white;
    }
    .progress-steps li:after {
        width: 80%;
        height: 1px;
        content: '';
        position: absolute;
        background-color: #EBEBEB;
        top: 25px;
        left: -45%;
    }
    .progress-steps li:first-child:after {
      content: none;
    }
    .progress-steps li.active {
      color:  #DCAF27;
    }
    .progress-steps li.active:before {
      background: $brand;
      border: 0;
      color: white;
    }
    .progress-steps li.active + li:after {
      background-color:  $brand02;
    }
    
  }
 
  .box-btnsubmit{
      margin-top: 20px;
    display: flex;
    justify-content: center;
    .btn-submit-back{
        margin: 0 20px;
        background-color: #666666;
        &:hover{
            opacity: .5;
        }
    }
}
}
.branch-system{
   
    .nav-tabs .tabs-info .nav-tabs .nav-item.show .nav-link, .tabs-info .nav-tabs .nav-link.active {
       color: #232A7B !important;
       border: 0;
       font-weight: 600;
       font-size: 17px;
       line-height: 22px;
       text-transform: capitalize  !important;
   }
  .tabs-info .nav-tabs .nav-link{
       font-weight: 600;
       font-size: 17px;
       line-height: 22px;
       text-transform: capitalize  !important;
   }
   
    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
        background-color: transparent;
    }
    .title-tabs{
        p{
            margin-bottom: 5px;
        }
        display: flex;
        align-items: center;
        justify-content: space-between;
       
    }
    p{
      font-size: 30px;
      // line-height: 41px;
    }
    .box-cms-shadow{
        .label-custom{
            span{
              font-size: 20px;
              line-height: 17px;
            }
        }
      .title-radiocheck{
          display: flex;
          align-items: center;
          justify-content: space-between;
          .check-radio-custom{
              margin: 0;
              p{
                  // padding: 10px 0;
                  margin: 0;
                  label{
                      
                      
                  }
              }
          }
      }
      background: #FFFFFF;
      margin-bottom: 15px;
      padding: 20px 30px 30px 30px;
      
      .check-radio-custom [type="radio"]:checked + label:after, .check-radio-custom [type="radio"]:not(:checked) + label:after{
          width: 10px;
          height: 10px;
          top: 3px;
          left: 3px;
      }
      .check-radio-custom [type="radio"]:checked + label:before, .check-radio-custom [type="radio"]:not(:checked) + label:before{
          width: 16px;
          height: 16px;
      }
      .input-custom:checked + .label-custom {
          color: #dbae27 !important;
      }
      .check-radio-custom [type="radio"]:checked + label, .check-radio-custom [type="radio"]:not(:checked) + label {
          position: relative;
          padding-left: 28px;
          cursor: pointer;
          display: inline-block;
          color: #222;
      }
      // .title-box + .input-custom:checked{
      //     color: $brand02 !important;
      // }
    }
  .detail-location{
      display: flex;
      margin-top: 10px;
      align-items: center;
      span{
          font-size: 14px;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
           overflow: hidden;
      }
      img{
          margin-right: 10px;
      }
      .ggmap{
          color: #03A4FF;
          line-height: 20px;
          
      }
  }
  
}
/* ------- datlichhen_step 2 ----- */
.box-infor{
    margin-top: 35px;
    margin-bottom: 20px;
    background-color: $brand;
    color: $brand02;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 5px;
    max-width: 250px;
}
.infor-datlich{
    .custom-time{
        .select-selected{
            &::after{
                  right: 15px  !important;
              }
              }
    }
 
  
    input{
        width: 100%;
    }
    .select-items div, .select-selected{
        text-align: left;
        // margin-left: 10px;
    }
    .custom-select{
        border: 1px solid #CBCBCB !important;
        padding: 10px;
        background-color: white;
        border-radius: 5px;
        height: 42px;
        
        
    }
    .input-custom:checked + .label-custom {
        color: #dbae27 !important;
        margin-bottom: 0;
    }
    .check-radio-custom{
        margin: 0;
        p{
            text-align: left;
            line-height: 24px;
            margin: 0;
            
        }
        span{
            font-size: 12px;
        }
    }
    .box-infor-family{
        margin-bottom: 20px;
        background-color: $brand;
        color: $brand02;
        padding: 10px 20px;
        font-size: 12px;
        line-height: 16px;
        border-radius: 5px;
        max-width: 250px;
        // margin-left: 15px;
    }
}
/* ------- datlichhen_step 3 ----- */
.success-form{
    .box-btnsubmit{
        .btn-submit-form{
            width: initial;
        }
    }
    p{
        font-size: 18px;
        line-height: 30px;
        span{
            font-size: 18px;
            line-height: 30px;
            color: #FF0000;
        }
    }
}
/* ------- thammymat  thẩm mỹ mắt ----- */
.thammymat{
    
    .banner-mb-thammymat{
        img{
            display: none;
        }
    }
    .two-col-service{
        .service{
margin-bottom: 30px;
        }
    }
}

/* --------------Checkbox-------------------- */

.input-custom {
    display: none;
   }
   
   .label-custom {
    color: $text;
    line-height: 1.2;
    display: flex;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    align-items: center;
    margin-bottom: 15px;
    font-weight: normal !important;
   
    &:checked {
     color: $brand  !important;
    }
   
    &:before {
     content: "\e64c";
     font-family: "themify";
     font-size: 14px;
     color: transparent;
     display: -webkit-box;
     display: -webkit-flex;
     display: -moz-box;
     display: -ms-flexbox;
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     width: 20px;
     height: 20px;
     opacity: 1;
     border: 1px solid $border;
     box-sizing: border-box;
     border-radius: 4px;
     left: 0;
     top: 50%;
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
     transform: translateY(-50%);
    }
   }
   
   .label-custom {
    &:checked {
     color: $text  !important;
    }
   }
   
   .input-custom:checked+.label-custom::before {
    color: white;
    background-color: #dbae27;
    border: 1px solid #dbae27;
   }
   
   .input-custom:checked+.label-custom {
    color: $text  !important;
    
   }