.menu-mb {
  display: none; }

.btn-action {
  display: none; }

.bannerMB {
  display: none !important; }

.slider-csvc .lSPager.lSGallery {
  width: 100% !important;
  display: flex;
  overflow-x: scroll;
  height: auto;
  justify-content: center; }

.page-khuyenmai .khuyen-mai .box-text-img .col-md-6 .item-news .info-news {
  left: 0;
  width: 85%;
  right: 0;
  margin: 0 auto; }

.footer-mobile {
  display: none; }

/*-------------------------------------------------------------------- @media 1600px ----------------------------------------------------------------------*/
@media only screen and (max-width: 1601px) {
  .slide-doctor button.owl-prev {
    left: 0; }

  .slide-doctor button.owl-next {
    right: 0; }

  .page-about .story-about .title-section {
    font-size: 32px;
    margin-bottom: 0; }
  .page-about .story-about .story-abbox .soul-ab {
    padding: 10px 30px; }
    .page-about .story-about .story-abbox .soul-ab p {
      font-size: 16px; }

  .slide-doctor .doctor .thumnaisl-avatar a {
    padding-top: 120%; } }
/*-------------------------------------------------------------------- @media 1201px ----------------------------------------------------------------------*/
@media only screen and (max-width: 1201px) {
  .show-sticky-infrastructure {
    top: 75px !important; }

  .page-about .infrastructure .csvc {
    width: 200px;
    height: 200px;
    margin: 20px 15px; }
  .page-about .story-about .story-abbox .img-about-story {
    width: 100%; }
  .page-about .story-about .story-abbox .soul-ab {
    width: 100%; }
  .page-about .story-about .infor-head-about {
    display: inherit;
    position: inherit; }
    .page-about .story-about .infor-head-about .container {
      display: inherit;
      padding: 0; }
  .page-about .slider-csvc-about {
    margin-top: 50px; }
    .page-about .slider-csvc-about .item__third {
      padding: 0 10px; }
    .page-about .slider-csvc-about .carousel-control-prev {
      left: 110px; }
    .page-about .slider-csvc-about .carousel-control-next {
      right: 110px; }
    .page-about .slider-csvc-about .thumnaisl-avatar a {
      padding-top: 90%; }

  .page-blog.page-about .blog-boxss {
    padding: 40px 0; }
    .page-blog.page-about .blog-boxss .item-news.mt-40 {
      margin-top: 5px; }
  .page-blog.page-about .slider-csvc-about {
    margin-top: 0; }

  .section-tam-nhin-su-menh .thumnaisl-avatar a {
    padding-top: 90%; }
  .section-tam-nhin-su-menh .infor-misson {
    margin-bottom: 3px;
    padding-left: 55px;
    padding-right: 35px; }
    .section-tam-nhin-su-menh .infor-misson .title-section {
      margin-bottom: 15px; }
    .section-tam-nhin-su-menh .infor-misson img {
      height: 40px; }
    .section-tam-nhin-su-menh .infor-misson .detail-misson p {
      padding-right: 5px;
      font-size: 16px;
      -webkit-line-clamp: 4; }

  .why-choose-ND .panel-group .panel {
    margin: 8px 0; }

  .item-gtcl .text-gtcl {
    padding: 10px; }
    .item-gtcl .text-gtcl p {
      font-size: 24px;
      margin-bottom: 0; }

  .slide-doctor {
    padding-top: 0; }
    .slide-doctor .thumnaisl-avatar a {
      padding-top: 143% !important; }

  .title-tab-chi-nhanh a {
    font-size: 22px; }

  .logo img {
    max-width: 90px; }

  .content-head .search-head {
    max-width: 350px; }

  .menu nav ul li a {
    font-size: 13px; } }
/*-------------------------------------------------------------------- @media 960px ----------------------------------------------------------------------*/
@media only screen and (max-width: 960px) {
  .slider-list-KH button.owl-prev {
    left: 0; }

  .slider-list-KH button.owl-next {
    right: 0; }

  .page-lien-he-tu-van .section-lien-he-tu-van .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .page-lien-he-tu-van .panel-group {
    padding: 0 20px; }

  .breadcrumbs {
    margin-top: 90px; }

  .section-banner {
    padding-top: 0; }
    .section-banner .banner-head {
      min-height: inherit; }

  .menu-about-section .menu-about ul .no-sub {
    padding: 5px; }

  .footer-mobile {
    display: block; }

  .content-stories {
    left: 43% !important;
    padding: 30px 0 100px 0 !important; }
    .content-stories .detail-stories {
      -webkit-line-clamp: initial  !important; }

  .container {
    max-width: 900px; }

  .section-banner .banner-head .bannerPC {
    display: none; }
  .section-banner .banner-head .bannerMB {
    display: block !important; }
    .section-banner .banner-head .bannerMB img {
      width: 100%; }

  .section-thong-ke .content-thong-ke {
    padding-top: 20px; }
    .section-thong-ke .content-thong-ke .title-section {
      font-size: 24px;
      display: -webkit-box;
      -webkit-line-clamp: initial;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .section-thong-ke .content-thong-ke p {
      font-size: 16px;
      padding: 0;
      display: -webkit-box;
      -webkit-line-clamp: initial;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .section-thong-ke .content-thong-ke .ds-thong-ke {
      justify-content: center; }
      .section-thong-ke .content-thong-ke .ds-thong-ke .col-md-3 {
        max-width: 50% !important; }
        .section-thong-ke .content-thong-ke .ds-thong-ke .col-md-3 .thongke {
          width: 165px;
          height: 165px;
          margin: 10px 0; }
          .section-thong-ke .content-thong-ke .ds-thong-ke .col-md-3 .thongke img {
            width: 40px; }
          .section-thong-ke .content-thong-ke .ds-thong-ke .col-md-3 .thongke p {
            margin: 10px 0;
            -webkit-line-clamp: initial; }

  .title-section {
    font-size: 24px;
    display: -webkit-box;
    -webkit-line-clamp: initial;
    -webkit-box-orient: vertical;
    overflow: hidden; }

  .tham-my-cnc {
    padding: 15px 0; }
    .tham-my-cnc .tabs-info ul {
      padding-bottom: 0;
      margin-bottom: -16px;
      overflow-x: scroll;
      height: auto;
      white-space: nowrap;
      border-bottom: 0;
      width: 100%;
      flex-wrap: unset;
      justify-content: flex-start; }
    .tham-my-cnc .tabs-info .tab-content {
      padding-top: 35px; }
    .tham-my-cnc .tabs-info .two-col-service .col-md-6 {
      padding-left: 15px !important;
      padding-right: 15px !important; }
      .tham-my-cnc .tabs-info .two-col-service .col-md-6 .service {
        padding-right: 0; }
    .tham-my-cnc .tabs-info .slider-service .item {
      padding-right: 0;
      padding-top: 0; }
    .tham-my-cnc .tabs-info .center {
      margin-top: 10px; }

  .section-stories {
    padding: 15px 0; }

  .result-service {
    padding: 15px 0; }

  .btn-action {
    display: block; }

  .box-pc {
    display: none; }

  .btn-action {
    bottom: 100px;
    position: fixed;
    right: 30px;
    z-index: 999; }
    .btn-action li {
      list-style: none; }
      .btn-action li a {
        display: block;
        margin: 30px 0; }

  .co-so-vat-chat {
    padding-top: 30px;
    padding-bottom: 110px; }
    .co-so-vat-chat .bg-black .info-csvc {
      padding: 15px 0; }
      .co-so-vat-chat .bg-black .info-csvc h3 a {
        -webkit-line-clamp: initial;
        font-size: 24px; }
      .co-so-vat-chat .bg-black .info-csvc p {
        -webkit-line-clamp: initial;
        font-size: 16px; }
    .co-so-vat-chat .bg-black .slider-csvc .lSPager.lSGallery {
      width: 100% !important;
      display: flex;
      overflow-x: scroll;
      height: auto; }

  .section-form-dk form h3 {
    margin-top: 20px; }

  .news-event {
    padding: 15px 0; }
    .news-event .item-news {
      padding: 25px 0; }
      .news-event .item-news .col-md-6 .info-news {
        margin-top: 20px; }
      .news-event .item-news .btn-play-vid {
        bottom: 15px;
        width: 30px; }

  #popup-tuvan.modal {
    z-index: 99999; }
    #popup-tuvan.modal .modal-dialog {
      margin: 0;
      max-width: 100%;
      height: 100%; }
      #popup-tuvan.modal .modal-dialog .modal-content {
        height: 100%;
        border-radius: 0;
        border: 0; }
        #popup-tuvan.modal .modal-dialog .modal-content .content-popup .box-form {
          background: none;
          box-shadow: none;
          border-radius: 0;
          padding: 50px 0 0 0; }
          #popup-tuvan.modal .modal-dialog .modal-content .content-popup .box-form .row {
            display: initial;
            margin: 0 auto; }
            #popup-tuvan.modal .modal-dialog .modal-content .content-popup .box-form .row .col-md-3 {
              max-width: 100%; }
              #popup-tuvan.modal .modal-dialog .modal-content .content-popup .box-form .row .col-md-3 .info-left-form {
                text-align: center; }
            #popup-tuvan.modal .modal-dialog .modal-content .content-popup .box-form .row .col-md-9 {
              max-width: 100%; }
              #popup-tuvan.modal .modal-dialog .modal-content .content-popup .box-form .row .col-md-9 form .row .col-md-4 {
                max-width: 100%; }

  .menu-pc {
    display: none; }

  .menu-mb .menu-mobile nav {
    display: none !important; }

  .menu-mb {
    display: flex;
    align-items: center; }
    .menu-mb .logo img {
      max-width: 130px;
      height: 55px; }
    .menu-mb .search-head-mb {
      background: #e5e5e5;
      display: inline-block;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      padding-top: 8px;
      padding-left: 11px;
      position: absolute;
      right: 45px;
      top: 10px; }
      .menu-mb .search-head-mb i {
        position: absolute;
        left: 0;
        top: 0;
        color: #999;
        padding: 13px;
        border-radius: 0 6px 6px 0;
        font-weight: 700; }
    .menu-mb .content-right .dat-lich-kham a img {
      height: 35px; }
    .menu-mb .menu-mobile {
      position: fixed;
      right: 15px; }
      .menu-mb .menu-mobile i {
        font-size: 20px;
        color: #999; }
        .menu-mb .menu-mobile i.ti-close {
          display: none !important; }
        .menu-mb .menu-mobile i.ti-menu {
          display: block !important; }
      .menu-mb .menu-mobile nav {
        display: none !important;
        position: fixed;
        left: 0;
        top: 75px;
        width: 100%;
        height: 100%;
        background: white;
        box-shadow: inset 17px -14px 20px 0px #0000000a;
        border-top: 0;
        padding: 0 !important;
        scroll-behavior: smooth;
        transition: all 0.2s ease-in-out; }
        .menu-mb .menu-mobile nav ul {
          display: inline-block !important;
          width: 100%; }
          .menu-mb .menu-mobile nav ul li {
            padding: 10px 0; }
            .menu-mb .menu-mobile nav ul li a {
              padding: 0 20px;
              position: relative;
              width: 100%;
              display: inline-block;
              font-size: 16px !important;
              color: #232A7B; }
              .menu-mb .menu-mobile nav ul li a:hover, .menu-mb .menu-mobile nav ul li a.active {
                color: #DCAF27 !important; }
              .menu-mb .menu-mobile nav ul li a::before {
                content: "\e61a";
                display: inline-block;
                font-family: 'themify';
                font-size: 11px;
                position: absolute;
                right: 15px;
                top: 2px;
                color: #232A7B; }
          .menu-mb .menu-mobile nav ul.active a {
            color: #DCAF27; }
            .menu-mb .menu-mobile nav ul.active a svg path {
              fill: #DCAF27; }
    .menu-mb .btn-search-mb {
      background: #e5e5e5;
      display: inline-block;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      padding-top: 10px;
      padding-left: 11px;
      position: absolute;
      right: 60px; }

  .show-menu .menu-mb .menu-mobile nav {
    display: block !important; }
  .show-menu .menu-mb .menu-mobile i.ti-close {
    display: block !important; }
  .show-menu .menu-mb .menu-mobile i.ti-menu {
    display: none !important; }

  header .btn-search-mb, header .close-search, header .ti-close, header .ti-menu {
    display: block; }

  /* Search mobile */
  .icon-search-mb {
    display: block;
    position: fixed;
    right: 180px;
    top: 22px;
    height: 35px;
    width: 35px;
    background: #efefef;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px; }

  .search-head {
    display: none; }

  header {
    box-shadow: 0px 4px 14px #0000000a;
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    z-index: 9999; }
    header .search-head {
      display: none;
      transition: width 2s;
      position: fixed;
      top: 75px;
      width: 100%;
      margin: 0; }
      header .search-head i {
        top: 16px; }
        header .search-head i.ti-close {
          font-size: 15px;
          z-index: 1;
          text-align: right;
          position: absolute;
          right: 0;
          top: 0;
          margin: 0;
          width: 30px;
          left: inherit; }
      header .search-head input {
        border-radius: 0;
        border: none;
        background-color: white;
        padding: 5px 10px;
        width: 100%;
        padding-left: 35px;
        height: 45px;
        z-index: 999; }
      header .search-head .close-search {
        display: block !important;
        border: 0;
        background: none;
        color: #333; }
    header .show-search-mb {
      left: 0;
      display: block;
      transition: 0.5s;
      box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.05); }
      header .show-search-mb .ti-search {
        display: none; }

  .footer-mobile .collapsible {
    background-color: #1b205f;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800; }
  .footer-mobile .active, .footer-mobile .collapsible:hover {
    background-color: #1b205fe8; }
  .footer-mobile .content-address {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #1b205f;
    width: 100%;
    height: 150px;
    overflow-y: scroll; }
    .footer-mobile .content-address ul {
      margin-top: 15px; }
      .footer-mobile .content-address ul li {
        display: inline-flex;
        align-items: center;
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 30px;
        color: #FFFFFF;
        width: 100%; }
        .footer-mobile .content-address ul li a {
          color: #fff !important;
          padding-left: 10px; }
  .footer-mobile .address {
    margin-bottom: 20px; }

  .menu-about-section .menu-about ul {
    overflow-x: scroll;
    height: auto;
    white-space: nowrap;
    width: 100%;
    flex-wrap: unset;
    justify-content: left; }

  .chi-tiet-dv .section-khai-niem {
    padding-bottom: 0; }
    .chi-tiet-dv .section-khai-niem .col-md-6 {
      -ms-flex: 0 0 50%;
      flex: 0 0 100%;
      max-width: 100%; }
    .chi-tiet-dv .section-khai-niem .title-section {
      margin-top: 30px;
      margin-left: 10px; }

  .section-doi-tuongKH .item-KH {
    padding: 20px 10px; }

  .section-doi-tuongKH .row {
    padding-right: 0 !important; }
    .section-doi-tuongKH .row .col-md-3 {
      margin: 10px 0; }

  .slider-list-KH .item {
    padding-right: 5px; }

  .chi-tiet-dv .vi-sao-chon .col-md-4 {
    width: 50%; }
  .chi-tiet-dv .vi-sao-chon .title-section {
    margin-top: 30px; }
  .chi-tiet-dv .vi-sao-chon .thumnaisl-avatar a {
    padding-top: 105%; }
    .chi-tiet-dv .vi-sao-chon .thumnaisl-avatar a img {
      object-fit: contain; }
  .chi-tiet-dv .vi-sao-chon .col-md-3, .chi-tiet-dv .vi-sao-chon .col-md-9 {
    -ms-flex: 0 0 10%;
    flex: 0 0 100%;
    max-width: 100%; }
  .chi-tiet-dv .vi-sao-chon .deatil-reason p {
    padding: 20px; }

  .wizard-content .wizard > .actions > ul {
    left: 350px;
    bottom: 100px; }
  .wizard-content .wizard.wizard-circle > .steps .step {
    width: 40px;
    height: 40px;
    font-size: 17px; }
  .wizard-content .wizard > .steps > ul > li {
    width: 18% !important; }

  .wizard-content .wizard > .steps > ul > li a {
    margin-top: 25px; }

  .section-cs-sau-lam .noi-dung-hd {
    padding: 30px 10px; }

  .page-blog-ct .col-md-8, .page-blog-ct .col-md-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .bgsection-blue.content-contacts .detail-contact {
    display: inherit; }
  .bgsection-blue.content-contacts .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .bgsection-blue.content-contacts .text-contact {
    margin-top: 15px; }

  .box-blog-video .item-news.mt-20.mb-20 {
    margin-top: 5px;
    margin-bottom: 10px; }

  .page-blog-option.opt-3 .bi-quyet-lam-dep .item-news.mt-20.mb-20 {
    margin-top: 0; }

  .page-blog .slider-csvc-about.slider-tin-tuc-sk .carousel-control-prev {
    left: 100px; }

  .page-blog .slider-csvc-about.slider-tin-tuc-sk .carousel-control-next {
    right: 100px; } }
/*-------------------------------------------------------------------- @media 767px ----------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .page-blog-option .bi-quyet-lam-dep, .page-blog-option .cau-chuyen-thanh-cong {
    padding-top: 40px; }

  .page-blog .slider-csvc-about.slider-tin-tuc-sk .carousel-control-prev {
    left: 0; }

  .page-blog .slider-csvc-about.slider-tin-tuc-sk .carousel-control-next {
    right: 0; }

  .page-khuyenmai .khuyen-mai .box-text-img .col-md-6 {
    margin: 20px 0 10px; }
  .page-khuyenmai .khuyen-mai .box-text-img .col-md-6 .item-news .info-news {
    width: 100%;
    position: inherit;
    bottom: inherit;
    padding: 20px 0; }

  .section-cs-sau-lam .buoc-huong-dan .col-md-2 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%; }
  .section-cs-sau-lam .buoc-huong-dan .col-md-4 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .section-cs-sau-lam .buoc-huong-dan .col-md-2:nth-child(6), .section-cs-sau-lam .buoc-huong-dan .col-md-2:nth-child(7), .section-cs-sau-lam .buoc-huong-dan .col-md-2:nth-child(8) {
    border-bottom: 1px solid #CBCBCB; }
  .section-cs-sau-lam .buoc-huong-dan .noi-dung-hd.boder-none {
    border-right: 1px solid #CBCBCB; }

  .section-cs-sau-lam .vid-hd .btn-play-vid {
    width: 50px; }
  .section-cs-sau-lam .thumnaisl-avatar a {
    padding-top: 80%; }

  .wizard-content .wizard > .steps > ul {
    width: 100%; }

  .wizard-content .wizard > .actions > ul {
    left: 0;
    bottom: 50px !important; }

  .section-quy-trinh .text-process {
    margin-top: 20px;
    padding: 30px 0 100px; }
    .section-quy-trinh .text-process p.scrollbar {
      height: 100%;
      overflow: inherit; }

  .wizard-content .wizard > .steps > ul > li {
    width: 20% !important; }

  .section-banner .banner-head .banner-pc-about, .banner-head a.banner-pc-thammymat {
    display: none; }

  .section-banner .banner-head .banner-mb-about, .banner-head a.banner-mb-thammymat {
    display: block; }

  .page-about .section-banner, .page-lien-he-tu-van .section-banner, .thammy-danh-sach .section-banner, .chi-tiet-dv .section-banner, .page-khuyenmai .section-banner, .page-blog-option .section-banner {
    padding-top: 10px; }
  .page-about .breadcrumbs a::after, .page-lien-he-tu-van .breadcrumbs a::after, .thammy-danh-sach .breadcrumbs a::after, .chi-tiet-dv .breadcrumbs a::after, .page-khuyenmai .breadcrumbs a::after, .page-blog-option .breadcrumbs a::after {
    margin: 0 5px; }

  .infrastructure .col-md-3 {
    text-align: center; }

  .page-about .slider-csvc-about .carousel-control-next {
    right: 0; }

  .page-about .story-about .story-abbox .soul-ab {
    padding: 30px 15px 15px 15px; }
  .page-about .story-about .title-section {
    font-size: 24px; }
  .page-about .slider-csvc-about .carousel-control-prev {
    left: 0; }

  .why-choose-ND .flex-center .demo {
    padding: 30px 0 0 0; }

  .section-tam-nhin-su-menh .infor-misson {
    padding-right: 15px; }

  .section-gtcl .row.mt-30 {
    margin-top: 5px; }

  .item-gtcl {
    margin: 10px 0; }

  .modal-doctor {
    z-index: 9999;
    padding-top: 80px; }

  .section-stories .slider-stories .lSSlideOuter .lSPager.lSGallery img {
    width: 160px !important;
    height: 100% !important; }

  .section-stories .slider-stories .lSAction {
    left: 0; }

  .co-so-vat-chat .slider-csvc ul li img {
    width: 100% !important; }

  .info-news {
    padding-right: 5px; }

  .section-bao-chi .item-news.lagre {
    margin-right: 15px;
    margin-top: 0; }
  .section-bao-chi .item-news.row {
    margin: 10px -15px; }
    .section-bao-chi .item-news.row .info-news {
      padding-top: 15px; }

  .branch-system .box-cms-shadow .label-custom span {
    line-height: 24px; }

  .title-section {
    margin-bottom: 20px;
    margin-top: 0; }

  section {
    padding: 40px 0; }

  .page-lien-he-tu-van .panel-group {
    padding: 0 15px; }
  .page-lien-he-tu-van .section-stories {
    padding-top: 40px; }

  .section-khai-niem .title-section {
    padding-top: 20px; }

  .reason {
    padding-top: 20px; }

  .chi-tiet-dv .vi-sao-chon .deatil-reason p {
    padding: 0;
    margin-top: 15px; }
  .chi-tiet-dv .result-service {
    padding-top: 40px; }
  .chi-tiet-dv .section-thong-ke .content-thong-ke {
    padding-top: 40px; }

  .section-quy-trinh .desc-title {
    padding: 0; }

  .section-stories .slider-stories .lSAction {
    position: absolute;
    bottom: 170px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end; }

  .section-stories .slider-stories ul li .content-stories {
    position: relative !important;
    left: initial !important;
    top: initial !important;
    padding: initial !important; }

  .section-banner {
    padding-top: 70px; }
    .section-banner .banner-head .bannerPC {
      display: none; }
    .section-banner .banner-head .bannerMB {
      display: block !important; }
      .section-banner .banner-head .bannerMB img {
        width: 100%; }

  .section-thong-ke .content-thong-ke {
    padding-top: 20px; }
    .section-thong-ke .content-thong-ke .title-section {
      font-size: 24px;
      display: -webkit-box;
      -webkit-line-clamp: initial;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .section-thong-ke .content-thong-ke p {
      font-size: 16px;
      padding: 0;
      display: -webkit-box;
      -webkit-line-clamp: initial;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .section-thong-ke .content-thong-ke .ds-thong-ke {
      justify-content: center; }
      .section-thong-ke .content-thong-ke .ds-thong-ke .col-md-3 {
        max-width: 50% !important; }
        .section-thong-ke .content-thong-ke .ds-thong-ke .col-md-3 .thongke {
          width: 165px;
          height: 165px;
          margin: 10px 0; }
          .section-thong-ke .content-thong-ke .ds-thong-ke .col-md-3 .thongke img {
            width: 40px; }
          .section-thong-ke .content-thong-ke .ds-thong-ke .col-md-3 .thongke p {
            margin: 10px 0;
            -webkit-line-clamp: initial; }

  .title-section {
    font-size: 24px;
    display: -webkit-box;
    -webkit-line-clamp: initial;
    -webkit-box-orient: vertical;
    overflow: hidden; }

  .tham-my-cnc {
    padding: 15px 0; }
    .tham-my-cnc .tabs-info ul {
      padding-bottom: 0;
      margin-bottom: -16px;
      overflow-x: scroll;
      height: auto;
      white-space: nowrap;
      border-bottom: 0;
      width: 100%;
      flex-wrap: unset;
      justify-content: flex-start; }
    .tham-my-cnc .tabs-info .tab-content {
      padding-top: 35px; }
    .tham-my-cnc .tabs-info .two-col-service .col-md-6 {
      padding-left: 15px !important;
      padding-right: 15px !important; }
      .tham-my-cnc .tabs-info .two-col-service .col-md-6 .service {
        padding-right: 0; }
    .tham-my-cnc .tabs-info .slider-service .item {
      padding-right: 0;
      padding-top: 0; }
    .tham-my-cnc .tabs-info .center {
      margin-top: 10px; }

  .section-stories {
    padding: 15px 0; }
    .section-stories .lSSlideOuter ul#image-gallery {
      height: 100%  !important; }

  .result-service {
    padding: 15px 0; }
    .result-service .item {
      padding: 0; }
      .result-service .item .result .row .col-md-6 .row .col-md-6 {
        width: 50%; }
    .result-service button.owl-next {
      top: 30%; }
    .result-service button.owl-prev {
      top: 30%; }
    .result-service .box-shadow {
      border: 1px solid #ccc;
      margin-top: 30px;
      box-shadow: none; }

  .btn-action {
    display: block; }

  .box-pc {
    display: none; }

  .btn-action {
    bottom: 100px;
    position: fixed;
    right: 30px;
    z-index: 999; }
    .btn-action li {
      list-style: none; }
      .btn-action li a {
        display: block;
        margin: 30px 0; }

  .co-so-vat-chat {
    padding-top: 30px;
    padding-bottom: 90px; }
    .co-so-vat-chat .bg-black .info-csvc {
      padding: 15px 0; }
      .co-so-vat-chat .bg-black .info-csvc h3 a {
        -webkit-line-clamp: initial;
        font-size: 24px; }
      .co-so-vat-chat .bg-black .info-csvc p {
        -webkit-line-clamp: initial;
        font-size: 16px; }

  .section-form-dk form h3 {
    margin-top: 20px; }

  .news-event {
    padding: 15px 0; }
    .news-event .item-news {
      padding: 0; }
      .news-event .item-news .col-md-6 .info-news {
        margin-top: 20px; }
      .news-event .item-news .btn-play-vid {
        width: 80px;
        bottom: 150px; }

  #popup-tuvan.modal {
    z-index: 99999; }
    #popup-tuvan.modal .modal-dialog {
      margin: 0;
      max-width: 100%;
      height: 100%; }
      #popup-tuvan.modal .modal-dialog .modal-content {
        height: 100%;
        border-radius: 0;
        border: 0; }
        #popup-tuvan.modal .modal-dialog .modal-content .content-popup .box-form {
          background: none;
          box-shadow: none;
          border-radius: 0;
          padding: 50px 0 0 0; }

  .menu-pc {
    display: none; }

  .menu-mb .menu-mobile nav {
    display: none !important; }

  .menu-mb {
    display: flex;
    align-items: center; }
    .menu-mb .logo img {
      max-width: 130px;
      height: 55px; }
    .menu-mb .search-head-mb {
      background: #e5e5e5;
      display: inline-block;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      padding-top: 8px;
      padding-left: 11px;
      position: absolute;
      right: 45px;
      top: 10px; }
      .menu-mb .search-head-mb i {
        position: absolute;
        left: 0;
        top: 0;
        color: #999;
        padding: 13px;
        border-radius: 0 6px 6px 0;
        font-weight: 700; }
    .menu-mb .content-right .dat-lich-kham a img {
      height: 35px; }
    .menu-mb .menu-mobile {
      position: fixed;
      right: 15px; }
      .menu-mb .menu-mobile i {
        font-size: 20px;
        color: #999; }
        .menu-mb .menu-mobile i.ti-close {
          display: none !important; }
        .menu-mb .menu-mobile i.ti-menu {
          display: block !important; }
      .menu-mb .menu-mobile nav {
        display: none !important;
        position: fixed;
        left: 0;
        top: 75px;
        width: 100%;
        height: 100%;
        background: white;
        box-shadow: inset 17px -14px 20px 0px #0000000a;
        border-top: 0;
        padding: 0 !important;
        scroll-behavior: smooth;
        transition: all 0.2s ease-in-out; }
        .menu-mb .menu-mobile nav ul {
          display: inline-block !important;
          width: 100%; }
          .menu-mb .menu-mobile nav ul li {
            padding: 10px 0; }
            .menu-mb .menu-mobile nav ul li a {
              padding: 0 20px;
              position: relative;
              width: 100%;
              display: inline-block;
              font-size: 16px !important;
              color: #232A7B; }
              .menu-mb .menu-mobile nav ul li a:hover, .menu-mb .menu-mobile nav ul li a.active {
                color: #DCAF27 !important; }
          .menu-mb .menu-mobile nav ul.active a {
            color: #DCAF27; }
            .menu-mb .menu-mobile nav ul.active a svg path {
              fill: #DCAF27; }
    .menu-mb .btn-search-mb {
      background: #e5e5e5;
      display: inline-block;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      padding-top: 10px;
      padding-left: 11px;
      position: absolute;
      right: 60px; }

  .show-menu .menu-mb .menu-mobile nav {
    display: block !important; }
  .show-menu .menu-mb .menu-mobile i.ti-close {
    display: block !important; }
  .show-menu .menu-mb .menu-mobile i.ti-menu {
    display: none !important; }

  header .btn-search-mb, header .close-search, header .ti-close, header .ti-menu {
    display: block; }

  /* Search mobile */
  .icon-search-mb {
    display: block;
    position: fixed;
    right: 180px;
    top: 22px;
    height: 35px;
    width: 35px;
    background: #efefef;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px; }

  .search-head {
    display: none; }

  .menu-mobile nav ul li:hover a::before {
    content: "\e622";
    display: inline-block;
    font-family: 'themify'; }
  .menu-mobile nav ul li:hover .sub-menu {
    opacity: 1;
    visibility: initial;
    position: relative;
    top: 10px !important;
    width: 100% !important;
    box-shadow: none;
    border-radius: 0;
    background: #046e4508; }
    .menu-mobile nav ul li:hover .sub-menu .container {
      padding: 0; }
    .menu-mobile nav ul li:hover .sub-menu .sub-menu1 li {
      margin: 0; }
      .menu-mobile nav ul li:hover .sub-menu .sub-menu1 li a {
        color: #333; }
        .menu-mobile nav ul li:hover .sub-menu .sub-menu1 li a.sub-cate-tilte {
          font-weight: 600;
          color: #232A7B; }
        .menu-mobile nav ul li:hover .sub-menu .sub-menu1 li a::before {
          display: none; }

  header {
    box-shadow: 0px 4px 14px #0000000a;
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    z-index: 9999; }
    header .search-head {
      display: none;
      transition: width 2s;
      position: fixed;
      top: 75px;
      width: 100%;
      margin: 0; }
      header .search-head i {
        top: 16px; }
        header .search-head i.ti-close {
          font-size: 15px;
          z-index: 1;
          text-align: right;
          position: absolute;
          right: 0;
          top: 0;
          margin: 0;
          width: 30px;
          left: inherit; }
      header .search-head input {
        border-radius: 0;
        border: none;
        background-color: white;
        padding: 5px 10px;
        width: 100%;
        padding-left: 35px;
        height: 45px;
        z-index: 999; }
      header .search-head .close-search {
        display: block !important;
        border: 0;
        background: none;
        color: #333; }
    header .show-search-mb {
      left: 0;
      display: block;
      transition: 0.5s;
      box-shadow: 0px 1px 8px rgba(126, 125, 125, 0.05); }
      header .show-search-mb .ti-search {
        display: none; } }
@media only screen and (max-width: 500px) {
  .section-stories .content-stories .name {
    font-size: 16px; }

  .section-stories .slider-stories .lSAction {
    position: absolute;
    bottom: 297px;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    left: 0; }

  .result-service button.owl-prev {
    top: 26%; }

  .result-service button.owl-next {
    top: 26%; }

  .result-service .name {
    font-size: 16px; }
  .result-service .info-result .tinh-trang p {
    -webkit-line-clamp: initial  !important; }

  .news-event {
    padding: 15px 0; }
    .news-event .item-news {
      padding: 0; }
      .news-event .item-news .col-md-6 .info-news {
        margin-top: 20px; }
      .news-event .item-news .btn-play-vid {
        bottom: 80px;
        width: 50px; } }

/*# sourceMappingURL=responsive.css.map */
