@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
/* ------- datlichhen_kiemtra ----- */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap");
.title-step {
  font-weight: 400;
  font-size: 36px  !important;
  line-height: 49px;
  text-align: center;
  color: #232A7B !important; }

.box-form-datlich {
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  padding: 30px;
  max-width: 950px;
  margin: 0 auto; }
  .box-form-datlich h2 {
    font-weight: 400;
    font-size: 30px;
    line-height: 49px;
    text-align: center;
    color: #232A7B; }
  .box-form-datlich p {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #333; }
  .box-form-datlich input {
    border: 1px solid #CBCBCB !important;
    padding: 10px;
    background-color: white;
    width: 50%;
    border-radius: 5px; }
    .box-form-datlich input::placeholder {
      font-size: 14px; }
  .box-form-datlich .btn-submit-form {
    width: 195px; }

/* ------- datlichhen_thongtin ----- */
.custom-time label {
  z-index: 9;
  text-align: left;
  width: 150px;
  border: 1px solid #eeeeee !important;
  margin-bottom: 0;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 13px;
  padding: 10px 15px;
  color: #666666;
  background: #EEEEEE;
  transition: all .3s ease-in-out;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }
.custom-time .custom-select.time-booking {
  border-radius: 5px;
  height: 44px;
  border: 1px solid #CBCBCB !important;
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  color: #333;
  background: transparent;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0 !important;
  outline: 0;
  /* padding-left: 180px; */
  transition: all .3s ease-in-out;
  font-size: 16px; }
  .custom-time .custom-select.time-booking .select-selected {
    text-align: left;
    padding-left: 168px; }
    .custom-time .custom-select.time-booking .select-selected::after {
      right: 15px; }
  .custom-time .custom-select.time-booking .select-items {
    text-align: left;
    padding-left: 180px; }

.bgsection-blue {
  background-color: #F1F7FC; }

.datlichhen_thongtin .box-btnsubmit p {
  margin: 0 0 15px 0; }
.datlichhen_thongtin .box-btnsubmit .btn-common {
  width: initial;
  margin: 0 10px; }
.datlichhen_thongtin .span-input {
  position: relative;
  display: inline-block;
  width: 100%; }
.datlichhen_thongtin .basic-slide {
  height: 44px;
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  color: #333;
  background: transparent;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0 !important;
  outline: 0;
  padding-left: 180px;
  transition: all .3s ease-in-out;
  font-size: 16px; }
.datlichhen_thongtin .basic-slide + label {
  text-align: left;
  width: 150px;
  border: 1px solid #eeeeee !important;
  margin-bottom: 0;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: -5px;
  padding: 10px 15px;
  color: #666666;
  background: #EEEEEE;
  transition: all .3s ease-in-out;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }
.datlichhen_thongtin .box-btnsubmit {
  margin: 0 auto; }
.datlichhen_thongtin .book-date {
  background: #DCAF27; }
  .datlichhen_thongtin .book-date:hover {
    background: #232A7B; }

/* ------- lien-he ----- */
.content-contacts h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 49px;
  color: #232A7B; }
.content-contacts .detail-contact {
  margin-bottom: 5px;
  font-size: 16px;
  color: #333;
  line-height: 30px;
  display: flex;
  align-items: center; }
  .content-contacts .detail-contact i {
    color: #232A7B; }
  .content-contacts .detail-contact span {
    margin: 0 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px; }
.content-contacts .gg-map a {
  position: relative;
  padding-top: 64%;
  display: block; }
  .content-contacts .gg-map a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }
.content-contacts .text-contact {
  font-size: 14px;
  line-height: 19px; }
.content-contacts .form-advise input, .content-contacts .form-advise textarea {
  border: 1px solid #CBCBCB !important;
  padding: 10px;
  background-color: white;
  border-radius: 5px; }
  .content-contacts .form-advise input:focus, .content-contacts .form-advise textarea:focus {
    border-color: #232A7B !important; }
  .content-contacts .form-advise input::placeholder, .content-contacts .form-advise textarea::placeholder {
    color: #333;
    font-size: 14px; }
.content-contacts .form-advise textarea {
  height: 190px; }

/* ------- datlichhen_step ----- */
.datlichhen_step h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 49px;
  color: #333;
  text-align: center; }
.datlichhen_step .steps {
  padding: 20px 0;
  width: 100%;
  display: inline-block; }
  .datlichhen_step .steps .progress-steps {
    counter-reset: step;
    width: 100%;
    display: flex;
    justify-content: center; }
  .datlichhen_step .steps .progress-steps li {
    margin: 0 10px;
    list-style-type: none;
    width: 15%;
    float: left;
    font-size: 14px;
    position: relative;
    text-align: center;
    color: #232A7B; }
  .datlichhen_step .steps .progress-steps li:before {
    color: #232A7B;
    width: 50px;
    height: 50px;
    content: counter(step);
    counter-increment: step;
    line-height: 50px;
    border: none;
    display: block;
    text-align: center;
    margin: 0 auto .7em auto;
    border-radius: 50%;
    background-color: white; }
  .datlichhen_step .steps .progress-steps li:after {
    width: 80%;
    height: 1px;
    content: '';
    position: absolute;
    background-color: #EBEBEB;
    top: 25px;
    left: -45%; }
  .datlichhen_step .steps .progress-steps li:first-child:after {
    content: none; }
  .datlichhen_step .steps .progress-steps li.active {
    color: #DCAF27; }
  .datlichhen_step .steps .progress-steps li.active:before {
    background: #232A7B;
    border: 0;
    color: white; }
  .datlichhen_step .steps .progress-steps li.active + li:after {
    background-color: #DCAF27; }
.datlichhen_step .box-btnsubmit {
  margin-top: 20px;
  display: flex;
  justify-content: center; }
  .datlichhen_step .box-btnsubmit .btn-submit-back {
    margin: 0 20px;
    background-color: #666666; }
    .datlichhen_step .box-btnsubmit .btn-submit-back:hover {
      opacity: .5; }

.branch-system .nav-tabs .tabs-info .nav-tabs .nav-item.show .nav-link, .branch-system .tabs-info .nav-tabs .nav-link.active {
  color: #232A7B !important;
  border: 0;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  text-transform: capitalize  !important; }
.branch-system .tabs-info .nav-tabs .nav-link {
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  text-transform: capitalize  !important; }
.branch-system .nav-tabs .nav-item.show .nav-link, .branch-system .nav-tabs .nav-link.active {
  background-color: transparent; }
.branch-system .title-tabs {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .branch-system .title-tabs p {
    margin-bottom: 5px; }
.branch-system p {
  font-size: 30px; }
.branch-system .box-cms-shadow {
  background: #FFFFFF;
  margin-bottom: 15px;
  padding: 20px 30px 30px 30px; }
  .branch-system .box-cms-shadow .label-custom span {
    font-size: 20px;
    line-height: 17px; }
  .branch-system .box-cms-shadow .title-radiocheck {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .branch-system .box-cms-shadow .title-radiocheck .check-radio-custom {
      margin: 0; }
      .branch-system .box-cms-shadow .title-radiocheck .check-radio-custom p {
        margin: 0; }
  .branch-system .box-cms-shadow .check-radio-custom [type="radio"]:checked + label:after, .branch-system .box-cms-shadow .check-radio-custom [type="radio"]:not(:checked) + label:after {
    width: 10px;
    height: 10px;
    top: 3px;
    left: 3px; }
  .branch-system .box-cms-shadow .check-radio-custom [type="radio"]:checked + label:before, .branch-system .box-cms-shadow .check-radio-custom [type="radio"]:not(:checked) + label:before {
    width: 16px;
    height: 16px; }
  .branch-system .box-cms-shadow .input-custom:checked + .label-custom {
    color: #dbae27 !important; }
  .branch-system .box-cms-shadow .check-radio-custom [type="radio"]:checked + label, .branch-system .box-cms-shadow .check-radio-custom [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
    color: #222; }
.branch-system .detail-location {
  display: flex;
  margin-top: 10px;
  align-items: center; }
  .branch-system .detail-location span {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .branch-system .detail-location img {
    margin-right: 10px; }
  .branch-system .detail-location .ggmap {
    color: #03A4FF;
    line-height: 20px; }

/* ------- datlichhen_step 2 ----- */
.box-infor {
  margin-top: 35px;
  margin-bottom: 20px;
  background-color: #232A7B;
  color: #DCAF27;
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 5px;
  max-width: 250px; }

.infor-datlich .custom-time .select-selected::after {
  right: 15px  !important; }
.infor-datlich input {
  width: 100%; }
.infor-datlich .select-items div, .infor-datlich .select-selected {
  text-align: left; }
.infor-datlich .custom-select {
  border: 1px solid #CBCBCB !important;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  height: 42px; }
.infor-datlich .input-custom:checked + .label-custom {
  color: #dbae27 !important;
  margin-bottom: 0; }
.infor-datlich .check-radio-custom {
  margin: 0; }
  .infor-datlich .check-radio-custom p {
    text-align: left;
    line-height: 24px;
    margin: 0; }
  .infor-datlich .check-radio-custom span {
    font-size: 12px; }
.infor-datlich .box-infor-family {
  margin-bottom: 20px;
  background-color: #232A7B;
  color: #DCAF27;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 16px;
  border-radius: 5px;
  max-width: 250px; }

/* ------- datlichhen_step 3 ----- */
.success-form .box-btnsubmit .btn-submit-form {
  width: initial; }
.success-form p {
  font-size: 18px;
  line-height: 30px; }
  .success-form p span {
    font-size: 18px;
    line-height: 30px;
    color: #FF0000; }

/* ------- thammymat  thẩm mỹ mắt ----- */
.thammymat .banner-mb-thammymat img {
  display: none; }
.thammymat .two-col-service .service {
  margin-bottom: 30px; }

/* --------------Checkbox-------------------- */
.input-custom {
  display: none; }

.label-custom {
  color: #333;
  line-height: 1.2;
  display: flex;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  align-items: center;
  margin-bottom: 15px;
  font-weight: normal !important; }
  .label-custom:checked {
    color: #232A7B !important; }
  .label-custom:before {
    content: "\e64c";
    font-family: "themify";
    font-size: 14px;
    color: transparent;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 1;
    border: 1px solid #CBCBCB;
    box-sizing: border-box;
    border-radius: 4px;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }

.label-custom:checked {
  color: #333 !important; }

.input-custom:checked + .label-custom::before {
  color: white;
  background-color: #dbae27;
  border: 1px solid #dbae27; }

.input-custom:checked + .label-custom {
  color: #333 !important; }

.pagging-page {
  display: flex;
  justify-content: center; }
  .pagging-page .pagination .page-item a {
    color: #232a7b;
    background: #f1f7fc;
    padding: 9px 16px;
    border-radius: 20px;
    font-size: 17px;
    font-weight: 400; }
    .pagging-page .pagination .page-item a.active {
      color: #fff;
      background: #232a7b; }

.section-banner .banner-head .banner-pc-about {
  display: inline-block; }
.section-banner .banner-head .banner-mb-about {
  display: none; }

.icon-facebook.btn-facebook {
  background: #1877F2;
  margin-left: 8px;
  padding: 4px 8px;
  border-radius: 3px;
  color: #fff; }

.page-khuyenmai .khuyen-mai .menu-about li:last-child::after {
  display: none; }

.page-khuyenmai h3 a {
  font-size: 20px;
  font-weight: 600; }
.page-khuyenmai span {
  font-size: 16px; }
.page-khuyenmai h2 {
  color: #232a7b; }
.page-khuyenmai .khuyen-mai {
  padding-top: 35px; }
  .page-khuyenmai .khuyen-mai .menu-about a {
    font-weight: 600;
    color: #999; }
  .page-khuyenmai .khuyen-mai .menu-about .no-sub.active {
    border-bottom: none; }
    .page-khuyenmai .khuyen-mai .menu-about .no-sub.active a {
      color: #232a7b; }
  .page-khuyenmai .khuyen-mai .menu-about li:after {
    content: "/";
    margin-left: 15px;
    color: #999; }
  .page-khuyenmai .khuyen-mai .box-text-img .col-md-6 {
    margin: 20px 0 160px; }
    .page-khuyenmai .khuyen-mai .box-text-img .col-md-6 .item-news {
      position: relative; }
      .page-khuyenmai .khuyen-mai .box-text-img .col-md-6 .item-news .thumnaisl-avatar a {
        position: relative;
        padding-top: 46%;
        display: block; }
        .page-khuyenmai .khuyen-mai .box-text-img .col-md-6 .item-news .thumnaisl-avatar a img {
          border-radius: 0; }
      .page-khuyenmai .khuyen-mai .box-text-img .col-md-6 .item-news .info-news {
        background: #fff;
        position: absolute;
        padding: 25px 30px;
        bottom: -135px;
        left: 50px;
        width: 85%; }

.page-blog h3 a {
  font-size: 20px;
  font-weight: 600; }
.page-blog span {
  font-size: 16px; }
.page-blog .center .btn-common.btn-view-all {
  background: #fff;
  color: #232a7b;
  border: #232a7b 1px solid; }
.page-blog h2 {
  color: #232a7b; }
.page-blog .blog-boxss {
  padding: 50px 0; }
  .page-blog .blog-boxss .menu-about-section h2 {
    margin: 50px 0 10px; }
  .page-blog .blog-boxss .menu-about-section .menu-about {
    border-bottom: #cbcbcb 1px solid; }
    .page-blog .blog-boxss .menu-about-section .menu-about ul {
      padding: 0; }
      .page-blog .blog-boxss .menu-about-section .menu-about ul li {
        padding: 15px 10px; }
.page-blog .bi-quyet-lam-dep .title-section {
  margin-bottom: 25px; }
.page-blog .video-blogs {
  background: #f1f7fc; }
  .page-blog .video-blogs .title-section {
    margin-bottom: 25px; }
  .page-blog .video-blogs .box-blog-video .item-news {
    display: flex; }
    .page-blog .video-blogs .box-blog-video .item-news .thumnaisl-avatar {
      width: 47%;
      margin-right: 25px;
      position: relative;
      display: inline-block; }
      .page-blog .video-blogs .box-blog-video .item-news .thumnaisl-avatar .btn-play-vid {
        position: absolute;
        bottom: 40px;
        left: 0;
        right: 0;
        margin: 0 auto;
        cursor: pointer;
        width: 40px;
        height: 40px; }
  .page-blog .video-blogs .box-blog-video .info-news {
    width: 47%;
    padding: 0; }
    .page-blog .video-blogs .box-blog-video .info-news a {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }

.page-blog-option .center .btn-common.btn-view-all {
  background: #fff;
  color: #232a7b;
  border: #232a7b 1px solid; }
.page-blog-option h2 {
  color: #232a7b; }
.page-blog-option .pagging-page {
  width: 100%; }
.page-blog-option .bi-quyet-lam-dep {
  padding-top: 15px; }
  .page-blog-option .bi-quyet-lam-dep h3 {
    font-size: 18px;
    font-weight: 600; }
  .page-blog-option .bi-quyet-lam-dep span {
    font-size: 16px; }
  .page-blog-option .bi-quyet-lam-dep .menu-about-section .menu-about ul {
    padding: 0; }
    .page-blog-option .bi-quyet-lam-dep .menu-about-section .menu-about ul li {
      padding: 15px 10px; }
  .page-blog-option .bi-quyet-lam-dep .menu-about-section .title-section {
    margin: 50px 0 10px; }
.page-blog-option .cau-chuyen-thanh-cong {
  padding-top: 15px; }
  .page-blog-option .cau-chuyen-thanh-cong h3 {
    font-size: 18px;
    font-weight: 600; }
  .page-blog-option .cau-chuyen-thanh-cong span {
    font-size: 16px; }
  .page-blog-option .cau-chuyen-thanh-cong .menu-about-section .menu-about ul {
    padding: 0; }
    .page-blog-option .cau-chuyen-thanh-cong .menu-about-section .menu-about ul li {
      padding: 15px 10px; }
  .page-blog-option .cau-chuyen-thanh-cong .menu-about-section .title-section {
    margin: 50px 0 10px; }

.page-blog-ct .blog-ct {
  padding: 20px 0 50px; }
  .page-blog-ct .blog-ct .name {
    text-transform: inherit; }
  .page-blog-ct .blog-ct .head-blog-ssct .title-section {
    -webkit-line-clamp: inherit !important;
    font-size: 30px; }
  .page-blog-ct .blog-ct .head-blog-ssct .date-share {
    height: 50px; }
  .page-blog-ct .blog-ct .head-blog-ssct .title-section {
    color: #232a7b; }
  .page-blog-ct .blog-ct .title-section {
    text-align: left; }
  .page-blog-ct .blog-ct .date-share {
    padding: 10px 0 15px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-bottom: #cbcbcb 1px solid; }
  .page-blog-ct .blog-ct .body-text {
    margin: 40px 0 50px; }
    .page-blog-ct .blog-ct .body-text a {
      font-size: 20px;
      font-weight: 600; }
    .page-blog-ct .blog-ct .body-text p {
      margin: 30px 0;
      font-size: 16px; }
    .page-blog-ct .blog-ct .body-text .blog-box-s2 {
      margin-top: 25px; }
    .page-blog-ct .blog-ct .body-text .blog-box-s3 {
      margin-top: 25px; }
    .page-blog-ct .blog-ct .body-text .blog-box-s4 {
      margin-top: 25px; }
  .page-blog-ct .blog-ct .body-text-right .item-news {
    display: flex; }
    .page-blog-ct .blog-ct .body-text-right .item-news .info-news span {
      font-size: 14px; }
    .page-blog-ct .blog-ct .body-text-right .item-news .info-news h3 a {
      margin: 0;
      font-weight: 600;
      font-size: 16px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }

.page-blog .slider-csvc-about.slider-tin-tuc-sk .carousel-control-prev {
  left: 170px; }
.page-blog .slider-csvc-about.slider-tin-tuc-sk .carousel-control-next {
  right: 170px; }
.page-blog .slider-tin-tuc-sk .item__third.thumnaisl-avatar a img {
  border-radius: 10px; }
.page-blog .slider-tin-tuc-sk .carousel-caption {
  text-align: left;
  bottom: 0;
  left: 30px;
  right: 30px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  opacity: 0.8;
  border-radius: 10px;
  padding: 0 20px; }
  .page-blog .slider-tin-tuc-sk .carousel-caption p {
    font-size: 20px !important; }

body {
  font-family: 'Nunito Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 1.4;
  max-width: 1920px;
  margin: auto; }

a {
  text-decoration: none;
  color: #333;
  outline: none;
  transition: all .3s ease-in-out; }
  a:hover {
    text-decoration: none;
    color: #dcaf27; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  text-decoration: none; }

.container {
  max-width: 1400px; }

html {
  scroll-behavior: smooth; }

img {
  max-width: 100%; }

button {
  outline: none; }

.text-tranform {
  text-transform: uppercase; }

h1 {
  font-size: 52px; }

h2 {
  font-size: 32px; }

h3 {
  font-size: 26px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

p {
  font-size: 14px; }

b,
span,
label {
  font-size: 13px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.m10 {
  margin: 10px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.m25 {
  margin: 25px; }

.m30 {
  margin: 30px; }

.m35 {
  margin: 35px; }

.m40 {
  margin: 40px; }

.m45 {
  margin: 45px; }

.m50 {
  margin: 50px; }

.m55 {
  margin: 55px; }

.m60 {
  margin: 60px; }

.m65 {
  margin: 65px; }

.m70 {
  margin: 70px; }

.ml-0 {
  margin-left: 0; }

.mr-0 {
  margin-right: 0; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.p25 {
  padding: 25px; }

.p30 {
  padding: 30px; }

.p35 {
  padding: 35px; }

.p40 {
  padding: 40px; }

.p45 {
  padding: 45px; }

.p50 {
  padding: 50px; }

.pl-pr-50 {
  padding: 0 50px; }

.p55 {
  padding: 55px; }

.p60 {
  padding: 60px; }

.p65 {
  padding: 65px; }

.p70 {
  padding: 70px; }

.pl-0 {
  padding-left: 0; }

.pr-0 {
  padding-right: 0; }

.pt-0 {
  padding-top: 0; }

.pb-0 {
  padding-bottom: 0; }

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none; }

section {
  display: inline-block;
  width: 100%;
  padding: 50px 0; }

input:focus,
textarea:focus {
  border-color: #232a7b !important;
  outline: none;
  box-shadow: none !important; }

.title-section {
  position: relative;
  text-align: center;
  margin: 10px 0;
  display: inline-block;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 36px;
  color: #232a7b;
  margin-bottom: 30px; }
  .title-section p {
    color: #999;
    margin: 20px; }
  .title-section a {
    font-size: 36px;
    color: #333; }
  .title-section:hover {
    text-decoration: none; }
  .title-section .text-logo {
    position: absolute;
    top: -60px;
    right: 0;
    left: 0;
    margin: 0 auto; }

.btn-link-center {
  width: 100%;
  display: inline-block;
  text-align: center; }

.center {
  text-align: center;
  display: inline-block;
  width: 100%; }

.btn-common {
  display: inline-block;
  background: #232a7b;
  border-radius: 22px;
  padding: 12px 30px 10px 30px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  transition: all .3s ease-in-out;
  height: 44px;
  text-transform: uppercase;
  text-align: center; }
  .btn-common i {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 900; }
  .btn-common:hover {
    background-color: #dcaf27;
    color: white;
    cursor: pointer; }

.thumnaisl-avatar a {
  position: relative;
  padding-top: 64%;
  display: block; }
  .thumnaisl-avatar a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }

ul li {
  list-style: none; }

header .btn-search-mb,
header .close-search,
header .ti-close,
header .ti-menu {
  display: none; }

/* -------Sticky menu srcoll----- */
.menu-scroll {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999; }
  .menu-scroll nav {
    padding: 0 !important; }

.no-sub a::after, .no-sub a::before {
  display: none !important; }

/*-------------------------------------------------------- head menu -------------------------------------------------*/
header {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  background: #fff;
  z-index: 9;
  position: relative;
  border-bottom: 1px solid #e5e5e54d; }

.content-head .top-head {
  align-items: center;
  display: flex;
  justify-content: center; }
.content-head .content-right {
  display: flex;
  justify-content: center; }
  .content-head .content-right a {
    display: inline-block;
    width: 100%;
    color: #232a7b;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600; }
    .content-head .content-right a img {
      margin-right: 10px; }
  .content-head .content-right .dat-lich-kham {
    margin-right: 50px;
    padding-right: 40px;
    border-right: 1px solid #D9D9D9; }
  .content-head .content-right .hotline span {
    color: #dcaf27; }
.content-head .search-head {
  max-width: 600px;
  margin: 0 auto; }

.logo img {
  max-width: 130px;
  height: 70px; }

.menu nav > ul {
  display: flex;
  justify-content: center;
  margin-bottom: 0; }

.menu nav ul > li > a::before {
  content: "\e61a";
  display: inline-block;
  font-family: 'themify';
  font-size: 11px;
  position: absolute;
  right: 5px;
  top: 2px;
  color: #232a7b; }

.sub-menu {
  position: fixed;
  top: 110px;
  padding: 5px 0;
  width: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background: white;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
  padding: 10px;
  z-index: 999; }
  .sub-menu .sub-menu1 {
    display: inline-block; }
    .sub-menu .sub-menu1 li {
      float: left;
      margin: 10px 30px; }
      .sub-menu .sub-menu1 li ul li {
        float: none;
        margin: inherit; }
        .sub-menu .sub-menu1 li ul li a {
          color: #333; }
  .sub-menu li .sub-cate-tilte {
    font-size: 18px;
    font-weight: 600;
    color: #333; }
    .sub-menu li .sub-cate-tilte:hover {
      color: #dcaf27; }
    .sub-menu li .sub-cate-tilte.active {
      color: #dcaf27; }
  .sub-menu li ul li a a {
    color: #333;
    font-size: 16px; }

.menu {
  position: relative;
  z-index: 1; }
  .menu nav ul {
    padding: 0; }
    .menu nav ul li {
      position: relative;
      list-style: none;
      padding: 5px 0; }
      .menu nav ul li i {
        display: none; }
      .menu nav ul li a {
        color: #232a7b;
        padding: 0 20px 0 10px;
        position: relative;
        font-size: 15px;
        font-weight: 500; }
        .menu nav ul li a:hover {
          color: #dcaf27; }
        .menu nav ul li a svg {
          width: 20px;
          height: 20px; }
      .menu nav ul li.active.no-bg a {
        background-color: transparent;
        color: #dcaf27; }
      .menu nav ul li.active.no-bg svg path {
        fill: #dcaf27; }
      .menu nav ul li.active a {
        color: white;
        background-color: #dcaf27;
        border-radius: 10px; }
        .menu nav ul li.active a::before {
          color: white; }
      .menu nav ul li.active ul li a {
        color: #333;
        background-color: white; }
        .menu nav ul li.active ul li a:hover, .menu nav ul li.active ul li a.active {
          color: #dcaf27 !important; }
      .menu nav ul li:hover .sub-menu1 a::before {
        display: none; }
      .menu nav ul li:hover .sub-menu {
        opacity: 1;
        visibility: visible; }

/*-------------------------------------------------------- Search-------------------------------------------------*/
.search-head {
  position: relative;
  width: 100%;
  display: inline-block; }
  .search-head input {
    background: #FFFFFF;
    border: 1px solid #cbcbcb;
    border-radius: 22px;
    height: 40px;
    width: 100%;
    padding-left: 30px; }
    .search-head input::placeholder {
      color: #999;
      font-size: 14px; }
    .search-head input:focus {
      border: 1px solid #232a7b; }
  .search-head i {
    position: absolute;
    left: 0;
    top: 0;
    color: #999;
    padding: 13px;
    border-radius: 0 6px 6px 0;
    font-weight: 700; }

button:focus {
  outline: 0; }

/*-------------------------------------------------------- Section banner -------------------------------------------------*/
.banner-head {
  min-height: 388px; }
  .banner-head a {
    display: inline-block;
    width: 100%; }

.box-form {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  padding: 30px;
  border-radius: 4px; }
  .box-form .btn-common.btn-submit-form {
    width: 100%; }

.section-banner {
  position: relative;
  padding: 0; }
  .section-banner .box {
    position: absolute;
    bottom: -100px;
    left: 0;
    right: 0; }
  .section-banner .box-form .row {
    align-items: center; }

form .form-group {
  margin-bottom: 25px; }

.info-left-form h3 {
  color: #232a7b;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700; }
.info-left-form p {
  padding-right: 30px; }

.section-thong-ke {
  background-color: #F1F7FC;
  text-align: center; }
  .section-thong-ke .content-thong-ke {
    padding-top: 150px; }
    .section-thong-ke .content-thong-ke p {
      font-size: 18px;
      padding: 0 60px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .section-thong-ke .content-thong-ke .ds-thong-ke .col-md-3 {
      -ms-flex: 0 0 25%;
      flex: 0 0 20%;
      max-width: 20%; }
    .section-thong-ke .content-thong-ke .ds-thong-ke .thongke {
      background: #FFFFFF;
      opacity: 0.9;
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.04);
      border-radius: 100%;
      padding: 20px;
      width: 230px;
      height: 230px;
      margin: 15px 0; }
      .section-thong-ke .content-thong-ke .ds-thong-ke .thongke a {
        display: inline-block;
        width: 100%; }
      .section-thong-ke .content-thong-ke .ds-thong-ke .thongke p {
        font-size: 15px;
        margin-top: 20px;
        padding: 0;
        -webkit-line-clamp: 3; }

.service p {
  background-color: #232a7b;
  padding: 12px 10px; }
  .service p a {
    display: inline-block;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .service p:hover {
    background-color: #dcaf27; }

.tabs-info .two-col-service .service {
  padding-right: 28px; }
.tabs-info .btn-common.btn-view-all {
  background-color: white;
  color: #232a7b;
  border: 1px solid #232a7b; }
  .tabs-info .btn-common.btn-view-all i {
    color: #232a7b;
    font-weight: 900; }
  .tabs-info .btn-common.btn-view-all:hover {
    background-color: #dcaf27;
    border: 1px solid #dcaf27;
    color: white; }
    .tabs-info .btn-common.btn-view-all:hover i {
      color: white; }

.slider-service .owl-dots {
  display: none; }
.slider-service .item {
  padding-right: 30px;
  padding-top: 15px; }
  .slider-service .item .service a {
    font-size: 14px; }

.section-stories {
  background: url(../images/bg-xam.png) no-repeat center top;
  background-size: cover;
  padding-bottom: 0; }
  .section-stories .row {
    align-items: center; }
  .section-stories .slider-stories .lSSlideOuter .lSPager.lSGallery img {
    height: 160px;
    width: 160px; }
  .section-stories .slider-stories .lSAction {
    position: absolute;
    bottom: 30px;
    left: 450px;
    width: 100%;
    height: 60px;
    display: flex; }
  .section-stories .slider-stories ul li {
    position: relative; }
    .section-stories .slider-stories ul li img {
      max-width: 344px;
      width: 100%;
      height: 100%; }
    .section-stories .slider-stories ul li .content-stories {
      position: absolute;
      top: 0;
      left: 25%;
      padding: 100px;
      padding-bottom: 30px; }
      .section-stories .slider-stories ul li .content-stories .name::before {
        position: absolute;
        left: 0;
        top: 0;
        background: url(../images/icon-quotes.svg) no-repeat center !important;
        cursor: pointer;
        content: '';
        display: block;
        width: 107px;
        height: 107px; }
      .section-stories .slider-stories ul li .content-stories .detail-stories {
        font-size: 18px;
        padding-right: 50px;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden; }
      .section-stories .slider-stories ul li .content-stories::after {
        position: absolute;
        right: 0;
        bottom: 0;
        background: url(../images/icon-quotes02.svg) no-repeat center !important;
        cursor: pointer;
        content: '';
        display: block;
        width: 107px;
        height: 107px; }
  .section-stories .slider-stories .detail-stories {
    position: relative; }
  .section-stories .lSSlideOuter .lSPager.lSGallery li img {
    -webkit-filter: grayscale(100%) !important;
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%); }
  .section-stories .lSSlideOuter .lSPager.lSGallery li.active img {
    filter: initial !important; }

.name {
  font-size: 26px;
  color: #dcaf27;
  text-transform: uppercase;
  font-weight: 700; }

.career {
  color: #232a7b;
  font-size: 18px; }

.result-service .item {
  padding: 30px; }
.result-service .thumnaisl-avatar a {
  padding-top: 132%; }
.result-service .box-shadow {
  box-shadow: 10px 10px 50px rgba(140, 94, 16, 0.07);
  border-radius: 30px;
  background-color: white;
  padding: 30px; }
  .result-service .box-shadow .info-result {
    border-top: 1px solid #cbcbcb;
    margin-top: 20px;
    padding-top: 20px; }
    .result-service .box-shadow .info-result .tinh-trang {
      margin: 15px 0;
      display: flex; }
      .result-service .box-shadow .info-result .tinh-trang span {
        font-size: 20px;
        font-weight: 600;
        width: 20%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden; }
      .result-service .box-shadow .info-result .tinh-trang p {
        width: 80%;
        font-size: 17px;
        position: relative;
        padding-left: 10px;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden; }

.owl-dots {
  display: none !important; }

.co-so-vat-chat {
  background: url(../images/bg-cosovatchat.png) no-repeat center top;
  background-size: cover;
  color: white;
  padding: 90px 0;
  padding-bottom: 150px; }
  .co-so-vat-chat .btn-common {
    background-color: white;
    color: #232a7b; }
    .co-so-vat-chat .btn-common i {
      color: #232a7b; }
    .co-so-vat-chat .btn-common:hover {
      background-color: #dcaf27;
      color: white; }
      .co-so-vat-chat .btn-common:hover i {
        color: white; }
  .co-so-vat-chat p {
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .co-so-vat-chat h3 {
    margin-bottom: 25px; }
    .co-so-vat-chat h3 a {
      color: white;
      font-size: 36px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden; }
  .co-so-vat-chat .bg-black {
    background-color: #0006; }
  .co-so-vat-chat .info-csvc {
    padding: 150px 20px 20px 0; }
  .co-so-vat-chat .slider-csvc ul li img {
    width: 690px;
    max-width: 100%;
    height: 100%; }
  .co-so-vat-chat .slider-csvc .lSSlideOuter .lSPager.lSGallery img {
    border: 1px solid white;
    border-radius: 0; }
  .co-so-vat-chat .slider-csvc .lSSlideOuter .lSPager.lSGallery {
    margin: 0 auto;
    width: 540px !important;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 0 !important; }
    .co-so-vat-chat .slider-csvc .lSSlideOuter .lSPager.lSGallery li {
      width: 130px !important; }
  .co-so-vat-chat .slider-csvc .lSSlideOuter .lSPager.lSGallery li.active, .co-so-vat-chat .slider-csvc .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 0; }
  .co-so-vat-chat .slider-csvc .lSSlideOuter .lSPager.lSGallery li img {
    background-color: #000;
    opacity: 0.5; }
  .co-so-vat-chat .slider-csvc .lSSlideOuter .lSPager.lSGallery li.active img {
    background-color: transparent;
    opacity: 1; }
  .co-so-vat-chat .slider-csvc .lSAction .lSNext {
    background-image: url(../images/arrow-right-white.svg) !important; }
  .co-so-vat-chat .slider-csvc .lSAction .lSPrev {
    background-image: url(../images/arrow-left-white.svg) !important; }
  .co-so-vat-chat .slider-csvc .lSAction {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    top: 50%; }

.section-form-dk {
  background: linear-gradient(77.28deg, #0C113B 0.66%, #232A7B 23.44%, #354ABF 55.83%);
  padding-bottom: 0; }
  .section-form-dk .thumnaisl-avatar a {
    padding-top: 88%; }
  .section-form-dk form input, .section-form-dk form .select-selected, .section-form-dk form .custom-select {
    background-color: transparent;
    color: white; }
    .section-form-dk form input::placeholder, .section-form-dk form input:focus, .section-form-dk form .select-selected::placeholder, .section-form-dk form .select-selected:focus, .section-form-dk form .custom-select::placeholder, .section-form-dk form .custom-select:focus {
      color: white;
      border-color: #dcaf27 !important; }
  .section-form-dk form .select-selected:after {
    color: white; }
  .section-form-dk form .custom-select.time-booking .select-selected:after {
    background: url(../images/icon-timer-white.svg) no-repeat top; }
  .section-form-dk form .btn-common {
    background-color: white;
    color: #232a7b;
    width: 210px; }
    .section-form-dk form .btn-common i {
      color: #232a7b; }
    .section-form-dk form .btn-common:hover {
      background-color: #dcaf27;
      color: white; }
      .section-form-dk form .btn-common:hover i {
        color: white; }
  .section-form-dk form h3 {
    font-size: 36px;
    background: linear-gradient(90deg, #E2B72D 0%, #FFE8BE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent; }
  .section-form-dk form p {
    color: white;
    font-size: 16px;
    border-left: 2px solid white;
    padding-left: 15px;
    margin-top: 25px; }
    .section-form-dk form p span {
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase; }

.item-news .thumnaisl-avatar a {
  padding-top: 45%; }
  .item-news .thumnaisl-avatar a img {
    border-radius: 10px; }
.item-news .info-news .time-news {
  font-size: 14px;
  color: #666; }
.item-news.line {
  border-bottom: 1px solid #cbcbcb; }

.title-news {
  font-size: 16px;
  color: #333;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 600; }
  .title-news.text-lagre {
    font-size: 18px; }

.news-event .title-section {
  text-align: left; }
.news-event .item-news {
  padding: 25px 0; }
  .news-event .item-news:last-child {
    padding-top: 0; }
  .news-event .item-news.lagre {
    padding-top: 0;
    margin-top: 20px;
    padding-bottom: 0; }

.list-news .thumnaisl-avatar {
  position: relative; }
  .list-news .thumnaisl-avatar .btn-play-vid {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    cursor: pointer; }
  .list-news .thumnaisl-avatar a {
    padding-top: 56%; }

.slider-libary-video {
  margin-top: 10px; }
  .slider-libary-video .thumnaisl-avatar a img {
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%); }
  .slider-libary-video .owl-nav {
    display: none !important; }
  .slider-libary-video .owl-dots {
    display: block !important;
    padding-top: 15px; }
  .slider-libary-video .service p {
    background-color: transparent; }
    .slider-libary-video .service p a {
      display: inline-block;
      width: 100%;
      color: #333;
      background-color: white;
      text-align: left;
      padding: 10px 0; }

.owl-theme .owl-dots .owl-dot.active span {
  background: #dcaf27 !important;
  opacity: 1; }

.owl-theme .owl-nav {
  margin: 0; }

.result-service .owl-nav.disabled {
  display: none; }

.result-service, .slider-service, .slide-doctor, .slider-list-KH {
  position: relative; }
  .result-service button.owl-prev, .slider-service button.owl-prev, .slide-doctor button.owl-prev, .slider-list-KH button.owl-prev {
    width: 60px;
    margin: 0;
    position: absolute;
    left: -90px;
    top: 30%;
    background: url(../images/arrow-left-active.svg) no-repeat center !important;
    cursor: pointer; }
    .result-service button.owl-prev span, .slider-service button.owl-prev span, .slide-doctor button.owl-prev span, .slider-list-KH button.owl-prev span {
      font-size: 80px;
      opacity: 0; }
    .result-service button.owl-prev:focus, .slider-service button.owl-prev:focus, .slide-doctor button.owl-prev:focus, .slider-list-KH button.owl-prev:focus {
      outline: none; }
  .result-service button.owl-prev.disabled, .slider-service button.owl-prev.disabled, .slide-doctor button.owl-prev.disabled, .slider-list-KH button.owl-prev.disabled {
    background: url(../images/arrow-left.svg) no-repeat center !important; }
  .result-service button.owl-next, .slider-service button.owl-next, .slide-doctor button.owl-next, .slider-list-KH button.owl-next {
    width: 60px;
    margin: 0;
    position: absolute;
    right: -60px;
    top: 30%;
    background: url(../images/arrow-right-active.svg) no-repeat center !important;
    cursor: pointer; }
    .result-service button.owl-next span, .slider-service button.owl-next span, .slide-doctor button.owl-next span, .slider-list-KH button.owl-next span {
      font-size: 80px;
      opacity: 0; }
    .result-service button.owl-next:focus, .slider-service button.owl-next:focus, .slide-doctor button.owl-next:focus, .slider-list-KH button.owl-next:focus {
      outline: none; }
  .result-service button.owl-next.disabled, .slider-service button.owl-next.disabled, .slide-doctor button.owl-next.disabled, .slider-list-KH button.owl-next.disabled {
    background: url(../images/arrow-right.svg) no-repeat center !important; }

.owl-dots {
  display: block;
  bottom: 30px;
  z-index: 1;
  position: relative; }

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
  display: block; }

.owl-theme .owl-dots .owl-dot span {
  border: 1px solid #9e9e9e;
  background: none;
  opacity: 0.5; }

.owl-theme .owl-dots .owl-dot.active span {
  border: 0;
  background: #9e9e9e; }

.flex-center {
  display: flex;
  height: 100%;
  align-items: center; }

.tabs-info .nav {
  justify-content: center; }
.tabs-info .tab-content {
  padding-top: 25px; }
.tabs-info .nav-tabs {
  border: 0; }
.tabs-info .nav-tabs .nav-item.show .nav-link, .tabs-info .nav-tabs .nav-link.active {
  color: #232a7b !important;
  border: 0; }
.tabs-info .nav-tabs .nav-link {
  text-transform: uppercase;
  color: #999; }
  .tabs-info .nav-tabs .nav-link::after {
    content: '/';
    display: inline-block;
    margin-left: 10px;
    color: #999; }
.tabs-info .nav-tabs .nav-link:focus, .tabs-info .nav-tabs .nav-link:hover {
  border-color: transparent; }

.modal .modal-dialog {
  max-width: 600px; }
.modal .modal-header {
  border-bottom: 0;
  padding: 0; }
.modal .close:not(:disabled):not(.disabled):focus,
.modal .close:not(:disabled):not(.disabled):hover {
  opacity: 1; }

/* check-radio-custom */
.check-radio-custom {
  margin: 15px 0; }

.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

.check-radio-custom [type="radio"]:checked + label,
.check-radio-custom [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  display: inline-block;
  color: #222; }

.check-radio-custom [type="radio"]:checked + label:before,
.check-radio-custom [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #BFA145;
  border-radius: 100%;
  background: #fff; }

.check-radio-custom [type="radio"]:checked + label:after,
.check-radio-custom [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #BFA145;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.check-radio-custom [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

.check-radio-custom [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.check-radio-custom p {
  margin: 10px 0; }

/* -----------------Custom thanh srcoll-----------------*/
.scrollbar {
  height: 53vh;
  width: 100%;
  margin: auto;
  overflow-y: auto;
  padding: 0 10px; }

#style-1::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #cbcbcb; }

#style-1::-webkit-scrollbar {
  width: 1.5px;
  background-color: #ededed; }

#style-1::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #232A7B; }

/* -----------------Custom select box / input -----------------*/
input,
textarea {
  border-bottom: 1px solid #cbcbcb !important;
  border: none;
  padding: 10px 0;
  background-color: white;
  width: 100%; }
  input::placeholder,
  textarea::placeholder {
    font-size: 13px;
    color: #333; }

textarea {
  width: 100%; }

.custom-select.time-booking .select-selected:after {
  background: url(../images/icon-timer.svg) no-repeat top;
  display: inline-block;
  content: ' ';
  width: 16px;
  height: 16px;
  background-size: contain;
  right: 0; }

.custom-select {
  position: relative;
  padding: 8px 0;
  background: #fff;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #cbcbcb; }

.custom-select select {
  display: none;
  /*hide original SELECT element: */ }

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: 0.255em;
  content: "\e64b";
  font-family: 'themify';
  color: #ABABAB;
  top: 10px;
  right: 25px; }

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #333;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 14px; }

/* Style items (options): */
.select-items {
  padding: 15px;
  overflow: hidden;
  width: 100%;
  position: absolute;
  background-color: white;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: -1px 1px 14px rgba(138, 139, 159, 0.15); }

.select-items div {
  padding: 10px 0; }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  color: #232a7b; }

/*------------------ RESPONSIVE --------------------------*/
@media only screen and (max-width: 1601px) {
  .container {
    max-width: 1280px; }

  .info-left-form h3 {
    font-size: 18px; }

  .result-service .box-shadow .info-result .tinh-trang {
    margin: 5px 0; }
    .result-service .box-shadow .info-result .tinh-trang span {
      font-size: 17px; }
    .result-service .box-shadow .info-result .tinh-trang p {
      font-size: 15px; }

  .box {
    bottom: -140px; } }
@media only screen and (max-width: 1400px) {
  .result-service button.owl-prev, .slider-service button.owl-prev {
    left: 0 !important; }

  .result-service button.owl-next, .slider-service button.owl-next {
    right: 0 !important; } }
@media only screen and (max-width: 1201px) {
  .section-thong-ke .content-thong-ke .ds-thong-ke .thongke {
    width: 200px;
    height: 200px; }
    .section-thong-ke .content-thong-ke .ds-thong-ke .thongke p {
      font-size: 13px; }

  .section-banner .select-items div, .section-banner .select-selected {
    font-size: 13px; }
  .section-banner input::placeholder {
    font-size: 13px; }

  .section-stories .slider-stories .lSAction {
    left: 390px; }

  .co-so-vat-chat {
    font-size: 16px; }
    .co-so-vat-chat .info-csvc {
      padding: 80px 20px 20px 40px; }
    .co-so-vat-chat h3 a {
      font-size: 30px; } }
/* UPDATE CSS 25/9 */
.breadcrumbs {
  margin: 18px 0 14px;
  color: #999; }
  .breadcrumbs a {
    color: #999; }
    .breadcrumbs a path {
      fill: #999; }
  .breadcrumbs a::after {
    content: '|';
    margin: 0 10px;
    color: #cbcbcb; }

/* ================= Page-about ================= */
.show-sticky-infrastructure {
  position: fixed;
  z-index: 1;
  top: 110px; }

.story-about .title-section {
  color: #232a7b;
  text-align: left; }

.infor-head-about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; }
  .infor-head-about .container {
    display: flex;
    justify-content: right; }

.menu-about-section {
  display: inline-block;
  padding: 0;
  width: 100%; }
  .menu-about-section .menu-about {
    background-color: white;
    width: 100%;
    border-bottom: 1px solid #EEEEEE; }
    .menu-about-section .menu-about ul {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px 0;
      margin: 0;
      padding-bottom: 0; }
      .menu-about-section .menu-about ul .no-sub {
        padding: 10px; }
        .menu-about-section .menu-about ul .no-sub a:hover {
          color: #dcaf27; }
        .menu-about-section .menu-about ul .no-sub.active {
          border-bottom: 1px solid #dcaf27; }
          .menu-about-section .menu-about ul .no-sub.active a {
            color: #dcaf27; }

.banner-head a.banner-mb-about, .banner-head a.banner-mb-thammymat {
  display: none; }

.page-about .story-about {
  position: relative;
  background: #F1F7FC;
  padding: 0; }
  .page-about .story-about .menu-about {
    background: #fff; }
  .page-about .story-about .story-abbox {
    position: relative;
    display: inline-block;
    width: 100%; }
    .page-about .story-about .story-abbox .img-about-story {
      float: left;
      width: 45%; }
      .page-about .story-about .story-abbox .img-about-story img {
        width: 100%; }
    .page-about .story-about .story-abbox .soul-ab {
      width: 50%;
      background: #fff;
      padding: 50px 50px 90px; }
      .page-about .story-about .story-abbox .soul-ab p {
        font-size: 18px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden; }
      .page-about .story-about .story-abbox .soul-ab span {
        font-size: 18px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        width: 100%;
        margin: 20px 0;
        font-size: 20px;
        font-weight: 700; }
.page-about .infrastructure .title-section {
  color: #333; }
.page-about .infrastructure .ds-csvc {
  justify-content: center; }
.page-about .infrastructure .csvc {
  background: #F1F7FC;
  border-radius: 100%;
  padding: 20px;
  width: 230px;
  height: 230px;
  margin: 40px;
  text-align: center;
  display: inline-block; }
  .page-about .infrastructure .csvc .flex-center {
    justify-content: center; }
    .page-about .infrastructure .csvc .flex-center .content {
      text-align: center; }
      .page-about .infrastructure .csvc .flex-center .content h4 {
        font-size: 20px; }
      .page-about .infrastructure .csvc .flex-center .content p {
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 0; }
.page-about .infrastructure .infra-ab .title-section {
  text-align: center;
  margin: 17px 0 25px; }
.page-about .slider-csvc-about {
  position: relative;
  z-index: 0; }
  .page-about .slider-csvc-about .item__third {
    padding: 0 30px; }
  .page-about .slider-csvc-about .carousel-indicators {
    display: none; }
  .page-about .slider-csvc-about .carousel-control-prev {
    left: 224px;
    background: transparent; }
  .page-about .slider-csvc-about .carousel-control-prev-icon {
    background-image: url(../images/arrow-left.svg);
    width: 50px;
    height: 50px; }
  .page-about .slider-csvc-about .carousel-control-next {
    right: 224px;
    background: transparent; }
  .page-about .slider-csvc-about .carousel-control-next-icon {
    background-image: url(../images/arrow-right.svg);
    width: 50px;
    height: 50px; }
.page-about .slider-csvc-about button.owl-prev {
  left: 50px !important;
  top: 40%; }
.page-about .slider-csvc-about button.owl-next {
  right: 50px !important;
  top: 40%; }

/*=============== Why choose NGOC DUNG =================*/
.why-choose-ND {
  background-color: #F1F7FC;
  	/*******************************
  * ACCORDION WITH TOGGLE ICONS
  * Does not work properly if "in" is added after "collapse".
  *******************************/ }
  .why-choose-ND .flex-center {
    justify-content: center; }
    .why-choose-ND .flex-center .demo {
      padding: 0 30px; }
  .why-choose-ND .thumnaisl-avatar a {
    padding-top: 110%; }
  .why-choose-ND .title-section {
    color: #232a7b;
    text-align: left; }
  .why-choose-ND .panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
    margin: 15px 0;
    display: inline-block;
    width: 100%; }
  .why-choose-ND .panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background: #fff;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.4);
    padding-left: 20px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 15px; }
  .why-choose-ND .panel-title {
    font-size: 18px;
    color: #666666;
    display: flex;
    align-items: center;
    margin-bottom: 0; }
    .why-choose-ND .panel-title.collapsed {
      color: #232a7b; }
    .why-choose-ND .panel-title img {
      margin-right: 10px;
      height: 32px;
      width: 32px; }
  .why-choose-ND .panel-title > a {
    display: block;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 30px; }
  .why-choose-ND .panel-body p {
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-right: 30px; }
  .why-choose-ND .panel-default > .panel-heading + .panel-collapse > .panel-body {
    padding: 15px 10px 15px 30px;
    background-color: white; }

.more-less {
  position: absolute;
  right: 10px;
  color: #212121; }

/*=============== Section tam nhin su menh =================*/
.section-tam-nhin-su-menh {
  background: url(../images/bg-blue.png) no-repeat center top;
  background-size: cover;
  padding-bottom: 0; }
  .section-tam-nhin-su-menh .thumnaisl-avatar a {
    padding-top: 100%; }
  .section-tam-nhin-su-menh .infor-misson {
    position: relative;
    padding-left: 70px;
    padding-right: 50px;
    margin-bottom: 30px;
    display: inline-block; }
    .section-tam-nhin-su-menh .infor-misson:last-child {
      margin-bottom: 0; }
    .section-tam-nhin-su-menh .infor-misson img {
      position: absolute;
      left: 0;
      top: 10px;
      height: 55px; }
    .section-tam-nhin-su-menh .infor-misson .detail-misson {
      border-left: 1px solid #ffffff1a;
      color: white;
      padding-left: 25px; }
      .section-tam-nhin-su-menh .infor-misson .detail-misson .title-section {
        text-align: left;
        color: white; }
      .section-tam-nhin-su-menh .infor-misson .detail-misson p {
        font-size: 18px;
        line-height: 28px;
        padding-right: 100px;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden; }

/*=============== Section gia tri cot loi =================*/
.section-gtcl .title-section {
  color: #232a7b; }

.item-gtcl {
  position: relative;
  cursor: pointer; }
  .item-gtcl:hover .text-gtcl {
    content: '';
    opacity: 1;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    backdrop-filter: blur(12px);
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    pointer-events: none;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: center; }
    .item-gtcl:hover .text-gtcl img {
      text-align: center;
      display: block;
      margin: 0 auto;
      margin-bottom: 15px; }
    .item-gtcl:hover .text-gtcl .mo-ta-gtcl {
      display: block; }
  .item-gtcl .text-gtcl {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    color: #ffffff;
    text-align: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    content: ''; }
    .item-gtcl .text-gtcl img {
      display: none;
      height: 60px; }
    .item-gtcl .text-gtcl p {
      font-size: 32px;
      font-weight: 600;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .item-gtcl .text-gtcl .mo-ta-gtcl {
      display: none; }
      .item-gtcl .text-gtcl .mo-ta-gtcl span {
        font-size: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden; }

.modal-dialog {
  margin: 0 auto;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center; }

.modal-header .close {
  z-index: 9999;
  background-color: #232a7b;
  opacity: 1;
  color: white;
  box-shadow: none;
  padding: 10px;
  position: absolute;
  right: 0;
  margin: 0; }
  .modal-header .close span {
    font-size: 25px; }

/*=============== Slider doi ngu bac si =================*/
.slide-doctor {
  z-index: 0; }
  .slide-doctor .title-section {
    color: #232a7b; }
  .slide-doctor .item {
    margin: 50px 15px 10px 15px; }
  .slide-doctor button.owl-prev, .slide-doctor button.owl-next {
    top: 50%; }
  .slide-doctor .doctor {
    text-align: center; }
    .slide-doctor .doctor h4 {
      margin-top: 20px; }
      .slide-doctor .doctor h4 a {
        font-size: 20px;
        font-weight: 600;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden; }
    .slide-doctor .doctor p {
      font-size: 18px;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden; }
    .slide-doctor .doctor .thumnaisl-avatar a {
      padding-top: 108%; }
      .slide-doctor .doctor .thumnaisl-avatar a img {
        max-width: 290px;
        width: 100%;
        height: 100%;
        right: 0;
        margin: 0 auto; }
    .slide-doctor .doctor .bg-doctor {
      background: linear-gradient(125.44deg, #ECEDEA 23.44%, rgba(248, 248, 246, 0.5) 50.85%, #DCDBD8 82.83%);
      border-radius: 250px 250px 0px 0px;
      padding-top: 55px; }
    .slide-doctor .doctor:hover .bg-doctor {
      background: linear-gradient(77.28deg, #0C113B 0.66%, #232A7B 23.44%, #354ABF 55.83%); }
    .slide-doctor .doctor:hover h4 a {
      color: #232a7b; }

.modal-doctor .thumnaisl-avatar a {
  padding-top: 130%; }
.modal-doctor .info-doctor {
  padding: 30px 20px; }
  .modal-doctor .info-doctor ul {
    padding-left: 15px; }
    .modal-doctor .info-doctor ul li {
      list-style: none;
      font-size: 18px;
      margin: 15px 0; }
      .modal-doctor .info-doctor ul li::before {
        content: "\2022";
        /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: #232a7b;
        /* Change the color */
        font-weight: bold;
        /* If you want it to be bold */
        display: inline-block;
        /* Needed to add space between the bullet and the text */
        width: 1em;
        /* Also needed for space (tweak if needed) */
        margin-left: -1em; }
  .modal-doctor .info-doctor .title-section {
    color: #232a7b;
    text-align: left; }
  .modal-doctor .info-doctor p {
    font-weight: 600;
    font-size: 18px; }
.modal-doctor .modal-dialog {
  max-width: 1170px;
  margin-top: 80px; }
  .modal-doctor .modal-dialog .modal-content {
    border: 0;
    border-radius: 0; }
    .modal-doctor .modal-dialog .modal-content .modal-body {
      padding: 0; }

/*=============== Section he thong chi nhanh page about =================*/
.branch-system .box-cms-shadow .title-radiocheck .check-radio-custom p {
  line-height: 0; }

.section-ht-chi-nhanh {
  background-color: #F1F7FC; }
  .section-ht-chi-nhanh .bg-white {
    padding: 20px; }
  .section-ht-chi-nhanh .nav-pills {
    margin: 5px 0; }
    .section-ht-chi-nhanh .nav-pills .nav-link.active, .section-ht-chi-nhanh .nav-pills .nav-pills .show > .nav-link {
      background-color: #F1F7FC;
      color: #232a7b; }
  .section-ht-chi-nhanh .check-radio-custom label {
    padding-left: 0; }
    .section-ht-chi-nhanh .check-radio-custom label::before {
      display: none; }
    .section-ht-chi-nhanh .check-radio-custom label::after {
      display: none; }
  .section-ht-chi-nhanh .tab-content.branch-system .box-cms-shadow .input-custom:checked + .label-custom {
    padding-left: 0 !important; }
  .section-ht-chi-nhanh .btn-dang-ky {
    background-color: white;
    color: #232a7b;
    border: 1px solid #232a7b;
    text-transform: uppercase; }
    .section-ht-chi-nhanh .btn-dang-ky:hover {
      background-color: #dcaf27;
      border-color: #dcaf27;
      color: white; }
  .section-ht-chi-nhanh .branch-system .detail-location span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .section-ht-chi-nhanh .branch-system .box-cms-shadow .label-custom {
    padding-left: 0 !important; }
    .section-ht-chi-nhanh .branch-system .box-cms-shadow .label-custom span {
      color: #333; }

.title-tab-chi-nhanh {
  display: inline-block;
  margin-bottom: 15px; }
  .title-tab-chi-nhanh a {
    font-size: 26px;
    color: #232a7b !important;
    font-weight: 600; }
    .title-tab-chi-nhanh a i {
      margin-right: 5px; }

/*=============== PAGE Gioi thieu- tin tuyen tuyen dung =================*/
.box-cms-shadow {
  background: #FFFFFF;
  margin-bottom: 15px;
  padding: 30px; }

.section-bao-chi {
  background-color: #F1F7FC; }
  .section-bao-chi .title-section {
    color: #232a7b; }
  .section-bao-chi .title-news.text-lagre {
    font-size: 20px;
    font-weight: 600; }
  .section-bao-chi .item-news.lagre .thumnaisl-avatar a {
    padding-top: 65%; }
  .section-bao-chi .item-news {
    margin: 25px 0; }
    .section-bao-chi .item-news .thumnaisl-avatar a {
      padding-top: 40%; }

.item-news span {
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.show-neighbors {
  overflow: hidden; }
  .show-neighbors .item__third:first-child,
  .show-neighbors .item__third:last-child {
    display: none; }
  @media (min-width: 500px) {
    .show-neighbors .carousel-indicators {
      margin-right: 25%;
      margin-left: 25%; }
    .show-neighbors .carousel-control-prev,
    .show-neighbors .carousel-control-next {
      background: rgba(255, 255, 255, 0.3);
      width: 25%;
      z-index: 11;
      /* .carousel-caption has z-index 10 */ }
    .show-neighbors .carousel-inner {
      width: 150%;
      left: -25%; }
    .show-neighbors .carousel-item-next:not(.carousel-item-left),
    .show-neighbors .carousel-item-right.active {
      -webkit-transform: translate3d(33%, 0, 0);
      transform: translate3d(33%, 0, 0); }
    .show-neighbors .carousel-item-prev:not(.carousel-item-right),
    .show-neighbors .carousel-item-left.active {
      -webkit-transform: translate3d(-33%, 0, 0);
      transform: translate3d(-33%, 0, 0); }
    .show-neighbors .item__third {
      display: block !important;
      float: left;
      position: relative;
      /* captions can now be added */
      width: 33.33333333%; } }

.btn-no-bg {
  background-color: white;
  color: #232a7b;
  border: 1px solid #232a7b;
  transition: all .3s ease-in-out; }
  .btn-no-bg:hover {
    border: 1px solid transparent; }

/*=============== Section hoat dong xa hoi =================*/
.check-radio-custom.no-radio label {
  padding-left: 0; }
  .check-radio-custom.no-radio label::before {
    display: none; }
  .check-radio-custom.no-radio label::after {
    display: none; }
.check-radio-custom.no-radio .label-custom {
  padding-left: 0 !important;
  color: #333 !important;
  font-weight: 600; }

.section-hoat-dong .title-section {
  color: #232a7b; }

.section-tuyen-dung {
  background-color: #F1F7FC; }
  .section-tuyen-dung .box-cms-shadow {
    box-shadow: 0px 0px 57px -10px rgba(0, 19, 233, 0.05); }
  .section-tuyen-dung .title-section {
    color: #232a7b; }
  .section-tuyen-dung .btn-view-detail {
    background-color: white;
    color: #232A7B;
    border: 1px solid #232A7B;
    text-transform: uppercase; }
  .section-tuyen-dung .ngay-het-han {
    color: #FF0000; }
  .section-tuyen-dung .btn-common.btn-view-detail:hover {
    background-color: #dcaf27;
    color: white;
    border: 1px solid transparent; }
  .section-tuyen-dung .branch-system .box-cms-shadow {
    margin: 15px 0; }

.branch-system .box-cms-shadow .input-custom:checked {
  color: #dcaf27; }

/*=============== Section cau chuyen thanh cong =================*/
.page-lien-he-tu-van .title-section {
  color: #232a7b; }
.page-lien-he-tu-van .number-question {
  font-size: 30px;
  margin-right: 10px;
  color: #232a7b; }
.page-lien-he-tu-van .panel-group {
  padding: 0 100px; }
.page-lien-he-tu-van .panel.panel-default {
  padding: 20px 0; }
.page-lien-he-tu-van .panel-body {
  padding: 20px 30px;
  border-left: 1px solid #D1D1D1;
  margin-left: 5px; }
  .page-lien-he-tu-van .panel-body p {
    margin-bottom: 0;
    font-size: 16px; }
.page-lien-he-tu-van .panel-title {
  margin-bottom: 0;
  background: white;
  z-index: 9999;
  width: fit-content; }
  .page-lien-he-tu-van .panel-title p {
    width: fit-content;
    font-size: 20px;
    padding-right: 10px; }
.page-lien-he-tu-van .more-less {
  top: 0;
  right: 0;
  background: white;
  padding: 10px;
  width: fit-content; }
.page-lien-he-tu-van .panel-heading::before {
  border-bottom: 1px solid #D1D1D1;
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 0;
  padding: 10px 0px 10px 0;
  z-index: -1; }
.page-lien-he-tu-van .btn-common.btn-view-all.btn-no-bg {
  width: 100%;
  border-radius: 0;
  border: 1px solid transparent;
  background-color: #F1F7FC; }
  .page-lien-he-tu-van .btn-common.btn-view-all.btn-no-bg:hover {
    background-color: #dcaf27; }

.panel-heading {
  position: relative; }

.tabs-info .nav-tabs .nav-item:last-child .nav-link::after {
  display: none; }

/*=============== Section  lien he tu van =================*/
.section-lien-he-tu-van {
  background-color: #F1F7FC;
  position: relative; }
  .section-lien-he-tu-van .title-section {
    text-align: left;
    padding-left: 15px;
    margin-bottom: 10px; }
  .section-lien-he-tu-van p {
    margin-bottom: 20px;
    padding-left: 15px;
    padding-right: 85px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; }
  .section-lien-he-tu-van .pattern {
    max-width: 300px;
    position: absolute;
    top: 0;
    left: 0; }
  .section-lien-he-tu-van input, .section-lien-he-tu-van textarea, .section-lien-he-tu-van .custom-select {
    border: 1px solid #EEEEEE !important;
    border-radius: 5px;
    height: 44px;
    padding: 10px 10px 10px 15px; }
    .section-lien-he-tu-van input:focus, .section-lien-he-tu-van textarea:focus, .section-lien-he-tu-van .custom-select:focus {
      border: 1px solid #232a7bba !important; }
  .section-lien-he-tu-van .custom-select.time-booking .select-selected:after {
    right: 10px; }
  .section-lien-he-tu-van .btn-common.btn-submit-form {
    width: 210px; }
  .section-lien-he-tu-van .thumnaisl-avatar a {
    padding-top: 70%; }

/*=============== Tham my vung mat =================*/
.section-khai-niem .scrollbar {
  height: 43vh; }
.section-khai-niem .title-section {
  text-align: left; }
.section-khai-niem h4 {
  font-size: 22px;
  font-weight: 600; }
.section-khai-niem p {
  font-size: 16px;
  margin-bottom: 20px; }

.section-doi-tuongKH {
  background-color: #F1F7FC; }
  .section-doi-tuongKH .item-KH {
    background-color: white;
    padding: 30px;
    margin: 15px 0;
    height: 200px;
    text-align: center;
    display: inline-block;
    width: 100%; }
    .section-doi-tuongKH .item-KH img {
      height: 36px; }
    .section-doi-tuongKH .item-KH p {
      font-size: 18px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-top: 15px;
      margin-bottom: 0; }
  .section-doi-tuongKH .slider-list-KH {
    z-index: 0; }

.slider-list-KH {
  margin-top: 30px; }
  .slider-list-KH .item {
    padding-right: 30px;
    padding-top: 15px; }
  .slider-list-KH button.owl-next, .slider-list-KH button.owl-prev {
    top: 50%; }

.vi-sao-chon {
  background: url(../images/bg-vi-sao-chon.png) no-repeat center top;
  background-size: cover;
  padding-bottom: 0; }
  .vi-sao-chon .thumnaisl-avatar a {
    padding-top: 185%; }
  .vi-sao-chon .title-section {
    color: white;
    -webkit-line-clamp: inherit; }
  .vi-sao-chon .deatil-reason {
    padding: 20px;
    text-align: center; }
    .vi-sao-chon .deatil-reason img {
      height: 60px; }
    .vi-sao-chon .deatil-reason p {
      color: white;
      font-size: 18px;
      text-align: center;
      padding: 20px 40px; }

.section-quy-trinh {
  background: url(../images/bg-xam.png) no-repeat center top;
  background-size: cover;
  padding-bottom: 0; }
  .section-quy-trinh .desc-title {
    text-align: center;
    padding: 0 100px;
    font-size: 18px; }

.section-quy-trinh .text-process {
  padding: 0 50px; }
  .section-quy-trinh .text-process h4 {
    font-size: 30px;
    font-weight: 600; }
  .section-quy-trinh .text-process p {
    font-size: 18px; }
    .section-quy-trinh .text-process p.scrollbar {
      height: 30vh; }
.section-quy-trinh .thumnaisl-avatar a {
  padding-top: 115%; }
.section-quy-trinh .wizard-content .wizard > .actions > ul > li > a {
  display: block;
  background: url(../images/arrow-right-active.svg) no-repeat center !important;
  width: 60px;
  height: 60px;
  cursor: pointer; }
.section-quy-trinh .wizard-content .wizard > .actions > ul > li > a[href="#previous"] {
  background: url(../images/arrow-left.svg) no-repeat center !important;
  width: 60px;
  height: 60px; }

.chi-tiet-dv .result-item {
  z-index: 0; }
.chi-tiet-dv .section-thong-ke {
  background-color: white; }
  .chi-tiet-dv .section-thong-ke .content-thong-ke {
    padding-top: 80px; }
.chi-tiet-dv .section-thong-ke .content-thong-ke .ds-thong-ke .thongke {
  background: #F1F7FC;
  opacity: 0.9;
  box-shadow: none; }

.form-advise .btn-common.btn-submit-form {
  width: 200px; }

.section-cs-sau-lam {
  background-color: #F1F7FC; }
  .section-cs-sau-lam .thumnaisl-avatar a {
    padding-top: 48%; }
  .section-cs-sau-lam .vid-hd {
    position: relative; }
    .section-cs-sau-lam .vid-hd .btn-play-vid {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      cursor: pointer;
      margin: 0 auto;
      width: 90px; }
  .section-cs-sau-lam .buoc-huong-dan {
    border: 1px solid #CBCBCB; }
    .section-cs-sau-lam .buoc-huong-dan .col-md-2 {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%; }
    .section-cs-sau-lam .buoc-huong-dan .col-md-4 {
      -ms-flex: 0 0 40%;
      flex: 0 0 40%;
      max-width: 40%; }
  .section-cs-sau-lam .noi-dung-hd {
    padding: 30px;
    text-align: center;
    background-color: white;
    height: 100%;
    border-right: 1px solid #CBCBCB; }
    .section-cs-sau-lam .noi-dung-hd.boder-bottom {
      border-bottom: 1px solid #CBCBCB; }
    .section-cs-sau-lam .noi-dung-hd.boder-none {
      border-right: 0; }
    .section-cs-sau-lam .noi-dung-hd span {
      display: inline-block;
      padding-top: 15px;
      color: #dcaf27;
      background-color: #232a7b;
      font-size: 16px;
      border-radius: 100%;
      width: 50px;
      height: 50px;
      margin-bottom: 15px; }
    .section-cs-sau-lam .noi-dung-hd p {
      font-size: 16px;
      margin-bottom: 0; }

	/*
  Template Name: Monster Admin
  Author: Themedesigner
  Email: niravjoshi87@gmail.com
  File: css
  */
.wizard-content .wizard > .steps > ul > li:after,
.wizard-content .wizard > .steps > ul > li:before {
  content: '';
  z-index: 9;
  display: block;
  position: absolute; }

.wizard-content .wizard {
  width: 100%;
  overflow: hidden; }

.wizard-content .wizard .content {
  margin-left: 0 !important; }

.wizard-content .wizard > .steps {
  position: relative;
  display: block;
  width: 100%; }

.wizard-content .wizard > .steps .current-info {
  position: absolute;
  left: -99999px; }

.wizard-content .wizard > .steps > ul {
  display: table;
  width: 800px;
  table-layout: fixed;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  z-index: 0;
  position: relative; }

.wizard-content .wizard > .steps > ul > li {
  display: table-cell;
  width: auto;
  vertical-align: top;
  text-align: center;
  position: relative; }

.wizard-content .wizard > .steps > ul > li a {
  position: relative;
  padding-top: 52px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block; }

.wizard-content .wizard > .steps > ul > li:before {
  left: 0; }

.wizard-content .wizard > .steps > ul > li:after {
  right: 0; }

.wizard-content .wizard > .steps > ul > li:first-child:before,
.wizard-content .wizard > .steps > ul > li:last-child:after {
  content: none; }

.wizard-content .wizard > .steps > ul > li.current > a {
  color: #232a7b;
  cursor: default;
  font-weight: 600; }

.wizard-content .wizard > .steps > ul > li.current .step {
  background-color: #232a7b;
  color: #dcaf27;
  border: none; }

.wizard-content .wizard > .steps > ul > li.disabled a,
.wizard-content .wizard > .steps > ul > li.disabled a:focus,
.wizard-content .wizard > .steps > ul > li.disabled a:hover {
  color: #999;
  cursor: default; }

.wizard-content .wizard > .steps > ul > li.done a,
.wizard-content .wizard > .steps > ul > li.done a:focus,
.wizard-content .wizard > .steps > ul > li.done a:hover {
  color: #999; }

.wizard-content .wizard > .steps > ul > li.done .step {
  background-color: white;
  color: #232a7b; }

.wizard-content .wizard > .steps > ul > li.error .step {
  border-color: #f62d51;
  color: #f62d51; }

.wizard-content .wizard > .steps .step {
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -24px;
  z-index: 10;
  text-align: center; }

.wizard-content .wizard > .content {
  overflow: hidden;
  position: relative;
  width: auto;
  padding: 0;
  margin: 0; }

.wizard-content .wizard > .content > .title {
  position: absolute;
  left: -99999px; }

.wizard-content .wizard > .content > iframe {
  border: 0;
  width: 100%;
  height: 100%; }

.wizard-content .wizard > .actions {
  position: relative;
  display: block;
  text-align: right;
  padding: 0 20px 20px; }

.wizard-content .wizard > .actions > ul {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  bottom: 200px;
  left: 575px;
  display: flex; }

.wizard-content .wizard > .actions > ul:after {
  content: '';
  display: table;
  clear: both; }

.wizard-content .wizard > .actions > ul > li {
  float: left; }

.wizard-content .wizard > .actions > ul > li + li {
  margin-left: 10px; }

.text-process {
  position: relative; }

.wizard-content .wizard > .actions > ul > li > a:focus,
.wizard-content .wizard > .actions > ul > li > a:hover {
  color: inherit !important; }

.wizard-content .wizard > .actions > ul > li > a:active {
  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.1) inset; }

.wizard-content .wizard > .actions > ul > li > a[href="#previous"]:focus,
.wizard-content .wizard > .actions > ul > li > a[href="#previous"]:hover {
  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.02) inset;
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.02) inset; }

.wizard-content .wizard > .actions > ul > li > a[href="#previous"]:active {
  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.04) inset;
  box-shadow: 0 0 0 100px rgba(0, 0, 0, 0.04) inset; }

.wizard-content .wizard > .actions > ul > li.disabled > a,
.wizard-content .wizard > .actions > ul > li.disabled > a:focus,
.wizard-content .wizard > .actions > ul > li.disabled > a:hover {
  color: #999; }

.wizard-content .wizard > .actions > ul > li.disabled > a[href="#previous"],
.wizard-content .wizard > .actions > ul > li.disabled > a[href="#previous"]:focus,
.wizard-content .wizard > .actions > ul > li.disabled > a[href="#previous"]:hover {
  -webkit-box-shadow: none;
  box-shadow: none; }

.wizard-content .wizard.wizard-circle > .steps > ul > li:after,
.wizard-content .wizard.wizard-circle > .steps > ul > li:before {
  top: 45px;
  width: 50%;
  border: 1px solid #dcaf27; }

.wizard-content .wizard.wizard-circle > .steps > ul > li.current:after,
.wizard-content .wizard.wizard-circle > .steps > ul > li.current ~ li:after,
.wizard-content .wizard.wizard-circle > .steps > ul > li.current ~ li:before {
  border: 1px dashed #999999; }

.wizard-content .wizard.wizard-circle > .steps .step {
  width: 50px;
  height: 50px;
  line-height: 2.5;
  font-size: 1.3rem;
  border-radius: 50%;
  color: #232a7b; }

.wizard-content .wizard.wizard-notification > .steps > ul > li:after,
.wizard-content .wizard.wizard-notification > .steps > ul > li:before {
  top: 39px;
  width: 50%;
  height: 2px;
  background-color: #009efb; }

.wizard-content .wizard.wizard-notification > .steps > ul > li.current .step {
  border: 2px solid #009efb;
  color: #009efb;
  line-height: 36px; }

.wizard-content .wizard.wizard-notification > .steps > ul > li.current .step:after,
.wizard-content .wizard.wizard-notification > .steps > ul > li.done .step:after {
  border-top-color: #009efb; }

.wizard-content .wizard.wizard-notification > .steps > ul > li.current:after,
.wizard-content .wizard.wizard-notification > .steps > ul > li.current ~ li:after,
.wizard-content .wizard.wizard-notification > .steps > ul > li.current ~ li:before {
  background-color: #F3F3F3; }

.wizard-content .wizard.wizard-notification > .steps > ul > li.done .step {
  color: #FFF; }

.wizard-content .wizard.wizard-notification > .steps .step {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 1.3rem;
  border-radius: 15%;
  background-color: #F3F3F3; }

.wizard-content .wizard.wizard-notification > .steps .step:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -8px;
  margin-bottom: -8px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 8px solid #F3F3F3; }

.wizard-content .wizard.vertical > .steps {
  display: inline;
  float: left;
  width: 20%; }

.wizard-content .wizard.vertical > .steps > ul > li {
  display: block;
  width: 100%; }

.wizard-content .wizard.vertical > .steps > ul > li.current:after,
.wizard-content .wizard.vertical > .steps > ul > li.current:before,
.wizard-content .wizard.vertical > .steps > ul > li.current ~ li:after,
.wizard-content .wizard.vertical > .steps > ul > li.current ~ li:before,
.wizard-content .wizard.vertical > .steps > ul > li:after,
.wizard-content .wizard.vertical > .steps > ul > li:before {
  background-color: transparent; }

@media (max-width: 768px) {
  .wizard-content .wizard > .steps > ul {
    margin-bottom: 20px; }

  .wizard-content .wizard > .steps > ul > li {
    display: block;
    float: left;
    width: 50%; }

  .wizard-content .wizard > .steps > ul > li > a {
    margin-bottom: 0; }

  .wizard-content .wizard > .steps > ul > li:first-child:before {
    content: ""; }

  .wizard-content .wizard > .steps > ul > li:last-child:after {
    content: '';
    background-color: #009efb; }

  .wizard-content .wizard.vertical > .steps {
    width: 15%; } }
@media (max-width: 480px) {
  .wizard-content .wizard > .steps > ul > li {
    width: 100%; }

  .wizard-content .wizard > .steps > ul > li.current:after {
    background-color: #009efb; }

  .wizard-content .wizard.vertical > .steps > ul > li {
    display: block;
    float: left;
    width: 50%; }

  .wizard-content .wizard.vertical > .steps {
    width: 100%;
    float: none; } }

/*# sourceMappingURL=style.css.map */
