@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700&display=swap');
$brand:#232A7B;
$brand02:#DCAF27;
$text:#333;
$text-alpha:#999;
$border: #CBCBCB;
@import "hanh";
@import "hai";
body {
	font-family: 'Nunito Sans', sans-serif;
	color: $text;
	font-size: 14px;
	line-height: 1.4;
	max-width: 1920px;
	margin: auto;
}

a {
	text-decoration: none;
	color: $text;
	outline: none;
	transition: all .3s ease-in-out;

	&:hover {
		text-decoration: none;
		color: $brand02;
	}
}


* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	text-decoration: none;
}
.container{
	max-width: 1400px;
}
html {
	scroll-behavior: smooth;
}

img {
	max-width: 100%;
}

button {
	outline: none;
}

.text-tranform {
	text-transform: uppercase
}

h1 {
	font-size: 52px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 14px;
}

b,
span,
label {
	font-size: 13px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-70 {
	margin-top: 70px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-70 {
	margin-bottom: 70px;
}

.m10 {
	margin: 10px;
}

.m15 {
	margin: 15px;
}

.m20 {
	margin: 20px;
}

.m25 {
	margin: 25px;
}

.m30 {
	margin: 30px;
}

.m35 {
	margin: 35px;
}

.m40 {
	margin: 40px;
}

.m45 {
	margin: 45px;
}

.m50 {
	margin: 50px;
}

.m55 {
	margin: 55px;
}

.m60 {
	margin: 60px;
}

.m65 {
	margin: 65px;
}

.m70 {
	margin: 70px;
}

.ml-0 {
	margin-left: 0;
}

.mr-0 {
	margin-right: 0;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.p25 {
	padding: 25px;
}

.p30 {
	padding: 30px;
}

.p35 {
	padding: 35px;
}

.p40 {
	padding: 40px;
}

.p45 {
	padding: 45px;
}

.p50 {
	padding: 50px;
}

.pl-pr-50 {
	padding: 0 50px;
}

.p55 {
	padding: 55px;
}

.p60 {
	padding: 60px;
}

.p65 {
	padding: 65px;
}

.p70 {
	padding: 70px;
}

.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}

.pt-0 {
	padding-top: 0;
}

.pb-0 {
	padding-bottom: 0;
}

.btn.focus,
.btn:focus {
	outline: 0;
	box-shadow: none;
}

section {

	display: inline-block;
	width: 100%;
	padding: 50px 0;
}

input,
textarea {
	&:focus {
		border-color: $brand  !important;
		outline: none;
		box-shadow: none !important;
	}
}

.title-section {
	position: relative;
	text-align: center;
	margin: 10px 0;
	display: inline-block;
	width: 100%;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: 36px;
		color: $brand;
		margin-bottom: 30px;
	p {
		color: $text-alpha;
		margin: 20px;
	}

	a {
		font-size: 36px;
		color: $text;
	}

	&:hover {
		text-decoration: none;
	}

	.text-logo {
		position: absolute;
		top: -60px;
		right: 0;
		left: 0;
		margin: 0 auto;
	}
}

.btn-link-center {
	width: 100%;
	display: inline-block;
	text-align: center;
}

.center {
	text-align: center;
	display: inline-block;
	width: 100%;
}

.btn-common {
	display: inline-block;
	background: $brand;
	border-radius: 22px;
	padding: 12px 30px 10px 30px;
	color: white;
	font-size: 14px;
	font-weight: 600;
	transition: all .3s ease-in-out;
	height: 44px;
	text-transform: uppercase;
	text-align: center;
	i {
		margin-left: 10px;
		font-size: 16px;
		font-weight: 900;
	}

	&:hover {
		background-color: $brand02;
		color: white;
		cursor: pointer;
	}

}

.thumnaisl-avatar {
	a {
		position: relative;
		padding-top: 64%;
		display: block;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}

}

ul {
	li {
		list-style: none;
	}
}
header {

	.btn-search-mb,
	.close-search,
	.ti-close,
	.ti-menu {
		display: none;
	}
}
/* -------Sticky menu srcoll----- */
.menu-scroll {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;

	nav {
		padding: 0 !important;
	}

}

.no-sub a {

	&::after,
	&::before {
		display: none !important;
	}
}
/*-------------------------------------------------------- head menu -------------------------------------------------*/
header {
	display: inline-block;
	width: 100%;
	padding: 10px 0;
	background: #fff;
	z-index: 9;
	position: relative;
	border-bottom: 1px solid #e5e5e54d;
}

.content-head{
	.top-head{
		align-items: center;
		display: flex;
		justify-content: center;
	}
	.content-right{
		display: flex;
		justify-content: center;
		a{
			display: inline-block;
			width: 100%;
			color: $brand;
			font-size: 15px;
			text-transform: uppercase;
			font-weight: 600;
			
			img{
				margin-right: 10px;
			}
		}
		.dat-lich-kham{
			margin-right: 50px;
    		padding-right: 40px;
			border-right: 1px solid #D9D9D9;
		}
		.hotline{
			span{
				color: $brand02;
			}
		}
	}
	.search-head{
		max-width: 600px;
		margin: 0 auto;
	}
}

.logo {

	img {
		max-width: 130px;
		height: 70px;
	}
}

.menu nav>ul {
	display: flex;
	justify-content: center;
	margin-bottom: 0;
}

.menu nav ul>li>a {
	&::before {
		content: "\e61a";
		display: inline-block;
		font-family: 'themify';
		font-size: 11px;
		position: absolute;
		right: 5px;
		top: 2px;
		color: $brand;
	}
	
}

.sub-menu {
	position: fixed;
	top: 110px;
	padding: 5px 0;
	width: 100%;
	left: 0;
	opacity: 0;
	visibility: hidden;
	background: white;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.08);
	padding: 10px;
	z-index: 999;
	.sub-menu1{
		display: inline-block;
			li{
				float: left;
				margin: 10px 30px;
				ul li{
					float: none;
					margin: inherit;
					a{
						color: $text;
					}
				}
			}
			
		}
		
	
	li {
	
		.sub-cate-tilte{
				font-size: 18px;
				font-weight: 600;
				color: $text;
				&:hover{
					color: $brand02;
				}
				&.active{
					color: $brand02;
				}
			
		}
		ul li a{
			a{
				color: $text;
				font-size: 16px;
			}
		}

	}
}

.menu {
	position: relative;
	z-index: 1;

	nav {
		ul {
			padding: 0;

			li {
				position: relative;
				list-style: none;
				padding: 5px 0;
				
				i {
					display: none;
				}

				a {
					color: $brand;
					padding: 0 20px 0 10px;
					position: relative;
					font-size: 15px;
					font-weight: 500;
					&:hover {
						color: $brand02;

					
					}
					svg{
						width: 20px;
    					height: 20px;
					}
					
				}
				&.active{
					&.no-bg{
						a{
							background-color: transparent;
							color: $brand02;
						}
					
						svg{
							path{
								fill:$brand02;
							}
						}
					}
					
				}
				&.active{
					a {
						color: white;
						background-color: $brand02;
						border-radius: 10px;
						
						&::before{
							color: white;
						}
					}

					ul {
						li {
							a {
								color: $text;
								background-color: white;
								&:hover,
								&.active {
									color: $brand02  !important;
								}
							}
						}
					}
				}
				&:hover{
					.sub-menu1{
						a::before{
							display: none;
						}
					}
					.sub-menu{
						opacity: 1;
						visibility: visible;
					}
				
				}
			}
		}
	}
}

/*-------------------------------------------------------- Search-------------------------------------------------*/
.search-head {
	position: relative;
	width: 100%;
	display: inline-block;

	input {
		background: #FFFFFF;
		border: 1px solid $border;
		border-radius: 22px;
		height: 40px;
		width: 100%;
		padding-left: 30px;

		&::placeholder {
			color: $text-alpha;
			font-size: 14px;
		}

		&:focus {
			border: 1px solid $brand;
		}
	}

	i {
		position: absolute;
		left: 0;
		top: 0;
		color: $text-alpha;
		padding: 13px;
		border-radius: 0 6px 6px 0;
		font-weight: 700;
	}
}

button:focus {
	outline: 0;
}

/*-------------------------------------------------------- Section banner -------------------------------------------------*/

.banner-head{
	min-height: 388px;
	a{
		display: inline-block;
		width: 100%;
	}
}
.box-form{
	background: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
	padding: 30px;
	border-radius: 4px;
	.btn-common.btn-submit-form{
		width: 100%;
	}
}
.section-banner{
	position: relative;
	padding: 0;
	.box{
		position: absolute;
		bottom: -100px;
		left: 0;
		right: 0;
	}
	.box-form{
		.row{
			align-items: center;
		}
	}
}
form{
	.form-group{
		margin-bottom: 25px;
	}
}
.info-left-form{
	h3{
		color: $brand;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: 700;
	}
	p{
		padding-right: 30px;
	}
}

.section-thong-ke{
	background-color: #F1F7FC;
	text-align: center;
	.content-thong-ke{
		padding-top: 150px;
		
		p{
			font-size: 18px;
			padding: 0 60px;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
		.ds-thong-ke{
			.col-md-3 {
				-ms-flex: 0 0 25%;
				flex: 0 0 20%;
				max-width: 20%;
			}
			.thongke{
				background: #FFFFFF;
				opacity: 0.9;
				box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.04);
				border-radius: 100%;
				padding: 20px;
				width: 230px;
				height: 230px;
				margin: 15px 0;
				a{
					display: inline-block;
					width: 100%;
				}
				p{
					font-size: 15px;
					margin-top: 20px;
					padding: 0;
					-webkit-line-clamp: 3;
				}
			}
		}
	}
	
}
.service{
	p{
		background-color: $brand;
		padding: 12px 10px;
		a{
			display: inline-block;
			width: 100%;
			color: white;
			text-align: center;
			font-size: 18px;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
		&:hover{
			background-color: $brand02;
		}
	}

}
.tabs-info{

	.two-col-service{
		.service{
			padding-right: 28px;
		}
	}
	.btn-common.btn-view-all{
		background-color: white;
		color: $brand;
		border: 1px solid $brand;
		i{
			color: $brand;
			font-weight: 900;
		}
		&:hover{
			background-color: $brand02;
			border: 1px solid $brand02;
			color: white;
			i{
				color: white;
			}
		}
	}
}
.slider-service{
	.owl-dots{
		display: none;
	}
	.item{
		padding-right: 30px;
		padding-top: 15px;
		.service{
				a{
					font-size: 14px;
				}
			
		}
	}

}
.section-stories{
	background: url(../images/bg-xam.png) no-repeat center top;
	background-size: cover;
	padding-bottom: 0;
	.row{
		align-items: center;
	}

	.slider-stories{
		.lSSlideOuter .lSPager.lSGallery img {
			height: 160px;
			width: 160px;
		}
		.lSAction{
			position: absolute;
			bottom: 30px;
			left: 450px;
			width: 100%;
			height: 60px;
			display: flex;
		}
		ul{
			li{
				position: relative;
				img{
					max-width: 344px;
					width: 100%;
					height: 100%;
				}
				.content-stories{
					position: absolute;
					top: 0;
					left: 25%;
					padding: 100px;
					padding-bottom: 30px;
				.name{
					&::before{
						position: absolute;
						left:0;
						top: 0;
						background: url(../images/icon-quotes.svg) no-repeat center !important;
						cursor: pointer;
						content: '';
						display: block;
						width: 107px;
						height: 107px;
					}
				}
					.detail-stories{
						font-size: 18px;
						padding-right: 50px;
						display: -webkit-box;
						-webkit-line-clamp: 5;
						-webkit-box-orient: vertical;
						overflow: hidden;
						
					}
					
					&::after{
						position: absolute;
						right:0;
						bottom: 0;
						background: url(../images/icon-quotes02.svg) no-repeat center !important;
						cursor: pointer;
						content: '';
						display: block;
						width: 107px;
						height: 107px;
					}
				}
			}
		}
		.detail-stories{
			position: relative;
		}
	}
	.lSSlideOuter .lSPager.lSGallery li img{
		-webkit-filter: grayscale(100%) !important; /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
	}
	.lSSlideOuter .lSPager.lSGallery li.active img{
		filter: initial !important;
	}
}
.name{
	font-size: 26px;
	color: $brand02;
	text-transform: uppercase;
	font-weight: 700;
	
}
.career{
	color: $brand;
	font-size: 18px;
}

	.result-service{
		.item{
			padding: 30px;
		}
		.thumnaisl-avatar a{
			padding-top: 132%;
		}
		.box-shadow{
			box-shadow: 10px 10px 50px rgba(140, 94, 16, 0.07);
			border-radius: 30px;
			background-color: white;
			padding: 30px;
			.info-result{
				border-top: 1px solid $border;
				margin-top: 20px;
    			padding-top: 20px;
				.tinh-trang{
					margin: 15px 0;
					display: flex;
					span{
						font-size: 20px;
						font-weight: 600;
						width: 20%;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						overflow: hidden;
					}
					p{
						width: 80%;
						font-size: 17px;
						position: relative;
						padding-left: 10px;
						display: -webkit-box;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						overflow: hidden;
					}
				}
			}
		}
	}
	.owl-dots{
		display: none !important;
	}

	.co-so-vat-chat{
		background: url(../images/bg-cosovatchat.png) no-repeat center top;
		background-size: cover;
		color: white;
		padding: 90px 0;
		padding-bottom: 150px;
		.btn-common{
			background-color: white;
			color: $brand;
			i{
				color: $brand;
			}
			&:hover{
					background-color: $brand02;
					color: white;
					i{
						color: white;
					}
			}
		}
		p{
			font-size: 18px;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
		h3{
			margin-bottom: 25px;
			a{
				color: white;
				font-size: 36px;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}
		.bg-black{
			background-color: #0006;
		}
		.info-csvc{
			padding: 150px 20px 20px 0;
		}
		.slider-csvc{
			ul li img {
				width: 690px;
				max-width: 100%;
				height: 100%;
				
			}
			.lSSlideOuter .lSPager.lSGallery img{
				border: 1px solid white;
				border-radius: 0;
			}
			.lSSlideOuter .lSPager.lSGallery{
			    margin: 0 auto;
				width: 540px !important;
				position: absolute;
				left: 0;
				right: 0;
				margin-top: 0 !important;
				li{
					width: 130px !important;
				}
			}
			.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover{
				border-radius: 0;
			}
			.lSSlideOuter .lSPager.lSGallery li img{
				background-color: #000;
				opacity: 0.5;
			}
			
			.lSSlideOuter .lSPager.lSGallery li.active img{
				background-color: transparent;
				opacity: 1;
			}
			.lSAction .lSNext {
				background-image: url(../images/arrow-right-white.svg) !important;
			}
			.lSAction .lSPrev {
				background-image: url(../images/arrow-left-white.svg) !important;
			}
			.lSAction{
				position: absolute;
				bottom: 0px;
				display: flex;
				justify-content: space-between;
				z-index: 9999;
				left: 0;
				width: 100%;
				height: 100%;
				align-items: center;
				top: 50%;
			}
			

		}
		
	}
	.section-form-dk{
		background: linear-gradient(77.28deg, #0C113B 0.66%, #232A7B 23.44%, #354ABF 55.83%);
		padding-bottom: 0;
		.thumnaisl-avatar a{
			padding-top: 88%;
		}
		form{
			
			input, .select-selected, .custom-select{
				background-color: transparent;
				color: white;
				&::placeholder, &:focus{
					color: white;
					border-color: $brand02 !important;
				}
			}
			
			.select-selected:after{
				color: white;
			}
			.custom-select.time-booking .select-selected:after {
				background: url(../images/icon-timer-white.svg) no-repeat top;
			}
			.btn-common{
				background-color: white;
				color: $brand;
				width: 210px;
				i{
					color: $brand;
				}
				&:hover{
					background-color: $brand02;
					color: white;
					i{
						color: white;
					}
				}
			}
			h3{
				font-size: 36px;
				background: linear-gradient(90deg, #E2B72D 0%, #FFE8BE 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}
			p{
				color: white;
				font-size: 16px;
				border-left: 2px solid white;
				padding-left: 15px;
				margin-top: 25px;
				span{
					font-weight: 700;
					font-size: 18px;
					text-transform: uppercase;
				}
			}
		}
	}
.item-news{
	.thumnaisl-avatar a {
		padding-top: 45%;
		img{
			border-radius: 10px;
		}
	}
	.info-news{
		
		.time-news{
			font-size: 14px;
			color: #666;
		}
		
	}
	&.line{
		border-bottom: 1px solid $border;
	}
}
.title-news{
	font-size: 16px;
	color: $text;
	line-height: 1.4;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-weight: 600;

	&.text-lagre{
		font-size: 18px;
	}
}
.news-event{
	.title-section{
		text-align: left;
	}

	.item-news{
		padding: 25px 0;
		&:last-child{
			padding-top: 0;
		}
		&.lagre{
			padding-top: 0;
			margin-top: 20px;
			padding-bottom: 0;
		}
	}
}
.list-news{
	.thumnaisl-avatar {
		position: relative;
		.btn-play-vid{
			position: absolute;
			bottom: 30px;
			left: 0;
			right: 0;
			margin: 0 auto;
			cursor: pointer;
		}
		a {
			padding-top: 56%;
		}
	}
}
.slider-libary-video{
	margin-top: 10px;
	.thumnaisl-avatar a {
		img{
			border-radius: 10px;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
		}
	}
	.owl-nav{
		display: none !important;
	}
	.owl-dots{
		display: block !important;
		padding-top: 15px;
	}
	
	.service p {
		background-color: transparent;
		a {
			display: inline-block;
			width: 100%;
			color: $text;
			background-color: white;
			text-align: left;
			padding: 10px 0;
		}
	}
}
.owl-theme .owl-dots .owl-dot.active span {
    background: $brand02 !important;
    opacity: 1;
}


.owl-theme .owl-nav {
	margin: 0;
}
.result-service{
	.owl-nav.disabled{
		display: none;
	}
}
.result-service, .slider-service, .slide-doctor, .slider-list-KH{
	position: relative;
	button.owl-prev {
		width: 60px;
		margin: 0;
		position: absolute;
		left: -90px;
		top: 30%;
		background: url(../images/arrow-left-active.svg) no-repeat center !important;
		cursor: pointer;
		span {
			font-size: 80px;
			opacity: 0;
	
		}
	
		&:focus {
			outline: none;
		}
	}
	button.owl-prev.disabled {
		background: url(../images/arrow-left.svg) no-repeat center !important;
	
	}
	button.owl-next {
		width: 60px;
		margin: 0;
		position: absolute;
		right: -60px;
		top: 30%;
		background: url(../images/arrow-right-active.svg) no-repeat center !important;
		cursor: pointer;
		span {
			font-size: 80px;
			opacity: 0;
		}
	
		&:focus {
			outline: none;
		}
	}
	button.owl-next.disabled {
		background: url(../images/arrow-right.svg) no-repeat center !important;
	
	}
}


.owl-dots {
	display: block;
	bottom: 30px;
	z-index: 1;
	position: relative;
}

.owl-carousel .owl-dots.disabled,
.owl-carousel .owl-nav.disabled {
	display: block;
}

.owl-theme .owl-dots .owl-dot span {
	border: 1px solid #9e9e9e;
	background: none;
	opacity: 0.5;
}

.owl-theme .owl-dots .owl-dot.active span {
	border: 0;
	background: #9e9e9e;
}


.flex-center {
	display: flex;
	height: 100%;
	align-items: center;
}

.tabs-info {
	.nav {
		justify-content: center;

	}
	.tab-content{
		padding-top: 25px;
	}
	.nav-tabs {
		border: 0;
	}
	.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
		color: $brand !important;
		border: 0;
	}
	.nav-tabs .nav-link{
		text-transform: uppercase;
		color: $text-alpha;
		&::after{
			content: '/';
			display: inline-block;
			margin-left: 10px;
			color: $text-alpha;
		}
	}
	.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
		border-color: transparent;
	}

}

.modal {
	.modal-dialog {
		max-width: 600px;
	}

	.modal-header {
		border-bottom: 0;
		padding: 0;
	}

	.close:not(:disabled):not(.disabled):focus,
	.close:not(:disabled):not(.disabled):hover {
		opacity: 1;
	}
}

/* check-radio-custom */

.check-radio-custom {
	margin: 15px 0;
}

.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.check-radio-custom [type="radio"]:checked+label,
.check-radio-custom [type="radio"]:not(:checked)+label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	display: inline-block;
	color: #222;
}

.check-radio-custom [type="radio"]:checked+label:before,
.check-radio-custom [type="radio"]:not(:checked)+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border: 1px solid #BFA145;
	border-radius: 100%;
	background: #fff;
}

.check-radio-custom [type="radio"]:checked+label:after,
.check-radio-custom [type="radio"]:not(:checked)+label:after {
	content: '';
	width: 12px;
	height: 12px;
	background: #BFA145;
	position: absolute;
	top: 4px;
	left: 4px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.check-radio-custom [type="radio"]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.check-radio-custom [type="radio"]:checked+label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.check-radio-custom p {
	margin: 10px 0;
}

/* -----------------Custom thanh srcoll-----------------*/

.scrollbar {
	height: 53vh;
	width: 100%;
	margin: auto;
	overflow-y: auto;
	padding: 0 10px;
}

#style-1::-webkit-scrollbar-track {
	border-radius: 0px;
	background-color: #cbcbcb;
}

#style-1::-webkit-scrollbar {
	width: 1.5px;
	background-color: #ededed;
}

#style-1::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: #232A7B;
}

/* -----------------Custom select box / input -----------------*/
input,
textarea {
	border-bottom: 1px solid $border !important;
	border: none;
	padding: 10px 0;
	background-color: white;
	width: 100%;
	&::placeholder{
		font-size: 13px;
		color: $text;
	}
	
}

textarea {
	width: 100%;
}
.custom-select.time-booking .select-selected:after {
	background: url(../images/icon-timer.svg) no-repeat top;
	display: inline-block ;
   	content: ' ';
	width: 16px;
	height: 16px;
	background-size: contain;
	right: 0;
}
.custom-select {
	position: relative;
	padding: 8px 0;
	background: #fff;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid $border;
}

.custom-select select {
	display: none;
	/*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 10px;
	vertical-align: 0.255em;
	content: "\e64b";
	font-family: 'themify';
	color: #ABABAB;
	top: 10px;
	right: 25px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
	color: $text;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	font-size: 14px;
}

/* Style items (options): */
.select-items {
	padding: 15px;
	overflow: hidden;
	width: 100%;
	position: absolute;
	background-color: white;
	top: 45px;
	left: 0;
	right: 0;
	z-index: 99;
	box-shadow: -1px 1px 14px rgba(138, 139, 159, 0.15);
}

.select-items div {
	padding: 10px 0;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	color: $brand;
}
/*------------------ RESPONSIVE --------------------------*/
@media only screen and (max-width: 1601px){
	.container{
		max-width: 1280px;
	}
	.info-left-form h3 {
		font-size: 18px;
	}
	.result-service .box-shadow .info-result .tinh-trang {
		margin: 5px 0;
		span{
			font-size: 17px;
		}
		p{
			font-size: 15px;
		}
	}
	.box{
		bottom: -140px;
	}
}
@media only screen and (max-width: 1400px){
	.result-service button.owl-prev, .slider-service button.owl-prev{
		left: 0 !important;
	}
	.result-service button.owl-next, .slider-service button.owl-next{
		right: 0 !important;
	}
}
@media only screen and (max-width: 1201px){
	.section-thong-ke .content-thong-ke .ds-thong-ke .thongke{
		width: 200px;
		height: 200px;
		p{
			font-size: 13px;
		}
	}
	.section-banner{
		.select-items div, .select-selected{
			font-size: 13px;
		}
		input{
			&::placeholder{
				font-size: 13px;
			}
		}
		
	} 
		
		.section-stories .slider-stories .lSAction{
			left: 390px;
		}
	
		.co-so-vat-chat {
			font-size: 16px;
			.info-csvc {
				padding: 80px 20px 20px 40px;
			}
			h3 a {
				font-size: 30px;
			}
		}
}
/* UPDATE CSS 25/9 */
.breadcrumbs{
    margin: 18px 0 14px;
    color: $text-alpha;
    a{
        color: $text-alpha;
        path{
            fill: $text-alpha;
        }
    }
    a::after{
        content: '|';
        margin: 0 10px; 
        color: $border;  
    }
}
/* ================= Page-about ================= */
.show-sticky-infrastructure{
    position: fixed;
    z-index: 1;
    top: 110px;
}
.story-about{
	.title-section{
		color: $brand;
		text-align: left;
	}
}
.infor-head-about{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .container{
        display: flex;
        justify-content: right;
    }
}
.menu-about-section{
    display: inline-block;
    padding: 0;
    width: 100%;
    .menu-about{
		background-color: white;
		width: 100%;
		border-bottom: 1px solid #EEEEEE;
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px 0;
			margin: 0;
			padding-bottom: 0;
            .no-sub{
                padding:10px;
                a:hover{
                    color: $brand02;
				}
				&.active{
					a{
						color: $brand02;
					}
					border-bottom: 1px solid $brand02;
				}
            }
        }
    }
}
.banner-head a.banner-mb-about, .banner-head a.banner-mb-thammymat{
	display: none;
}
.page-about{

    .story-about{
        position: relative;
        
        .menu-about{
            background: #fff;
        }
        background: #F1F7FC;
        padding: 0;
        
        .story-abbox{
            position: relative;
            display: inline-block;
        width: 100%;
            .img-about-story{
               float: left;
               width: 45%;
                img{
                    width: 100%;
                }
            }
                .soul-ab{
                    width: 50%;
                    background: #fff;
					padding: 50px 50px 90px;
					p{
						font-size: 18px;
						display: -webkit-box;
						-webkit-line-clamp: 4;
						-webkit-box-orient: vertical;
						overflow: hidden;
					}
					span{
						font-size: 18px;
						display: -webkit-box;
						-webkit-line-clamp: 1;
						-webkit-box-orient: vertical;
						overflow: hidden;
						width: 100%;
						margin: 20px 0;
						font-size: 20px;
						font-weight: 700;
					}
                }
            
        }   
    } 
    
    .infrastructure{
		.title-section{
			color: $text;
		}
		.ds-csvc{
			justify-content: center;
		}
		.csvc{
			background: #F1F7FC;
			border-radius: 100%;
			padding: 20px;
			width: 230px;
			height: 230px;
			margin: 40px;
			text-align: center;
			display: inline-block;
			.flex-center{
				justify-content: center;
				.content{
					text-align: center;
					h4{
						font-size: 20px;
					}
					p{
						font-weight: 700;
						font-size: 36px;
						margin-bottom: 0;
					}
				}
			}
		}
        .infra-ab{
            .title-section{
                text-align: center;
                margin: 17px 0 25px;
            }
              
            
        }
     
	}
	
	.slider-csvc-about{
		position: relative;
		z-index: 0;
		.item__third{
			padding: 0 30px;
		}
		.carousel-indicators{
			display: none;
		}
		.carousel-control-prev {
			left: 224px;
			background: transparent;
		}
		.carousel-control-prev-icon {
			background-image: url(../images/arrow-left.svg);
			width: 50px;
			height: 50px;
		}
		.carousel-control-next {
			right: 224px;
			background: transparent;
		}
		.carousel-control-next-icon {
			background-image: url(../images/arrow-right.svg);
			width: 50px;
			height: 50px;
		}
		// .carousel-control-prev{
		// 	width: 60px;
		// 	margin: 0;
		// 	position: absolute;
		// 	left: 0;
		// 	top: 30%;
		// 	background: url(../images/arrow-left.svg) no-repeat center !important;
		// 	cursor: pointer;
		// 	span {
		// 		font-size: 80px;
		// 		opacity: 0;
		
		// 	}
		
		// 	&:focus {
		// 		outline: none;
		// 	}
		// }
		
		// .carousel-control-next{
		// 	width: 60px;
		// 	margin: 0;
		// 	position: absolute;
		// 	right: 0;
		// 	top: 30%;
		// 	background: url(../images/arrow-right.svg) no-repeat center !important;
		// 	cursor: pointer;
		// 	span {
		// 		font-size: 80px;
		// 		opacity: 0;
		// 	}
		
		// 	&:focus {
		// 		outline: none;
		// 	}
		// }
		
	}
	.slider-csvc-about button.owl-prev{
		left: 50px !important;
		top: 40%;
	}
	.slider-csvc-about button.owl-next{
		right: 50px !important;    
		top: 40%;
	}
}
/*=============== Why choose NGOC DUNG =================*/
.why-choose-ND{
	background-color: #F1F7FC;
	.flex-center{
		justify-content: center;
		.demo{
			padding: 0 30px;
		}
	}
	.thumnaisl-avatar a {
		padding-top: 110%;

	}
	.title-section{
		color: $brand;
		text-align: left;
	}


	/*******************************
* ACCORDION WITH TOGGLE ICONS
* Does not work properly if "in" is added after "collapse".
*******************************/
.panel-group .panel {
	border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
    margin: 15px 0;
    display: inline-block;
    width: 100%;
}

.panel-default > .panel-heading {
	padding: 0;
	border-radius: 0;
	color: #212121;
	background: #fff;
	box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.4);
	padding-left: 20px;
	display: flex;
    align-items: center;
    position: relative;
	padding: 15px;
}

.panel-title {
	font-size: 18px;
	color: #666666;
	display: flex;
	align-items: center;
	margin-bottom: 0;
	&.collapsed{
		color: $brand;
	}
	img{ 
		margin-right: 10px;
		height: 32px;
		width: 32px;
	}
}

.panel-title > a {
	display: block;
	text-decoration: none;
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	overflow: hidden;
    padding-right: 30px;

}
.panel-body{
	p{
		font-size: 16px;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;
		padding-right: 30px;
	}
}



.panel-default > .panel-heading + .panel-collapse > .panel-body {
	padding: 15px 10px 15px 30px;
    background-color: white;
}

}
.more-less {
	position: absolute;
    right: 10px;
	color: #212121;
}
/*=============== Section tam nhin su menh =================*/
.section-tam-nhin-su-menh{
	background: url(../images/bg-blue.png) no-repeat center top;
	background-size: cover;
	padding-bottom: 0;
	.thumnaisl-avatar a{
		padding-top: 100%;
	}
	.infor-misson{
		position: relative;
		padding-left: 70px;
		padding-right: 50px;
		margin-bottom: 30px;
		display: inline-block;
		&:last-child{
			margin-bottom: 0;
		}
		img{
			position: absolute;
			left: 0;
			top: 10px;
			height: 55px;
		}
		.detail-misson{
			border-left: 1px solid #ffffff1a;
			color: white;
			padding-left: 25px;
			.title-section{
				text-align: left;
				color: white;
			}
			p{
				font-size: 18px;
				line-height: 28px;
				padding-right: 100px;
				display: -webkit-box;
				-webkit-line-clamp: 6;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}
	}

	
}
/*=============== Section gia tri cot loi =================*/
.section-gtcl{
	.title-section{
		color: $brand;
	}
	
}

.item-gtcl{
	position: relative;
	cursor: pointer;
	&:hover{
		.text-gtcl{
			content: '';
			opacity: 1;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
			backdrop-filter: blur(12px);
			-webkit-transition: 0.5s ease-in-out;
			-o-transition: 0.5s ease-in-out;
			transition: 0.5s ease-in-out;
			pointer-events: none;
			color: white;
			display: flex;
			align-items: center;
			flex-direction: column;
			height: 100%;
			justify-content: center;
			img{
				text-align: center;
				display: block;
				margin: 0 auto;
				margin-bottom: 15px;
			}
			.mo-ta-gtcl{
				display: block;
			}
		}
		
		
	}
	
	.text-gtcl{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 100%;
		padding: 20px ;
		color: #ffffff;
		text-align: center;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
		content: '';
		
		img{
			display: none;
			height: 60px;
		}
		p{
			
			font-size: 32px;
			font-weight: 600;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
		.mo-ta-gtcl{
			display: none;
			span{
				font-size: 16px;
				display: -webkit-box;
				-webkit-line-clamp: 4;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}
	}
	

}
.modal-dialog {
    margin: 0 auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.modal-header .close{
	z-index: 9999;
	background-color: $brand;
    opacity: 1;
    color: white;
    box-shadow: none;
    padding: 10px;
    position: absolute;
    right: 0;
	margin: 0;
	span{
		font-size: 25px;
	}
}
/*=============== Slider doi ngu bac si =================*/
.slide-doctor{
	z-index: 0;
	.title-section{
		color: $brand;
	}
	.item{
		margin: 50px 15px 10px 15px;
	}
	button.owl-prev, button.owl-next{
		top: 50%;
	}
	
	.doctor{
		text-align: center;
		h4{
			margin-top: 20px;
			a{
				font-size: 20px;
				font-weight: 600;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;
			
			}
		}
		p{
			font-size: 18px;
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
		.thumnaisl-avatar a{
			padding-top: 108%;
			img{
				max-width: 290px;
				width: 100%;
				height: 100%;
				right: 0;
				margin: 0 auto;
			}
		}
		.bg-doctor{
			background: linear-gradient(125.44deg, #ECEDEA 23.44%, rgba(248, 248, 246, 0.5) 50.85%, #DCDBD8 82.83%);
			border-radius: 250px 250px 0px 0px;
			padding-top: 55px;
		}
		&:hover{
			.bg-doctor{
				background: linear-gradient(77.28deg, #0C113B 0.66%, #232A7B 23.44%, #354ABF 55.83%);
				
			}
			h4 a{ 
				color: $brand;
			}
		}
	}
}
.modal-doctor{
	.thumnaisl-avatar a{
		padding-top: 130%;
	}
	.info-doctor{
		padding: 30px 20px;
		ul {
			padding-left: 15px;
			li{
				list-style: none;
				font-size: 18px;
				margin: 15px 0;
				
				&::before{
					content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
					color: $brand; /* Change the color */
					font-weight: bold; /* If you want it to be bold */
					display: inline-block; /* Needed to add space between the bullet and the text */
					width: 1em; /* Also needed for space (tweak if needed) */
					margin-left: -1em;
				}
			}
		}
		.title-section{
			color: $brand;
			text-align: left;
		}
		p{
			font-weight: 600;
			font-size: 18px;
		}
	}
	.modal-dialog{
		max-width: 1170px;
		margin-top: 80px;
		.modal-content{
			border: 0;
			border-radius: 0;
			.modal-body{
				padding: 0;
			}
		}
	}
}
/*=============== Section he thong chi nhanh page about =================*/
.branch-system .box-cms-shadow .title-radiocheck .check-radio-custom p {
    line-height: 0;
}
.section-ht-chi-nhanh{
	background-color: #F1F7FC;
	.bg-white{
		padding: 20px;
	}
	.nav-pills {
		margin: 5px 0;
		.nav-link.active, .nav-pills .show>.nav-link{
			background-color: #F1F7FC;
			color: $brand;
		}
	}
	.check-radio-custom{
		label{
			padding-left: 0;
			&::before{
				display: none;
			}
			&::after{
				display: none;
			}
		}

	}
	.tab-content.branch-system .box-cms-shadow .input-custom:checked + .label-custom {
		padding-left: 0 !important;

	}
	.btn-dang-ky{
		background-color: white;
		color: $brand;
		border: 1px solid $brand;
		text-transform: uppercase;
		&:hover{
			background-color: $brand02;
			border-color: $brand02;
			color: white;
		}
	}
	.branch-system {
		.detail-location span{
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
		.box-cms-shadow .label-custom {
			padding-left: 0 !important;
			span{
				color: $text;
			}
		}
	}
	
}
.title-tab-chi-nhanh{
	display: inline-block;
	margin-bottom: 15px;
	a{
		font-size: 26px;
		color: $brand !important;
		font-weight: 600;
		i{
			margin-right: 5px;
		}
	}
}
/*=============== PAGE Gioi thieu- tin tuyen tuyen dung =================*/
.box-cms-shadow {
    background: #FFFFFF;
    margin-bottom: 15px;
    padding: 30px;
}
.section-bao-chi{
	background-color: #F1F7FC;
	.title-section{
		color: $brand;
	}
	.title-news.text-lagre {
		font-size: 20px;
		font-weight: 600;
	}
	.item-news.lagre{
		.thumnaisl-avatar a{
			padding-top: 65%;
		}
	}
	.item-news{
		margin: 25px 0;
		.thumnaisl-avatar a{
			padding-top: 40%;
		}
		
	}
	
}
.item-news{
	span{
		font-size: 15px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}
$fragment_width: 25%;

.show-neighbors {
  overflow: hidden;

  .item__third:first-child, 
  .item__third:last-child {
    display: none;
  }

  @media (min-width: 500px) {
    .carousel-indicators {
      margin-right: $fragment_width;
      margin-left: $fragment_width;
    }

    .carousel-control-prev, 
    .carousel-control-next {
      background: rgba(255, 255, 255, 0.3);
      width: $fragment_width;
      z-index: 11;  /* .carousel-caption has z-index 10 */
    }

    .carousel-inner {
      width: (100% - 2 * $fragment_width) * 3;
      left: 3 * $fragment_width - 100%;
    }

    .carousel-item-next:not(.carousel-item-left),
    .carousel-item-right.active {
      -webkit-transform: translate3d(33%, 0, 0);
      transform: translate3d(33%, 0, 0);
    }

    .carousel-item-prev:not(.carousel-item-right),
    .carousel-item-left.active {
      -webkit-transform: translate3d(-33%, 0, 0);
      transform: translate3d(-33%, 0, 0);
    }

    .item__third {
      display: block !important;
      float: left;
      position: relative;  /* captions can now be added */
      width: 33.33333333%;
    }
  }
}
.btn-no-bg{
	background-color: white;
	color: $brand;
	border: 1px solid $brand;
	transition: all .3s ease-in-out;
	&:hover{
		border: 1px solid transparent;
	}
}
/*=============== Section hoat dong xa hoi =================*/

	.check-radio-custom.no-radio{
		label{
			padding-left: 0;
			&::before{
				display: none;
			}
			&::after{
				display: none;
			}
		}
		.label-custom {
			padding-left: 0 !important;
			color: $text !important;
			font-weight: 600;
	
		}
	}

.section-hoat-dong{
	.title-section{
		color: $brand;
	}
}
.section-tuyen-dung{
	background-color: #F1F7FC;
	.box-cms-shadow{
		box-shadow: 0px 0px 57px -10px rgba(0, 19, 233, 0.05);
	}
	.title-section{
		color: $brand;
	}
	.btn-view-detail {
		background-color: white;
		color: #232A7B;
		border: 1px solid #232A7B;
		text-transform: uppercase;
	}
	
	.ngay-het-han{
		color: #FF0000;
	}

	.btn-common.btn-view-detail{
		&:hover{
			background-color: $brand02;
			color: white;
			border: 1px solid transparent;
		}
	}
	.branch-system .box-cms-shadow {
		margin: 15px 0;
	}
}
.branch-system .box-cms-shadow .input-custom:checked{
color: $brand02;
}
/*=============== Section cau chuyen thanh cong =================*/
.page-lien-he-tu-van{
	.title-section{
		color: $brand;
	}
	.number-question{
		font-size: 30px;
		margin-right: 10px;
		color: $brand;
	}
	.panel-group{
		padding: 0 100px;
	}
	.panel.panel-default{
		padding: 20px 0;
	}
	.panel-body{
		padding: 20px 30px;
		border-left: 1px solid #D1D1D1;
		margin-left: 5px;
		p{
			margin-bottom: 0;
			font-size: 16px;
			
		}
	}
	.panel-title{
		margin-bottom: 0;
		background: white;
		z-index: 9999;
		width: fit-content;
		p{
			width: fit-content;
			font-size: 20px;
			padding-right: 10px;
		}
	}
	.more-less {
		top: 0;
		right: 0;
		background: white;
		padding: 10px;
		width: fit-content;
	}
	.panel-heading{
		&::before{
			border-bottom: 1px solid #D1D1D1;
			content: '';
			display: inline-block;
			width: 100%;
			height: 1px;
			position: absolute;
			top: 0;
			padding: 10px 0px 10px 0;
			z-index: -1;

			}
	}
	.btn-common.btn-view-all.btn-no-bg {
		width: 100%;
		border-radius: 0;
		border: 1px solid transparent;
		background-color: #F1F7FC;
		&:hover{
			background-color: $brand02;
		}

	}
}
.panel-heading{
	position: relative;
}
.tabs-info .nav-tabs .nav-item:last-child .nav-link{
	&::after{
		display: none;
		}
}

/*=============== Section  lien he tu van =================*/
.section-lien-he-tu-van{
	background-color: #F1F7FC;
	position: relative;
	.title-section{
		text-align: left;
		padding-left: 15px;
		margin-bottom: 10px;
	}
	p{
		margin-bottom: 20px;
		padding-left: 15px;
		padding-right: 85px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	.pattern{
		max-width: 300px;
		position: absolute;
		top: 0;
		left: 0;
	}
	input, textarea, .custom-select{
		border: 1px solid #EEEEEE !important;
		border-radius: 5px;
		height: 44px;
    	padding: 10px 10px 10px 15px;
		&:focus{
			border: 1px solid #232a7bba !important;
		}
	}
	.custom-select.time-booking .select-selected:after{
		right: 10px;
	}
	.btn-common.btn-submit-form{
		width: 210px;
	}
	.thumnaisl-avatar a{
		padding-top: 70%;
	}
}
/*=============== Tham my vung mat =================*/
.section-khai-niem{
	.scrollbar {
		height: 43vh;
	}
	.title-section{
		text-align: left;
	}
	h4{
		font-size: 22px;
		font-weight: 600;
	}
	p{
		font-size: 16px;
		margin-bottom: 20px;
	}
}
.section-doi-tuongKH{
	background-color: #F1F7FC;
	.item-KH{
		background-color: white;
		padding: 30px;
		margin: 15px 0;
		height: 200px;
		text-align: center;
		display: inline-block;
		width: 100%;
	
		img{
			height: 36px;
		}
		p{
			font-size: 18px;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			margin-top: 15px;
			margin-bottom: 0;
		}
	}
	.slider-list-KH{
		z-index: 0;
	}
}
.slider-list-KH{
	margin-top: 30px;
	.item{
		padding-right: 30px;
		padding-top: 15px;
		
	}
	button.owl-next, button.owl-prev{
		top: 50%;
		
	}
	
}
.vi-sao-chon{
	background: url(../images/bg-vi-sao-chon.png) no-repeat center top;
	background-size: cover;
	padding-bottom: 0;
	.thumnaisl-avatar a{
		padding-top: 185%;
	}
	.title-section{
		color: white;
		-webkit-line-clamp: inherit;
	}
	.deatil-reason{
		padding: 20px;
		text-align: center;
		img{
			height: 60px;
		}
		p{
			color: white;
			font-size: 18px;
			text-align: center;
			padding: 20px 40px;
		}
	}
}
.section-quy-trinh{
	background: url(../images/bg-xam.png) no-repeat center top;
    background-size: cover;
    padding-bottom: 0;
	.desc-title{
		text-align: center;
		padding: 0 100px;
		font-size: 18px;
	}
	
	
}

.section-quy-trinh{
	.text-process{
		padding: 0 50px;

		h4{
			font-size: 30px;
			font-weight: 600;
		}
		p{
			font-size: 18px;
			&.scrollbar {
				height: 30vh;
			}
		}
	}


	.thumnaisl-avatar a{
		padding-top: 115%;
	}
	.wizard-content .wizard>.actions>ul>li>a {
		display: block;
		background: url(../images/arrow-right-active.svg) no-repeat center !important;
		width: 60px;
		height: 60px;
		cursor: pointer;
		
	  }
	   
	  .wizard-content .wizard>.actions>ul>li>a[href="#previous"] {
		background: url(../images/arrow-left.svg) no-repeat center !important;
		width: 60px;
		height: 60px;
	
	  }
	  
}

.chi-tiet-dv{
	.result-item{
		z-index: 0;
	}
	.section-thong-ke {
		
		background-color: white;
		.content-thong-ke {
			padding-top: 80px;
		}
	}
	.section-thong-ke .content-thong-ke .ds-thong-ke .thongke {
		background: #F1F7FC;
		opacity: 0.9;
		box-shadow: none;
	}
}
.form-advise{
	.btn-common.btn-submit-form{
		width: 200px;

	}
}

.section-cs-sau-lam{
	background-color: #F1F7FC;
	.thumnaisl-avatar a{
		padding-top: 48%;
	}
	.vid-hd{
		position: relative;
		.btn-play-vid {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			cursor: pointer;
			margin: 0 auto;
			width: 90px;
		}
	}
	.buoc-huong-dan{
		border: 1px solid #CBCBCB;
		.col-md-2{
			-ms-flex: 0 0 20%;
			flex: 0 0 20%;
			max-width: 20%;
		}
		.col-md-4{
			-ms-flex: 0 0 40%;
			flex: 0 0 40%;
			max-width: 40%;
		}
	}
	.noi-dung-hd{
		padding: 30px;
		text-align: center;
		background-color: white;
		height: 100%;
		border-right: 1px solid #CBCBCB;
		
		&.boder-bottom{
			border-bottom: 1px solid #CBCBCB;
		}
		&.boder-none{
			border-right: 0;
		}
		
		
		span{
			display: inline-block;
			padding-top: 15px;
			color: $brand02;
			background-color: $brand;
			font-size: 16px;
			border-radius: 100%;
			width: 50px;
			height: 50px;
			margin-bottom: 15px;
		}
		p{
			font-size: 16px;
			margin-bottom: 0;
		}
	}
	
}

		/*
	  Template Name: Monster Admin
	  Author: Themedesigner
	  Email: niravjoshi87@gmail.com
	  File: css
	  */
	  
	  .wizard-content .wizard>.steps>ul>li:after,
	  .wizard-content .wizard>.steps>ul>li:before {
		  content: '';
		  z-index: 9;
		  display: block;
		  position: absolute;
	  }
	  
	  .wizard-content .wizard {
		  width: 100%;
		  overflow: hidden
	  }
	  
	  .wizard-content .wizard .content {
		  margin-left: 0!important
	  }
	  
	  .wizard-content .wizard>.steps {
		  position: relative;
		  display: block;
		  width: 100%
	  }
	  
	  .wizard-content .wizard>.steps .current-info {
		  position: absolute;
		  left: -99999px
	  }
	  
	  .wizard-content .wizard>.steps>ul {
		  display: table;
		  width: 800px;
		  table-layout: fixed;
		  margin: 0 auto;
		  padding: 0;
		  list-style: none;
		  z-index: 0;
    	  position: relative;
	  }
	  
	  .wizard-content .wizard>.steps>ul>li {
		  display: table-cell;
		  width: auto;
		  vertical-align: top;
		  text-align: center;
		  position: relative
	  }
	  
	  .wizard-content .wizard>.steps>ul>li a {
		  position: relative;
		  padding-top: 52px;
		  margin-top: 20px;
		  margin-bottom: 20px;
		  display: block
	  }
	  
	  .wizard-content .wizard>.steps>ul>li:before {
		  left: 0
	  }
	  
	  .wizard-content .wizard>.steps>ul>li:after {
		  right: 0
	  }
	  
	  .wizard-content .wizard>.steps>ul>li:first-child:before,
	  .wizard-content .wizard>.steps>ul>li:last-child:after {
		  content: none
	  }
	  
	  .wizard-content .wizard>.steps>ul>li.current>a {
		color: #232a7b;
		cursor: default;
		font-weight: 600;
	  }
	  
	  .wizard-content .wizard>.steps>ul>li.current .step {
		  
		  background-color: $brand;
		  color: $brand02;
		  border: none; 
	  }
	  
	  .wizard-content .wizard>.steps>ul>li.disabled a,
	  .wizard-content .wizard>.steps>ul>li.disabled a:focus,
	  .wizard-content .wizard>.steps>ul>li.disabled a:hover {
		  color: #999;
		  cursor: default
	  }
	  
	  .wizard-content .wizard>.steps>ul>li.done a,
	  .wizard-content .wizard>.steps>ul>li.done a:focus,
	  .wizard-content .wizard>.steps>ul>li.done a:hover {
		  color: #999
	  }
	  
	  .wizard-content .wizard>.steps>ul>li.done .step {
		background-color: white;
    	color: #232a7b;
	  }
	  
	  .wizard-content .wizard>.steps>ul>li.error .step {
		  border-color: #f62d51;
		  color: #f62d51
	  }
	  
	  .wizard-content .wizard>.steps .step {
		  background-color: #fff;
		  display: inline-block;
		  position: absolute;
		  top: 0;
		  left: 50%;
		  margin-left: -24px;
		  z-index: 10;
		  text-align: center
	  }
	  
	  .wizard-content .wizard>.content {
		  overflow: hidden;
		  position: relative;
		  width: auto;
		  padding: 0;
		  margin: 0
	  }
	  
	  .wizard-content .wizard>.content>.title {
		  position: absolute;
		  left: -99999px
	  }
	  
	 
	  
	  .wizard-content .wizard>.content>iframe {
		  border: 0;
		  width: 100%;
		  height: 100%
	  }
	  
	  .wizard-content .wizard>.actions {
		  position: relative;
		  display: block;
		  text-align: right;
		  padding: 0 20px 20px
	  }
	  
	  .wizard-content .wizard>.actions>ul {
		position: absolute;
		list-style: none;
		padding: 0;
		margin: 0;
		bottom: 200px;
		left: 575px;
		display: flex;
	  }
	  
	  .wizard-content .wizard>.actions>ul:after {
		  content: '';
		  display: table;
		  clear: both
	  }
	  
	  .wizard-content .wizard>.actions>ul>li {
		  float: left
	  }
	  
	  .wizard-content .wizard>.actions>ul>li+li {
		  margin-left: 10px
	  }
	  .text-process{
		  position: relative;
	  }
	 
	  
	  .wizard-content .wizard>.actions>ul>li>a:focus,
	  .wizard-content .wizard>.actions>ul>li>a:hover {
		color: inherit !important;
	  }
	  
	  .wizard-content .wizard>.actions>ul>li>a:active {
		  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, .1) inset;
		  box-shadow: 0 0 0 100px rgba(0, 0, 0, .1) inset
	  }
	 
	  
	  .wizard-content .wizard>.actions>ul>li>a[href="#previous"]:focus,
	  .wizard-content .wizard>.actions>ul>li>a[href="#previous"]:hover {
		  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, .02) inset;
		  box-shadow: 0 0 0 100px rgba(0, 0, 0, .02) inset
	  }
	  
	  .wizard-content .wizard>.actions>ul>li>a[href="#previous"]:active {
		  -webkit-box-shadow: 0 0 0 100px rgba(0, 0, 0, .04) inset;
		  box-shadow: 0 0 0 100px rgba(0, 0, 0, .04) inset
	  }
	  
	  .wizard-content .wizard>.actions>ul>li.disabled>a,
	  .wizard-content .wizard>.actions>ul>li.disabled>a:focus,
	  .wizard-content .wizard>.actions>ul>li.disabled>a:hover {
		  color: #999
	  }
	  
	  .wizard-content .wizard>.actions>ul>li.disabled>a[href="#previous"],
	  .wizard-content .wizard>.actions>ul>li.disabled>a[href="#previous"]:focus,
	  .wizard-content .wizard>.actions>ul>li.disabled>a[href="#previous"]:hover {
		  -webkit-box-shadow: none;
		  box-shadow: none;
	  }
	  
	  .wizard-content .wizard.wizard-circle>.steps>ul>li:after,
	  .wizard-content .wizard.wizard-circle>.steps>ul>li:before {
		  top: 45px;
		  width: 50%;
		  border: 1px solid $brand02;
	  }
	  
	  .wizard-content .wizard.wizard-circle>.steps>ul>li.current:after,
	  .wizard-content .wizard.wizard-circle>.steps>ul>li.current~li:after,
	  .wizard-content .wizard.wizard-circle>.steps>ul>li.current~li:before {
		border: 1px dashed #999999;
	  }
	  
	  .wizard-content .wizard.wizard-circle>.steps .step {
		  width: 50px;
		  height: 50px;
		  line-height: 2.5;
		  font-size: 1.3rem;
		  border-radius: 50%;
		  color: $brand;
	  }
	  
	  .wizard-content .wizard.wizard-notification>.steps>ul>li:after,
	  .wizard-content .wizard.wizard-notification>.steps>ul>li:before {
		  top: 39px;
		  width: 50%;
		  height: 2px;
		  background-color: #009efb ;
	  }
	  
	  .wizard-content .wizard.wizard-notification>.steps>ul>li.current .step {
		  border: 2px solid #009efb ;
		  color: #009efb ;
		  line-height: 36px
	  }
	  
	  .wizard-content .wizard.wizard-notification>.steps>ul>li.current .step:after,
	  .wizard-content .wizard.wizard-notification>.steps>ul>li.done .step:after {
		  border-top-color: #009efb 
	  }
	  
	  .wizard-content .wizard.wizard-notification>.steps>ul>li.current:after,
	  .wizard-content .wizard.wizard-notification>.steps>ul>li.current~li:after,
	  .wizard-content .wizard.wizard-notification>.steps>ul>li.current~li:before {
		  background-color: #F3F3F3
	  }
	  
	  .wizard-content .wizard.wizard-notification>.steps>ul>li.done .step {
		  color: #FFF
	  }
	  
	  .wizard-content .wizard.wizard-notification>.steps .step {
		  width: 40px;
		  height: 40px;
		  line-height: 40px;
		  font-size: 1.3rem;
		  border-radius: 15%;
		  background-color: #F3F3F3
	  }
	  
	  .wizard-content .wizard.wizard-notification>.steps .step:after {
		  content: "";
		  width: 0;
		  height: 0;
		  position: absolute;
		  bottom: 0;
		  left: 50%;
		  margin-left: -8px;
		  margin-bottom: -8px;
		  border-left: 7px solid transparent;
		  border-right: 7px solid transparent;
		  border-top: 8px solid #F3F3F3
	  }
	  
	  .wizard-content .wizard.vertical>.steps {
		  display: inline;
		  float: left;
		  width: 20%
	  }
	  
	  .wizard-content .wizard.vertical>.steps>ul>li {
		  display: block;
		  width: 100%
	  }
	  
	  .wizard-content .wizard.vertical>.steps>ul>li.current:after,
	  .wizard-content .wizard.vertical>.steps>ul>li.current:before,
	  .wizard-content .wizard.vertical>.steps>ul>li.current~li:after,
	  .wizard-content .wizard.vertical>.steps>ul>li.current~li:before,
	  .wizard-content .wizard.vertical>.steps>ul>li:after,
	  .wizard-content .wizard.vertical>.steps>ul>li:before {
		  background-color: transparent
	  }
	  
	  @media (max-width:768px) {
		  .wizard-content .wizard>.steps>ul {
			  margin-bottom: 20px
		  }
		  .wizard-content .wizard>.steps>ul>li {
			  display: block;
			  float: left;
			  width: 50%
		  }
		  .wizard-content .wizard>.steps>ul>li>a {
			  margin-bottom: 0
		  }
		  .wizard-content .wizard>.steps>ul>li:first-child:before {
			  content: ''
		  }
		  .wizard-content .wizard>.steps>ul>li:last-child:after {
			  content: '';
			  background-color: #009efb 
		  }
		  .wizard-content .wizard.vertical>.steps {
			  width: 15%
		  }
	  }
	  
	  @media (max-width:480px) {
		  .wizard-content .wizard>.steps>ul>li {
			  width: 100%
		  }
		  .wizard-content .wizard>.steps>ul>li.current:after {
			  background-color: #009efb 
		  }
		   .wizard-content .wizard.vertical>.steps>ul>li {
			  display: block;
			  float: left;
			  width: 50%
		  }
		  .wizard-content .wizard.vertical>.steps {
			  width: 100%;
			  float:none;
		  }
	  }
