@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");
body {
  font-family: 'Inter', sans-serif;
  display: block;
  font-size: 14px;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: #FDF4F7;
  color: #232a7b; }

p {
  font-size: 20px; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none; }

ul,
li {
  list-style: none;
  padding: 0; }

a:visited {
  text-decoration: none; }

a:focus {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

a {
  display: inline-block; }

h1 {
  font-size: 28px;
  font-weight: 700;
  color: #ED288A; }

h3 {
  font-weight: 600;
  font-size: 26px; }

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #ED288A;
  text-align: center;
  margin-bottom: 20px; }

.step-2 .content .img-phanqua img {
  width: 100%;
  margin: 30px 0 30px 0; }

.mt-40 {
  margin-top: 40px; }

.center {
  text-align: center; }

.body-game {
  margin: 0 auto;
  max-width: 470px;
  width: 100%;
  height: 100%;
  padding: 0; }

.phan-qua {
  color: #FABE12;
  font-size: 26px; }

.bg-home {
  background: url(../images/bg-home.png) no-repeat center top;
  padding: 0;
  width: 100%;
  min-height: 100vh; }

.img-head {
  text-align: center;
  width: 100%; }

.img-logo {
  width: 90px;
  margin: 0 auto;
  display: block; }

.img-tilte {
  max-width: 600px;
  margin: 0 auto;
  display: block;
  padding: 10px 0;
  width: 100%; }

.content {
  text-align: center;
  padding: 30px 20px; }
  .content h4 {
    text-transform: uppercase;
    font-size: 34px;
    color: #aa7821;
    margin-bottom: 0; }

.step-1 {
  background: url(../images/HE-VUI.gif) no-repeat center top;
  min-height: 100vh;
  padding: 0;
  background-size: contain !important;
  width: 100%; }

.step-2 {
  background: url(../images/bg-step2.png) no-repeat center top;
  padding-top: 20px;
  background-size: cover !important; }

.step-3 {
  background: url(../images/bg-step3.png) no-repeat center top;
  padding-top: 20px; }

.step-4 {
  background: url(../images/bg-step4.png) no-repeat center top;
  padding: 8px 20px 20px 20px; }

.step-5 {
  background: url(../images/CAM-ON.gif) no-repeat center top;
  min-height: 100vh;
  padding: 0;
  background-size: contain !important;
  width: 100%; }

.img-phanqua img {
  width: 100%; }

.chucmung {
  max-width: 70%;
  margin: 0 auto; }
  .chucmung p {
    text-transform: uppercase;
    font-size: 30px;
    color: #ED288A;
    margin: 20px 0;
    font-weight: bold; }

.title-section h2 {
  text-transform: uppercase;
  font-size: 18px;
  color: #ED288A;
  margin: 10px 0;
  font-weight: bold; }

.content {
  padding: 20px; }

.img-phanqua {
  max-width: 80%;
  margin: 30px auto 70px auto; }

.box-info .col-md-5 {
  padding-left: 0; }

@media only screen and (max-width: 767px) {
  .step-4 {
    background-size: cover !important; }

  .step-1 {
    background-size: contain !important; }

  .step-3 {
    padding-top: 20px;
    background-size: cover !important; }
    .step-3 .img-phanqua {
      max-width: 100%;
      margin-top: 50px; }

  .step-5 {
    background: url(../images/CAM-ON.gif) no-repeat center;
    background-size: cover !important; }

  .box-text {
    padding: 0 60px 30px 90px  !important; }

  .info-box {
    max-width: 100% !important;
    padding: 20px 40px !important; }

  .title-section h2 {
    font-size: 20px; }

  .box-text ul {
    font-size: 18px !important; }

  .box-text ul li {
    font-size: 15px !important; }

  .col-md-5, .col-md-7 {
    width: 50%; }

  .col-md-5 {
    padding-left: 0; }

  .chucmung {
    max-width: 100%; }
    .chucmung p {
      font-size: 28px; }

  .btn-xacnhan img {
    width: 250px !important; } }
/*------------ Button action -------------*/
.btn-action {
  display: inline-block;
  width: 100%; }

.btn-nhanqua img {
  width: 70%;
  margin: 0 auto; }

.btn-xacnhan img {
  width: 300px; }

.btn-common-fill {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #F1B3CD 0%, #F2A0BE 51.56%, #EA90B3 100%);
  padding: 0 32px;
  color: white;
  text-align: center;
  transition: all .3s ease-in-out;
  color: white;
  height: 42px;
  line-height: 24px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 28px;
  text-transform: uppercase;
  width: fit-content; }

/*------------ End Button action -------------*/
.box-present {
  text-align: center;
  width: 100%; }
  .box-present h1 {
    margin-top: 15px; }

.img-gift {
  width: 120px;
  margin: 0 auto;
  display: block; }

.box-game {
  margin-top: 60px; }

.gift-box {
  max-width: 600px; }
  .gift-box img {
    width: 100%;
    height: 100%; }

.info-box {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 50px;
  background-color: transparent; }

.form-group {
  margin-bottom: 10px; }

.box-text {
  color: #ED288A;
  text-align: left;
  margin: 0;
  padding: 0 80px 0 110px;
  margin-top: 20px; }
  .box-text ul {
    font-size: 22px;
    font-weight: bold; }
    .box-text ul li {
      font-size: 13px;
      font-weight: 500;
      list-style: disc;
      margin: 10px; }

.box-check .check-box {
  font-size: 18px;
  font-weight: 400;
  font-style: italic; }

input {
  width: 100%;
  height: 35px;
  padding: 6px 12px;
  border-radius: 50px;
  border: 1px #fff solid;
  background: white;
  color: #ED288A;
  font-size: 14px; }
  input::placeholder {
    color: #ED288A; }

/*------------ Custom select box -------------*/
.custom-select {
  height: 35px;
  border-radius: 50px;
  position: relative;
  padding: 0;
  background: white;
  display: flex;
  align-items: center;
  border-color: inherit;
  background: #fff;
  border: 1px #fff solid;
  font-size: 14px;
  color: #ED288A; }

.select-items {
  overflow-y: auto !important;
  max-height: 250px; }

.custom-select select {
  display: none;
  /*hide original SELECT element: */ }

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: 0.255em;
  content: "\e64b";
  font-family: 'themify';
  top: 8px;
  right: 24px;
  font-size: 13px; }

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  padding: 8px 16px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 14px; }

.select-selected {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
  color: #ED288A; }

/* Style items (options): */
.select-items {
  padding: 15px 0;
  overflow: hidden;
  width: 100%;
  position: absolute;
  background-color: #fff;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  max-height: 140px; }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  background-color: #f2d5e1; }

.input-custom:checked + .label-custom::before {
  color: white;
  background-color: #2A6BBC;
  border: 1px solid #2A6BBC; }

.label {
  font-size: 14px; }

label {
  color: #ED288A;
  font-size: 16px;
  font-weight: 500; }

.box-info {
  text-align: left; }

.pattern {
  position: absolute;
  z-index: -1; }
  .pattern img {
    width: 100%;
    height: 100%; }

input,
label {
  cursor: pointer; }

.box-check {
  display: flex;
  margin-top: 20px;
  align-items: center; }
  .box-check .check-box {
    margin-bottom: 0; }

.input-checkbox {
  margin-right: 8px;
  display: flex;
  appearance: none;
  background: w;
  height: 24px;
  width: 24px;
  border-radius: 20%;
  box-shadow: 0 2px 2px 1px fade(white, 20) inset, 0 1px 1px 1px fade(white, 20); }
  .input-checkbox::after {
    content: '✔';
    font-size: 16;
    margin: auto; }
  .input-checkbox:not(:checked)::after {
    color: transparent;
    text-shadow: 0 0 0 transparent;
    transition: color 200ms ease-out, text-shadow 150ms ease-out 25ms; }
  .input-checkbox:checked::after {
    color: #ED288A;
    text-shadow: 2px 3px 2px fade(black, 20);
    transition: color 200ms ease-in, text-shadow 150ms ease-in 25ms; }

.input-checkbox {
  margin-bottom: 0  !important; }

/*# sourceMappingURL=style.css.map */
