@font-face {
  font-family: 'SVN-Gilroy';
  src: url('../fonts/SVN-Gilroy.woff2') format('woff2'),
    url('../fonts/SVN-Gilroy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('../fonts/SVN-GilroyMedium.woff2') format('woff2'),
    url('../fonts/SVN-GilroyMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('../fonts/SVN-GilroyBlack.woff2') format('woff2'),
    url('../fonts/SVN-GilroyBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('../fonts/SVN-GilroyBold.woff2') format('woff2'),
    url('../fonts/SVN-GilroyBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: 'SVN-Gilroy';
  display: block;
  font-size: 14px;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: #FDF4F7;
  color: #232a7b;
}

p {
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a:visited {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  display: inline-block;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  color: #ED288A;
}

h3 {
  font-weight: 600;
  font-size: 26px;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #ED288A;
  text-align: center;
  margin-bottom: 20px;
}

.step-2 {
  // background: #E8E9EB !important;
  .content{
    max-width: 80%;
    margin: 0 auto;
    .img-phanqua{
      img{
        width: 100%;
        margin: 30px 0 30px 0;
      }
    }
  }
}

.mt-40 {
  margin-top: 40px;
}

.center {
  text-align: center;
}

.body-game {
  margin: 0 auto;
  max-width: 950px;
  width: 100%;
  height: 100%;
}
.phan-qua{
color: #FABE12;
font-size: 26px;
}
.bg-home {
  // background: radial-gradient(17.55% 9.82% at 50% 50%, #FDF5F8 0%, #FCEDF1 100%);
  // min-height: 100vh;
  // padding: 40px 20px 20px 20px;
  // background-size: cover !important;
  // width: 100%;
  // display: inline-block;
  // position: relative;
  // z-index: 2;
    background: url(../images/bg-home.png) no-repeat center top;
    min-height: 100vh;
    padding: 50px 20px 20px 20px;
    background-size: cover !important;
    width: 100%;
}

.img-head {
  text-align: center;
  width: 100%;
}

.img-logo {
  width: 150px;
  margin: 0 auto;
  display: block;

}

.img-tilte {
  width: 100%;
  margin: 0 auto;
  display: block;
  padding: 10px 0;
  // opacity: .6;
}

.content {
  text-align: center;
  padding: 60px 20px;

  h4 {
    text-transform: uppercase;
    font-size: 34px;
    color: #aa7821;
    margin-bottom: 0;
  }
}

/*------------ Button action -------------*/
.btn-action {
  display: inline-block;
  width: 100%;

 
}
.btn-nhanqua{
  img{
    width: 200px;
  }
}
.btn-xacnhan{
  img{
    width: 200px;
  }
}
.btn-common-fill {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #F1B3CD 0%, #F2A0BE 51.56%, #EA90B3 100%);
  padding: 0 32px;
  color: white;
  text-align: center;
  transition: all .3s ease-in-out;
  color: white;
  height: 42px;
  line-height: 24px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 28px;
  text-transform: uppercase;
  width: fit-content;
}

/*------------ End Button action -------------*/

.box-present {
  text-align: center;
  width: 100%;

  h1 {
    margin-top: 15px;
  }
}

.img-gift {
  width: 120px;
  margin: 0 auto;
  display: block;
}

.box-game {
  margin-top: 60px;
}

.gift-box {
  max-width: 700px;

  img {
    width: 100%;
    height: 100%;
  }
}

.info-box {
  padding: 20px;
  background-color: transparent;
}

.box-text {
  margin-top: 60px;
  color: #ED288A;
  text-align: left;

  ul {
    font-size: 32px;
    font-weight: bold;

    li {
      font-size: 18px;
      font-weight: 500;
      &:before {
        content: "-";
        text-indent: -5px;
        margin-right: 3px;
      }
    }
  }
}
.box-check{
  .check-box{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
  }
}
input {
  width: 100%;
  height: 50px;
  padding: 6px 12px;
  border-radius: 0;
  border: 1px #ED288A solid;
  background: transparent;
  color: #848383;
  font-size: 16px;
 &::placeholder{
  color: #848383;
 }
}

/*------------ Custom select box -------------*/
.custom-select {
  height: 50px;
  border-radius: 28px;
  position: relative;
  padding: 0;
  background: white;
  display: flex;
  align-items: center;
  border-color: inherit;
  background: transparent;
  border: 1px #ED288A solid;
  font-size: 16px;
  color: #848383;
}

.select-items {
  overflow-y: auto !important;
  // max-height: 250px;
}

.custom-select select {
  display: none;
  /*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: 0.255em;
  content: "\e64b";
  font-family: 'themify';
  top: 15px;
  right: 25px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  padding: 8px 16px;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 16px;
}

.select-selected {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
  color: #848383;
}

/* Style items (options): */
.select-items {
  padding: 15px 0;
  overflow: hidden;
  width: 100%;
  position: absolute;
  background-color: #FCEEF2;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 99;
  box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.09);
  border-radius: 18px;
  max-height: 350px;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: #f2d5e1;
}

.input-custom:checked+.label-custom::before {
  color: white;
  background-color: #2A6BBC;
  border: 1px solid #2A6BBC;
}

.label {
  font-size: 14px;
}

label {
  color: #ED288A;
  font-size: 16px;
  font-weight: 500;
}

.box-info {
  text-align: left;
}

.pattern {
  position: absolute;

  img {
    width: 100%;
    height: 100%;
  }

  z-index: -1;
}



input,
label {
  cursor: pointer;
}

// <====================CHECK BOX=============================>
.box-check {
  display: flex;
  margin-top: 20px;
  align-items: center;

  .check-box {
    margin-bottom: 0;
  }
}

.input-checkbox {
  margin-right: 8px;
  display: flex;
  appearance: none;
  background: w;
  height: 24px;
  width: 24px;
  border-radius: 20%;
  box-shadow:
    0 2px 2px 1px fade(white, 20) inset,
    0 1px 1px 1px fade(white, 20);

  &::after {
    content: '✔';
    font-size: 16;
    margin: auto;
  }

  &:not(:checked)::after {
    color: transparent;
    text-shadow: 0 0 0 transparent;
    transition: color 200ms ease-out, text-shadow 150ms ease-out 25ms;
  }

  &:checked::after {
    color: #ED288A;
    text-shadow: 2px 3px 2px fade(black, 20);
    transition: color 200ms ease-in, text-shadow 150ms ease-in 25ms;
  }
}
.info-box{
  input {
    margin-bottom: 15px;
  }
  .custom-select{
    margin-bottom: 15px;
  }

}
.input-checkbox{
  margin-bottom: 0  !important;
}
@media only screen and (max-width: 767px) {
  .step-3{
    padding: 50px 20px 160px 20px;
  }
}