@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;500;600;700;800&display=swap");
.pt-50 {
  padding-top: 50px; }

.pb-50 {
  padding-bottom: 50px; }

.time {
  font-size: 14px;
  color: #404040; }

.item-news {
  background: #FFFFFF;
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  margin-bottom: 40px; }

.none-overflow {
  overflow: initial; }

.time-date-share .time-date {
  text-align: left;
  display: flex;
  align-items: center; }
  .time-date-share .time-date span {
    font-size: 15px; }

.sticky-box {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 30px 20px;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 110px; }
  .sticky-box h5 {
    margin-bottom: 15px; }
  .sticky-box ul {
    margin-left: 20px;
    margin-bottom: 0; }
    .sticky-box ul li {
      margin-bottom: 10px; }
      .sticky-box ul li.li-sub {
        list-style: none;
        padding-left: 20px; }
        .sticky-box ul li.li-sub a {
          opacity: 0.8;
          font-size: 14px; }

.title-header {
  text-align: center; }
  .title-header h1 {
    font-size: 56px; }

.line-item {
  width: 100%;
  height: 1px;
  border: #E5E5E5 1px solid;
  margin: 15px 0; }

.item {
  padding: 15px; }

.slide-center {
  margin-left: -15px;
  margin-right: -15px; }

.owl-nav button:focus {
  outline: transparent; }
.owl-nav button span {
  display: none; }

.soul-header {
  display: flex; }

.owl-dots {
  display: none; }

.tags-news span {
  text-align: left;
  color: inherit; }
.tags-news a {
  color: #2580ff;
  border: 1px solid #2580ff;
  border-radius: 2px;
  padding: 0 12px;
  font-weight: normal;
  font-size: 13px;
  margin: 3px 5px;
  display: inline-block; }

.detail-left span {
  color: #6A6A6A;
  text-align: center;
  margin: 10px 0;
  width: 100%; }
.detail-left .thumnaisl-avatar .header-img {
  padding-bottom: 20px; }

.register-mail .box-mail {
  display: flex; }
  .register-mail .box-mail input {
    border-radius: 2px 0 0 2px;
    height: 50px; }
  .register-mail .box-mail .btn-common {
    height: 50px;
    border-radius: 0 2px 2px 0; }
.register-mail .soul-mail {
  padding: 30px 120px; }

.soul-policy {
  max-width: 900px;
  margin: auto; }
  .soul-policy p {
    color: #404040;
    margin-bottom: 20px;
    line-height: 26px; }

.body-blog .title-news {
  font-weight: 700 !important; }

.blog-catcuri .row {
  align-items: center; }

.page-news .share-link img {
  margin-bottom: 0 !important;
  height: 22px; }
.page-news .soul-detail-blog img {
  margin-bottom: 30px;
  border-radius: 2px; }
.page-news .item-news {
  margin-bottom: 0; }
.page-news .soul-detail-blog {
  padding-top: 70px; }
.page-news .breadcrumbs {
  top: 80px; }
.page-news .share-link {
  margin-left: 5px; }
.page-news h2 {
  font-size: 24px; }
.page-news h3 {
  font-size: 20px; }
.page-news .detail-left h2 {
  margin: 30px 0; }

.none-border {
  border: 0 !important; }

.body-search .box-text {
  margin-bottom: 30px;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 20px; }
.body-search h6 {
  color: #404040; }
.body-search span {
  color: #404040; }
.body-search .page-search p {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 15px; }

.page-404 p {
  text-align: center;
  font-size: 150px;
  font-weight: 800;
  margin: 120px 0 80px;
  color: #022897; }
.page-404 .soul-404 {
  text-align: center; }
.page-404 .btn-link-center {
  width: inherit; }
.page-404 h6 {
  font-weight: 400 !important; }

.information-email {
  padding: 50px 45px !important; }
  .information-email .title-info-email {
    text-align: center; }
    .information-email .title-info-email p {
      margin: 25px 0px 50px;
      font-size: 16px;
      font-weight: 400;
      text-align: center; }
  .information-email .select-selected.active {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; }

.box-contact-page {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 25px 20px;
  height: 620px; }

.info-contact {
  text-align: center;
  padding: 30px 40px; }
  .info-contact h4 {
    font-size: 18px;
    font-weight: normal !important;
    margin: 25px 0 20px; }
  .info-contact .hotline-contact {
    display: inline-block;
    width: 100%;
    font-size: 28px;
    font-weight: 600;
    color: #022897; }
  .info-contact span {
    font-size: 16px; }
  .info-contact .email {
    margin-top: 8px; }

.video-about-us {
  padding-bottom: 30px;
  background-size: cover !important;
  height: 100%;
  display: flex;
  align-items: center; }
  .video-about-us .video-cans {
    margin: 30px 0;
    display: inline-block;
    width: 100%;
    position: relative;
    background-size: contain !important;
    height: 650px;
    cursor: pointer; }
  .video-about-us p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: white; }

.title-section h2::before {
  display: none !important; }

/* head-pagedetail */
.head-pagedetail {
  padding-bottom: 50px; }
  .head-pagedetail p span {
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    color: #3D5278; }

.ss-vision {
  padding-bottom: 50px; }
  .ss-vision .vision .title-section {
    justify-content: flex-start; }
  .ss-vision .vision .row {
    align-items: center; }
  .ss-vision .vision:nth-child(odd) .box-text {
    color: #1A202C;
    opacity: .71; }
  .ss-vision .vision:nth-child(even) .box-text {
    color: #1A202C;
    opacity: .71; }
  .ss-vision .vision:nth-child(even) .row {
    flex-direction: row-reverse; }

.ss-working {
  background: #F6F7F9; }
  .ss-working .working {
    padding-top: 30px;
    padding-bottom: 50px; }
  .ss-working .title-section p {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 45px;
    line-height: 63px;
    color: #1A202C; }
  .ss-working .title-section h2::before {
    width: 100%;
    background-size: contain !important;
    background: url(../images/line3.svg) no-repeat center top;
    content: '';
    display: inline-block;
    height: 16px;
    left: 0;
    top: 65px; }
  .ss-working .box-item {
    text-align: center;
    padding: 0 30px; }
    .ss-working .box-item .box-text {
      margin-top: 30px; }
  .ss-working .img-item {
    height: 222px;
    max-width: 100%; }
  .ss-working h4 {
    margin-bottom: 10px;
    text-align: left;
    font-size: 24px;
    color: #022897;
    font-weight: 700 !important; }
  .ss-working p {
    font-weight: 400; }

.aboutus .doitac {
  padding-top: 50px; }

/*=========== phan trang================*/
.pagging-page {
  width: 100%; }
  .pagging-page .pagination {
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; }
  .pagging-page ul li a,
  .pagging-page ul li span {
    width: 32px;
    height: 32px;
    margin: 0 10px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: #1A202C;
    padding: 5px; }
    .pagging-page ul li a.active,
    .pagging-page ul li span.active {
      border: 1px solid #022897 !important;
      color: #022897;
      background-color: white;
      padding-top: 3px; }
  .pagging-page ul li:hover a {
    color: #022897; }

.body-search .btn-action-head, .body-404 .btn-action-head, .body-contact .btn-action-head, .body-policy .btn-action-head {
  display: none; }

/*# sourceMappingURL=hai.css.map */
