@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;500;600;700;800&display=swap');

$brand:#022897;
$brand2:#2580ff;
$brand3:#fc955c;
$text:#1A202C;
$text-alpha:#404040;
$border:#E5E5E5;
$background-gray:#F6F7F9;

.pt-50 {
	padding-top: 50px;
}
.pb-50 {
    padding-bottom: 50px;
}

.time{
    font-size: 14px;
    color: $text-alpha;
}

.item-news{
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    margin-bottom: 40px;
   
}
.none-overflow {
    overflow: initial;
}
.time-date-share .time-date{
    text-align: left;
    display: flex;
    align-items: center;
    span{
        font-size: 15px;
    }
}
.sticky-box{
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 30px 20px;
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 110px;
    h5{
        margin-bottom: 15px;
    }
    ul{
        margin-left: 20px;
        margin-bottom: 0;
        li{
            margin-bottom: 10px;
            
            &.li-sub{
                list-style: none;
                padding-left: 20px;
                a{
                    opacity: 0.8;
                    font-size: 14px;
                }
                
            }
        }
    }
 
}
.title-header{
    text-align: center;
    h1{
        font-size: 56px;
    }
}
.line-item{
    width: 100%;
    height: 1px;
    border: $border 1px solid;
    margin: 15px 0;
}
.item{
    padding: 15px;
}
.slide-center{
    margin-left: -15px;
    margin-right: -15px;
}
.owl-nav{
    button{
      &:focus{
        outline: transparent;
      }
      span{
        display: none;
      }
    }
  }
.soul-header{
    display: flex;
}
.owl-dots{
    display: none;
}

.tags-news{
	span{
		text-align: left;
		color: inherit;
	}
	a{
		color: $brand2;
		border: 1px solid $brand2;
		border-radius: 2px;
		padding: 0 12px;
		font-weight: normal;
		font-size: 13px;
		margin: 3px 5px;
		display: inline-block;
	}
}
.detail-left{
    span {
    color: #6A6A6A;
    text-align: center;
    margin: 10px 0;
    width: 100%;
    }
    .thumnaisl-avatar{
        .header-img{
            padding-bottom: 20px;
        }
    }
}

.register-mail{
    .box-mail{
        display: flex;
        input{
            border-radius: 2px 0 0 2px;
            height: 50px;
        }
        .btn-common{
            height: 50px;
            border-radius: 0 2px 2px 0;
        }
    }
    .soul-mail{
        padding: 30px 120px;
    }
}


//<================PAGE POLICY==============>
.soul-policy{
    max-width: 900px;
    margin: auto;
    p{
        color: $text-alpha;
        margin-bottom: 20px;
        line-height: 26px;
    }
}
//<================PAGE BLOGS==============>
.body-blog{
    .title-news{
        font-weight: 700 !important;
    }
}
//<================PAGE BLOGS DETAIL==============>

.blog-catcuri{
    .row{
        align-items: center;
    }
}
.page-news{
    .share-link{
        img{
            margin-bottom: 0 !important;
            height: 22px;
        }
    }
   .soul-detail-blog{
    img{
       margin-bottom: 30px;
       border-radius: 2px;
    }
   }
    .item-news{
        margin-bottom: 0;
    }
    .soul-detail-blog{
        padding-top: 70px;
    }
    .breadcrumbs{
        top: 80px;
    }
    .share-link{
        margin-left: 5px;
    }
    h2{
        font-size: 24px;
    }
    h3{
        font-size: 20px;
    }
    .detail-left{
        h2{
            margin: 30px 0;
        }
    }
}

//<================PAGE SEARCH==============>
.none-border{
    border: 0 !important;
}
.body-search{
    .box-text{
        margin-bottom: 30px;
        border-bottom: 1px solid $border;
        padding-bottom: 20px;
       
    }
    h6{
        color: $text-alpha;
    }
    span{
        color: $text-alpha;
    }
    .page-search{
        p{
            font-size: 32px;
            font-weight: 700;
            padding-bottom: 15px;
        }
    }
}
//<================PAGE 404==============>
.page-404{
    p{
        text-align: center;
        font-size: 150px;
        font-weight: 800;
        margin: 120px 0 80px;
        color: $brand;
    }
    .soul-404{
        text-align: center;
    }
    .btn-link-center{
        width: inherit;
    }
    h6{
        font-weight: 400 !important;
    }
}
//<================PAGE CONTACT==============>
.information-email{
    padding: 50px 45px !important;
    .title-info-email{
        text-align: center;
        p{
            margin: 25px 0px 50px;
            font-size: 16px;
            font-weight: 400;
            text-align: center;
        }
    }
    .select-selected.active{
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}
.box-contact-page{
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 25px 20px;
    height: 620px;
}
.info-contact{
    text-align: center;
    padding: 30px 40px;
    h4{
        font-size: 18px;
        font-weight: normal !important;
        margin: 25px 0 20px;
    }
    .hotline-contact{
        display: inline-block;
        width: 100%;
        font-size: 28px;
        font-weight: 600;
        color: $brand;
    }
    span{
        font-size: 16px;
    }
    .email{
        margin-top: 8px;
    }
}
//<================PAGE ABOUT US==============>
.video-about-us{
        padding-bottom: 30px;
        
        background-size: cover !important;
        height: 100%;
        display: flex;
        align-items: center;
    .video-cans{
        margin: 30px 0;
        
        display: inline-block;
        width: 100%;
        position: relative;
        background-size: contain !important;
        height: 650px;
        cursor: pointer;
    }
    p{
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: white;
    }
}
.title-section{
    h2{
        &::before{
            display: none !important;
        }
    }
}
/* head-pagedetail */
.head-pagedetail{
    padding-bottom: 50px;
p{
    span{
        font-weight: 700;
        font-size: 20px;
        line-height: 38px;
        color: #3D5278;
    }
}
}
//<================VISION==============>
.ss-vision{
    padding-bottom: 50px;
    .vision{
        .title-section{
            justify-content: flex-start;
            
        }
        .row{
            align-items: center;
        }
        &:nth-child(odd){
            .box-text{
                color: #1A202C;
                opacity: .71;
            }
        }
        &:nth-child(even){
            .box-text{
                color: #1A202C;
                opacity: .71;
            }
            .row{
                flex-direction: row-reverse;
            }
        }
    }
}

//<================SECTION Working==============> -->
.ss-working{
    background: $background-gray;
    .working{
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .title-section{
        p{
            margin-bottom: 0;
            font-weight: 700;
            font-size: 45px;
            line-height: 63px;
            color: #1A202C;
        }
        h2{
            &::before{
                width: 100%;
                background-size: contain !important;
                background: url(../images/line3.svg) no-repeat center top;
                content: '';
                display: inline-block;
                height: 16px;
                left: 0;
                top: 65px;
            }
        }
    }
    .box-item{
        text-align: center;
        padding: 0 30px;
        .box-text{
            margin-top: 30px;
        }
    }
    .img-item{
        height: 222px;
        max-width: 100%;
    }
    h4{
        margin-bottom: 10px;
        text-align: left;
        font-size: 24px;
        color: $brand;
        font-weight: 700 !important;
    }
    p{
        font-weight: 400;
        
    }
}
.aboutus{
    .doitac{
        padding-top: 50px;
    }
}

/*=========== phan trang================*/
.pagging-page {
	width: 100%;
	.pagination {
		margin-top: 15px;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
	}
	ul {
		li {
			a,
			span {
				width: 32px;
				height: 32px;
				margin: 0 10px;
				text-align: center;
				font-size: 14px;
				display: inline-block;
				text-decoration: none;
				color: $text;
				padding: 5px;

				&.active {
					border: 1px solid $brand  !important;
					color: $brand;
					background-color: white;
					padding-top: 3px;
				}
			}
			&:hover {
				a {
					color: $brand;
				}
			}
		}
	}
}
.body-search, .body-404, .body-contact, .body-policy{
    .btn-action-head{
        display: none;
    }
}
