@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;500;600;700;800&display=swap");
.fb_iframe_widget_fluid span {
  width: 100% !important;
  overflow: hidden;
  height: 130px; }

footer .fb-page {
  height: 130px; }

.img-bg-footer {
  display: none; }

@media only screen and (max-width: 1110px) {
  h1 {
    font-size: 45px !important; }

  h2 {
    font-size: 28px !important; }

  h3 {
    font-size: 20px !important; }

  h4 {
    font-size: 18px !important; }

  h5 {
    font-size: 16px !important; }

  .section-lms .box-shadow .item-tinhnang {
    padding-left: 50px; }
    .section-lms .box-shadow .item-tinhnang img {
      width: 50px; }
    .section-lms .box-shadow .item-tinhnang h4 {
      padding-right: 0; }

  .contact-section .content-form h2 {
    font-size: 32px; }

  .contact-section .box-contact .avar {
    display: none; }

  .nhanxet .img-slider p {
    max-width: 700px;
    float: none; }
  .nhanxet .img-slider .box-review h3 {
    max-width: 80%;
    -webkit-line-clamp: 4000; }

  .ss-working h4 {
    min-height: 50px; }

  .owl-prev {
    left: 0; }

  .owl-next {
    right: 0; } }
@media only screen and (max-width: 950px) {
  .menu-mobile {
    display: block;
    position: fixed;
    top: 15px;
    right: 15px;
    font-size: 24px;
    color: #022897; }

  .show-menu .menu-mobile i.ti-close {
    display: block !important; }
  .show-menu .menu-mobile i.ti-menu {
    display: none !important; }
  .show-menu nav {
    display: inline-block !important; }

  nav {
    position: fixed;
    left: 0;
    top: 54px;
    width: 100%;
    height: 100%;
    background: white;
    box-shadow: inset 17px -14px 20px 0px rgba(0, 0, 0, 0.04);
    border-top: 0;
    padding: 0 !important;
    scroll-behavior: smooth;
    transition: all 0.2s ease-in-out; }
    nav ul {
      display: inline-block !important;
      width: 100%; }
      nav ul li {
        width: 100%; }
        nav ul li a {
          width: 100%;
          display: inline-block;
          font-size: 16px !important; }
        nav ul li:hover .sub-menu {
          position: relative;
          top: 10px !important;
          width: 100% !important;
          box-shadow: none;
          border-radius: 0;
          background: #046e4508;
          transition: unset; }

  .content-head {
    padding-right: 35px; }
    .content-head ul {
      transition: unset !important; }
      .content-head ul li {
        margin: 10px 0; }
        .content-head ul li a::before {
          right: 30px !important; }
        .content-head ul li ul li {
          margin: 3px 0; }

  header .content-head nav {
    display: none; }

  .nhanxet .img-slider p {
    max-width: 500px; }

  .contact-section .form-contact {
    max-width: 100%; }
    .contact-section .form-contact.box-contact {
      display: inherit; }

  .nhanxet {
    padding-bottom: 60px !important; }
    .nhanxet .ss-result .owl-next {
      left: 25%; }

  .bg-line-add-on {
    opacity: 0; }

  .thanhtuu .col-right-number h2 {
    font-size: 64px !important; }

  .page-news .soul-detail-blog .col-md-9, .page-news .soul-detail-blog .col-md-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }
  .page-news .title-header {
    text-align: left; }
  .page-news .sticky-box {
    margin-top: 30px; }

  .register-mail {
    padding-top: 10px; }
    .register-mail .row {
      align-items: center; }
    .register-mail .soul-mail {
      padding: 30px 20px; }
      .register-mail .soul-mail h2 {
        margin-bottom: 0; }

  .thanhtuu .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .tinhnang-catcuri .row {
    padding: 0 20px; }
  .tinhnang-catcuri .tinh-nang-co-ban {
    margin-bottom: 10px;
    margin-top: -50px; }
  .tinhnang-catcuri .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .giaiphap .item-giaiphap {
    height: 100%; }
    .giaiphap .item-giaiphap .box-giaiphap .content-giaiphap {
      padding: 0 40px; }
      .giaiphap .item-giaiphap .box-giaiphap .content-giaiphap p {
        margin-left: 0 !important; }
    .giaiphap .item-giaiphap .btn-common {
      float: none !important; }

  .head-slider .info-head {
    padding-left: 20px !important; }

  .logo-content-home {
    max-width: 100%; }

  .ss-working .box-item {
    padding: 0 15px; }

  .box-cau-chuyen-tc h4 {
    font-size: 18px; }
  .box-cau-chuyen-tc img {
    width: 70px; }

  footer .col-md-3:first-child {
    flex: 0 0 35%;
    max-width: 35%; }
  footer .col-md-3, footer .col-md-2 {
    flex: 0 0 25%;
    max-width: 25%; }

  .social-footer {
    margin-bottom: 10px; }

  .contact-section .box-contact .avar {
    display: none; }

  .contact-section .box-contact {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center; }

  .contact-section .content-form h2 {
    font-size: 24px;
    line-height: 35px; }

  .head-slider.head-pagedetail img {
    height: 400px; }

  .owl-nav {
    display: block !important; }

  .giaiphap .item-giaiphap .box-giaiphap .content-giaiphap img {
    height: 130px; }
  .giaiphap .item-giaiphap .box-giaiphap .content-giaiphap span {
    font-size: 16px; }
  .giaiphap .item-giaiphap .box-giaiphap .content-giaiphap h2 {
    font-size: 18px   !important;
    line-height: 20px; }
  .giaiphap .item-giaiphap .box-giaiphap .content-giaiphap p {
    margin: 5px 35px 20px 35px; }

  .nhanxet .img-slider .box-review h3 {
    max-width: 69%;
    -webkit-line-clamp: 4000; }

  .contact-section .col-md-7, .contact-section .col-md-5 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px; }

  .nhanxet {
    background: #F6F7F9;
    padding-bottom: 20px; }

  .head-slider {
    display: initial; }
    .head-slider .info-head {
      width: 100%; }
    .head-slider .content-img {
      width: 100%;
      margin-bottom: 0; }

  .gioithieu-catcuri .video-cans {
    height: 420px; }

  .overlay._active iframe {
    height: 416px; }

  .thanhtuu-doanhnghiep .row {
    display: flex;
    justify-content: center; }
  .thanhtuu-doanhnghiep .col-md-3 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    flex-wrap: wrap;
    max-width: 50%; }

  .item-circle {
    top: 0 !important;
    position: relative !important;
    margin: auto !important;
    margin-bottom: 20px !important; }
    .item-circle::before {
      display: none !important; }

  .thanhtuu-doanhnghiep .list-circle {
    height: initial !important; }

  .thanhtuu-doanhnghiep .notes {
    margin-top: 30px;
    margin-bottom: 50px; }

  .tuvan-giaiphap .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .tuvan-giaiphap .content-solution-section {
    height: initial !important;
    background: #022897;
    padding: 30px 15px; }

  .tuvan-giaiphap .col-md-12 .row .col-md-6:nth-child(1) {
    display: none; }

  .tinhnang-catcuri .col-md-7, .tinhnang-catcuri .col-md-5 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 30px; }

  .contact-section .col-md-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%; }

  .box-contact-page {
    height: 100%;
    margin-bottom: 20px; }

  .info-contact {
    padding: 20px 0; }

  .information-email {
    padding: 20px 15px !important; }
    .information-email .title-info-email p {
      margin: 15px 0; } }
@media only screen and (max-width: 767px) {
  p img, a img, img {
    width: initial;
    height: initial; }

  .head-slider .info-head h4 {
    -webkit-line-clamp: inherit; }

  .thanhtuu {
    padding-top: 50px; }
    .thanhtuu .notes {
      font-size: 18px;
      line-height: 24px; }
    .thanhtuu .col-left-info-home {
      padding-right: 0; }
      .thanhtuu .col-left-info-home h2 span {
        font-size: 50px; }
    .thanhtuu .col-right-number {
      margin-top: 30px; }
      .thanhtuu .col-right-number h2 {
        font-size: 50px !important;
        padding: 0 !important;
        margin-bottom: 15px; }
      .thanhtuu .col-right-number .list-number {
        padding-right: 10px !important; }
        .thanhtuu .col-right-number .list-number p {
          -webkit-line-clamp: inherit; }

  h1 {
    font-size: 35px !important;
    line-height: 63px !important; }

  nav ul li a {
    font-size: 14px !important; }

  .btn-action-head {
    display: none; }

  .tuvan-giaiphap .content-solution-section p {
    text-align: center; }

  .contact-section .form-contact .title-form h5 {
    font-size: 16px; }

  .banquyen {
    display: inline-block  !important; }
    .banquyen img {
      margin-bottom: 10px !important; }

  .tinhnang-catcuri {
    padding-bottom: 30px; }

  .content-head {
    justify-content: center; }

  .head-slider .content-img {
    padding: 0 15px !important; }
  .head-slider.head-pagedetail .title-section-text {
    min-height: auto; }
  .head-slider .info-head {
    padding: 10px 15px 0 15px !important; }
    .head-slider .info-head p {
      margin-top: 40px;
      font-size: 18px;
      line-height: 32px;
      margin: 5px 35px 15px 0; }

  .title-section-text h1::before {
    width: 230px;
    height: 16px;
    top: 42px; }

  .desrep {
    padding: 0 20px; }

  .gioithieu-catcuri .video-cans {
    height: 190px;
    margin: 10px 0; }

  .overlay._active iframe {
    height: 216px; }

  h2 {
    line-height: 30px !important;
    font-size: 24px !important; }

  .thanhtuu-doanhnghiep .col-md-3 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    flex-wrap: wrap;
    max-width: 100%; }

  .aboutus .ss-vision .col-md-6 .img-item {
    height: 222px; }

  .ss-working .working {
    padding-bottom: 0; }
  .ss-working h4 {
    min-height: auto;
    margin-bottom: 10px;
    font-size: 20px !important; }

  .box-cau-chuyen-tc {
    margin-bottom: 25px; }

  .tuvan-giaiphap .col-md-12 {
    display: none; }
  .tuvan-giaiphap .content-solution-section {
    padding: 30px 0px;
    position: relative; }
    .tuvan-giaiphap .content-solution-section h2 {
      padding: 0 !important;
      line-height: 48px !important; }

  .title-section h2 {
    width: 100%;
    display: inline-block; }

  .head-slider {
    text-align: center; }
    .head-slider .info-head p {
      -webkit-line-clamp: 3000; }
    .head-slider .btn-common, .head-slider .btn-head {
      margin: auto; }

  .gioithieu-catcuri .title-section {
    text-align: center; }
    .gioithieu-catcuri .title-section p {
      padding: 0; }
    .gioithieu-catcuri .title-section img {
      height: 22px; }

  .title-section {
    margin: 0 auto 20px auto; }

  .title-section-text {
    text-align: left; }

  .info-head h4 {
    margin: 15px 0 35px 0 !important; }

  .tuvan-giaiphap .content-solution-section h2::after {
    left: 60px;
    top: 40px; }

  .tuvan-giaiphap .content-solution-section a {
    margin: auto; }

  .title-section h2 {
    text-align: center; }
    .title-section h2::before {
      width: 140px;
      height: 16px;
      left: 25%;
      top: 27px;
      position: absolute; }

  .logo-content-home img {
    height: 95px; }

  .item-tinhnang {
    margin-bottom: 15px; }

  .thanhtuu .col-right-number .list-number:nth-child(1), .thanhtuu .col-right-number .list-number:nth-child(3) {
    padding-left: 10px; }

  .why-choose-us {
    padding-bottom: 20px; }
    .why-choose-us .row {
      margin-top: 10px; }
    .why-choose-us .item-tinhnang {
      margin-bottom: 15px; }

  .ss-working.ss-van-de-dn .owl-prev {
    left: -15px; }
  .ss-working.ss-van-de-dn .owl-netx {
    right: -15px; }

  .tinhnang-catcuri .tinh-nang-co-ban {
    margin-top: -55px; }
  .tinhnang-catcuri .item-tinhnang {
    padding-left: 45px;
    padding-right: 0; }
    .tinhnang-catcuri .item-tinhnang img {
      width: 50px; }
  .tinhnang-catcuri .row {
    padding: 0; }
  .tinhnang-catcuri h2 img {
    display: inline-block;
    height: 22px;
    margin-top: 20px;
    clear: both;
    margin-bottom: 30px; }
  .tinhnang-catcuri .content-tinhnang .item-tinhnang .detail h4 {
    font-size: 16px;
    margin-bottom: 10px; }

  .giaiphap {
    padding-bottom: 10px; }
    .giaiphap .item-giaiphap {
      margin-bottom: 30px;
      height: auto; }
      .giaiphap .item-giaiphap .box-giaiphap .content-giaiphap {
        padding: 0 20px; }
    .giaiphap h2 img {
      height: 22px !important;
      margin-top: 15px !important; }
    .giaiphap .item-giaiphap .box-giaiphap .content-giaiphap span {
      font-size: 16px;
      font-weight: 400;
      line-height: 31px; }
    .giaiphap .item-giaiphap .box-giaiphap .content-giaiphap h4 {
      font-size: 20px; }

  .aboutus .doitac {
    padding-bottom: 0; }
  .aboutus .contact-section {
    margin-top: -40px; }

  .doitac {
    padding-bottom: 30px; }
    .doitac h2 img {
      height: 22px !important;
      margin-top: 15px !important; }

  .logo-content-home {
    max-width: 100%; }

  .box-review {
    display: inline-block;
    width: 100%; }

  .nhanxet {
    padding-bottom: 50px; }
    .nhanxet .item {
      padding: 0; }
    .nhanxet .img-slider p {
      -webkit-line-clamp: inherit;
      font-size: 16px;
      padding-left: 0;
      text-align: justify; }
    .nhanxet .img-slider .box-review img {
      height: 25px;
      margin-top: 10px; }
    .nhanxet .img-slider .box-information {
      display: flex; }
      .nhanxet .img-slider .box-information .slider-infor {
        margin-left: 10px; }
      .nhanxet .img-slider .box-information .slider-img {
        width: 90px;
        height: 90px; }
    .nhanxet .img-slider .box-review img {
      padding-left: 0; }
    .nhanxet .img-slider .box-review h3 {
      max-width: 100%;
      font-size: 16px;
      -webkit-line-clamp: 4000;
      line-height: 27px !important; }
    .nhanxet .owl-nav button {
      top: initial !important;
      bottom: -30px !important;
      left: initial !important; }
      .nhanxet .owl-nav button:nth-child(1) {
        left: 0px !important; }
      .nhanxet .owl-nav button:nth-child(2) {
        left: 50px !important; }

  .contact-section {
    padding: 20px 0; }
    .contact-section .box-contact .form-contact {
      margin-left: 0; }

  .video-about-us p {
    margin: 0 0px !important; }

  .ss-vision .vision .title-section h2::before {
    top: 35px; }

  .title-section h2 img {
    height: 24px !important; }

  footer {
    padding: 50px 0 30px 0; }
    footer .content-footer .banquyen {
      margin-bottom: 0; }
    footer .content-footer .title-footer {
      font-size: 13px; }
    footer .content-footer ul {
      margin-bottom: 0; }
      footer .content-footer ul li a {
        font-size: 13px; }
    footer .col-md-3 {
      flex: 0 0 100% !important;
      max-width: 100% !important; }
    footer .col-md-2 {
      flex: 0 0 33% !important;
      max-width: 33% !important;
      padding-right: 0; }

  .ss-working .box-item {
    padding: 0 10px; }

  .img-bg-footer {
    display: none; }

  .section-lms .box-shadow .item-tinhnang h4 {
    min-height: 50px; }
  .section-lms .box-shadow .item-tinhnang p {
    margin-left: -60px; }

  .box-bg-add-on {
    padding-bottom: 10px; }

  .box-add-on {
    position: inherit;
    top: 0; }
    .box-add-on .box-cau-chuyen-tc {
      padding: 38px 15px 10px 10px;
      margin-bottom: 15px; }
      .box-add-on .box-cau-chuyen-tc h4 {
        margin-bottom: 30px; }
      .box-add-on .box-cau-chuyen-tc div {
        padding-right: 0; }
      .box-add-on .box-cau-chuyen-tc .flex-center {
        padding-right: 0; }
      .box-add-on .box-cau-chuyen-tc p {
        -webkit-line-clamp: inherit;
        margin-left: -70px; }
      .box-add-on .box-cau-chuyen-tc img {
        width: 70px; }

  .news-lien-quan .slide-center {
    margin-top: 0; }

  .register-mail .soul-mail {
    padding: 20px; }
    .register-mail .soul-mail h2 {
      margin-bottom: 10px;
      font-size: 16px !important; }

  .soul-detail {
    margin-top: 20px; }
    .soul-detail h1 {
      line-height: 40px !important; }

  .pagging-page {
    margin-bottom: 0; }
    .pagging-page ul li a, .pagging-page ul li span {
      margin: 0 4px; }

  .item-news {
    margin-bottom: 20px; }

  .body-blog .blog-catcuri {
    padding-bottom: 10px; }
  .body-blog .section-list-news {
    padding-top: 10px; }
  .body-blog .infor-news {
    text-align: justify; }

  .body-search .pagging-page {
    margin-top: 0; }
  .body-search .page-search p {
    font-size: 24px;
    line-height: 34px; }

  .body-client-story .head-slider.head-pagedetail img, .body-blog .head-slider.head-pagedetail img, .body-academy .head-slider.head-pagedetail img, .body-policy .head-slider.head-pagedetail img, .body-search .head-slider.head-pagedetail img {
    height: 250px; }

  .tinhnang-catcuri .tinh-nang-nang-cao .item-tinhnang .detail h5 {
    line-height: 55px; }
  .tinhnang-catcuri .tinh-nang-nang-cao .item-tinhnang .detail p {
    margin-left: -60px; }

  .ss-working .box-item p, .box-cau-chuyen-tc p, .item-news .title-news {
    -webkit-line-clamp: initial; }

  .content-title-news {
    margin-bottom: 20px; }

  .thanhtuu {
    padding-bottom: 20px; }
    .thanhtuu .col-right-number .list-number {
      width: 100%;
      height: auto;
      padding-left: 0 !important; } }
@media only screen and (max-width: 320px) {
  h1 {
    font-size: 26px !important; }

  h2 {
    font-size: 20px !important; }

  h3 {
    font-size: 18px !important; }

  h4 {
    font-size: 16px !important; }

  h5 {
    font-size: 14px !important; }

  .tuvan-giaiphap .content-solution-section p {
    text-align: left; }

  .item-tinhnang {
    padding-right: 0; }

  .tinh-nang-nang-cao .item-tinhnang .detail h5 {
    line-height: initial !important;
    margin-bottom: 40px; }

  .logo-content-home img {
    height: 80px; }

  .gioithieu-catcuri .title-section p {
    padding: 0;
    font-size: 16px; }

  .tinhnang-catcuri .tinh-nang-nang-cao {
    padding: 25px 5px 25px 15px; } }

/*# sourceMappingURL=responsive.css.map */
