@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;500;600;700;800&display=swap');

$brand:#022897;
$brand2:#2580ff;
$brand3:#fc955c;
$text:#1A202C;
$text-alpha:#404040;
$border:#E5E5E5;
$background-gray:#F6F7F9;
@import 'hai';
.container{
	max-width: 1200px;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: $text;
	font-weight: 400;
	padding: 0;
	margin: 0;
	width: 100%;
	line-height: 22px;
}
a {
	text-decoration: none;
	color: $text;
	outline: none;
	-webkit-transition: color .3s ease;
	transition: color 0.3s ease;

	&:hover {
		text-decoration: none;
		color: $brand;
		
	}
}
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	text-decoration: none;
}

img {
	max-width: 100%;
}

button {
	outline: none;
}

.text-tranform {
	text-transform: uppercase;
}
.text-main{
	color: $brand;
}
.text-al-pha{
	color: $text-alpha;
}
.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
@mixin webkit-line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.bg-gray{
	background-color: #F6F7F9;
}
h1 {
	font-size: 60px;
	font-weight: 700  !important;
}

h2 {
	font-size: 35px;
	font-weight: 700  !important;
}

h3 {
	font-size: 24px;
	font-weight: 700  !important;
}

h4 {
	font-size: 20px;
	font-weight: 700  !important;
}

h5 {
	font-size: 18px;
	font-weight: 700  !important;
}

h6 {
	font-size: 16px;
	font-weight: 700  !important;
}

p {
	font-size: 16px;
	text-align: justify;
}

b,
span,
label {
	font-size: 13px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-30 {
	margin-top: 30px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-50 {
	margin-top: 50px;
}

.mt-60 {
	margin-top: 60px;
}

.mt-70 {
	margin-top: 70px;
}
.mb-0{
	margin-bottom: 0;
}
.mb-10 {
	margin-bottom: 10px;
}

.mb-20 {
	margin-bottom: 20px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mb-60 {
	margin-bottom: 60px;
}

.mb-70 {
	margin-bottom: 70px;
}

.m10 {
	margin: 10px;
}

.m15 {
	margin: 15px;
}

.m20 {
	margin: 20px;
}

.m25 {
	margin: 25px;
}

.m30 {
	margin: 30px;
}

.m35 {
	margin: 35px;
}

.m40 {
	margin: 40px;
}

.m45 {
	margin: 45px;
}

.m50 {
	margin: 50px;
}

.m55 {
	margin: 55px;
}

.m60 {
	margin: 60px;
}

.m65 {
	margin: 65px;
}

.m70 {
	margin: 70px;
}

.ml-0 {
	margin-left: 0;
}

.mr-0 {
	margin-right: 0;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.p10 {
	padding: 10px;
}

.p15 {
	padding: 15px;
}

.p20 {
	padding: 20px;
}

.p25 {
	padding: 25px;
}

.p30 {
	padding: 30px;
}

.p35 {
	padding: 35px;
}

.p40 {
	padding: 40px;
}

.p45 {
	padding: 45px;
}

.p50 {
	padding: 50px;
}

.pl-pr-50 {
	padding: 0 50px;
}

.p55 {
	padding: 55px;
}

.p60 {
	padding: 60px;
}

.p65 {
	padding: 65px;
}

.p70 {
	padding: 70px;
}

.pl-0 {
	padding-left: 0;
}

.pr-0 {
	padding-right: 0;
}

.pt-0 {
	padding-top: 0;
}
.pt-40 {
	padding-top: 40px;
}
.pb-70 {
	padding-bottom: 70px;
}
.pl-70{
	padding-left: 70px;
}
.pb-0 {
	padding-bottom: 0;
}
.p0{
	padding: 0;
}

.btn.focus,
.btn:focus {
	outline: 0;
	box-shadow: none;
}

section {
	float: left;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	padding: 50px 0;
}

input,
textarea {
	&:focus {
		border-color: $brand  !important;
		outline: none;
		box-shadow: none !important;
	}
}
.breadcrumbs{
	position: absolute;
	top: 15px;
	color: #8692A6;
	a, i{
		font-weight: normal;
		color: #8692A6;
		font-size: 13px;
	}
}

.btn-link-center {
	width: 100%;
	display: inline-block;
	text-align: center;
	
}

header{
	border-bottom: 1px solid $border;
	padding: 0;
	display: inline-block;
	width: 100%;
	position: relative;
    z-index: 9999;
}
.content-head{
	align-items: center;
	display: flex;
	justify-content: space-between;
	.logo{
		img{
			padding: 10px 0;
		}
	}
	nav{
		
		display: flex;
		align-content: center;
		-ms-flex-pack: center !important;
		-ms-flex-align: center !important;
		align-items: center !important;
		transition: all .3s ease-in-out;
		// padding: 20px 0;
		ul{
			display: flex;
			align-content: center;
			-ms-flex-pack: center !important;
			-ms-flex-align: center !important;
			align-items: center !important;
			transition: all .3s ease-in-out;
			margin-bottom: 0;
			li{
				list-style: none;
				position: relative;
				&.active {
					a{
						color: $brand;
						&::before{
							color: $brand;
						}
					}
					
				}
				a{
					color: $text;
					text-decoration: none;
					padding: 7px 15px;
					text-transform: uppercase;
					font-size: 14px;
					font-weight: 500;
					&::before{
						content: "\e64b";
						display: inline-block;
						font-family: 'themify';
						font-size: 10px;
						font-weight: 100;
						position: absolute;
						right: 0;
						top: 0;
						color: $text;
					}
					&:hover{
						color: $brand;
					
					}
					
				}
				&.no-sub{
					a{
						&::before{
							display: none;
						}
					}
				}
				ul {
					position: absolute;
					width: 220px;
					left: 0;
					top: 39px;
					opacity: 0;
					visibility: hidden;
					background: #FFFFFF;
					box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
					border-radius: 0 0 2px 2px;
					padding: 5px 15px;
					display: inline-block;
					li {
						padding: 5px 0;
						border-bottom: 1px $border;
						display: inline-block;
						width: 100%;
						a {
							text-transform: unset;
							display: inline-block;
							width: 100%;
							font-weight: normal;
							transition: all 0.3s linear;
							transition: 0.5s;
							padding: 4px 0;
							font-size: 14px;
							color: $text !important;
							&:hover{
								padding-left: 8px;
							}
							&::before {
								display: none;
							}

						}
						
					}

				}
				&:hover {
					ul {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}
}
.header-right{
	display: flex;
	align-items: center;
	nav{
		margin-right: 20px;
	}

}
.btn-xem-demo{
	background-color: $brand2 !important;
	margin-right: 10px;
}
.button-action{
	display: flex;
	margin-bottom: 20px;
	justify-content: center;
	a{
		width: 214px;
		height: 48px;
		text-align: center;
		transition: all .3s ease-in-out;
		display: inline-block;
		color: white;
		border-radius: 2px;
		font-size: 14px;
		font-weight: 400;
		margin: 0 10px;
		text-decoration: none;
		padding-top: 10px;
		img{
			margin-right: 5px;
		}
		
	}
}
.box-shadow{
	background: #FFFFFF;
	box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
	border-radius: 2px;
	padding: 25px;
	display: inline-block;
}
.menu-scroll{
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
	position: fixed;
	left: 0;
	top: 0;
	background: white;
	z-index: 9999;
	nav{
		padding: 0 !important;
	}
	.logo{
		img{
			height: inherit;
		}
	}
}

.tuvan-giaiphap{
	position: relative;
	display: inline-block;
	width: 100%;
	padding-top: 0;
	.col-md-6{
		padding: 0 !important;
	}
	.content-solution-section{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		.row{
			margin: 0 !important;
		}
		h2, p{
		color: white;
		position: relative;
		}
		p{
			opacity: .7;
		}
		a{
			margin-top: 30px;
			width: fit-content !important;
			background: none;
			border: 1px solid white;
			color: white;
			i{
				color: white;
			}
		}
		h2{
			line-height: 60px;
			&::after{
				width: 217px;
				background: url(../images/line-bannerhead.svg) no-repeat center top;
				content: '';
				display: inline-block;
				height: 15px;
				top: 55px;
				left: 0;
				position: absolute;
				background-size: contain;
			}
		}
	}
	img{
		width: 100%;
	}
}
.scrollbar
{
	height: 76vh;
	width: 100%;
    margin: auto;
	overflow-y: auto;
}

#wrapper
{
	text-align: center;
	width: 100%;
	margin: auto;
}
.btn-common-border {
	width: fit-content;
	background: white;
    border: 1px solid $text;
    color: $text;
	justify-content: center;
    display: flex;
	align-items: center;
	border-radius: 2px;
	padding: 15px 25px;
	transition: all .3s ease-in-out;
	height: 50px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	width: fit-content;
	i {
		margin-left: 10px;
		font-size: 16px;
	}
	img{
		margin-left: 10px;
		font-size: 16px;
	}

	&:hover {
		opacity: 0.9;
		color: $text;
	}
}
.btn-common {
	justify-content: center;
    display: inline-flex;	
	align-items: center;
	background: $brand;
	border-radius: 2px;
	padding: 0 25px;
	color: white;
	transition: all .3s ease-in-out;
	height: 42px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 19px;
	width: fit-content;
	i {
		margin-left: 8px;
		font-size: 15px;
	}
	img{
		margin-left: 8px;
		width: 18px;
		height: 18px;
	}

	&:hover {
		opacity: 0.9;
		color: white;
	}

}


.btn-head{
 @extend .btn-common;
 background: $brand2 !important;
 color: white;
	&:hover{
		opacity: 0.9;
		color: white;
	}
}

.thumnaisl-avatar {
	a {
		position: relative;
		padding-top: 56%;
		display: block;

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			left: 0;
			top: 0;
		}
	}

}
.owl-dots{
	display: none;
}
.owl-nav{
  button{
	&:focus{
	  outline: transparent;
	}
	span{
	  display: none;
	}
  }
}

.owl-prev{
	left: -5%;
	top: 45%;
	position: absolute;
	height: 50px;
	background: url(../images/arrow-left.png) no-repeat center !important;
	background-size: contain !important;
	width: 50px;
}
.owl-next{
	right: -5%;
	top: 45%;
	position: absolute;
	height: 50px;
	background: url(../images/arrow-right.png) no-repeat center !important;
	background-size: contain !important;
	width: 50px;
}
/* check-radio-custom */

.check-radio-custom {
	margin: 15px 0;
}

.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.check-radio-custom [type="radio"]:checked+label,
.check-radio-custom [type="radio"]:not(:checked)+label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	display: inline-block;
	color: #222;
}

.check-radio-custom [type="radio"]:checked+label:before,
.check-radio-custom [type="radio"]:not(:checked)+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border: 1px solid #BFA145;
	border-radius: 100%;
	background: #fff;
}

.check-radio-custom [type="radio"]:checked+label:after,
.check-radio-custom [type="radio"]:not(:checked)+label:after {
	content: '';
	width: 12px;
	height: 12px;
	background: #BFA145;
	position: absolute;
	top: 4px;
	left: 4px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.check-radio-custom [type="radio"]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.check-radio-custom [type="radio"]:checked+label:after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.check-radio-custom p {
	margin: 10px 0;
}

/* -----------------Custom thanh srcoll-----------------*/

.scrollbar{
	height: 53vh;
	width: 100%;
	margin: auto;
	overflow-y: auto;
	padding: 0 10px;
}

#style-1::-webkit-scrollbar-track {
	border-radius: 0px;
	background-color: #cbcbcb;
}

#style-1::-webkit-scrollbar {
	width: 1.5px;
	background-color: #ededed;
}

#style-1::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: #f7f7f7;
}
::-webkit-scrollbar-track
{
 border-radius: 0px;
 background-color: #fff;
}

::-webkit-scrollbar
{
 width: 1px;
 height: 0;
 background-color: transparent;
}

::-webkit-scrollbar-thumb
{
 border-radius: 0px;
 background-color: #ffffff;
}
.logo-content-home{
	display: flex;
	max-width: 80%;
	justify-content: center;
	margin: auto;
	flex-wrap: wrap;
	img{
		height: 80px;
    margin: 0 3px;
	}
}
/* -----------------Custom select box / input -----------------*/
input,
textarea {
	border-radius: 2px;
	border: 1px solid $border;
	height: 40px;
	padding: 10px;
	background-color: white;
	width: 100%;
}

textarea {
	width: 100%;
}

.custom-select {
	position: relative;
	padding: 13px 15px;
	background: $background-gray;
	height: 48px;
	border-radius: 2px;
	border: 1px solid #E5E5E5;
}

.custom-select select {
	display: none;
	/*hide original SELECT element: */
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 10px;
	vertical-align: 0.255em;
	content: "\e64b";
	font-family: 'themify';
	color: #ABABAB;
	top: 14px;
	right: 25px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
	color: #90A3BF;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	font-size: 14px;
	// padding-top: 3px;
	// padding-left: 5px;
}
.select-selected.active{
	color: $text;
	font-size: 14px;
}
.select-items div {
	color: $text;
	padding: 10px 0;
}
/* Style items (options): */
.select-items {
	padding: 15px 12px;
	overflow: hidden;
	width: 100%;
	position: absolute;
	background-color: white;
	top: 45px;
	left: 0;
	right: 0;
	z-index: 99;
	border: 1px solid #e5e5e5;
	border-radius: 2px;
	box-shadow: -1px 1px 14px rgba(138, 139, 159, 0.15);
}



/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	color: $brand;
}

#close-menu{
	display: none;
}
.menu-mobile{
	display: none;
}

.lettak{
	display: none;
}

.desrep{
	margin-bottom: 20px;
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 26px;
    padding: 0 120px;
}
.title-section{
	font-family: 'Anek Latin', sans-serif;
	display: inline-block;
    width: 100%;
    text-align: center;
	h2{
		color: $brand;
		margin-bottom: 0;
		text-transform: uppercase;
		
	}
	span{
		img{
			height: 41px;
			margin: 0 15px;
		}
	}
}

.title-section-text{
	font-family: 'Anek Latin', sans-serif;
	h1{
		margin-bottom: 0;
		font-weight: 900;
		min-height: 145px;
		line-height: 85px;
		color: $brand;
		display: initial;
		position: relative;
		align-items: center;
		&::before{
			width: 300px;
			background: url(../images/line-bannerhead.svg) no-repeat center top;
			content: '';
			display: inline-block;
			height: 26px;
			top: 68px;
			left: 0;
			position: absolute;
			background-size: contain;
		}
		
	}
}
/* homepage */
.head-slider{
	display: flex;
	align-items: center;
	padding: 40px 0;
	position: relative;
	.info-head{
		width: 50%;
		.btn-common{
			width: fit-content;
		}
		h4{
			font-weight: normal  !important;
			text-align: justify;
			margin-top: 40px;
			font-size: 20px;
			line-height: 28px;
			color: #3D5278;
			margin: 16px 38px 35px 0;
			display: -webkit-box;
			-webkit-line-clamp: 4;
			-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}
	.content-img{
			width: 50%;
			margin-bottom: -40px;
	}
	&.head-pagedetail{
		.title-section-text{
			min-height: 95px;
		}
		img{
			height: 520px;
		}
		.title-section-text{
			h2{
				font-size: 72px;
				font-weight: 900;
				color: $brand;
			}
		}
		h4{
			margin-top: 15px;
			span{
				font-size: 20px;
				font-weight: 900 !important;
			}
		}
	}
}
.head-pagedetail{
	.content-img{
		
		margin-bottom: -0;
		text-align: center;
}
}
/* gioithieu-catcuri */

	
.overlay._active iframe {
    width: 100%;
    height: 600px;
    max-width: 1065px;
    margin: auto;
    display: flex;
    justify-content: center;
}
	.close-bg-video {
		position: absolute;
		right: -50px;
		top: -10px;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		text-align: center;
		font-weight: normal;
		border: 0;
		font-size: 20px;
		outline: none;
		z-index: 9999999;
		background-color: white;
	  }
	  .current_page_item {
		a {
		  color: $brand;
		}
	  }
	  
	  .overlay {
		width: 100%;
		margin: 0 auto;
		height: 600px;
		display: none;
	  
		&._active {
		  display: block;
		  iframe {
			width: 100%;
			height: 600px;
		  }
		}
	  }

.gioithieu-catcuri{
	background: $brand;
	padding-top: 55px;
	padding-bottom: 20px;
	.video-cans {
		margin: 30px 0 15px 0;
		display: inline-block;
		width: 100%;
		position: relative;
		background-size: contain !important;
		height: 600px;
		cursor: pointer;
		img {
		  width: 100%;
		}
	  }
	.title-section{
		margin-bottom: 0px;
		h2{
			color: white;
			&::before{
				content: none;
			}
		}
		p{
			font-size: 20px;
			text-align: center;
			color: white;
			padding: 0 80px;
			margin-top: 15px !important;
			max-width: 1000px;
			margin: 0 auto;
			line-height: 26px;
		}
	}
	.btn-head{
		margin: 20px auto 0 auto;
	}
}
.aboutus{
	.head-pagedetail{
		h4{
			margin-top: 30px !important;
		}
	}
	.gioithieu-catcuri{
		padding-bottom: 38px;
		padding-top: 50px;
	}
}
/* thanhtuu-doanhnghiep */
.thanhtuu {
	background:url(../images/bg-thanhtuu.png) no-repeat center top;
	background-size: contain;
	padding: 60px 0;
	.row{
		align-items: center;
	}
	.notes {
		font-weight: 600;
		font-size: 20px;
		line-height: 30px;
		color: #022897;
		margin-top: 15px;
	}
	.col-left-info-home{
		padding-right: 30px;
		h2{
			font-size: 35px;
			text-transform: unset;
			text-align: justify;
			span{
				font-size: 64px;
				color: $brand;
			}
		}
	}
	.col-right-number {
		h2 {
			font-size: 64px;
			display: flex;
			align-items: center;
			justify-content: left;
			color: $brand3;

			span {
				font-size: 30px;
				margin-left: 5px;
				color: $brand3
			}
			
		}

		.list-number {
			height: 200px;
			width: 50%;
			float: left;
			padding: 15px 25px;
			border-bottom: 0;
			text-align: center;

			p {
				@include webkit-line-clamp();
				-webkit-line-clamp: 4;
				color: $brand;
			}
			&:nth-child(1), &:nth-child(3){
				padding-right: 53px;
			}
			&:nth-child(2){
				padding-right: 28px;
			}
			&:nth-child(4){
				padding-right: 23px;
			}
			
		}
	}
}
.box-cau-chuyen-tc{
	padding: 25px 30px 20px 10px;
	p{
		opacity: 0.7;
		font-size: 14px;
		@include webkit-line-clamp();
		-webkit-line-clamp: 3;
	}
	.flex-center{
		align-items: flex-start;
	}
	img{
		margin-right: 5px;
    	width: 80px;
	}
	.btn-common{
		float: right;
		color: $brand;
		background: transparent;
		padding: 0;
		height: auto;
		i{
			color: $brand;
		}
	}
}
.ss-van-de-dn.ss-working{
	background: white;
}
.silder-van-de-dn{
	.item{
		padding: 0 20px;
		
		.box-item{
			border: 1px solid $border;
			border-radius: 2px;
			padding: 20px;
			img{
				height: 175px;
			}
			.box-text {
				min-height: 185px;
			}
		}
	}
}
/* tuvan-giaiphap */
.tuvan-giaiphap{
	align-items: center;
    display: flex;
	.col-md-6{
		img{ height: 100%;}
	}
	.content-box-left{
		width: 50%;
		position: relative;
		.title-section-text{
			position: absolute;
			top: 140px;
			left: 70px;
			right: 0;
			bottom: 0;
			transform: translate(13%, 0);
			h2{
				color: white;
			}
			p{
				margin-top: 20px;
				color: white;
				opacity: 0.71;
				margin-bottom: 35px;
			}
			.btn-common{
				width: fit-content;
				background: transparent;
				border: 1px solid #fff;
				&:hover{
					color: $brand;
					background: white;
				}
			}
		}
	}
	.content-box-right{
		width: 50%;
		.thumnaisl-avatar{
			a{
				padding-top: 58%;
			}
		}
		
	}
}
/* tinhnang-catcuri */
.title-tinh-nang{
	position: relative;
	height: 80px;
	margin-bottom: 20px;
	h4{
		position: absolute;
		bottom: 0;
	}
}
.tinhnang-catcuri{
	background: $background-gray;
	.row{
		align-items: center;
	}
	.tinh-nang-nang-cao{
		padding: 25px 35px 25px 35px;
		.item-tinhnang{
			padding-right: 18px;
			margin: 15px 0 15px 0;
			.detail p{
				margin-bottom: 0;
			}
			
		}
		.title-tinh-nang{
			margin-bottom: 0;
		}
		h4{
			color: white;
			z-index: 2;
			padding-left: 30px;
			padding-bottom: 25px;
		}
		.bg-text{
			position: absolute;
			top: 5px;
			left: 0;
			z-index: 1;
			height: 55px;
		}
	}
	
	.tinh-nang-co-ban{
		color: $brand2;
		margin-bottom: 55px;
		
	}
	h4{
		font-weight: 700;
		line-height: 26px;
		text-transform: uppercase;
		color: $brand2;
	}
	.content-tinhnang{
		h5{
			font-weight: 700 ;
			line-height: 26px;
			margin-bottom: 5 !important;
			color: $text;
		}
		
	}
	.line{
		width: 100%;
		height: 1px;
		background: $border;
		margin: 50px 0;
	}
	
}
.item-tinhnang{
	position: relative;
	padding-left: 65px;
	margin-bottom: 30px;
	padding-right: 50px;
	display: inline-block;
	width: 100%;

	img{
		width: 60px;
		position: absolute;
		top: 0;
		left: 0;
	}
	.detail{
		margin-left: 15px;
		h4{
			margin-bottom: 10px;
			text-transform: none;
			color: $text;
		}
		p{
			font-size: 14px;		
			color: #3D5278;
			text-align: justify;
		}
		ul{
			li{
				display: flex;
				align-items: center;
				list-style: none;
				text-decoration: none;
				margin-bottom: 8px;
				img{
					height: 12px;
					position: inherit;
					width: 12px;
				}
				span{
					margin-left: 10px;
					font-size: 14px;
					color: #3D5278;
				}
			}
		}
	}
}
.ss-working {
	h4{
		@include webkit-line-clamp();
		-webkit-line-clamp: 2;
		font-size: 22px;
		margin-bottom: 5px;
		min-height: 60px;
	}
	.box-item p{
		font-size: 15px;
		opacity: 0.7;
		line-height: 22px;
		@include webkit-line-clamp();
		-webkit-line-clamp: 5;
	}
}
/* innovation / growth lms giải pháp đào tạo đại lý /đối tác */
.ss-demo {
	.btn-action-head a{
		max-width: 200px;
		width: 100%;
	}
}
.section-lms{
	padding-top: 0;
	.row{
		justify-content: center;
		.col-md-6{
			.box-shadow{
				border-top: 4px solid $brand;
			}
		}
		.col-md-6:nth-child(2), .col-md-6:nth-child(3), .col-md-6:nth-child(5){
			.box-shadow{
				border-top: 4px solid $brand3;
			}
		}
	}

	.box-shadow{
		margin-bottom: 30px;
		min-height: 170px;
			
	.item-tinhnang{
		padding-right: 10px;
		margin-bottom: 0;
		h4{
			padding-right: 30px;
			line-height: 28px;
		}
		p{
			margin-bottom: 0;
		}
	}
	}	
}
.slider-demo-sp{
	margin-top: -28px;
	.thumnaisl-avatar a{
		padding-top: 62%;
	}
}
/* giaiphap */

.giaiphap{
	.item-giaiphap{
		background-size: cover !important;
		padding: 40px 0;
		border-radius: 4px;
		.box-giaiphap{
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: center;
			.content-giaiphap{
				
				text-align: left;
    			padding: 0 60px;
				img{
					height: 220px;
				}
				h2{
					margin-bottom: 0;
					font-weight: 700;
					color: #fff;
					line-height: 45px;
					text-transform: uppercase;
					margin-top: 20px;
				}
				span{
					font-size: 24px;
					font-weight: 400;
					line-height: 41px;
					color: $brand2;
					text-transform: uppercase;
				}
				p{
					margin: 20px 0 30px 0;
					color: #fff;
					line-height: 26px;
					@include webkit-line-clamp();
					-webkit-line-clamp: 3;
				}
				.btn-common{
					margin: 0 auto;
					background: $brand3;
					float: right;
				}
			}
		}
	}
}

/* nhanxet */
.nhanxet{
	background: $background-gray;
	padding-bottom: 80px;
	.img-slider{
		
        p{
          
          left: 0;
          right: 0;
          margin: 0 auto;
          max-width: 950px;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          line-height: 28px;
          font-weight: 400;
		  float: right;
		  position: relative;
		  text-align: left;
		  margin-top: 30px;
		  margin-bottom: 30px;
		  font-size: 20px;
        }
        .box-information{
          text-align: center;
		  float: left;
          .slider-img{
            border-radius: 100%;
            height: 132px;
            width: 132px ;
            margin: 0 auto;
            object-fit: cover;
          }
          .slider-infor{
			  margin-top: 30px;
            h4{
				font-weight: 700;
				font-size: 16px;
				
				color: $brand;
				text-transform: uppercase;
            }
            p{
				color: $text-alpha;
				font-weight: 400;
				font-size: 16px;
				margin: 0;
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;
            }
          }
        }
		.box-review{
			h3{
				line-height: 30px !important;
				font-weight: normal !important;
				text-align: justify;
			}
			img{
				padding-left: 80px;
				width: initial;
			}
		}
      }
      .owl-dots{
        display: none;
      }
      .ss-result{
        // border-top: 1px #D9D9D9 solid;
        // padding-top: 40px;
        .owl-nav{
          button{
            &:focus{
              outline: transparent;
            }
            span{
              display: none;
            }
          }
        }
        position: relative;
        .owl-prev{
          position: absolute;
		  left: 18%;
		  top: 100%;
          width: 50px;
          height: 50px;
          background: url(../images/arrow-left.png) no-repeat center !important;
          background-size: contain !important;
        }
        .owl-next{
          position: absolute;
          left: 23%;
    	  top: 100%;
          width: 50px;
          height: 50px;
          background: url(../images/arrow-right.png) no-repeat center !important;
          background-size: contain !important;
        }
      }
}
.ss-vision .vision .title-section{
	margin-bottom: 30px;
}
.tuvan-giaiphap .content-box-right .thumnaisl-avatar a {
    padding-top: 72.2%;
}
.tuvan-giaiphap .content-box-left .title-section-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: translate(13%, 30%);
}
/* doitac */
.doitac{
	padding-top: 10px;
}
/* baochi */
.btn-common {
	font-weight: 500;
	svg{
		margin-left: 8px;
		path{
			stroke: $brand;
		}
	}
}
.baochi{
	padding-bottom: 20px;

	.slider-service{
		position: relative;
		.item{
			position: relative;
			background: #FFFFFF;
			box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
			border-radius: 10px;
			margin: 30px 15px;
			padding: 0;
			.thumnaisl-avatar{
				a{
					padding-top: 70%;
				}
			}
			.description-news{
				padding: 20px 17px 15px 17px;
				min-height: 218px;
				img{
					max-width: 200px;
					height: 30px;
					width: initial;
					margin: 0 auto;
				}
				p{
					margin-top: 20px;
					display: -webkit-box;
					-webkit-line-clamp: 4;
					-webkit-box-orient: vertical;
					overflow: hidden;
					margin-bottom: 20px;
				}
				.btn-common{
					width: fit-content;
					font-weight: 400;
					font-size: 14px;
					line-height: 16px;
					text-transform: none;
					background: transparent;
					color: #072c91;
					height: initial;
					padding: 0;
					float: right;
				}
			}
		}
	
	}
	
}
/* why-choose-us */
.why-choose-us{
	.thumnaisl-avatar a{
		padding-top: 76%;
	}
}
/* contact-section */

.contact-section {
    background-size: cover !important;
    height: 100%;
	padding-bottom: 40px;
	.img-bg-footer{
		max-width: 500px;
		margin-bottom: -105px !important;
		margin: 0 auto;
	}
	.form-control{
		color: $text;
		margin-bottom: 20px;
	}
	.row{
		align-items: center;
	}
	input {
		height: 48px;
		background: $background-gray;
		border: 1px solid #E5E5E5;
		padding: 5px 15px;
		font-size: 14px;
		border-radius: 2px;
		&::placeholder {
			color: #90A3BF;
			margin-top: 15px;
			font-size: 14px;
		}
	}

	.form-contact {
		max-width: 390px;
		
	}

	.button-submitform {
		button {
			float: right;
			background: $brand;
			color: white;
			border: 0;
			justify-content: center;
			display: flex;
			align-items: center;
			text-transform: uppercase;
			font-size: 16px;
			line-height: 19px;
			border-radius: 2px;
			padding: 15px 25px;
			&:hover {
				opacity: .9;
			}
		}

		img {
			margin-left: 5px;
			margin-bottom: 3px;
			height: 17px;
		}
	}

	textarea.form-control {
		border-radius: 2px;
		height: 100px;
		background: $background-gray;
		border: 1px solid #E5E5E5;
		padding: 15px;
		font-size: 14px;
		&::placeholder {
			color: #90A3BF;
			font-size: 14px;
		}
	}
	.content-form{
		h2{
			color: white;
			text-align: justify;
			margin-bottom: 20px;
			padding-right: 20px;
		}
		ul{
			li{
				display: flex;
				align-items: center;
				list-style: none;
				text-decoration: none;
				margin-bottom: 20px;
				img{
					height: 32px;
				}
				span{
					margin-left: 10px;
					font-weight: 600;
					font-size: 20px;
					line-height: 28px;
					color: white;
				}
			}
		}
	}
	.form-contact{
	
			border-radius: 2px;
			background: white;
			padding: 30px;
			.title-form{
				text-align: left;
				h5{
					text-transform: uppercase;
					
					color: $brand;
					font-weight: 700;
					font-size: 20px;
					line-height: 31px;
					
				}
				h6{
					color: #3d5278;
					font-weight: normal  !important;
					margin-bottom: 30px;
				}
			}
			
		
	}
	.box-contact{
		display: inline-block;
		width: 100%;
		.avar{
			position: absolute;
			width: 60%;
			top: 40%;
			margin-left: -160px;
		}
		.form-contact{
			position: relative;
			form{
				margin-top: 30px;
			}
			.select-selected{
				display: flex;
				align-items: center;
			}
		}
	}

}
.aboutus{
	.ss-vision{
		.title-section{
			margin-bottom: 15px;
			text-align: left;
		}
		.col-md-6{
			text-align: center;
			.img-item{
				height: 375px;
			}
		}
	}
	.video-cans{
		margin-top: 15px;
		margin-bottom: 20px;
	}
	
}

/* footer */
footer{
	background: $background-gray;
	padding:  40px 0 20px 0;
    display: inline-block;
	width: 100%;
	.content-footer{
		text-align: left;
		p{
			font-weight: 500;
			font-size: 14px;
			line-height: 22px;
			color: #3D5278;
			margin-top: 20px;
			text-align: left !important;
		}
		.banquyen{
			display: flex;
			align-items: center;
			justify-content: left;
			margin-bottom: 20px;
			img{
				height: 32px;
				margin-right: 10px;
				&:first-child{
					margin-top: 6px;
				}
			}
			
		}
		.copyright{
			font-size: 13px;
			color: #3D5278;
			text-align: center;
			display: inline-block;
			width: 100%;
			margin-top: 20px;
		}
	}
	ul li {
		list-style: none;
		margin: 10px 0;
		a {
			color: #3D5278;
			font-size: 14px;
			width: 100%;
			display: inline-block;
		}
	}
	.title-footer{
		color: #3D5278;
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 0;
		text-transform: uppercase;
	}
	.social-footer img {
		height: 26px;
		margin-right: 10px;
	}
	.fb-page{
		width: 100%;
		overflow: hidden;
	}
}
.box-bg-add-on{
	position: relative;
	padding-bottom: 50px;
	.bg-line-add-on{
		text-align: center;
    	margin-top: -95px;
	}
}
.box-add-on{
	position: absolute;
    top: 85px;
    left: 0;
	right: 0;
	
	.box-cau-chuyen-tc{
		background-color: white;
		position: relative;
		border: 1px solid $border;
		border-radius: 2px;
		max-width: 600px;
		margin: 0 auto 30px auto;
		padding-left: 30px;
		img {
			width: 115px;
		}
		div{
			padding-right: 48px;
		}
		h4{
			color: $brand;
			text-transform: uppercase
		}
		p{
			@include webkit-line-clamp();
		}
	}
	.label-add-on{
		width: 100px;
		position: absolute;
		right: -2px;
		top: -2px;
		margin-right: 0;
	}
}
.item-news{
    .title-news{
        @include webkit-line-clamp();
    }
}
