@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;500;600;700;800&display=swap");
.pt-50 {
  padding-top: 50px; }

.pb-50 {
  padding-bottom: 50px; }

.time {
  font-size: 14px;
  color: #404040; }

.item-news {
  background: #FFFFFF;
  box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  margin-bottom: 40px; }

.none-overflow {
  overflow: initial; }

.time-date-share .time-date {
  text-align: left;
  display: flex;
  align-items: center; }
  .time-date-share .time-date span {
    font-size: 15px; }

.sticky-box {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 30px 20px;
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 110px; }
  .sticky-box h5 {
    margin-bottom: 15px; }
  .sticky-box ul {
    margin-left: 20px;
    margin-bottom: 0; }
    .sticky-box ul li {
      margin-bottom: 10px; }
      .sticky-box ul li.li-sub {
        list-style: none;
        padding-left: 20px; }
        .sticky-box ul li.li-sub a {
          opacity: 0.8;
          font-size: 14px; }

.title-header {
  text-align: center; }
  .title-header h1 {
    font-size: 56px; }

.line-item {
  width: 100%;
  height: 1px;
  border: #E5E5E5 1px solid;
  margin: 15px 0; }

.item {
  padding: 15px; }

.slide-center {
  margin-left: -15px;
  margin-right: -15px; }

.owl-nav button:focus {
  outline: transparent; }
.owl-nav button span {
  display: none; }

.soul-header {
  display: flex; }

.owl-dots {
  display: none; }

.tags-news span {
  text-align: left;
  color: inherit; }
.tags-news a {
  color: #2580ff;
  border: 1px solid #2580ff;
  border-radius: 2px;
  padding: 0 12px;
  font-weight: normal;
  font-size: 13px;
  margin: 3px 5px;
  display: inline-block; }

.detail-left span {
  color: #6A6A6A;
  text-align: center;
  margin: 10px 0;
  width: 100%; }
.detail-left .thumnaisl-avatar .header-img {
  padding-bottom: 20px; }

.register-mail .box-mail {
  display: flex; }
  .register-mail .box-mail input {
    border-radius: 2px 0 0 2px;
    height: 50px; }
  .register-mail .box-mail .btn-common, .register-mail .box-mail .btn-head {
    height: 50px;
    border-radius: 0 2px 2px 0; }
.register-mail .soul-mail {
  padding: 30px 120px; }

.soul-policy {
  max-width: 900px;
  margin: auto; }
  .soul-policy p {
    color: #404040;
    margin-bottom: 20px;
    line-height: 26px; }

.body-blog .title-news {
  font-weight: 700 !important; }

.blog-catcuri .row {
  align-items: center; }

.page-news .share-link img {
  margin-bottom: 0 !important;
  height: 22px; }
.page-news .soul-detail-blog img {
  margin-bottom: 30px;
  border-radius: 2px; }
.page-news .item-news {
  margin-bottom: 0; }
.page-news .soul-detail-blog {
  padding-top: 70px; }
.page-news .breadcrumbs {
  top: 80px; }
.page-news .share-link {
  margin-left: 5px; }
.page-news h2 {
  font-size: 24px; }
.page-news h3 {
  font-size: 20px; }
.page-news .detail-left h2 {
  margin: 30px 0; }

.none-border {
  border: 0 !important; }

.body-search .box-text {
  margin-bottom: 30px;
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 20px; }
.body-search h6 {
  color: #404040; }
.body-search span {
  color: #404040; }
.body-search .page-search p {
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 15px; }

.page-404 p {
  text-align: center;
  font-size: 150px;
  font-weight: 800;
  margin: 120px 0 80px;
  color: #022897; }
.page-404 .soul-404 {
  text-align: center; }
.page-404 .btn-link-center {
  width: inherit; }
.page-404 h6 {
  font-weight: 400 !important; }

.information-email {
  padding: 50px 45px !important; }
  .information-email .title-info-email {
    text-align: center; }
    .information-email .title-info-email p {
      margin: 25px 0px 50px;
      font-size: 16px;
      font-weight: 400;
      text-align: center; }
  .information-email .select-selected.active {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden; }

.box-contact-page {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 25px 20px;
  height: 620px; }

.info-contact {
  text-align: center;
  padding: 30px 40px; }
  .info-contact h4 {
    font-size: 18px;
    font-weight: normal !important;
    margin: 25px 0 20px; }
  .info-contact .hotline-contact {
    display: inline-block;
    width: 100%;
    font-size: 28px;
    font-weight: 600;
    color: #022897; }
  .info-contact span {
    font-size: 16px; }
  .info-contact .email {
    margin-top: 8px; }

.video-about-us {
  padding-bottom: 30px;
  background-size: cover !important;
  height: 100%;
  display: flex;
  align-items: center; }
  .video-about-us .video-cans {
    margin: 30px 0;
    display: inline-block;
    width: 100%;
    position: relative;
    background-size: contain !important;
    height: 650px;
    cursor: pointer; }
  .video-about-us p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: white; }

.title-section h2::before {
  display: none !important; }

/* head-pagedetail */
.head-pagedetail {
  padding-bottom: 50px; }
  .head-pagedetail p span {
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    color: #3D5278; }

.ss-vision {
  padding-bottom: 50px; }
  .ss-vision .vision .title-section {
    justify-content: flex-start; }
  .ss-vision .vision .row {
    align-items: center; }
  .ss-vision .vision:nth-child(odd) .box-text {
    color: #1A202C;
    opacity: .71; }
  .ss-vision .vision:nth-child(even) .box-text {
    color: #1A202C;
    opacity: .71; }
  .ss-vision .vision:nth-child(even) .row {
    flex-direction: row-reverse; }

.ss-working {
  background: #F6F7F9; }
  .ss-working .working {
    padding-top: 30px;
    padding-bottom: 50px; }
  .ss-working .title-section p {
    margin-bottom: 0;
    font-weight: 700;
    font-size: 45px;
    line-height: 63px;
    color: #1A202C; }
  .ss-working .title-section h2::before {
    width: 100%;
    background-size: contain !important;
    background: url(../images/line3.svg) no-repeat center top;
    content: '';
    display: inline-block;
    height: 16px;
    left: 0;
    top: 65px; }
  .ss-working .box-item {
    text-align: center;
    padding: 0 30px; }
    .ss-working .box-item .box-text {
      margin-top: 30px; }
  .ss-working .img-item {
    height: 222px;
    max-width: 100%; }
  .ss-working h4 {
    margin-bottom: 10px;
    text-align: left;
    font-size: 24px;
    color: #022897;
    font-weight: 700 !important; }
  .ss-working p {
    font-weight: 400; }

.aboutus .doitac {
  padding-top: 50px; }

/*=========== phan trang================*/
.pagging-page {
  width: 100%; }
  .pagging-page .pagination {
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; }
  .pagging-page ul li a,
  .pagging-page ul li span {
    width: 32px;
    height: 32px;
    margin: 0 10px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: #1A202C;
    padding: 5px; }
    .pagging-page ul li a.active,
    .pagging-page ul li span.active {
      border: 1px solid #022897 !important;
      color: #022897;
      background-color: white;
      padding-top: 3px; }
  .pagging-page ul li:hover a {
    color: #022897; }

.body-search .btn-action-head, .body-404 .btn-action-head, .body-contact .btn-action-head, .body-policy .btn-action-head {
  display: none; }

.container {
  max-width: 1200px; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #1A202C;
  font-weight: 400;
  padding: 0;
  margin: 0;
  width: 100%;
  line-height: 22px; }

a {
  text-decoration: none;
  color: #1A202C;
  outline: none;
  -webkit-transition: color .3s ease;
  transition: color 0.3s ease; }
  a:hover {
    text-decoration: none;
    color: #022897; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  text-decoration: none; }

img {
  max-width: 100%; }

button {
  outline: none; }

.text-tranform {
  text-transform: uppercase; }

.text-main {
  color: #022897; }

.text-al-pha {
  color: #404040; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }

.bg-gray {
  background-color: #F6F7F9; }

h1 {
  font-size: 60px;
  font-weight: 700  !important; }

h2 {
  font-size: 35px;
  font-weight: 700  !important; }

h3 {
  font-size: 24px;
  font-weight: 700  !important; }

h4 {
  font-size: 20px;
  font-weight: 700  !important; }

h5 {
  font-size: 18px;
  font-weight: 700  !important; }

h6 {
  font-size: 16px;
  font-weight: 700  !important; }

p {
  font-size: 16px;
  text-align: justify; }

b,
span,
label {
  font-size: 13px; }

.mt-10 {
  margin-top: 10px; }

.mt-20 {
  margin-top: 20px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-60 {
  margin-top: 60px; }

.mt-70 {
  margin-top: 70px; }

.mb-0 {
  margin-bottom: 0; }

.mb-10 {
  margin-bottom: 10px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-70 {
  margin-bottom: 70px; }

.m10 {
  margin: 10px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.m25 {
  margin: 25px; }

.m30 {
  margin: 30px; }

.m35 {
  margin: 35px; }

.m40 {
  margin: 40px; }

.m45 {
  margin: 45px; }

.m50 {
  margin: 50px; }

.m55 {
  margin: 55px; }

.m60 {
  margin: 60px; }

.m65 {
  margin: 65px; }

.m70 {
  margin: 70px; }

.ml-0 {
  margin-left: 0; }

.mr-0 {
  margin-right: 0; }

.mt-0 {
  margin-top: 0; }

.mb-0 {
  margin-bottom: 0; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.p25 {
  padding: 25px; }

.p30 {
  padding: 30px; }

.p35 {
  padding: 35px; }

.p40 {
  padding: 40px; }

.p45 {
  padding: 45px; }

.p50 {
  padding: 50px; }

.pl-pr-50 {
  padding: 0 50px; }

.p55 {
  padding: 55px; }

.p60 {
  padding: 60px; }

.p65 {
  padding: 65px; }

.p70 {
  padding: 70px; }

.pl-0 {
  padding-left: 0; }

.pr-0 {
  padding-right: 0; }

.pt-0 {
  padding-top: 0; }

.pt-40 {
  padding-top: 40px; }

.pb-70 {
  padding-bottom: 70px; }

.pl-70 {
  padding-left: 70px; }

.pb-0 {
  padding-bottom: 0; }

.p0 {
  padding: 0; }

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none; }

section {
  float: left;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  padding: 50px 0; }

input:focus,
textarea:focus {
  border-color: #022897 !important;
  outline: none;
  box-shadow: none !important; }

.breadcrumbs {
  position: absolute;
  top: 15px;
  color: #8692A6; }
  .breadcrumbs a, .breadcrumbs i {
    font-weight: normal;
    color: #8692A6;
    font-size: 13px; }

.btn-link-center {
  width: 100%;
  display: inline-block;
  text-align: center; }

header {
  border-bottom: 1px solid #E5E5E5;
  padding: 0;
  display: inline-block;
  width: 100%;
  position: relative;
  z-index: 9999; }

.content-head {
  align-items: center;
  display: flex;
  justify-content: space-between; }
  .content-head .logo img {
    padding: 10px 0; }
  .content-head nav {
    display: flex;
    align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out; }
    .content-head nav ul {
      display: flex;
      align-content: center;
      -ms-flex-pack: center !important;
      -ms-flex-align: center !important;
      align-items: center !important;
      transition: all .3s ease-in-out;
      margin-bottom: 0; }
      .content-head nav ul li {
        list-style: none;
        position: relative; }
        .content-head nav ul li.active a {
          color: #022897; }
          .content-head nav ul li.active a::before {
            color: #022897; }
        .content-head nav ul li a {
          color: #1A202C;
          text-decoration: none;
          padding: 7px 15px;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 500; }
          .content-head nav ul li a::before {
            content: "\e64b";
            display: inline-block;
            font-family: 'themify';
            font-size: 10px;
            font-weight: 100;
            position: absolute;
            right: 0;
            top: 0;
            color: #1A202C; }
          .content-head nav ul li a:hover {
            color: #022897; }
        .content-head nav ul li.no-sub a::before {
          display: none; }
        .content-head nav ul li ul {
          position: absolute;
          width: 220px;
          left: 0;
          top: 39px;
          opacity: 0;
          visibility: hidden;
          background: #FFFFFF;
          box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
          border-radius: 0 0 2px 2px;
          padding: 5px 15px;
          display: inline-block; }
          .content-head nav ul li ul li {
            padding: 5px 0;
            border-bottom: 1px #E5E5E5;
            display: inline-block;
            width: 100%; }
            .content-head nav ul li ul li a {
              text-transform: unset;
              display: inline-block;
              width: 100%;
              font-weight: normal;
              transition: all 0.3s linear;
              transition: 0.5s;
              padding: 4px 0;
              font-size: 14px;
              color: #1A202C !important; }
              .content-head nav ul li ul li a:hover {
                padding-left: 8px; }
              .content-head nav ul li ul li a::before {
                display: none; }
        .content-head nav ul li:hover ul {
          opacity: 1;
          visibility: visible; }

.header-right {
  display: flex;
  align-items: center; }
  .header-right nav {
    margin-right: 20px; }

.btn-xem-demo {
  background-color: #2580ff !important;
  margin-right: 10px; }

.button-action {
  display: flex;
  margin-bottom: 20px;
  justify-content: center; }
  .button-action a {
    width: 214px;
    height: 48px;
    text-align: center;
    transition: all .3s ease-in-out;
    display: inline-block;
    color: white;
    border-radius: 2px;
    font-size: 14px;
    font-weight: 400;
    margin: 0 10px;
    text-decoration: none;
    padding-top: 10px; }
    .button-action a img {
      margin-right: 5px; }

.box-shadow {
  background: #FFFFFF;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  padding: 25px;
  display: inline-block; }

.menu-scroll {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.04);
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 9999; }
  .menu-scroll nav {
    padding: 0 !important; }
  .menu-scroll .logo img {
    height: inherit; }

.tuvan-giaiphap {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-top: 0; }
  .tuvan-giaiphap .col-md-6 {
    padding: 0 !important; }
  .tuvan-giaiphap .content-solution-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; }
    .tuvan-giaiphap .content-solution-section .row {
      margin: 0 !important; }
    .tuvan-giaiphap .content-solution-section h2, .tuvan-giaiphap .content-solution-section p {
      color: white;
      position: relative; }
    .tuvan-giaiphap .content-solution-section p {
      opacity: .7; }
    .tuvan-giaiphap .content-solution-section a {
      margin-top: 30px;
      width: fit-content !important;
      background: none;
      border: 1px solid white;
      color: white; }
      .tuvan-giaiphap .content-solution-section a i {
        color: white; }
    .tuvan-giaiphap .content-solution-section h2 {
      line-height: 60px; }
      .tuvan-giaiphap .content-solution-section h2::after {
        width: 217px;
        background: url(../images/line-bannerhead.svg) no-repeat center top;
        content: '';
        display: inline-block;
        height: 15px;
        top: 55px;
        left: 0;
        position: absolute;
        background-size: contain; }
  .tuvan-giaiphap img {
    width: 100%; }

.scrollbar {
  height: 76vh;
  width: 100%;
  margin: auto;
  overflow-y: auto; }

#wrapper {
  text-align: center;
  width: 100%;
  margin: auto; }

.btn-common-border {
  width: fit-content;
  background: white;
  border: 1px solid #1A202C;
  color: #1A202C;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 2px;
  padding: 15px 25px;
  transition: all .3s ease-in-out;
  height: 50px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  width: fit-content; }
  .btn-common-border i {
    margin-left: 10px;
    font-size: 16px; }
  .btn-common-border img {
    margin-left: 10px;
    font-size: 16px; }
  .btn-common-border:hover {
    opacity: 0.9;
    color: #1A202C; }

.btn-common, .btn-head {
  justify-content: center;
  display: inline-flex;
  align-items: center;
  background: #022897;
  border-radius: 2px;
  padding: 0 25px;
  color: white;
  transition: all .3s ease-in-out;
  height: 42px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  width: fit-content; }
  .btn-common i, .btn-head i {
    margin-left: 8px;
    font-size: 15px; }
  .btn-common img, .btn-head img {
    margin-left: 8px;
    width: 18px;
    height: 18px; }
  .btn-common:hover, .btn-head:hover {
    opacity: 0.9;
    color: white; }

.btn-head {
  background: #2580ff !important;
  color: white; }
  .btn-head:hover {
    opacity: 0.9;
    color: white; }

.thumnaisl-avatar a {
  position: relative;
  padding-top: 56%;
  display: block; }
  .thumnaisl-avatar a img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    left: 0;
    top: 0; }

.owl-dots {
  display: none; }

.owl-nav button:focus {
  outline: transparent; }
.owl-nav button span {
  display: none; }

.owl-prev {
  left: -5%;
  top: 45%;
  position: absolute;
  height: 50px;
  background: url(../images/arrow-left.png) no-repeat center !important;
  background-size: contain !important;
  width: 50px; }

.owl-next {
  right: -5%;
  top: 45%;
  position: absolute;
  height: 50px;
  background: url(../images/arrow-right.png) no-repeat center !important;
  background-size: contain !important;
  width: 50px; }

/* check-radio-custom */
.check-radio-custom {
  margin: 15px 0; }

.check-radio-custom [type="radio"]:checked,
.check-radio-custom [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }

.check-radio-custom [type="radio"]:checked + label,
.check-radio-custom [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  display: inline-block;
  color: #222; }

.check-radio-custom [type="radio"]:checked + label:before,
.check-radio-custom [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #BFA145;
  border-radius: 100%;
  background: #fff; }

.check-radio-custom [type="radio"]:checked + label:after,
.check-radio-custom [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: #BFA145;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.check-radio-custom [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0); }

.check-radio-custom [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.check-radio-custom p {
  margin: 10px 0; }

/* -----------------Custom thanh srcoll-----------------*/
.scrollbar {
  height: 53vh;
  width: 100%;
  margin: auto;
  overflow-y: auto;
  padding: 0 10px; }

#style-1::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #cbcbcb; }

#style-1::-webkit-scrollbar {
  width: 1.5px;
  background-color: #ededed; }

#style-1::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #f7f7f7; }

::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #fff; }

::-webkit-scrollbar {
  width: 1px;
  height: 0;
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #ffffff; }

.logo-content-home {
  display: flex;
  max-width: 80%;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap; }
  .logo-content-home img {
    height: 80px;
    margin: 0 3px; }

/* -----------------Custom select box / input -----------------*/
input,
textarea {
  border-radius: 2px;
  border: 1px solid #E5E5E5;
  height: 40px;
  padding: 10px;
  background-color: white;
  width: 100%; }

textarea {
  width: 100%; }

.custom-select {
  position: relative;
  padding: 13px 15px;
  background: #F6F7F9;
  height: 48px;
  border-radius: 2px;
  border: 1px solid #E5E5E5; }

.custom-select select {
  display: none;
  /*hide original SELECT element: */ }

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  vertical-align: 0.255em;
  content: "\e64b";
  font-family: 'themify';
  color: #ABABAB;
  top: 14px;
  right: 25px; }

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #90A3BF;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  font-size: 14px; }

.select-selected.active {
  color: #1A202C;
  font-size: 14px; }

.select-items div {
  color: #1A202C;
  padding: 10px 0; }

/* Style items (options): */
.select-items {
  padding: 15px 12px;
  overflow: hidden;
  width: 100%;
  position: absolute;
  background-color: white;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 99;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  box-shadow: -1px 1px 14px rgba(138, 139, 159, 0.15); }

/* Hide the items when the select box is closed: */
.select-hide {
  display: none; }

.select-items div:hover,
.same-as-selected {
  color: #022897; }

#close-menu {
  display: none; }

.menu-mobile {
  display: none; }

.lettak {
  display: none; }

.desrep {
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-size: 18px;
  line-height: 26px;
  padding: 0 120px; }

.title-section {
  font-family: 'Anek Latin', sans-serif;
  display: inline-block;
  width: 100%;
  text-align: center; }
  .title-section h2 {
    color: #022897;
    margin-bottom: 0;
    text-transform: uppercase; }
  .title-section span img {
    height: 41px;
    margin: 0 15px; }

.title-section-text {
  font-family: 'Anek Latin', sans-serif; }
  .title-section-text h1 {
    margin-bottom: 0;
    font-weight: 900;
    min-height: 145px;
    line-height: 85px;
    color: #022897;
    display: initial;
    position: relative;
    align-items: center; }
    .title-section-text h1::before {
      width: 300px;
      background: url(../images/line-bannerhead.svg) no-repeat center top;
      content: '';
      display: inline-block;
      height: 26px;
      top: 68px;
      left: 0;
      position: absolute;
      background-size: contain; }

/* homepage */
.head-slider {
  display: flex;
  align-items: center;
  padding: 40px 0;
  position: relative; }
  .head-slider .info-head {
    width: 50%; }
    .head-slider .info-head .btn-common, .head-slider .info-head .btn-head {
      width: fit-content; }
    .head-slider .info-head h4 {
      font-weight: normal  !important;
      text-align: justify;
      margin-top: 40px;
      font-size: 20px;
      line-height: 28px;
      color: #3D5278;
      margin: 16px 38px 35px 0;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden; }
  .head-slider .content-img {
    width: 50%;
    margin-bottom: -40px; }
  .head-slider.head-pagedetail .title-section-text {
    min-height: 95px; }
  .head-slider.head-pagedetail img {
    height: 520px; }
  .head-slider.head-pagedetail .title-section-text h2 {
    font-size: 72px;
    font-weight: 900;
    color: #022897; }
  .head-slider.head-pagedetail h4 {
    margin-top: 15px; }
    .head-slider.head-pagedetail h4 span {
      font-size: 20px;
      font-weight: 900 !important; }

.head-pagedetail .content-img {
  margin-bottom: -0;
  text-align: center; }

/* gioithieu-catcuri */
.overlay._active iframe {
  width: 100%;
  height: 600px;
  max-width: 1065px;
  margin: auto;
  display: flex;
  justify-content: center; }

.close-bg-video {
  position: absolute;
  right: -50px;
  top: -10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: normal;
  border: 0;
  font-size: 20px;
  outline: none;
  z-index: 9999999;
  background-color: white; }

.current_page_item a {
  color: #022897; }

.overlay {
  width: 100%;
  margin: 0 auto;
  height: 600px;
  display: none; }
  .overlay._active {
    display: block; }
    .overlay._active iframe {
      width: 100%;
      height: 600px; }

.gioithieu-catcuri {
  background: #022897;
  padding-top: 55px;
  padding-bottom: 20px; }
  .gioithieu-catcuri .video-cans {
    margin: 30px 0 15px 0;
    display: inline-block;
    width: 100%;
    position: relative;
    background-size: contain !important;
    height: 600px;
    cursor: pointer; }
    .gioithieu-catcuri .video-cans img {
      width: 100%; }
  .gioithieu-catcuri .title-section {
    margin-bottom: 0px; }
    .gioithieu-catcuri .title-section h2 {
      color: white; }
      .gioithieu-catcuri .title-section h2::before {
        content: none; }
    .gioithieu-catcuri .title-section p {
      font-size: 20px;
      text-align: center;
      color: white;
      padding: 0 80px;
      margin-top: 15px !important;
      max-width: 1000px;
      margin: 0 auto;
      line-height: 26px; }
  .gioithieu-catcuri .btn-head {
    margin: 20px auto 0 auto; }

.aboutus .head-pagedetail h4 {
  margin-top: 30px !important; }
.aboutus .gioithieu-catcuri {
  padding-bottom: 38px;
  padding-top: 50px; }

/* thanhtuu-doanhnghiep */
.thanhtuu {
  background: url(../images/bg-thanhtuu.png) no-repeat center top;
  background-size: contain;
  padding: 60px 0; }
  .thanhtuu .row {
    align-items: center; }
  .thanhtuu .notes {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #022897;
    margin-top: 15px; }
  .thanhtuu .col-left-info-home {
    padding-right: 30px; }
    .thanhtuu .col-left-info-home h2 {
      font-size: 35px;
      text-transform: unset;
      text-align: justify; }
      .thanhtuu .col-left-info-home h2 span {
        font-size: 64px;
        color: #022897; }
  .thanhtuu .col-right-number h2 {
    font-size: 64px;
    display: flex;
    align-items: center;
    justify-content: left;
    color: #fc955c; }
    .thanhtuu .col-right-number h2 span {
      font-size: 30px;
      margin-left: 5px;
      color: #fc955c; }
  .thanhtuu .col-right-number .list-number {
    height: 200px;
    width: 50%;
    float: left;
    padding: 15px 25px;
    border-bottom: 0;
    text-align: center; }
    .thanhtuu .col-right-number .list-number p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 4;
      color: #022897; }
    .thanhtuu .col-right-number .list-number:nth-child(1), .thanhtuu .col-right-number .list-number:nth-child(3) {
      padding-right: 53px; }
    .thanhtuu .col-right-number .list-number:nth-child(2) {
      padding-right: 28px; }
    .thanhtuu .col-right-number .list-number:nth-child(4) {
      padding-right: 23px; }

.box-cau-chuyen-tc {
  padding: 25px 30px 20px 10px; }
  .box-cau-chuyen-tc p {
    opacity: 0.7;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3; }
  .box-cau-chuyen-tc .flex-center {
    align-items: flex-start; }
  .box-cau-chuyen-tc img {
    margin-right: 5px;
    width: 80px; }
  .box-cau-chuyen-tc .btn-common, .box-cau-chuyen-tc .btn-head {
    float: right;
    color: #022897;
    background: transparent;
    padding: 0;
    height: auto; }
    .box-cau-chuyen-tc .btn-common i, .box-cau-chuyen-tc .btn-head i {
      color: #022897; }

.ss-van-de-dn.ss-working {
  background: white; }

.silder-van-de-dn .item {
  padding: 0 20px; }
  .silder-van-de-dn .item .box-item {
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    padding: 20px; }
    .silder-van-de-dn .item .box-item img {
      height: 175px; }
    .silder-van-de-dn .item .box-item .box-text {
      min-height: 185px; }

/* tuvan-giaiphap */
.tuvan-giaiphap {
  align-items: center;
  display: flex; }
  .tuvan-giaiphap .col-md-6 img {
    height: 100%; }
  .tuvan-giaiphap .content-box-left {
    width: 50%;
    position: relative; }
    .tuvan-giaiphap .content-box-left .title-section-text {
      position: absolute;
      top: 140px;
      left: 70px;
      right: 0;
      bottom: 0;
      transform: translate(13%, 0); }
      .tuvan-giaiphap .content-box-left .title-section-text h2 {
        color: white; }
      .tuvan-giaiphap .content-box-left .title-section-text p {
        margin-top: 20px;
        color: white;
        opacity: 0.71;
        margin-bottom: 35px; }
      .tuvan-giaiphap .content-box-left .title-section-text .btn-common, .tuvan-giaiphap .content-box-left .title-section-text .btn-head {
        width: fit-content;
        background: transparent;
        border: 1px solid #fff; }
        .tuvan-giaiphap .content-box-left .title-section-text .btn-common:hover, .tuvan-giaiphap .content-box-left .title-section-text .btn-head:hover {
          color: #022897;
          background: white; }
  .tuvan-giaiphap .content-box-right {
    width: 50%; }
    .tuvan-giaiphap .content-box-right .thumnaisl-avatar a {
      padding-top: 58%; }

/* tinhnang-catcuri */
.title-tinh-nang {
  position: relative;
  height: 80px;
  margin-bottom: 20px; }
  .title-tinh-nang h4 {
    position: absolute;
    bottom: 0; }

.tinhnang-catcuri {
  background: #F6F7F9; }
  .tinhnang-catcuri .row {
    align-items: center; }
  .tinhnang-catcuri .tinh-nang-nang-cao {
    padding: 25px 35px 25px 35px; }
    .tinhnang-catcuri .tinh-nang-nang-cao .item-tinhnang {
      padding-right: 18px;
      margin: 15px 0 15px 0; }
      .tinhnang-catcuri .tinh-nang-nang-cao .item-tinhnang .detail p {
        margin-bottom: 0; }
    .tinhnang-catcuri .tinh-nang-nang-cao .title-tinh-nang {
      margin-bottom: 0; }
    .tinhnang-catcuri .tinh-nang-nang-cao h4 {
      color: white;
      z-index: 2;
      padding-left: 30px;
      padding-bottom: 25px; }
    .tinhnang-catcuri .tinh-nang-nang-cao .bg-text {
      position: absolute;
      top: 5px;
      left: 0;
      z-index: 1;
      height: 55px; }
  .tinhnang-catcuri .tinh-nang-co-ban {
    color: #2580ff;
    margin-bottom: 55px; }
  .tinhnang-catcuri h4 {
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    color: #2580ff; }
  .tinhnang-catcuri .content-tinhnang h5 {
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 5 !important;
    color: #1A202C; }
  .tinhnang-catcuri .line {
    width: 100%;
    height: 1px;
    background: #E5E5E5;
    margin: 50px 0; }

.item-tinhnang {
  position: relative;
  padding-left: 65px;
  margin-bottom: 30px;
  padding-right: 50px;
  display: inline-block;
  width: 100%; }
  .item-tinhnang img {
    width: 60px;
    position: absolute;
    top: 0;
    left: 0; }
  .item-tinhnang .detail {
    margin-left: 15px; }
    .item-tinhnang .detail h4 {
      margin-bottom: 10px;
      text-transform: none;
      color: #1A202C; }
    .item-tinhnang .detail p {
      font-size: 14px;
      color: #3D5278;
      text-align: justify; }
    .item-tinhnang .detail ul li {
      display: flex;
      align-items: center;
      list-style: none;
      text-decoration: none;
      margin-bottom: 8px; }
      .item-tinhnang .detail ul li img {
        height: 12px;
        position: inherit;
        width: 12px; }
      .item-tinhnang .detail ul li span {
        margin-left: 10px;
        font-size: 14px;
        color: #3D5278; }

.ss-working h4 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  font-size: 22px;
  margin-bottom: 5px;
  min-height: 60px; }
.ss-working .box-item p {
  font-size: 15px;
  opacity: 0.7;
  line-height: 22px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 5; }

/* innovation / growth lms giải pháp đào tạo đại lý /đối tác */
.ss-demo .btn-action-head a {
  max-width: 200px;
  width: 100%; }

.section-lms {
  padding-top: 0; }
  .section-lms .row {
    justify-content: center; }
    .section-lms .row .col-md-6 .box-shadow {
      border-top: 4px solid #022897; }
    .section-lms .row .col-md-6:nth-child(2) .box-shadow, .section-lms .row .col-md-6:nth-child(3) .box-shadow, .section-lms .row .col-md-6:nth-child(5) .box-shadow {
      border-top: 4px solid #fc955c; }
  .section-lms .box-shadow {
    margin-bottom: 30px;
    min-height: 170px; }
    .section-lms .box-shadow .item-tinhnang {
      padding-right: 10px;
      margin-bottom: 0; }
      .section-lms .box-shadow .item-tinhnang h4 {
        padding-right: 30px;
        line-height: 28px; }
      .section-lms .box-shadow .item-tinhnang p {
        margin-bottom: 0; }

.slider-demo-sp {
  margin-top: -28px; }
  .slider-demo-sp .thumnaisl-avatar a {
    padding-top: 62%; }

/* giaiphap */
.giaiphap .item-giaiphap {
  background-size: cover !important;
  padding: 40px 0;
  border-radius: 4px; }
  .giaiphap .item-giaiphap .box-giaiphap {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center; }
    .giaiphap .item-giaiphap .box-giaiphap .content-giaiphap {
      text-align: left;
      padding: 0 60px; }
      .giaiphap .item-giaiphap .box-giaiphap .content-giaiphap img {
        height: 220px; }
      .giaiphap .item-giaiphap .box-giaiphap .content-giaiphap h2 {
        margin-bottom: 0;
        font-weight: 700;
        color: #fff;
        line-height: 45px;
        text-transform: uppercase;
        margin-top: 20px; }
      .giaiphap .item-giaiphap .box-giaiphap .content-giaiphap span {
        font-size: 24px;
        font-weight: 400;
        line-height: 41px;
        color: #2580ff;
        text-transform: uppercase; }
      .giaiphap .item-giaiphap .box-giaiphap .content-giaiphap p {
        margin: 20px 0 30px 0;
        color: #fff;
        line-height: 26px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 3; }
      .giaiphap .item-giaiphap .box-giaiphap .content-giaiphap .btn-common, .giaiphap .item-giaiphap .box-giaiphap .content-giaiphap .btn-head {
        margin: 0 auto;
        background: #fc955c;
        float: right; }

/* nhanxet */
.nhanxet {
  background: #F6F7F9;
  padding-bottom: 80px; }
  .nhanxet .img-slider p {
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 950px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 28px;
    font-weight: 400;
    float: right;
    position: relative;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px; }
  .nhanxet .img-slider .box-information {
    text-align: center;
    float: left; }
    .nhanxet .img-slider .box-information .slider-img {
      border-radius: 100%;
      height: 132px;
      width: 132px;
      margin: 0 auto;
      object-fit: cover; }
    .nhanxet .img-slider .box-information .slider-infor {
      margin-top: 30px; }
      .nhanxet .img-slider .box-information .slider-infor h4 {
        font-weight: 700;
        font-size: 16px;
        color: #022897;
        text-transform: uppercase; }
      .nhanxet .img-slider .box-information .slider-infor p {
        color: #404040;
        font-weight: 400;
        font-size: 16px;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden; }
  .nhanxet .img-slider .box-review h3 {
    line-height: 30px !important;
    font-weight: normal !important;
    text-align: justify; }
  .nhanxet .img-slider .box-review img {
    padding-left: 80px;
    width: initial; }
  .nhanxet .owl-dots {
    display: none; }
  .nhanxet .ss-result {
    position: relative; }
    .nhanxet .ss-result .owl-nav button:focus {
      outline: transparent; }
    .nhanxet .ss-result .owl-nav button span {
      display: none; }
    .nhanxet .ss-result .owl-prev {
      position: absolute;
      left: 18%;
      top: 100%;
      width: 50px;
      height: 50px;
      background: url(../images/arrow-left.png) no-repeat center !important;
      background-size: contain !important; }
    .nhanxet .ss-result .owl-next {
      position: absolute;
      left: 23%;
      top: 100%;
      width: 50px;
      height: 50px;
      background: url(../images/arrow-right.png) no-repeat center !important;
      background-size: contain !important; }

.ss-vision .vision .title-section {
  margin-bottom: 30px; }

.tuvan-giaiphap .content-box-right .thumnaisl-avatar a {
  padding-top: 72.2%; }

.tuvan-giaiphap .content-box-left .title-section-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(13%, 30%); }

/* doitac */
.doitac {
  padding-top: 10px; }

/* baochi */
.btn-common, .btn-head {
  font-weight: 500; }
  .btn-common svg, .btn-head svg {
    margin-left: 8px; }
    .btn-common svg path, .btn-head svg path {
      stroke: #022897; }

.baochi {
  padding-bottom: 20px; }
  .baochi .slider-service {
    position: relative; }
    .baochi .slider-service .item {
      position: relative;
      background: #FFFFFF;
      box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
      border-radius: 10px;
      margin: 30px 15px;
      padding: 0; }
      .baochi .slider-service .item .thumnaisl-avatar a {
        padding-top: 70%; }
      .baochi .slider-service .item .description-news {
        padding: 20px 17px 15px 17px;
        min-height: 218px; }
        .baochi .slider-service .item .description-news img {
          max-width: 200px;
          height: 30px;
          width: initial;
          margin: 0 auto; }
        .baochi .slider-service .item .description-news p {
          margin-top: 20px;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          margin-bottom: 20px; }
        .baochi .slider-service .item .description-news .btn-common, .baochi .slider-service .item .description-news .btn-head {
          width: fit-content;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          text-transform: none;
          background: transparent;
          color: #072c91;
          height: initial;
          padding: 0;
          float: right; }

/* why-choose-us */
.why-choose-us .thumnaisl-avatar a {
  padding-top: 76%; }

/* contact-section */
.contact-section {
  background-size: cover !important;
  height: 100%;
  padding-bottom: 40px; }
  .contact-section .img-bg-footer {
    max-width: 500px;
    margin-bottom: -105px !important;
    margin: 0 auto; }
  .contact-section .form-control {
    color: #1A202C;
    margin-bottom: 20px; }
  .contact-section .row {
    align-items: center; }
  .contact-section input {
    height: 48px;
    background: #F6F7F9;
    border: 1px solid #E5E5E5;
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 2px; }
    .contact-section input::placeholder {
      color: #90A3BF;
      margin-top: 15px;
      font-size: 14px; }
  .contact-section .form-contact {
    max-width: 390px; }
  .contact-section .button-submitform button {
    float: right;
    background: #022897;
    color: white;
    border: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    border-radius: 2px;
    padding: 15px 25px; }
    .contact-section .button-submitform button:hover {
      opacity: .9; }
  .contact-section .button-submitform img {
    margin-left: 5px;
    margin-bottom: 3px;
    height: 17px; }
  .contact-section textarea.form-control {
    border-radius: 2px;
    height: 100px;
    background: #F6F7F9;
    border: 1px solid #E5E5E5;
    padding: 15px;
    font-size: 14px; }
    .contact-section textarea.form-control::placeholder {
      color: #90A3BF;
      font-size: 14px; }
  .contact-section .content-form h2 {
    color: white;
    text-align: justify;
    margin-bottom: 20px;
    padding-right: 20px; }
  .contact-section .content-form ul li {
    display: flex;
    align-items: center;
    list-style: none;
    text-decoration: none;
    margin-bottom: 20px; }
    .contact-section .content-form ul li img {
      height: 32px; }
    .contact-section .content-form ul li span {
      margin-left: 10px;
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
      color: white; }
  .contact-section .form-contact {
    border-radius: 2px;
    background: white;
    padding: 30px; }
    .contact-section .form-contact .title-form {
      text-align: left; }
      .contact-section .form-contact .title-form h5 {
        text-transform: uppercase;
        color: #022897;
        font-weight: 700;
        font-size: 20px;
        line-height: 31px; }
      .contact-section .form-contact .title-form h6 {
        color: #3d5278;
        font-weight: normal  !important;
        margin-bottom: 30px; }
  .contact-section .box-contact {
    display: inline-block;
    width: 100%; }
    .contact-section .box-contact .avar {
      position: absolute;
      width: 60%;
      top: 40%;
      margin-left: -160px; }
    .contact-section .box-contact .form-contact {
      position: relative; }
      .contact-section .box-contact .form-contact form {
        margin-top: 30px; }
      .contact-section .box-contact .form-contact .select-selected {
        display: flex;
        align-items: center; }

.aboutus .ss-vision .title-section {
  margin-bottom: 15px;
  text-align: left; }
.aboutus .ss-vision .col-md-6 {
  text-align: center; }
  .aboutus .ss-vision .col-md-6 .img-item {
    height: 375px; }
.aboutus .video-cans {
  margin-top: 15px;
  margin-bottom: 20px; }

/* footer */
footer {
  background: #F6F7F9;
  padding: 40px 0 20px 0;
  display: inline-block;
  width: 100%; }
  footer .content-footer {
    text-align: left; }
    footer .content-footer p {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: #3D5278;
      margin-top: 20px;
      text-align: left !important; }
    footer .content-footer .banquyen {
      display: flex;
      align-items: center;
      justify-content: left;
      margin-bottom: 20px; }
      footer .content-footer .banquyen img {
        height: 32px;
        margin-right: 10px; }
        footer .content-footer .banquyen img:first-child {
          margin-top: 6px; }
    footer .content-footer .copyright {
      font-size: 13px;
      color: #3D5278;
      text-align: center;
      display: inline-block;
      width: 100%;
      margin-top: 20px; }
  footer ul li {
    list-style: none;
    margin: 10px 0; }
    footer ul li a {
      color: #3D5278;
      font-size: 14px;
      width: 100%;
      display: inline-block; }
  footer .title-footer {
    color: #3D5278;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase; }
  footer .social-footer img {
    height: 26px;
    margin-right: 10px; }
  footer .fb-page {
    width: 100%;
    overflow: hidden; }

.box-bg-add-on {
  position: relative;
  padding-bottom: 50px; }
  .box-bg-add-on .bg-line-add-on {
    text-align: center;
    margin-top: -95px; }

.box-add-on {
  position: absolute;
  top: 85px;
  left: 0;
  right: 0; }
  .box-add-on .box-cau-chuyen-tc {
    background-color: white;
    position: relative;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    max-width: 600px;
    margin: 0 auto 30px auto;
    padding-left: 30px; }
    .box-add-on .box-cau-chuyen-tc img {
      width: 115px; }
    .box-add-on .box-cau-chuyen-tc div {
      padding-right: 48px; }
    .box-add-on .box-cau-chuyen-tc h4 {
      color: #022897;
      text-transform: uppercase; }
    .box-add-on .box-cau-chuyen-tc p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden; }
  .box-add-on .label-add-on {
    width: 100px;
    position: absolute;
    right: -2px;
    top: -2px;
    margin-right: 0; }

.item-news .title-news {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; }

/*# sourceMappingURL=style.css.map */
